<div class="modal fade in on-demand-activities" id="myModal-add-task" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"
    style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <h4 class="modal-title">Add Task Details</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" [routerLink]="['/pages/case-worker/'+ id + '/' + daNumber + '/dsds-action/investigation-plan']"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 mrg-top0">
                        <div class="form_section">
                            <form [formGroup]="taskFormGroup" action="" method="get" accept-charset="utf-8" class="form-search-person no-pad">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="required">Activity</label>
                                        <div class="fm-box-form dd-overflow-inherit col-sm-8 no-pad">
                                            <ng-select #inref formControlName="activityItems" [searchable]="true" [clearable]="false" (change)="onChangeActivity(inref.selectedItems[0])">
                                                <ng-option value="">Select</ng-option>
                                                <ng-option *ngFor="let item of activityDropdownItems$ | async " [value]="item.value">{{item.text}}</ng-option>
                                            </ng-select>
                                            <control-messages [control]="getControlByIndexFn('activityItems')"></control-messages>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="required">Description</label>
                                        <input type="text" class="form-control" formControlName="description">
                                    </div>
                                    <div class="mb-3">
                                        <label>Created On</label>
                                        
                                        <mat-form-field>
                                            <mat-label>Created On</mat-label>
                                            <input matInput [matDatepicker]="picker19" autocomplete="off" class="form-control" placeholder="" formControlName="createddate" [disabled]="true" value="">
                                            <mat-datepicker-toggle matIconSuffix [for]="picker19"></mat-datepicker-toggle>
                                            <mat-datepicker #picker19></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="required">Task</label>
                                        <input type="text" class="form-control" formControlName="name">
                                    </div>
                                    <div class="mb-3">
                                        <label class="required">Type</label>
                                        <div class="fm-box-form dd-overflow-inherit col-sm-8 no-pad">
                                            <ng-select #inref formControlName="taskTypeItems" [searchable]="true" [clearable]="false" (change)="changeType(inref.selectedItems[0])">
                                                <ng-option value="">Select</ng-option>
                                                <ng-option *ngFor="let tasktype of typeDropdownItems$ | async" [value]="tasktype.value">{{tasktype.text}}</ng-option>
                                            </ng-select>
                                            <control-messages [control]="getControlByIndexFn('taskTypeItems')"></control-messages>
                                        </div>
                                    </div>
                                    <div class="mb-3" *ngIf="showSubType">
                                            <label class="required">Communication Type</label>
                                            <div class="fm-box-form dd-overflow-inherit col-sm-8 no-pad">
                                                    <ng-select formControlName="taskcommunication" [searchable]="true" [clearable]="false">
                                                        <ng-option value="">Select</ng-option>
                                                        <ng-option *ngFor="let subtasktype of taskCommunicationDropdownItems$ | async" [value]="subtasktype.value">{{subtasktype.text}}</ng-option>
                                                    </ng-select>
                                                    <control-messages></control-messages>
                                            </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="control control--checkbox full-collapse-horizontal">
                                            Required
                                            <input type="checkbox" formControlName="requiredtask">
                                            <div class="control__indicator"></div>
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <hr>
                                <div class="col-md-6  dd-overflow-inherit">
                                    <div class="mb-3">
                                        <label>Due</label>
                                        <div class="fm-box-form col-sm-8 no-pad dpnew ">
                                           
                                            <mat-form-field>
                                                <mat-label>Due</mat-label>
                                                <input matInput [matDatepicker]="picker22" autocomplete="off" class="form-control full-collapse-horizontal" placeholder="" formControlName="duedate">
                                                <mat-datepicker-toggle matIconSuffix [for]="picker22"></mat-datepicker-toggle>
                                                <mat-datepicker #picker22></mat-datepicker>
                                            </mat-form-field>
                                            <control-messages [control]="getControlByIndexFn('duedate')"></control-messages>
                                        </div>

                                        <div class="input-group">
                                            <small class="text-danger" *ngIf="taskFormGroup.hasError('notValid')">Due date should be greater than created on date</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="required">Assigned To </label>
                                        <div class="fm-box-form dd-overflow-inherit col-sm-8 no-pad">
                                            <ng-select formControlName="assignedto" [searchable]="true" [clearable]="false">
                                                <ng-option value="">Select</ng-option>
                                                <ng-option *ngFor="let users of usersProfileDropdownItems$ | async" value="{{users.value}}">{{users.text}}</ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Assigned On</label>
                                       
                                        <mat-form-field>
                                            <mat-label>Assigned On</mat-label>
                                            <input matInput [matDatepicker]="picker21" autocomplete="off" class="form-control" placeholder="" formControlName="assignedon" [disabled]="true" value="">
                                            <mat-datepicker-toggle matIconSuffix [for]="picker21"></mat-datepicker-toggle>
                                            <mat-datepicker #picker21></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-6 pad-btm-15 text-end">
                                    <button class="btn-pri" (click)="changeAssignedTo()">Reassign Task</button>
                                </div>
                                <div class="clearfix"></div>
                                <div *ngIf="taskStatusType">
                                    <div class="col-sm-12 time-date">
                                        <div class="col-md-2 time-date">
                                            <div class="pad-left15 mb-3">
                                                <label class="full-collapse-horizontal">Start Time</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 time-date">
                                            <div class="mb-3 dd-overflow-inherit">
                                                <div class="fm-box-form no-pad dpnew">
                                                    
                                                    <mat-form-field>
                                                        <mat-label>Start Time</mat-label>
                                                        <input matInput [matDatepicker]="picker20" autocomplete="off" value="|date :'MM/dd/yyyy'" class="form-control" placeholder="" formControlName="startdate">
                                                        <mat-datepicker-toggle matIconSuffix [for]="picker20"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker20></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <input type="text" class="form-control full-collapse-horizontal" value="|date : 'hh:mm'" formControlName="starttime" placeholder="Time">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <ng-select name="" [searchable]="true" [clearable]="false" formControlName="starttimeformat">
                                                    <ng-option value="">Select</ng-option>
                                                    <ng-option value="AM">AM</ng-option>
                                                    <ng-option value="PM">PM</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 time-date">
                                        <div class="col-md-2 time-date">
                                            <div class="pad-left15 mb-3">
                                                <label class="full-collapse-horizontal">End Time</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 time-date ">
                                            <div class="mb-3 dd-overflow-inherit">
                                                <div class="fm-box-form no-pad dpnew">
                                                    
                                                    <mat-form-field>
                                                        <mat-label>End Time</mat-label>
                                                        <input matInput [matDatepicker]="picker18" autocomplete="off" class="form-control" placeholder="" formControlName="enddate">
                                                        <mat-datepicker-toggle matIconSuffix [for]="picker18"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker18></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <input type="text" class="form-control full-collapse-horizontal" value="|date : 'hh:mm'" formControlName="endtime" placeholder="Time">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <ng-select name="" [searchable]="true" [clearable]="false" formControlName="endtimeformat">
                                                    <ng-option value="">Select</ng-option>
                                                    <ng-option value="AM">AM</ng-option>
                                                    <ng-option value="PM">PM</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Location</label>
                                        <input type="text" class="form-control" value="">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="control control--checkbox full-collapse-horizontal">
                                            Out of Office
                                            <input type="checkbox" formControlName="outofoffice">
                                            <div class="control__indicator"></div>
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <hr>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="required">Status</label>
                                        <div class="fm-box-form dd-overflow-inherit col-sm-8 no-pad">
                                            <ng-select formControlName="statustask" (change)="changeTaskStatusType()" [searchable]="true" [clearable]="false">
                                                <ng-option value="">Select</ng-option>
                                                <ng-option *ngFor="let tasktypestatus of taskTypeStatusDropdownItems$ | async" [value]="tasktypestatus.value">{{tasktypestatus.text}}</ng-option>
                                            </ng-select>
                                            <control-messages [control]="getControlByIndexFn('statustask')"></control-messages>
                                        </div>
                                    </div>
                                    <div class="mb-3 dd-overflow-inherit">
                                        <label>Completed</label>
                                        <div class="fm-box-form col-sm-8 no-pad dpnew ">
                                            
                                            <mat-form-field>
                                                <mat-label>Completed</mat-label>
                                                <input matInput [matDatepicker]="picker17" autocomplete="off" class="form-control full-collapse-horizontal" maxDate placeholder="" formControlName="completeddate">
                                                <mat-datepicker-toggle matIconSuffix [for]="picker17"></mat-datepicker-toggle>
                                                <mat-datepicker #picker17></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="input-group">
                                            <small class="text-danger" *ngIf="taskFormGroup.hasError('notValidCompletedDate')">Completed date should be greater than assigned on date</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="required">Disposition</label>
                                        <div class="fm-box-form dd-overflow-inherit col-sm-8 no-pad">
                                            <ng-select formControlName="taskdisposition" [searchable]="true" [clearable]="false">
                                                <ng-option value="">Select</ng-option>
                                                <ng-option *ngFor="let disposition of dispositionDropdownItems$ | async" [value]="disposition.value">{{disposition.text}}</ng-option>
                                            </ng-select>
                                            <control-messages [control]="getControlByIndexFn('taskdisposition')"></control-messages>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="col-sm-12 mrg-top25">
                        <div class="pull-right">
                            <button type="button" value="Cancel" class="btn-bg" name="" [routerLink]="['/pages/case-worker/'+ id + '/' + daNumber + '/dsds-action/investigation-plan']">Cancel</button>
                            <button type="button" value="Save" class="btn-pri" name="" (click)="saveTask()" [disabled]="taskFormGroup.pristine || taskFormGroup.invalid"
                                [routerLink]="['/pages/case-worker/'+ id + '/' + daNumber + '/dsds-action/investigation-plan']">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop fade in"></div>