.table tr td {
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    text-align: left !important;
}
.table-striped>tbody>tr:nth-of-type(odd).my-class, .my-class {
    background-color:#8b8d92;
}

.table th tr {
    border-bottom: 1px solid #D8D8D8;
    text-align: center !important;
}
// .table-responsive {
// 	overflow-x: auto;
//     overflow-y: auto;
//     max-height: 500px;
// }
.centertext{
    text-align: center !important;
}

.table-split>tbody>tr>th,
.table-split>tbody>tr>td {
    width: 50%;
}

.modal-dialog,
.modal-content {
    width: 1000px;
    height: 600px;
}

.modal-body {
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}