<div id="audit-logs-table">
    <table class="table table-striped table-responsive" sortable-table aria-describedby="tbl-audit-dtls">
        <thead>
            <tr style="background-color: rgb(134, 158, 201) !important;">
                <th id="">Updated On</th>
                <th id="">Updated By</th>
                <th id="">Current Info</th>
                <th id="">Previous Info</th>
                <th id="">Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let audit of formatAuditlog">
                <tr *ngIf="audit?.modifieddata && audit?.modifieddata?.length">
                <td>{{audit.updatedon}}</td>
                    <td>{{audit.updatedby}}</td>
                    <td>                        
                        <p *ngIf="audit?.modifieddata[0]">{{audit?.modifieddata[0]?.display_name}}:{{audit?.modifieddata[0]?.new_value}}</p>
                        <p *ngIf="audit?.modifieddata[1]">{{audit?.modifieddata[1]?.display_name}}:{{audit?.modifieddata[1]?.new_value}}</p>
                    </td>
                    <td>                        
                        <p *ngIf="audit?.modifieddata[0]?.old_value">{{audit?.modifieddata[0]?.display_name}}: {{audit?.modifieddata[0]?.old_value}}</p>
                        <p *ngIf="audit?.modifieddata[1]?.old_value">{{audit?.modifieddata[1]?.display_name}}: {{audit?.modifieddata[1]?.old_value}}</p>
                    </td>
                    <td>
                    <a (click)="auditlogTrailOpen(audit)"><i class="fa fa-eye m-r-5"
                        aria-hidden="true"></i></a>
                    </td>
                </tr>
            </ng-container>
            <tr *ngIf="totalRecords === 0">
                <td colspan="7">No data found.</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="totalRecords !== 0" class="col-sm-12 text-center mt-10">
        <pagination [(ngModel)]="currentPage" (pageChanged)="pageChanged($event.page)" class="pagination-sm"
            [boundaryLinks]="true" [maxSize]="10" [totalItems]="totalRecords">
        </pagination>
    </div>
</div>


<div class="modal fade" id="audittrail-expand" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4 style="text-align: left;">Audit Log History</h4>
            <button type="button" class="btn-close close pull-right" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
            <div class="row">                                        
                <div class="table-responsive text-center">
                  <table class="table table-striped table-split"><caption></caption>
                    <thead>
                        <tr style="background-color: rgb(134, 158, 201);">
                            <th id="">Current Info</th>
                            <th id="">Previous Info</th>
                        </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let audit of auditlogTrailExpand">
                          <tr>
                              <td *ngIf="audit?.new_value && audit.key!='agetype' && audit.key!='vaccinename'">
                                <p >{{audit?.display_name}}:</p>
                                <p >{{audit?.new_value}}</p>
                              </td>
                              <td *ngIf="audit?.new_value && audit.key!='agetype' && audit.key!='vaccinename'">
                                <p *ngIf="audit?.old_value">{{audit?.display_name}}:</p>
                                <p *ngIf="audit?.old_value">{{audit?.old_value}}</p>
                              </td>
                          </tr>
                      </ng-container>
                  </tbody>
                </table>
                </div>
            </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
