<div class="modal fade in" id="edit-attachment" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
  <div class="modal-dialog modal-lg custom-wid" role="document">
    <div class="modal-content Persons-Involved" [formGroup]="fileUpdate">
      <div class="modal-header">
        <h4 class="modal-title">{{ isEditable ? 'Edit Attachment' : 'View Attachment' }}</h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-md-12">
            <div class="uploaded-files">
              <div class="">
                <div class="uploaded-form no-bg">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-3 required">
                          <label>Attachment Type</label>
                          <div class="select-icon">
                            <select name="" [class]="fileUpdate.value.attachmentTypeKey === '' ? 'form-control error-brd' : 'form-control'" formControlName="attachmentTypeKey">
                              <option value="">Attachment Type</option>
                              <option *ngFor="let attachment of attachmentTypeDropdown$ | async" [value]="attachment.value">{{attachment.text}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-6"> 
                          <label>Document Title</label>
                          <div class="select-icon" style="height: 34px">
                            <span class="dbl-click-info" title="Please double-click the mouse to see the dropdown values">
                              <em class="fa fa-info-circle"></em>
                            </span>
                            <span [matMenuTriggerFor]="parentMenu" #inputMenuTrigger="matMenuTrigger" (dblclick)="oPenParentMenuOnDoubleClick()">
                            
                              <input type="text"  style="width: 100%;height: 100%;" #inputElement
                              placeholder="Title" (input) = "triggerParentMenu(inputElement.value)"
                              (click)="$event.stopPropagation()" [value] = "seletedVal">
                            </span>
                          
                            <mat-menu #parentMenu="matMenu">
                              <button mat-menu-item *ngFor="let attachment of current_attachmentDropDownList_parent"
                                (mouseenter)="openChildMenu(attachment.value_text,attachment.ref_key)"
                                [matMenuTriggerFor]="childMenu">{{attachment.value_text}}</button>
                            </mat-menu>
                            <mat-menu #childMenu="matMenu">
                              <button mat-menu-item *ngFor="let item of childArray"
                              (click)="selectChildMenu(item.value_text,true)"  [matTooltip]="item.value_text">{{item.value_text}}</button>
                            </mat-menu>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <textarea name="" class="form-control" rows="7" formControlName="description" spellcheck="True" placeholder="Description"></textarea>
                          <small *ngIf="fileUpdate.value.description.length >= 150" class="text-danger">You have reached a maximum of 150 chraracters</small>
                        </div>
                        <div class="col-sm-6 required" *ngIf="enablOtherTxt">
                          <textarea class="form-control" rows="7" formControlName="other" spellcheck="True" placeholder="Other"></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3"> 
                          <common-date-picker [max] = "maxDocumentDate" [required]="true" formControlName="actualdocumentdate" placeholder="Document Date">
                          </common-date-picker>
                        </div>
                        <div class="col-sm-5">
                          <h6 class="upldr-name">Uploaded Date
                            <span>{{attachmentDetail && attachmentDetail.insertedon ? (attachmentDetail.insertedon | date: 'MM/dd/yyyy H:mm:ss') : ''}}</span>
                          </h6>
                          <h6 class="upldr-name">Uploaded By
                            <span>{{getUploadedByData(attachmentDetail)}}</span>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
              <div class="uploaded-files">
                  <div class="col-sm-12">
                       <h4 class="file-name">File Name:
                          <span>{{attachmentDetail && attachmentDetail.originalfilename ? attachmentDetail.originalfilename : 'N/A'}}</span>
                       </h4>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div *ngIf="isEditable" class="modal-footer wizard-buttons">
        <button  class="btn-pri" [disabled]="fileUpdate.invalid || (fileUpdate.value.other === '' && enablOtherTxt)" (click)="saveAttachmentDetails()">UPDATE</button>
      </div>
    </div>
  </div>
</div>