.ad-plan-title {
    display: inline;
    margin-right: 40px;
}
.ad-plan-lbl,
.ad-plan-value {
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #24292e;
}

.ad-plan-lbl {
    font-weight: 600;
}

.progress-nav {
    widows: 100%;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: auto;
        height: 46px;
        background-color: #e0e8f8;

        li {
            width: 231px;
            height: 34px;
            position: relative;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;

            a {
                display: block;
                color: #24292e;
                text-align: center;
                text-decoration: none;
                vertical-align: middle;
                padding: 7px 0;
            }

            a.disabled{
                pointer-events: none;
            }
        }
    }
}

.progress-nav li.active {
    background: #93bbcd;
    z-index: 1;
}

.progress-nav li:after {
    position: absolute;
    content: "";
    right: -37px;
    border: 18px solid transparent;
    border-left: 18px solid #e0e8f8;
    top: 0;
    z-index: 2;
}

.progress-nav li a:after {
    position: absolute;
    content: "";
    right: -39px;
    border: 18px solid transparent;
    border-left: 18px solid #fff;
    top: 0;
    z-index: 2;
}

.progress-nav li:last-child a:after {
    display: none;
}

.progress-nav li.active:after {
    position: absolute;
    content: "";
    right: -38px;
    border: 19px solid transparent;
    border-left: 19px solid #93bbcd;
    top: -1px;
}

.progress-nav li.visited:after {
    position: absolute;
    content: "";
    right: -41px;
    border: 22px solid transparent;
    border-left: 22px solid #039be5;
    top: -4px;
    z-index: 2;
}

.progress-nav li.visited a span {
    color: #ffffff;
}

.progress-nav li.visited {
    background: #039be5;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .progress-nav ul li {
        width: 180px;
        font-size: 11px;
    }
}
