<div class="col-md-12">
	<div class="panel panel-default">
		<mat-expansion-panel [expanded]="true">
			<mat-expansion-panel-header>
				Foster Care to Adult Guardianship Checklist
			</mat-expansion-panel-header>
			<ng-container [formGroup]="fosterGaurdFormGroup">
				<div class="row">
					<div class="col-sm-9 m-t-20">
						<label class="required">Will the transitioning youth need a guardian past their 18th
							birthday?</label> &nbsp; &nbsp;
						<mat-radio-group formControlName="isTransitionpast18th">
							<mat-radio-button value="1">Yes</mat-radio-button>
							<mat-radio-button value="0">No</mat-radio-button>
						</mat-radio-group>
					</div>
				</div>
				<div class="row" *ngIf="returnFieldValues('isTransitionpast18th') === '1'">
					<div class="q1">
						<div class="col-sm-12 m-t-20 label-with-help text-center-cls">
							<label [ngClass]="{ 'required': isRequired('restictiveAlternative') }">1. Conduct an
								internal meeting with legal to determine if there are less
								restrictive alternatives, potential guardians, and proper filing jurisdiction</label>
								<button mat-icon-button matSuffix type="button" aria-label="q1"
									matTooltip="Must be completed 6 months prior to 18th Birthday." matTooltipPosition="above">
									<i class="fa fa-info-circle" aria-hidden="true"></i>
								</button>
						</div>
						<div class="col-sm-4">
							<mat-form-field>
								<input formControlName="restictiveAlternative" matInput autocomplete="off"
									[matDatepicker]="picker1" placeholder="Date"
									[max]="getDateAroundBirthdayMoment(18, -6)">
								<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
								<mat-datepicker #picker1></mat-datepicker>
							</mat-form-field>
							<mat-error *ngIf="validateMandatoryFields('restictiveAlternative')">
								Please fill the enrollment date field.
							</mat-error>
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 input-field-wrapper">
						<mat-checkbox formControlName="willRemaintill21" (change)="checkValidators()">Youth will remain
							in Child welfare foster care until the age of 21.</mat-checkbox>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 input-field-wrapper"
						*ngIf="compareDates(currentDate,getDateAroundBirthdayMoment(21, -3))">
						<mat-checkbox formControlName="needTransition" (change)="checkValidators()"> Youth does not need to transition to the Adult Public Guardianship program.</mat-checkbox>
					</div>
					<div class="q2">
						<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 m-t-10">
							<div class="label-with-help">
								<label [ngClass]="{ 'required': isRequired('ddaServices') }">2. Developmental Disabilities Administration (DDA) Services Application Status?
								</label>
								<span matTooltip="Open DDA Eligibility Application Process" matTooltipPosition="above">
									<app-ytp-help-popover [linkText]="'DDA Eligibility Application Process'"
										[linkPath]="'https://health.maryland.gov/dda/Pages/DDA_Eligibility_Application_Process.aspx'"
										[shouldNavigate]="true" [newTab]="true" [saveMethod]="saveMethod">
									</app-ytp-help-popover>
								</span>
							</div>
							<div>
								<mat-radio-group formControlName="ddaServices" (change)="onChangeDdaService()">
									<mat-radio-button value="completed">Application Completed.</mat-radio-button>
									<mat-radio-button value="started">Application Started.</mat-radio-button>
									<mat-radio-button value="not started">Application not Started.</mat-radio-button>
									<mat-radio-button value="not applicable">Not applicable for youth.
									</mat-radio-button>
								</mat-radio-group>
							</div>
							<mat-error *ngIf="validateMandatoryFieldsIfRequired('ddaServices')">
								Please fill this field.
							</mat-error>
						</div>
						<div *ngIf="returnFieldValues('ddaServices') === 'completed'">
							<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 m-t-10">
								<div class="label-with-help">
									<label>Is the youth eligible for Developmental Disabilities Administration (DDA)
										Services?</label>
								</div>
								<div>
									<mat-radio-group formControlName="isDdaServices" (change)="onChangeIsDdaService()">
										<mat-radio-button value="eligible">Eligible.</mat-radio-button>
										<mat-radio-button value="not eligible">Not Eligible.</mat-radio-button>
									</mat-radio-group>
								</div>
								<div class="row col-sm-4 m-t-10"
									*ngIf="returnFieldValues('isDdaServices') === 'eligible'">
									<mat-form-field>
										<mat-label>Enrollment date</mat-label>
										<input formControlName="enrollmentDate" matInput autocomplete="off"
											[matDatepicker]="picker3" id="e-enrollment-date">
										<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
										<mat-datepicker #picker3></mat-datepicker>
									</mat-form-field>
									<mat-error *ngIf="validateMandatoryFields('enrollmentDate')">
										Please fill the enrollment date field.
									</mat-error>
								</div>
								<div class="m-t-10" *ngIf="returnFieldValues('isDdaServices') === 'not eligible'">
									<mat-form-field>
										<mat-label [ngClass]="{ 'required': isRequired('narrative') }">Narrative</mat-label>
										<textarea formControlName="narrative" id="ne-narrative" matInput></textarea>
									</mat-form-field>
									<mat-error *ngIf="validateMandatoryFields('narrative')">
										Please fill the narrative field.
									</mat-error>
								</div>
							</div>
						</div>
						<div *ngIf="returnFieldValues('ddaServices') === 'not applicable'">
							<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 m-t-10">
								<mat-form-field>
									<mat-label
										[ngClass]="{ 'required': returnFieldValues('ddaServices') === 'not applicable'}">
										Comments</mat-label>
									<textarea formControlName="comments" id="na-comments" matInput></textarea>
								</mat-form-field>
								<mat-error *ngIf="validateMandatoryFields('comments')">
									Please fill the comments field.
								</mat-error>
							</div>
						</div>
					</div>
					<div class="q3">
						<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 m-t-10">
							<div class="label-with-help">
								<label [ngClass]="{ 'required': isRequired('ssi') }">3. Is the youth in receipt of Social Security Income (SSI)? </label>
								<span matTooltip="Open Social Security Income" matTooltipPosition="above">
									<app-ytp-help-popover [linkText]="'Social Security Income'"
										[linkPath]="'https://www.ssa.gov/ssi?gad_source=1&gclid=Cj0KCQjwmt24BhDPARIsAJFYKk30_ZdXwxjBVzI92CUXh94HZ0OB3rQhO8l5Zq6JdxzpPW8dsSvtr74aAmdWEALw_wcB'"
										[shouldNavigate]="true" [newTab]="true" [saveMethod]="saveMethod">
									</app-ytp-help-popover>
								</span>
							</div>
							<div>
								<mat-radio-group formControlName="ssi" (change)="onChangeSsi()">
									<mat-radio-button value="eligible">Eligible.</mat-radio-button>
									<mat-radio-button value="not eligible">Not Eligible.</mat-radio-button>
									<mat-radio-button value="not apply">Did Not Apply.</mat-radio-button>
								</mat-radio-group>
							</div>
							<mat-error *ngIf="validateMandatoryFieldsIfRequired('ssi')">
								Please fill this field.
							</mat-error>
							<div *ngIf="returnFieldValues('ssi') === 'eligible'" class="m-t-10">
								<p class="note">This information needs to be revisited 6 months prior to the youth’s
									18th Birthday.</p>
								<div class="col-sm-4">
									<mat-form-field>
										<mat-label>Enrollment Date</mat-label>
										<input formControlName="ssienrollmentDate" matInput autocomplete="off"
											[matDatepicker]="picker4" placeholder="ssi-enrollment-date"
											[max]="getDateAroundBirthdayMoment(18, -6)">
										<mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
										<mat-datepicker #picker4></mat-datepicker>
									</mat-form-field>
								</div>
							</div>
							<div *ngIf="ssiStatus" class="m-t-10">
								<mat-form-field>
									<mat-label [ngClass]="{ 'required': isRequired('ssinarrative') }">Narrative</mat-label>
									<textarea formControlName="ssinarrative" id="ssi-narrative" matInput></textarea>
								</mat-form-field>
								<mat-error *ngIf="validateMandatoryFields('ssinarrative')">
									Please fill the narrative field.
								</mat-error>
							</div>
						</div>
					</div>
					<div class="q4">
						<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 m-t-10">
							<div class="label-with-help">
								<label [ngClass]="{ 'required': isRequired('ableAcc') }">4. Does the youth have a Trust or Achieving a Better Life Experience (ABLE)
									account?</label>
							</div>
							<div>
								<mat-radio-group formControlName="ableAcc" (change)="onChangeAbleAcc()">
									<mat-radio-button value="1">Yes.</mat-radio-button>
									<mat-radio-button value="0">No.</mat-radio-button>
								</mat-radio-group>
							</div>
							<mat-error *ngIf="validateMandatoryFieldsIfRequired('ableAcc')">
								Please fill this field.
							</mat-error>
							<div *ngIf="returnFieldValues('ableAcc') === '1'">
								<div class="col-4">
									<mat-form-field class="full-width">
										<mat-label>Established Date</mat-label>
										<input formControlName="ableAccEstablishDate" matInput autocomplete="off"
											[matDatepicker]="picker2" id="ins-established-date">
										<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
										<mat-datepicker #picker2></mat-datepicker>
									</mat-form-field>
								</div>
								<div class="col-12">
									<mat-form-field class="full-width">
										<mat-label>Institution - Narrative</mat-label>
										<textarea formControlName="ableAccNarrative" id="ins-narrative"
											matInput></textarea>
									</mat-form-field>
								</div>
							</div>
							<div *ngIf="returnFieldValues('ableAcc') === '0'" class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 m-t-10">
									<div>
										<label
											[ngClass]="{ 'required': compareDates(this.currentDate, this.getDateAroundBirthdayMoment(18, -6)) }">Does
											 the youth need a TRUST or Achieving a Better Life Experience (ABLE) account to be established to protect
											  benefits eligibility?</label>
											<button mat-icon-button matSuffix type="button" aria-label="ableEligibility"
												matTooltip="Must be completed 6 months prior to 18th Birthday"
												matTooltipPosition="above">
												<i class="fa fa-info-circle" aria-hidden="true"></i>
											</button>
									</div>
									<div>
										<mat-radio-group formControlName="ableEligibility">
											<mat-radio-button value="1">Yes.</mat-radio-button>
											<mat-radio-button value="0">No.</mat-radio-button>
											<mat-radio-button value="2">Not Eligible.</mat-radio-button>
										</mat-radio-group>
										<mat-error *ngIf="validateMandatoryFields('ableEligibility')">
											Please Select value for Eligibility.
										</mat-error>
									</div>
									<div class="m-t-10" *ngIf="returnFieldValues('ableEligibility') === '1'">
										<div class="align-check">
											<div class="d-flex">
												<mat-checkbox formControlName="trustChecked">Trust.</mat-checkbox>
												<div class="w-100" *ngIf="returnFieldValues('trustChecked')">
													<mat-form-field>
														<textarea formControlName="trustAccEligNarrative"
															placeholder="Institution where it is to be held - Narrative box" matInput></textarea>
													</mat-form-field>
												</div>
											</div>
											<div class="d-flex">
												<mat-checkbox formControlName="ableChecked">ABLE.</mat-checkbox>
												<div class="w-100" *ngIf=" returnFieldValues('ableChecked')">
													<mat-form-field>
														<textarea formControlName="ableAccEligNarrative"
															placeholder="Institution where it is to be held - Narrative box" matInput></textarea>
													</mat-form-field>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="q5">
						<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 m-t-10">
							<label [ngClass]="{ 'required': isRequired('ddaReceivingJurisdiction') }">5. Meet with the
								receiving jurisdiction guardianship supervisor and DDA case manager
								(if applicable) to discuss services and placement</label>
								<button mat-icon-button matSuffix type="button" aria-label="q5"
									matTooltip="Must be completed 6 months prior to planned transition to adult services, no later than 6 months prior to 21st birthday" matTooltipPosition="above">
									<i class="fa fa-info-circle" aria-hidden="true"></i>
								</button>
							<div class="row">
								<div class="col-sm-4">
									<mat-form-field>
										<mat-label>Enrollment date</mat-label>
										<input formControlName="ddaReceivingJurisdiction" matInput autocomplete="off"
											[matDatepicker]="picker5" id="dda-receiving-enr-date"
											[max]="getDateAroundBirthdayMoment(21, -6)">
										<mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
										<mat-datepicker #picker5></mat-datepicker>
									</mat-form-field>
									<mat-error *ngIf="validateMandatoryFields('ddaReceivingJurisdiction')">
										Please fill the enrollment date field.
									</mat-error>
								</div>
								<div class="col-sm-4 input-field-wrapper">
									<mat-checkbox formControlName="isDdaReceiving" (change)="checkValidators()">Not
										Applicable.</mat-checkbox>
								</div>
							</div>
							<div *ngIf="returnFieldValues('isDdaReceiving')">
								<mat-form-field>
									<mat-label>Comments</mat-label>
									<textarea formControlName="ddaJurisdicationComments" id="dda-receiving-comments"
										matInput></textarea>
								</mat-form-field>
								<mat-error *ngIf="validateMandatoryFields('ddaJurisdicationComments')">
									Please fill the comments field.
								</mat-error>
							</div>
						</div>
					</div>
					<div class="q6">
						<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="">
								<label [ngClass]="{ 'required': compareDates(currentDate, getDateAroundBirthdayMoment(21, -6)) || isRequired('typeOfPlacement') }">6.
									Determine where youth will be living as an adult</label>
									<button mat-icon-button matSuffix type="button" aria-label="q6"
										matTooltip="Must be completed 6 months prior to 18th Birthday" matTooltipPosition="above">
										<i class="fa fa-info-circle" aria-hidden="true"></i>
									</button>
							</div>
							<div>
								<mat-form-field>
									<mat-label>Type of Placement</mat-label>
									<mat-select name='typeofPlacement' formControlName="typeOfPlacement"
										(selectionChange)="checkValidators()">
										<mat-option value=""></mat-option>
										<mat-option *ngFor='let list of dropdown' [value]='list.key'>
											{{ list.text }}
										</mat-option>
									</mat-select>
									<mat-error *ngIf="validateMandatoryFields('typeOfPlacement')">
										Please select placement type.
									</mat-error>
								</mat-form-field>
							</div>
							<div *ngIf="returnFieldValues('typeOfPlacement') === '11'">
								<mat-form-field>
									<mat-label [ngClass]="{ 'required': isRequired('oasNarrative') }">Narrative</mat-label>
									<textarea formControlName="oasNarrative" matInput></textarea>
								</mat-form-field>
								<mat-error
									*ngIf="validateMandatoryFields('oasNarrative') && returnFieldValues('typeOfPlacement') === '11'">
									Please fill the narrative field.
								</mat-error>
							</div>
							<div class="m-t-10">
								<mat-form-field>
									<mat-label>Name of Placement</mat-label>
									<input type="text" matInput formControlName="placementName" id="name-of-lacement" />
								</mat-form-field>
								<div class="row">
									<smarty-street-address [address]="address"
										[requiredForApproval]="isSaveTriggered && mandatoryField && !fosterGaurdFormGroup.get('isAddressTbd')?.value">
									</smarty-street-address>
								</div>
							</div>

							<div class="row col-sm-12 col-md-12 col-lg-12 col-xl-12 input-field-wrapper">
								<mat-checkbox formControlName="isAddressTbd" (change)="checkValidators()">TBD.
								</mat-checkbox>
							</div>

						</div>
					</div>
					<div class="q7">
						<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div>
								<label [ngClass]="{ 'required': isRequired('willGuardianProvideCare') }">7. Does the
									youth have a guardian that is willing to provide care and support of the
									youth when the youth ages out of the child welfare system?</label>
									<button mat-icon-button matSuffix type="button" aria-label="ableEligibility" style="float: right; margin-top: -27px;"
										matTooltip="For collaterals to display the Caretaker-Caregiver role must be selected." matTooltipPosition="above">
										<i class="fa fa-info-circle" aria-hidden="true"></i>
									</button>
							</div>
							<div>
								<mat-radio-group formControlName="willGuardianProvideCare"
									(change)="onChangeWillGuardianProvideCare()">
									<mat-radio-button value="1">Yes.</mat-radio-button>
									<mat-radio-button value="0">No.</mat-radio-button>
								</mat-radio-group>
								<mat-error *ngIf="validateMandatoryFieldsIfRequired('willGuardianProvideCare')">
									Please fill this field.
								</mat-error>
							</div>
							<div *ngIf="returnFieldValues('willGuardianProvideCare') === '1'" class="col-sm-6 m-t-10">
								<mat-form-field>
									<mat-label [ngClass]="{ 'required': isRequired('personid') }">Select the Guardian</mat-label>
									<mat-select formControlName="personid" (selectionChange)="selectedPerson($event)"
										class="aut-lst-addNotesInvolvedPerson">
										<mat-select-trigger>
											{{personNameDescription ? personNameDescription : ''}}
										</mat-select-trigger>
										<mat-option class="mat-option-role" *ngFor="let item of personList"
											[value]="item.personid">{{item.fullname}}
											<div class="personinvolve-role">
												<ng-container *ngIf="item.cjamspid">PID#:<span> {{item.cjamspid}}</span></ng-container>
												<ng-container *ngIf="item.dob"><span *ngIf="item.cjamspid"> , </span>DOB:<span>{{item.dob | date:'MM/dd/yyyy'}}</span></ng-container>
												<ng-container *ngIf="item?.roles?.length"><span *ngIf="item.dob">,</span> Role:<span class="role-description"
														*ngFor="let personRole of item?.roles; let e = index">
														{{getPersonRoleDescription(personRole)}}
														<span *ngIf="showComma(item?.roles, e)">,</span>
													</span></ng-container>
											</div>

										</mat-option>
									</mat-select>
									<mat-error *ngIf="validateMandatoryFields('personid')">
										Please select guardian.
									</mat-error>
								</mat-form-field>
							</div>
							<div>
								<div
									*ngIf="returnFieldValues('willGuardianProvideCare') === '0'"
									class="m-t-10"
									>
								<div class="alert alert-warning">
									<i class="fa fa-exclamation-triangle m-r-5" aria-hidden="true"></i>
									<strong>Send adult guardianship petition information to DSS attorney</strong>
									<div>Must be completed 6 months prior to planned transition to adult services (no later than 6 months prior to 21st birthday)</div>
								</div>

								<div class="row">
									<div class="col-sm-4">
									<mat-form-field>
										<mat-label>Petition Sent to DSS Attorney on</mat-label>
										<input
										formControlName="petitionSentToDssAttorneyOn"
										matInput
										autocomplete="off"
										[matDatepicker]="pickerPetition7"
										placeholder="Date"
										[max]="getDateAroundBirthdayMoment(21, -6)"
										/>
										<mat-datepicker-toggle matSuffix [for]="pickerPetition7"></mat-datepicker-toggle>
										<mat-datepicker #pickerPetition7></mat-datepicker>
									</mat-form-field>
									<mat-error *ngIf="validateMandatoryFields('petitionSentToDssAttorneyOn')">
										Please fill the date field.
									</mat-error>
									</div>

									<div class="col-sm-4 input-field-wrapper">
									<mat-checkbox formControlName="petitionSkip">
										Skip
									</mat-checkbox>
									</div>
								</div>

								<div *ngIf="returnFieldValues('petitionSkip')">
									<mat-form-field class="full-width">
									<mat-label [ngClass]="{ 'required': isRequired('petitionSkipComment') }">Comment</mat-label>
									<textarea formControlName="petitionSkipComment" matInput></textarea>
									</mat-form-field>
									<mat-error *ngIf="validateMandatoryFields('petitionSkipComment')">
									Please fill the comment field.
									</mat-error>
								</div>
						</div>

							</div>
						</div>
					</div>
					<div class="q8">
						<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div>
								<label [ngClass]="{ 'required': isRequired('petitionFillingDate') }">8. Check with DSS
									attorney to make sure adult guardianship petition has been filed</label>
								<button mat-icon-button matSuffix type="button" aria-label="q8" matTooltip="Must be completed 3 months prior to planned transition to adult services (no later
																		than 3 months prior to 21st birthday)" matTooltipPosition="above">
									<i class="fa fa-info-circle" aria-hidden="true"></i>
								</button>
							</div>
							<div class="col-sm-4">
								<mat-form-field>
									<input formControlName="petitionFillingDate" matInput autocomplete="off"
										[matDatepicker]="picker6" placeholder="Filling Date"
										[max]="getDateAroundBirthdayMoment(21, -3)">
									<mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
									<mat-datepicker #picker6></mat-datepicker>
								</mat-form-field>
								<mat-error *ngIf="validateMandatoryFields('petitionFillingDate')">
									Please fill the date field.
								</mat-error>
							</div>
						</div>
					</div>
					<div class="q9">
						<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="">
								<label [ngClass]="{ 'required': isRequired('transistionMeeting') }">9. Conduct
									transition meeting with adult guardianship caseworker</label>
								<button mat-icon-button matSuffix type="button" aria-label="q9" matTooltip="Must be completed
								after the petition is filed, but before the adult guardianship hearing" matTooltipPosition="above">
									<i class="fa fa-info-circle" aria-hidden="true"></i>
								</button>
							</div>
							<div class="col-sm-4">
								<mat-form-field>
									<input formControlName="transistionMeeting" matInput autocomplete="off"
										[matDatepicker]="picker7"
										placeholder="Transistion Meeting Date With Caseworker">
									<mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
									<mat-datepicker #picker7></mat-datepicker>
								</mat-form-field>
								<mat-error *ngIf="validateMandatoryFields('transistionMeeting')">
									Please fill the transition meeting date field.
								</mat-error>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-20">
					<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div *ngIf='!isSupervisor' class="pull-right">
							<button type="button" value="Clear" class="btn-bg" name="" (click)="clear()">Clear</button>
							<button *securityKeyNew = "'services,services.youthtransitionplan.save'"
								[fieldKeyNew]="'services,services.youthtransitionplan.save'" type="button" value="Save"
								class=" btn-pri" name="" (click)="save()">Save</button>
						</div>
					</div>
				</div>
			</ng-container>
		</mat-expansion-panel>
	</div>
</div>