.note {
    font-size: 12px; 
    font-style: italic; 
    margin-top: 10px;
}

.personinvolve-role {
    height: 12px;
    font-size: 12px;
    line-height: 20px;
}
.role-description{
    margin-left: 5px;
    font-size: 12px;
}

.full-width {
    width: 100%;
  }

::ng-deep .mat-select-panel .mat-optgroup-label, ::ng-deep .mat-select-panel .mat-option {
    height: 4.1em !important;
  }

  .label-with-help {
    display: flex;
    gap: 8px;
}

.text-center-cls {
    align-items: center !important;
}
.align-check{
    display: flex;
    flex-direction: column;
}
.d-flex {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
}
.w-100{
    width: 100%;
}