<div class="modal fade in" id="upload-scan-attachment" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
  style="display: block;">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Scan Attachment</h4>
            <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"  [routerLink]="['/pages/case-worker/' + id + '/' + daNumber + '/dsds-action/attachment']"></button>
      </div>
      <div class="modal-body bg-grey-fill">
        <div class="row">
          <div class="col-md-12">
            <div class="wizard">
                <form role="form">
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="step1">
                        <div class="clearfix"></div>
                        <div class = "col-sm-offset-2 col-sm-8 dynamoContainer">
                            <div class="col-sm-3">
                                <ul class="operateGrp">
                                    <li>
                                        <img src="./assets/images/dwt/scanner/RotateLeft.png" title="Rotate Left" alt="Rotate Left" (click)="btnRotateLeft_onclick()">
                                    </li>
                                    <li>
                                        <img src="./assets/images/dwt/scanner/RotateRight.png" title="Rotate Right" alt="Rotate Right" (click)="btnRotateRight_onclick()">
                                    </li>
                                    <li>
                                        <img src="./assets/images/dwt/scanner/Rotate180.png" alt="Rotate 180" title="Rotate 180" (click)="btnRotate180_onclick()">
                                    </li>
                                    <li>
                                        <img src="./assets/images/dwt/scanner/Mirror.png" title="Mirror" alt="Mirror" (click)="btnMirror_onclick()">
                                    </li>
                                    <li>
                                        <img src="./assets/images/dwt/scanner/Flip.png" title="Flip" alt="Flip" (click)="btnFlip_onclick()">
                                    </li>
                                    <li>
                                        <img src="./assets/images/dwt/scanner/RemoveSelectedImages.png" title="Remove Selected Images" alt="Remove Selected Images"
                                            id="DW_btnRemoveCurrentImage" (click)="btnRemoveCurrentImage_onclick()">
                                    </li>
                                    <li>
                                        <img src="./assets/images/dwt/scanner/RemoveAllImages.png" title="Remove All Images" alt="Remove All Images" id="DW_btnRemoveAllImages"
                                            (click)="btnRemoveAllImages_onclick()">
                                    </li>
                                    <li>
                                        <img src="./assets/images/dwt/scanner/ChangeSize.png" title="Change Image Size" alt="Change Image Size" (click)="btnChangeImageSize_onclick();">
                                    </li>
                                    <li>
                                        <img src="./assets/images/dwt/scanner/Crop.png" title="Crop" alt="Crop" (click)="btnCrop_onclick()">
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-5">
                                <div id="dwtcontrolContainer" #dwtcontrolContainer></div>
                            </div>
                        </div>
                        <div id="btnGroupBtm" class="clearfix row">
                            <div class="row dynamo-mt-12">
                                <div class="col-sm-offset-2 col-sm-6">
                                    <button class="dynamo-aquire" (click)="acquireImage()"><em></em> Scan </button>&nbsp;&nbsp;
                                        Page:  &nbsp;&nbsp;<input id='DW_btnFirstImage' (click)='btnFirstImage_onclick()' type='button' value=' |&lt; ' />&nbsp;
                                    <input name="DW_btnPreImage" (click)="btnPreImage_onclick();" type='button' value=' &lt; ' />&nbsp;&nbsp;
                                    <input type="DW_CurrentImage" size='2' name="DW_CurrentImage" id="DW_CurrentImage" [(ngModel)]="DW_CurrentImage" readonly='readonly'>&nbsp;&nbsp;
                                    <input type="DW_TotalImage" size='2' name="DW_TotalImage" id="DW_TotalImage" [(ngModel)]="DW_TotalImage" readonly='readonly'>&nbsp;&nbsp;
                                    <input id='DW_btnNextImage' (click)='btnNextImage_onclick()' type='button' value=' &gt; '>&nbsp;
                                    <input id='DW_btnLastImage' (click)='btnLastImage_onclick()' type='button' value=' &gt;| '>
                                </div>
                                <div class="col-sm-4 preview-mode">Preview Mode:
                                    <select size='1' id='DW_PreviewMode' #DW_PreviewMode onchange='setlPreviewMode();'>
                                        <option value='0'>1X1</option>
                                    </select>
                                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                                    <button _ngcontent-c18="" class="dynamo-upload" (click)="uploadScanDocument()"><i _ngcontent-c18="" aria-hidden="true" class="fa fa-cloud-upload"></i> UPLOAD</button>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="complete">
                        <attachment-detail (modalDismiss)="modalDismiss()"></attachment-detail>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>