.form-search-person .form-group .form-control {
    width: 63%;
   padding: 0;
   border: 1px solid #ccc;
   float: right;
}
.form-search-person .form-group textarea.form-control{
    padding:10px;
}
.form-search-person .form-group textarea:focus{
    border-bottom: 1px solid #ccc !important;
}
.form-search-person .form-group .form-control .ng-control{border: 0;}
.dangerwork-form.address-form label {
    width: 37%;
    text-align: left;
}
// .dangerwork-form.address-form span{
//     float: left;
//     width: 63%;
// }
.fa-calendar{
    right: 10px;
}
label.full-width {
    margin-top: 8px !important;
}
.alert-align {
    float: right;
    width: 100%;
    text-align: center;
    position: absolute;
}
.fa-calendar, .fa-clock-o {
    position: absolute;
    right: 15px;
    top: 10px;
}
button.save-draft[disabled] {
    background: #e5e5e5;
}
.save-draft {
    background: none;
    border: 1px solid #41d1e2;
    color: #41d1e2;
    font-weight: bold;
    padding: 6px 15px;
    border-radius: 4px;
}
.form-group { margin-bottom: 15px;}
.person-contected{width: 63%;float: left;}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.person-contected .mat-form-field-label{text-align: left;}
.no-pad {
    padding: 0px !important;
}
.form-search-person.notes-sec .ng-select .ng-control{max-height: 34px !important; border: 1px solid #ccc;}
.form-search-person .form-group input.form-control{padding-left: 10px}
.media-details h4.media-heading{margin-top: 7px;}
.media-details h4.media-heading span{font-size: 14px; float: right;}
.intake .tab-content .modal-content .modal-header h4.modal-title {
    margin: 0px !important;
}
.form-search-person label {
    font-size: 13px;
    font-weight: 600;
}
.textarea-notes {
    position: relative;
}
.textarea-icons {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.form-group .textarea-icons a {
    border: 0 !important;
    padding: 0px;
    margin: 5px;
}