<div class="row">
    <div class="col-sm-12 text-end m-b-15 mt-15">
        <button type="button" data-bs-toggle="modal" data-bs-target="#add" class="btn btn-pri" (click)="clearItem()">Add</button>
    </div>
    <div class="col-sm-12">
        <div class="table-responsive table-theme m-t-20">
            <table class="table table-striped editor-data" aria-describedby="Resource List">
                <thead>
                    <tr>
                        <th id="nameHeader">Name</th>
                        <th id="reiewDateHeader">Review Date</th>
                        <th id="meetingNotesHeader">Meeting Notes</th>
                        <th id="actionsHeader">Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="{resourceList: resourceList$ | async} as resourceList">
                    <tr *ngFor="let resource of resourceList$ | async">
                        <td>
                            <div *ngFor="let users of resource?.resourceconsultuser; let i = index">
                                <span *ngIf="i < 3">{{users.name}} - {{users.consultreviewusertype}}</span>
                            </div>
                            <div *ngIf="(resource?.resourceconsultuser) && resource?.resourceconsultuser.length > 3">
                                <a><span (click)="showViewPopup(resource)">more...</span></a>
                            </div>
                        </td>
                        <td>{{resource?.date | date:'MM/dd/yyyy HH:mm'}}</td>
                        <td>
                            <div [innerHTML]="resource?.notes"> </div>
                        </td>
                        <td class="row-action">
                            <ul class="list-inline list-unstyled d-flex">
                                <li>
                                    <a><i class="fa fa-eye" (click)="showViewPopup(resource)" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a><i class="fa fa-pencil" (click)="showEditPopup(resource)" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a><i class="fa fa-trash" (click)="showDeletePop(resource)" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr *ngIf="resourceList?.resourceList?.length === 0">
                        <td colspan=5 style="text-align: center !important;">No Records Found.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
            <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                (pageChanged)="pageChanged($event)" class="pagination-sm m-t-20" [boundaryLinks]="true" [maxSize]="10"
                [itemsPerPage]="paginationInfo.pageSize"></pagination>
        </div>
    </div>
</div>
<div class="modal fade" id="add">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" [formGroup]="recsourceConsultForm">
            <div class="modal-header">
                <h4 class="modal-title">{{popUpText}} Resource Consult Review</h4>
                <button type="button" class="btn-close close pull-right" id="cls-add-resource" data-bs-dismiss="modal" aria-label="Close" (click)="clearItem()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row" [formGroup]="recsourceConsultUserForm">
                            <div class="col-sm-5" *ngIf="!isView">
                                <mat-form-field>
                                    <mat-label>Name</mat-label>
                                    <input type="text" formControlName="name" matInput  required>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-5" *ngIf="!isView">
                                <mat-form-field>
                                    <mat-label>Select User Type</mat-label>
                                    <mat-select formControlName="consultreviewusertype" 
                                        required>
                                        <mat-option *ngFor="let selectType of selectType$ | async" [value]="selectType">{{selectType.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2 text-end m-b-15 mt-15">
                                <button type="button" class="btn btn-pri" *ngIf="!isView" (click)="addrecsourceConsultUser()"
                                    [disabled]="recsourceConsultUserForm.pristine || recsourceConsultUserForm.invalid">Add</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <mat-form-field>
                                    <mat-label>Review Date</mat-label>
                                    <input matInput autocomplete="off" [matDatepicker]="picker" formControlName="date" 
                                        (click)="picker.open()" (focus)="picker.open()" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-5">
                                <mat-form-field>
                                    <mat-label>Time</mat-label>
                                    <input matInput formControlName="time"  type="time" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" style="height: auto;max-height: 250px; overflow: hidden;overflow-y:auto;" *ngIf="(recsourceConsultUser$ | async)?.length !== 0">
                        <div class="col-sm-4" *ngFor="let user of recsourceConsultUser$ | async; let i = index">
                            <mat-card appearance="outlined" class="relation-profile">
                                <mat-card-header>
                                    <mat-panel-title>{{user.name}}</mat-panel-title>
                                    <mat-card-subtitle>{{user.consultreviewusertype}}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-actions *ngIf="!isView">
                                    <div class="text-end" *ngIf="user.onDelete">
                                        <button class="btn-pri" (click)="cancelDelete(i)">Cancel</button>
                                        <button class="btn-pri" (click)="deleteUser(user.intakeservicerequestconsultreviewconfigid,i)">Confirm</button>
                                    </div>
                                    <ul class="list-inline list-unstyled text-end icon-list" *ngIf="!isView">
                                        <li class="list-inline-item" (click)="deleteUsercheck(i)" *ngIf="!user.onDelete" matTooltip="Delete">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div class="row col-sm-12 m-t-10 m-b-10">
                    <h5>Meeting Notes <span class="mat-placeholder-required">*</span></h5>
                    <quill-editor formControlName="notes" format="html"></quill-editor>
                </div>
                <div class="col-sm-12 text-end m-t-20" *ngIf="!isView">
                    <button class="btn btn-pri" (click)="saveResourceConsult(recsourceConsultForm.value)" 
                    [disabled]="recsourceConsultForm.pristine || recsourceConsultForm.invalid">{{btnName}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade custom-modal" id="delete-resource-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Confirm Delete </h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this item? </p>
                <div class="text-end big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" name="" data-bs-dismiss="modal"> No </button>
                    <button type="button" value="Yes" class="btn-pri " name="" (click)="deleteResource()"> Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>