<div class="tab-pane" id="notification-tab">
    <div class="tab-horizontal">
        <div class="tab-horizontal-bg">
            <div class="">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a href="#notification-all" data-bs-toggle="tab">All</a>
                    </li>
                    <li class="">
                        <a href="#notification-system" data-bs-toggle="tab">System</a>
                    </li>
                    <li class="">
                        <a href="#notification-manual" data-bs-toggle="tab">Manual</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Nav tabs content -->
        <div class="tab-content steps-content">
            <div id="notification-all" class="tab-pane active">
                <div class="box-grid">
                    <div class="row">
                        <div class="col-md-12">
                            <button href="javascript:void();" data-bs-toggle="modal" data-bs-target="#myModal-add-notification" class="btn-pri pull-right">
                                <i class="fa fa-plus right-space" aria-hidden="true"> </i> Create Notification</button>
                        </div>
                        <div class="col-md-12">
                            <div class="form-letter-tab table-responsive big-top-mspace">
                                <table class="table table-bordered icon-action bot-mspace" aria-describedby="All Notification">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date/Time</th>
                                            <th scope="col">Priority</th>
                                            <th scope="col">From</th>
                                            <th scope="col">To</th>
                                            <th scope="col">Subject</th>
                                            <th scope="col">Attachment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-view-notification">1/4/2018 6:13 AM</a>
                                            </td>
                                            <td>
                                                <span class="badge bg-success">Low</span>
                                            </td>
                                            <td>Hudson, Neil</td>
                                            <td>Hudson, Bob</td>
                                            <td>Cross Reference</td>
                                            <td>
                                                <i class="fa fa-file-text-o text-16" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-view-notification">12/22/2017 5:46 AM</a>
                                            </td>
                                            <td>
                                                <span class="badge bg-warning">Medium</span>
                                            </td>
                                            <td>Hudson, Neil</td>
                                            <td>Brown, Mary</td>
                                            <td>DA# 201735405124(New) accepted</td>
                                            <td>
                                                <i class="fa fa-file-excel-o text-16" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-view-notification">12/20/2017 5:06 AM</a>
                                            </td>
                                            <td>
                                                <span class="label label-danger">High</span>
                                            </td>
                                            <td>Hudson, Bob</td>
                                            <td>Hudson, Neil</td>
                                            <td>Allegation of caregiver neglect - physical</td>
                                            <td>
                                                <i class="fa fa-file-pdf-o text-16" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-view-notification">1/4/2018 6:13 AM</a>
                                            </td>
                                            <td>
                                                <span class="badge bg-success">Low</span>
                                            </td>
                                            <td>Hudson, Neil</td>
                                            <td>Hudson, Bob</td>
                                            <td>Routing of ANE Class II</td>
                                            <td>
                                                <i class="fa fa-paperclip text-18 site-color" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-view-notification">12/22/2017 5:46 AM</a>
                                            </td>
                                            <td>
                                                <span class="badge bg-warning">Medium</span>
                                            </td>
                                            <td>Hudson, Neil</td>
                                            <td>Brown, Mary</td>
                                            <td>Routing of ANE Class II</td>
                                            <td>
                                                <i class="fa fa-paperclip text-18 site-color" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-view-notification">12/20/2017 5:06 AM</a>
                                            </td>
                                            <td>
                                                <span class="label label-danger">High</span>
                                            </td>
                                            <td>Hudson, Bob</td>
                                            <td>Hudson, Neil</td>
                                            <td>Routing of ANE Class I</td>
                                            <td>
                                                <i class="fa fa-paperclip text-18 site-color" aria-hidden="true"></i>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-grid">
                    <h4 class="text-16 textb"> Add Notification</h4>
                    <div class="row form-search-person">
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <div class="mb-3 has-feedback">
                                <p>To</p>
                                <div class="inner-addon right-addon">
                                    <i class="fa fa-search" href="#" data-bs-toggle="modal" data-bs-target="#attach-user-selection" aria-hidden="true"></i>
                                    <input class="form-control full-collapse-horizontal" id="ajanlatkeres_email" name="ajanlatkeres_email" type="text" value="test@test.com"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <div class="mb-3 has-feedback">
                                <p>CC</p>
                                <div class="inner-addon right-addon">
                                    <i class="fa fa-search" href="#" data-bs-toggle="modal" data-bs-target="#attach-user-selection" aria-hidden="true"></i>
                                    <input class="form-control full-collapse-horizontal" id="ajanlatkeres_email" name="ajanlatkeres_email" type="text" value="test@test.com"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-12 col-sm-6 ">
                            <div class="mb-3">
                                <p>Subject:</p>
                                <input type="text" class="form-control full-collapse-horizontal" name="" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6 ">
                            <div class="mb-3">
                                <p>Body:</p>
                                <textarea name="" class="form-control full-collapse-horizontal" rows="5" placeholder="Enter Notes"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <div class="mb-3">
                                <p>Priority:</p>
                                <div class="">
                                    <ul class="list-unstyled list-inline">
                                        <li class="low list-inline-item">
                                            <span class="badge bg-success">Low</span>
                                        </li>
                                        <li class="medium list-inline-item">
                                            <span class="badge bg-warning">Medium</span>
                                        </li>
                                        <li class="high list-inline-item">
                                            <span class="label label-danger">High</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-6">
                            <div class="mb-3">
                                <label class="control-label">Attachments:</label>
                                <p class="value-txt">
                                    <span class="img-attach">image1.png</span>
                                    <span class="img-attach">image1.png</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div id="Attachments">
                            <form class="form-search-person inline-form-wrap pb-0">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="mb-3">
                                                <label class="full-collapse-horizontal">Attachments:</label>
                                                <select name="" class="full-collapse-horizontal form-select">
                                                    <option value="">All</option>
                                                    <option value="">Exhibits</option>
                                                    <option value="">Testimonials</option>
                                                    <option value="">Photographs</option>
                                                    <option value="">Documents</option>
                                                    <option value="">Forms</option>
                                                    <option value="">Reports</option>
                                                </select>
                                                <span class="select__arrow pos"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 pull-right text-end mt-30">
                                            <button type="button" class="btn-pri" data-bs-toggle="modal" data-bs-target="#addAttach">Add Attachment</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="attach-wrap">
                                                <a href="">
                                                    <figure style="background-image: url(assets/images/attach/img.png);">
                                                    </figure>
                                                    <p>Case study on the Reporting Adult details - picture
                                                        captured
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="attach-wrap">
                                                <a href="">
                                                    <figure style="background-image: url(assets/images/attach/img1.png);">
                                                    </figure>
                                                    <p>Case study on the Reporting Adult details - picture
                                                        captured
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="attach-wrap">
                                                <a href="">
                                                    <figure style="background-image: url(assets/images/attach/img2.png);">
                                                        <img class="play-icon" src="assets/images/attach/play.png" alt="Play Icon">
                                                    </figure>
                                                    <p>Case study on the Reporting Adult details - picture
                                                        captured
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="attach-wrap">
                                                <a href="">
                                                    <figure style="background-image: url(assets/images/attach/img2.png);">
                                                        <img class="play-icon" src="assets/images/attach/play.png" alt="Play Icon">
                                                    </figure>
                                                    <p>Case study on the Reporting Adult details - picture
                                                        captured
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="attach-wrap">
                                                <a href="">
                                                    <figure style="background-image: url(assets/images/attach/img2.png);">
                                                        <img class="play-icon" src="assets/images/attach/play.png" alt="Play Icon">
                                                    </figure>
                                                    <p>Case study on the Reporting Adult details - picture
                                                        captured
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="attach-wrap">
                                                <a href="">
                                                    <figure style="background-image: url(assets/images/attach/img2.png);">
                                                        <img class="play-icon" src="assets/images/attach/play.png" alt="Play Icon">
                                                    </figure>
                                                    <p>Case study on the Reporting Adult details - picture
                                                        captured
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="attach-wrap">
                                                <a href="">
                                                    <figure style="background-image: url(assets/images/attach/img2.png);">
                                                        <img class="play-icon" src="assets/images/attach/play.png" alt="Play Icon">
                                                    </figure>
                                                    <p>Case study on the Reporting Adult details - picture
                                                        captured
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="attach-wrap">
                                                <a href="">
                                                    <figure style="background-image: url(assets/images/attach/img2.png);">
                                                        <img class="play-icon" src="assets/images/attach/play.png" alt="Play Icon">
                                                    </figure>
                                                    <p>Case study on the Reporting Adult details - picture
                                                        captured
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pull-right text-end mt-30">
                                    <button type="button" class="btn-pri">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="notification-system" class="tab-pane">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-letter-tab table-responsive mrg-top25">
                            <table class="table table-bordered icon-action bot-mspace" aria-describedby="Notification System">
                                <thead>
                                    <tr>
                                        <th scope="col">Date/Time</th>
                                        <th scope="col">Priority</th>
                                        <th scope="col">From</th>
                                        <th scope="col">To</th>
                                        <th scope="col">Subject</th>
                                        <th scope="col">Attachment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-view-notification">1/4/2018 6:13 AM</a>
                                        </td>
                                        <td>
                                            <span class="badge bg-success">Low</span>
                                        </td>
                                        <td>Hudson, Neil</td>
                                        <td>Hudson, Bob</td>
                                        <td>Cross Reference</td>
                                        <td>
                                            <i class="fa fa-file-text-o text-16" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-view-notification">12/22/2017 5:46 AM</a>
                                        </td>
                                        <td>
                                            <span class="badge bg-warning">Medium</span>
                                        </td>
                                        <td>Hudson, Neil</td>
                                        <td>Brown, Mary</td>
                                        <td>DA# 201735405124(New) accepted</td>
                                        <td>
                                            <i class="fa fa-file-excel-o text-16" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-view-notification">12/20/2017 5:06 AM</a>
                                        </td>
                                        <td>
                                            <span class="label label-danger">High</span>
                                        </td>
                                        <td>Hudson, Bob</td>
                                        <td>Hudson, Neil</td>
                                        <td>Allegation of caregiver neglect - physical</td>
                                        <td>
                                            <i class="fa fa-file-pdf-o text-16" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-view-notification">1/4/2018 6:13 AM</a>
                                        </td>
                                        <td>
                                            <span class="badge bg-success">Low</span>
                                        </td>
                                        <td>Hudson, Neil</td>
                                        <td>Hudson, Bob</td>
                                        <td>Routing of ANE Class II</td>
                                        <td>
                                            <i class="fa fa-paperclip text-18 site-color" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-view-notification">12/22/2017 5:46 AM</a>
                                        </td>
                                        <td>
                                            <span class="badge bg-warning">Medium</span>
                                        </td>
                                        <td>Hudson, Neil</td>
                                        <td>Brown, Mary</td>
                                        <td>Routing of ANE Class II</td>
                                        <td>
                                            <i class="fa fa-paperclip text-18 site-color" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-view-notification">12/20/2017 5:06 AM</a>
                                        </td>
                                        <td>
                                            <span class="label label-danger">High</span>
                                        </td>
                                        <td>Hudson, Bob</td>
                                        <td>Hudson, Neil</td>
                                        <td>Routing of ANE Class I</td>
                                        <td>
                                            <i class="fa fa-paperclip text-18 site-color" aria-hidden="true"></i>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="notification-manual" class="tab-pane">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-letter-tab table-responsive mrg-top25">
                            <table class="table table-bordered icon-action bot-mspace" aria-describedby="Notification Manual">
                                <thead>
                                    <tr>
                                        <th scope="col">Date/Time</th>
                                        <th scope="col">Priority</th>
                                        <th scope="col">From</th>
                                        <th scope="col">To</th>
                                        <th scope="col">Subject</th>
                                        <th scope="col">Attachment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-view-notification">1/4/2018 6:13 AM</a>
                                        </td>
                                        <td>
                                            <span class="badge bg-success">Low</span>
                                        </td>
                                        <td>Hudson, Neil</td>
                                        <td>Hudson, Bob</td>
                                        <td>Cross Reference</td>
                                        <td>
                                            <i class="fa fa-file-text-o text-16" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-view-notification">12/22/2017 5:46 AM</a>
                                        </td>
                                        <td>
                                            <span class="badge bg-warning">Medium</span>
                                        </td>
                                        <td>Hudson, Neil</td>
                                        <td>Brown, Mary</td>
                                        <td>DA# 201735405124(New) accepted</td>
                                        <td>
                                            <i class="fa fa-file-excel-o text-16" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-view-notification">12/20/2017 5:06 AM</a>
                                        </td>
                                        <td>
                                            <span class="label label-danger">High</span>
                                        </td>
                                        <td>Hudson, Bob</td>
                                        <td>Hudson, Neil</td>
                                        <td>Allegation of caregiver neglect - physical</td>
                                        <td>
                                            <i class="fa fa-file-pdf-o text-16" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-view-notification">1/4/2018 6:13 AM</a>
                                        </td>
                                        <td>
                                            <span class="badge bg-success">Low</span>
                                        </td>
                                        <td>Hudson, Neil</td>
                                        <td>Hudson, Bob</td>
                                        <td>Routing of ANE Class II</td>
                                        <td>
                                            <i class="fa fa-paperclip text-18 site-color" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-view-notification">12/22/2017 5:46 AM</a>
                                        </td>
                                        <td>
                                            <span class="badge bg-warning">Medium</span>
                                        </td>
                                        <td>Hudson, Neil</td>
                                        <td>Brown, Mary</td>
                                        <td>Routing of ANE Class II</td>
                                        <td>
                                            <i class="fa fa-paperclip text-18 site-color" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#myModal-view-notification">12/20/2017 5:06 AM</a>
                                        </td>
                                        <td>
                                            <span class="label label-danger">High</span>
                                        </td>
                                        <td>Hudson, Bob</td>
                                        <td>Hudson, Neil</td>
                                        <td>Routing of ANE Class I</td>
                                        <td>
                                            <i class="fa fa-paperclip text-18 site-color" aria-hidden="true"></i>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
