<div class="row">
  <div class="col-sm-6 text-start">
    <h4>  Medical Exams/Health Evaluations  </h4>
  </div>
  <div class="col-sm-6 text-end m-t-20" *ngIf="_personDetailService.isEditable" >
    <a class="btn btn-pri" [routerLink]="['../create-edit']">ADD</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">&nbsp;</div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive table-theme table-bordered">
      <table class="table" aria-describedby="tbl-person-service-lst">
        <thead>
          <tr>
            <th scope="col">Domain</th>
            <th scope="col">Assessment Type</th>
            <th scope="col">Assessment Date</th>
            <th scope="col">Outcome Results</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let health of healthExamination$ | async ; let i=index">
            <td>{{health.healthdomaintype.description}}</td>
            <td>{{health.healthassessmenttype.description}}</td>
            <td>{{health.assessmentdate | date:'MM/dd/yyyy'}}</td>
            <td>{{health.outcomeresults}}</td>
            <td>
              <a (click)="view(health.personhealthexaminationid)">
                <em class="fa fa-eye text-16"></em>
              </a> 
              <a *ngIf="_personDetailService.isEditable" (click)="edit(health.personhealthexaminationid)">
                  | <em class="fa fa-pencil text-16"></em>
              </a> 
              <a *ngIf="_personDetailService.isEditable" (click)="showDeletePop(health.personhealthexaminationid)">
                  | <em class="fa fa-trash text-16"></em>
              </a>
            </td>
          </tr>
          <tr *ngIf="(healthExamination$ | async)?.length === 0">
            <td colspan=5 style="text-align: center !important;">No Records Found.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
      <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords ?? 0" [(ngModel)]="paginationInfo.pageNumber"
        (pageChanged)="pageChanged($event)" class="pagination-sm m-t-20" [boundaryLinks]="true" [maxSize]="10"
        [itemsPerPage]="paginationInfo.pageSize"></pagination>
    </div>
  </div>
</div>
<div class="modal fade custom-modal" id="delete-healthExamInfo-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Confirm Delete </h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p> Are you sure you want to delete this item? </p>
        <div class="text-end big-bot-space right-mspace-15">
          <button type="button" value="No" class="btn-pri" name="" data-bs-dismiss="modal"> No </button>
          <button type="button" value="Yes" class="btn-pri " name="" (click)="delete()"> Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>