.outer-container {
    padding: 20px;
    border: 1px solid #d8d8d8;
    margin: 0px 30px 30px 30px;
    .form-container {
        border: 1px solid #d8d8d8;
        padding: 20px;
        &.container {
            border: 1px solid #d8d8d8;
            padding: 10px;
            width: 100%;
        }
        .hidden-label{
            visibility: hidden;
        }
        .border { 
            border: 1px solid #000;
        }
        .mat-expansion-panel-header,
        .mat-expansion-panel-header.mat-expanded:focus,
        .mat-expansion-panel-header.mat-expanded:hover {
            background: #f9f9f9 !important;
        }
        .mat-expansion-panel-header {
            span {
                font-weight: bold !important;
            }
        }
        
        mat-expansion-panel.custom-panel {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            margin-bottom: 10px;
        }
    
        /* Hide the default arrow icon */
        mat-expansion-panel-header .mat-expansion-indicator {
            display: none;
        }
        .mat-expansion-panel-content {
            background: #fff !important;
        }
        .accordion-content {
            padding: 10px;
            background: #f9f9f9;
        }
    
        table {
            width: 100%;
            border-collapse: collapse;
        }
    
        th,
        td {
            padding: 10px;
            text-align: left;
            border: 1px solid #dddddd; /* Updated border color */
        }
    
        th {
            font-weight: bold;
        }
        .fa {
            cursor: pointer;
        }
        @media (max-width: 600px) {
            td,
            th {
                padding: 5px;
                font-size: 14px;
            }
        }
    }
    button:disabled {
            background-color: #ccc; 
            color: #666; 
            cursor: not-allowed; 
            opacity: 0.6; 
      }
      .disabled {
          pointer-events: none;
      }
}

::ng-deep .btn.signature-pad-refresh {
    top: inherit !important;
    left: inherit !important;
}