<div class="col-sm-12 text-start">
  <h4>Person Involved</h4>
</div>
<div class="col-sm-12 text-start">
  &nbsp;
</div>
<div class="col-sm-12">
  <div class="table-responsive table-theme">
    <table class="table table-striped" aria-describedby="Added Persons List">
      <thead>
        <tr>
          <th id="nameHeader">Name</th>
          <th id="roleHeader">Role</th>
          <th id="cjamsPidHeader">CJAMS PID#</th>
          <th id="dobHeader">D.O.B</th>
          <th id="dodHeader">D.O.D</th>
          <th id="genderHeader">Gender</th>
          <th id="addressHeader">Address</th>
          <th id="phoneHeader">Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of addedPersons">
          <td>{{(person.fullName.length > 20) ? ((person.fullName | slice:0:20) |
            titlecase) +
            '...' : person.fullName | titlecase}}
          </td>
          <td>
            <p *ngFor="let role of person.personRole">
              {{role.description}}
            </p>
          </td>
          <td>{{person?.cjamspid}}</td>
          <td>{{person.Dob}}</td>
          <td>{{person.dateofdeath}}</td>
          <td>{{genders[person.Gender]}}</td>
          <td>
            <div *ngIf="person.fullAddress"> {{(person.fullAddress.length > 25) ?
              (person.fullAddress | slice:0:25) + '...' : person.fullAddress}}
            </div>
            <div *ngIf="!person.fullAddress">
              N/A
            </div>
          </td>
          <td>{{(person.phoneNumber && person.phoneNumber.length !== 0) ?
            person.phoneNumber[0].contactnumber
            : 'N/A'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>