<div role="tabpanel" class="tab-pane active dd-overflow-inherit" id="add-user-profile">
  <form [formGroup]="addUserProfileForm"
    (submit)="(saveButton) ? updateProfile(addUserProfileForm.value) : saveProfile(addUserProfileForm.value) ">
    <div class="user-profile-details row">
      <div class="col-sm-12">
        <h3>Profile Details</h3>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="">
          <input matInput placeholder="First Name" formControlName="firstname" required>
          <mat-error>
            <control-messages class="alert-align" [control]="getControlByIndexFn('firstname')">
            </control-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="">
          <input matInput placeholder="Middle Name" formControlName="middlename">
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="">
          <input matInput placeholder="Last Name" formControlName="lastname" required>
          <mat-error>
            <control-messages class="alert-align" [control]="getControlByIndexFn('lastname')">
            </control-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="">
          <input matInput placeholder="Display Name" formControlName="displayname" required>
          <mat-error>
            <control-messages class="alert-align" [control]="getControlByIndexFn('displayname')">
            </control-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input matInput autocomplete="off" [matDatepicker]="picker" placeholder="" formControlName="dob" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>
            <control-messages class="alert-align" [control]="getControlByIndexFn('dob')"></control-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="">
          <input matInput placeholder="Email Address" formControlName="email" required>
          <mat-error>
            <control-messages class="alert-align" [control]="getControlByIndexFn('email')"></control-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gendertypekey" required>
            <mat-option *ngFor="let item of userGendar$ | async" [value]="item.value">
              {{item.text}}
            </mat-option>
          </mat-select>
          <mat-error>
            <control-messages class="alert-align" [control]="getControlByIndexFn('gendertypekey')">
            </control-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>User Type</mat-label>
          <mat-select formControlName="usertypekey" required>
            <mat-option *ngFor="let item of userType$ | async" [value]="item.value">
              {{item.text}}
            </mat-option>
          </mat-select>
          <mat-error>
            <control-messages class="alert-align" [control]="getControlByIndexFn('usertypekey')">
            </control-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="">
          <input matInput placeholder="SSN - Last 4 digits" formControlName="ssn" (change)="userProfileIdentifier($event,'SSN')"> 
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="">
          <input matInput placeholder="DCN" formControlName="dcn" (change)="userProfileIdentifier($event,'DCN')">
        </mat-form-field>
      </div>
      <div class="col-sm-4">
          <mat-form-field>
            <mat-label>Job Title</mat-label>
            <mat-select formControlName="jobtitlecd">
              <mat-option *ngFor="let item of userJobTitle$ | async" [value]="item.value">
                {{item.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field>
              <mat-label>Primary County</mat-label>
              <mat-select formControlName="primarycountyid">
                <mat-option *ngFor="let item of countyDropDownItems$ | async" [value]="item.value">
                  {{item.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
      <div class="col-sm-4 m-t-30">
        <mat-checkbox formControlName="autonotification">Auto Notification</mat-checkbox>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>User Work Status</mat-label>
          <mat-select formControlName="userworkstatustypekey">
            <mat-option *ngFor="let item of userWorkStatus$ | async" [value]="item.value">
              {{item.text}}
            </mat-option>
          </mat-select>
          <mat-error>
            <control-messages class="alert-align" [control]="getControlByIndexFn('userworkstatustypekey')">
            </control-messages>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="user-team-details row m-t-10">
      <div class="col-sm-12">
        <h3>Team Details</h3>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Agency</mat-label>
          <mat-select formControlName="teamtypekey" required>
            <mat-option *ngFor="let agency of agencyList$ | async" [value]="agency.value">
              {{agency.text}}
            </mat-option>
          </mat-select>
          <mat-error>
            <control-messages class="alert-align" [control]="getControlByIndexFn('teamtypekey')">
            </control-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Team</mat-label>
          <input matInput placeholder="" formControlName="teamid" required>
          <mat-error>
            <control-messages class="alert-align" [control]="getControlByIndexFn('teamid')"></control-messages>
          </mat-error> 
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Role</mat-label>
          <input matInput placeholder="" formControlName="teammemberid">
        </mat-form-field>
      </div>
    </div>
    <div class="user-phone-details row m-t-10">
      <div class="col-sm-12">
        <h3>Phone Numbers</h3>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="">
          <input matInput placeholder="Main Office Phone" mask="(000) 000-0000" [clearIfNotMatch]="true"
            formControlName="mainofficephone" (change)="userProfilePhoneNumber($event,'office')">
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="">
          <input matInput placeholder="Direct Line Phone" mask="(000) 000-0000" [clearIfNotMatch]="true"
            formControlName="directlinephone" (change)="userProfilePhoneNumber($event,'DirectLine')">
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="">
          <input matInput placeholder="Fax Number" mask="(000) 000-0000" [clearIfNotMatch]="true"
            formControlName="faxnumber" (change)="userProfilePhoneNumber($event,'fax')" >
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="">
          <input matInput placeholder="Business Cell" mask="(000) 000-0000" [clearIfNotMatch]="true"
            formControlName="businesscell" (change)="userProfilePhoneNumber($event,'cell')" >
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="">
          <input matInput placeholder="Business Pager" formControlName="businesspage"
            (change)="userProfilePhoneNumber($event,'pager')" >
        </mat-form-field>
      </div>
    </div>
    <div class="user-address-details row m-t-10">
      <div class="col-sm-12">
        <h3>Address</h3>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="">
          <input matInput placeholder="PO Box" formControlName="pobox">
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="">
          <input matInput placeholder="Street Address" formControlName="address">
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="">
          <input matInput placeholder="City" formControlName="city">
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>State</mat-label>
          <mat-select formControlName="state" >
            <mat-option *ngFor="let item of stateDropDownItems$ | async" [value]="item.value">
              {{item.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="">
          <input matInput placeholder="Zip Code" formControlName="zipcode" mask="00000-9999">
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>County</mat-label>
          <mat-select formControlName="countyid" (selectionChange)="countyChange($event.value)">
            <mat-option *ngFor="let item of countyDropDownItems$ | async" [value]="item.value">
              {{item.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="">
          <input matInput placeholder="Location Code" formControlName="locationcode">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>