
                                    <div class="row">
                                        <div class=" col-md-12 m-b-30 m-t-10" >
                                                <h4  class="mb-20">CHILD DETAILS</h4>
                                        </div>
                                        <div class="col-md-12 m-b-20 row">
                                            <div class="col-md-3 col-md-offset-2">
                                                <p class="textb disp-color"><strong>Name : </strong>{{selectedChild?.firstname}}
                                                    {{selectedChild?.lastname}} </p>
                                            </div>
                                            <div class="col-md-2">
                                                <p class="textb disp-color"><strong>Age : </strong>{{selectedChild?.age}}</p>
                                            </div>
                                            <div class="col-md-2">
                                                <p class="textb disp-color"><strong>Gender : </strong>{{selectedChild?.gender}}</p>
                                            </div>
                                            <div class="col-md-2">
                                                <p class="textb disp-color"><strong>CJAMS PID# : </strong>{{selectedChild?.cjamspid}}</p>
                                            </div>
                                        </div>
                                    </div>
                                   <div class="row">
                                            <div class="col-md-12">
                                                <h4  class="mb-20">PAYMENT HISTORY / FINANCIAL</h4>
                                                <div class="table-responsive petition-table table-theme mt-20">
                                                    <table class="table table-striped customTable firsttable" aria-describedby="Payment Details">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Payment ID</th>
                                                                <th scope="col">Payment Detail ID</th>
                                                                <th scope="col">Payment Date</th>
                                                                <th scope="col">Payment Type</th>
                                                                <th scope="col">Payment Status</th>
                                                                <th scope="col">Service Start Date</th>
                                                                <th scope="col">Service End Date</th>
                                                                <th scope="col">Payment Amount</th>
                                                            </tr>
                                                        </thead>
    
                                                        <tbody>
                                                            <ng-container *ngFor="let item of provider1PaymentHistory; let index = index;">
                                                                <tr>
                                                                    <td>{{item.paymentid}}</td>
                                                                    <td>{{item.payment_detail_id}}</td>
                                                                    <td>{{item.paymentdate| date: 'MM/dd/yyyy'}}</td>
                                                                    <td>{{item.paymenttype}}</td>
                                                                    <td>{{item.paymentstatus}}</td>
                                                                    <td>{{item.final_service_start_dt | date: 'MM/dd/yyyy'}}</td>
                                                                    <td>{{item.final_service_end_dt | date: 'MM/dd/yyyy'}}</td>
                                                                    <td>$ {{item.final_amount_no ? item.final_amount_no :
                                                                        '0.00'}}</td>
                                                                </tr>
                                                              
                                                            </ng-container>
                                                            <tr *ngIf="provider1PaymentHistory?.length === 0">
                                                                <td colspan="8" style="text-align: center !important;">
                                                                    No Records Found.
                                                                </td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                    <div class="text-center m-t-20" *ngIf="provider1PaymentCount && provider1PaymentCount > paginationInfo.pageSize">
                                                            <pagination [totalItems]="provider1PaymentCount" [(ngModel)]="paginationInfo.pageNumber"
                                                                (pageChanged)="pageChanged($event, provider1id, 'provider1')" class="pagination-sm" [boundaryLinks]="true"
                                                                [maxSize]="10">
                                                            </pagination>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
