@use '../../person-info.component.scss';

.table {
  margin-bottom: 0px;
}

.table-theme .table th tr {
  border-bottom: 1px solid #D8D8D8;
  text-align: center !important;
}
.table-theme .table tr td {
  font-size: 13px;
  font-weight: 600;  
}

.info {
  background-image: url(/assets/images/comments.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
  float: right;  
  cursor: pointer;
}

.table-responsive {
  overflow-y: auto;
  overflow-x: auto;
  max-height: 500px;
}

.header-title {
  color: #00A2FD;
  font-size: 15px;
}
.add-container {
  padding: 10px;
  border: 0px #fcf9f9;
  text-align: center;
  margin: 10px 0px 30px 0px;
}


@media (max-width:567px) {
  .m-btn-row{
    margin-bottom: 15px;
  }
}

.accordian-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 10px;
  margin-bottom: -5px;
}

.accordian-row h3 {
  margin: 0;
}

.accordian-row i {
  margin-left: auto; 
}

.col-comments { 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 50px;
}

.comment-preformat{
  white-space: pre-wrap;
}
.delete-row-info {
  color: grey !important;
}
.reject-row-info td {
  color: red !important;
}

.td-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.custom-body {
  max-height: 70vh;
  height: 60vh;
}

.undo-row {
  background: url(/assets/images/undo-icon.svg) no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding-left: 10px;
  padding-right: 17px;
  padding-bottom: 23px;
  font-size: 17px;
}

.right-section {
  display: flex;
  justify-content: flex-end;
}

.dflex {
  display: flex;
  align-items: baseline;
}

.border-lightgrey {
  border: 1px solid lightgrey;
}