<div class="container-fluid">
    <div class="dashboard-cont no-pad">
        <div class="tab-horizontal mrg-top25 mrg-btm25">
            <ul class="nav nav-pills ">
                <li class="nav-item" *ngIf="role===roleList.SUPERVISOR">
                    <a  class="nav-link active" href="#case-assign"   data-bs-toggle="tab">ASSIGN CASE</a>
                </li>
                <li class="nav-item" *ngIf="role===roleList.SUPERVISOR">
                    <a  class="nav-link" (click)="routeToServiceCase()"  data-bs-toggle="tab">ASSIGN
                        SERVICE CASE</a>
                </li>
                <li class="nav-item" *ngIf="role===roleList.SUPERVISOR">
                    <a  class="nav-link" (click)="routeToAdoptionCase()"  data-bs-toggle="tab">ASSIGN
                        ADOPTION CASE</a>
                </li>
            </ul>
            <div class="tab-content boxgrid assign-case">
                <div class="tab-pane active" id="case-assign">
                    <div class="tab-horizontal mrg-top25 mrg-btm25">
                        <ul class="nav nav-pills">
                            <li class="nav-item m-t-30" *ngIf="role===roleList.SUPERVISOR">
                                <a class="nav-link active" href="#case-tobe-assigned" data-bs-toggle="tab" (click)="tabInfo(true, 'TO BE ASSIGNED');getAssignCase(1, false, null, 'Intial','TO BE ASSIGNED')">TO BE
                                    ASSIGNED</a>
                            </li>
                            <li class="nav-item m-t-30" *ngIf="role===roleList.KINSHIP_SUPERVISOR">
                                <a class="active nav-link" href="#case-tobe-assigned" data-bs-toggle="tab"
                                    (click)="tabInfo(false, 'IN-PROGRESS');getAssignCase(1, false, null)">IN-PROGRESS</a>
                            </li>
                            <li class="nav-item m-t-30" *ngIf="role===roleList.SUPERVISOR">
                                <a class="nav-link" href="#case-tobe-assigned" data-bs-toggle="tab"
                                    (click)="tabInfo(false, 'ASSIGNED');getAssignCase(1, true, null, 'Intial','ASSIGNED')">ASSIGNED</a>
                            </li>
                            <li class="nav-item m-t-30" *ngIf="role===roleList.KINSHIP_SUPERVISOR">
                                <a class="nav-link" href="#case-tobe-assigned" data-bs-toggle="tab"
                                    (click)="tabInfo(false, 'CLOSED');getAssignCase(1, true)">CLOSED</a>
                            </li>
                            <li class="nav-item m-t-30" *ngIf="role===roleList.SUPERVISOR">
                                <a class="nav-link" href="#case-tobe-assigned" data-bs-toggle="tab" (click)="tabInfo(false, 'CLOSED');getAssignCase(1 , true , 'Closed', 'Intial','CLOSED')">CLOSED</a>
                            </li>
                            <li class="nav-item m-t-30" *ngIf="role===roleList.SUPERVISOR">
                                <a class="nav-link" href="#case-tobe-assigned" data-bs-toggle="tab" (click)="tabInfo(false, 'COMPLETED');getAssignCase(1 , true , 'Completed', 'Intial','COMPLETED')">COMPLETED</a>
                            </li>
                            <li class="ms-auto m-t-15 m-p-search nav-item">
                                <div class="searchdd pull-left m-r-10" *ngIf="tabName==='COMPLETED'">
                                    <mat-form-field>
                                        <mat-label>Appeal Filter</mat-label>
                                        <mat-select [(ngModel)]="filterOnCompletedTab"   (selectionChange)="getAssignCase(1 , true , 'Completed', 'Intial','COMPLETED')">
                                            <mat-option value="all">All</mat-option>
                                            <mat-option value="assigned">Assigned</mat-option>
                                            <mat-option value="unassigned">Unassigned</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="searchdd pull-left m-r-10" [formGroup]="assignedCaseForm">
                                    <mat-form-field>
                                        <mat-select formControlName="securityusersid"   (selectionChange)="supervisorChange()">
                                            <mat-option *ngFor="let item of supervisorList" [value]="item.userid">{{item.username}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="inner-addon m-t-15 right-addon pull-left" [formGroup]="assignedCaseForm">
                                    <em aria-hidden="true" class="fa fa-search"></em>
                                    <input type="text" class="form-control aut-txt-caseNumberSearch" formControlName="serreqno" (input)="onSearchAssignCase('serreqno', $event)" placeholder="Search Cases..." />
                                </div>
                            </li>
                        </ul>
                        <div class="tab-content boxgrid assign-case">
                            <div class="tab-pane active" id="case-tobe-assigned">
                                <div class="cnt-min-height">
                                    <p class="mt-10 mb-0">Total Count: <strong>{{totalRecordsAssingedCase}}</strong>
                                    <div class="table-theme table-responsive">
                                        <table class="table table-striped" sortable-table (sorted)="onSorted($event)" aria-describedby="tbl-assigned-case-records">
                                            <thead>
                                                <tr>
                                                    <th scope="col" sortable-column="servicerequestnumber">
                                                         CASE NUMBER</th>
                                                    <th scope="col" sortable-column="intakenumber">INTAKE NUMBER</th>
                                                    <th scope="col" sortable-column="personname">Head of Household</th>
                                                    <th scope="col" *ngIf="assignedStatus && status !== 'Completed'">ASSIGNED TO</th>
                                                    <th scope="col" sortable-column="assigneddate" *ngIf="assignedStatus">ASSIGNED
                                                        DATE & TIME
                                                    </th>
                                                    <th scope="col" sortable-column="acceptdate" *ngIf="assignedStatus">ACCEPTED
                                                        DATE & TIME
                                                    </th>
                                                    <th scope="col">TYPE</th>
                                                    <th scope="col">SUB TYPE</th>
                                                    <th scope="col" *ngIf="status !== 'Completed'">Offense Location</th>
                                                    <th scope="col" *ngIf="status !== 'Completed'">Placement Status</th>
                                                    <th scope="col" *ngIf="status !== 'Completed'">STATUS</th>
                                                    <th scope="col" *ngIf="assignedStatus && status === 'Completed'">ASSIGNED APPEAL USER</th>
                                                    <ng-container *ngIf="role===roleList.SUPERVISOR">
                                                        <th scope="col" *ngIf="!assignedStatus || status === 'Completed'">ACTION</th>
                                                    </ng-container>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="assingedCaseSummary; let assignedCase">
                                                <ng-container *ngIf="assignedCase.length>0; else noItems">
                                                    <ng-container
                                                        *ngFor="let item of assignedCase; let groupIndex = index">
                                                        <tr>
                                                            <td *ngIf="item?.data?.length > 0">
                                                                <a>
                                                                    <em (click)="groupShow(groupIndex, item)"
                                                                        [class]="!item.isCollapsed  ? 'fa fa-angle-up':'fa fa-angle-down'"
                                                                        aria-hidden="true"></em>
                                                                    <a>{{item.servicerequestnumber}}</a>
                                                                </a>
                                                            </td>
                                                            <td *ngIf="!item?.dadetails">
                                                                <a>
                                                                    <a
                                                                        (click)="routToCaseWorker(item)">{{item.servicerequestnumber}}</a>
                                                                </a>
                                                            </td>
                                                            <td>{{item?.intakenumber ? item?.intakenumber : ''}}<span
                                                                    *ngIf="item?.sdm?.length">
                                                                    <span matTooltip="Child Fatality"
                                                                        *ngIf="item?.sdm?.[0]?.ischildfatality"
                                                                        class="dot yellow-dot"></span><span
                                                                        matTooltip="Provider Maltreatment"
                                                                        *ngIf="item?.sdm?.[0]?.ismaltreatment ?? false"
                                                                        class="dot blue-dot"></span></span></td>
                                                                        <td>
                                                                    <person-information [persons]="item?.legalguardian">
                                                                        </person-information>
                                                                      </td>
                                                            <td *ngIf="assignedStatus && status !== 'Completed'">{{item.assignedto}}</td>
                                                            <td *ngIf="assignedStatus">{{item.assigneddate ? (item.assigneddate |
                                                                        date:'MM/dd/yyyy hh:mm a') : 'NA'}}
                                                            </td>
                                                            <td *ngIf="assignedStatus">{{item.acceptdate ? (item.acceptdate |
                                                                        date:'MM/dd/yyyy hh:mm a') : 'NA'}}
                                                            </td>
                                                            <td *ngIf="item.servreqtype==='CHILD'">Child Protective
                                                                Services</td>
                                                            <td *ngIf="item.servreqtype!=='CHILD'">{{item.servreqtype}}
                                                            </td>
                                                            <td *ngIf="item.servreqtype==='CHILD'">
                                                                {{(item.servreqsubtype==='Default')?'Risk of Harm':item.servreqsubtype}}</td>
                                                            <td *ngIf="item.servreqtype!=='CHILD'">Non-CPS</td>
                                                            <td *ngIf="status !== 'Completed'">{{item.incidentlocation}}</td>
                                                            <td *ngIf="status !== 'Completed'">{{item?.placementfostercareapprove}}</td>
                                                            <td *ngIf="status !== 'Completed'">{{item.servreqstatus}}</td>
                                                            <td *ngIf="assignedStatus && status === 'Completed'">{{item.appealconame}}</td>
                                                            <ng-container *ngIf="role===roleList.SUPERVISOR">
                                                                <td *ngIf="!assignedStatus">
                                                                    <button type="submit" class="btn-pri aut-btn-assign"
                                                                        data-bs-target="#intake-caseassign"
                                                                        data-bs-toggle="modal"
                                                                        (click)="getRoutingUser(item)">ASSIGN</button>
                                                                </td>
                                                                <td *ngIf="status === 'Completed'">
                                                                    <button [disabled]="checkIfAllIFRO(item.finalfindings)" type="submit" class="btn-pri aut-btn-assign"
                                                                        data-bs-target="#intake-caseassign-completed"
                                                                        data-bs-toggle="modal"
                                                                        (click)="getAppealRoutingUser(item)" *ngIf="item.servreqsubtype ==='CPS-IR'">ASSIGN APPEAL</button>
                                                                        {{item.assignbtn?'Assigned to Appeal':''}}
                                                                    <span *ngIf="!item.assignbtn && checkIfAllIFRO(item.finalfindings)" matTooltip="Ruled out findings can not be assigned to the Appeal worker" ><em  class="fa fa-info-circle"></em></span>    
                                                                 </td>
                                                            </ng-container>
                                                        </tr>
                                                        <ng-container *ngIf="!item.isCollapsed">

                                                            <tr class="inner-tbl" *ngIf="item.dadetails">
                                                                <td colspan="6">
                                                                    <table aria-describedby="tbl-da-details">
                                                                        <thead>
                                                                <th scope="col">case number </th>
                                                                <th scope="col">client </th>
                                                                <th scope="col">status</th>
                                                                <th scope="col">type</th>
                                                                </thead>
                                                            <tr *ngFor="let groupItem of item.dadetails">
                                                                <td>
                                                                    <a (click)="routToCaseWorker(groupItem)">
                                                                        {{groupItem.servicerequestnumber}}</a>
                                                                </td>
                                                                <td>{{groupItem.clientname}} </td>
                                                                <td>{{groupItem.intakeserreqstatustypekey}}</td>
                                                                <td>{{groupItem.intakeservreqtypekey}}</td>
                                                            </tr>
                                        </table>
                                        </td>

                                        </tr>
                                        </ng-container>
                                        </ng-container>
                                        </ng-container>
                                        </tbody>
                                        </table>
                                        <ng-template #noItems>
                                            <p class="no-datatxt"> No Items! </p>
                                        </ng-template>
                                        <div class="text-center" *ngIf="totalRecordsAssingedCase">
                                            <pagination [totalItems]="totalRecordsAssingedCase"
                                                [(ngModel)]="tobeassignedPaginationInfo.pageNumber"
                                                (pageChanged)="pageAssignedChanged($event)" class="pagination-sm"
                                                [boundaryLinks]="true" [maxSize]="10"
                                                [itemsPerPage]="tobeassignedPaginationInfo.pageSize"></pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="case-appeal">
                                <div class="cnt-min-height">
                                    <div class="table-theme table-responsive">
                                        <table class="table table-striped" sortable-table (sorted)="onSorted($event)" aria-describedby="tbl-case-appeal">
                                            <thead>
                                                <tr>
                                                    <th scope="col">CASE NUMBER</th>
                                                    <th scope="col">INTAKE NUMBER</th>
                                                    <th scope="col">CLIENT</th>
                                                    <th scope="col">TYPE</th>
                                                    <th scope="col">SUB TYPE</th>
                                                    <th scope="col">STATUS</th>
                                                    <th scope="col">ACTION</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="assingedCaseSummary; let assignedCase">
                                                <ng-container *ngIf="assignedCase.length>0; else noItems">
                                                    <tr *ngFor="let item of assignedCase">
                                                        <td>
                                                            <a 
                                                            (click)="routToCaseWorker(item)">{{item.servicerequestnumber}}</a>
                                                        </td>
                                                        <td>{{item?.intakenumber ? item?.intakenumber : ''}}<span
                                                                *ngIf="item?.sdm?.length">
                                                                <span matTooltip="Child Fatality"
                                                                    *ngIf="item?.sdm?.[0]?.ischildfatality ?? false"
                                                                    class="dot yellow-dot"></span><span
                                                                    matTooltip="Provider Maltreatment"
                                                                    *ngIf="item?.sdm?.[0]?.ismaltreatment ?? false"
                                                                    class="dot blue-dot"></span></span></td>
                                                        <td>{{item.raname}} </td>
                                                        <td>{{item.servreqtype}}</td>
                                                        <td>{{item.servreqsubtype}}</td>
                                                        <td>{{item.servreqstatus}}</td>
                                                        <td>
                                                            <button type="submit" class="btn-pri"
                                                                data-bs-target="#appeal-modal" data-bs-toggle="modal"
                                                                (click)="openAppeal(item)">APPEAL</button>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                        <ng-template #noItems>
                                            <p class="no-datatxt"> No Items! </p>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="intake-caseassign" role="dialog"  data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <h4 class="modal-title" (click)="refreshUser()">Route Case</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close" (click)="onClose()"></button>
            </div>
            <div class="modal-body dashboard-cont" [formGroup]="assignCaseForm">

                <div class="tab-horizontal mrg-btm25">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#caseassign-caseworker" data-bs-toggle="tab"
                                (click)="listUser('TOBEASSIGNED')">WORKERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#caseassign-caseworker" data-bs-toggle="tab"
                                (click)="listUser('ASSIGNED')">SUPERVISORS</a>
                        </li>
                        <li class="text-end pos-right" [formGroup]="teamForm">
                            <mat-form-field>
                                <mat-label>Filter By UNIT</mat-label>
                                <mat-select  formControlName="teamid" [value]="teamid" (selectionChange)="teamChange()">
                                    <mat-option value="">All</mat-option>
                                    <mat-option *ngFor="let item of teamList" [value]="item.teamid">{{item.name}} <strong>({{item.parentteamname}})</strong></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>
                    </ul>
                    <div class="tab-content boxgrid">
                        <div class="tab-pane active" id="caseassign-caseworker">
                            <div class="">
                                <div class="table-responsive table-theme">
                                    <table class="table table-striped" sortable-table (sorted)="onSorted($event)" aria-describedby="tbl-case-worker">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">NAME</th>
                                                <th scope="col">Responsibility</th>
                                                <th scope="col" *ngIf="!isSupervisor">CASE LOAD</th>
                                                <th scope="col" *ngIf="!isSupervisor">AVAILABILITY</th>
                                                <th scope="col" *ngIf="!isSupervisor">ZIP CODE</th>
                                                <th scope="col" *ngIf="isSupervisor">AGENCY</th>
                                                <th scope="col">TYPE OF WORKER</th>
                                                <th scope="col">UNIT</th>
                                                <th scope="col">Total Cases</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="getUsersList; let getlist">
                                            <ng-container *ngIf="getlist.length>0; else noItems">
                                                <tr *ngFor="let item of getlist">
                                                    <td class="valign-middle">
                                                        <mat-checkbox (change)="selectPersonForAssign($event,item)">
                                                        </mat-checkbox>
                                                    </td>
                                                    <td class="aut-lbl-caseWorkerName">{{item.username}} </td>
                                                    <td>
                                                        <mat-form-field>
                                                            <mat-label>Responsibility</mat-label>
                                                            <mat-select  (selectionChange)="changeResponsibility($event,item)">
                                                                <mat-option *ngFor="let type of responsibilityTypeDropdownItems" [value]="type.value">
                                                                    {{type.text}}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <mat-label></mat-label>
                                                        <div *ngIf="isChildResponsibilityTypeSelected(item)">
                                                            <mat-form-field>
                                                                <mat-label>Child List</mat-label>
                                                                <mat-select  multiple  required="isChildResponsibilityTypeSelected(item)" (selectionChange)="addChild($event, item)">
                                                                    <ng-container *ngFor="let child of childList">
                                                                        <mat-option [disabled]="child.isassignment === 1 || (child.isselected && child.isselected !== item.userid)"  [value]="child.intakeservicerequestactorid"><span>{{child.firstname}} </span> <span>{{child.lastname}}</span></mat-option>
                                                                    </ng-container>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </td>
                                                    <td *ngIf="!isSupervisor">{{item.workloads}}</td>
                                                    <td *ngIf="!isSupervisor">{{item.available}}</td>
                                                    <td *ngIf="!isSupervisor">{{item.worklocationcode ?
                                                        item.worklocationcode : 'N/A'}}</td>
                                                    <td *ngIf="isSupervisor">{{item.agencykey}}</td>
                                                    <td>{{item.userrole}}</td>
                                                    <td>{{item.teamname}}</td>
                                                    <td>{{item.totalcases ? item.totalcases : 'N/A'}}</td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                    <ng-template #noItems>No Items!</ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row m-t-10">
                        <div class="col-sm-12 m-t-10">
                        <div class="col-sm-3 assign">
                            <span>Program Assignment:</span>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <label class="required">Program Area</label>
                                <mat-select [disabled]="true" formControlName="programkey">
                                    <mat-option *ngFor="let status of programArea" value="{{status.programkey}}">{{status.programname}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-5">
                            <mat-form-field>
                                <label class="required">Program Sub Area</label>
                                <mat-select [disabled] = "true"formControlName="subprogramkey">
                                    <mat-option *ngFor="let status of programSubArea" value="{{status.subprogramkey}}">
                                    {{status.subprogramname}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer wizard-buttons">
                <button class="btn-pri aut-btn-assign" [disabled] = "disableassign" (click)="assignUser()">ASSIGN</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="intake-caseassign-completed" role="dialog"  data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <h4 class="modal-title">Route Case</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close" (click)="onClose()"></button>
            </div>
            <div class="modal-body dashboard-cont">

                <div class="tab-horizontal mrg-btm25">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#caseassign-caseworker" data-bs-toggle="tab"
                                (click)="listUser('TOBEASSIGNED')">Appeal Users</a>
                        </li>
                        <li class="text-end pos-right" [formGroup]="teamForm" *ngIf="!isSupervisor">
                            <mat-form-field>
                                <mat-label>Filter By UNIT</mat-label>
                                <mat-select  formControlName="teamid" [value]="teamid" (selectionChange)="teamChange()">
                                    <mat-option value="">All</mat-option>
                                    <mat-option *ngFor="let item of teamList" [value]="item.teamid">{{item.name}} <strong>({{item.parentteamname}})</strong></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>
                    </ul>
                    <div class="tab-content boxgrid">
                        <div class="tab-pane active" id="caseassign-caseworker">
                            <div class="">
                                <div class="table-responsive table-theme">
                                    <table class="table table-striped" sortable-table (sorted)="onSorted($event)" aria-describedby="tbl-case-assign-case-worker-list">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">NAME</th>
                                                <th scope="col" *ngIf="!isSupervisor">CASE LOAD</th>
                                                <th scope="col" *ngIf="!isSupervisor">AVAILABILITY</th>
                                                <th scope="col" *ngIf="!isSupervisor">ZIP CODE</th>
                                                <th scope="col" *ngIf="isSupervisor">AGENCY</th>
                                                <th scope="col">TYPE OF WORKER</th>
                                                <th scope="col">UNIT</th>
                                                <th scope="col">Total Cases</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="getUsersList; let getlist">
                                            <ng-container *ngIf="getlist.length>0; else noItems">
                                                <tr *ngFor="let item of getlist">
                                                    <td>
                                                        <label class="control control--radio">
                                                            <input type="radio" name="Address"
                                                                (click)="selectPerson(item)"
                                                                class="aut-rdo-caseWorkerRadio">
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </td>
                                                    <td class="aut-lbl-caseWorkerName">{{item.username}} </td>
                                                    <td *ngIf="!isSupervisor">{{item.workloads}}</td>
                                                    <td *ngIf="!isSupervisor">{{item.available}}</td>
                                                    <td *ngIf="!isSupervisor">{{item.worklocationcode ?
                                                        item.worklocationcode : 'N/A'}}</td>
                                                    <td *ngIf="isSupervisor">{{item.agencykey}}</td>
                                                    <td>{{item.userrole}}</td>
                                                    <td>{{item.teamname}}</td>
                                                    <td>{{item.totalcases ? item.totalcases : 'N/A'}}</td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                    <ng-template #noItems>No Items!</ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer wizard-buttons">
                <button class="btn-pri aut-btn-assign" (click)="assignAppealUser()">ASSIGN</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="appeal-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> APPEAL </h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" (click)="this.appealForm.reset()"></button>
            </div>
            <div class="modal-body">
                <div class="row" [formGroup]="appealForm">
                    <div class="col-sm-12">
                        <mat-form-field>
                            <mat-label>Appeal Date</mat-label>
                            <input matInput formControlName="appealdate" autocomplete="off" [matDatepicker]="picker1" id="date1"
                                >
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                        <mat-form-field>
                            <mat-label>Appeal Status</mat-label>
                            <mat-select  formControlName="dispositioncode">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let status of statusDropdownItems$ | async"
                                    value="{{status.value}}">{{status.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                        <mat-form-field>
                            <mat-label>SAO Appeal Notes *</mat-label>
                            <textarea type="text" matInput formControlName="remarks"
                                ></textarea>
                        </mat-form-field>
                    </div>

                    <div class="text-end big-bot-space right-mspace-15">
                        <button type="button" [disabled]="appealForm.pristine || appealForm.invalid" class="btn-pri"
                            (click)="saveAppeal()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Restricted Case Assignment Ack -->
<div class="modal fade" id="restrict-item-assign-ack" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Restricted Case Assignment</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
                <div class="modal-body">
                    <p> Since this case {{selectedCaseForAssignment}} is a restricted item, the assigned person {{selectedPerson?.username}} will also be granted access. </p>
                </div>
            <div class="modal-footer">
                <div class="text-end right-mspace-15">
                    <button type="button" class="btn-bg" data-bs-dismiss="modal"> Done </button>
                </div>
            </div>
        </div>
    </div>
</div>