<div class="container-fluid">
  <div class="">
    <h4 class="semi-b">Payment Plan</h4>
    <div class="table-responsive table-theme m-t-20">
      <table class="table table-striped" aria-describedby="Payment Plan List">
        <thead>
          <tr>
            <th id="startDateHeader">Start Date</th>
            <th id="endDateHeader">End Date</th>
            <th id="receivableIdHeader">Receivable Id</th>
            <th id="recBalanceHeader">Receivable Balance</th>
            <th id="mAmountDueHeader">Monthly Amount Due</th>
            <th id="actionHeader">Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let paymentplan of paymentPlans">
            <tr *ngIf="paymentplan && paymentplan.delete_sw === 'N'">
              <td>{{paymentplan.start_dt | date : 'MM/dd/yyyy'}}</td>
              <td>{{paymentplan.end_dt | date : 'MM/dd/yyyy'}}</td>
              <td>{{paymentplan.receivable_id}}</td>
              <td>{{paymentplan.current_receivable_amount | cjamsCurrency}}</td>
              <td>{{paymentplan.amount_no | cjamsCurrency}}</td>
              <td><button class="icon-btn" type="button" (click)="viewPaymentPlan(paymentplan)"><i class="fa fa-eye"
                    aria-hidden="true"></i></button>&nbsp;&nbsp;
                   <span *ngIf="isVissbleButton"> 
                    <button *ngIf="!paymentplan.placementexists && paymentplan.approvalstatus === '3047' && paymentplan.current_receivable_amount && paymentplan.current_receivable_amount != '0.00'" class="icon-btn" type="button" (click)="editPaymentPlan(paymentplan)"><i class="fa fa-pencil"
                      aria-hidden="true"></i></button>
                    </span>
                    </td>
            </tr>
          </ng-container>
          <tr *ngIf="!paymentPlans?.length">
            <td colspan="5" style="text-align: center !important;">
              No Payment Plans found.
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center" *ngIf="totalcount > 10">
          <pagination [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
              class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
          </pagination>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="paymentplan-details" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Payment Plan Details</h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body m-10">
        <div [formGroup]="paymentPlanForm">
          <div class="row">
            <h4 class="semi-b">Payment Plan Details</h4>
            <div class="col-md-6">
              <mat-form-field>
                <mat-label>Entered By</mat-label>
                <input matInput formControlName="entered_by" >
              </mat-form-field>
            </div>
            <div class="col-md-6">
                <currency-input matInput formControlName="current_receivable_amount" placeholder="Current Balance"></currency-input>
            </div>
          </div>
          <div class="row m-t-20">
            <h4 class="semi-b m-b-20">Payment Option</h4>
            <div class="col-md-12">
              <h5 class="m-b-20" *ngIf="!placementexists">Inactive/Active Status (No Placement)</h5>
              <h5 class="m-b-20" *ngIf="placementexists">Inactive/Active Status (Active Placements)</h5>
              <div class="row">
                <div class="col-md-6 m-t-15">
                    <label class="control control--radio"> Percentage
                        <input type="radio" formControlName="payment_option_sw" value="A" (change)="onSelectPercentage()">
                        <div class="control__indicator"></div>
                    </label>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput formControlName="percentage_no" (change)="calPercentage($event)">
                    <span matSuffix>%</span>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 m-t-15">
                    <label class="control control--radio"> Monthly Amount
                        <input type="radio" formControlName="payment_option_sw" value="B" (change)="onMonthlyAmount()">
                        <div class="control__indicator"></div>
                    </label>
                </div>
                <div class="col-md-6">
                    <currency-input [min]="0" matInput  formControlName="months_amount" (change)="calMonthlyAmount($event)"></currency-input>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 m-t-15">
                    <label class="control control--radio"> Number of Months
                        <input type="radio" formControlName="payment_option_sw" value="C" (change)="onSelectNumberOfMonths()">
                        <div class="control__indicator"></div>
                    </label>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput formControlName="months_no" (change)="calNumberOfMonths($event)">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <common-date-picker formControlName="start_dt"
                    placeholder="Start Date" (valueChange)="onChangeStartDate()">
                  </common-date-picker>
                </div>
                <div class="col-md-6">
                    <common-date-picker formControlName="end_dt"
                    placeholder="End Date">
                  </common-date-picker>
                </div>
            </div>
            <div class="col-md-12">
              <mat-form-field class="">
                  <textarea id="reason" matInput placeholder="Reasons and Additional Information" formControlName = "reasons_tx" maxlength="500"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row" *ngIf="isEdit">
            <div class="col-md-12 m-t-10">
              <button [disabled]="placementexists || !isValid || isButtonClicked" class="btn btn-pri pull-right" data-bs-dismiss="modal" (click)="savePayment()">Save</button>
                <button class="sec-btn pull-right m-r-10" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="payment-history">
    <div class="modal-dialog modal-lg custom-wid">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
              <h4 class="modal-title">Payment Plan History</h4>
              <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive table-theme m-t-20">
                            <table class="table table-striped" aria-describedby="Payment Plans History List">
                                <thead>
                                  <tr>
                                    <th id="pphStareDateHeader">Start Date</th>
                                    <th id="pphEndDateHeader">End Date</th>
                                    <th id="pphReceivableIdHeader">Receivable Id</th>
                                    <th id="pphRecBalanceHeader">Receivable Balance</th>
                                    <th id="pphMadHeader">Monthly Amount Due</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <ng-container *ngFor="let paymentplan of paymentPlansHistory">
                                    <tr *ngIf="paymentplan && paymentplan.delete_sw === 'Y'">
                                      <td>{{paymentplan.start_dt | date : 'MM/dd/yyyy'}}</td>
                                      <td>{{paymentplan.end_dt | date : 'MM/dd/yyyy'}}</td>
                                      <td>{{paymentplan.receivable_id}}</td>
                                      <td>{{paymentplan.current_receivable_amount | cjamsCurrency}}</td>
                                      <td>{{paymentplan.amount_no | cjamsCurrency}}</td>
                                     
                                    </tr>
                                  </ng-container>
                                  <tr *ngIf="!paymentPlansHistory?.length">
                                    <td colspan="5" style="text-align: center !important;">
                                      No Payment Plans History found.
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="text-center" *ngIf="totalcountHistory > 10">
                                  <pagination [totalItems]="totalcountHistory" [(ngModel)]="pageInfo.pageNumber" (pageChanged)="pageHistoryChanged($event.page)"
                                      class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                                  </pagination>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer wizard-buttons">
                <button class="sec-btn" type="button" data-bs-dismiss="modal" name="">Close</button>
                
             </div>
        </div>
      </div>
</div>      