<div role="tabpanel" class="tab-pane dd-overflow-inherit" id="add-security-roles">
  <form [formGroup]="addSecurityRoles" (submit)="(saveButton) ? updateLogin() : saveLogin()">
    <div class="row p-l-r">
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="" formControlName="email" required>
          <mat-error>
            <mat-error>
              <control-messages class="alert-align" [control]="getControlByIndexFn('email')"></control-messages>
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>pswd</mat-label>
          <input type="text" matInput placeholder="" autocomplete="off" formControlName="password" required>
          <mat-error>
            <control-messages class="alert-align" [control]="getControlByIndexFn('password')"></control-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Confirm pswd</mat-label>
          <input type="text" #showhideinputconfirmpassword matInput placeholder=""
            formControlName="confirmpassword" autocomplete="off" required>
          <mat-error>
            <control-messages class="alert-align" [control]="getControlByIndexFn('confirmpassword')">
            </control-messages>
          </mat-error>
          <mat-error *ngIf="addSecurityRoles.controls['confirmpassword']?.errors?.equalValue">
            The passwords you entered do not match.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <div class="pull-right mrg-top25">
          <button type="button" value="Cancel" class="btn-bg" name="cancel" (click)="closeUserProfile()">Cancel</button>
          <button type="submit" value="Save" class="btn-pri" name="save"
            [disabled]="addSecurityRoles.pristine || addSecurityRoles.invalid">{{saveButton === true ? 'Save' : 'Save'}}</button>
        </div>
        <div class="pull-right mrg-top25 mar-rht-15" *ngIf="resetButton">
          <button type="button" value="reset" class="btn-pri" name="reset" (click)="resetPassword()">Reset</button>
        </div>
      </div>
    </div>
  </form>
</div>