<div id="Investigation-Plan" class="tab-pane no-pad" role="tabpanel">
    <div *ngIf = "moduleview" class="row">
        <div class="col-sm-12">
            <div class="tab-horizontal" *ngIf="isServiceCase || isInHomeservice">
                <ul class="nav nav-pills checklisttab">
                    <li class="active" data-bs-toggle="tab" (click)="setFormValues(1)" ><a>In-Home</a></li>
                    <li data-bs-toggle="tab" class="notactive" (click)="setFormValues(0)"><a>Out-Of-Home</a></li>
                </ul>
            </div>
            <div class="tab-horizontal">
                <mat-radio-group name="selectedActionType" [(ngModel)]="selectedActionType"
                    (change)="changeSelectedActionType($event)">
                    <mat-radio-button value="SORT">Sort</mat-radio-button>
                </mat-radio-group>
                <span>
                    <em class="fa fa-undo" (click)="resetSelectedActionType()">&nbsp;Reset</em>
                </span>
            </div>
            <div class="tab-horizontal">
                <mat-card appearance="outlined" class="mb-20" *ngIf="sortBy" >
                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <form [formGroup]="sortCategoryForm">
                                <div class="form-control-size txt-left">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label> Sort By </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <mat-form-field>
                                                <mat-label>Field</mat-label>
                                                <mat-select formControlName="sortBy" required placeholder="">
                                                    <mat-option *ngFor="let item of sortDropDown | orderBy:'text'"
                                                        [value]="item.value">{{item.text}}
                                                    </mat-option>
        
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-3">
                                            <mat-form-field>
                                                <mat-label>Sort Direction</mat-label>
                                                <mat-select formControlName="sortDir" required placeholder="">
                                                    <mat-option value="asc">
                                                        Ascending
                                                    </mat-option>
                                                    <mat-option value="desc">
                                                        Descending
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="text-right text-end">
                                        <button type="submit" (click)="sortactivity()" class="btn-pri"> Sort
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="tab-horizontal" *ngIf="(isServiceCase || isInHomeservice) && showKinshipTab">
                <ul class="nav nav-pills checklisttab">
                    <li class="active" data-bs-toggle="tab" (click)="showKinshipChecklist(false)" ><a>In-Home</a></li>
                    <li data-bs-toggle="tab" class="notactive" (click)="showKinshipChecklist(true)"><a>Kinship Navigator Checklist</a></li>
                </ul>
            </div>
            <div *ngIf="isKinshipNavigator" class="tab-content">
                <div class="tab-pane active">
                <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-5 offset-lg-7">
                                    <ul *ngIf="(investigationPlanCaseCount$ | async); let investigationPlanCaseCount" class="list-unstyled task-list justify-content-end d-flex flex-wrap">
                                        <li class="">
                                            <a
                                                >TOTAL TASKS <span class="badge bg-primary">8</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                >OPEN TASKS <span class="badge bg-warning">{{openTasks}}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                >CLOSED TASKS <span class="badge bg-success">{{closedTasks}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                                <div class="form-letter-tab form-align table-act no-mar investgation-listtbl">
                                    <div class="table-responsive table-theme dd-overflow-inherit">
                                        <table class="table table-striped" aria-describedby="tbl-task-lst">
                                            <thead>
                                                <tr>
                                                    <th scope="col" style="width: 75%">Task</th>
                                                    <th scope="col">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let currentTask of kinshipChecklist; let i = index">
                                                <tr class="dd-overflow-inherit">
                                                    <td>{{currentTask.description}}</td>
                                                    <td>{{currentTask.value ? 'Completed' : 'Pending'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        </div>
                </div>
                </div>
            </div>
            <div *ngIf="!isKinshipNavigator" class="tab-content">
                <div class="tab-pane active">
                <div class="row">
                        <div class="col-sm-12">
                            <div class="" [formGroup]="investigationPlanSearchFormGroup">
                                <div *ngIf="(dsdsActionsSummary$ | async); let dsdsActionsSummary" class="form-search-person no-pad">
                                    <div class="row">
                                        <div class="col-lg-5 offset-lg-7">
                                            <ul *ngIf="(investigationPlanCaseCount$ | async); let investigationPlanCaseCount" class="list-unstyled task-list justify-content-end d-flex flex-wrap">
                                                <li class="">
                                                    <a
                                                        >TOTAL TASKS <span class="badge bg-primary">{{ investigationPlanCaseCount?.totalcount }}</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        >OPEN TASKS <span class="badge bg-warning">{{ investigationPlanCaseCount?.openedcount }}</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        >CLOSED TASKS <span class="badge bg-success">{{ investigationPlanCaseCount?.closedcount }}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div *ngIf="agency === 'AS'" class="col-lg-7 col-md-12">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <div class="row">
                                                        <div class="col-sm-5"><h5 class="s-w text-end">Sort By Activity</h5></div>
                                                        <div class="col-sm-7">
                                                            <ng-select formControlName="activityname" [searchable]="true" [clearable]="false" (change)="getActionSummary()">
                                                                <ng-option value="">All</ng-option>
                                                                <ng-option *ngFor="let activity of (activityDropdownItems$ | async)" [value]="activity.value">{{ activity.text }}</ng-option>
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                                    <div class="mb-3">
                                                        <ul class="list-unstyled list-inline pull-right task-menu {{caseStatus}}">
                                                            <li>
                                                                <a href="javascript:{}" class="hidefromview" (click)="routeToChecklist(dsdsActionsSummary.da_investigationid)">
                                                                    <img src="assets/images/suggest-icon.png" alt="" />Add Check List</a
                                                                >
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="agency === 'AS'" class="col-md-12 col-lg-5 pull-right">
                                            <div class="mb-3">
                                                <ul class="list-unstyled list-inline pull-right task-menu {{caseStatus}}">
                                                    <li>
                                                        <a
                                                            href="javascript:{}"
                                                            [routerLink]="[
                                                                '/pages/case-worker/' +
                                                                    id +
                                                                    '/' +
                                                                    daNumber +
                                                                    '/dsds-action/investigation-plan/plan-task/' +
                                                                    dsdsActionsSummary.da_investigationid +
                                                                    '/' +
                                                                    dsdsActionsSummary.da_loadnumber
                                                            ]"
                                                        >
                                                            <img src="assets/images/add-icon.png" alt="" />Create Task</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="row"><div class="col-md-7 col-lg-6 pull-right"></div></div>
                
                                    <div class="col-md-4" style="display:none;">
                                        <div class="mb-3">
                                            <label class="control control--radio">
                                                <strong>Next Step</strong> <input type="radio" name="radio" />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="" [formGroup]="activityTaskStatusFormGroup"  [fieldKey]="'caseworker-checklist'">
                                <div class="form-letter-tab form-align table-act no-mar investgation-listtbl">
                                    <div class="table-responsive table-theme dd-overflow-inherit">
                                        <table class="table table-striped" formArrayName="task" aria-describedby="tbl-case-worker-checklist-lst">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Assigned Date</th>
                                                    <th scope="col" *ngIf="agency === 'AS'">Activity</th>
                                                    <th scope="col" style="width:30%">Task</th>
                                                    <th scope="col">Due Date</th>
                                                    <th scope="col">Completed Date</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col" *ngIf="isAS">Dispositions</th>
                                                    <th scope="col" *ngIf="isDJS"  style="width: 25%" >Notes</th>                                    
                                                    <th scope="col" *ngIf="isDJS">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let currentTask of taskFormArrayList.controls; let i = index" [formGroupName]="i" class="tbl-align">
                                                <tr class="dd-overflow-inherit" *ngIf="(forkedResult$ | async); let forkedResults">
                                                    <td>{{ currentTask.get('assignedon')?.value | date: 'MM/dd/yyyy':'UTC' }}</td>
                                                    <td *ngIf="agency === 'AS'">{{ currentTask.get('actvityname')?.value }}</td>
                                                    <td>
                                                        <div
                                                            *ngIf="agency === 'AS' && (currentTask.get('tasktype')?.value === 'Assessment' || currentTask.get('tasktype')?.value === 'Placement');
                                                                else: formDataList">
                                                            <span
                                                                ><a (click)="navigateToTask(currentTask.get('tasktype')?.value)">{{ currentTask.get('taskdescription')?.value }}</a></span
                                                            >
                                                        </div>
                                                        <ng-template #formDataList>
                                                            <span>{{ currentTask.get('taskdescription')?.value }}</span>
                                                        </ng-template>
                                                    </td>
                                                    <td *ngIf="!(currentTask.get('iseditable')?.value && currentTask.get('isstatustype')?.value)">{{ currentTask.get('duedate')?.value | date: 'MM/dd/yyyy' }}</td>
                                                    <td *ngIf="currentTask.get('iseditable')?.value && currentTask.get('isstatustype')?.value">
                                                        <mat-form-field>
                                                            <input matInput formControlName="duedate" (click)="picker1.open()" autocomplete="off" [matDatepicker]="picker1"/>
                                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                            <mat-datepicker #picker1></mat-datepicker>
                                                        </mat-form-field>
                                                    </td>
                                                    <td style="padding-bottom: 0;">
                                                        <div class="mb-3 dd-overflow-inherit mb-0">
                                                            <div class="fm-box-form no-pad dpnew">
                                                                <mat-form-field>
                                                                    <input matInput formControlName="completeddate" (click)="picker.open()" autocomplete="off" [matDatepicker]="picker" [max]="maxDate" [disabled]="!(currentTask.get('isstatustype')?.value)"/>
                                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                    <mat-datepicker #picker></mat-datepicker>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="status">
                                                        <div>
                                                            <mat-form-field>
                                                                <mat-select formControlName="activitytaskstatustypekey" [disabled]="!(currentTask.get('isstatustype')?.value)">
                                                                    <mat-option *ngFor="let tasktypestatus of forkedResults[i]" [value]="tasktypestatus.value"> {{tasktypestatus.text}} </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </td>
                                                    <td class="disposition" *ngIf="isAS">
                                                        <div>
                                                            <mat-form-field>
                                                                <mat-select formControlName="taskdispositiontypekey" [disabled]="!(currentTask.get('isstatustype')?.value)">
                                                                    <mat-option *ngFor="let item of dispositionStatusDetails" [value]="item.ref_key"> {{item.description}} </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </td>                                    
                                                    <td class="disposition" *ngIf="isDJS">
                                                        <div>
                                                            <mat-form-field>
                                                                <mat-label>Notes</mat-label>
                                                                <input matInput formControlName="notes" [disabled]="!(currentTask.get('isstatustype')?.value)" placeholder="">
                                                            </mat-form-field>
                                                        </div>
                                                    </td>
                                                    <td *ngIf="isDJS" class="disposition">
                                                        <a *ngIf="(currentTask.get('isstatustype')?.value)" data-bs-toggle="tooltip" class="approval" (click)="addTask(i)" matTooltip="Submit!"> <em class="fa fa-check"></em> </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="mrg-top15 row">
                                <div class="col-sm-12">
                                    <div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
                                        <pagination
                                            *ngIf="pagination.canDisplayPager"
                                            [totalItems]="pagination.totalRecords ?? 0"
                                            [(ngModel)]="paginationInfo.pageNumber"
                                            (pageChanged)="pageChanged($event)"
                                            class="pagination-sm"
                                            [boundaryLinks]="true"
                                            [maxSize]="15"
                                            [itemsPerPage]="15"
                                        ></pagination>
                                    </div>
                                </div>
                                <div class="text-end">
                                    <span *securityKeyNew = "'checklist,checklist.checklists.save'" [fieldKeyNew] = "'checklist,checklist.checklists.save'">
                                        <span *ngIf="isReadonly">
                                            <div class="btn-group btn-group-re text-end" *ngIf="!isDJS">
                                                <button type="submit" [disabled]="isClosed" class="btn-pri" (click)="saveTask()">Save                          
                                                </button>
                                            </div>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                </div>
                </div>
            </div>    
        </div>
    </div>


    <!-- Conclude Investigation Modal content -->
    <div class="modal fade in teams-pos conclude-investigation" [formGroup]="activityGoalsFormGroup" id="myModal-conclude-investigation" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content -->
            <div class="modal-content customize-modal">
                <div class="modal-header">
                    <h4 class="modal-title">{{ editLabel }} Goal Details</h4>
                    <button type="button" id="btnClose" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
                </div>
                <input type="hidden" [disabled]="true" formControlName="activitygoalid" />
                <div class="modal-body leftalign pad-modal dd-overflow-inherit">
                    <div class="form_section">
                        <div class="form-horizontal">
                            <div class="mb-3">
                                <label for="Team Number" class="col-sm-3 control-label">Goal</label>
                                <div class="col-sm-8"><textarea type="text" [disabled]="true" formControlName="goal" style="width:60%"></textarea></div>
                            </div>
                            <div class="mb-3 ">
                                <label for="region" class="col-sm-3 control-label">Type</label>
                                <div class="col-sm-5 fm-box-form">
                                    <ng-select [disabled]="true" [searchable]="true" [clearable]="false" id="region-drop" formControlName="goalType">
                                        <ng-option *ngFor="let goaltype of (goalTypeDropdownItems$ | async | orderBy: 'text')" [value]="goaltype.value">{{ goaltype.text }}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="Effective Date" class="col-sm-3 control-label">Due Date</label>
                                <div class="col-sm-5">
                                    <div class="fm-box-form pr clsIntake">
                                       
                                        <mat-form-field>
                                            <mat-label>Due Date</mat-label>
                                            <input matInput [matDatepicker]="picker18" autocomplete="off" class="form-control" placeholder="MM/DD/YYYY" formControlName="duedate">
                                            <mat-datepicker-toggle matIconSuffix [for]="picker18"></mat-datepicker-toggle>
                                            <mat-datepicker #picker18></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="Parent Team" class="col-sm-3 control-label">Status:</label>
                                <div class="col-sm-5">
                                    <ng-select [searchable]="true" [clearable]="false" formControlName="status" (change)="changeGoalStatusType()">
                                        <ng-option value="">Select</ng-option>
                                        <ng-option *ngFor="let status of (goalStatusTypeDropdownItems$ | async)" [value]="status.value">{{ status.text }}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="Parent Team" class="col-sm-3 control-label">Disposition:</label>
                                <div class="col-sm-5">
                                    <ng-select [searchable]="true" [clearable]="false" formControlName="disposition">
                                        <ng-option value="">Select</ng-option>
                                        <ng-option *ngFor="let disposition of (dispositionDropdownItems$ | async)" [value]="disposition.value">{{ disposition.text }}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="Effective Date" class="col-sm-3 control-label required">Completion Date</label>
                            <div class="col-sm-5">
                                <div class="fm-box-form pr clsIntake">
                                    
                                    <mat-form-field>
                                        <mat-label>Completion Date</mat-label>
                                        <input matInput [matDatepicker]="picker16" autocomplete="off" placeholder="MM/DD/YYYY" class="form-control" formControlName="completiondate">
                                        <mat-datepicker-toggle matIconSuffix [for]="picker16"></mat-datepicker-toggle>
                                        <mat-datepicker #picker16></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="col-sm-12 mrg-top25">
                                    <div class="pull-right">
                                        <button type="button" value="Cancel" class="btn-bg" name="" data-bs-dismiss="modal">Cancel</button>
                                        <span *ngIf="_authService.readonlyButton('read_only_access','investigation-edit-mode')">
                                        <button type="button" [disabled]="isClosed" value="Save" class="btn-pri" (click)="updateGoal()" [disabled]="activityGoalsFormGroup.pristine || activityGoalsFormGroup.invalid">
                                            Save
                                        </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade form-letter-tab" id="myModal-edit-goal-details" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content -->
            <div class="modal-content customize-modal">
                <div class="modal-header">
                    <h4 class="modal-title">{{ editLabel }} Task Details</h4>
                    <button type="button" id="btnClose" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row" [formGroup]="activityTaskFormGroup">
                        <div class="col-sm-12 mrg-top0">
                            <ul class="nav nav-tabs mapping-nav" role="tablist">
                                <li role="presentation" class="active"></li>
                                <li role="presentation" class="hide"><a href="#activity-tasks" aria-controls="edl-review-results" role="tab" data-bs-toggle="tab">Exception Tasks </a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="activity-goals">
                                    <div class="form_section">
                                        <div class="form-search-person no-pad">
                                            <div class="col-md-6 dd-overflow-inherit">
                                                <input type="hidden" class="form-control" formControlName="activitytaskid" />
                                                <div class="">
                                                    <div class="mb-3"><label>Task</label> <input type="text" class="form-control" [disabled]="true" formControlName="task" /></div>
                                                    <div class="mb-3">
                                                        <label>Created Date:</label>
                                                        <div class="fm-box-form col-sm-8 no-pad dpnew">
                                                            
                                                            <mat-form-field>
                                                                <mat-label>Created Date</mat-label>
                                                                <input matInput [matDatepicker]="picker15" autocomplete="off" placeholder="MM/DD/YYYY" class="form-control" formControlName="insertedon" [disabled] = "true" value="">
                                                                <mat-datepicker-toggle matIconSuffix [for]="picker15"></mat-datepicker-toggle>
                                                                <mat-datepicker #picker15></mat-datepicker>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3"><label>Description</label> <input type="text" class="form-control" [disabled]="true" formControlName="taskdescription" disbaled /></div>
                                               
                                                <div class="mb-3 dd-overflow-inherit">
                                                    <label>Completed</label>
                                                    <div class="fm-box-form col-sm-8 no-pad dpnew">
                                                       
                                                        <mat-form-field>
                                                            <mat-label>Completed</mat-label>
                                                            <input matInput [matDatepicker]="picker14" autocomplete="off" placeholder="MM/DD/YYYY" maxDate class="form-control full-collapse-horizontal" formControlName="completeddate">
                                                            <mat-datepicker-toggle matIconSuffix [for]="picker14"></mat-datepicker-toggle>
                                                            <mat-datepicker #picker14></mat-datepicker>
                                                        </mat-form-field>
                                                        <control-messages [control]="getControlByIndexFn('completeddate')"></control-messages>
                                                    </div>
                                                    <div class="input-group">
                                                        <small class="text-danger" *ngIf="activityTaskFormGroup.hasError('notValidCompletedDate')"
                                                            >Completed date should be greater than created on date</small
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>

                                            <div class="clearfix"></div>
                                            <div class="col-sm-12 time-date" *ngIf="showTime">
                                                <div class="col-md-2 time-date">
                                                    <div class="pad-left15 mb-3"><label class="full-collapse-horizontal">Start Time</label></div>
                                                </div>
                                                <div class="col-md-3 time-date">
                                                    <div class="mb-3 dd-overflow-inherit">
                                                        <div class="fm-box-form no-pad dpnew">
                                                           
                                                            <mat-form-field>
                                                                <mat-label>Start Time</mat-label>
                                                                <input matInput [matDatepicker]="picker13" autocomplete="off" placeholder="MM/DD/YYYY" class="form-control" formControlName="enddate">
                                                                <mat-datepicker-toggle matIconSuffix [for]="picker13"></mat-datepicker-toggle>
                                                                <mat-datepicker #picker13></mat-datepicker>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="mb-3">
                                                        <input type="text" class="form-control full-collapse-horizontal" value="|date : 'hh:mm'" formControlName="starttime" placeholder="Time" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="mb-3">
                                                        <ng-select class="label-right-select" [searchable]="true" [clearable]="false" formControlName="starttimeformat">
                                                            <ng-option value="">Select</ng-option>
                                                            <ng-option value="AM">AM</ng-option>
                                                            <ng-option value="PM">PM</ng-option>
                                                        </ng-select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 time-date" *ngIf="showTime">
                                                <div class="col-md-2 time-date">
                                                    <div class="pad-left15 mb-3"><label class="full-collapse-horizontal">End Time</label></div>
                                                </div>
                                                <div class="col-md-3 time-date">
                                                    <div class="mb-3 dd-overflow-inherit">
                                                        <div class="fm-box-form no-pad dpnew">
                                                            
                                                            
                                                            <mat-form-field>
                                                                <mat-label>End Time</mat-label>
                                                                <input matInput [matDatepicker]="picker12" autocomplete="off" placeholder="MM/DD/YYYY" class="form-control" formControlName="enddate">
                                                                <mat-datepicker-toggle matIconSuffix [for]="picker12"></mat-datepicker-toggle>
                                                                <mat-datepicker #picker12></mat-datepicker>
                                                            </mat-form-field>                                                              
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="mb-3"><input type="text" class="form-control full-collapse-horizontal" formControlName="endtime" placeholder="Time" /></div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="mb-3">
                                                        <ng-select class="label-right-select" [searchable]="true" [clearable]="false" formControlName="endtimeformat">
                                                            <ng-option value="">Select</ng-option>
                                                            <ng-option value="AM">AM</ng-option>
                                                            <ng-option value="PM">PM</ng-option>
                                                        </ng-select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="required">Status</label>
                                                    <ng-select
                                                        class="col-md-6 label-right-select"
                                                        formControlName="activitytaskstatustypekey"
                                                        (change)="changeTaskStatusType()"
                                                        [searchable]="true"
                                                        [clearable]="false"
                                                    >
                                                        <ng-option value="">Select</ng-option>
                                                        <ng-option *ngFor="let tasktypestatus of (taskTypeStatusDropdownItems$ | async)" [value]="tasktypestatus.value">{{
                                                            tasktypestatus.text
                                                        }}</ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="required">Disposition</label>
                                                    <ng-select
                                                        class="col-md-6 label-right-select"
                                                        [searchable]="true"
                                                        [clearable]="false"
                                                        formControlName="activitytaskdispositiontypekey"
                                                        id="parent-team-drop"
                                                    >
                                                        <ng-option value="">Select</ng-option>
                                                        <ng-option *ngFor="let disposition of (taskDispositionDropdownItems$ | async)" [value]="disposition.value">{{ disposition.text }}</ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mrg-top25">
                            <div class="pull-right">
                                <button type="button" value="Cancel" class="btn-bg" data-bs-dismiss="modal">Cancel</button>
                                <span *ngIf="_authService.readonlyButton('read_only_access','investigation-edit-mode')">
                                <button type="button" ngif value="Save" class="btn-pri" (click)="updateActivityTask()" [disabled]="activityTaskFormGroup.pristine || activityTaskFormGroup.invalid">
                                    Save
                                </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
