.form-align .input-group input {
    border: 1px solid #D8D8D8;
    border-radius: 2px;
}
.s-w {
    font-weight: 600;
    vertical-align: middle;
}
@media only screen and (min-device-width : 1024px) {
    .task-menu li a{ padding-left: 15px;}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .task-menu li a{ padding-left: 13px; }
    .form-search-person .form-group label{width: 45%;}
}


@media only screen
and (min-device-width : 420px)
and (max-device-width : 767px) {
    .form-search-person .form-group label {width: 50%;}
    .task-menu li a{line-height: 30px;}
}

.task-list {
    // border: 1px solid #e5e5e5;
    margin: 0;
    // width: fit-content;
}
.task-list li {
    padding: 10px 0px 5px 15px;
}

.task-list li:last-child{border-right:0 solid #e5e5e5;}
.task-list .badge{margin-left: 5px; display: inline-block; padding: 5px; min-width: 25px; font-size: 100%;}
@media only screen
and (max-device-width : 420px){
    .form-search-person .form-group label {
        width: 100%;}
}
@media only screen and (min-device-width : 560px)
and (max-device-width : 1100px) {
.modal .form-search-person .form-group label {
    width: 33%;}
}

.form-letter-tab .table-form .table-form-control, .table-act > select.table-form-control{min-width: 100px;}
.edit-task-link { color: #9c9c9c;font-weight: 600;font-size: 13px;}
.control input:checked ~ .control__indicator{top:-5px;}

.modal.in .modal-dialog{height: 94vh; margin: 0 auto;}
.modal .modal-body{height:calc(94vh - 42px);}

.select-icon .ng-select .ng-control, .ng-select .ng-control{background-color: transparent;}
.form-letter-tab .table-bordered>tbody>tr>td{font-size: 14px;}

.form-group a:hover,
.form-group a:focus,
.form-group a:active{
border: 0 solid #00bcd3 !important;
}


.investgation-listtbl .table .status .ng-select .ng-control{width: 195px !important;}
.investgation-listtbl .table .disposition .ng-select .ng-control{width: 115px !important;}

.investgation-listtbl .ng-select .ng-control{width: 195px !important;}



.fa-check {
    color: #00A2FD;
    font-size: 16px;
}
a.approval{
    margin-left: 10px;
}

.select-icon:after {
    right: 5px;
    border-width: 6px 5px 0 5px;
}
.table-theme .table tr td {
    padding:20px 8px 0;
}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.investgation-listtbl .mat-form-field-infix {
    height: 25px;
}
.task-list li a {
    font-size: 12px;
    font-weight: 600;
    color: #000;
    cursor: inherit;
}

.tab-horizontal .nav-pills > li > a {
    text-transform: uppercase;
}
.tbl-align {
    vertical-align:middle;
    border-color: gray;
    border-bottom: inset;
}
.checklisttab{
    padding-bottom: 7px !important;
}