<div class="col-md-12">
    <h3><strong>Finance</strong></h3>
 
    <button *ngIf="beaconreviewuser===true" disabled="{{selectedmainTab==5}}" mat-raised-button (click)="activatemainTab(5)">BEACON(DOL)</button>
    <button disabled="{{selectedmainTab==1}}" mat-raised-button (click)="activatemainTab(1)">INCOME</button>
    <button disabled="{{selectedmainTab==2}}" mat-raised-button (click)="activatemainTab(2)">ASSETS</button>
    <button disabled="{{selectedmainTab==3}}" mat-raised-button (click)="activatemainTab(3)">CHILD SUPPORT</button>
    <button disabled="{{selectedmainTab==4}}" mat-raised-button (click)="activatemainTab(4)">CSES</button>


  <div class="m-t-20" *ngIf="selectedmainTab==1">
    <div class="col-sm-12" *ngIf="!addIncomeDetails && !_personInfoService.getClosed()">
      <div class="add-finance m-t-10 m-b-20">
        <a (click)='enableIncomeForm()'>+ Add New Income</a>
      </div>
    </div>
    <div class="col-sm-12 row g-3">
      <div *ngIf="addIncomeDetails">
        <h4><strong>Income Details</strong></h4>
        <div class="row border">
          <div class="row"  [ngStyle]="{ 'border-top': '10px solid #F0F2F4','border-bottom': '10px solid #F0F2F4','padding-bottom': '20px' }">
            <div class="col-sm-12 m-t-10 row">
              <div class="col-sm-3">
                <strong>Entry Date  : </strong>
                  {{(currentDate| date: 'MM/dd/yyyy') || ''}}
              </div>
              <div class="col-sm-3">
                <strong>Entered By : </strong>
                  {{this.incomeenteredby}}
              </div>
              <div class="col-sm-3">
                <strong>Data Source</strong>
                CJAMS
              </div>
            </div>
          </div>
          <form [formGroup]="incomeDetailsFormGroup">
            <div class="row col-sm-12 m-t-10">
                <div class="col-sm-3">
                    <common-date-picker [min]="dob"
                    formControlName="startdate"
                      placeholder="Start Date MM/DD/YYYY" ></common-date-picker>

                </div>
                <div class="col-sm-3">
                    <common-date-picker [min]="incomeDetailsFormGroup.controls['startdate'].value"
                    formControlName="enddate"
                      placeholder="End Date MM/DD/YYYY" ></common-date-picker>
                </div>
                <div class="col-sm-3">
                <mat-form-field>
                  <mat-label>Income Source</mat-label>
                  <mat-select formControlName="incomesourcetypekey" placeholder="" (selectionChange)="incomesourcedefault($event.value)" required>
                    <mat-option *ngFor="let item of (IncomeSourceDropDownItem$ | async)" value="{{item.value}}">{{
                        item.text }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf ="incomeDetailsFormGroup.get('incomesourcetypekey')?.invalid">
                    Please select Income Source.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                    <mat-form-field>
                      <mat-label>Disregard</mat-label>
                        <mat-select formControlName="incomedisregardflag" placeholder="">
                            <mat-option *ngFor="let item of (IncomeDisregardDropDownItem$ | async)" value="{{item.ref_key}}">{{
                                item.description }}</mat-option>
                        </mat-select>
                    </mat-form-field>
              </div>
            </div>
            <div class="col-sm-12 m-t-10 row">
              <div class="col-sm-4">
                <mat-form-field>
                  <mat-label>Verification</mat-label>
                  <mat-select formControlName="verificationtypekey" placeholder="" required>
                    <mat-option *ngFor="let item of (IncomeVerificationDropDownItem$ | async)"
                      value="{{item.ref_key}}">{{
                                item.description }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf ="incomeDetailsFormGroup.get('verificationtypekey')?.invalid">
                    Please select Verification.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field>
                  <mat-label>Frequency</mat-label>
                  <mat-select formControlName="incomefrequencytypekey" placeholder="">
                    <mat-option *ngFor="let item of (IncomeFrequencyDropDownItem$ | async)" value="{{item.ref_key}}">{{
                                    item.description }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                  <div class="row">
                      <div class="col-sm-6">
                        <mat-form-field>
                          <mat-label>Amount</mat-label>
                          <input type="number" min="0" oninput="this.value = Math.abs(this.value)" formControlName="amount" matInput matInput placeholder="" />
                          <span matPrefix>$&nbsp;</span>
                        </mat-form-field>
                      </div>

                      <div class="col-sm-6">
                        <mat-form-field>
                          <mat-label>Monthly Income</mat-label>
                          <input type="number" min="0" oninput="this.value = Math.abs(this.value)"  formControlName="monthlyamount" matInput matInput
                            placeholder="" />
                          <span matPrefix>$&nbsp;</span>
                        </mat-form-field>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12">
                <mat-form-field>
                  <mat-label>Note</mat-label>
                  <textarea matInput formControlName="notes" placeholder=""></textarea>
                </mat-form-field>
              </div>
              <div class="col-sm-12">
                <button mat-raised-button (click)="activateTab('1')">Demeed Income from a step parent</button>
                <button mat-raised-button (click)="activateTab('2')">Child Care Expenses</button>
              </div>
            </div>
          </form>
          <form [formGroup]="deemedparentFormGroup">
            <div class="row" *ngIf="selectedTab == '1'">
              <div class="col-sm-12 m-t-20">
                  <div class="row">
                      <div class="col-sm-4">
                          <p class="m-b-5"><strong>Case Name</strong></p>
                          <p>Lorum Ipsum</p>
                      </div>
                      <div class="col-sm-4">
                          <p class="m-b-5"><strong>Case Id</strong></p>
                          <p class="m-b-5"><strong>{{caseNumber}}</strong></p>
                      </div>
                      <div class="col-sm-4 m-t-n15">
                          <mat-form-field>
                            <mat-label>Verification</mat-label>
                            <mat-select formControlName="verifiedparentpersonid" placeholder="">
                              <mat-option *ngFor="let persondetails of involvedPersonList" value={{persondetails.personid}}>
                                {{persondetails.firstname +" "+persondetails.lastname}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                      </div>
                  </div>
                <div class="col-sm-12">
                  <div class="row">
                      <div class="col-lg-6 col-md-12">
                          <h4 class="m-b-20"><strong>Demeed Income Calculation</strong></h4>
                          <div class="row">
                              <div class="col-sm-9">
                                  <strong>#in Assistance Unit</strong><br />
                                  (include respondent,Bio parent and siblings not included with step parent)
                              </div>
                              <div class="col-sm-3">
                                  <mat-form-field>
                                    <input type="text" formControlName="assistance_unit_no" matInput numberOnly placeholder="" />
                                    <span matPrefix>$&nbsp;</span>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-9">
                                  <strong>#of dependants not in the Assistance Unit</strong><br />
                                  (include step parent,his/her children and children common to both)
                              </div>
                              <div class="col-sm-3">
                                  <mat-form-field>
                                    <input type="text" formControlName="notin_assistance_unit_no" matInput matInput numberOnly
                                      placeholder="" />
                                    <span matPrefix>$&nbsp;</span>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-9">
                                  <strong>Schedule h.col,iii for #dependants not in the Assistance Unit</strong>
                              </div>
                              <div class="col-sm-3">
                                  <mat-form-field>
                                    <input type="text" formControlName="schedule_h_col_iii_no"
                                      matInput numberOnly placeholder="" />
                                    <span matPrefix>$&nbsp;</span>
                                  </mat-form-field>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-12">
                          <h4 class="m-b-20"><strong>Income Calculation of the step-Parent</strong></h4>
                          <div class="row">
                              <div class="col-sm-9">
                                  1 Monthly gross earnings of step parent
                              </div>
                              <div class="col-sm-3 m-t-n15">
                                  <mat-form-field>
                                    <input type="text" formControlName="monthly_gross_earnings_no" matInput numberOnly
                                      placeholder="" />
                                    <span matPrefix>$&nbsp;</span>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-9">2 Subtract earnings disregard (75.00)</div>
                              <div class="col-sm-3 m-t-n15">
                                  <mat-form-field>
                                    <input type="text" formControlName="earning_disregard_no" matInput numberOnly placeholder="" />
                                    <span matPrefix>$&nbsp;</span>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-9">3 Add unearned Income</div>
                              <div class="col-sm-3 m-t-n15">
                                  <mat-form-field>
                                    <input type="text" formControlName="unearned_income_no" matInput numberOnly placeholder="" />
                                    <span matPrefix>$&nbsp;</span>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-9">4 Subtract scheduled H column iii</div>
                              <div class="col-sm-3 m-t-n15">
                                  <mat-form-field>
                                    <input type="text" formControlName="schedule_h_col_iii_no"
                                      matInput numberOnly placeholder="" />
                                    <span matPrefix>$&nbsp;</span>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-9">5 Subtract court ordered support</div>
                              <div class="col-sm-3 m-t-n15">
                                  <mat-form-field>
                                    <input type="text" formControlName="court_ordered_support_no" matInput numberOnly
                                      placeholder="" />
                                    <span matPrefix>$&nbsp;</span>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-9">6 Available deemed income to spouse (Sum of all)</div>
                            <div class="col-sm-3 m-t-n15">
                                <mat-form-field>
                                  <input type="text" formControlName="total_deemed_income_no" matInput numberOnly placeholder="" />
                                  <span matPrefix>$&nbsp;</span>
                                </mat-form-field>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <form [formGroup]="childcareexpensesFormGroup">
            <div class="row" *ngIf="selectedTab == '2'">
                <div class="col-sm-12">
                    <h4><strong>Child Care Expenses</strong></h4>
                </div>
                <div class="col-sm-6">
                    <div class="clearfix p-b-10">
                        <label>Employment</label><br />
                        <mat-radio-group formControlName="employmenttypecode">
                          <mat-radio-button value='P'>Part Time</mat-radio-button>
                          <mat-radio-button value='F'>Full Time</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">Number of children under 2</div>
                        <div class="col-sm-3">
                            <input type="number" formControlName="childrenunder2" matInput matInput placeholder="00" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 p-t-20">Amount Earned</div>
                        <div class="col-sm-3">
                            <mat-form-field>
                              <input type="text" formControlName="amountearned" matInput numberOnly placeholder="" />
                              <span matPrefix>$&nbsp;</span>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">Number of Children Over 2</div>
                        <div class="col-sm-3">
                            <input type="number" formControlName="childrenover2" matInput numberOnly placeholder="00" />
                        </div>
                    </div>
                </div>
            </div>
          </form>
        </div>

        <div class="col-sm-12 pt-20 pb-20 border-button">
          <button [disabled]="(incomeDetailsFormGroup.pristine && deemedparentFormGroup.pristine && childcareexpensesFormGroup.pristine) || _personInfoService.getClosed()"
            class="pull-right btn btn-pri" (click)="submitIncome()">Add</button>
          <button class="pull-right btn btn-bg" (click)="resetForm()">Cancel</button>
        </div>
      </div>
      <div class="col-sm-4" *ngFor="let personincome of incomeInfo; let i = index">
        <div class="card panel-default person-panel" *ngIf="personincomehasvalue">
          <div class="card-header">
            <div class="d-flex">
              <div class="flex-grow-1">
                <h4>
                  <span>Income Details</span>
                </h4>
              </div>
            </div>
            <div class="card-body py-1 px-0">
              <div>
                <label>Entry Date</label>
                {{(personincome.entrydate | date: 'MM/dd/yyyy') || '--NA--'}}
              </div>
              <div>
                <label>Entered By</label>
                {{personincome.enteredby || '--NA--'}}
              </div>
              <div>
                <label>Data Source</label>
                {{personincome.datasourcetypekey || '--NA--'}}
              </div><br />
              <div>
                <div style="width:40%;float:left;">
                  <label>Start Date</label><br />
                  {{(personincome.startdate | date: 'MM/dd/yyyy') || '--NA--'}}
                </div>
                <div style="width:40%;float:left;">
                  <label>End Date</label><br />
                  {{(personincome.enddate | date: 'MM/dd/yyyy') || '--NA--' }}
                </div>
              </div>

              <div>
                <label>Income Source</label><br />
                {{personincome.incomesourcetype || '--NA--'}}
              </div>
              <div>
                <label>Verification</label><br />
                {{personincome.verificationtype || '--NA--'}}
              </div>
              <div>
                <label>Frequency</label><br />
                {{personincome.incomefrequencytype || '--NA--'}}
              </div>
              <div>
                <div style="width:50%;float:left;">
                  <label>Amount</label><br />
                  ${{personincome.amount|| '--NA--'}}
                </div>
                <div style="width:50%;float:left;">
                  <label>Monthly Income</label><br />
                  ${{personincome.monthlyamount || '--NA--'}}
                </div>
              </div>
              <div>
                <label>Note</label><br />
                {{personincome.notes || '--NA--'}}
              </div>
            </div>
            <div [ngClass]="{'card-footer disable-anchor' : _personInfoService.getClosed(), 'card-footer': true}">
             <div class="pf-action-list">
              <a *ngIf="!_personInfoService.getClosed()" (click)="editIncomeDetails(personincome)"><em class="fa fa-edit"></em>&nbsp;&nbsp;Edit</a>

             </div>
             <div class="pf-action-list">
              <a *ngIf="_personInfoService.getClosed()" (click)="editIncomeDetails(personincome)"><em class="fa fa-eye"></em>&nbsp;&nbsp;View</a>

             </div>
             <div class="pf-action-list">
               <a [ngClass]="{'pointer-events-none':_personInfoService.getClosed()}" (click)="confirmDeletePopup(personincome, 'INCOME')"><em class="fa fa-trash"></em>&nbsp;&nbsp;Delete</a>
            </div>
          </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <form [formGroup]="assetFormGroup">
    <div class="m-t-20 row g-3" *ngIf="selectedmainTab==2">
      <div class="col-sm-12" *ngIf="!addAssetDetails && !_personInfoService.getClosed()">
        <div class="add-finance m-t-10 m-b-20">
          <a (click)='enableAssetForm()'>+ Add New Asset</a>
        </div>
      </div>
      <div class="clearfix" *ngIf="addAssetDetails">
        <h4><strong>Assets</strong></h4>
        <div class="row">
            <div class="col-sm-8 m-t-10">
                <div class="row">
                    <div class="col-sm-4">
                        <strong>Entered By : </strong>
                        <strong>{{this.assetenteredby}}</strong>
                      </div>
                      <div class="col-sm-4">
                          <strong>Entry Date : </strong>
                          <strong>
                            {{(currentDate| date: 'MM/dd/yyyy') || ''}}
                          </strong>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-4">
                        <common-date-picker formControlName="purchasedate"
                          placeholder="Start Date MM/DD/YYYY" ></common-date-picker>
                    </div>
                    <div class="col-sm-4">
                        <common-date-picker formControlName="disposaldate"
                          placeholder="End Date MM/DD/YYYY" ></common-date-picker>
                    </div>
                    <div class="col-sm-4">
                      <mat-form-field>
                        <mat-label>Asset Type</mat-label>
                        <mat-select formControlName="assettypekey" placeholder="" required>
                          <mat-option *ngFor="let item of (typeofAssetDropDownItem$ | async)" value="{{item.ref_key}}">{{
                              item.description }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf ="assetFormGroup.get('assettypekey')?.invalid">
                          Please select Asset Type.
                        </mat-error>
                      </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field>
                          <mat-label>Disregard</mat-label>
                          <mat-select formControlName="disregardflag" placeholder="">
                            <mat-option *ngFor="let item of (AssestDisregardDropDownItem$ | async)" value="{{item.ref_key}}">{{
                                        item.description }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                          <mat-label>Account Number</mat-label>
                          <input type="text" formControlName="accountno" matInput matInput placeholder="" />
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field>
                          <mat-label>Asset Beneficiary</mat-label>
                          <input type="text" formControlName="beneficiaryname" matInput matInput
                            placeholder="" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 m-t-20">
                        <mat-form-field>
                          <mat-label>Verification</mat-label>
                          <mat-select formControlName="verificationtypekey" placeholder="" required>
                            <mat-option *ngFor="let item of (AssetVerificationDropDownItem$ | async)"
                              value="{{item.ref_key}}">{{item.description }}</mat-option>
                          </mat-select>
                          <mat-error *ngIf ="assetFormGroup.get('verificationtypekey')?.invalid">
                            Please select Verification.
                          </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-8">
                        <mat-form-field>
                          <mat-label>Note</mat-label>
                          <textarea matInput formControlName="notes" placeholder=""></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                      <label>Market Value</label>
                      <mat-form-field>

                        <input type="number" min="0" oninput="this.value = Math.abs(this.value)" formControlName="marketvaluetypekey" matInput matInput placeholder="" />
                        <span matPrefix>$&nbsp;</span>
                      </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                      <label>Face Value</label>
                      <mat-form-field>

                        <input type="number" min="0" oninput="this.value = Math.abs(this.value)" formControlName="facevalue" matInput matInput placeholder="" />
                        <span matPrefix>$&nbsp;</span>
                      </mat-form-field>
                  </div>
                  <div class="col-sm-4">
                      <label>Amount Owed</label>
                      <mat-form-field>

                        <input type="number" min="0" oninput="this.value = Math.abs(this.value)" formControlName="amountowed" matInput matInput placeholder="" />
                        <span matPrefix>$&nbsp;</span>
                      </mat-form-field>
                  </div>
                </div>
            </div>
            <div class="col-sm-4 m-t-30">
                <mat-form-field>
                  <mat-label>Location Name</mat-label>
                  <input type="text" formControlName="locationname" matInput matInput placeholder="" />
                </mat-form-field>
                <mat-form-field>
                  <input type="text" formControlName="addressline1" matInput matInput placeholder="Address1"
                    [matAutocomplete]="auto" (input)="getSuggestedAddress()" [required]="this.assetFormGroup.controls['assettypekey'].value == 'RES'" />
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let item of suggestedAddress$ | async" (click)="selectedAddress(item)"
                      value="{{item.text}}">
                      {{item.text}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf ="assetFormGroup.get('addressline1')?.invalid">
                    Please select Address1.
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Address2</mat-label>
                  <input type="text" formControlName="addressline2" matInput matInput placeholder=""/>
                </mat-form-field>
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>City</mat-label>
                    <input type="text" formControlName="cityname" matInput matInput placeholder="" [required]="this.assetFormGroup.controls['assettypekey'].value == 'RES'"/>
                    <mat-error *ngIf ="this.assetFormGroup.controls['assettypekey'].value == 'RES' && assetFormGroup.get('cityname')?.invalid">
                      Please select City.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>State</mat-label>
                    <mat-select placeholder="" formControlName="statetypekey" [required]="this.assetFormGroup.controls['assettypekey'].value == 'RES'">
                      <mat-option *ngFor="let item of (this.stateDropdownItems$ | async)" value="{{item.ref_key}}"
                        (click)="loadCounty(item)">
                        {{ item.description }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf ="this.assetFormGroup.controls['assettypekey'].value == 'RES' && assetFormGroup.get('statetypekey')?.invalid">
                      Please select State.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>County</mat-label>
                    <mat-select [disabled]="!this.assetFormGroup.controls['statetypekey'].value" formControlName="countytypekey" placeholder="">
                      <mat-option *ngFor="let item of countyDropDownItems$ | async" value="{{item.ref_key}}">
                        {{item.description}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>Zipcode</mat-label>
                    <input type="text" formControlName="zip5no" matInput matInput placeholder="" [required]="this.assetFormGroup.controls['assettypekey'].value == 'RES'"/>
                    <mat-error *ngIf ="this.assetFormGroup.controls['assettypekey'].value == 'RES' && assetFormGroup.get('zip5no')?.invalid">
                      Please select Zipcode.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
        </div>
        <div class="col-sm-12 pt-20 pb-20 border-button">
          <button class="pull-left btn btn-pri" [disabled]="assetFormGroup.pristine || _personInfoService.getClosed()"
            class="pull-right btn btn-pri" (click)="submitAsset()">Add & Save</button>
          <button class="pull-right btn btn-bg" (click)="resetAsset()">Cancel</button>
        </div>
      </div>
      <div class="col-sm-4" *ngFor="let assetdetals of assetInfo; let i = index">
        <div class="card panel-default person-panel" *ngIf="showpersonassestsvalue">
          <div class="card-header">
            <div class="d-flex">
              <div class="flex-grow-1">
                <h4>
                  <span>Asset Details</span>
                </h4>
              </div>
            </div>
            <div class="card-body py-1 px-0">
              <div>
                <label>Entry Date</label>
                {{(assetdetals.insertedon | date: 'MM/dd/yyyy') || '--NA--'}}
              </div>
              <div>
                <label>Entered By</label>
                {{assetdetals.insertedby || '-'}}
              </div>
              <div>
                <label>Data Source</label>
                CJAMS
              </div><br />
              <div>
                <div style="width:40%;float:left;">
                  <label>Start Date</label><br />
                  {{(assetdetals.purchasedate | date: 'MM/dd/yyyy') || '--NA--'}}
                </div>
                <div style="width:40%;float:left;">
                  <label>End Date</label><br />
                  {{(assetdetals.disposaldate | date: 'MM/dd/yyyy') || '--NA--' }}
                </div>
              </div>

              <div>
                <label>Asset Type</label><br />
                {{assetdetals.assettypename || assetdetals.assettypekey || '--NA--'}}
              </div>
              <div>
                <label>Asset Beneficiary</label><br />
                {{assetdetals.beneficiaryname || '--NA--'}}
              </div>
              <div>
                <label>Market Value</label><br />
                <span matPrefix *ngIf="assetdetals.marketvaluetypekey">$&nbsp;</span>{{assetdetals.marketvaluetypekey || '--NA--'}}
              </div>
              <div>
                <div style="width:50%;float:left;">
                  <label>Face Value</label><br />
                  <span matPrefix *ngIf="assetdetals.facevalue">$&nbsp;</span>{{assetdetals.facevalue|| '--NA--'}}
                </div>
                <div style="width:50%;float:left;">
                  <label>Amount Owed</label><br />
                  <span matPrefix *ngIf="assetdetals.amountowed">$&nbsp;</span>{{assetdetals.amountowed || '--NA--'}}
                </div>
              </div>
              <div>
                <label>Note</label><br />
                {{assetdetals.notes || '--NA--'}}
              </div>
            </div>
            <div [ngClass]="{'disable-anchor' : _personInfoService.getClosed(), 'card-footer': true}">
              <div class="pf-action-list">
                <a *ngIf="!_personInfoService.getClosed()" (click)="editAssetDetails(assetdetals)"><em class="fa fa-edit"></em>&nbsp;&nbsp;Edit</a>
              </div>
              <div class="pf-action-list">
                <a *ngIf="_personInfoService.getClosed()" (click)="editAssetDetails(assetdetals)"><em class="fa fa-eye"></em>&nbsp;&nbsp;View</a>
              </div>
              <div class="pf-action-list">
              <a [ngClass]="{'pointer-events-none':_personInfoService.getClosed()}" (click)="confirmDeletePopup(assetdetals ,'ASSET')"><em class="fa fa-trash"></em>&nbsp;&nbsp;Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <form [formGroup]="supportorderFormGroup">  
    <div class="m-t-20" *ngIf="selectedmainTab==3">
      <div class="col-sm-12" *ngIf="!addSupportDetails && !_personInfoService.getClosed()">
        <div class="add-finance m-t-10 m-b-20">
          <a (click)='enableSupportForm()'>+ Add New Child Support</a>
        </div>
      </div>
      <div class="row m-t-20" *ngIf="addSupportDetails">
        <div class="col-sm-12"><h4><strong>Child Support</strong></h4></div>

        <div class="">
          <div class=" ">
            <div class="col-sm-12 m-t-10 ">
                  <p><strong>Date Source</strong>
                  CJAMS</p>
            </div>
            <div class="col-sm-12 m-t-10">
              <div class="row">
                <div class="col-sm-4">
                    <mat-form-field>
                      <mat-label>Child Support Number</mat-label>
                      <input type="text" formControlName="sonumber" matInput matInput
                        placeholder="" />
                    </mat-form-field>
                    <common-date-picker formControlName="sodate"
                      placeholder="Child Support Date MM/DD/YYYY" ></common-date-picker>
                  <div class="row">
                    <div class="col-sm-8">
                        <label>Child Support Payment Amount</label>
                    </div>
                    <div class="col-sm-4">
                      <mat-form-field>
                        <input type="text" formControlName="sopaymentamount" matInput matInput placeholder="" />
                        <span matPrefix>$&nbsp;</span>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <mat-form-field>
                      <mat-label>Child Support Status</mat-label>
                      <mat-select formControlName="sostatustypekey" placeholder="">
                        <mat-option *ngFor="let item of SupportOrderStatusDownItem$ | async" value="{{item.description}}">
                          {{item.description}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <common-date-picker formControlName="sostatusdate"
                      placeholder="Child Support Status Date MM/DD/YYYY" ></common-date-picker>

                    <mat-form-field>
                      <mat-label>Child Support Payment Frequency</mat-label>
                      <mat-select formControlName="sopaymentfreqtypekey" placeholder="">
                        <mat-option *ngFor="let item of SupportPaymentFrequencyDropDownItem$ | async"
                          value="{{item.description}}">
                          {{item.description}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field>
                      <mat-label>Child Support City</mat-label>
                      <input type="text" formControlName="socityname" matInput matInput
                        placeholder="" />
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Child Support State</mat-label>
                      <mat-select placeholder="" formControlName="sostate" required>
                      <mat-option *ngFor="let item of SupportOrderStateDropDownItem$ | async" (click)="loadCounty(item.ref_key)"
                          value="{{item.ref_key}}">
                          {{item.description}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf ="supportorderFormGroup.get('sostate')?.invalid">
                        Please select Child Support State.
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Child Support County</mat-label>
                      <mat-select formControlName="socounty" placeholder="" [disabled]="!supportorderFormGroup.get('sostate')?.value">
                        <mat-option *ngFor="let item of countyDropDownItems$ | async" value="{{item.ref_key}}">
                          {{item.description}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 pt-20 pb-20 border-button">
          <button class="pull-right btn btn-pri"
            [disabled]="supportorderFormGroup.pristine || _personInfoService.getClosed()" class="pull-left btn btn-pri"
            (click)="submitSupportOrder()">Add & Save</button>
          <button class="pull-right btn btn-bg" (click)="resetSupportOrder()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4" *ngFor="let supportdetails of supportInfo; let i = index">
          <div class="card panel-default person-panel">
            <div class="card-header">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <h4>
                    <span>Child Support Details</span>
                  </h4>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <label>Data Source</label> CJAMS
                </div><br />
  
                <div class="row">
                  <label>Child Support Number</label>
                  {{supportdetails.sonumber || '--NA--'}}
                </div><br />
                <div class="row ">
                  <label>Child Support Status</label>
                  {{supportdetails.sostatustypekey || '--NA--'}}
                </div><br />
                <div class="row">
                  <div class="col-md-6" style="padding: 0;">
                    <label>Date</label><br />
                    {{(supportdetails.sodate | date: 'MM/dd/yyyy') || '--NA--'}}
                  </div>
                  <div class="col-md-6">
                    <label>status Date</label><br />
                    {{(supportdetails.sostatusdate | date: 'MM/dd/yyyy') || '--NA--' }}
                  </div>
                </div><br />
  
                <div class="row">
                  <label>Child Support payment amount</label>
                  {{supportdetails.sopaymentamount ? (supportdetails.sopaymentamount | currency) : '--NA--'}}
                </div><br />
                <div class="row ">
                  <label>Child Support payment frequency</label>
                  {{supportdetails.sopaymentfreqtypekey || '--NA--'}}
                </div><br />  
              </div>
              <div [ngClass]="{'card-footer disable-anchor' : _personInfoService.getClosed(), 'card-footer': true}">
                <a *ngIf="!_personInfoService.getClosed()" (click)="editSupportOrderDetails(supportdetails)"><em class="fa fa-edit"></em>&nbsp;&nbsp;Edit</a>
                <a *ngIf="_personInfoService.getClosed()" (click)="editSupportOrderDetails(supportdetails)"><em class="fa fa-eye"></em>&nbsp;&nbsp;View</a>
                <a class="p-l-10" [ngClass]="{'pointer-events-none':_personInfoService.getClosed()}" (click)="confirmDeletePopup(supportdetails,'CS')"><em class="fa fa-trash"></em>&nbsp;&nbsp;Delete</a>
              </div>
            </div>
          </div>
      </div>
      </div>
    </div>
  </form>
  <div class="col-sm-12" *ngIf="selectedmainTab==4">
    <h4><strong>Child Support</strong></h4>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <mat-select [(ngModel)]="involvedPerson" (selectionChange)="changePerson()" placeholder="">
              <mat-option class="multi-line-mat-option" *ngFor="let persondetails of involvedPersonList" value={{persondetails.personid}}>
                {{persondetails.firstname +" "+persondetails.lastname}}
                <div class="personinvolve-role">
                  <span class="role-description">
                      {{persondetails.dob | date:'MM/dd/yyyy'}}, {{persondetails.userroles}}, {{persondetails.cjamspid}}
                  </span>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-8" *ngIf="showcsesDetails">
          <div class="col-sm-4">
            <strong>CSES ID :</strong> {{csesInfo.cisparentclientid}}
          </div>
          <div class="col-sm-4">
            <mat-checkbox [disabled]="true" [checked]="csesInfo.parmedinsuranceflag == 1">Carries medical insurance for
              child</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="border" *ngIf="showcsesDetails">
        <div class="card panel-default person-panel">
          <div class="card-header">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <strong>Name</strong>
                  {{(csesInfo.parlastname || csesInfo?.parfirstname || csesInfo?.parmiddlename)? csesInfo.parfirstname+" "+ csesInfo.parmiddlename +" "+csesInfo.parlastname : ''}}
                </div>
                <div class="col-sm-3">
                  <strong>Primary Race</strong>
                  {{csesInfo.parracetype}}
                </div>
                <div class="col-sm-3">
                  <strong>Establishment</strong>
                  {{csesInfo.paternityestablishment || "--NA--"}}
                </div>
                <div class="col-sm-3">
                  <strong>Date of Death</strong>
                  {{(csesInfo.pardateofdeath | date: 'dd/MM/yyyy') || '--NA--'}}
                </div>
                <div class="col-sm-3">
                  <strong>Gender</strong>
                  {{csesInfo.pargendertypekey}}
                </div>
                <div class="col-sm-3">
                  <strong>Relationship</strong>
                  {{csesInfo.parrelationshiptype}}
                </div>
                <div class="col-sm-3">
                  <strong>Establish Date</strong>
                  {{(csesInfo.establishdate | date: 'dd/MM/yyyy' ) || "--NA--"}}
                </div>
                <div class="col-sm-3">
                  <strong>Ethincity</strong>
                  {{"--NA--"}}
                </div>
                <div class="col-sm-3">
                  <strong>DOB</strong>
                  {{(csesInfo.pardob | date: 'dd/MM/yyyy') || '--NA--'}}
                </div>
                <div class="col-sm-3">
                  <strong>Paternity AP</strong>
                  {{'--NA--'}}
                </div>
                <div class="col-sm-3">
                  <strong>SSN</strong>
                  {{csesInfo.parssn}}
                </div>
                <div class="col-sm-3">
                  <strong>CIS Client Id</strong>
                  {{csesInfo.cisclientid}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row g-3" *ngIf="showcsesDetails">
        <div class="col-sm-4">
          <div class="card panel-default person-panel">
            <div class="card-header">
              <div class="card-body  py-1 px-0">
                <div class="row">
                  <strong class="col-sm-8"><label>Employer Name</label><br /></strong>
                  <button class="col-sm-3 btn-pri" disabled="true">Current</button>
                  <div class="col-sm-12"> {{csesInfo.parcuremp1name || '--NA--'}}</div>
                  <div class="col-sm-6"><label>Start Date</label></div>
                  <div class="col-sm-6"><label>End Date</label></div>
                  <div class="col-sm-6">{{(csesInfo.parcuremp1startdate | date: 'MM/dd/yyyy') || '--NA--'}}</div>
                  <div class="col-sm-6">{{(csesInfo.parcuremp1enddate | date: 'MM/dd/yyyy') || '--NA--' }}</div>
                  <div class="col-sm-12"><label>Employment Address</label></div>
                  <div class="col-sm-12">{{csesInfo.parcuremp1addressline1 || '' + " "}}</div>
                  <div class="col-sm-12">{{csesInfo.parcuremp1addressline2 || '' +" "}}</div>
                  <div class="col-sm-12">{{csesInfo.parcuremp1addresscity ||'' +" "}}</div>
                  <div class="col-sm-12">{{csesInfo.parcuremp1addressstate ||'' +" "}}</div>
                  <div class="col-sm-12">{{csesInfo.parcuremp1addresszip || '' +" "}}</div>
                  <div class="col-sm-12"><label>Phone</label></div>
                  <div class="col-sm-12">{{csesInfo.parcuremp1phoneno || '--NA--'}}</div>
                </div>

              </div>
            </div>
          </div>
          <br />
          <div class="card panel-default person-panel">
            <div class="card-header">
              <div class="card-body  py-1 px-0">

                <div class="row">
                  <label class="col-sm-12">Employer Name</label>
                  <div class="col-sm-12">{{csesInfo.parcuremp2name || '--NA--'}}</div>
                  <div class="col-sm-6"><label>Start Date</label></div>
                  <div class="col-sm-6"><label>End Date</label></div>
                  <div class="col-sm-6">{{(csesInfo.parcuremp2startdate | date: 'MM/dd/yyyy') || '--NA--'}}</div>
                  <div class="col-sm-6">{{(csesInfo.parcuremp2enddate | date: 'MM/dd/yyyy') || '--NA--' }}</div>
                  <div class="col-sm-12"><label>Employment Address</label></div>
                  <div class="col-sm-12">{{csesInfo.parcuremp2addressline1 || '' + " "}}</div>
                  <div class="col-sm-12">{{csesInfo.parcuremp2addressline2 || '' +" "}}</div>
                  <div class="col-sm-12">{{csesInfo.parcuremp2addresscity || '' +" "}}</div>
                  <div class="col-sm-12">{{csesInfo.parcuremp2addressstate || '' +" "}}</div>
                  <div class="col-sm-12">{{csesInfo.parcuremp2addresszip || '' +" "}}</div>
                  <div class="col-sm-12"><label>Phone</label></div>
                  <div class="col-sm-12">{{csesInfo.parcuremp1phoneno || '--NA--'}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">

          <div class="card panel-default person-panel">
            <div class="card-header">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <h4>LAST KNOWN ADDRESS</h4>
                </div>
              </div>
              <div class="card-body py-1 px-0">
                <div class="row ">
                  <label>Address</label><br />
                  {{csesInfo.parlastaddressline1 || '' + " "}}
                  {{csesInfo.parlastaddressline2 || '' +" "}}
                  {{csesInfo.parlastaddresscity || '' +" "}}
                  {{csesInfo.parlastaddressstate || '' +" "}}
                  {{csesInfo.parlastaddresszip || '' +" "}}
                </div>
                <div>
                  <label>Last Known Address Date</label><br />
                  {{(csesInfo.parlastaddressdate  | date: 'MM/dd/yyyy') || '--NA--'}}
                </div>
                <div>
                  <label>Last Known Phone Number</label><br />
                  {{csesInfo?.parlastphonenumber  || '--NA--'}}
                </div>
                <br />
                <div>
                  <label>Military Branch</label><br />
                  {{csesInfo?.parmilitarybranchtypekey  || '--NA--'}}
                </div>
                <div>
                  <div style="width:40%;float:left;">
                    <label>Start Date</label><br />
                    {{(csesInfo.parmilitarystartdate | date: 'MM/dd/yyyy')  || '--NA--'}}
                  </div>
                  <div style="width:40%;float:left;">
                    <label>End Date</label><br />
                    {{(csesInfo.parmilitaryenddate | date: 'MM/dd/yyyy') || '--NA--' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card panel-default person-panel">
            <div class="card-header">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <h4>OLD SUPPORT PAYMENT INFORMATION</h4>
                </div>
              </div>
              <div class="row card-body py-1 px-0">
                <!---=====================-->
                <div class="row">
                  <mat-checkbox [disabled]="true" [checked]="csesInfo.supportorder && csesInfo.supportorder.sonumber">
                    Child Support</mat-checkbox>
                </div>
                <div class="col-sm-12"><label>Last Payment Amount</label></div>
                <div class="col-sm-12">{{csesInfo.supportorder.sopaymentamount != null ? csesInfo.supportorder.sopaymentamount : '--NA--'}}</div>
                <div class="col-sm-12"><label>Child Support Number</label></div>
                <div class="col-sm-12">{{csesInfo.supportorder.sonumber  || '--NA--'}}</div>
                <div class="col-sm-6"><label>Order Date</label></div>
                <div class="col-sm-6"><label>Order Status Date</label></div>
                <div class="col-sm-6">{{(csesInfo.supportorder.sorderdate | date: 'dd/MM/yyyy')  || '--NA--'}}</div>
                <div class="col-sm-6">{{(csesInfo.supportorder.sostatusdate | date: 'dd/MM/yyyy') || '--NA--' }}</div>
                <div class="col-sm-12"><label>Last Payment Date</label></div>
                <div class="col-sm-12">{{(csesInfo.parsolastpaydate | date: 'dd/MM/yyyy') || '--NA--' }}
                </div>
                <div class="col-sm-12"><label>Last Payment Method</label></div>
                <div class="col-sm-12">{{csesInfo.parsolastpaymethodtypekey  || '--NA--'}}</div>
                <div class="col-sm-6">
                  <label>Status CD</label>
                </div>
                <div class="col-sm-6">
                  <label>Frequency CD</label>
                </div>
                <div class="col-sm-6">
                  {{csesInfo.supportorder.sostatustypekey  || '--NA--'}}
                </div>
                <div class="col-sm-6">
                  {{csesInfo.supportorder.sopaymentfreqtypekey || '--NA--' }}
                </div>
                <div class="col-sm-6">
                  <label>County</label>
                </div>
                <div class="col-sm-6">
                  <label>State</label>
                </div>
                <div class="col-sm-6">
                  {{csesInfo.supportorder.socounty  || '--NA--'}}
                </div>
                <div class="col-sm-6">
                  {{csesInfo.supportorder.sostate || '--NA--' }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectedmainTab==5 && beaconreviewuser===true">
    <hr>
    <wages></wages>
  </div>
</div>
<div class="modal fade" id="delete-popup" role="dialog">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"> Confirm Delete </h4>
            <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p> Are you sure you want to delete this item? </p>
              <div class="text-end big-bot-space right-mspace-15">
                  <button type="button" value="No" class="btn-bg" name="" (click)="declineDelete()"> No </button>
                  <button type="button" value="Yes" class="btn-pri" name="" (click)="confirmDelete()"> Yes </button>
              </div>
          </div>
      </div>
  </div>
</div>
