.pl-50{
    padding-left: 50px;
}
.mt-info{
    padding:20px 0 10px 0;
}
.accordian-head{
    background:#467292;
    padding:10px;
    color:#fff;
    width:100%;
    display: block;
    font-size: 16px;
}
.mat-expansion-panel-header, .mat-expansion-panel-header:hover{ background:#00A2FD !important;}
.mat-expansion-panel-header-title{color: #fff;}
.accordian-head:after{
    font-family: 'FontAwesome', sans-serif;
    content: "\f068";
    float: right;
}
.accordian-head.collapsed:after{
    content: "\f067";
}
// .acc-content{
//     border:solid 1px #ddd;
// }
h4.site-color{ margin-bottom: 15px;}
label{
    font-weight: normal;
    color: #817a7a;
}
.acc-content table{
    width:100%;
    border-collapse: collapse;
    margin:10px 0;
}
.acc-content table thead{
    background:#efefef;
}
.acc-content table thead th{
    border:solid 1px #ddd;
    padding:8px 15px;
    font-weight: 500;
    font-size: 14px;
}
.Maltreatment-table td{padding: 6px;border: 1px solid #D8D8D8; vertical-align: top;}
// textarea.mat-input-element{height: 85px;}

textarea:focus, input:focus, select:focus {
    border-bottom: 0px solid #ddd !important;
}
// .acc-content .card{padding: 15px;}
.acc-content .card:nth-child(n+2)
{
border-top: 1px solid #ccc;
    padding-top: 15px;
    margin-top: 15px;}
.accordion-list{margin-bottom: 5px;}
.mat-expansion-indicator::after, .mat-expansion-panel-header-description{color:#fff !important}

.btn-link:focus{
    color: #23527c;
    outline:none;
}
.mat-expansion-card-body {
    padding: 0 0px 16px;
}
.form-control[disabled]{background: transparent;}

.time-text{
    margin-top: 15px;
    position: relative;
}
.mat-expansion-indicator::after {
    color: rgba(255,255,255,1);
}

.card-header.selected-child { 
    background: #c2dff0 !important;
}

.card-footer.selected-child { 
    background: #c2dff0 !important;
}
.container-height {
    height: 202px;
    overflow: auto;
}

.designation-wrapper {
    border: 1px solid #00A2FD;
    padding: 1px 7px 3px 7px;
    display: block;
    border-radius: 15px;
    line-height: 11px;
    max-width: 210px;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 5px 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.designation-wrapper span {
    color: #676767 !important;
    font-size: 11px;
}

.designation-wrapper span:after {
    content: ",";
    padding-right: 5px; 
}

.designation-wrapper span:last-child:after {
    display: none;
}

.person-panel .card-header {
    min-height: 77px;
}

.person-nm-title {
    margin: 0px 0px 3px 0px;
}

.incident-start-date {
top:0px;
}

.check_primary_color{
    color: #ffffff;
    margin-right: 7px;
    font-size: 18px;
}

// For Completion Check Box Right Alignment

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    display: inline !important;
    flex-grow: 1;
    height: fit-content;
}
.time-of-incident {
    line-height: 10px !important;
}

.m-mat-acc {
    height: fit-content;
    padding: 10px;
}

::ng-deep .mat-expansion-panel-header.mat-expanded {
    height: fit-content !important;
}

.mat-expansion-panel-header.mat-expanded {
    margin-bottom: 0px !important;
}