.nav-tabs > li.active > a {
  border-bottom: 4px solid #00A2FD;
  }
  
  .head-panel {
  background: #AEBED6;
  }
  
  .case-plan-info {
  margin: 15px 0;
  }
  
  .help-icon {
  color :#00A2FD
  }
  
  .popover {
  min-width: 315px;
  }
  
  .popover > div:first-child{
  width: 100% !important;
  }
  
  .popover-content div:first-child {
  width: 100% !important;
  }
  :host {
    ::ng-deep .popover {
     width: 100%;
    }
 }