.add-item {
    padding: 30px;
    border: 1px solid #D8D8D8;
    text-align: center;
}

.add-item a {
    color: #00A2FD;
    font-weight: 700;
    font-size: 18px;
}

.tbl-life-skills {
    margin-bottom: 0px;
    width: 100%;
}