.font-b {
    font-weight: 700;
}

.font-sm-b {
    font-weight: 600;
}

.display-block {
    display: block;
}
.cursor-pointer {
    cursor: pointer;
}

/* CW Nav Tab position fixed CSS Starts*/
.tab-horizontal #cw-scroll-tab .scrtabs-tab-container {
    background: #fff;
    margin: 0px 0px;
    /* position: fixed; */
    top: 170px;
    left: 15px;
    right: 15px;
    border-bottom: 1px solid #d8d8d8;
    z-index: 5;
}

.scrtabs-tab-scroll-arrow {
    width: 30px;
    text-align: center;
    padding: 10px 0px 0px;
    background: #fff;
    position: absolute;
    z-index: 2;
    border-bottom: 1px solid #D8D8D8;
    cursor: pointer;
}

.scrtabs-tab-scroll-arrow-left {
    left: 0px;
}

.scrtabs-tabs-fixed-container {
    padding-left: 30px;
}

.scrtabs-tab-scroll-arrow-right {
    left: auto;
    right: 0px;
}

.tab-horizontal .scrtabs-tab-container .nav {
    border: none;
}

/* .btn.signature-pad-refresh {
    z-index: 1;
    left: 400px !important;
    top: 10px !important;
} */

.subsidy-aggrement .btn.signature-pad-refresh{
    left: auto;
    top: 5px;
    right: 5px;
    z-index: 0;
}
.subsidy-aggrement .signature-pad, .subsidy-aggrement canvas{
    /* width: 100%; */
    display: block;
}
/* CW Nav Tab position fixed CSS Ends*/

.service-plan-gc .mat-expansion-indicator::after,
.service-plan-core .mat-expansion-indicator::after {
    color: #00A2FD;
}

.service-plan-core .mat-expansion-panel-body {
    border-top: 1px solid #D8D8D8;
}

/* service-plan-core .mat-expansion-panel-body > .mat-expansion-panel-body {
    border-top: 0px;
} */

.service-plan-core .mat-expansion-panel-body .mat-accordion .mat-expansion-panel-header {
    border-left: 5px solid rgb(0, 162, 253);
    /* background: rgba(0, 162, 253, 0.22) !important; */
}

.service-plan-core .mat-expansion-panel-header.mat-expanded {
    margin: 0px
}

@media print {
    .case-worker-view-assessment #assessmentForm .panel-primary {
        border: none !important;
    }

    #assessmentForm input[type="radio"]:before, 
    #assessmentForm .radio input[type="radio"]:before,
    #assessmentForm .radio-inline input[type="radio"]:before,
    #assessmentForm input[type="checkbox"]:before, 
    #assessmentForm .radio input[type="checkbox"]:before, 
    #assessmentForm .radio-inline input[type="checkbox"]:before,
    #assessmentForm input[type="checkbox"]:checked:after, 
    #assessmentForm .radio input[type="checkbox"]:checked:after, 
    #assessmentForm .radio-inline input[type="checkbox"]:checked:after {
        background-color: #2196f3 !important;
        -webkit-print-color-adjust: exact;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
    .tab-horizontal #cw-scroll-tab .scrtabs-tab-container,
    .case-worker-view-assessment button.btn,
    .case-worker-view-assessment #assessmentForm .glyphicon-calendar,
    .case-worker-view-assessment #assessmentForm .signature-pad-refresh,
    #assessmentForm .choices[data-type*=select-one]:after,
    .print-none,
    .subsidy-aggrement .mat-mdc-icon-button .mat-button-wrapper>*,
    .subsidy-aggrement .signature-field .signature-pad-refresh,
    .subsidy-aggrement .quill-editor .ql-toolbar {
        display: none;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
    .subsidy-aggrement .mat-mdc-radio-button.mat-accent .mat-radio-inner-circle {
        background-color: #00A2FD !important;
        -webkit-print-color-adjust: exact;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .subsidy-aggrement .mat-checkbox-checked.mat-accent .mat-checkbox-background, 
    .subsidy-aggrement .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: #00A2FD !important;
        border-color: #00A2FD !important;
        -webkit-print-color-adjust: exact;
    }

    .subsidy-aggrement .quill-editor .ql-container.ql-snow {
        border-top: 1px solid #cccccc !important;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .provider-info-popup .mat-checkbox-checked.mat-accent .mat-checkbox-background, 
    .provider-info-popup .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: #00A2FD !important;
        border-color: #00A2FD !important;
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .col-sm-1, 
    .col-sm-2, 
    .col-sm-3, 
    .col-sm-4, 
    .col-sm-5, 
    .col-sm-6, 
    .col-sm-7, 
    .col-sm-8, 
    .col-sm-9, 
    .col-sm-10, 
    .col-sm-11, 
    .col-sm-12 {
         float: left;
    }
    .col-sm-12 {
         width: 100%;
    }
    .col-sm-11 {
         width: 91.66666667%;
    }
    .col-sm-10 {
         width: 83.33333333%;
    }
    .col-sm-9 {
         width: 75%;
    }
    .col-sm-8 {
         width: 66.66666667%;
    }
    .col-sm-7 {
         width: 58.33333333%;
    }
    .col-sm-6 {
         width: 50%;
    }
    .col-sm-5 {
         width: 41.66666667%;
    }
    .col-sm-4 {
         width: 33.33333333%;
    }
    .col-sm-3 {
         width: 25%;
    }
    .col-sm-2 {
         width: 16.66666667%;
    }
    .col-sm-1 {
         width: 8.33333333%;
    }
 }

 .table-theme .pagination>.active>a, 
 .table-theme .pagination>.active>a:focus, 
 .table-theme .pagination>.active>a:hover, 
 .table-theme .pagination>.active>span, 
 .table-theme .pagination>.active>span:focus, 
 .table-theme .pagination>.active>span:hover,
 .table-theme .pagination>li>a:focus, 
 .table-theme .pagination>li>a:hover, 
 .table-theme .pagination>li>span:focus, 
 .table-theme .pagination>li>span:hover{
     color: #fff !important;
     background-color: #337ab7 !important;
     border-color: #337ab7 !important;
 }

 .btn.signature-pad-refresh {
     z-index: 0;
 }

 .child-removal-form .common-date-picker .mat-form-field-disabled input.mat-mdc-input-element {
    margin-top: 0.625em !important;
}

.fin-inner-tb {
    background: #c8e4f663;
}

.afcars-inner-bg {
    background-color: #ffd700;
    width: fit-content !important;
}