.phs-container {
  display: flex;
  flex-direction: column;
}

.flex-item {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.inner-flex-item {
  padding: 10px;
  // align-content: center;
  display: flex;
  align-items: center;
  // border: solid black 1px;
}

.inner-flex-item p {
  margin:auto
}

.phs-title {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-right: auto;
}

.accordian-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 10px;
  margin-bottom: -5px;
}

.accordian-row h3 {
  margin: 0;
}

.accordian-row i {
  margin-left: auto; 
}

.sub-title {
  padding: 5px;
}

input[type="date"] {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  text-align: center;
  height: 33px;
  line-height: 10px;
  padding: 0
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group p {
  margin: 0;
  padding-right: 10px;
  white-space: nowrap;
}

.btn-pri:hover {
  border: 1px solid rgba(0, 162, 253, 0.5);
  color: #000000 !important;
  background: rgba(0, 162, 253, 0.5) !important;
}