
.health-section-list a:hover{
    background: lightgray;
}
.in-active-section {
    border-bottom: 2px solid  lightgray;

    &.active-section {
        border-bottom-color: #00A2FD;
        background: lightgray;
    }
}
.in-active-section:last-child {
    border: none !important;
}
.section-title {
    color: #00A2FD;
    font-weight: 700;
}




.section-layout {padding:25px;}
.section-title h4 {margin-top: 10px;margin-left: -10px;}
p {
    font-weight: 500;
    font-size: 15px;
    color: #333;
    font-family: 'Open Sans',serif !important;
}
textarea {
    height:100px;
}
textarea:focus {
    outline: none;
}
h5 {font-size: 15px;}
.f-w-600 {font-weight:600;}
.grid {
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 5px #e5e5e5;
    border-radius: 3px;
    padding: 10px 15px;
    display: block;
    float: left;
    margin-bottom: 20px;
}
.cusmm-fileupload input[type=file]{display: none;}
.bg-theme {
    background: #f7f7f7;
    padding: 10px;
    margin-bottom: 20px;
}


mat-card.mat-mdc-card.health-mat-card {
    padding: 0;
    box-shadow: none;
}
.health-section-list>a {
    min-width: 280px;
    max-width: 280px;
    margin-bottom:5px;
    cursor: pointer;
    color: #00A2FD;
    font-weight: 500;
    border:none;
    border-radius: 0;
    font-size:14px;
}
.health-section-list>a.active, .health-section-list>a:focus, .health-section-list>a:hover {
    background-color: #00A2FD;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 0;
    font-size:14px;
}

.health-section-list>a.active:after {
    content: "";
    border: 5px solid transparent;
    border-left: 5px solid #fff;
    position: absolute;
    right: 5px;
    top: 16px;
}
.brd-lft:before {
    position: absolute;
    content: "";
    border-left: 5px solid #e0e8f8;
    display: block;
    height: 100%;
    left: -20px;
}
