
.digit {
    background: #00A2FD;
    color: #fff;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    margin-right: 10px;
}
.hour > p {
    margin-top: 10px;
    font-weight: 700;
    font-size: 13px;
}
.disposition-1 {
    box-shadow: 0 0 15px #d0caca;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    float: left;
    padding: 20px 0 10px;
}
.hideDiv {
    display: none;
}

#reason-for-delay textarea.mat-mdc-input-element {
    height: 75px;
}
.form-control-size label {
    font-size: 14px;
}
.desposition-table > thead {background: #AEBED6;}
.desposition-table > thead > tr > th {padding:10px 8px;}
.desposition-table > tbody > tr > td {
    padding: 15px 8px 0px;
}
.desposition-table > tbody > tr > td > a {
    font-size: 14px;
}
.desposition-table > tbody > tr > td > a > i.fa.fa-cloud-download {
    color: #00A2FD;
    font-size: 22px;
    cursor: pointer;
    margin-top:8px;
}
.desposition-table > tbody > tr > td > a > em.fa.fa-cloud-download {
    color: #00A2FD;
    font-size: 22px;
    cursor: pointer;
    margin-top:8px;
}
.p-t-20 {padding-top:20;}
.btn-col {
    color: #fff;
    margin-left: 15px;
    padding: 5px;
}
.table-theme .table tr td {
    text-align: left !important;
}
.table a {
    color: #00A2FD;
}
.p-t-22 {
    padding-top:22px;
}
.panel-theme {
    border-width:2px;
}
.panel-theme>.card-header {
    color: #333;
    background-color: transparent;
    border-color: #ddd;
}
.panel-theme h4.card-title {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 15px;
}
.panel-theme .card-body {
    height: 320px;
    overflow: hidden;
    overflow-y: auto;
}
.panel-theme .card-body.panel-dl {
    padding: 0;
}
.panel-theme dl.dl-horizontal dt {
    text-align: left;
    width: 175px;
    white-space: pre-wrap;
    font-weight: 600;
    font-size: 13px;
}
.panel-theme dl.dl-horizontal, .panel-theme dl {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.panel-theme dl.dl-horizontal:last-child, .panel-theme dl:last-child {
    border: none;
}
.panel-theme dl.dl-horizontal::after, .panel-theme dl::after {
    position: absolute;
    content: ":";
    right: 50%;
    top: 10px;
}
.panel-theme dd {
    padding-left: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #000;
}
.title-lable {
    margin-left: 14px;
}

.clsWidth-400{
    width: 400px;
}
// css less/more
.clsMoreLess {
    position: relative;
    overflow:hidden;
}
.clsMoreLess .clsInner {
    overflow: hidden;
    line-height: 22px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 22px;
    margin-bottom: 22px;
}
.clsMoreLess .clsInner span{
    display:inline-block;
    padding: 0 7px 0 0;
}
.clsMoreLess input {
    display: none;
}
.clsMoreLess label {
    position: absolute;
    top: 98%;
    margin-top:-22px;
    right: 10px;
    color: #00a2fd;
}
.clsMoreLess label:before {
    content: "";
    cursor: pointer;
}
.clsMoreLess .clsInner:after {
    content: '';
    position: absolute;
    display: block;
     background: #f9f9f9;
}
.clsMoreLess input:checked ~ .clsInner {
    max-height: 100%;
}
.clsMoreLess input:checked + label:before {
    content: "";
}
.clsMoreLess input:checked ~ .clsInner:after {
    display: none;
}
.table-theme .table tr:hover .clsMoreLess .clsInner:after{
    background: #E8F0FA;
}
.bottom-margin-1vh{
    margin-bottom: 1vh;

}
.errormessage{
    color :red;
}
.bottom-margin-new{
    margin-bottom:30px;

}
.modal-dialog{
    max-width: fit-content !important;
}
// css less/more
