.break-link-wrapper {
	position: relative;
}

.plus-icon {
	font-size: 18px;
	line-height: 18px;
}

.add-btn {
	position: absolute;
	top: 10px;
	right: 0px;
}

.dashboard-cont{
    height: 80vh;
}

.icon {
	color: #039be5;
	cursor: pointer;
	i {
		color: #039be5;
		padding-right: 10px;
	}
}

.boder-btm {
	border-bottom: 2px solid #e0e8f8;
}

.p-title {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #24292e;
}

.p-text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #24292e;
}

.border-top {
    border-top: 1px solid #e0e8f8;
    padding: 10px 0 5px 0;
}

.notes-msg {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #24292e;
}

.notes-msg span {
    color: #ff3c3c;
}

.link-btn span {
    color: #039be5;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    margin-right: 30px;
}

.opacity {
    opacity: 0.5;
}

.link-btn span i {
    color: #a8b9d2;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.link-btn .create-adoptionbtn {
    cursor: pointer;
}

.m-no {
    margin: 0px;
}

.pop-title {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.pop-title i:before {
    color: #a8b9d2;
    font-size: 22px;
    padding-right: 10px;
}

.alert-pop,
.mdchessis-pop {
    width: 415px;
    top: 28%;
}

.no-btn {
    width: 26px;
    height: 20px;
    font-weight: bold;
    text-align: center;
    color: #3e4961;
    background: #fff;
    outline: none;
    border: none;
}

.closer-input {
    display: inline;
    float: left;
}

.closer-input:after {
    content: "|";
    font-size: 14px;
    padding: 0 10px;
    color: #24292e;
}

.closer-input:last-child:after{
    display: none;
}

.closer-input label,
.closer-input span {
    font-size: 12px;
    color: #24292e;
}

.closer-input label {
    font-weight: 600;
}

.modal-lg.custom-wd {
    width: 1200px;
}
.red {
    color: #ff3c3c;
}
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
mat-checkbox {
    display: block;
    padding-bottom: 10px;
}

.p-l-30 {
    padding-left: 30px;
}

.width-btn {
    width: 240px;
}

.readonly-checkbox {
    pointer-events: none !important;
}