<div class="popover-wrapper" #popoverWrapper>
  <span class="narr-help help-icon" (click)="toggle()">
    <em class="fa fa-question-circle"></em>
  </span>

  <div class="custom-popover" [class.show]="isVisible">
    <p style="font-size: 14px !important; font-weight: normal;">
      {{ helpText }}
      @if(shouldNavigate) {
        <a (click)="confirmNavigation()">
          <span style="font-size: 14px !important;color: #337ab7;">{{ linkText }}</span>
        </a>
      }
    </p>
    <button class="btn btn-pri btn-pop" (click)="close()">CANCEL</button>
    <button class="btn btn-pri btn-pop" (click)="refresh()">REFRESH</button>
  </div>
</div>