<div class="row">
    <div class="col-sm-6 text-start">
        <h4>Physician Information</h4>
    </div>
    <div class="col-sm-6 text-end m-t-20">
        <a class="btn btn-pri" id="backbuttonPhysicalInfo" [routerLink]="['../list']" >BACK</a>
    </div>
</div>
<div class="row" [formGroup]="physicianForm">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12 m-b-5">
                <p>PCP (Primary Care Physician)<label class="required"></label></p>
                <mat-radio-group required formControlName="isprimaryphycisian">
                    <mat-radio-button class="m-r-10" [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <mat-form-field>
            <mat-label>Name of the physician</mat-label>
            <input matInput required formControlName="name" placeholder="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Name of the facility of physician</mat-label>
            <input matInput required formControlName="facility" placeholder="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Phone number</mat-label>
            <input matInput mask="(000) 000-0000" required formControlName="phone" placeholder="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input matInput type="email" required formControlName="email" placeholder="">
        </mat-form-field>
    </div>
    <div class="col-sm-6">
        <mat-form-field>
            <mat-label>Address Line 1</mat-label>
            <input matInput formControlName="address1" placeholder="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address Line 2</mat-label>
            <input matInput formControlName="address2" placeholder="">
        </mat-form-field>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field>
                    <mat-label>City</mat-label>
                    <input formControlName="city" matInput placeholder="">
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field>
                    <mat-label>State</mat-label>
                    <mat-select required formControlName="state" placeholder="" (selectionChange)="loadCounty()">
                        <mat-option *ngFor="let item of stateDropdownItems$ | async" value="{{item.stateabbr}}">{{item.statename}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field>
                    <mat-label>County</mat-label>
                    <mat-select required formControlName="county" placeholder="">
                        <mat-option *ngFor="let item of countyDropDownItems$ | async" value="{{item.countyid}}">{{item.countyname}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field>
                    <mat-label>Zip Code</mat-label>
                    <input mask="00000-9999" [clearIfNotMatch]="true" formControlName="zip" matInput placeholder="">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field>
                    <mat-label>Start Date</mat-label>
                    <input required (change)="startDateChanged()" formControlName="startdate" matInput autocomplete="off" [matDatepicker]="picker"
                        placeholder="">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field>
                    <mat-label>End Date</mat-label>
                    <input (change)="endDateChanged()" formControlName="enddate" matInput autocomplete="off" [matDatepicker]="picker1"
                        placeholder="">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

    </div>
    <div class="row m-b-20">
        <div class="col-sm-11 ">
            <div class="pull-right">
                <span *ngIf="reportMode === 'add'">
                    <button class="btn-pri" (click)="resetForm()">Clear</button> &nbsp;
                    <button class="btn-pri" [disabled]="physicianForm.pristine || physicianForm.invalid" (click)="addPhysicianInfo(physicianForm.value)">Add</button>
                </span>
                <span *ngIf="reportMode === 'edit'">
                    <button class="btn-pri" [disabled]="physicianForm.pristine || physicianForm.invalid" *ngIf="editMode === true"
                        (click)="addPhysicianInfo(physicianForm.value)">Update</button>
                </span>
            </div>
        </div>
    </div>
</div>