<div class="tab-pane active" role="tabpanel">
    <div class="row"> 
        <div class="col-md-12 col-xs-12 col-sm-12 report-summary">
            <div class="box-grid box-grid1 mt-0 no-pad">
                <h3>Summary</h3>
                <div class="alert alert-info" *ngIf="!reportSummary">No Intake Data Available</div>
                <div class="row col-lg-12 col-xl-12 col-sm-12 form-wrapper">
                    <div class="col-lg-4 col-xl-4 col-sm-12 m-b-10">
                        <p *ngIf="!isRequestService"> <span class="clsMinwidth-130"> Intake Number </span> :
                            <span class="p-l-10">{{reportSummary?.intakenumber}}</span>
                        </p>
                        <p> <span class="clsMinwidth-130"> System Created Date </span>:
                            <span class="p-l-10"> {{reportSummary?.reporteddate | date: 'MM/dd/yyyy, hh:mm a'}}</span>
                        </p>

                        <p> <span class="clsMinwidth-130"> Supervisor Name </span> :
                            <span class="p-l-10"> {{ reportSummary?.supervisorname || 'N/A' }}</span>
                        </p>
                        <p> <span class="clsMinwidth-130"> Service Type </span> :
                            <span
                                class="p-l-10">{{reportSummary?.intakeservicerequesttype?.description | titlecase}}</span>
                        </p>
                        <p> <span class="clsMinwidth-130"> Service Subtype </span> :
                            <span class="p-l-10" *ngIf="!reportSummary?.intakeservices">{{reportSummary?.servicerequestsubtype?.description !== 'Default' ? reportSummary?.servicerequestsubtype?.description
                                : ''}}</span>
                                <ng-container *ngIf="reportSummary?.intakeservices">
                                    <span class="p-l-10" >{{reportSummary?.intakeservices}}</span>
                                </ng-container>                               
                        </p>
                        <p> <span class="clsMinwidth-130"> Head of Household </span> :
                            <span class="p-l-10">{{hohPersonName ? hohPersonName : ''}}</span>
                        </p>
                        <p *ngIf="isAs"> <span class="clsMinwidth-130"> Jurisdiction </span> :
                            <span
                                class="p-l-10">{{countyList && countyList.length ? countyList[0].countyname : '' }}</span>
                        </p>
                    </div>
                    <div class="col-lg-5 col-xl-5 col-sm-12 pr-0">
                        <div class="source-date-info">
                            <div class="row">
                                <div class="col-sm-10 col-md-10 col-lg-10">
                                    <div class="">
                                        <div class="form-group">
                                            <label>Referral</label>
                                            <div class="">
                                                <input type="text" disabled="true" class="form-control"
                                                    value="{{reportSummary?.intakeservicerequestinputtype?.description}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-20">
                                <div class="col-sm-6 col-md-6 col-lg-5">
                                    <div class="">
                                        <label>Start Date</label>
                                        <mat-form-field style="margin-top: -10px;">
                                            <input matInput autocomplete="off" [matDatepicker]="picker1" disabled="true"
                                                [value]="reportSummary?.reporteddate">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-5 ">
                                    <div class="row">
                                        <div class="col-lg-6 col-lg-6 col-sm-12">
                                            <div class="form-group">
                                                <label>Time</label>
                                                <input type="text" disabled="true" class="form-control clsMatBorder"
                                                    value="{{reportSummary?.reporteddate | date : 'hh:mm'}}"
                                                    name="reportedtime">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-lg-6 col-sm-12">
                                            <div class="form-group">
                                                <label>&nbsp;</label>
                                                <div class="select-icon">
                                                    <input type="text" disabled="true" class="form-control clsMatBorder"
                                                        value="{{reportSummary?.reporteddate | date : 'a'}}"
                                                        name="reportedtime">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-3 col-sm-12 col-sm-3 no-pd">
                        <div class="ra-disable" style="border:0;">
                            <div class="row">
                                <span *securityKeyNew = "'summary,summary.reportsummary.cpsintakereport'" class="">
                                    <button *ngIf='isCW && populatedIntake' class="btn btn-pri" [fieldKeyNew] = "'summary,summary.reportsummary.cpsintakereport'"
                                    (click)="previewCpsDoc()">CPS Intake Report</button>
                                </span>
                            </div>
                            <div class="">
                            <h5 class="labelDHS">Danger to DHS Worker :
                                <a *ngIf="dangerousself || dangerousaddress" data-bs-toggle="modal"
                                    data-bs-target="#person-danger-info">Yes </a>
                                <a class="no" data-bs-toggle="modal" data-bs-target="#person-danger-info"
                                    *ngIf="!dangerousself && !dangerousaddress">No </a>
                            </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"
                    *ngIf="(!(reportSummary?.isanonymousreporter) && !(reportSummary?.isunknownreporter))">
                    <h4>Reporter Details</h4>
                    <p> <span class="clsMinwidth-130"> First Name </span> :
                        <span
                            class="p-l-10">{{ reportSummary?.reporterfirstname ? reportSummary?.reporterfirstname : 'Not Provided'}}</span>
                    </p>
                    <p> <span class="clsMinwidth-130"> Last Name </span> :
                        <span
                            class="p-l-10">{{reportSummary?.reporterlastname ? reportSummary?.reporterlastname : 'Not Provided'}}
                        </span>
                    </p>
                    <p> <span class="clsMinwidth-130"> Phone </span> :
                        <span
                            class="p-l-10">{{reportSummary?.reporterphonenumber ? reportSummary?.reporterphonenumber : 'Not Provided' }}</span>
                    </p>
               
                <p> <span class="clsMinwidth-130"> Phone Ext </span> :
                    <span
                        class="p-l-10">{{reportSummary?.reporterphonenumberext ? reportSummary?.reporterphonenumberext : 'Not Provided'}}</span>
                    </p>
                </div>
                <div class="col-sm-4" *ngIf="(!(reportSummary?.isanonymousreporter) && !(reportSummary?.isunknownreporter))" style="padding-top: 40px">
                    <h4></h4>
                    <p> <span class="clsMinwidth-130"> Title </span> :
                        <span
                            class="p-l-10">{{ reportSummary?.reportertitle ? reportSummary?.reportertitle : 'Not Provided'}}</span>
                    </p>
                    <p> <span class="clsMinwidth-130"> Organization </span> :
                        <span class="p-l-10">{{reportSummary?.reporterorganization ? reportSummary?.reporterorganization : 'Not Provided'}}
                        </span>
                    </p>
                    <p> <span class="clsMinwidth-130"> Role </span> :
                        <span class="p-l-10">{{reportSummary?.reporterRoleName ? reportSummary?.reporterRoleName : 'Not Provided'}}
                        </span>
                    </p>
                </div>
                <div class="col-sm-4" *ngIf="(!(reportSummary?.isanonymousreporter) && !(reportSummary?.isunknownreporter))" style="padding-top: 40px">
                    <h4></h4>
                    <p> <span class="clsMinwidth-130"> Address</span> :
                        <span class="p-l-10">{{ reportSummary?.reporteraddress1 ? reportSummary?.reporteraddress1 : 'Not Provided'}}</span>
                        <span class="p-l-10">{{reportSummary?.reporteraddress2 ? reportSummary?.reporteraddress2 : ''}} </span>
                    </p>
                    <p><span class="clsMinwidth-130"> </span> 
                            <span class="p-l-10">
                                    {{reportSummary?.reportercity ? reportSummary?.reportercity : ''}} {{reportSummary?.reporterstate ? reportSummary?.reporterstate : ''}}
                                    {{reportSummary?.reporterzipcode ? reportSummary?.reporterzipcode : reportSummary?.offenselocation}}
                            </span>
                    </p>
                </div>
                <div class="col-sm-4" *ngIf="reportSummary?.isanonymousreporter || reportSummary?.isunknownreporter">
                    <h4>Reporter Details</h4>
                    <p *ngIf="reportSummary?.isunknownreporter"> <span class="clsMinwidth-130">
                            {{ reportSummary?.isunknownreporter ? 'Unknown Reporter' : 'Not Provided'}} </span>
                    </p>
                    <p *ngIf="reportSummary?.isanonymousreporter"> <span class="clsMinwidth-130">
                            {{ reportSummary?.isanonymousreporter ? 'Anonymous Reporter' : 'Not Provided'}} </span>
                    </p>
                </div>
            </div>
            <div *ngIf="ifChildExist()" class="row mb-20">
                <div class="col-sm-4">
                    <h4>Child(ren):</h4>
                    <table class="table table-bordered" aria-describedby="tbl-rprt-smry-dtls">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Role</th>
                                <th scope="col">Age</th>
                                <th scope="col">Dob</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container  *ngFor="let child of involvedPersons">
                                <tr *ngIf="checkIfChild(child)"> 
                                    <td>{{child?.firstname}}&nbsp;{{child?.lastname}}</td>
                                    <td>{{getRoleDescription(child?.roles)}}</td>
                                    <td>{{child?.incidentage}}</td>
                                    <td>{{child?.dob| date: 'MM/dd/yyyy'}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-grid-header Narrative">
                <h3 class="toggle-word">Narrative
                </h3>
                <div class="form-group ">
                    <div id="reportSummaryNarrative" [innerHtml]="textMarkUpNarrative"> 
                    </div>
                    <div class="textarea-icons">
                        <strong style="float: right; color: red;" *ngIf="paused">Paused</strong>
                        <strong style="float: right; color: green;" *ngIf="speaking">Speaking</strong>
                        <a class="voice-icon" (click)="readNarrative()" style="float: right; right: 0px; margin: 0 0px"
                            href="javascript:{}">
                            <img src="../../../../../assets/images/speak.png" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="box-grid-header Narrative" *ngIf ="addendumNarrative">
                <h3 class="toggle-word">Addendum to Narrative
                </h3>
                <div class="form-group ">
                    <div id="addendumNarrative" [innerHtml]="addendumNarrative"> 
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="person-danger-info" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Danger Info </h4>
                <button type="button" id="pdf-header-id" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-pad pt-10 ml-20 pl-0 mb-30 ">
                <div
                    *ngIf="personsInvolved && personsInvolved.length">
                    <div *ngFor="let person of personsInvolved" class="pb-10">
                        <div *ngIf="person?.fullname">
                            <h4>{{person?.fullname}}</h4>
                            
                            <span class="pl-10 full-width">  Danger to Worker  :
                                <span >{{person?.dangerous?.length && person?.dangerous[0]?.isdangertoworker ===  1 ? 'YES' : (person?.dangerous?.length && person?.dangerous[0]?.isdangertoworker ===  2) ? 'UNKNOWN' : 'NO'}} </span>
                            </span>
                            <span class="pl-10 full-width mb-10"> Danger at Address :
                                <span >{{person?.dangeraddress ? 'YES' : 'NO'}} </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="legal-guardian-role" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Caregiver Alert </h4>
                <button type="button" class="btn-close close pull-right" (click)="closeOverdueRolePopup()"></button>
            </div>
            <div class="modal-body modal-pad">
              
                    <ng-container *ngIf="careGiverMessages.length > 0">
                        <strong>Caregiver</strong>
                        <p *ngFor="let careGiverMessage of careGiverMessages">{{careGiverMessage.message}}</p>
                    </ng-container>
                <p *ngIf="isUnkPresent">Unknown Person(s) are added! Please update them in persons screen.</p>
                <strong *ngIf="alertMessageFor15Days || alertMessageFor30Days"></strong>
                <p *ngIf="alertMessageFor30Days">You have 30 days from this date to expend funds for services using the CfE funds. Expenditures not approved by the Supervisor before this cut off date will not be eligible</p>
                <p *ngIf="alertMessageFor15Days">You have 15 days from this date to expend funds for services using the CfE funds. Expenditures not approved by the Supervisor before this cut off date will not be eligible.</p>

                <strong *ngIf="isInfantnotReported">Infants / Toddlers not Reported </strong>
                <p *ngIf="isInfantnotReported">Please make a referral to the local Infants and Toddlers program for
                    <span *ngFor="let infant of needToSafeInfants; let isLast=last"> {{infant?.firstname}}
                        {{infant?.lastname}}<span *ngIf="!isLast">,</span></span></p>
              
                <strong *ngIf="this.pregnants.length>0">Pregnancy status</strong>
                <p *ngIf="this.pregnants.length>0">Please check the youth's ({{this?.pregnants}}) pregnancy status and update if the youth is no longer pregnant.</p>
                <a class="btn-pri pull-right aut-btn-legalGuardianNotFound" data-bs-dismiss="modal" 
                 *ngIf="isLGPresent || isUnkPresent || isInfantnotReported || (notPlacedChildList && notPlacedChildList.length) || (this.pregnants.length>0)"> OK </a>
                <strong *ngIf="isUnconfirmed">Unconfirmed Persons Found</strong>
                <p *ngIf="isUnconfirmed">This case has Unconfirmed Persons. Please confirm the unconfirmed persons in
                    persons screen.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="identify-active-persons" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Identify Active Persons </h4>
                <button type="button" class="btn-close close pull-right" (click)="clickOnIdentifyActiveOk()"></button>
            </div>
            <div class="modal-body modal-pad">
                <p style = "padding: 50px; padding-left: 220px; font-size: 18px;">Please Identify who should be active in the case.</p>
                <span></span>
            <a style = "min-width: 50px;" class="btn-pri pull-right aut-btn-legalGuardianNotFound" (click)= "clickOnIdentifyActiveOk()" > OK </a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="responsetime-overdue" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-cls">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Legislative Required Reporting: Late or Incomplete Initial Contact </h4>
            </div>
            <div class="modal-body modal-pad">
            <!-- Legislative Over due popup starts -->	
                <div *ngIf="showlegislativecontent">
                <p> Response Timer Conditions - Investigative Response</p>
                <div class="row">
                    <div class="col-md-12">
                        <input type="checkbox" disabled (change)="allegedVictimChange(580)"
                          [(ngModel)]="chkAllegedVictim"> Contact with Alleged Victim Completed
                    </div>
                    <div 
                     [ngClass]="hideallegeddropdown ? 'col-md-9 offset-md-1 m-t-10' : 'col-md-9 offset-md-1 m-t-10 required' "
                     *ngIf="!hideallegeddropdown">
                        <mat-select class="" [disabled]="isSupervisor" [(ngModel)]="selectAllegedVictimReason1" placeholder="Select Reason"  (selectionChange)="selectedAllegedVictimReason1(581,$event.value)" >
                        <mat-option
                            *ngFor="let item of allegedVictimreasonDropDown1 | orderBy:'item.description'"
                            [value]="item.ref_key">
                            {{item.description}}</mat-option>
                    </mat-select>
                    </div>
                    <div [ngClass]="allegedVictimreasonDropDown2.length == 0 ? 'col-md-9 offset-md-1 m-t-10' : 'col-md-9 offset-md-1 m-t-10 required'"
                    *ngIf="!hideallegeddropdown && allegedVictimreasonDropDown2.length > 0 && !enableAllegedDataEntryErrorReason 
                    && !isselectAllegedmultiple">
                       <mat-select  [disabled]="isSupervisor"  [(ngModel)]="selectAllegedVictimReason2"  placeholder="Select Reason"  (selectionChange)="selectedAllegedVictimReason2(582,$event.value)" >
                       <mat-option
                           *ngFor="let item of allegedVictimreasonDropDown2 | orderBy:'item.description'"
                           [value]="item.ref_key">
                           {{item.description}}</mat-option>
                   </mat-select>
                   </div>
                   <div [ngClass]="allegedVictimreasonDropDown2.length == 0 ? 'col-md-9 offset-md-1 m-t-10' : 'col-md-9 offset-md-1 m-t-10 required'"
                   *ngIf="!hideallegeddropdown && allegedVictimreasonDropDown2.length > 0 && !enableAllegedDataEntryErrorReason && isselectAllegedmultiple">
                      <mat-select [disabled]="isSupervisor" multiple [(ngModel)]="selectAllegedVictimReason2"  placeholder="Select Reason"  (selectionChange)="selectedAllegedVictimReason2(582,$event.value)" >
                      <mat-option
                          *ngFor="let item of allegedVictimreasonDropDown2 | orderBy:'item.description'"
                          [value]="item.ref_key">
                          {{item.description}}</mat-option>
                  </mat-select>
                  </div>
                    <div [ngClass]="allegedVictimreasonDropDown3.length == 0 ? 'col-md-9 offset-md-1 m-t-10' : 'col-md-9 offset-md-1 m-t-10 required'"
                          *ngIf="!hideallegeddropdown && allegedVictimreasonDropDown3.length > 0">
                        <mat-select [disabled]="isSupervisor" [(ngModel)]="selectAllegedVictimReason3"  placeholder="Select Reason">
                        <mat-option
                            *ngFor="let item of allegedVictimreasonDropDown3 | orderBy:'item.description'"
                            [value]="item.ref_key">
                            {{item.description}}</mat-option>
                    </mat-select>
                    </div>

                    </div>
                <div class="row">
                    <div class="col-md-12 mt-10 mb-10">
                        <input type="checkbox" disabled [(ngModel)]="chkOtherChild" [checked]='chkOtherChild'  (change)="otherChildChange(583)"
                            > Contact with Other Children Attempted or Completed
                    </div>
                    <div [ngClass]="hideotherchilddropdown ? 'col-md-9 offset-md-1 m-t-10' : 'col-md-9 offset-md-1 m-t-10 required' "
                        *ngIf="!hideotherchilddropdown">
                        <mat-select [disabled]="isSupervisor" [(ngModel)]="selectOtherChildReason1"  placeholder="Select Reason" (selectionChange)="selectedOtherChildReason1(584,$event.value)" >
                            <mat-option
                                *ngFor="let item of otherChildrenreasonDropDown1 | orderBy:'item.description'"
                                [value]="item.ref_key">
                                {{item.description}}</mat-option>
                        </mat-select> 
                    </div>
                    
                    <div [ngClass]="otherChildrenreasonDropDown2.length == 0 ? 'col-md-9 offset-md-1 m-t-10' : 'col-md-9 offset-md-1 m-t-10 required'"
                        *ngIf="!hideotherchilddropdown && otherChildrenreasonDropDown2.length > 0 && !enableChildrenDataEntryErrorReason">
                        <mat-select [disabled]="isSupervisor"  [multiple]="isselectChildrenmultiple"  [(ngModel)]="selectOtherChildReason2"  placeholder="Select Reason" (selectionChange)="selectedOtherChildReason2(585,$event.value)" >
                            <mat-option
                                *ngFor="let item of otherChildrenreasonDropDown2 | orderBy:'item.description'"
                                [value]="item.ref_key">
                                {{item.description}}</mat-option>
                        </mat-select> 
                    </div>

                    <div [ngClass]="otherChildrenreasonDropDown3.length == 0 ? 'col-md-9 offset-md-1 m-t-10' : 'col-md-9 offset-md-1 m-t-10 required'" *ngIf="!hideotherchilddropdown && otherChildrenreasonDropDown3.length > 0">
                        <mat-select [disabled]="isSupervisor" [(ngModel)]="selectOtherChildReason3"  placeholder="Select Reason" >
                            <mat-option
                                *ngFor="let item of otherChildrenreasonDropDown3 | orderBy:'item.description'"
                                [value]="item.ref_key">
                                {{item.description}}</mat-option>
                        </mat-select> 
                    </div>

                    </div>
                
                <div class="row">
                <div class="col-md-12  mt-10 mb-10">
                    <input type="checkbox" disabled (change)="caregiverChange(586)"
                    [(ngModel)]="chkCaregiver"> Contact with Initial Contact Caregiver Attempted or Completed
               </div>
               <div [ngClass]="hidecaregiverdropdown ? 'col-md-9 offset-md-1 m-t-10' : 'col-md-9 offset-md-1 m-t-10 required'"
                *ngIf="!hidecaregiverdropdown">
                   <mat-select [disabled]="isSupervisor" [(ngModel)]="selectCaregiverReason1"  placeholder="Select Reason"  (selectionChange)="selectedCaregiverReason1(587,$event.value)" >
                       <mat-option
                           *ngFor="let item of caregiverreasonDropDown1 | orderBy:'item.description'"
                           [value]="item.ref_key">
                           {{item.description}}</mat-option>
                   </mat-select>  
                </div>
                <div [ngClass]="caregiverreasonDropDown2.length == 0 ? 'col-md-9 offset-md-1 m-t-10' : 'col-md-9 offset-md-1 m-t-10 required'"
                *ngIf="!hidecaregiverdropdown && caregiverreasonDropDown2.length > 0 && !enableCaregiverDataEntryErrorReason 
                && !isselectCaregivermultiple">
                   <mat-select [disabled]="isSupervisor"   [(ngModel)]="selectCaregiverReason2"  placeholder="Select Reason"  (selectionChange)="selectedCaregiverReason2(588,$event.value)" >
                   <mat-option
                       *ngFor="let item of caregiverreasonDropDown2 | orderBy:'item.description'"
                       [value]="item.ref_key">
                       {{item.description}}</mat-option>
               </mat-select>
               </div>
               <div [ngClass]="caregiverreasonDropDown2.length == 0 ? 'col-md-9 offset-md-1 m-t-10' : 'col-md-9 offset-md-1 m-t-10 required'"
               *ngIf="!hidecaregiverdropdown && caregiverreasonDropDown2.length > 0 && !enableCaregiverDataEntryErrorReason 
               && isselectCaregivermultiple">
                  <mat-select [disabled]="isSupervisor" multiple  [(ngModel)]="selectCaregiverReason2"  placeholder="Select Reason"  (selectionChange)="selectedCaregiverReason2(588,$event.value)" >
                  <mat-option
                      *ngFor="let item of caregiverreasonDropDown2 | orderBy:'item.description'"
                      [value]="item.ref_key">
                      {{item.description}}</mat-option>
              </mat-select>
              </div>
                 <div [ngClass]="caregiverreasonDropDown3.length == 0 ? 'col-md-9 offset-md-1 m-t-10' : 'col-md-9 offset-md-1 m-t-10 required'" *ngIf="!hidecaregiverdropdown  && caregiverreasonDropDown3.length > 0">
                    <mat-select [disabled]="isSupervisor"  [(ngModel)]="selectCaregiverReason3"  placeholder="Select Reason" >
                        <mat-option
                            *ngFor="let item of caregiverreasonDropDown3 | orderBy:'item.description'"
                            [value]="item.ref_key">
                            {{item.description}}</mat-option>
                    </mat-select>  
                 </div>

                </div>
                <div class="row">
                    <div *ngIf="enableAllegedDataEntryErrorReason || enableChildrenDataEntryErrorReason
                    || enableCaregiverDataEntryErrorReason" class="col-md-12 clsreasoninput"> 
                       <label>Ticket #</label>
                       <input type="text" [disabled]="isSupervisor" [(ngModel)]="reason" matInput placeholder="" >                                 
                </div>

                <div class="row">
                    <div class="col-md-9  offset-md-1"> 
                        <label class="full-width">Case Worker Comment<span class="redc"></span></label>
                        <div class="textarea-notes">
                          <textarea [disabled]="isSupervisor" name="description" [(ngModel)]="caseWorkerComment" rows="5"
                            class="form-control full-width aut-txt-addNotesNarrator"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="!hasSaveForApproval">
                    <div class="col-md-9  offset-md-1">
                            <mat-form-field>
                                <mat-select placeholder="Select Supervisor" (selectionChange) ="changeSupervisor($event)"
                                [(ngModel)]="cpsActionSelectedSupervisor" required>
                                    <mat-option *ngFor="let item of supervisorsList"
                                    [value]="item.userid">{{item.username}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                    </div>
                </div>

                <div class="row" *ngIf="hasSaveForApproval">
                    <div class="col-md-9  offset-md-1"> 
                        <label class="full-width">Supervisor Comment<span class="redc"></span></label>
                        <div class="textarea-notes">
                          <textarea [disabled]="!isSupervisor" name="description" [(ngModel)]="supervisorComment" rows="5"
                            class="form-control full-width aut-txt-addNotesNarrator"></textarea>
                        </div>
                    </div>
                </div>
          
        </div>
            <br/>
            <label *ngIf="showSkip3Label && !isSupervisor">3rd Notice : "Skip - Report will be sent to SSA” will be pulled for a report.</label>
            <div class="d-flex justify-content-end pb-10 gap-2">	
            <button type="button" value="No" [disabled]="disableSubmitforApproval" *ngIf="!hideskipbtn && !showapprovebtn && !isSupervisor" class="btn-bg btn-bg-cls" name="" (click)="closeOverduePopup(true)"> Skip </button>	
            <button type="button" *ngIf="hideskipbtn && !isSupervisor"  value="No"
            class="btn-bg btn-bg-cls" name="" (click)="cancelPopup()"> Cancel
           </button>
            <button type="button" [disabled]="disableSubmitforApprovalSkip2" *ngIf="!hideskipbtn && showapprovebtn"  value="No"
                    class="btn-bg btn-bg-cls" name="" (click)="sendForApproval()"> Skip 2
            </button>	
            <button type="button" *ngIf="isSupervisor && showSkip3Label"  value="No"
                class="btn-bg btn-bg-cls" name="" (click)="sendForApproval()"> Yes, Approve
            </button>	
            <button type="button" *ngIf="isSupervisor && hasSaveForApproval"  value="No"
                class="btn-bg btn-bg-cls" name="" (click)="cpsResponseTimerSaveRouting(17)"> Reject
            </button>
            <button type="button" *ngIf="isSupervisor && hasSaveForApproval"  value="No"
                class="btn-bg btn-bg-cls" name="" (click)="cpsResponseTimerSaveRouting(16)"> Approve
            </button>
            <i class="fa fa-info-circle clsinfotop" aria-hidden="true"><span>1st skip takes you to contact notes <br>
                2nd skip requires supervisor approval <br>
            3rd skip is pulled to report for SSA </span></i>
            <button type="button" *ngIf="!isSupervisor && canSaveResponseTimer" value="Yes" class="btn-pri ml-10" name="" (click)="submitOverdue()"> Save </button>	
            </div>	
            </div>

            <div class="col-sm-10 mt-10 mb-10">
                <caption>History</caption>
                <table class="table table-borderedr clshistorytable" *ngIf="cpsResponseTimerList?.length > 0" aria-describedby="tbl-history-dtls">
                    <tr>
                        <th scope="col"> Updated on</th>
                        <th scope="col"> Updated By</th>
                        <th scope="col"> Action Info</th>
                    </tr>
                    <tr *ngFor="let case of cpsResponseTimerList">
                        <td>{{case.updatedon | date: 'MM/dd/yyyy h:mm a'}}</td>
                        <td>{{case.updatedbyname}}</td>
                        <td>{{case.cpsresponsetimeractiontype}}
                            <br>
                            <span class="tbl-span" *ngIf="case.routingstatustypeid == 15">{{'Submitted to : '}} {{case.submittedto}}</span>
                            <span class="tbl-span" *ngIf="case.approvedby && case.routingstatustypeid !== 15">{{case.routingstatustypeid == 17 ? 'Rejected By : ' : 'Approved by : '}} {{case.approvedby}}</span>
                            <br>
                            <span class="tbl-span" *ngIf="case.approveddate && case.routingstatustypeid !== 15">{{case.routingstatustypeid == 17 ? 'Rejected Date : ' : 'Approved Date : '}} {{case.approveddate | date: 'MM/dd/yyyy h:mm a' }}</span>
                            <br>
                            <span class="tbl-span" *ngIf="case.approveddate && case.routingstatustypeid !== 15">Supervisor Comment: {{case.supervisorcomments}}</span>
                        </td>
                    </tr>
                </table>
            </div>
<!-- Legislative Over due popup ends -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="birth-match-message" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Alert </h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-pad">
                <p [innerHTML]="birthMatchMessage"></p>
                <a class="btn-pri pull-right aut-btn-legalGuardianNotFound" data-bs-dismiss="modal"> OK </a>
                <a class="btn-pri pull-right aut-btn-legalGuardianNotFound" (click)="birthMatchDisplay()"> Do not notify me again </a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="cps-doc" role="dialog">
        <div class="modal-dialog modal-lg custom-wid" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">PDF preview</h4>
                    <button type="button" id="pdf-header-id" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close" routerLink="."></button>
                </div>
                <div class="modal-body">
                    <div class="text-right big-bot-space right-mspace-15">
                            <button type="button" class="btn-pri" data-bs-toggle="modal" data-bs-target="#iframe-Send-Email">
                                EMAIL
                            </button>
                        </div>
                        <div class="text-right big-bot-space right-mspace-15">
                            <button type="button" class="btn-pri" (click)="printCasePdf('cps-doc')">
                                PRINT
                            </button>
                        </div>
                        <div *ngIf = "intakeflag">
                            <cps-doc-letter></cps-doc-letter>
                        </div>
                </div>
            </div>
        </div>
    </div>

<!-- Send email -->
<div class="modal fade recording-chat-model" id="iframe-Send-Email" role="dialog">
        <div class="modal-dialog modal-md " [formGroup]="emailForm">
            <div class="modal-content form-wrapper txt-left">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" >×</button>
                    <h4 class="modal-title"> Send Emails</h4>
                    <input type="email" placeholder="Email " class="form-control"
                                                    formControlName="email">
                    <button class="btn-pri" 
                                (click)="sendEmail()">Send Email</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Emails -->