<!-- Person Card -->
<div class="row" *ngIf = "moduleview">
  <ng-container *ngIf="childList?.length; else elseTemplate">
    <ng-container *ngFor="let child of childList">
      <div class="col-sm-6 col-xl-3 col-lg-4" *ngIf="child.removalStatus">
        <div class="card panel-default person-panel">
          <div class="card-header selected-child" [ngClass]="{'selected-child': child.isRemoved}">
            <div class="d-flex">
              <div class="flex-grow-1" [formGroup]="childCardFormGroup">
                <h4>
                  <mat-radio-group formControlName='child'>
                    <mat-radio-button name="selected_child" (change)="viewChildInfo(child)"  [value]="child?.personid" [checked]="child?.personid===selectedChild?.personid">                      
                      <span matTooltip="{{(child?.fullname)}}">{{child?.fullname && child?.fullname?.length > 20 ? (child?.fullname.slice(0,20) | titlecase) + '...' : (child?.fullname | titlecase)}}</span>
                    </mat-radio-button>
                  </mat-radio-group>
                </h4>
                <div class="person-role-height">
                  <p class="designation" *ngFor="let role of child.roles; let isLast=last">
                    {{role.typedescription}}
                    <span *ngIf="!isLast" style="color:gray">,</span>
                  </p>
                </div>
              </div>
              <div class="d-flex-right">
                <div>
                  <img *ngIf="child.userphoto" mat-card-avatar mat-card-md-image src="{{child.userphoto | formatUrl}}" alt=""/>
                  <img *ngIf="!child.userphoto" mat-card-avatar mat-card-md-image
                      src="assets/images/ic_silhouette.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="involved-person-tables" aria-describedby="tbl-scl-hstry-cjams-dtls">
              <tr>
                <th scope="col">CJAMS PID#</th>
                <td>:</td>
                <td class="single-wrap">{{child?.cjamspid}}</td>
              </tr>
              <tr>
                <th scope="col">D.O.B</th>
                <td>:</td>
                <td class="single-wrap">{{child?.dob | date : 'MM/dd/yyyy'}}</td>
              </tr>
              <tr *ngIf="child?.dateofdeath">
                <th scope="col">D.O.D</th>
                <td>:</td>
                <td class="single-wrap">{{child?.dateofdeath | date : 'MM/dd/yyyy'}}</td>
              </tr>
              <tr>
                <th scope="col">Gender</th>
                <td>:</td>
                <td class="single-wrap">{{child?.gender}}</td>
              </tr>
              <tr>
                <th scope="col">Removal Date</th>
                <td>:</td>
                <td class="single-wrap">{{child?.removalInfo?.removaldate |  date : 'MM/dd/yyyy'}}</td>
              </tr>
              <tr>
                <th scope="col">SAFE-C Recommendation</th>
                <td>:</td>
                <td class="single-wrap">
                  <ng-container [ngSwitch]="child.issafe">
                      <ng-container *ngSwitchCase="1">Safe</ng-container>
                      <ng-container *ngSwitchCase="0">Unsafe</ng-container>
                      <ng-container *ngSwitchDefault>Assessment not done</ng-container>
                  </ng-container>
                </td>
              </tr>
              <tr *ngIf="child?.removalInfo?.servicecasenumber">

                <th scope="col">Service Case#</th>
                <td>:</td>
                <td class="single-wrap">
                  {{child?.removalInfo?.servicecasenumber}}
                </td>
              </tr>
              <tr *ngIf="child?.removalStatus">
                <th scope="col">Removal Status</th>
                <td>:</td>
                <td class="single-wrap">
                  {{child?.removalStatus}}
                </td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="col-sm-12 text-center">
      <p class="mat-error">No Data</p>
    </div>
  </ng-template>
</div>

<!-- Social History Grid -->
<div>
  <div class="row" *ngIf="selectedChild">
    <div class="col-md-12"> 
      <div class="text-end mb-10" *ngIf="isReadonly">
        <span *securityKeyNew = "'socialhistory,socialhistory.socialhistorylist.history'">
          <button [disabled]="isClosed || addNewSocialHist" [fieldKeyNew] = "'socialhistory,socialhistory.socialhistorylist.history'" class="btn btn-pri"  (click)="addNewHist(selectedChild)"><em class="fa fa-plus pe-5"> </em>
          History </button>
        </span>
      </div>
      <div class="clearfix">
        <table class="table table-bordered" aria-describedby="tbl-scl-hstry-slct-rcrd-dtls">
          <thead>
            <tr>
              <th scope="col">Select Record</th>
              <th class="col-width-fix-300 col-height-fix-50" scope="col">Necessitate Placement</th>
              <th class="col-width-fix-300 col-height-fix-50" scope="col">Family History</th>
              <th class="col-width-fix-300 col-height-fix-50" scope="col">Description of Child on entry</th>
              <th class="col-width-fix-300-last col-height-fix-50" scope="col">Details</th>
            </tr>
          </thead>
          <ng-container *ngIf="history?.length > 0; else noRecordTemplate">
            <tbody>
              <tr *ngFor="let item of history">
                <td class="text-center">
                  <mat-radio-button [ngClass]="{'disabledField': isClosed}" name="selected_hist" matToolTip="Select History Record" (click)="selectHist(item)"
                    [checked]="selectedHist?.socialhistoryid === item.socialhistoryid"></mat-radio-button>
                </td>
                <td class="col-width-fix-300">{{item.placement | ellipsis:250}}</td>
                <td class="col-width-fix-300">{{item.familyhistory | ellipsis:250}}</td>
                <td class="col-width-fix-300">{{item.childdesc | ellipsis:250}}</td>
                <td class="col-width-fix-300-last">
                  <ul *ngIf="item.insertedon">
                    <li>Created Date : {{item.insertedon | date : 'MM-dd-yyyy'}}</li>
                    <li>Created By : {{item.createdby}}</li>
                    <li>Updated Date : {{item.updatedon | date : 'MM-dd-yyyy'}}</li>
                    <li>Updated By : {{item.updatedby}}</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </ng-container>
          <ng-template #noRecordTemplate>
            <tr>
              <td colspan="5" class="text-center">
                No Records found
              </td>
            </tr>
          </ng-template>
        </table>
      </div>
    </div>
  </div>

  <!-- Social History Information -->
  <div class="m-t-10" [formGroup]="socialHistoryFormGroup" *ngIf="selectedHist">
    <div class="row" *ngIf="selectedHist">
      <div class="col-md-12 m-t-30 m-b-20">
        <h5 class="h5title text-20">Social History information</h5>
      </div>
      <!--Placement-->
      <div class="col-md-12">
        <label class="full-collapse-horizontal" class="required">Describe What Happened to Necessitate Placement( include events, dates, persons
          involved, and effectiveness of prevention efforts.</label>
        <div class="textarea-notes">
          <textarea name="placement" formControlName="placement" rows="5"
            class="form-control full-collapse-horizontal aut-txt-addNotesNarrator"></textarea>
        </div>
        <mat-error style="margin-top: -16px;" *ngIf="socialHistoryFormGroup.get('placement')?.invalid && checkmandatory">
          Please enter Describe What Happened to Necessitate Placement in above text box.</mat-error>
        <div id="divEditNotes" class="textarea-icons">
          <a href="javascript:{} ">
            <img *ngIf="recognizing === 'placement'" src="assets/images/voice-icon-on.png "
              (click)=" activateSpeechToText('placement') " alt="">
            <img *ngIf="recognizing !== 'placement'" src="assets/images/voice-icon-off.png "
              (click)="activateSpeechToText('placement') " alt="">
          </a>
        </div>
      </div>
      <!--Family History-->
      <div class="col-md-12 mt-20">
        <label class="full-collapse-horizontal" class="required">Family History (include family relations, living arrangement history, previous agency
          contacts, past and current legal/court involvement, substance abuse and mental health history, educational and
          employment experience, etc.)</label>
        <div class="textarea-notes">
          <textarea formControlName="familyhistory" name="familyhistory" rows="5"
            class="form-control full-collapse-horizontal aut-txt-addNotesNarrator"></textarea>
        </div>
        <mat-error style="margin-top: -16px;" *ngIf="socialHistoryFormGroup.get('familyhistory')?.invalid && checkmandatory">
          Please enter Family History in above text box.</mat-error>
        <div id="divEditNotes" class="textarea-icons">
          <a href="javascript:{} ">
            <img *ngIf="recognizing === 'familyhistory'" src="assets/images/voice-icon-on.png "
              (click)=" activateSpeechToText('familyhistory') " alt="">
            <img *ngIf="recognizing !== 'familyhistory'" src="assets/images/voice-icon-off.png "
              (click)="activateSpeechToText('familyhistory') " alt="">
          </a>
        </div>
      </div>
      <!--Child Description-->
      <div class="col-md-12 mt-20">
        <label class="full-collapse-horizontal" class="required">Description of Child on entry (include physical description, distinguishing features,
          personality,
          positive
          attributes and strengths and limitations, likes/dislikes, special talents, limitations or behavioral
          concerns,
          attitude towards placement, etc.)</label>
        <div class="textarea-notes">
          <textarea formControlName="childdesc" name="childdesc" rows="5"
            class="form-control full-collapse-horizontal aut-txt-addNotesNarrator"></textarea>
        </div>
        <mat-error style="margin-top: -16px;" *ngIf="socialHistoryFormGroup.get('childdesc')?.invalid && checkmandatory">
          Please enter Description of Child on entry in above text box.</mat-error>
        <div id="divEditNotes" class="textarea-icons">
          <a href="javascript:{} ">
            <img *ngIf="recognizing === 'childdesc'" src="assets/images/voice-icon-on.png "
              (click)=" activateSpeechToText('childdesc') " alt="">
            <img *ngIf="recognizing !== 'childdesc'" src="assets/images/voice-icon-off.png "
              (click)="activateSpeechToText('childdesc') " alt="">
          </a>
        </div>
      </div>
    </div>
    
    <div class="mt-20 text-end" *ngIf="isReadonly">
      <span *securityKeyNew = "'socialhistory,socialhistory.socialhistorylist.save'" [fieldKeyNew] = "'socialhistory,socialhistory.socialhistorylist.save'">
      <button type="button" class="aut-btn-saveremovalApproval btn-pri" (click)="save()">Save</button>
    </span>
      <button type="button" class="aut-btn-saveremovalApproval sec-btn" (click)="resetSelectedChild()">Cancel</button>
    </div>
  </div>
</div>
<div class="modal custom-modal" id="add-record" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"> Add New Record </h4>
            <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p> Are you sure you want to add a new social history record? This will replace the social history fields in the Case Plan. </p>
              <div class="text-end big-bot-space right-mspace-15">
                  <button type="button" value="No" class="btn-bg" name="" (click)="deleterecord()"> No </button>
                  <button type="button" value="Yes" class="btn-pri" name="" data-bs-dismiss="modal" (click)="addrecord()"> Yes </button>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="modal fade in" id="bioadoptedflag" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              <p class="title display-inlinebl">STOP</p>
              <div class=""><p class="theme f-w-600">You are trying to add social history for a biological profile of an adopted child which is not allowed.</p></div>
              <div class="text-start m-t-20">
                  <button type="button" value="" class="btn-pri" name="" data-bs-dismiss="modal" >OK</button>
              </div>
          </div>
      </div>
  </div>
</div>