.child_removal_container .row {
  border: px solid #D8D8D8;
}
.row + .row {
  border-top: 0;
}
.flx {
  display: flex;
}
.inner {
  border-right: 2px solid #D8D8D8;
  padding: 10px 15px;
}  
.inner-end {
  padding: 10px 15px;
}  

.fieldSetBorder {
  border:2px solid #eee;
  padding: 20px;
  }

.nav-tabs > li.active > a {
    border-bottom: 4px solid #00A2FD;
}

.blank-height {
  height: 150px;
}

.check-block mat-checkbox,
.display-bl {
  display: block;
}

.required-icon i:before {
  color: #ff5858;
  font-size: 8px;
}

.star-pos i {
  position: relative;
}

.star-pos i::before{
  position: absolute;
  top: -12px;
  right: -12px;
}

h5.h5title, .col {
  color: #00A2FD !important;
}

.clock-icon {
  position: relative;
}

.clock-icon .fa-clock-o {
  display: block;
}

.clock-icon .fa-clock-o:before {
  position: absolute;
  top: 25px;
  right: 7px;
}
.card-header.selected-child { 
  background: #c2dff0 !important;
}

.textarea-notes {
  position: relative;
}
.textarea-icons {
  position: absolute;
  bottom: 4px;
  right: 22px;
}
.form-group .textarea-icons a {
  border: 0 !important;
  padding: 0px;
  margin: 5px;
}
textarea.form-control {
  border: 1px solid #ccc;
  min-height: 200px;
  max-height: 200px;
  overflow-y: auto;
}

.modal-dialog .modal-header  {
 color: #000000;
}

.no-bg {
  border: none;
  outline: none;
  background: none;
  color: #00A2FD;
}

.text-20{
  font-size: 20px;
}
.disabledField {
  pointer-events: none;
  cursor: not-allowed;
}
.display-inlinebl {
	display: inline-block;
  padding-left: 10px;
}
.col-width-fix-300 {
  word-wrap: break-word !important;
  width: 26% !important;
  display: inline-block;
  height: 100% !important;
  border-bottom: none;
}

.col-width-fix-300-last {
  word-wrap: break-word !important;
  width: 22% !important;
  display: inline-block;
  height: 100% !important;
  border-bottom: none;
}

.col-height-fix-50 {
  padding-top: 15px!important;
  height: 55px !important;
  vertical-align: top !important;
}