

.clssection4 .clsblock select {
    display: block;
  }
  .table thead {
      
    font-size: 13px;
    border-width: 1px;
    padding: 12px 8px;
    text-transform: uppercase;
    background: #AEBED6;
    font-weight: 600;
    color: #000000 !important;
    text-align: left;
  }
  .table-bordered {
      border: 1px solid #000;
  }
//   .table-bordered>tbody>tr>td{
//     border: 1px solid #000 !important;
//   }
  .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
      background-color: transparent;
  }
  .estclass
  {
    .checkbox 
    {
        text-align: center;
        margin: 0 auto;
    }        
    
  }