<div class="box-grid">
  <div class="row big-top-space">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-bordered" sortable-table (sorted)="onSorted($event)" aria-describedby="Doc table">
          <thead>
            <tr>
              <th id="serviceTypeHeader" sortable-column="entityroletypekey" sort-direction="asc">Service Type</th>
              <th id="daSubTypeHeader" sortable-column="dasubtype">DA Sub-Type</th>
              <th id="DocumentTypeHeader" sortable-column="datype">Document Type</th>
              <th id="actionHeader">Action</th>
            </tr>
            <tr>
              <td>
                <div class="inner-addon right-addon">
                  <em class="fa fa-search" href="#" data-bs-toggle="modal" data-bs-target="#attach-user-selection"></em>
                  <input class="form-control full-collapse-horizontal" type="text" value="" (input)="onSearch('entityroletypekey', $event)"
                    placeholder="Search Service Type">
                </div>
              </td>
              <td>
                <div class="inner-addon right-addon">
                  <em class="fa fa-search" href="#" data-bs-toggle="modal" data-bs-target="#attach-user-selection"></em>
                  <input class="form-control full-collapse-horizontal" type="text" value="" (input)="onSearch('dasubtype', $event)" placeholder="Search DA Sub-Type">
                </div>
              </td>
              <td>
                <div class="inner-addon right-addon">
                  <em class="fa fa-search" href="#" data-bs-toggle="modal" data-bs-target="#attach-user-selection"></em>
                  <input class="form-control full-collapse-horizontal" type="text" value="" (input)="onSearch('datype', $event)" placeholder="Search Document Type">
                </div>
              </td>
              <td></td>
            </tr>
          </thead>
          <tbody *ngIf="docDetailsType$ | async; let docDetailsList">
            <tr *ngFor="let docdetails of docDetailsList">
              <td>{{docdetails.datype}}</td>
              <td>{{docdetails.dasubtype}}</td>
              <td>{{docdetails.entityroletypekey}}</td>
              <td>
                <span class="tooltip fade top in" role="tooltip" data-bs-placement="top" title="Edit" class="mrg-rht10">
                  <a data-bs-toggle="modal" data-bs-target="#doc-details-edit" (click)="editListItem(docdetails)">
                    <img src="assets/images/form-letter/edit-icon.png" alt="">
                  </a>
                </span>
              </td>
              <tr *ngIf="docDetailsList?.length === 0">
                <td colspan="4">No records found.</td>
              </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
<div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
  <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords ?? 0" [(ngModel)]="paginationInfo.pageNumber"
    (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
</div>


<div class="modal fade" id="doc-details-edit" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content customize-modal">
      <div class="modal-header">
        <button type="button" class="btn-close" (click)="clearForm()">×</button>
        <h4 class="modal-title">Edit Document Detail</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered" aria-describedby="Doc Details">
                <thead>
                  <tr>
                    <th id="questionHeader">Question</th>
                    <th id="deficiencyHeader">Deficiency</th>
                    <th id="textHeader">Text</th>
                    <th id="actionHeader">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let docDetails of docDetailsTypes$ | async">
                    <td>{{docDetails.questionname}}</td>
                    <td>
                      <span>
                        <a href="javascript:{0}">
                          <img src="assets/images/form-letter/delete-icon.png" alt="">
                        </a>{{docDetails?.statestatutes?.statestatuteskey}}</span>
                    </td>
                    <td>{{docDetails.questiontext}}</td>
                    <td>
                      <span data-bs-toggle="tooltip" data-bs-placement="top" title="" class="mrg-rht10" data-original-title="Edit">
                        <a (click)="editItem(docDetails)">
                          <img src="assets/images/form-letter/edit-icon.png" alt="">
                        </a>
                      </span>
                      <span data-bs-toggle="tooltip" data-bs-placement="top" title="" class="mrg-rht10" data-original-title="Edit">
                        <a href="javascript:{0}">
                          <img src="assets/images/form-letter/entry-down.png" alt="">
                        </a>
                      </span>
                      <span data-bs-toggle="tooltip" data-bs-placement="top" title="" class="mrg-rht10" data-original-title="Edit">
                        <a href="javascript:{0}">
                          <img src="assets/images/form-letter/entry-up.png" alt="">
                        </a>
                      </span>
                      <span data-bs-toggle="tooltip" data-bs-placement="top" title="" class="mrg-rht10" data-original-title="Edit">
                        <a href="javascript:{0}" (click)="confirmDelete(docDetails)">
                          <img src="assets/images/form-letter/delete-icon.png" alt="">
                        </a>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <hr>
        <form [formGroup]="docDetailForm">
          <div class="row" class="col-sm-12">
            <div class="fm-box">
              <label class="col-sm-3" class="required">Question:</label>
              <div class="fm-box-form col-sm-9 fm-narrate">
                <textarea formControlName="questionname" class="form-control fm-style" placeholder=""></textarea>
              </div>
            </div>
            <div class="fm-box">
              <label class="col-sm-3" class="required">Correction Text:</label>
              <div class="fm-box-form col-sm-9 fm-narrate">
                <textarea formControlName="questiontext" class="form-control fm-style" placeholder=""></textarea>
              </div>
            </div>
            <div class="fm-box">
              <label class="col-sm-3">Deficiency:</label>
              <div class="fm-box-form col-sm-9 fm-narrate">
                {{ selectedDocDetail.statestatutes.statestatuteskey }}
                <a href="javascript:{0}" (click)="selectDeficiency()">
                  <img src="assets/images/form-letter/search_16x16.gif" alt="">
                </a>
              </div>
            </div>
          </div>
          <div *ngIf="componentConfig.listShow">
            <div class="row">
              <div class="col-sm-12">
                <form [formGroup]="findFilterStateForm" (submit)='findFilterStateDetails()'>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="mb-3">
                          <div class="col-sm-3">
                            <label style="
                              margin-top: 10px;font-weight: 700;
                              font-size: 11px;
                              color: #4c4848;
                            ">Find State Statute Sub Topic: </label>
                          </div>
                          <div class="col-sm-4">
                            <input type="text" class="form-control" formControlName="filterStateSearch">
                            <em class="fa fa-search" href="" (click)="findFilterStateDetails()" data-bs-toggle="modal" data-bs-target="#attach-user-selection"
                              style="position: absolute;
                            right: 0;
                            top: 9px;
                            margin-right: 25px;"></em>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row big-top-space">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-bordered" aria-describedby="Doc Details table">
                    <thead>
                      <tr>
                        <th id="selectHeader">Select</th>
                        <th id="statutesKeyHeader">Statutes Key</th>
                        <th id="statuteTextHeader">Statute Text</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let docDetails of docDetailsTypesList$ | async">
                        <td>
                          <a href="javascript:{0}" (click)="selectDocDetail(docDetails)">Select</a>
                        </td>
                        <td>{{docDetails.statestatuteskey}}</td>
                        <td>{{docDetails.statestatutetext}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <nav class="text-center table-pagination">
                  <ul class="pagination">
                    <li class="disabled">
                      <a href="javascript:void()" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                      </a>
                    </li>
                    <li class="active">
                      <a href="javascript:void()">1</a>
                    </li>
                    <li class="">
                      <a href="javascript:void()">2</a>
                    </li>
                    <li class="">
                      <a href="javascript:void()">3</a>
                    </li>
                    <li>
                      <a href="javascript:void()" aria-label="Previous">
                        <span aria-hidden="true">»</span>
                      </a>
                    </li>
                  </ul>
                </nav>

              </div>
            </div>
          </div>
          <div class="text-end big-top-space">
            <button type="button" value="cancel" class="btn-bg" name="close" (click)="clearForm()">Cancel</button>
            <button type="submit" value="save" class="btn-pri" name="save" (click)="saveItem(docDetailForm.value)" [disabled]="docDetailForm.pristine || docDetailForm.invalid">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade custom-modal" id="delete-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal">×</button>
        <h4 class="modal-title"> Confirm Delete </h4>
      </div>
      <div class="modal-body">
        <p> Are you sure you want to delete this item? </p>
        <div class="text-end big-bot-space right-mspace-15">
          <button type="button" value="No" class="btn-bg" name="" (click)="declineDelete()"> No </button>
          <button type="button" value="Yes" class="btn-pri" name="" (click)="deleteItem()"> Yes </button>
        </div>
      </div>
    </div>
  </div>
</div>