<div class="">
    <div class="col-box mydsds-action">
        <h2>{{totalRecords$|async}}
        </h2>
        <div class="row">
            <div class="col-sm-4">

                <mat-form-field>
                    <mat-label>Search Case #</mat-label>
                    <input type="text" matInput placeholder="" (keyup.enter)="onSearchCase()" [(ngModel)]="servicerequestnumber">
                    <button mat-button matSuffix aria-label="Search" (click)="onSearchCase()">
                            <i aria-hidden="true" class="fa fa-search"></i>
                          </button>
                </mat-form-field>
            </div>
            <div class="col-sm-8 align-content-center">
                <div class="pull-right m-t-10">
                    <mat-radio-group (change)="getDsdsActionData(1)" [(ngModel)]="status">
                        <mat-radio-button value="all">All</mat-radio-button>
                        <mat-radio-button value="inprogress">In Progress</mat-radio-button>
                        <mat-radio-button value="closed">Closed</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

        </div>
        <table style="width:100%;" class="perform-table" aria-describedby="tbl-dshbrd-mydsdsactn-dtls">
            <tr>
                <th *ngIf="isDjs" scope="col">Youth</th>
                <th *ngIf="isDjs" scope="col">CJAMS PID</th>
                <th scope="col">Case #</th>
                <th scope="col">Type</th>
                <th *ngIf="isDjs" scope="col">Folder</th>
                <th *ngIf="!isDjs" scope="col">Subtype</th>
                <th *ngIf="!isDjs" scope="col">Focus</th>
                <th scope="col">Due Date</th>
            </tr>
            <tbody *ngIf="dsdsActionList$ | async; let dsdsActionList">
                <tr *ngFor="let item of dsdsActionList">
                    <td  *ngIf="isDjs">{{item.displayname}}</td>
                    <td  *ngIf="isDjs">{{item.personcjamspid}}</td>
                    <td>
                        <a (click)="routToCaseWorker(item)">{{item.servicerequestnumber}}</a>
                    </td>
                    <td>{{item.srtype}}</td>
                    <td *ngIf="isDjs">{{item.foldertype}}</td>
                    <td *ngIf="!isDjs">{{item.srsubtype !== 'Default' ? item.srsubtype : ''}}</td>
                    <td  *ngIf="!isDjs">
                        {{item.displayname}}
                    </td>
                    <td>{{item.duedate| date: 'MM/dd/yyyy' }}</td>
                </tr>
                <tr *ngIf="dsdsActionList?.length === 0">
                    <td colspan="5">No Records Found</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center d-flex justify-content-center mt-3" *ngIf="{dsdsActionList:dsdsActionList$ | async,totalRecords:totalRecords$ | async} as validatePagination">
            <pagination *ngIf="validatePagination.dsdsActionList?.length!==0" [totalItems]="validatePagination.totalRecords ?? 0"
                [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)" class="pagination-sm"
                [boundaryLinks]="true" [maxSize]="10">
            </pagination>
        </div>

    </div>
</div>