@use '../../person-info.component.scss';

.view-mode {
    pointer-events: none;
}

.tbl-med-psy {
    margin-bottom: 0px;
}

  ::ng-deep .mat-mdc-menu-panel {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    min-height:30px !important;
    min-width:80px !important;
    
  }
  ::ng-deep .mat-mdc-icon-button {
    padding: 0;
    min-width: 0;
    width: 20px !important;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}
.renewalsys {
  background: url("../../../../../../assets/images/renewal_enabled.svg") no-repeat;
  height: 20px !important;
  width: 20px !important;
  padding: 14px !important;
}
.renewal {
  background: url("../../../../../../assets/images/renewal_enabled.svg") no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding: 14px !important;
}
.refillicon {
  background: url("../../../../../../assets/images/refill-medication_icon.svg") no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding: 14px !important;
}
.medication-change {
  background: url("../../../../../../assets/images/change-medication_icon.svg") no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding: 14px !important;
}
.disabled {
  color: rgba(0, 0, 0, 0.38)!important ;
  border: none !important;
  background: transparent !important;
  padding: 0 !important;
}
.renewal:hover {
  background: url("../../../../../../assets/images/renewal_hover.svg") no-repeat;
}

.delete {
  background: url("../../../../../../assets/images/delete_enabled.svg") no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding: 14px !important;
}
.delete:hover {
  background: url("../../../../../../assets/images/delete_hover.svg") no-repeat;
}
.edit {
  background: url("../../../../../../assets/images/edit_enabled.svg") no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding: 14px !important;
}
.edit:hover {
  background: url("../../../../../../assets/images/edit_hover.svg") no-repeat;
}

.historylog {
  background: url("../../../../../../assets/images/historylog_enabled.svg") no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding: 14px !important;
  z-index: 1 !important;
  position: relative !important;
}
.historylog:hover {
  background: url("../../../../../../assets/images/historylog_hover.svg") no-repeat;
}
.view {
  background: url("../../../../../../assets/images/view_enabled.svg") no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding: 14px !important;
}
.view:hover {
  background: url("../../../../../../assets/images/view_hover.svg") no-repeat;
}
.font-16 {
  height: 100px !important;
  width: 100px !important;
  padding: 14px !important;
}
.active {
  background: url("../../../../../../assets/images/active_icon.svg") no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding: 14px !important;
}
.inactive {
  background: url("../../../../../../assets/images/inactive_icon.svg") no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding: 14px !important;
}

.content-wrapper-padding {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  word-wrap: break-word !important;
}
.compliantcomments {
  box-shadow: none !important;
  border-bottom: 1px solid #D8D8D8 !important;
}
.refill-pop {
  padding-left: 20px;
  padding-top: 20px;
}
.flex-container-med {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container-med > div {
  text-align: center;
}
/* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
.mat-input-f:read-only {
  color: rgba(0, 0, 0, .38);
}


.pagination-alignment {
  margin: 20px 0 !important;
}
.informationBox {
    select {
        appearance: auto;
    }

    .section {
        border: 1px solid #d8d8d8;
        padding: 10px;
    }

    .mt18 {
        margin-top: 18px;
    }
}
.p0 {
    padding: 0px;
}

.disabledField {
  pointer-events: none;
  cursor: not-allowed;
}