.cus-tab-section li {
    width: 18%;
}

.nav-tabs.cus-tab-section,
.nav-tabs.cus-tab-section > li.active > a:hover,
.cus-tab-section li.active > a:focus,
.cus-tab-section .nav-tabs,
.cus-tab-section li.active > a,
.cus-tab-section .nav-tabs > li.active > a:hover {
    border: none;
}
.cus-tab-section .tab-txt {
    background: #fff;
    padding: 0 5px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    color: #555;
}
.nav-tab.cus-tab-section li a:hover,
.nav-tab.cus-tab-section li a:focus {
    background: #fff;
}
.cus-tab-section li:last-child {
    width: 17%;
}
.cus-tab-section li:last-child.active:after,
.cus-tab-section li:last-child:after {
    display: none;
}
.cus-tab-section li:after,
.cus-tab-section li.active:after {
    background: #333;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: calc(100% - 45px);
    margin-left: 35px;
}
.cus-tab-section li a {
    padding: 10px 0;
}
.cus-tab-section li a:hover {
    background: #fff;
}
.cus-tab-section li.active a {
    font-weight: 700;
}
.circle {
    border: 1px solid #00A2FD;
    border-radius: 50%;
    padding: 4px 6px;
}
.circle:after {
    width: 1px;
    height: 1px;
    background: #fff;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}
.circle.completed:after {
    width: 1px;
    height: 1px;
    background: #00A2FD !important;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}
.cus-tab-section li.active .circle:after {
    background: none;
    display: none; /* content: "\e001"; */
}
.cus-tab-section li.active .circle {
    border: 1px solid #00A2FD;
    background: #00A2FD;
    color: #fff;
}
.cus-tab-section li .fa-pencil:before {
    content: none;
}
.cus-tab-section li.active .fa-pencil:before {
    content: '\f040';
}

.nav-tab {
    display: flex;
    justify-content: center;
}

.nav.nav-tab {
    border: none;
    padding-bottom: 20px;
}

.table-theme .table tr td {
    text-align: left!important;
}

.ref-address p {
    padding-top: 20px;
}

.ref-address p.p-t-0 {
    padding-top: 0px;
}

.m-l-5 {
    margin: 5px;
}

.p-l-20 {
    padding-left: 20px;
}

.m-l-15 {
    margin-left: 15px;
}

.placement-body.modal-body {
    max-height: 100%;
}

i.fa.fa-clock-o {
    position: absolute;
    right: 6px;
    top: 14px;
}

.dp-block mat-checkbox {
    display: block;
}

.heading-bg {
    background: #E0E8F8;
    color: #333;
    padding: 8px 10px 5px;
}

.heading-bg.width {
    width: 50%;
}

.nav-tabs li a {
    padding:12px 15px;
}

.nav-tabs > li.active > a {
    background-color:#00A2FD;
    color:#fff;
}

.nav-tabs > li a:after {
    background-color:transparent;
    height:0;
}

.nav {
    border:none;
}

.tab-content {
    padding: 5px 0;
    box-shadow: none;
}

.foster-icon span i:before {
    padding: 0px 5px;
    color: #00A2FD;
    cursor: pointer;
}

.palcement-tb th:last-child,
.palcement-tb td:last-child {
    text-align: center;
}

.ref-detailpara p {
    margin: 0 0 20px;
}
.height-table {
    height:330px;
    overflow: hidden;
    overflow-y: auto;
}
.height-table .table thead tr th:nth-child(2) {
    min-width: 100px;
    max-width: 100px;
}
.height-table .table thead tr th:nth-child(7) {
    min-width: 175px;
    max-width: 175px;
}
.height-table .table thead tr th:nth-child(8) {
    min-width: 175px;
    max-width: 175px;
}
.placement-tab .nav {
    border-bottom: 1px solid #D8D8D8 !important;
    background: #fff;
}

.disp-color{
    color: #00A2FD;
}
.no-bg {
    background: none;
    border: none;
    color: #00A2FD;
    padding: 5px;
    font-size: 13px;
}

.void-btn:hover {
    background: none;
    color: #00A2FD;
    padding: 5px;
    font-size: 13px;
    border: none;
}