<div class="container-padding">
  <div class="col-sm-12 mt-10 mb-10">
    <div class="row">
      <div class="col-sm-6">
        <h5 class="clsTitle"> {{title | uppercase}} PERSON INVOLVED</h5>
        <h5 class="header-name" *ngIf="personInfo">{{personInfo?.personbasicdetails?.firstname  | uppercase}}
            {{personInfo?.personbasicdetails?.middlename}} {{personInfo?.personbasicdetails?.lastname}} | PID # {{personInfo?.personbasicdetails?.cjamspid}}
            | CIS # {{personInfo?.personbasicdetails?.cisclientid}}</h5>
      </div>
      <div class="col-sm-6 text-end">
        <div class="header-title">
          <button class="btn btn-pri" (click)="goBack()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> back
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="person-detail-wrapper">
    <div class="col-sm-12">
      <div class="tab-horizontal">
        <ul class="nav nav-pills">
          <li [class]="selectedurl === tab.path ? 'active' : ''" *ngFor="let tab of tabs">
            <a class="nav-link active" routerLinkActive="active" *ngIf="tab.enable==true" (click)="tabChanged(tab.path)">
              {{tab.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="container-fluid container-height">
        <router-outlet></router-outlet>
      </div>
  
    </div>
  </div>
  
  <!-- Navigation Confirm Modal -->
  <div class="modal fade" id="route-confirm" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Confirm navigation </h4>
          <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <p> Are you sure you want to navigate away to <strong> {{selectedPageName}} </strong> ? </p>
          <small>*Please save, otherwise all your changes will be lost.</small>
        </div>
        <div class="modal-footer">
          <div class="text-end right-mspace-15">
            <button type="button" value="No" class="btn-bg" name="" data-bs-dismiss="modal" (click)="resetSelectedURL()"> Stay </button>
            <button type="button" value="Yes" class="btn-pri" name="" data-bs-dismiss="modal" (click)="routeConfirm()">
              Proceed </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Navigation Confirm Modal -->
  <div class="modal fade" id="route-confirm-addnew" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h4 class="modal-title"> Please add a person. </h4>
        </div>
        <div class="modal-footer">
          <div class="text-end right-mspace-15">
            <button type="button" value="Okay" class="btn-pri" name="" data-bs-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>