<div class="text-end"></div>

<form [formGroup]="disclosureCheklistForm" id="disclosure-Cheklist-Form">
    <div class="row m-t-20" *ngIf="showTitle4eFields">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="no-pad clsIntake dpnew">
                <mat-form-field>
                                            <mat-label>Date of Promote to employment Program</mat-label>
                    <input matInput autocomplete="off" [matDatepicker]="dateOfPromotePicker" (click)="dateOfPromotePicker.open()"
                        placeholder="" formControlName="empprogramstartdate" />
                    <mat-datepicker-toggle matSuffix [for]="dateOfPromotePicker"></mat-datepicker-toggle>
                    <mat-datepicker #dateOfPromotePicker></mat-datepicker>
                </mat-form-field>
            </div>

        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <mat-form-field>
                                            <mat-label>Name of Promote to Employment Program</mat-label> <input type="text" matInput placeholder=""
                    formControlName="empprogramname" /> </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <mat-form-field>
                                            <mat-label>Foster Home Approver</mat-label> <input type="text" matInput placeholder=""
                    formControlName="fosterhomeapprover" /> </mat-form-field>
        </div>
    </div>
    
    <div class="clsGap-form clsForm-inline brd-divider">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 guardian-row">
                <span><strong>Provider ID</strong>: {{ disclosureCheklistForm.value.guardianoneproviderid }}</span>
            </div>
        </div>
    </div>
    <div class="clsGap-form clsForm-inline brd-divider">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 guardian-row">
                <span><strong>Primary Guardian Name</strong>: {{ disclosureCheklistForm.value.guardianonename }}</span>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <span><strong>Primary Guardian DOB</strong>:
                    {{ guardianOneDob ? guardianOneDob : ''  }}</span>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <span><strong>Primary Guardian Relationship</strong>:
                    {{ guardianonerelation ? guardianonerelation : '' }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4guardian-row">
                <span><strong>Secondary Guardian Name</strong>: {{ disclosureCheklistForm.value.guardiantwoname }}</span>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <span><strong>Secondary Guardian DOB</strong>:
                    {{ guardianTwoDob ? guardianTwoDob : '' }}</span>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <span><strong>Secondary Guardian Relationship</strong>:
                    {{ guardiantworelation ? guardiantworelation : '' }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <div class="no-pad clsIntake dpnew disclosuredate">
                    <mat-form-field>
                                            <mat-label>Disclosure Date</mat-label>
                        <input matInput autocomplete="off" [matDatepicker]="pickerm1" (click)="pickerm1.open()"
                            placeholder="" formControlName="disclosuredate" required />
                        <mat-datepicker-toggle matSuffix [for]="pickerm1"></mat-datepicker-toggle>
                        <mat-datepicker #pickerm1></mat-datepicker>
                    </mat-form-field>
                    <mat-error *ngIf="disclosureCheklistForm.controls.disclosuredate.status=='INVALID' && mandatoryField " >
                        Please Select Disclosure Date
                        </mat-error>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <div class="no-pad clsIntake dpnew disclosuredate">
                    <mat-form-field>
                                            <mat-label>Date of Planning meeting</mat-label>
                        <input matInput autocomplete="off" [matDatepicker]="pickerm3" (click)="pickerm3.open()"
                            placeholder="" formControlName="dateofplanning" required />
                        <mat-datepicker-toggle matSuffix [for]="pickerm3"></mat-datepicker-toggle>
                        <mat-datepicker #pickerm3></mat-datepicker>
                    </mat-form-field>
                    <mat-error *ngIf="disclosureCheklistForm.controls.dateofplanning.status=='INVALID' && mandatoryField " >
                        Please Select Date of Planning meeting
                        </mat-error>
                </div>
            </div>
            <div class="col-sm-3 disclosuredate">
                <mat-form-field>
                                            <mat-label>Entered By</mat-label> <input type="text" matInput placeholder="" formControlName="enteredby" />
                </mat-form-field>
            </div>
            <div class="col-sm-3 disclosuredate">
                <mat-form-field>
                                            <mat-label>Enter Name of the Successor Guardian</mat-label> <input type="text" matInput placeholder=""
                        formControlName="successorguardianname" /> </mat-form-field>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" *ngIf="showTitle4eFields">
                <mat-form-field>
                                            <mat-label>Guardianship Finalization Date as per Court Order</mat-label>
                    <input matInput autocomplete="off" [matDatepicker]="finalizationPicker" (click)="finalizationPicker.open()"
                        formControlName="cofinaldate" placeholder="" />
                    <mat-datepicker-toggle matSuffix [for]="finalizationPicker"></mat-datepicker-toggle>
                    <mat-datepicker #finalizationPicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" *ngIf="showTitle4eFields">
                <ul class="list-group checklist-disclosure">
                    <li class="list-group-item ">
                        Does Successor Guardian Exists?
                        <span class="pull-right">
                            <mat-radio-group formControlName="issuccessorguardianexists"
                                (change)="decideSecondaryGuardianInfo()">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </li>
                </ul>

            </div>
        </div>
        <div class="row" *ngIf="showTitle4eFields">
            <ng-container *ngIf="isSuccessorGuardianExists">
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="no-pad clsIntake dpnew">
                        <mat-form-field>
                                            <mat-label>Date of successor guardian Addendum</mat-label>
                            <input matInput autocomplete="off" [matDatepicker]="addendumPickerm1" (click)="addendumPickerm1.open()"
                                placeholder=""
                                formControlName="successionaddendumdate" />
                            <mat-datepicker-toggle matSuffix [for]="addendumPickerm1"></mat-datepicker-toggle>
                            <mat-datepicker #addendumPickerm1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>

        </div>
        <div class="row" *ngIf="showTitle4eFields">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <ul class="list-group checklist-disclosure">
                    <li class="list-group-item ">
                        Does the Child has any attachment ties with Primary Guardian?
                        <span class="pull-right">
                            <mat-radio-group formControlName="isguardianattach">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </li>
                    <li class="list-group-item ">
                        Does the Child has any attachment ties with Secondary Guardian?
                        <span class="pull-right">
                            <mat-radio-group formControlName="ischildsecondguardianattach">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </li>
                    <li class="list-group-item ">
                        Was appropriate Consultation taken place with Child on Age?
                        <span class="pull-right">
                            <mat-radio-group formControlName="isconsultationchildage">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </li>
                </ul>
            </div>
        </div>


    </div>

    <div class="checklist">
        <div class="row">
            <div class="col-md-4 blue">
                <label><strong>CHECKLIST</strong></label>
            </div>
            <div class="col-md-4 blue">
                <label><strong>APPROVAL STATUS - </strong></label> <span
                    style="color: #333;">{{ disClosuseCheckList.routingstatus }}</span>
            </div>
        </div>
    </div>

    <section class="mt-20">
        <ul class="list-group checklist-disclosure">
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        The child has been committed to the State and placed with the provider for at least six(6) months.<span
                            class="required"></span>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
        
                            <mat-radio-group formControlName="ischildplacedsixmonths">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
        
        
                        </span>
                    </div>
                </div>
                <mat-error *ngIf="disclosureCheklistForm.controls.ischildplacedsixmonths.status=='INVALID' && mandatoryField ">
                    Please Select value
                </mat-error>
            </li>
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        The provider is approved for Guardianship Assistance Program.<span class="required"></span>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
                            <mat-radio-group formControlName="isproviderapprovedgap">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
        
                        </span>
                    </div>
                </div>
                <mat-error *ngIf="disclosureCheklistForm.controls.isproviderapprovedgap.status=='INVALID' && mandatoryField ">
                    Please Select value
                </mat-error>
            </li>
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        The child must be under 18 years of age at the time of the court hearing awarding custody and
                        guardianship.<span class="required"></span>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
                            <mat-radio-group formControlName="iscourthearingcustody">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
        
                        </span>
                    </div>
                </div>
                <mat-error *ngIf="disclosureCheklistForm.controls.iscourthearingcustody.status=='INVALID' && mandatoryField ">
                    Please Select value
                </mat-error>
            </li>
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        Reunification has been ruled out as a permanency plan <span class="required"></span>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
        
                            <mat-radio-group formControlName="isreunificationremoved">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
        
        
                        </span>
                    </div>
                </div>
                <mat-error *ngIf="disclosureCheklistForm.controls.isreunificationremoved.status=='INVALID' && mandatoryField ">
                    Please Select value
                </mat-error>
            </li>
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        Adoption has been ruled out as a permanency plan<span class="required"></span>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
        
                            <mat-radio-group formControlName="isadoptionremoved">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
        
                        </span>
                    </div>
                </div>
                <mat-error *ngIf="disclosureCheklistForm.controls.isadoptionremoved.status=='INVALID' && mandatoryField ">
                    Please Select value
                </mat-error>
            </li>
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        The caregiver is able to provide a safe and stable home that promotes health, well-being and permanency
                        for the child.<span class="required"></span>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
                            <mat-radio-group formControlName="iscgprovidesafe">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </div>
                </div>
                <mat-error *ngIf="disclosureCheklistForm.controls.iscgprovidesafe.status=='INVALID' && mandatoryField ">
                    Please Select value
                </mat-error>
            </li>
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        The caregiver has an independent means of financial support for themselves and their family other than
                        Guardianship Assistance Program.<span class="required"></span>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
                            <mat-radio-group formControlName="isothergapfinsupport">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </div>
                </div>
                <mat-error *ngIf="disclosureCheklistForm.controls.isothergapfinsupport.status=='INVALID' && mandatoryField ">
                    Please Select value
                </mat-error>
            </li>
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        The caregiver attended an orientation meeting or received an overview from the caseworker.<span
                            class="required"></span>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
                            <mat-radio-group formControlName="iscgattendedorientation">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </div>
                </div>
                <mat-error *ngIf="disclosureCheklistForm.controls.iscgattendedorientation.status=='INVALID' && mandatoryField ">
                    Please Select value
                </mat-error>
            </li>
            <li *ngIf="disclosureCheklistForm.value.iscgattendedorientation" class="list-group-item clsForm-inline"
                style="height:50px;margin:10px 0px;">
                <span class="pull-right datepick" style="width:250px">
                    <mat-form-field>
                        <mat-label>Orientation Meeting Date</mat-label>
                        <input matInput autocomplete="off" [matDatepicker]="pickerm2" (click)="pickerm2.open()" placeholder=""
                            formControlName="orientationmeetingdate" [max]="maxDate" />
                        <mat-datepicker-toggle matSuffix [for]="pickerm2"></mat-datepicker-toggle>
                        <mat-datepicker #pickerm2></mat-datepicker>
                    </mat-form-field>
                </span>
            </li>
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        The caregiver and the caseworker have discussed the requirements and expectations for participating in
                        the Guardianship Assistance Program.<span class="required"></span>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
                            <mat-radio-group formControlName="isrequirementdiscussed">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </div>
                </div>
                <mat-error *ngIf="disclosureCheklistForm.controls.isrequirementdiscussed.status=='INVALID' && mandatoryField ">
                    Please Select value
                </mat-error>
            </li>
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        The caregiver agrees to participate in Guardianship Assistance Program.<span class="required"></span>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
                            <mat-radio-group formControlName="iscgparticipategap">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </div>
                </div>
                <mat-error *ngIf="disclosureCheklistForm.controls.iscgparticipategap.status=='INVALID' && mandatoryField ">
                    Please Select value
                </mat-error>
            </li>
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        The caregiver entered an agreement prior to the awarded custody and guardianship by the court in order
                        to receive the assistance payment.<span class="required"></span>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
                            <mat-radio-group formControlName="iscgenteredagreement">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </div>
                </div>
                <mat-error *ngIf="disclosureCheklistForm.controls.iscgenteredagreement.status=='INVALID' && mandatoryField ">
                    Please Select value
                </mat-error>
            </li>
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        The caregiver is willing to complete authorization of mental health history.<span
                            class="required"></span>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
                            <mat-radio-group formControlName="iscgcompleteauthorization">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </div>
                </div>
                <mat-error
                    *ngIf="disclosureCheklistForm.controls.iscgcompleteauthorization.status=='INVALID' && mandatoryField ">
                    Please Select value
                </mat-error>
            </li>
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        The caregiver understands that the caseworker will provide aftercare services and two final visits to
                        the home within Sixty (60) days of guardianship being awarded. The caregiver
                        understands that visits should take place in the caregiver's home and include all family members.<span
                            class="required"></span>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
                            <mat-radio-group formControlName="iscgaftercareservice">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </div>
                </div>
                <mat-error *ngIf="disclosureCheklistForm.controls.iscgaftercareservice.status=='INVALID' && mandatoryField ">
                    Please Select value
                </mat-error>
            </li>
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        The caregiver understands that the out-of-home services will be closed after the rescission of court
                        commitment and the award of guardianship unless the caseworker and the family agree
                        that additional services are needed.<span class="required"></span>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
                            <mat-radio-group formControlName="isneedadditionalservices">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </div>
                </div>
                <mat-error
                    *ngIf="disclosureCheklistForm.controls.isneedadditionalservices.status=='INVALID' && mandatoryField ">
                    Please Select value
                </mat-error>
            </li>
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        The caregiver must complete annual reconsideration to continue the assistance. The caregiver must notify
                        the local department of social services and the court if there are any changes
                        in child's living arrangements.<span class="required"></span>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
                            <mat-radio-group formControlName="iscgcompleteannualreview">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </div>
                </div>
                <mat-error
                    *ngIf="disclosureCheklistForm.controls.iscgcompleteannualreview.status=='INVALID' && mandatoryField ">
                    Please Select value
                </mat-error>
            </li>
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        The caregiver understands that the assistance will immediately be suspended if the child is no longer
                        living with the guardian. The assistance will be terminated if the child is not
                        returned to the custody of the guardian within Sixty (60) days.<span class="required"></span>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
                            <mat-radio-group formControlName="issuspendedfromguardian">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </div>
                </div>
                <mat-error *ngIf="disclosureCheklistForm.controls.issuspendedfromguardian.status=='INVALID' && mandatoryField ">
                    Please Select value
                </mat-error>
            </li>
        
        
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        If the child is 14 years of age, Has an age appropriate consultation taken place with the child
                        regarding the guardianship arrangement
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
                            <mat-radio-group formControlName="consultationguardianshiparrangement">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                                <mat-radio-button [value]="">NA</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </div>
                </div>
            </li>
        
        
        
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        Does the child demonstrate a strong attachment to the primary guardian?
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
                            <mat-radio-group formControlName="strongattachmentprimaryguardian">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                                <mat-radio-button [value]="">NA</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </div>
                </div>
            </li>
        
        
            <li class="list-group-item ">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        Does the child demonstrate a strong attachment to the secondary guardian?
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <span class="pull-right">
                            <mat-radio-group formControlName="strongattachmentsecondaryguardian">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                                <mat-radio-button [value]="">NA</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </div>
                </div>
            </li>
        
        </ul>
    </section>
    <div class="row mt-20" *ngIf="isSupervisor" [formGroup]="approvalStatusForm">
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">Approval status</div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <mat-radio-group formControlName="routingstatus">
                <mat-radio-button value="Approved" (click)="rejectComments('Approved')">Approved</mat-radio-button>
                <mat-radio-button value="Rejected" (click)="rejectComments('Rejected')">Denied</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5" *ngIf="isEnableComments">
            <mat-form-field>
                                            <mat-label>Court</mat-label> <input type="text" matInput placeholder="comments" formControlName="comments" />
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col-sm-9 note-txt">
            <em> <strong>Note: All checkmarks on Disclosure Checklist must be checked before the checklist is sent to
                    Supervisor for Approval.</strong> </em>
        </div>
        <div class="col-sm-3 text-end" *ngIf="!isSupervisor">
            <button class="btn-pri btn"
            (click)="generatePDF()"><em class="fa fa-print"> </em> Print</button>
            <button
                [disabled]="disableBtn || disclosureCheklistForm.pristine ||  isExistRecord || !allowsubmit ||gapDisclosureExist "
                class="btn-pri" (click)="addDislosureChecklist(disclosureCheklistForm.value)" class="btn btn-pri"
                *securityKeyNew="'gap,gap.disclosurechecklist.submitforapproval'" [fieldKeyNew]="'gap,gap.disclosurechecklist.submitforapproval'">
                Submit For Approval
            </button>
        </div>
        <div class="col-sm-3 text-end" *ngIf="isSupervisor">
            <button class="btn-pri btn"
            (click)="generatePDF()"><em class="fa fa-print"> </em> Print</button>
          <span *securityKeyNew="'gap,gap.disclosurechecklist.submit'">
            <button [disabled]="isApproved" class="btn-pri"
            [fieldKeyNew]="'gap,gap.disclosurechecklist.submit'"
                (click)="routingUpdate()" class="btn btn-pri">Submit</button>
            </span>
            </div>
    </div>
</form>
<div class="modal fade in" id="search-provider" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-lg custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <h4 class="modal-title">Search Result</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <ul class="nav nav-tab mrg-btm25 cus-tab-section">
                            <li class="active">
                                    <a id="fc_search" data-bs-toggle="tab" href="#search"> <span
                                        class="circle fa fa-pencil"></span>
                                    <span class="tab-txt">Search </span> </a>
                            </li>
                            <li>
                                <a id="fc_list" data-bs-toggle="tab" href="#search-list"> <span class="circle fa fa-pencil"></span> <span class="tab-txt">List </span> </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 m-b-20">
                        <div class="col-md-3 col-md-offset-2">
                            <p class="textb">
                                <strong class="">Name : {{placement?.childname}}</strong>
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
                            <p class="textb">
                                <strong class="">DOB :{{placement?.dob ? (placement?.dob | date: 'MM/dd/yyyy') : ''}}</strong>
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <p class="textb">
                                <strong class="">Gender :{{placement?.gender}}</strong>
                            </p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="search" class="tab-pane fade show active">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <button class="btn btn-theme btn-pri m-l-30">SEARCH</button>
                                <button class="btn btn-theme btn-pri m-l-30">Cancel</button>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="search-list">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-end"><button *ngIf="providerSearch && providerSearch.length > 0" type="button"
                                    class="btn-pri">View Map</button></div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 m-b-30 m-t-20">
                                <div class="table-responsive table-theme height-table">
                                    <table class="table table-striped" aria-describedby="Provider Details">
                                        <thead>
                                            <tr>
                                                <th id="selectHeader">Select</th>
                                                <th id="providerIdHeader">Provider ID</th>
                                                <th id="providerNameHeader">Provider Name</th>
                                                <th id="programNameHeader">Program Name</th>
                                                <th id="preferredHeader">Preferred</th>
                                                <th id="vacancyHeader">Vacancy</th>
                                                <th id="plaStructureHeader">Placement Structure</th>
                                                <th id="proCategoryHeader">Provider category</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of providerSearch">
                                                <td><input type="radio" name="provider"
                                                        (change)="chooseProvider(item)" /></td>
                                                <td>
                                                    <a data-bs-target="#searchResult" data-bs-toggle="modal">{{
                                                                item.provider_id }}</a>
                                                </td>
                                                <td>{{ item.providername }}</td>
                                                <td>{{ item.programname }}</td>
                                                <td>{{ item.preferred }}</td>
                                                <td>{{ item.vacancy }}</td>
                                                <td>{{ item.placementstructure }}</td>
                                                <td>{{ item.provider_category_name }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-end"><button class="btn btn-theme btn-pri m-l-20"
                                    (click)="selectProvider()">Select
                                    Provider</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Appoval history-->
<div *ngIf="disClosuseCheckList?.routingstatus" class="table-responsive">
    <table  class="table customTable" aria-describedby="Disclosure checklist Details">
      <thead>
        <tr>
            <th id="appOrRejByHeader">Approved/Rejected By</th>
            <th id="disStatusHeader">Status</th>
            <th id="disReqOnHeader">Requested On</th>
            <th id="disReqByHeader">Requested By</th>
            <th id="disCommentsHeader">Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{ disClosuseCheckList.routingstatus == 'Review' ? disClosuseCheckList.requestedby : disClosuseCheckList.approvedby }}</td>
            <td>{{disClosuseCheckList.routingstatus}}</td>
          <td>{{disClosuseCheckList.insertdate | date: 'MM/dd/yyyy hh:mm a'}}</td>
          <td>{{ disClosuseCheckList.routingstatus == 'Review' ? disClosuseCheckList.approvedby : disClosuseCheckList.requestedby }}</td>
          <td>{{disClosuseCheckList.comments}}</td>
        </tr>
    </tbody>
    </table>
  </div>


<div class="modal fade" id="searchProvider">
    <div class="modal-dialog modal-dialog-scrollable modal-lg custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="h5-title col-md-8">Provider Search</h5>
                <button type="button" (click)="resetproviderSearchForm()" class="close pull-right" data-bs-dismiss="modal">
                    X
                </button>
            </div>
            <div class="modal-body m-20" [formGroup]="providerSearchForm">
                <div *ngIf="this.currProcess ==='search'" class="tab-pane" id="search-form">
                    <form [formGroup]="providerSearchForm">
                        <h5 class="pt-20 pb-20 textb text-uppercase">Search Provider</h5>

                        <div class="row">

                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ps-20">
                                <div>
                                    <h5 class="textb text-uppercase heading-bg ps-20">
                                    </h5>

                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <mat-form-field>
                                            <mat-label>First Name</mat-label>
                                            <input matInput placeholder="" value=""
                                                formControlName="firstname">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
                                        <mat-form-field>
                                            <mat-label>Middle Name</mat-label>
                                            <input matInput placeholder="" value=""
                                                formControlName="middlename">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                        <mat-form-field>
                                            <mat-label>Last Name</mat-label>
                                            <input matInput placeholder="" value="" formControlName="lastname">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <mat-form-field>
                                            <mat-label>Child Characteristics</mat-label>
                                            <mat-select placeholder=""
                                                formControlName="childcharacteristics" multiple>
                                                <mat-option *ngFor="let item of childCharacteristics"
                                                    value="{{item.picklist_value_cd}}">{{item.description_tx}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Other Local Department</mat-label>
                                            <mat-select placeholder=""
                                                formControlName="otherLocalDeptmntTypeId" multiple>
                                                <mat-option *ngFor="let item of otherLocalDeptmntType"
                                                    value="{{item.picklist_value_cd}}">{{item.description_tx}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Zip Code</mat-label>
                                            <input matInput placeholder="" value="" formControlName="zipcode"
                                                zipcodeOnly>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <mat-form-field>
                                            <mat-label>Placement Structure</mat-label>
                                            <mat-select placeholder=""
                                                formControlName="placementstructures" multiple>
                                                <mat-option *ngFor="let item of placementStrType"
                                                    value="{{item.service_id}}">
                                                    {{item.service_nm}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Bundled Placement Services</mat-label>
                                            <mat-select placeholder=""
                                                formControlName="bundledplacementservices" multiple>
                                                <mat-option *ngFor="let item of bundledPlcmntServicesType"
                                                    value="{{item.service_id}}">
                                                    {{item.service_nm}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Provider ID</mat-label>
                                            <input matInput placeholder="" value=""
                                                formControlName="providerid">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ps-20 pt-20">
                                <div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <h5 class="textb text-uppercase heading-bg">
                                            <mat-checkbox class="" formControlName="isAge">Age</mat-checkbox>
                                        </h5>
                                        <div class="">
                                            <p>Youngest :
                                                <mat-select placeholder="Choose Age" formControlName="agemin">
                                                    <mat-option *ngFor="let item of getRangeArray(21); let i = index;"
                                                        [value]="i">{{i}}
                                                    </mat-option>
                                                </mat-select>
                                            </p>
                                            <p>Oldest :
                                                <mat-select placeholder="Choose Age" formControlName="agemax">
                                                    <mat-option *ngFor="let item of getRangeArray(21); let i = index;"
                                                        [value]="i">{{i}}
                                                    </mat-option>
                                                </mat-select>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <h5 class="textb text-uppercase heading-bg">
                                            <mat-checkbox class="" formControlName="isgender">Gender</mat-checkbox>
                                        </h5>
                                        <mat-select placeholder="Gender" formControlName="gender">
                                            <mat-option *ngFor="let gender of genderDropdownItems"
                                                value="{{gender.typedescription}}">
                                                {{gender.typedescription}}</mat-option>
                                        </mat-select>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-end ">
                                <button class="aut-btn-placemntSearch btn btn-theme btn-pri m-l-30 pull-right"
                                    (click)="getFcProviderSearch()"
                                    [disabled]="providerSearchForm.invalid">SEARCH</button>
                                <button class="btn btn-theme btn-sec m-l-30 pull-right"
                                    (click)="resetproviderSearchForm()">Clear</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div *ngIf="this.currProcess ==='select'" class="tab-pane" id="search-list">
                    <h5 class="pt-20 pb-20 textb text-uppercase">Select Provider</h5>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 m-b-30">
                        <div class="table-responsive table-theme height-table">

                            <table class="table table-striped aut-tbl-placementProviderTable" aria-describedby="FC Provider Search">
                                <thead>
                                    <tr>
                                        <th id="fcSelectHeader">Select</th>
                                        <th id="fcProviderIdHeader">Provider ID</th>
                                        <th id="fcProviderNameHeader">Provider Name</th>
                                        <th id="fcVacancyHeader">Vacancy</th>
                                        <th id="fcPlaStructureHeader">Placement Structure</th>
                                        <th id="fcProCategoryHeader">Provider category</th>
                                        <th id="fcActionHeader">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of fcProviderSearch; index as i">
                                        <td>
                                            <input type="radio" name="provider"
                                                [ngClass]="i===0 ? 'aut-opt-placementProvider' : ''"
                                                (change)="selectedProv(item)">
                                        </td>
                                        <td><a data-bs-target="#searchResult" (click)="selectedViewProv(item)"
                                                data-bs-toggle="modal">{{item.provider_id}}</a></td>
                                        <td>{{item.providername}}</td>
                                        <td>{{item.vacancy}}</td>
                                        <td>{{item.placementstructure}}</td>
                                        <td>{{item.provider_category_name}}</td>
                                        <td> <button *ngIf="(fcProviderSearch)?.length>0" type="button"
                                                class="btn-pri pull-right m-r-20 m-b-10" (click)="listMap(item)">
                                                View Map
                                            </button></td>
                                    </tr>
                                    <tr *ngIf="fcProviderSearch?.length === 0">
                                        <td colspan="6" style="text-align: center !important;">
                                            No Records Found.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center m-t-20" *ngIf="fcTotal && fcTotal > fcpaginationInfo.pageSize">
                                <pagination [totalItems]="fcTotal" [(ngModel)]="fcpaginationInfo.pageNumber"
                                    (pageChanged)="fcPageChanged($event)" class="pagination-sm" [boundaryLinks]="true"
                                    [maxSize]="10" [itemsPerPage]="fcpaginationInfo.pageSize">
                                </pagination>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-end ">
                        <button class="btn btn-theme btn-pri m-l-30 pull-right aut-btn-placementNext"
                            [disabled]="selectedProvider?.length < 1" (click)="selectProvider()">Select
                            Provider</button>
                        <button class="btn btn-theme btn-pri m-l-30 pull-right" (click)="backToSearch()">Back
                            to Search</button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal fade in modal-theme" id="map-popup" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-scrollable t-25">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" (click)="closeMap()">×</button>
                <div>
                    
                </div>
                <div class="text-end big-bot-space right-mspace-15 m-t-30">
                    <button class="btn-pri aut-btn-caseOk" name="" (click)="closeMap()"> OK </button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="gap-placement" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title bc-pop-title"> Alert</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" (click)="navigateTo()"></button>
            </div>
            <div class="modal-body">
                <p> {{gapAlertMessage}}</p>
                <div class="text-end big-bot-space right-mspace-15">
                    <button type="button" value="Yes" class="btn-pri ok-but" data-bs-dismiss="modal"
                        (click)="navigateTo()"> Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- outlet for disability popup -->
<router-outlet></router-outlet>