<div class="">
    <div class="col-box mytasks-action">
        <div class="headersection">
            <h2 hidden><span class="m-r-5 f-14">Total Case:</span>{{totalRecord$|async}}
            </h2>
            <div class="row">
                <div class="col-sm-10 actionbuttons">
                    <custom-table-actions [statuslist]="statuslist" [selectedStatus]='selectedStatus' (selectValue)="selectStatus($event)">
                    </custom-table-actions>
                    <em class="fa fa-file-excel-o exportExcelIcon" (click)="exportTOExcel()"></em>
                
                    <div class="select-icon" [formGroup]="myirForm">
                        <select class="form-control" formControlName="filter" (change)="getNextNDaysData()">
                            <option value="Nex30" selected>Next 30 Days</option>
                            <option value="Nex60">Next 60 Days</option>
                            <option value="Nex90">Next 90 Days</option>
                            <option value="Prev30">Past 30 Days</option>
                            <option value="Prev60">Past 60 Days</option>
                            <option value="Prev90">Past 90 Days</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 10px;">
            <custom-table [tableData]="myTaskDetailsData" [tableDataColumns]="myTaskDetailsColumns"
                [tableDataKeys]="myTaskDetailsKeys" [toolTipMsg]="'My Task'" [filterIcon]="false" [totalpagecount]="totalcount"
                [isFullHieght]="true" [editIcon]="false" [filterIcon]="false" [allowTableScrollV]="true"
                [pageNumber]="paginationInfo.pageNumber" (pageChangedEvent)="pageChanged($event)"
                (sortEvent)="onSortedlist($event)" [htmlColumns]="['Case Number']" [columnStyleMap]="columnStyleMap"
                (actionRoute)="routToCaseWorker($event)" (fetchDataEvent)="callApi($event)">
            </custom-table>
        </div>

    </div>
</div>