
<div class="modal" id="address-form" role="dialog" data-bs-keyboard="false"
>
    <div class="modal-dialog modal-lg text-start"  role="document">
        <div class="modal-content">
            <div class="modal-header" style="color: black;">
                <button (click)="closeForm()" class="no-bg pull-right" aria-label="Close"><em class="fa fa-close btn-cls"></em></button>
                <h4>{{mode}} Address Details</h4>
                <div *ngIf="mode=='Edit'">
                    <em class="fa fa-warning"></em> Editing will overwrite the address: <strong>{{_addressService.formatAddress(addressForm.getRawValue())}}   </strong><br>
                    If you want to keep it in address history, please use the 'Add' button. 
                </div>
                <div *ngIf="mode=='Add'">
                    Adding new address: <strong>{{_addressService.formatAddress(addressForm.getRawValue())}}   </strong>
                </div>
            </div>
            <div class="modal-body"  [formGroup]="addressForm">
                <mat-card appearance="outlined">
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Address Type :</p>
                        </div>
                        <div class="col-xs-6">
                            <mat-form-field>
                                <mat-label>Address Type</mat-label>
                                <mat-select required placeholder="" formControlName="adr_type_cd">
                                    <mat-option *ngFor="let item of adress_types" value="{{item.picklist_value_cd}}">
                                        {{ item.value_tx }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-3 dt-m-col">
                            <mat-checkbox (change)="checkDefault()" formControlName="adr_default_sw_checkbox">Default Address</mat-checkbox>
                        </div>
                    </div>
                    <div class="row dt-m-row">
                            <div class="col-sm-3">
                                <p>Start Date :</p>
                            </div>
                            <div class="col-xs-3 dt-m-col">
                                <mat-form-field>
                                    <mat-label>Start Date</mat-label>
                                    <input matInput formControlName="adr_start_dt" (click)="picker1.open()"   (dateInput)="dateChanged()" (dateChange)="dateChanged()"
                                        autocomplete="off" [matDatepicker]="picker1" placeholder="" [max]="maxDate" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker1">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3 dt-m-col">
                                <p>End Date :</p>
                            </div>
                            <div class="col-xs-3 dt-m-col">
                                <mat-form-field>
                                    <mat-label>End Date</mat-label>
                                    <input matInput formControlName="adr_end_dt"  (click)="picker2.open()"   (dateInput)="dateChanged()" (dateChange)="dateChanged()"
                                        autocomplete="off" [matDatepicker]="picker2" placeholder="">
                                    <mat-datepicker-toggle matSuffix [for]="picker2">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row panel">
                            <div class="col-xs-12">
                                <mat-radio-group formControlName="adr_format_cd" (change)="resetAndUpdateValidity($event.value)">
                                    <mat-radio-button value="S">Street</mat-radio-button>
                                    <mat-radio-button value="R">Rural</mat-radio-button>
                                    <mat-radio-button value="P">P.O. Box</mat-radio-button>
                                    <mat-radio-button value="F">Foreign/Free-form</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12"  *ngIf="addressForm.value.adr_format_cd != 'F'">
                        <div class="row panel dt-m-row">
                            <h6>Address Line 1</h6>
                            <div class="col-xs-2 dt-m-col"  *ngIf="addressForm.value.adr_format_cd == 'R'">
                                <p>Rural Rt No.</p>  
                            </div>
                            <div class="col-xs-2 dt-m-col"  *ngIf="addressForm.value.adr_format_cd == 'R'">
                                <mat-form-field>
                                    <mat-label>Rural Rt No.</mat-label>
                                    <input formControlName="adr_street_tx" type="text" matInput placeholder=""   [required]="addressForm.value.adr_format_cd == 'R'" />
                                </mat-form-field>
                            </div>
                            <div class="col-xs-2 dt-m-col"  *ngIf="addressForm.value.adr_format_cd == 'S'">
                                <p>Number</p>
                            </div>
                            <div class="col-xs-2 dt-m-col"  *ngIf="addressForm.value.adr_format_cd == 'S'">
                                <mat-form-field>
                                    <mat-label>Number</mat-label>
                                    <input formControlName="adr_street_tx" type="text" matInput placeholder="" [required]="addressForm.value.adr_format_cd == 'S'" />
                                </mat-form-field>
                            </div>
                            <div class="col-xs-2"  *ngIf="addressForm.value.adr_format_cd == 'S'">
                                <p>Pre Dir.</p>
                            </div>
                            <div class="col-xs-2 dt-m-col"  *ngIf="addressForm.value.adr_format_cd == 'S'">
                                <mat-form-field>
                                    <mat-label>Pre Dir.</mat-label>
                                    <mat-select placeholder="" formControlName="adr_pre_dir_cd" >
                                        <mat-option value=""></mat-option>
                                        <mat-option *ngFor="let item of pre_post_dir_list" value="{{item.picklist_value_cd}}">
                                            {{ item.value_tx }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-2 dt-m-col" *ngIf="addressForm.value.adr_format_cd == 'R'">
                               <p>Box No.</p>
                            </div>
                            <div class="col-xs-2 dt-m-col" *ngIf="addressForm.value.adr_format_cd == 'R'">
                                <mat-form-field>
                                    <mat-label>Box No.</mat-label>
                                    <input formControlName="adr_box_no" type="number" matInput placeholder=""  [required]="addressForm.value.adr_format_cd == 'R'" />
                                </mat-form-field>
                            </div>
                            <div class="col-xs-2 dt-m-col" *ngIf="addressForm.value.adr_format_cd == 'P'">
                                <p>P.O. Box No.</p>
                            </div>
                            <div class="col-xs-2 dt-m-col" *ngIf="addressForm.value.adr_format_cd == 'P'">
                                <mat-form-field>
                                    <mat-label>P.O. Box No.</mat-label>
                                    <input formControlName="adr_box_no" type="number" matInput placeholder=""   [required]="addressForm.value.adr_format_cd == 'P'" />
                                </mat-form-field>
                            </div>
                            <div class="col-xs-2 dt-m-col">
                                <p>Street Name</p>
                            </div>
                            <div class="col-xs-2 dt-m-col">
                                <mat-form-field>
                                    <mat-label>Name</mat-label>
                                    <input form [disabled]="addressForm.value.adr_format_cd == 'P'" formControlName="adr_street_nm" type="text" matInput placeholder="" [required]="addressForm.value.adr_format_cd == 'S'" />
                                </mat-form-field>
                            </div>
                            <div class="col-xs-2 dt-m-col">
                               <p>Suffix.</p>
                            </div>
                            <div class="col-xs-2 dt-m-col">
                                <mat-form-field>
                                    <mat-label>Suffix.</mat-label>
                                    <mat-select [disabled]="addressForm.value.adr_format_cd == 'P'" placeholder="" formControlName="adr_street_suffix_cd" (focus)="clickSuffix()" (click)="clickSuffix()">
                                        <input matInput style="height: 30px" id="select-input" (keyup)="typeSuffix($event)" >
                                        <mat-option value=""></mat-option>
                                        <mat-option *ngFor="let item of current_suffix_cd_list" value="{{item.picklist_value_cd}}">
                                            {{ item.value_tx }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-2 dt-m-col">
                                <p>Post Dir.</p>
                            </div>
                            <div class="col-xs-2 dt-m-col">
                                <mat-form-field>
                                    <mat-label>Post Dir.</mat-label>
                                    <mat-select [disabled]="addressForm.value.adr_format_cd == 'P'" placeholder="" formControlName="adr_post_dir_cd" >
                                        <mat-option value=""></mat-option>
                                        <mat-option *ngFor="let item of pre_post_dir_list" value="{{item.picklist_value_cd}}">
                                            {{ item.value_tx }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row ">
                            <h6>Address Line 2</h6>
                            <div class="col-xs-2 dt-m-col"   *ngIf="addressForm.value.adr_format_cd != 'P'">
                                <p>Unit Type</p>
                            </div>
                            <div class="col-xs-2 dt-m-col"   *ngIf="addressForm.value.adr_format_cd != 'P'">
                                <mat-form-field>
                                    <mat-label>Unit Type</mat-label>
                                    <mat-select placeholder="" formControlName="adr_unit_type_cd" (selectionChange)="resetAndUpdateValidity($event.value)">
                                        <mat-option value=""></mat-option>
                                        <mat-option *ngFor="let item of unit_type_cd" value="{{item.picklist_value_cd}}">
                                            {{ item.value_tx }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-2 dt-m-col"   *ngIf="addressForm.value.adr_format_cd != 'P'" >
                                <p>Unit Number</p>
                            </div>
                            <div class="col-xs-2 dt-m-col"   *ngIf="addressForm.value.adr_format_cd != 'P'" >
                                <mat-form-field> 
                                    <mat-label>Unit Number</mat-label>
                                    <input formControlName="adr_unit_no_tx" type="text" matInput placeholder="" [required]="addressForm.value.adr_unit_type_cd != null && addressForm.value.adr_unit_type_cd != undefined" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row dt-m-row">
                            <div class="col-xs-2 dt-m-col">
                                <p>State</p>
                            </div>
                            <div class="col-xs-2 dt-m-col">
                                <mat-form-field>
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="" formControlName="adr_state_cd" [required]="addressForm.value.adr_type_cd !='F'" (selectionChange)="selectionChanged($event.value)">
                                        <mat-option *ngFor="let item of stateList" [value]="item.picklist_value_cd">
                                            {{ item.value_tx }}</mat-option>
                                    </mat-select>
                                </mat-form-field>            
                            </div>
                            <div class="col-xs-2 dt-m-col">
                                <p>City</p>
                            </div>
                            <div class="col-xs-2 dt-m-col">
                                <mat-form-field>
                                    <mat-label>City</mat-label>
                                    <input formControlName="adr_city_nm" type="text" matInput placeholder=""  [required]="addressForm.value.adr_type_cd !='F'"/>
                                </mat-form-field>            
                            </div>
                            <div class="col-xs-2 dt-m-col">
                                <p>County :</p>
                            </div>
                            <div class="col-xs-2 dt-m-col">
                                <mat-form-field>
                                    <mat-label>County</mat-label>
                                    <mat-select formControlName="adr_county_cd" placeholder=""   [required]="addressForm.value.adr_format_cd != 'F'">
                                        <mat-option *ngFor="let item of countyList" [value]="item.picklist_value_cd">
                                            {{item.value_tx}}</mat-option>
                                    </mat-select>
                                </mat-form-field>            
                            </div>
                            <div class="col-xs-2 dt-m-col">
                                <p>Zip Code :</p>
                            </div>
                            <div class="col-xs-2 dt-m-col">
                                <mat-form-field>
                                    <mat-label>Zip Code</mat-label>
                                    <input type="text" inputmode="numeric"  mask="00000" matInput placeholder="" formControlName="adr_zip5_no"   [required]="addressForm.value.adr_format_cd != 'F'"
                                        maxlength="5" minlength="5"  />
                                </mat-form-field>
                            </div>
                            <div class="col-xs-2 dt-m-col">
                                <p>Zip Ext.</p>
                            </div>
                            <div class="col-xs-2 dt-m-col">
                                <mat-form-field>
                                    <mat-label>Zip Ext.</mat-label>
                                    <input type="text" inputmode="numeric"  mask="0000" matInput placeholder="" formControlName="adr_zip4_no" 
                                        maxlength="4" minlength="4"  />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12"  *ngIf="addressForm.value.adr_format_cd == 'F'">
                        <div class="row panel">
                            <div class="col-xs-3">
                                <p>Address :</p>
                            </div>
                            <div class="col-xs-9">
                                <mat-form-field>
                                    <mat-label>Address</mat-label>
                                    <textarea type="text" matInput placeholder="" formControlName="adr_foreign_tx"  [required]="addressForm.value.adr_format_cd == 'F'" ></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-2">
                                <p>City and Province :</p>
                            </div>
                            <div class="col-xs-2">
                                <mat-form-field>
                                    <mat-label>City and Province</mat-label>
                                    <input  formControlName="adr_city_nm"  type="text" matInput placeholder=""  [required]="addressForm.value.adr_format_cd == 'F'" />
                                </mat-form-field>
                            </div>
                            <div class="col-xs-2">
                                <p>Country :</p>
                            </div>
                            <div class="col-xs-2">
                                <mat-form-field>
                                    <mat-label>Country</mat-label>
                                    <input formControlName="adr_country_tx" type="text" matInput placeholder=""  [required]="addressForm.value.adr_format_cd == 'F'" />
                                </mat-form-field>
                            </div>
                            <div class="col-xs-2">
                                <p>Postal Code :</p>
                            </div>
                            <div class="col-xs-2">
                                <mat-form-field>
                                    <mat-label>Postal Code</mat-label>
                                    <input formControlName="adr_postal_code_tx" type="text" matInput placeholder=""/>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-3 dt-m-col">
                                <p>Directions :</p>
                            </div>
                            <div class="col-xs-6 dt-m-col">
                                <mat-form-field>
                                    <mat-label>Directions</mat-label>
                                    <textarea type="text" matInput placeholder="" formControlName="adr_direction_tx"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row m-btn-cancel">
                            <div  class="col-xs-12 text-end" >
                                <button *ngIf="isReadOnly && mode !='View'" class="btn-pri" [disabled]="addressForm.pristine || addressForm.invalid || saving" (click)="addressSave()">Save</button>
                                <button class="btn-bg"  (click)="closeForm()" >Cancel</button>
                            </div>
                        </div>
                    </div>                
                </mat-card>
            </div>
        </div>
    </div>
</div>

    <div class="row panel" style="margin-top: 30px;" >
        <div class="col-xs-9 text-start">
            <h4>Addresses</h4>
        </div>
        <div class="col-xs-3">
            <button  *ngIf="isReadOnly" style="margin: 10px;" (click)="addAddress()" class="btn-pri pull-right">Add</button>
        </div>
        <div class="col-xs-12 table-responsive table-theme" [hidden]="!addressList || addressList.length == 0">
            <table class="table table-striped" aria-describedby="tbl-prvdr-adrs-dtls">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Address</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let add of addressList">
                    <tr>
                        <td>{{add.address_type}}</td>
                        <td style="text-align: left !important;">
                            {{add.formatted_address}} <em style="color: darkgreen;" *ngIf="add.adr_default_sw=='Y'" class="fa fa-check-circle pull-right"></em>
                        </td>
                        <td>{{add.adr_start_dt | date: 'MM/dd/yyyy'}}</td>
                        <td>{{add.adr_end_dt | date: 'MM/dd/yyyy'}}</td>
                        <td><button class="no-bg" (click)="viewAddress(add)" aria-label="View"><em class="fa fa-eye"></em></button>
                            <button class="no-bg" *ngIf="isReadOnly" (click)="editAddress(add)" aria-label="Edit" ><em class="fa fa-pencil"></em></button>
                        </td>
                    </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade in" id="confirm" role="dialog" data-bs-backdrop="static" >
        <div class="modal-dialog modal-md text-start"  role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><em class="fa fa-warn"></em>Alert</h4>
                </div>
                <div class="modal-body text-start">
                    <em class="fa fa-warning fa-lg"></em> Another active address is present.
                    <p><strong>Please end date all other addresses of this type.</strong></p>
                </div>
                <div class="modal-footer text-end">
                    <button class="btn-bg" (click)="close()">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="default-duplicate" role="dialog" data-bs-backdrop="static" >
        <div class="modal-dialog modal-md text-start"  role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><em class="fa fa-warn"></em>Alert</h4>
                </div>
                <div class="modal-body text-start">
                    <em class="fa fa-warning fa-lg"></em> <strong>Only one address can be default at a time.</strong>
                </div>
                <div class="modal-footer text-end">
                    <button class="btn-bg" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="addressConfirmPopup" role="dialog" data-bs-backdrop="static" >
        <div class="modal-dialog modal-md text-start"  role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><em class="fa fa-warn"></em>Alert</h4>
                </div>
                <div class="modal-body text-start">
                    <em class="fa fa-warning fa-lg"></em><em>This is a reminder notice.  With an address change workers should assure that the new home is compliant with the Model Home requirements as per COMAR 07.02.25.04G,  COMAR 07.02.25.06.E and COMAR 07.02.25.04M</em>
                </div>
                <div class="modal-footer text-end">
                   <button class="btn-pri" (click)="closeReminder()">Ok</button>
                </div>
            </div>
        </div>
    </div>
