<div class="col-sm-12 col-xl-12 col-lg-12">
  <div class="row person-wrap">
    <mat-radio-group class="client-selector-group">
      <div class="row">
        <ng-container *ngIf="childList?.length; else elseTemplate">
          <div class="col-sm-6 col-xl-3 col-lg-4" *ngFor="let child of childList">
            <div class="card panel-default person-panel">
              <div class="card-header selected-child" [ngClass]="{'selected-child': child.isSelected}">
                <div class="d-flex">
                  <div class="flex-grow-1">
                    <h4>
                      <mat-radio-button name="selected_child" (change)="selectedPerson(child)"
                        [value]="child.personid">
                        <span matTooltip="{{(child?.fullname)}}">{{child?.fullname && child?.fullname?.length > 20 ? (child?.fullname.slice(0,20) |
                            titlecase) + '...' : (child?.fullname | titlecase)}}</span>
                      </mat-radio-button>
                    </h4>
                    <div class="person-role-height">
                      <p class="designation" *ngFor="let role of child.roles; let isLast=last">
                        {{role?.typedescription}}
                        <span *ngIf="!isLast" style="color:gray">,</span>
                      </p>
                    </div>
                  </div>
                  <div class="d-flex-right">
                    <div>
                      <img *ngIf="child?.userphoto" mat-card-avatar mat-card-md-image src="{{child?.userphoto | formatUrl}}" alt="" />
                      <img *ngIf="!child?.userphoto" mat-card-avatar mat-card-md-image
                          src="assets/images/ic_silhouette.png" alt="" />
                    </div>
  
                  </div>
                </div>
              </div>
              <div class="card-body">
                <table class="involved-person-tables" aria-describedby="tbl-client-selector-lst">
                  <tr>
                    <th scope="col">CJAMS PID#</th>
                    <td>:</td>
                    <td class="single-wrap">{{child?.cjamspid}}</td>
                  </tr>
                  <tr>
                    <th scope="col">D.O.B</th>
                    <td>:</td>
                    <td class="single-wrap">{{child?.dob | date : 'MM/dd/yyyy'}}</td>
                  </tr>
                  <tr>
                  <tr>
                    <th scope="col">Age</th>
                    <td>:</td>
                    <td class="single-wrap">{{child?.age}}</td>
                  </tr>
                  <tr>
                    <th scope="col">Gender</th>
                    <td>:</td>
                    <td class="single-wrap">{{child?.typedescription}}</td>
                  </tr>
                  <tr>
                    <th scope="col">Removal Date</th>
                    <td>:</td>
                    <td class="single-wrap">
                      {{child?.removalInfo?.removaldate | date : 'MM/dd/yyyy'}}
                    </td>
                  </tr>
                  <tr>
                    <th scope="col">Due Date</th>
                    <td>:</td>
                    <td class="single-wrap">
                      {{child?.dueDate | date : 'MM/dd/yyyy'}}
                    </td>
                    <td class="flex-grow-1">
                        <button *ngIf="false" class="red-btn pull-right" data-bs-toggle="tooltip" data-bs-placement="top" title="Less than 30 days" ><em class="fa fa-warning"></em></button>
                        <button *ngIf="false" class="yellow-btn pull-right" data-bs-toggle="tooltip" data-bs-placement="top" title="less than 60 days" ><em class="fa fa-warning"></em></button>
                        <button *ngIf="true" class="green-btn pull-right" data-bs-toggle="tooltip" data-bs-placement="top" title="More than 60 days" ><em class="fa fa-warning"></em></button>
                    </td>
  
                  </tr>
  
                </table>
  
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-radio-group>
    <ng-template #elseTemplate>
      <div class="pad-top20 text-center">
        <p class="col-sm-12 mat-error">No child found over {{YOUTH_AGE_BAR}} years </p>
      </div>
    </ng-template>
  </div>
</div>
