.qa_Box {
    border: 1px solid #dcdada;
    padding: 20px 20px;
} 

label{
    font-weight: normal;
    color: #817a7a;
}

.service-btn i::before {
    color: #00A2FD;
    font-size: 14px;
}

.label-with-help {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
.service-btn i.fa-close {
    margin: 0px;
}

.col-fnt {
    color: #00A2FD;
    font-weight: 600;
    font-size: 15px;
}

.service-btn
{
    outline: none;
    border: none;
    background: none; 
}