<div class="row"  *ngIf="!isAddEdit && !isClosed && _authService.isPersonSubTabViewable('person','person.Health.feedingadd')">
    <div class="col-sm-12">
        <div class="add-container">
            <a (click)='addFeedingInfo()'>+ Add Feeding Information</a>
        </div>
    </div>
  </div>
  <div class="row" *ngIf="isAddEdit" >
    <div class="col-md-12" [formGroup]="FeedingInfoForm">
      <div class="col-md-12">
       
  
        <div class="row">
          <div class="col-sm-6">
            <span class="required">Info provided by</span>
            <br>
            <mat-radio-group formControlName="infoprovidedby" required>
              <mat-radio-button [value]="1">Household</mat-radio-button>
              <mat-radio-button [value]="2">Collateral</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf ="FeedingInfoForm.get('infoprovidedby')?.invalid && checkrequired" >Please select an option for Info provided by </mat-error>
  
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Info Provided Name</mat-label>
              <textarea type="text" formControlName="provided_name" matInput placeholder=""
                class="aut-txt-malAllComments" required></textarea>
            </mat-form-field>
            <mat-error *ngIf ="FeedingInfoForm.get('provided_name')?.invalid && checkrequired" >
              Please select an option for Info Provided Name 
            </mat-error>
          </div>
        </div>
  
        <div class="row m-t-10">
          <div class="col-md-12">
            <mat-checkbox formControlName="isfeedinginfoknown">Feeding Info Unknown</mat-checkbox>
          </div>
        </div>
  
        <div class="row m-t-10">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Diet Type</mat-label>
              <mat-select formControlName="diettype" placeholder="" multiple>
                <mat-option *ngFor="let item of DietTypeList$ | async" [value]="item.text">{{item.text}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Eater Type</mat-label>
              <mat-select formControlName="eatertype" placeholder="" multiple>
                <mat-option *ngFor="let item of EaterTypeList$ | async" [value]="item.text">{{item.text}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row m-t-10">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Liquids</mat-label>
              <mat-select formControlName="liquids" placeholder="" multiple>
                <mat-option *ngFor="let item of LiquidList$ | async" [value]="item.text">{{item.text}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Type Of Formula</mat-label>
              <input matInput formControlName="typeofformula" placeholder="">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Amount Per Feeding</mat-label>
              <input matInput formControlName="amountperfeeding" placeholder="">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Schedule</mat-label>
              <input matInput formControlName="schedule" placeholder="">
            </mat-form-field>
          </div>
        </div>
  
        <div class="row m-t-10">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Solid Food</mat-label>
              <mat-select formControlName="solidfood" placeholder="" multiple>
                <mat-option *ngFor="let item of SolidFood$ | async" [value]="item.text">{{item.text}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Feeding Position</mat-label>
              <mat-select formControlName="feeding_position" placeholder="" multiple>
                <mat-option *ngFor="let item of FeedingPositionList$ | async" [value]="item.text">{{item.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row m-t-10">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Other Needs</mat-label>
              <mat-select formControlName="otherneeds" placeholder="" multiple>
                <mat-option *ngFor="let item of OtherNeedsList$ | async" [value]="item.text">{{item.text}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-label>Comments</mat-label>
              <textarea type="text" formControlName="comments" matInput placeholder=""
                class="aut-txt-malAllComments"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <attachment-upload-shared  [load] = "load"  [uploadedDocuments]="uploadedFiles" (uploadclosed)="uploadclosed($event)" ></attachment-upload-shared>
            <document-upload-list-shared [ngClass]="(reportMode === 'edit' && editMode !== true) ? 'view-mode':''" [uploadedFiles]="uploadedFiles" pageType="personhealth"
            [uploadhealth]="true" [uploadNumber]="uploadNumber"  (loadEvent) = "updateLoad()"></document-upload-list-shared>
        
        </div>
        
        <div class="row m-t-20">
          <div class="col-md-12 ">
            <div class="pull-right">
                <span *ngIf="reportMode === 'add'">
                    <button [disabled] = "isClosed || !_authService.isPersonSubTabViewable('person','person.Health.feedingadd')" class="btn-pri" type="button" (click)="resetFeeding()">Clear</button>
                    <button class="btn-pri" (click)="addFeeding()" [disabled]="FeedingInfoForm.pristine || isClosed || !_authService.isPersonSubTabViewable('person','person.Health.feedingadd')">Save</button>
                </span>
                <span *ngIf="reportMode === 'edit'">
                    <button class="btn-pri" *ngIf="editMode === true" [disabled] = "(isClosed || !_authService.isPersonSubTabViewable('person','person.Health.feedingadd'))" (click)="addFeeding()">Update</button>
                    <button class="btn-pri" (click)="resetFeeding()">{{editMode === true?"Cancel":"Back"}}</button>
                </span>
              
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <!--Listing Feeding info-->
  <div class="row">
      <div class="col-sm-12 m-t-20">
          <div class="table-responsive table-theme table-bordered">
              <table class="table tbl-feed-info" aria-describedby="tbl-feeding-info-lst">
                  <thead>
                      <tr>
                          <th scope="col">Info provided by</th>
                          <th scope="col">Feeding Position</th>
                          <th scope="col">Diet Type</th>
                          <th scope="col">Eater Type</th> 
                          <th scope="col">Updated by</th>
                          <th scope="col">Updated on</th>                               
                          <th scope="col">Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                      <ng-container *ngIf="feedingInfoList.length; else elseTemplate">
                          <tr *ngFor="let feedingInfo of feedingInfoList; let i=index">
                              <td>{{feedingInfo.ishousehold ? 'Household' : (feedingInfo.iscollateral ? 'Collateral' : '') }}</td>
                              <td>{{feedingInfo.feeding_position}}</td>
                              <td>{{feedingInfo.diettype}}</td>                                
                              <td>{{feedingInfo.eatertype}}</td>
                              <td>{{feedingInfo.updatedby_fullname}}</td>
                              <td>{{feedingInfo.updatedon | date: 'MM/dd/yyyy'}}</td>                                
                              <td [ngClass] = "{'disable-anchor': isClosed}">
                                  <a (click)="view(feedingInfo)">
                                      <em class="fa fa-eye text-16"></em> |
                                  </a>
                                  <a *ngIf="!isClosed && _authService.isPersonSubTabViewable('person','person.Health.feedingedit')" (click)="edit(feedingInfo, i)">
                                      <em class="fa fa-pencil text-16"></em> |
                                  </a>
                                  <a [ngClass] = "{'pointer-events-none': isClosed || !_authService.isPersonSubTabViewable('person','person.Health.feedingdelete')}" (click)="deleteConfirm(feedingInfo, i)">
                                      <em class="fa fa-trash text-16"></em>
                                  </a>
                              </td>
                          </tr>
                      </ng-container>
                      <ng-template #elseTemplate>
                          <tr>
                              <td colspan="5">
                                  No Records added.
                              </td>
                          </tr>
                      </ng-template>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  <!--Delete Confirm-->
  <div class="modal fade " id="delete-popup" role="dialog">
      <div class="modal-dialog modal-md custom-wid">
          <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title"> Confirm Delete </h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                  <p> Are you sure you want to delete this ? </p>
  
                  <div class="text-end big-bot-space right-mspace-15">
                      <button type="button" value="No" class="btn-pri" data-bs-dismiss="modal"> No</button>
                      <button type="button" value="Yes" class="btn-pri" name="" data-bs-dismiss="modal" (click)="delete()">
                          Yes
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>