<div class="card panel-default panel-theme">
    <div class="card-header print-none">
        <span class="site-color text-22">
            {{ showNavScale ? 'Adoption Planning' : 'Documents' }}
            <button type="button" (click)="goBack()" class="close btn-close pull-right" aria-label="Close"></button>
        </span>
    </div>
    <div class="card-body" *ngIf = "moduleview">
        <div class="box-grid no-mar no-pad">
            <div class="tab-horizontal print-none" *ngIf="showNavScale">
                <ul class="nav nav-tabs cus-tab-section persontabs mrg-btm25">
                    <li (click)="broadCastTabLoad('TPRRecommend')" class="aut-rdo-TPRrec nav-item" routerLinkActive="active">
                        <a class="nav-link" data-bs-toggle="tab" routerLink="tpr-recom"><span class="tab-txt">TPR
                                Recommendation</span>
                        </a>
                    </li>
                    <li (click)="broadCastTabLoad('TPRRecommend')" class="aut-rdo-LglCsdy nav-item" routerLinkActive="active">
                        <a class="nav-link" data-bs-toggle="tab" routerLink="legal-custody"> <span class="tab-txt">Legal Custody
                            </span>
                        </a>
                    </li>
                    <li (click)="broadCastTabLoad('LegalCustody')" class="aut-rdo-terParentalRig nav-item"
                        routerLinkActive="active">
                        <a class="nav-link" data-bs-toggle="tab" routerLink="tpr"> <span class="tab-txt">Termination of Parental
                                Rights</span> </a>
                    </li>
                    <li (click)="broadCastTabLoad('TRPList')" class="aut-rdo-adoptionPalnning nav-item"
                        routerLinkActive="active">
                        <a class="nav-link" routerLink="planning/efforts"> <span class="tab-txt">Adoption Planning</span>
                        </a>
                    </li>
                    <li (click)="broadCastTabLoad('TPRRecommend')" class="nav-item" routerLinkActive="active">
                            <a class="nav-link" [ngClass]="{'disabled':(!disclosureapprovalStatus || disclosureapprovalStatus !== 'Approved') && !adoptionSubsidyIsEdited}" data-bs-toggle="tab" routerLink="adoption-subsidy/agreement"> <span class="tab-txt">Adoption
                                Subsidy</span> </a>
                    </li>
                    <li (click)="broadCastTabLoad('TPRRecommend')" class="nav-item" routerLinkActive="active">
                            <a class="nav-link" [ngClass]="{'disabled':(!disclosureapprovalStatus || disclosureapprovalStatus !== 'Approved') && !adoptionSubsidyIsEdited}" routerLink="break-the-line"> <span class="tab-txt">Break the Link</span>
                        </a>
                    </li>
                </ul>
            </div>
            <ng-container>
                <div class="row pt-30" *ngIf="showNavScale">
                    <div class="col-sm-2">
                        <h5>Client Name</h5>
                        <p class="m-0">
                            {{ child?.clientname }}
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <h5>CJAMS PID #</h5>
                        <p class="m-0">{{ child?.cjamspid }}</p>
                    </div>
                    <div class="col-sm-2">
                        <h5>D.O.B</h5>
                        <p class="m-0">
                            {{ child?.dob | date: "MM/dd/yyyy" }}
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <h5>Gender</h5>
                        <p class="m-0">{{ child?.gender }}</p>
                    </div>
                </div>
                <div class="row pt-30" *ngIf="!showNavScale">
                    <div class="col-sm-2">
                        <h5>Client Name</h5>
                        <p class="m-0">
                            {{selectedChild?.firstname}}
                                    {{selectedChild?.lastname}}
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <h5>CJAMS PID #</h5>
                        <p class="m-0">{{ selectedChild?.cjamspid }}</p>
                    </div>
                    <div class="col-sm-2">
                        <h5>D.O.B</h5>
                        <p class="m-0">
                            {{ selectedChild?.dob | date: "MM/dd/yyyy" }}
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <h5>Gender</h5>
                        <p class="m-0">{{ selectedChild?.gender }}</p>
                    </div>
                </div>
            </ng-container>
            <div class="tab-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- Popup to notify ive status and comment -->
<div class="modal  fade" id="ivePopUp" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">IVE Status : {{ivestatus}}</h4>
        </div>
        <div class="modal-body">
            <div class="row ref-address">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                           <p>{{ivecomment?ivecomment:'No Comments'}}</p>
                    </div>
                </div>
            </div>
                <div class="clearfix pt-20 row">
                    <div class="col-sm-11 text-end margin-neg-cus">
                    <button class="btn-pri" (click)="closeIVEPopup()">OK</button>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
