// menu circle
.person-detail-wrapper {
	display: block;
	width: 100%;
	float: left;
}
.tab-horizontal .nav,
.tab-horizontal .nav-tabs, 
.tab-horizontal .nav-tabs>li a,
.tab-horizontal .nav-tabs>li.active>a{
	// margin: 20px 0;
	border-bottom: 0;
}

.nav-tabs.person-cus-tab-section,
.nav-tabs.person-cus-tab-section>li.active>a:hover,
.person-cus-tab-section li a.active>a:focus,
.person-cus-tab-section .nav-tabs,
.person-cus-tab-section li a.active>a,
.person-cus-tab-section .nav-tabs>li.active>a:hover {
	border: none;
}

.person-cus-tab-section li.active a a span.tab-txt {
	font-weight: 700px;
	font-size: 14px;
}

.nav-tabs>li a:after {
	background: none;
}

.nav-tabs>li a.disabled{
	pointer-events: none;
}
.person-cus-tab-section .tab-txt {
	background: #fff;
	position: relative;
	z-index: 1;
	text-transform: uppercase;
	color: #039be5;
	display: block;
	padding: 10px 0 !important;
	height: 50px;
}

.persontabs li {
	text-align: center;
	background: #fff;
	width:16%
}

.persontabs li:nth-child(3) {
	width: 19%;
}

.person-cus-tab-section li a {
	padding: 0 0 5px;
}

.tab-horizontal .nav-tabs>li a {
	// font-size: 12px;
	font-weight: 600;
	// width: 208px;
	white-space: normal;
}

// .person-cus-tab-section li:before,
// .person-cus-tab-section li a.active:before {
// 	background: #333;
// 	content: '';
// 	display: block;
// 	height: 1px;
// 	position: absolute;
// 	top: 77%;
//     width: calc(100% - 122px);
// 	margin-left: 0;
// 	left: 0;
// 	z-index: 99;
// }

// .person-cus-tab-section li:after,
// .person-cus-tab-section li.active a:after {
// 	background: #333;
// 	content: '';
// 	display: block;
// 	height: 1px;
// 	position: absolute;
// 	top: 77%;
//     width: calc(100% - 119px);
//     margin-left: 120px;
// }

// .person-cus-tab-section li:last-child:after,
// .person-cus-tab-section li.active a:last-child:after,
// .person-cus-tab-section li:first-child:before,
// .person-cus-tab-section li.active a:first-child:before {
// 	height: 0;
// }

.person-cus-tab-section li.active a {
	font-weight: 700;
}

.circle {
	border: 1px solid #00A2FD;
	border-radius: 50%;
	padding: 5px 6px;
}

.circle:after {
	width: 1px;
	height: 1px;
	background: #fff;
	content: '';
	padding: 5px;
	border-radius: 20px;
	display: inline-block;
}

.circle.completed:after {
	width: 1px;
	height: 1px;
	background: #00A2FD !important;
	content: '';
	padding: 5px;
	border-radius: 20px;
	display: inline-block;
}

.person-cus-tab-section li.active a .circle:after {
	background: none;
	display: none; // content: "\e001"; 
}

.person-cus-tab-section li.active a .circle {
	// border: 2px solid #00A2FD;
	background: #00A2FD;
	color: #fff;
}

.person-cus-tab-section li .fa-pencil:before {
	content: none;
}

.person-cus-tab-section li.active a .fa-pencil:before {
	content: '\f040';
}

.nav>li>a:focus,
.nav>li>a:hover {
	text-decoration: none;
	background-color: #fff;
	border-color: #fff;
}
.widgets {
	border-bottom: 6px solid #e0e8f8;
}

//menu circle

.border-t {
	border-top: 6px solid #e0e8f8;
}

.no-pad {
	padding: 0px;
}

.tab-horizontal .person-cus-tab-section.nav-tabs li.active a {
	border: none !important;
	background-color: #fff !important;
}

@media print {
	.panel-theme, 
	.panel-default {
		border: none;
	}

	.card-body {
		padding-top: 0px;
	}
}