<div class="">
        <div class="row p-20 child-ac">
            <div class="col-md-3">
    
            </div>
    
    
        </div>
    
    
        <div class="row p-b-20 child-ac">
            <div class="row">
             <div class="col-md-6">
            <h5 class="m-t-20 h5-title">Commingled Account</h5>
            </div>
            <div class="col-md-6">
            <button *ngIf = "isVissbleButton" (click)="openAddModal()" class="btn-pri float-end text-uppercase add-btn" [disabled]="!selectedDept" type="button">
                Add New Account</button>
            </div>
            </div>
            <div class="m-t-20 table-responsive table-theme">
                <table class="thead-black placement-info palcement-tb table table-striped"aria-describedby="account details">
                    <thead>
                        <tr>
                            <th id="open-date">Open Date</th>
                            <th id="close-date">Close Date</th>
                            <th id="bank-account-number">Bank Account Number</th>
                            <th id="bank-name">Bank Name</th>
                            <th id="account-status">Account Status</th>
                            <th id="total-balance">Total Balance</th>
                            <th id="action">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let account of commingledAccountslist">
                            <td>{{account.open_dt | date:'M/d/yyyy'}}</td>
                            <td>{{account.close_dt | date:'M/d/yyyy'}}</td>
                            <td>{{account.account_no}}</td>
                            <td>{{account.bank_nm}}</td>
                            <td>{{(account.close_dt ? 'Closed' :'Open')}}</td>
                            <td>{{(account.total_balance_no ? account.total_balance_no : 0) | cjamsCurrency}}</td>
                            <td class="action-btn">
                                <button (click)="viewAccount(account)" type="button" data-bs-target="#viewAccount" data-bs-toggle="modal" matTooltip="View Account"><i
                                        class="fa fa-eye" aria-hidden="true"></i></button>
                                <button *ngIf="!account.close_dt && isVissbleButton" (click)="editAccount(account)" type="button" matTooltip="Edit Account"><i
                                        class="fa fa-pencil" aria-hidden="true"></i></button>
                                    <button (click)="documentPopup(account.comm_account_id)" data-bs-target="#downloadReport" data-bs-toggle="modal" matTooltip="DHS 117 Report"><i class="fa fa-download" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr *ngIf="commingledAccountslist && commingledAccountslist.length === 0">
                            <td colspan="6" style="text-align: center !important;">
                                No commingled accounts added.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center mt-10" *ngIf="{commingledAccountslist:commingledAccountslist,totalRecords:totalRecords} as validatePagination">
                    <pagination *ngIf="validatePagination.commingledAccountslist?.length!==0" [totalItems]="validatePagination.totalRecords"
                        [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)" class="pagination-sm"
                        [boundaryLinks]="true" [maxSize]="10">
                    </pagination>
                </div>
            </div>
        </div>
    
    
    
    </div>
    
    <div class="modal fade" id="downloadReport">
            <div class="modal-dialog modal-md">
               <div class="modal-content" [formGroup]="childReportForm">
                  <div class="modal-header">
                    <div *ngIf="showBusy" style="top: 10px !important; position: absolute !important; left: 49%;">
                        <img src="/assets/images/busy.gif" height="40px" alt="Loading..." />
                    </div>
                    <h4 class="modal-title h5-title">Commingled Account Report</h4>
                     <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close" (click)="clearchildForm()"></button>
                  </div>
                  <div class="modal-body">
                     <div>
                        <div class="row">
                           <div class="col-md-12 ds-bl">
                              <mat-radio-group formControlName="date_sw">
                                    <mat-radio-button value="Y">Current Year</mat-radio-button>
                                    <mat-radio-button value="D">Transaction Date Range</mat-radio-button>
                              </mat-radio-group>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 m-t-10">
                                <mat-form-field>
                                    <mat-label>From</mat-label>
                                   <input [disabled]="childReportForm.get('date_sw')?.value!=='D'" formControlName="date_from" matInput autocomplete="off" [matDatepicker]="pick" >
                                   <mat-datepicker-toggle matSuffix [for]="pick"></mat-datepicker-toggle>
                                   <mat-datepicker #pick></mat-datepicker>
                                </mat-form-field>
                             </div>
                             <div class="col-md-6 m-t-10">
                                <mat-form-field>
                                    <mat-label>To</mat-label>
                                   <input [disabled]="childReportForm.get('date_sw')?.value!=='D'" formControlName="date_to" matInput autocomplete="off" [matDatepicker]="pick1" >
                                   <mat-datepicker-toggle matSuffix [for]="pick1"></mat-datepicker-toggle>
                                   <mat-datepicker #pick1></mat-datepicker>
                                </mat-form-field>
                             </div>
                        </div>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <div class="row">
                        <div class="col-md-12 pull-right action-btn">
                            <button class="fnt-sze" matTooltip="Download DHS 117 Report PDF" type="button" name="" (click)="documentGenerate(childReportForm.value, 'pdf')"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
                            <button class="fnt-sze" matTooltip="Download DHS 117 Report EXCEL" type="button" name="" (click)="documentGenerate(childReportForm.value, 'excel')"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button>
                      </div>
                     </div>
                  </div>
               </div>
            </div>
    </div>
    
    
    
    <div class="modal fade" id="addNewAccount">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title h5-title">Add New Account</h4>
                    <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div [formGroup]="addCommingledForm">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Open Date</mat-label>
                                    <input required formControlName="open_dt" [max]="maxOpenDate" matInput autocomplete="off" [matDatepicker]="picker5"
                                        >
                                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                                    <mat-datepicker #picker5></mat-datepicker>
                                </mat-form-field>
                                <mat-error *ngIf="addCommingledForm.controls.open_dt.status =='INVALID' && mandatoryField ">
                                    Please Select Open Date
                                </mat-error>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Close Date</mat-label>
                                    <input formControlName="close_dt" matInput autocomplete="off" [matDatepicker]="picker6"  [required]="addCommingledForm.get('status_cd')?.value === '593'">
                                    <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                                    <mat-datepicker #picker6></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="h5-title">Bank Information</h5>
                                <div class="childac-bankinfo">
    
                                    <mat-form-field>
                                        <mat-label>Bank Name</mat-label>
                                        <input required formControlName="bank_nm" matInput  Required>
                                    </mat-form-field>
                                    <mat-error *ngIf="addCommingledForm.controls.bank_nm.status =='INVALID' && mandatoryField ">
                                        Please Enter Bank Name
                                    </mat-error>
                                    <mat-form-field>
                                        <mat-label>Account #</mat-label>
                                        <input type="text" required formControlName="bank_acc_num" maxlength="16" matInput 
                                            Required onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 46 && event.charCode <= 57">
                                    </mat-form-field>
                                    <mat-error *ngIf="addCommingledForm.controls.bank_acc_num.status =='INVALID' && mandatoryField ">
                                        Please Enter Account #
                                    </mat-error>
    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5 class="h5-title">Status</h5>
                                <mat-form-field>
                                    <mat-label>Account Status</mat-label>
                                    <mat-select required formControlName="status_cd"  Required (selectionChange)="statusChange($event.value, 'add')">
                                        <mat-option>Select</mat-option>
                                        <mat-option *ngFor="let item of accountStatus" [value]="item.picklist_value_cd">{{item.description_tx}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Local Department</mat-label>
                                    <mat-select required formControlName="local_dept" 
                                        Required>
                                        <mat-option>Select</mat-option>
                                        <mat-option *ngFor="let item of localDept" value="{{item.picklist_value_cd}}">{{item.value_tx}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer wizard-buttons">
                    <button type="button" class="btn-pri" name="" (click)="addCommingledAccount()">Add</button>
                </div>
            </div>
    
        </div>
    </div>
    
    <div class="modal fade" id="editAccount">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title h5-title">Edit Account</h4>
                    <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div [formGroup]="editAccountForm">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Open Date</mat-label>
                                    <input formControlName="open_dt" (dateChange)="onChangeDate(editAccountForm)" matInput autocomplete="off" [matDatepicker]="picker3" >
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Close Date</mat-label>
                                    <input formControlName="close_dt" [min]="minDate" matInput autocomplete="off" [matDatepicker]="picker4"  [required]="editAccountForm.get('approval_status_cd')?.value === '3565'">
                                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                    <mat-datepicker #picker4></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="h5-title">Bank Information</h5>
                                <div class="childac-bankinfo">
    
                                    <mat-form-field>
                                        <mat-label>Bank Name</mat-label>
                                        <input required formControlName="bank_nm" matInput 
                                            [required]="editAccountForm.get('bank_nm')?.errors !== null && editAccountForm.get('bank_nm')?.errors?.required">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Account #</mat-label>
                                        <input required type="text"  formControlName="account_no" maxlength="16" matInput 
                                            Required onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 46 && event.charCode <= 57">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5 class="h5-title">Status</h5>
                                <mat-form-field>
                                    <mat-label>Account Status</mat-label>
                                    <mat-select required formControlName="approval_status_cd"
                                      (selectionChange)="statusChange($event.value, 'edit')">
                                     <mat-option>Select</mat-option>
                                     <mat-option *ngFor="let item of accountStatus" [value]="item.picklist_value_cd">{{item.description_tx}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Local Department</mat-label>
                                    <mat-select required formControlName="county_cd" 
                                        Required>
                                        <mat-option>Select</mat-option>
                                        <mat-option *ngFor="let item of localDept" value="{{item.picklist_value_cd}}">{{item.value_tx}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-end right-mspace-15">
                        <button type="button" class="btn-pri" (click)="UpdateCase();">
                            Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="viewAccount">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title h5-title">View Account</h4>
                    <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row border-btm p-b-10">
                        <div class="col-md-6">
                            <p class="viewchildac-title">Open Date : </p>
                            <p class="viewchildac-text">{{selectedAccount?.open_dt | date:'M/d/yyyy'}}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="viewchildac-title">Close Date : </p>
                            <p class="viewchildac-text">{{selectedAccount?.close_dt | date:'M/d/yyyy'}}</p>
                        </div>
                    </div>
    
                    <div class="row m-t-20">
                        <div class="col-md-6">
                            <h5 class="h5-title">Bank Information</h5>
                            <div class="childac-bankinfo">
    
                                <div class="bank-info">
                                    <p class="viewchildac-title">Bank Name : </p>
                                    <p class="viewchildac-text">{{selectedAccount?.bank_nm}}</p>
                                </div>
    
                                <div class="bank-info">
                                    <p class="viewchildac-title">Account No. : </p>
                                    <p class="viewchildac-text">{{selectedAccount?.account_no}}</p>
                                </div>
                                <div class="bank-info">
                                    <p class="viewchildac-title">Total Balance </p>
                                    <p class="viewchildac-text">{{(selectedAccount?.total_balance_no ?
                                        selectedAccount?.total_balance_no : 0) | cjamsCurrency }}</p>
                                </div>
    
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="childac-bankinfo">
                                <div class="bank-info m-t-25">
                                    <p class="viewchildac-title">Account Status : </p>
                                    <p class="viewchildac-text"> <td>{{(selectedAccount?.close_dt ? 'Closed' :'Open')}}</td>
                                </div>
    
                                <div class="bank-info">
                                    <p class="viewchildac-title">Local Department : </p>
                                    <p class="viewchildac-text">{{selectedAccount?.county_nm}}</p>
                                </div>
                                <div class="bank-info">
                                    <p class="viewchildac-title">Entered By: </p>
                                    <p class="viewchildac-text">{{selectedAccount?.entered_by}}</p>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <div class="row m-t-20">
                        <div class="col-md-12">
                            <h5 class="h5-title">Associated Clients</h5>
                            <div class="table-responsive table-theme">
                                <table class="thead-black placement-info palcement-tb table table-striped"aria-describedby="client details">
                                    <thead>
                                        <tr>
                                            <th id="client-id">Client ID</th>
                                            <th id="client-name">Client Name</th>
                                            <th id="sub-account-number">Sub Account Number</th>
                                            <th id="account-status">Account Status</th>
                                            <th id="total-balance">Total Balance</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let associatedClient of selectedAccount?.client_account_details">
                                            <td>{{associatedClient.client_id}}</td>
                                            <td>{{associatedClient.client_name}}</td>
                                            <td>{{associatedClient.account_no_tx}}</td>
                                            <td>{{associatedClient.status_nm}}</td>
                                            <td>{{(associatedClient.total_balance_no ? associatedClient.total_balance_no : 0) | cjamsCurrency}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="deleteAccount" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-disabled="true">
        <div class="modal-dialog">
            <div class="modal-content form-wrapper txt-left">
                <div class="modal-header">
                    <h4 class="modal-title"> Confirm Delete </h4>
                    <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p> Are you sure you want to delete this item? </p>
                    <div class="text-end right-mspace-15">
                        <button type="button" value="No" class="btn-bg" name="" data-bs-dismiss="modal"> No </button>
                        <button type="button" value="Yes" class="btn-pri" name="" (click)="deleteItem()"> Yes </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    