.time-text .fa-clock-o {
    right: 3px;
}
.time-text {
    margin: 0 0 15px;
}
.tab-pane {
    display: none;
}
.tab-pane.active {
    display: block;
}

.agm-map {
    height: 500px;
}
.weekdays{display: inline-block;padding-right: 6px; padding-top: 15px;}
