<div class="col-sm-12 mrg-top25">
    <div class="row">
        <div class="col-sm-12 text-end">
            <span class="badge">P : Permitted </span> <span class="badge">R
                :
                Read Only</span> <span class="badge">D : Denied</span>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-12 tabs-container permission-clms">
            <div class="col-xs-3 no-pad clm-first">
                <form>
                    <section class="topsection">
                        <label>Menu</label>
                        <div class="inner-addon right-addon">
                            <em class="fa fa-search" href="#" data-bs-toggle="modal" data-bs-target="#attach-user-selection"></em>
                            <input class="form-control" type="text" value="" placeholder="Search">
                        </div>
                    </section>
                    <div class="table-responsive multi-checks">
                        <table class="table" aria-describedby=" multi checks1">
                            <thead>
                                <tr>
                                    <th id="selectAllHeader">
                                        <div class="selectlist">
                                            <label for="checkbox1">
                                                <span>Select All</span>
                                            </label>
                                        </div>
                                    </th>
                                    
                                    <th class="rotate" id="radioPHeader">
                                        <div>
                                            <p>P</p>
                                            <label class="control control--radio">
                                                <input type="radio" name="radiom" id="radioP">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </th>
                                    
                                    <th class="rotate" id="radioRHeader">
                                        <div>
                                            <p>R</p>
                                            <label class="control control--radio">
                                                <input type="radio" name="radiom" id="radioR">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </th>
                                    
                                    <th class="rotate" id="radioDHeader">
                                        <div>
                                            <p>D</p>
                                            <label class="control control--radio">
                                                <input type="radio" name="radiom" id="radioD">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Option1</td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" checked="" name="radio">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Option 2</td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio2">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio2">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" checked="" name="radio2">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Option 3</td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" checked="" name="radio3">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio3">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio3">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Option 4</td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio4">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" checked="" name="radio4">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio4">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="col-xs-3 no-pad clm-second">
                <form>
                    <section class="topsection">
                        <label>Module</label>
                        <div class="inner-addon right-addon">
                            <em class="fa fa-search" href="#" data-bs-toggle="modal" data-bs-target="#attach-user-selection"></em>
                            <input class="form-control" type="text" placeholder="Search">
                        </div>
                    </section>
                    <div class="table-responsive multi-checks">
                        <table class="table " aria-describedby="multi checks2">
                            <thead>
                                <tr>
                                    <th id="selectAllHeader">
                                        <div class="selectlist">
                                            <label for="checkbox1">
                                                <span>Select All</span>
                                            </label>
                                        </div>
                                    </th>
                                    
                                    <th class="rotate" id="radioPHeader">
                                        <div>
                                            <p>P</p>
                                            <label class="control control--radio">
                                                <input type="radio" name="radiom" id="radioP">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </th>
                                    
                                    <th class="rotate" id="radioRHeader">
                                        <div>
                                            <p>R</p>
                                            <label class="control control--radio">
                                                <input type="radio" name="radiom" id="radioR">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </th>
                                    
                                    <th class="rotate" id="radioDHeader">
                                        <div>
                                            <p>D</p>
                                            <label class="control control--radio">
                                                <input type="radio" name="radiom" id="radioD">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Option1</td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" checked="" name="radio">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Option 2</td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio2">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio2">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" checked="" name="radio2">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Option 3</td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" checked="" name="radio3">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio3">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio3">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Option 4</td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio4">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" checked="" name="radio4">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio4">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="col-xs-3 no-pad clm-third">
                <form>
                    <section class="topsection">
                        <label>Screen</label>
                        <div class="inner-addon right-addon">
                            <em class="fa fa-search" href="#" data-bs-toggle="modal" data-bs-target="#attach-user-selection"></em>
                            <input class="form-control" type="text" placeholder="Search">
                        </div>
                    </section>
                    <div class="table-responsive multi-checks">
                        <table class="table " aria-describedby="multi checks3">
                            <thead>
                                <tr>
                                    <th id="selectAllHeader">
                                        <div class="selectlist">
                                            <label for="checkbox1">
                                                <span>Select All</span>
                                            </label>
                                        </div>
                                    </th>
                                    
                                    <th class="rotate" id="radioPHeader">
                                        <div>
                                            <p>P</p>
                                            <label class="control control--radio">
                                                <input type="radio" name="radiom" id="radioP">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </th>
                                    
                                    <th class="rotate" id="radioRHeader">
                                        <div>
                                            <p>R</p>
                                            <label class="control control--radio">
                                                <input type="radio" name="radiom" id="radioR">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </th>
                                    
                                    <th class="rotate" id="radioDHeader">
                                        <div>
                                            <p>D</p>
                                            <label class="control control--radio">
                                                <input type="radio" name="radiom" id="radioD">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Option1</td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" checked="" name="radio">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Option 2</td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio2">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio2">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" checked="" name="radio2">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Option 3</td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" checked="" name="radio3">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio3">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio3">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Option 4</td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio4">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" checked="" name="radio4">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio4">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="col-xs-3 no-pad clm-fourth">
                <form>
                    <section class="topsection">
                        <label>Action</label>
                        <div class="inner-addon right-addon">
                            <em class="fa fa-search" href="#" data-bs-toggle="modal" data-bs-target="#attach-user-selection"></em>
                            <input class="form-control" type="text" value="" placeholder="Search">
                        </div>
                    </section>
                    <div class="table-responsive multi-checks">
                        <table class="table " aria-describedby="multi checks4">
                            <thead>
                                <tr>
                                    <th id="selectAllHeader">
                                        <div class="selectlist">
                                            <label for="checkbox1">
                                                <span>Select All</span>
                                            </label>
                                        </div>
                                    </th>
                                    
                                    <th class="rotate" id="radioPHeader">
                                        <div>
                                            <p>P</p>
                                            <label class="control control--radio">
                                                <input type="radio" name="radiom" id="radioP">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </th>
                                    
                                    <th class="rotate" id="radioRHeader">
                                        <div>
                                            <p>R</p>
                                            <label class="control control--radio">
                                                <input type="radio" name="radiom" id="radioR">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </th>
                                    
                                    <th class="rotate" id="radioDHeader">
                                        <div>
                                            <p>D</p>
                                            <label class="control control--radio">
                                                <input type="radio" name="radiom" id="radioD">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Option1</td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" checked="" name="radio">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Option 2</td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio2">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio2">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" checked="" name="radio2">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Option 3</td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" checked="" name="radio3">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio3">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio3">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Option 4</td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio4">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" checked="" name="radio4">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="selectlist">
                                            <label class="control control--radio">
                                                <input type="radio" name="radio4">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>