.modal-iframe .modal-lg{width: 100%;}
.customize-modal .modal-body {
    max-height: inherit;}

@media print {
    button {
        display: none;
    }

    .container-fluid .box-grid {
        padding: 0px;
    }
}
::ng-deep .btn-default {
    color: #333 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
}