
          <div id="suspensionPayment1" class="m-t-20">
           
            <h5><strong>suspension Change History</strong>
              <span *ngIf="!isSupervisor && _authService.readonlyButton('read_only_access','caseworker-suspension-add')" class="pull-right"><button (click)="addSuspension()" class="btn btn-theme btn-add btn-pri">+ Add</button></span>
            </h5>
        
      
        <div class="table-responsive table-theme m-t-30">
            <table class="table table-striped" aria-describedby="Suspension List">
                <thead>
                    <tr>
                        <th id="alTransactionDateHeader">Transaction Date</th>
                        <th id="alSuspensionBDHeader">Suspension Begin Date</th>
                        <th id="alSuspensionEDHeader">Suspension End Date</th>
                        <th id="alApprovalStatusHeader">Approval Status</th>
                        <th id="alApprovedByHeader">Approved By</th>
                        <th id="slActionHeader">Action</th>
                    </tr>
                </thead>
                <tr *ngFor = "let item of suspensionList">
                    <td>{{item?.requesteddate | date: 'MM/dd/yyyy'}}</td>
                    <td>{{item?.suspensionbegindate | date: 'MM/dd/yyyy'}}</td>
                    <td>{{item?.suspensionenddate | date: 'MM/dd/yyyy'}}</td>
                    <td>{{item?.approvalstatus}}</td>
                    <td>{{item?.approvedby}}</td>
                    <td>
                      <a *ngIf="!isSupervisor && item?.adoptionactiveflag && item?.approvalstatus !== 'Review' && !item?.suspensionenddate" href="#" data-bs-toggle="modal"  (click)="patchForm(item,0)" data-bs-target="#suspensionPaymentModal"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                      <a href="#" data-bs-toggle="modal" (click)="patchForm(item,1)" data-bs-target="#suspensionPaymentModal"><i class="fa fa-eye"
                              aria-hidden="true"></i>View</a>
                      <a *ngIf="isSupervisor && item?.approvalstatus === 'Review'" href="#" data-bs-toggle="modal" (click)="patchForm(item,1)" data-bs-target="#suspensionPaymentModal"><i class="fa fa-eye"
                              aria-hidden="true"></i>Review</a></td>
                </tr>
            </table>
        </div>
      </div>

      <div class="modal fade in" id="maintenance-payment-check-dialog-f" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-dialog-w450" role="document">
          <div class="modal-content" style="padding: 10px;">
              <div class="modal-header">
                  <h4 class="modal-title">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        Alert
                  </h4>
                  <button aria-label="Close" class="btn-close close pull-right" data-bs-dismiss="modal" type="button"></button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="row text-center">
                              <figure>
                                  <p>There is an Open/Active Provider Placement  &amp; Child Removal entered for the Adopted client that is beyond the Adoption Suspension Period and it can lead on the duplicate payments.</p>
                              </figure>
                              <div class="col-md-12 text-center">
                                  <div class="btn-group btn-group-re">
                                      
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


      <div class="modal fade" id="suspensionPaymentModal">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="h5-title m-0 col-md-8"> Suspension Change History Details</h5>
                      <button type="button" (click)="clearForm()" class="close pull-right btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                  </div>
                  <div class="modal-body m-20">
                      <div class="row">
                          <form [formGroup]="subsidySuspensionForm">
                              <div class="col-sm-12">
                                  <mat-form-field>
                                    <mat-label>Reason for Suspension</mat-label>
                                      <mat-select required formControlName="suspensionreasontypekey" placeholder="">
                                          <mat-option *ngFor="let item of filteredReasonTypeDropDown" [value]="item.ref_key"> {{item.description}} </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                                  <mat-error *ngIf ="subsidySuspensionForm.controls.suspensionreasontypekey.status=='INVALID' && mandatoryFields">
                                    Please Select the Reason for Suspension
                                  </mat-error>
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <mat-form-field>
                                            <mat-label>Suspension Begin Date</mat-label>
                                              <input  required formControlName="suspensionbegindate" [min]="suspensionMinDate" [max]="suspensionMaxDate" matInput autocomplete="off" [matDatepicker]="picker21" placeholder="">
                                              <mat-datepicker-toggle matSuffix [for]="picker21"></mat-datepicker-toggle>
                                              <mat-datepicker #picker21></mat-datepicker>
                                          </mat-form-field>
                                          <mat-error *ngIf ="subsidySuspensionForm.controls.suspensionbegindate.status=='INVALID' && mandatoryFields">
                                            Please Select Suspension Begin Date
                                          </mat-error>
                                      </div>
                                      <div class="col-sm-6">
                                          <mat-form-field>
                                            <mat-label>Suspension End Date</mat-label>
                                              <input formControlName="suspensionenddate"  [min]="subsidySuspensionForm.getRawValue().suspensionbegindate" [max]="suspensionMaxDate" matInput autocomplete="off" [matDatepicker]="picker22" placeholder="">
                                              <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                                              <mat-datepicker #picker22></mat-datepicker>
                                          </mat-form-field>
                                          
                                      </div>
                                  </div>
                                  <mat-form-field class="">
                                      <textarea formControlName="suspensionremarks" matInput placeholder="Note"></textarea>
                                  </mat-form-field>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="modal-footer m-t-30">
                      <button [disabled]="" *ngIf="!isSupervisor && !isView" class="btn-pri text-uppercase pull-right" type="button"  (click)="saveSuspension()">Send for Approval</button>
                      <button *ngIf="isSupervisor && ( !approvalStatus || approvalStatus === 'Review')" class="sec-btn text-uppercase pull-right" type="submit" (click)="routingUpdate('Approved')" >Approve</button>
                      <button *ngIf="isSupervisor  && ( !approvalStatus || approvalStatus === 'Review')" class="sec-btn text-uppercase pull-right" type="submit" (click)="routingUpdate('Rejected')" >Reject</button>
                      <button *ngIf="!isView" class="sec-btn text-uppercase pull-right" type="button" data-bs-dismiss="modal">Cancel</button>
                  </div>
              </div>
          </div>
      </div>

      
      <div class="modal fade" id="suspensionPaymentAlert">
              <div class="modal-dialog modal-md">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="h5-title m-0 col-md-8">Alert</h5>
                          <button type="button" (click)="redirectToSubsidy()" class="close pull-right " data-bs-dismiss="modal">
                             X
                          </button>
                      </div>
                      <div class="modal-body m-20">
                             Please Complete Break the link  to suspent the payment.
                      </div>
                      <div class="modal-footer m-t-30">
                          <button  (click)="redirectToSubsidy()" class="sec-btn text-uppercase pull-right" type="button" data-bs-dismiss="modal">Ok</button>
                      </div>
                  </div>
              </div>
          </div>
          <fiscal-audit></fiscal-audit>