<div class="row">
  <div class="col-md-12">  
      <div class="status">
          <mat-form-field>
              <mat-label>Write-Off Status</mat-label>
              <mat-select [(ngModel)]="manualStatus" (selectionChange)="statusManualDropDown($event.value)">
                  <mat-option>Select</mat-option>
                  <mat-option *ngFor="let status of statusDropDownList" [value]="status.value">
                  {{status.text}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12">
  <div class="table-responsive table-theme table-scroll mt-20">
    <table class="table table-striped " aria-describedby="manual list">
      <thead>
        <tr>
          <th id="provider-id">Provider ID</th>
          <th id="provider-name">Provider Name</th>
          <th id="receivable-id">Receivable ID</th>
          <th id="receivable-detail-id">Receivable Detail ID</th>
          <th id="payment-detail-id">Payment Detail ID</th>
          <th id="receivable-balance">Receivable Balance</th>
          <th id="requested-amount">Requested Amount</th>
          <th id="status">Status</th>
          <th id="action">Action</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngIf="manualList.length > 0">
          <tr *ngFor="let provider of manualList">
            <td>{{provider.provider_id}}</td>
            <td>{{provider.provider_nm}}</td>
            <td>{{provider.receivable_id}}</td>
            <td>{{provider.receivable_detail_id}}</td>
            <td>{{provider.payment_detail_id}}</td>
            <td>{{provider.receivable_balance_no | cjamsCurrency}}</td>
            <td>{{provider.amount_no | cjamsCurrency}}</td>
            <td *ngIf="provider.routingstatustypeid === 73">Pending</td>
            <td *ngIf="provider.routingstatustypeid === 74">Approved</td>
            <td *ngIf="provider.routingstatustypeid === 75">Denied</td>
            <td *ngIf="!provider.routingstatustypeid"></td>
            <td>
              <button class="open-link no-bg" type="button" matTooltip="Redirect to writeOff" (click)="openProvider(provider)"><em class="open-link fa fa-external-link"></em></button>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="manualList.length === 0">
          <tr>
            <td colspan="9" style="text-align: center !important;">No Data found.</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    
  </div>
  <div class="text-center" *ngIf="totalcount > 10">
      <pagination [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
        class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
      </pagination>
    </div>
</div>