<div class="row">
  <div class="col-sm-4">
    <mat-form-field>
      <mat-label>Placement Type</mat-label>
      <mat-select placeholder="">
        <mat-option value="Placement type"> Placement Type1</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="card panel-default">
  <div class="card-header">Co-Applicant Info (If Applicable)</div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Child Characteristics willing to Accept</mat-label>
          <input type="text" matInput placeholder="" required>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>CPS Clearance Info</mat-label>
          <input type="text" matInput placeholder="">
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Home Health Report form DHR/SSA</mat-label>
          <input type="text" matInput placeholder="" required>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <mat-form-field>
          <mat-label>Criminal Justice System Info (FBI, State, Maryland Casesearch and Sex Offender registry)</mat-label> 
          <input type="text" matInput placeholder=""
            required>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Medical Records</mat-label>
          <mat-select placeholder=" ">
            <mat-option value="Attachments"> Attachments Type1</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row mt-20 ">
      <div class="col-sm-5">
        <div class="row">
          <div class="col-sm-7">
            DHS Discipline Policy Received
          </div>
          <span class="col-sm-5">
              <mat-radio-group>
                  <mat-radio-button value=true>Yes</mat-radio-button>
                  <mat-radio-button value=false>No</mat-radio-button>
                </mat-radio-group>
          </span>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="row">
          <div class="col-sm-7">
            Grant provisional Approval
          </div>
          <span class="col-sm-5">
              <mat-radio-group>
                <mat-radio-button value=true>Yes</mat-radio-button>
                <mat-radio-button value=false>No</mat-radio-button>
              </mat-radio-group>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card panel-default">
  <div class="card-header">Provider Profile Checklist</div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li>
        <mat-checkbox>Placeholder 1</mat-checkbox>
      </li>
      <li>
        <mat-checkbox>Placeholder 2 </mat-checkbox>
      </li>
      <li>
        <mat-checkbox>Placeholder 3 </mat-checkbox>
      </li>         
    </ul>
  </div>
</div>

<div class="row text-end">
    <div class="col-sm-12 mt-20">       
      <button class="btn btn-pri">Save </button>
    </div>
  </div>