<div class="container-fluid">

    <div class="dashboard-cont no-pad">
      <div>
        <div class="tab-horizontal mrg-top25 mrg-btm25">
          <ul class="nav nav-pills">
            <li routerLinkActive="active" *ngFor="let tab of basicTabs">
              <a [routerLink]="tab.path">{{tab.name}}</a>
            </li>
  
          </ul>
        </div>
        <div class="tab-content boxgrid m-t-20">
          <div class="tab-pane active">
            <div class="cnt-min-height">
              <router-outlet></router-outlet>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>