<div class="m-t-10 row">
  <div class="col-sm-12">
    <h3>Resources Setup</h3>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <resource-new-setup-tree  [resourceDetailIdSubject$]="resourceDetailIdSubject$" [selectedResourceId]="selectedResourceId"
    [totalCount$]="totalCount$" [pageChangedRequest$]="pageChangedRequest$" 
    [reloadTreeSubject]="reloadTreeSubject" [selectedTreeSubject]="selectedTreeSubject"></resource-new-setup-tree>
    <resource-new-details [teamDetails$]="teamDetails$" [teamMemeberDetails]="teamMemeberDetails" [totalCount$]="totalCount$"
    [pageChangedRequest$]="pageChangedRequest$" [reloadTreeSubject]="reloadTreeSubject"
    [selectedResourceId]="selectedResourceId" [selectedTreeSubject]="selectedTreeSubject"></resource-new-details>
  </div>
</div>