.card-header.selected-child { 
    background: #c2dff0 !important;
}

.person-panel .card-body {
    min-height: 150px;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

tr.selected-bg {
    background: #00a2fd2b !important
}

.highlighted-person-card {
    background-color: lightblue;
}

.clsTextHide{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
    display: block;
}
.display-inlinebl {
	display: inline-block;
  padding-left: 10px;
}

.panel-default {
    border-color: #ddd;
}

a:hover {
    text-decoration: underline !important;
}

a {
    color: #337ab7 !important;
    text-decoration: none !important;
}