.hide {
    display: none;
}

body {
    font-family: 'Open Sans',serif;
    font-size: 14px;
    color: #333;
    line-height: 21px;
}
.clearfix {
    clear: both;
}
.clearfix:before{
    display: table;
    content: " ";
}
.clearfix:after{
    clear: both;
    display: table;
    content: " ";
}
.clsMain{
    position: relative;
    width: 750px;
    margin: auto;
}
.width-50{
    width: 50%;
}
.pull-left{
    float: left !important;
}
.pull-right{
    float: right !important;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
div[class*='col-']{
    float: left;
}
.col-1{
    width: 8.33333333%;
}
.col-2{
    width: 16.66666667%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.333%;
}
.col-5{
    width: 41.66666667%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33333333%;
}
.col-8{
    width: 66.66666667%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33333333%;
}
.col-11{
    width: 91.66666667%;
}
.col-12{
    width: 100%;
}
h5{
    text-transform: capitalize;
    font-size: 14px;
    // font-weight: 600;
    margin: 0 0 5px;
}


.no-mar{
    margin: 0px !important;
}
.no-pad{
    padding: 0px !important;
}
.pt-15{
    padding-top: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pt-80{
    padding-top: 80px;
}
.pb-20{
    padding-bottom: 20px;
}
.pl-20{
    padding-left: 20px;
}
.mb-5{
    margin:0 0 5px;
}
.mt-10{
    margin: 10px 0 0 ;
}
.mt-15{
    margin: 15px 0 0 ;
}
.clsItalic p{
    font-style: italic;
    font-size: 13px;
}
.text-b{
    font-weight: 700;
}
.text-sm-b{
    font-weight: 600;
}
.text-n{
    font-weight: 400;
}
.show{
    display: block;
}
.clsOnePage{
    height: 1094px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.unstyled{
    padding: 0px;
    margin: 0px;
}
/*.unstyled li{
    list-style: none;
}*/
.text-35{
    font-size: 35px;
}
.text-9{
    font-size: 9px;
}
.clsRed{
    color: #ff0000;
}

.line-12{
    line-height: 12px;
}
.text-10{
    font-size: 10px;
}
.sep-bot{
    border-bottom: 1px solid #000;
    padding: 0 5px;
}
.MinWidth-70{
    min-width: 70px;
}
.uline, .unline {
    border-bottom: 1px solid #000000;
    display: inline-block;
}
.uline {
    width: 90%;
}
.unline {
    width: 50%;
}
.pheight {
    display: block;
    width: 100%;
    height: 50px;
}
.pr-20{
    padding-right: 20px;
}
.text-12{
    font-size: 12px;
}
.pr-10{
    padding-right: 10px;
}
.clsWidth-80{
    width: 80%;
}
.clsWidth-77{
    width: 77%;
}
.clsWidth-70{
    width: 70%;
}
.pb-10{
    padding-bottom: 10px;
}
.clsMinwidth-30{
    min-width: 30px;
    display: inline-block;
}
.pt-50{
    padding-top: 50px;
}
.table.text-center th{
    text-align: center;
}
.dotline{
    border-bottom: 2px dotted #000000;
    width: 50%;
    display: inline-block;
}
.sectioni i {
    display: block;
}
.bd {
    border-bottom: 2px solid #000;
}
.pl-30 {
    padding: 0 0 0 30px;
}
.pt-30{
    padding: 30px 0 0 ;
}
.pt-10{
    padding-top: 10px;
}
.brd-top {
    border-top: 1px solid #000;
}
.brd-btm {
    border-bottom: 1px solid #000;
}
.w-250 {
    width:250px;
    display:inline-block;
}
.w-200 {
    width:200px;
    display:inline-block;
}
.w-150 {
    width:150px;
    display:inline-block;
}
.w-1 {
    width:50px;
    display:inline-block;
}
.w-100 {
    width:100%;
    display:inline-block;
}
.mb-10 {
    margin-bottom:10px;
}
.mb-20 {
    margin-bottom:20px;
}
.mb-30 {
    margin-bottom:30px;
}
.mb-40 {
    margin-bottom:40px;
}
.mb-50 {
    margin-bottom:50px;
}
.mt-20 {
    margin-top:20px;
}
.mt-30 {
    margin-top:30px;
}
.mt-40 {
    margin-top:40px;
}
.mt-50 {
    margin-top:50px;
}
.mt-5 {
    margin-top:5px;
}


.text-b-6 {font-weight:600;}

.referal-notice{
    margin-left: 6%;
    margin-right: 4%;

}

.date{
    margin-left: 8%;
}

footer p {
    margin-bottom: -6px;
}
