<div class="container-fluid da-type-config">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 form-letter-tab">
            <div class="box-grid">
                <div class="row">
                    <div class="col-sm-9">
                        <h3>Service Type Configuration</h3>
                    </div>
                    <div class="col-sm-3 tab-title-btn">
                        <button class="btn-pri pull-right" [routerLink]="['/pages/admin/da-config/da-type-config/add-edit-da-type-config',0]">
                            <em class="fa fa-plus right-sspace"> </em> Add New </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered icon-action" sortable-table (sorted)="onSorted($event)" aria-describedby="Service Type Config" >
                                <thead>
                                    <tr>
                                        <th id="service-type" sortable-column="datype" sort-direction="asc">Service Type</th>
                                        <th id="sub-type" sortable-column="subtype">Sub Type</th>
                                        <th id="plan-type" sortable-column="plantype">Plan Type</th>
                                        <th id="workload-basis" sortable-column="workload_basis">Workload Basis</th>
                                        <th id="internal-file">Internal File</th>
                                        <th id="due-date-offset" sortable-column="duedateoffset">Due Date Offset</th>
                                        <th id="limited-routing">Limited Routing</th>
                                        <th id="focus">Focus</th>
                                        <th id="expired">Expired</th>
                                        <th id="actions">Actions</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="inner-addon right-addon">
                                                <em class="fa fa-search" href="#" data-bs-toggle="modal" data-bs-target="#attach-user-selection"></em>
                                                <input class="form-control full-collapse-horizontal" type="text" (input)="onSearch('datype', $event)" value="" placeholder="Search Service Type">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-addon right-addon">
                                                <em class="fa fa-search" href="#" data-bs-toggle="modal" data-bs-target="#attach-user-selection"></em>
                                                <input class="form-control full-collapse-horizontal" type="text" (input)="onSearch('subtype', $event)" value="" placeholder="Search Sub Type">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-addon right-addon">
                                                <em class="fa fa-search" href="#" data-bs-toggle="modal" data-bs-target="#attach-user-selection"></em>
                                                <input class="form-control full-collapse-horizontal" type="text" (input)="onSearch('plantype', $event)" value="" placeholder="Search Plan Type">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="inner-addon right-addon">
                                                <em class="fa fa-search" href="#" data-bs-toggle="modal" data-bs-target="#attach-user-selection"></em>
                                                <input class="form-control full-collapse-horizontal" type="text" (input)="onSearch('workload_basis', $event)" value="" placeholder="Search Workload">
                                            </div>
                                        </td>
                                        <td></td>
                                        <td>
                                            <div class="inner-addon right-addon">
                                                <em class="fa fa-search" href="#" data-bs-toggle="modal" data-bs-target="#attach-user-selection"></em>
                                                <input class="form-control full-collapse-horizontal" type="text" (input)="onSearch('duedateoffset', $event)" value="" placeholder="Search Due Date">
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody *ngIf="daTypeConfig$ | async; let daTypeConfigList">
                                    <tr *ngFor="let item of daTypeConfigList">
                                        <td>{{item.datype}}</td>
                                        <td>{{item.subtype}}</td>
                                        <td>{{item.plantype}}</td>
                                        <td>{{item.workload_basis}}</td>
                                        <td>
                                            <label class="control control--checkbox">
                                                <input type="checkbox" disabled checked="{{item.internalfile}}">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </td>
                                        <td>{{item.duedateoffset}}</td>
                                        <td>
                                            <label class="control control--checkbox">
                                                <input type="checkbox" disabled checked="{{item.limitedrouting}}">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </td>
                                        <td>{{item.focusroletype}}</td>
                                        <td>
                                            <label class="control control--checkbox">
                                                <input type="checkbox" disabled checked="{{item.expirationdate}}">
                                                <div class="control__indicator"></div>
                                            </label>
                                        </td>
                                        <td>
                                            <span data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="Edit">
                                                <a [routerLink]="['/pages/admin/da-config/da-type-config/add-edit-da-type-config', item.servicerequesttypeconfigid]">
                                                    <img src="assets/images/form-letter/edit-icon.png" alt="">
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr *ngIf="daTypeConfigList?.length === 0">
                                        <td colspan="10">No records found.</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
                                <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords ?? 0" [(ngModel)]="paginationInfo.pageNumber"
                                    (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
                                    [itemsPerPage]="paginationInfo.pageSize"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="add-DA-configuration-popup" role="dialog" class="da-type-config">
    <router-outlet></router-outlet>
</div>
<script type="text/javascript">
    $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>