<div class="container-fluid">
    <h4 class="mrg-top25" *ngIf="roleId.role.name !== 'field'">APPROVAL INBOX</h4>
<div class="dashboard-cont no-pad">

  <div class="tab-horizontal mrg-top25 mrg-btm25">
      <ul class="nav nav-pills">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['../cw-approval']" *ngIf="roleId.role.name !== 'field'" (click)="assignedToSupervisor(1)">CASE PENDING APPROVAL</a>
              <a class="nav-link" href="#case-on-going" *ngIf="roleId.role.name === 'field'" data-bs-toggle="tab">APPROVAL INBOX</a>
          </li>
          <li class="nav-item" *ngIf="roleId.role.name !== 'field'">
            <a class="nav-link" href="#/pages/cjams-dashboard/cw-assessment">ASSESSMENTS PENDING APPROVAL</a>
        </li>
        <li class="nav-item" *ngIf="roleId.role.name !== 'field'">
                <a class="nav-link active" href="#/pages/cjams-dashboard/cw-approval-caseworker">All APPROVAL RECORD</a>
          </li>

      </ul>
      <br>
      <br>
      <div class="tab-content boxgrid assign-case">
          <div class="tab-pane active" id="case-on-going">
              <div class="cnt-min-height">
                    <form [formGroup]="workloadForm">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row slide-left">
                                        <div class="col-sm-2">
                                            <div class="mb-3">
                                                <mat-form-field>
                                                    <mat-label>Local Department</mat-label>
                                                    <mat-select formControlName="localdeptid" required
                                                         (selectionChange)="getteamlist()">
                                                        <mat-option value="">All</mat-option>
                                                        <mat-option *ngFor="let dept of departmentList"
                                                            [value]="dept.countyid">
                                                            {{dept.countyname}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="mb-3">
                                                <mat-form-field>
                                                    <mat-label>Unit</mat-label>
                                                    <mat-select formControlName="teamid" required
                                                        (selectionChange)="loadUnitWorkers()">
                                                        
                                                        <mat-option *ngFor="let team of teamList" [value]="team.id">
                                                            {{ team.name }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="mb-3">
                                                <mat-form-field>
                                                    <mat-label>Assigned To</mat-label>
                                                    <mat-select formControlName="toworkerid" >
                                                        <mat-option value="">All</mat-option>
                                                        <mat-option *ngFor="let user of caseWorkerList"
                                                            [value]="user.userid">
                                                            {{ user.username }} </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row slide-left">    
                                            <div class="col-sm-2">
                                                <mat-form-field>
                                                    <mat-label>Case Number</mat-label>
                                                    <input matInput formControlName="serreqno" 
                                                        id="serreqno"  />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-2">
                                                <mat-form-field>
                                                    <mat-label>SUBMITTED FROM DATE</mat-label>
                                                    <input matInput formControlName="startdate" autocomplete="off" [matDatepicker]="startdate"
                                                        id="startdate"  />
                                                    <mat-datepicker-toggle matSuffix [for]="startdate">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #startdate></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-2">
                                                <mat-form-field>
                                                    <mat-label>SUBMITTED END DATE</mat-label>
                                                    <input matInput formControlName="enddate" autocomplete="off" [matDatepicker]="enddate"
                                                        id="enddate"  />
                                                    <mat-datepicker-toggle matSuffix [for]="enddate">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #enddate></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-1">
                                                   
                                                        <button class="btn-pri" type="button" [disabled]="workloadForm.pristine || workloadForm.invalid"   (click)="assignedToSupervisor(1)">Search</button>
                                                    
                                                   
                                                </div>
                                                <div class="col-sm-1">
                                                        
                                                        <button class="btn-bg" type="button"
                                                             (click)="clearSearch()">Clear</button>
                                               </div>
                                            </div>
                                    </div>
                                </div>
                                
                        </form>
                  <div class="table-responsive table-theme">
                    <p class="mt-10 mb-0">Total Count: <strong>{{totalRecordsSupervisor}}</strong>
                      <table class="table table-striped"  sortable-table (sorted)="onSorted($event)" aria-describedby="tbl-supervisor-records">
                          <thead>
                              <tr>
                                  <th scope="col" sortable-column="servicerequestnumber">CASE NUMBER</th>
                                  <th scope="col" sortable-column="submitteduser" >CASE WORKER</th>
                                  <th scope="col">Head of Household</th>
                                  <th scope="col" sortable-column="reporteddate">RECEIVED DATE & TIME</th>
                                  <th scope="col" sortable-column="submitteon" >SUBMITTED DATE & TIME</th>
                                  <th scope="col" sortable-column="servreqtype" >SERVICE TYPE</th>
                                  <th scope="col" sortable-column="routingstatus" >Approval Status</th>
                                  <th scope="col" sortable-column="eventdescription">event description</th>
                              </tr>
                          </thead>
                          <tbody *ngIf="reviewToSupervisor; let assignedCase">
                              <ng-container *ngIf="assignedCase.length>0; else noItems">
                                  <ng-container *ngFor="let item of assignedCase; let groupIndex = index">
                                      <tr *ngIf="item.routingstatus==='Approved' || item.routingstatustypeid === 40">
                                          <td *ngIf="item?.dadetails?.length > 0">
                                              <a>
                                                  <i (click)="groupShow(groupIndex, item)" [class]="!item.isCollapsed  ? 'fa fa-angle-up':'fa fa-angle-down'" aria-hidden="true"></i>
                                                  <a>{{item.servicerequestnumber}}</a>
                                              </a>
                                          </td>
                                          <td *ngIf="!item?.dadetails">
                                                <a>
                                                    <a (click)="routToCaseWorker(item)" class="aut-lnk-Case">{{item.servicerequestnumber}}</a>
                                                </a>
                                            </td>
                                          <td>
                                                {{item?.submitteduser}}
                                          </td>
                                         
                                          <td><person-information [persons]="item?.legalguardian"></person-information> </td>
                                          <td>{{item?.reporteddate ? (item?.reporteddate | date:'MM/dd/yyyy hh:mm a') :
                                              'NA'}}
                                          </td>
                                          <td>{{item?.submitteon ? (item?.submitteon | date:'MM/dd/yyyy hh:mm:ss a') : 'NA'}}
                                          </td>
                                          <td>{{item?.servreqtype}}</td>
                                          
                                          <td>{{item.routingstatus === 'Routed' ? 'Pending' : item.routingstatus}}</td>
                                          <td>{{item?.eventdescription}}</td>
                                      </tr>
                                      <ng-container *ngIf="!item.isCollapsed">

                                          <tr class="inner-tbl" *ngIf="item.dadetails">
                                              <td colspan="6">
                                                  <table aria-describedby="tbl-da-details">
                                                      <thead>
                                                          <th scope="col">case number </th>
                                                          <th scope="col">client </th>
                                                          <th scope="col">status</th>
                                                          <th scope="col">type</th>
                                                      </thead>
                                                      <tr *ngFor="let groupItem of item.dadetails">
                                                          <td>
                                                              <a (click)="routToCaseWorker(groupItem)">
                                                                  {{groupItem.servicerequestnumber}}</a>
                                                          </td>
                                                          <td>{{groupItem.clientname}} </td>
                                                          <td>{{groupItem.intakeserreqstatustypekey}}</td>
                                                          <td>{{groupItem.intakeservreqtypekey}}</td>
                                                      </tr>
                                                  </table>
                                              </td>

                                          </tr>
                                      </ng-container>
                                  </ng-container>
                              </ng-container>
                          </tbody>
                      </table>
                      <ng-template #noItems>
                          <p class="no-datatxt"> No Items! </p>
                      </ng-template>
                      <div class="text-center" *ngIf="totalRecordsSupervisor">
                          <pagination [totalItems]="totalRecordsSupervisor" [(ngModel)]="onGoingPaginationInfo.pageNumber" (pageChanged)="onGoingPageChanged($event)"
                              class="pagination-sm" [boundaryLinks]="true" [maxSize]="50" [itemsPerPage]="onGoingPaginationInfo.pageSize50"></pagination>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
<div class="modal fade" id="intake-caseassign" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content Persons-Involved">
      <div class="modal-header">
          <h4 class="modal-title">Route Case</h4>
          <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body dashboard-cont">

          <div class="tab-horizontal mrg-btm25">
              <ul class="nav nav-pills">
                  <li class="nav-item">
                      <a class="nav-link active" href="#caseassign-caseworker" data-bs-toggle="tab" (click)="listUser('TOBEASSIGNED')">WORKERS</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#caseassign-caseworker" data-bs-toggle="tab" (click)="listUser('ASSIGNED')">SUPERVISORS</a>
                  </li>
              </ul>
              <div class="tab-content boxgrid">
                  <div class="tab-pane active" id="caseassign-caseworker">
                      <div class="">
                          <div class="table-responsive table-theme">
                              <table class="table table-striped" sortable-table aria-describedby="tbl-case-worker">
                                  <thead>
                                      <tr>
                                          <th scope="col"></th>
                                          <th scope="col">NAME</th>
                                          <th scope="col" class="required">Responsibility</th>
                                          <th scope="col" *ngIf="!isSupervisor">CASE LOAD</th>
                                          <th scope="col" *ngIf="!isSupervisor">AVAILABILITY</th>
                                          <th scope="col" *ngIf="!isSupervisor">ZIP CODE</th>
                                          <th scope="col" *ngIf="isSupervisor">AGENCY</th>
                                          <th scope="col">TYPE OF WORKER</th>
                                          <th scope="col">UNIT</th>
                                          <th scope="col">Total Cases</th>
                                      </tr>
                                  </thead>
                                  <tbody *ngIf="getUsersList; let getlist">
                                      <ng-container *ngIf="getlist.length>0; else noItems">
                                          <tr *ngFor="let item of getlist">
                                            <td class="valign-middle">
                                                <mat-checkbox (change)="selectPersonForAssign($event,item)">
                                                </mat-checkbox>
                                            </td>
                                              <td>{{item.username}} </td>
                                              <td>
                                                <mat-form-field>
                                                    <mat-label>Responsibility</mat-label>
                                                    <mat-select 
                                                        (selectionChange)="changeResponsibility($event,item)">
                                                        <mat-option
                                                            *ngFor="let type of responsibilityTypeDropdownItems$ | async"
                                                            [value]="type.value">
                                                            {{type.text}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <div *ngIf="isChildResponsibilityTypeSelected(item)">
                                                    <mat-form-field>
                                                        <mat-label>Child List</mat-label>
                                                        <mat-select  multiple  required="isChildResponsibilityTypeSelected(item)" (selectionChange)="addChild($event, item)">
                                                            <ng-container *ngFor="let child of childList$ | async">
                                                                <mat-option [disabled]="child.isassignment === 1"  [value]="child.intakeservicerequestactorid"><span>{{child.firstname}} </span> <span>{{child.lastname}}</span></mat-option>
                                                            </ng-container>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                              <td *ngIf="!isSupervisor">{{item.workloads}}</td>
                                              <td *ngIf="!isSupervisor">{{item.available}}</td>
                                              <td *ngIf="!isSupervisor">{{item.worklocationcode ? item.worklocationcode : 'N/A'}}</td>
                                              <td *ngIf="isSupervisor">{{item.agencykey}}</td>
                                              <td>{{item.userrole}}</td>
                                              <td>{{item.teamname}}</td>
                                              <td>{{item.totalcases ? item.totalcases : 'N/A'}}</td>
                                          </tr>
                                      </ng-container>
                                  </tbody>
                              </table>
                              <ng-template #noItems>No Items!</ng-template>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="clearfix"></div>
      </div>
      <div class="modal-footer wizard-buttons">
          <button class="btn-pri">ASSIGN</button>
      </div>
  </div>
</div>
</div>