@use '../../../person-info.component.scss';

.p-card-wrapper {
    height: 175px;
    overflow-y: auto;
    overflow-x: hidden;
}
.red {
    color: red;
}

.panel-footer {
    padding: 5px 15px 21px 15px;
}

.add-container {
    margin: 0px;
}

.card-body {
    padding: 10px;
}

.view-mode {
    pointer-events: none;
}

.table {
    margin-bottom: auto;
}