<div class="alert alert-info" *ngIf = "moduleview">
    <em (click)="switchInfo()" aria-hidden="true"
        [class]="showInfo === true ? 'fa fa-minus-square-o' : 'fa fa-plus-square-o'">
        <strong>Information</strong>
    </em>
    <ul *ngIf="showInfo">
        <li>Please select a person by clicking on Person card.</li>
        <li>Relationships are shown of every other person with respect to the selected person.</li>
        <li>Click on <em class="fa fa-edit"></em> buton in order to Add/Edit the relationship.</li>
    </ul>
</div>
<div class="alert alert-warning" *ngIf = "moduleview">
    <span>
        Showing relationships with  - <span *ngIf="selectedPerson"><strong>{{getFullName(selectedPerson)}}</strong>
        </span>
    </span>
</div>
<mat-grid-list [cols]="matCols" rowHeight="250px" *ngIf = "moduleview">
    <ng-container *ngFor="let person of involevedPersonList; let i = index">
        <mat-grid-tile *ngIf="person.iscollateralcontact !== 1"> <!-- Collaterals should not appear on the relationships tab -->
            <mat-card appearance="outlined" [ngClass]="{'person-card': i !== selectedCard,'person-card-selected':i === selectedCard}">
                <mat-card-header (click)="selectPersonCard(i,person)">
                    <img *ngIf="person.userphoto" mat-card-avatar mat-card-md-image src="{{person.userphoto | formatUrl}}" alt="" />
                    <img *ngIf="!person.userphoto" mat-card-avatar mat-card-md-image
                        src="../../../../../assets/images/ic_silhouette.png" alt="" />
                  
                    <mat-card-title style="font-size: 15px;">
                        <span>
                            {{ getFullName(person) }}
                        </span>
                        <span>
                            Age : {{ person?.age }}
                        </span>
                        <span>
                            DOB : {{ person?.dob | date: 'MM/dd/yyyy' }}
                        </span>
                        <span>
                            Gender :
                            {{ (person?.gender)?person?.gender:(person?.gendertypekey)?(person?.gendertypekey):'N/A'}}
                        </span>
                        <span>
                            CJAMS PID# : {{ person?.cjamspid }}
                        </span>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-footer>
                    <span class="person-relationship-bar" *ngIf="i === selectedCard">
                        Self
                    </span>
                    <span class="person-relationship-bar" *ngIf="i !== selectedCard">
                        {{person?.relation}}
                    </span>
                    <span class="caregiver-bar" *ngIf="i !== selectedCard && person?.careGiverFlag">
                        Caregiver
                    </span>
                    <span *securityKeyNew = "'relationship,relationship.relationships.edit'" [fieldKeyNew] = "'relationship,relationship.relationships.edit'">
                        <span *ngIf="isReadonly">
                            <button [disabled]="isClosed" class="relationship-button" *ngIf="i !== selectedCard" title="Add/Edit Relationship"
                                (click)="UpdatePersonId(person)" data-bs-toggle="modal" data-bs-target="#myModal"><em
                                    class="fa fa-edit"></em></button>
                        </span>
                    </span>
                </mat-card-footer>
            </mat-card>
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content" [formGroup]="relationshipForm">
            <div class="modal-header">
                <h4 class="modal-title">Relationship Value</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div>
                    <ng-select formControlName="relationshiptypekey" [searchable]="true" [clearable]="false">
                            <ng-option value="">Click to Select/Search</ng-option>
                            <ng-option *ngFor="let item of relationShipToRADropdownItems" [value]="item.value">{{item.text}}</ng-option>
                    </ng-select>
                </div>
                <br>
                <div>
                    <mat-checkbox formControlName="careGiverFlag">Is Caregiver ?</mat-checkbox>
                </div>
            </div>
               
            
            <br>
            <div class="modal-footer text-end">
                <button type="button" class="btn btn-secondary btn-theme" data-bs-dismiss="modal">Cancel</button>
                <button *securityKeyNew = "'relationship,relationship.relationships.edit'" [fieldKeyNew] = "'relationship,relationship.relationships.edit'" 
                    type="button" class="btn btn-pri btn-theme" (click)="updateRelation()"
                    data-bs-dismiss="modal">Save</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->