.person-card,
.person-card-selected {
    // width: 300px;
    // height: 175px;
    padding: 15px;
    margin: 0px;
    border-radius: 15px;
    border: 1px solid #d8d8d8;
}
.person-card-selected {
    background: #e8f9f4;
    border-color: #8ee3c8;
    // padding: 1.6em;
    // margin: 0;
    // line-height: 1.6em;
    clear: right;
    color: #181818;
}

// .mat-card-content {
//     height: 100px;
// }

.person-relationship-bar {
    padding: 3px 10px;
    // border-radius: 10px;
    color: #3c763d;
    font-size: 13px;
    background: #d6e9c6;
    border: 1px solid #3c763d;
    // padding: 1.6em;
    // margin: 1.5em 0;
    line-height: 1.6em;
    clear: right;
    display: inline-block;
}
.relationship-button {
    background: #d6e9c6;
    border: 1px solid #3c763d;
    margin: 0 0 0 5px;
    line-height: 1.6em;
}

.mat-mdc-card-title span {
    display: block;
}

.caregiver-bar {
    padding: 3px 10px;
    // border-radius: 10px;
    color: #ac54af;
    font-size: 13px;
    background: #d6e9c6;
    border: 1px solid #3c763d;
    // padding: 1.6em;
    // margin: 1.5em 0;
    line-height: 1.6em;
    clear: right;
    display: inline-block;
}

#myModal .modal-body {
    max-height: 75vh;
    overflow: hidden;
    overflow-y: auto;
    min-height: 50vh;
}

::ng-deep .mat-grid-tile {
    height: 250px !important;
}

.modal-dialog {
    max-width: 450px;
}

.mat-mdc-card-header {
    display: flex;
    padding: unset;
}
.mat-mdc-card-title {
    padding: unset !important;
}