@use '../../../../person-info.component.scss';
td.align-top {         
    vertical-align: top;       
}
.btn-icon button {
    outline: none;
    background: none;
    border: none;
}
.btn-icon button i:before {
    color: #00A2FD;
    font-size: 14px;
}
.tab {
    display: inline-block;
    margin-left: 40px;
}
.m-t-5
{
    margin-top: 5px;
}

.timeWidth {
    width: 20%;
}