<div class="col-md-12" *ngFor="let item of appointments; let isLast = last; let isFirst = first;let index = index;">
    <h4>
        <p class="bg-theme">Appointment Information</p>
    </h4>
    <div class="row">
        <div class="col-sm-4">
            <p class="required">Appointment<label></label></p>
            <mat-radio-group [(ngModel)]="item.apptkept" [disabled]="disabled" required  >
                <mat-radio-button *ngFor="let action of appointmentActions" [value]="action.ref_key" (change)="showdropdown(action.description, index)">{{action.description}}</mat-radio-button>                
            </mat-radio-group>
           
            <mat-error *ngIf="requiredForApproval && (item.apptkept ===null ||item.apptkept ===undefined 
            || item.apptkept ==='') " >
                Please select value Appointment
                  </mat-error>
        </div>
        
        <div class="col-sm-4" *ngIf="item.apptkept === APPOINTMENT_NOT_KEPT && !isshowdropdown">
            <mat-form-field>
                <mat-label>Not Kept Reason</mat-label>
                <input matInput  [(ngModel)]="item.notkeptreason" placeholder="" [disabled]="disabled">
              
                <mat-error *ngIf="requiredForApproval && (item.notkeptreason ===null ||item.notkeptreason ===undefined 
                || item.notkeptreason ==='') " >
                    Please select value Not Kept Reason
                      </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-4" *ngIf="item.apptkept === APPOINTMENT_NOT_KEPT && isshowdropdown ">
            <mat-form-field>
                <mat-label>Reason for not kept appointment</mat-label>
                <mat-select placeholder="" (selectionChange)="notkeptreason($event.value)" [(ngModel)]="item.notkeptreason" required [disabled]="disabled" >
                   <mat-option *ngFor="let item of notkeptreasonDropdownItem$ | async" value="{{item.value}}">
                        {{item.text}}</mat-option>
                </mat-select>
                
            </mat-form-field>
            <mat-error *ngIf="requiredForApproval && !item.notkeptreason " >
                Please Enter value for Reason for not kept appointment
                  </mat-error>
        </div>
    </div>
    <div class="row" *ngIf = "showotherflag === true">
        <div class="col-md-12">
            <mat-form-field>
                <mat-label>Reason</mat-label>
               <textarea name="item.otherreason" matInput  [(ngModel)] = "item.otherreason" placeholder="" required ="item.other ==='NKR6'? true:false" [disabled]="disabled"></textarea>
            </mat-form-field>
         </div>
    </div>
    <div class="row" *ngIf="showfcauthform">
        <div class="col-md-6">
            <p><span class="required">Was Foster Care Health Services Authorization form completed?</span></p>
            <mat-radio-group [(ngModel)] = "item.authformcompletion" [disabled]="disabled"  required ="showfcauthform" (change) = "resetfostercare($event.value)" >
                <mat-radio-button value = "1" >Yes</mat-radio-button>
                <mat-radio-button value = "2">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="col-md-6" *ngIf = "item.authformcompletion === '2'">
            <p><span class="required">Explanation for missing foster care health services authorization form</span></p>
            <mat-form-field>
                <textarea name="item.notcompletedauthform" matInput  [(ngModel)] = "item.notcompletedauthform" [required] ="item.notcompletedauthform ==='2' ? true :false" [disabled]="disabled"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row" *ngIf="item.apptkept === APPOINTMENT_NOT_KEPT && provcaremissedappt">
        <div class="col-sm-6">
            <mat-form-field>
                <mat-label>Provider/Caregiver missed medical appointment<span style="color:red">*</span></mat-label>
                <mat-select  [(ngModel)]="item.provcaremissed" >
                    <mat-option *ngFor="let item of provcaregmissdappt" value="{{item}}" >
                        {{item}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row m-t-5">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-11">
                    <mat-form-field>
                        <mat-label>Nature of Exam</mat-label>
                        <mat-select placeholder="" (selectionChange)="populateSpecialityExam();validateTimeFrame($event.value);" [(ngModel)]="item.natureofexamkey" required [disabled]="disabled">
                            <mat-option *ngFor="let item of examTypeDropdownItems$ | async" value="{{item.value}}">
                                {{item.text}}</mat-option>
                        </mat-select>
                        
                    </mat-form-field>
                    <mat-error *ngIf="requiredForApproval && (item.natureofexamkey ===null ||item.natureofexamkey ===undefined 
                        || item.natureofexamkey ==='') " >
                            Please select Nature of Exam
                              </mat-error>
                </div>
                <div class="col-sm-1" *ngIf="item.natureofexamkey === '3257'">
                    <div class="btn-icon"> 
                        <button type="button" data-bs-toggle="modal" (click)="showInfoDialog('AnnualHealthVisit')"
                            title="The Annual Health visit is referring to the child’s yearly physical. These occur when the child turns 12 months, 24 months, 36 months, and every year after that.">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6" *ngIf="item.natureofexamkey === '32926'" >
            <span class="required">Is this Semi-Annual Dental Visit?</span>
            <span class="tab"></span>
            <mat-radio-group [(ngModel)]="item.issemiannualdentalvisit" >
                <mat-radio-button [value]="true" >Yes</mat-radio-button>
                <mat-radio-button [value]="false" >No</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="requiredForApproval && (item.issemiannualdentalvisit ===null ||item.issemiannualdentalvisit ===undefined 
            || item.issemiannualdentalvisit ==='') " >
                Please select Is this Semi-Annual Dental Visit
                  </mat-error>
        </div>
        <div class="col-sm-6" *ngIf="item.natureofexamkey === '3257'">
            <span class="required">Is this the Annual Physical Visit?</span>
            <span class="tab"></span>
            <mat-radio-group [(ngModel)]="item.isannualhealthvisit">
                <mat-radio-button [value]="true" >Yes</mat-radio-button>
                <mat-radio-button [value]="false" >No</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="requiredForApproval && (item.isannualhealthvisit ===null ||item.isannualhealthvisit ===undefined 
            || item.isannualhealthvisit ==='') " >
                Please select Is this the Annual Physical Visit
                  </mat-error>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <common-date-picker [max]="min"  [(ngModel)]="item.apptDate" (change) = "calculateAppointmentDuration(item)" 
                placeholder="Appointment Date" [disabled]="disabled" [required]="true">
            </common-date-picker>
            <mat-error *ngIf="requiredForApproval && !item.apptDate" >
                Please select Appointment Date
                  </mat-error>
        </div>
        <div class="col-md-2 timeWidth">
            <mat-form-field>
                <mat-label>Scheduled Appointment Time</mat-label>
                <input matInput type="time" [(ngModel)]="item.starttime" (change) = "calculateAppointmentDuration(item)" [disabled]="disabled"
                placeholder="" required>
            </mat-form-field>
            <mat-error *ngIf="requiredForApproval && !item.starttime" >
                Please select Scheduled Appointment Time
                  </mat-error>
        </div>
        <div class="col-md-2">
            <mat-form-field>
                <mat-label>End Time</mat-label>
                <input matInput type="time" [(ngModel)]="item.endtime" (change) = "calculateAppointmentDuration(item)" [disabled]="disabled" placeholder="">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <table aria-describedby="tbl-appointment-lst">  <!--/* //NOSONAR */-->
                <tbody>
                    <tr>
                        <td colspan="2">Appointment Duration</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" [(ngModel)]="item.durationhours" disabled = "true" class="form-control"
                                placeholder="HH" mask="00"
                                style="width:60px;">Hr(s)
                        </td>
                        <td>
                            <input type="text" [(ngModel)]="item.durationmins" disabled = "true" class="form-control" mask="00"
                                placeholder="MM"
                                style="width:60px;">Min(s)
                        </td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </div>
    <div class="row" *ngIf="enableTimeFrame">
        <div class="col-sm-6">
            <mat-form-field>
                <mat-label>
                    <div *ngIf="disableTimeFramSelection;else other_content">
                        <span>EPSDT Screening Visit</span>
                    </div>
                    <ng-template #other_content><span class="required">EPSDT Screening Visit</span></ng-template>
                </mat-label>
                <mat-select  [(ngModel)]="item.timeframe" [disabled]="disableTimeFramSelection">
                    <mat-option *ngFor="let item of epstdTimeFrames" value="{{item.picklist_value_cd}}" >
                        {{item.value_tx}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-11">
                    <mat-form-field>
                        <mat-label>Speciality Exam</mat-label>
                        <mat-select  [(ngModel)]="item.specialityexamkey"  
                        placeholder="" 
                        [required] = "(item.natureofexamkey === '32926' && item.issemiannualdentalvisit === false) || (item.natureofexamkey === '3257' && item.isannualhealthvisit === false)"
                        [disabled]="(item.natureofexamkey === '32926' && item.issemiannualdentalvisit === true) || (item.natureofexamkey === '3257' && item.isannualhealthvisit === true)">
                            <mat-option *ngFor="let item of specialityExamItems"
                                value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-1" *ngIf="item.natureofexamkey === '32926'" >
                    <div class="btn-icon"> 
                        <button type="button" data-bs-toggle="modal" (click)="showInfoDialog('SemiAnnualDentalVisit')"
                            title="Follow up visit examples are: cavity, extractions, root canal, crown, or deep cleaning.">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>            
        </div>
        <div class="col-sm-6" *ngIf="item.specialityexamkey === '7851' || item.showspecialexamother" >
            <mat-form-field>
                <mat-label>Other Speciality</mat-label>
            <input matInput  [(ngModel)]="item.specialityexamother" placeholder="" [disabled]="disabled">
            </mat-form-field>
            </div>
        <div class="col-sm-6 m-t-20" >
            <mat-checkbox  [(ngModel)]="item.hivtestreceived" [disabled]="disabled"> Consent for HIV Test Received
            </mat-checkbox>
        </div>        
        <div class="col-sm-6 m-t-20">
            <mat-checkbox [(ngModel)]="item.covidimpacted" [disabled]="disabled" (change)="item.exposedtocovid = null"> COVID Impacted
            </mat-checkbox>
        </div>
    </div>
    <div *ngIf="item.covidimpacted">
        <div class="col-sm-6">
            <mat-form-field>
                <mat-label>Exposed to COVID-19</mat-label>
                <mat-select [(ngModel)]="item.exposedtocovid" placeholder="" required [disabled]="disabled" (selectionChange)="item.covidtestconducted = null">
                    <mat-option value="true">Yes</mat-option>
                    <mat-option value="false">No</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-6" *ngIf="item.exposedtocovid==='true'">
            <mat-form-field>
                <mat-label>Test Conducted</mat-label>
                <mat-select [(ngModel)]="item.covidtestconducted" placeholder="" required [disabled]="disabled" (selectionChange)="item.typeoftest = null">
                    <mat-option value="true">Yes</mat-option>
                    <mat-option value="false">No</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="item.covidtestconducted==='true'">
            <div class="col-sm-12">
                <mat-form-field>
                    <mat-label>Type of Test</mat-label>
                    <mat-select [(ngModel)]="item.typeoftest" placeholder="" required [disabled]="disabled" (selectionChange)="item.covidtestresults = null; item.covidtestdate = null">
                        <mat-option value="rapid">Rapid COVID-19 Test</mat-option>
                        <mat-option value="pcr">PCR COVID-19 Test</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="item.covidtestconducted==='true' && item.typeoftest">
                <div class="col-sm-6">
                    <label><span class="required">Test Result</span></label>
                    <mat-radio-group [(ngModel)]="item.covidtestresults" [required]="true" [disabled]="disabled">
                        <mat-radio-button value="positive">Positive</mat-radio-button>
                        <mat-radio-button value="negative">Negative</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-sm-6">
                    <common-date-picker [(ngModel)]="item.covidtestdate" [required]="true" placeholder="Date" [disabled]="disabled">
                    </common-date-picker>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field>
                <mat-label>Lab Test</mat-label>
                <mat-select  [(ngModel)]="item.labtestkey" placeholder="" [disabled]="disabled" multiple (selectionChange)="selectLabTest($event.value)" > 
                    <mat-option *ngFor="let item of labTestDropdownItems$ | async" value="{{item.value}}" >
                        {{item.text}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-4" *ngIf="showlabtestother || item.showlabtestother">
            <mat-form-field>
                <mat-label>Lab Test Other</mat-label>
            <input matInput  [(ngModel)]="item.labtestother" placeholder="" [disabled]="disabled">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <common-date-picker [min]="minNextAppointment" [(ngModel)]="item.nextApptDate" placeholder="Next Appointment Date" [disabled]="disabled">
              </common-date-picker>           
        </div>
        <div class="col-sm-6" *ngIf="item.nextApptDate !== null ">
            <mat-form-field>
                <mat-label>Reason</mat-label>
            <input matInput  [(ngModel)]="item.nextappointmentreason" placeholder="" [disabled]="disabled">    
            </mat-form-field>       
        </div>
    </div>
    <div class="modal fade in" id="info-dialog" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Information </h4>
                    <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-pad">
                    <span >
                        <p>
                            {{infoDialog === "AnnualHealthVisit" ? 'The Annual Health visit is referring to the child’s yearly physical. These occur when the child turns 12 months, 24 months, 36 months, and every year after that.' : ''}}
                            {{infoDialog === "SemiAnnualDentalVisit" ? 'Follow up visit examples are: cavity, extractions, root canal, crown, or deep cleaning.' : ''}}
                        </p>
                    </span>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn-pri pull-right"
                        data-bs-dismiss="modal">OK</button>
                    </div>
                    </div>
            </div>
        </div>
    </div>  
</div>