.dd-overflow-inherit .fm-box{overflow: inherit; display: inline-block}
.dd-overflow-inherit .fm-box label{width:35%; text-align: left;}
.dd-overflow-inherit .fm-box-form {overflow: inherit;width: 60%; display: inline-block;}
.dd-overflow-inherit .fm-box label.width-auto{width:auto !important;}
.dd-overflow-inherit .fm-box-form.dd-Workload, .dd-overflow-inherit .fm-box-form.dd-due-date{width:45%; float: right;}

.width-auto {
    width: auto !important;
}
.dd-overflow-inherit .fm-box label.full-width{width:100% !important;}
.config-sec:last-child{display: inline-grid;}
.c-w-50 {width:48%;}
.c-w-50 label {width:auto !important;}