<div class="modal fade in" id="add-edit-dsds-action-mapping" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" style="display: block;">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content customize-modal" [formGroup]="addEditDSDSActionMappingForm">
      <div class="modal-header">
        <button type="button" class="btn-close" (click)="closeItem()" data-bs-dismiss="modal">×</button>
        <h4 class="modal-title">{{titleHead}} Agency Action Activity Mapping</h4>
      </div>
      <div class="modal-body dd-overflow-inherit">
        <div class="row">
          <div class="col-sm-6">
            <div class="fm-box">
              <label class="required">Name:</label>
              <div class="fm-box-form ">
                <input type="text" formControlName="name" class="form-control fm-style" placeholder="">
                <control-messages [control]="nameControl"></control-messages>
              </div>
            </div>
            <div class="fm-box">
              <label class="required">Activity:</label>
              <div class="fm-box-form ">
                <ng-select formControlName="amactivityid" [searchable]="true" [clearable]="false">
                  <ng-option value="">Select</ng-option>
                  <ng-option *ngFor="let item of activityCategoryDropdownItems$ | async | orderBy:'text'" [value]="item.value">{{item.text}}
                  </ng-option>
                </ng-select>
                <control-messages [control]="amactivityidControl"></control-messages>
              </div>
            </div>
            <div class="fm-box">
              <label class="required">Service Type:</label>
              <div class="fm-box-form ">
                <ng-select formControlName="intakeservreqtypeid" (change)="onChangeDaSubType($event)" [searchable]="true" [clearable]="false">
                  <ng-option value="">Select</ng-option>
                  <ng-option *ngFor="let daType of daTypeDropdownItems$ | async | orderBy:'text'" [value]="daType.value">
                    {{daType.text}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="fm-box">
              <label class="required">Service Subtype:</label>
              <div class="fm-box-form ">
                <ng-select formControlName="servicerequestsubtypeid" [searchable]="true" [clearable]="false">
                  <ng-option value="">Select</ng-option>
                  <ng-option *ngFor="let daSubType of daSubTypeDropdownItems$ | async | orderBy:'text'" [value]="daSubType.value">{{daSubType.text}}</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="fm-box c-w-50">
              <label class="">On Demand Mapping:</label>
              <div class="">
                <label class="control control--radio">
                  <input type="radio" formControlName="demandReview" value="ondemand">
                  <div class="control__indicator"></div>
                </label>
              </div>
            </div>
            <div class="fm-box c-w-50">
              <label class="">Is Review Activity:</label>
              <div class="">
                <label class="control control--radio">
                  <input type="radio" formControlName="demandReview" value="isreviewactivity">
                  <div class="control__indicator"></div>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">

            <div class="fm-box">
              <label>Work Load Weight:</label>
              <div class="fm-box-form fm-narrate ">
                <input type="text" formControlName="workload" class="form-control fm-style" placeholder="">
              </div>
            </div>
            <div class="fm-box">
              <label class="required">Description:</label>
              <div class="fm-box-form fm-narrate ">
                <textarea class="form-control fm-style " formControlName="description" placeholder="Start writing from here.."></textarea>
                <control-messages [control]="descriptionControl"></control-messages>
              </div>
            </div>
            <div class="fm-box">
              <label class="required">Help Text:</label>
              <div class="fm-box-form fm-narrate">
                <textarea class="form-control fm-style" formControlName="helptext" placeholder="Start writing from here.."></textarea>
              </div>
            </div>
          </div>
          <div class="col-sm-12 mrg-top0">
            <ul class="nav nav-tabs mapping-nav" role="tablist">
              <li role="presentation" class="active">
                <a href="#activity-goals11" aria-controls="activity-goals11" role="tab" data-bs-toggle="tab" aria-expanded="true">Agency Action Goals</a>
              </li>
              <li role="presentation" class="">
                <a href="#activity-tasks11" aria-controls="activity-tasks11" role="tab" data-bs-toggle="tab" aria-expanded="false">Agency Action Tasks</a>
              </li>
            </ul>
            <div class="tab-content mrg-top25">
              <div role="tabpanel" class="tab-pane active" id="activity-goals11">
                <div [formGroup]="addEditDSDSActionMappingGoalTypeForm">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="fm-box">
                        <label>Goals:</label>
                        <div class="fm-box-form">
                          <ng-select #inref formControlName="goalType" (change)="changeGoal(inref.selectedItems[0])" class="table-form-control" [searchable]="true" [clearable]="false">
                            <ng-option value="">Select</ng-option>
                            <ng-option *ngFor="let item of goalDropdownItems$ | async | orderBy:'text'" [value]="item.value">{{item.text}}</ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <button type="submit" class="btn-pri" (click)="addGoal(addEditDSDSActionMappingGoalTypeForm.controls['goalType'].value)"
                        [disabled]="addEditDSDSActionMappingGoalTypeForm.pristine || addEditDSDSActionMappingGoalTypeForm.invalid">Add</button>
                    </div>
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="form-letter-tab form-align">
                  <div class="table-responsive">
                    <table class="table table-bordered" aria-describedby="action mapping">
                      <thead>
                        <tr>
                          <th id="descriptionHeader" style= "width:20%">Description</th>
                          <th id="aagHeader" style= "width:20%">Agency Action Goal</th>
                          <th id="priorityHeader" style= "width:15%">Priority</th>
                          <th id="requiredHeader" style= "width:5%">Required</th>
                          <th id="ddoHeader" style= "width:15%">Due Date Offset (days)</th>
                          <th id="helpTextHeader" style= "width:20%">Help Text</th>
                          <th id="actionHeader" style= "width:5%">Action</th>
                        </tr>
                      </thead>
                      <tbody formArrayName="ammappinggoal">
                        <tr [formGroup]="goal" *ngFor="let goal of getFormData('ammappinggoal'); let i=index">
                          <td>
                            <span>{{ goal.get('description').value }}</span>
                          </td>
                          <td>
                            <ng-select formControlName="activitygoaltypekey" class="table-form-control" [searchable]="true" [clearable]="false">
                              <ng-option value="">Select</ng-option>
                              <ng-option *ngFor="let item of goalTypeDropdownItems | orderBy:'text'" [value]="item.value">{{item.text}}</ng-option>
                            </ng-select>
                            <control-messages [control]="goal.controls['activitygoaltypekey']"></control-messages>
                          </td>
                          <td>
                            <select formControlName="activityprioritytypekey" class="table-form-select form-select select-full-collapse-horizontal">
                              <option value="">Select</option>
                              <option *ngFor="let item of priorityTypeDropdownItems" [value]="item.value">{{item.text}}</option>
                            </select>
                            <control-messages [control]="goal.controls['activityprioritytypekey']"></control-messages>
                          </td>
                          <td>
                            <label class="control control--checkbox">
                              <input type="checkbox" formControlName="required">
                              <div class="control__indicator"></div>
                            </label>
                          </td>
                          <td>
                            <input type="text" formControlName="duedateoffset" class="form-control fm-style" style="width:100px" placeholder="">
                          </td>
                          <td>
                            <textarea class="form-control fm-style " formControlName="helptext"></textarea>
                          </td>
                          <td>
                            <ul class="list-unstyled list-inline pull-right">
                              <li data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="Delete">
                                <a (click)="removeGoal(i)">
                                  <img src="assets/images/form-letter/delete-icon.png" alt="Delete icon">
                                </a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="activity-tasks11">
                <div [formGroup]="addEditDSDSActionMappingTaskTypeForm">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="fm-box">
                        <label>Tasks:</label>
                        <div class="fm-box-form ">
                          <ng-select #inref formControlName="taskType" (change)="changeTask(inref.selectedItems[0])" class="table-form-control " [searchable]="true" [clearable]="false">
                            <ng-option value="">Select</ng-option>
                            <ng-option *ngFor="let item of taskDropdownItems$ | async | orderBy:'text'" [value]="item.value">{{item.text}}</ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <button type="submit" class="btn-pri" (click)="addTask(addEditDSDSActionMappingTaskTypeForm.controls['taskType'].value)"
                        [disabled]="addEditDSDSActionMappingTaskTypeForm.pristine || addEditDSDSActionMappingTaskTypeForm.invalid">Add</button>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-letter-tab form-align">
                  <div class="table-responsive">
                    <table class="table table-bordered" aria-describedby="mapping table">
                      <thead>
                        <tr>
                          <th style="width: 20%;" id="header-description">Description</th>
                          <th style="width: 20%;" id="header-agency-action-task">Agency Action Task</th>
                          <th style="width: 15%;" id="header-priority">Priority</th>
                          <th style="width: 5%;" id="header-required">Required</th>
                          <th style="width: 15%;" id="header-due-date-offset">Due Date Offset (days)</th>
                          <th style="width: 20%;" id="header-help-text">Help Text</th>
                          <th style="width: 5%;" id="header-action">Action</th>
                          <th style="width: 25%;" id="header-custom">Custom Header</th>
                        </tr>
                      </thead>
                      <tbody formArrayName="ammappingtask">
                        <tr [formGroup]="task" *ngFor="let task of getFormData('ammappingtask'); let i=index">
                          <td>
                            <span>{{ task.get('description').value }}</span>
                          </td>
                          <td>
                            <ng-select formControlName="activitytasktypekey" class="table-form-control " [searchable]="true" [clearable]="false">
                              <ng-option value="">Select</ng-option>
                              <ng-option *ngFor="let item of taskTypeDropdownItems | orderBy:'text'" [value]="item.value">{{item.text}}</ng-option>
                            </ng-select>
                            <control-messages [control]="task.controls['activitytasktypekey']"></control-messages>
                          </td>
                          <td>
                            <select formControlName="activityprioritytypekey" class="table-form-select form-select select-full-collapse-horizontal">
                              <option value="">Select</option>
                              <option *ngFor="let item of priorityTypeDropdownItems" [value]="item.value">{{item.text}}</option>
                            </select>
                            <control-messages [control]="task.controls['activityprioritytypekey']"></control-messages>
                          </td>
                          <td>
                            <label class="control control--checkbox">
                              <input type="checkbox" formControlName="required">
                              <div class="control__indicator"></div>
                            </label>
                          </td>
                          <td>
                            <input type="text" formControlName="duedateoffset" class="form-control fm-style" style="width:100px" placeholder="">
                          </td>
                          <td>
                            <textarea class="form-control fm-style " formControlName="helptext"></textarea>
                          </td>
                          <td>
                            <ul class="list-unstyled list-inline pull-right">
                              <li data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="Delete">
                                <a (click)="removeTask(i)">
                                  <img src="assets/images/form-letter/delete-icon.png" alt="Delete icon">

                                </a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mrg-top25">
          <div class="pull-right">
            <button type="button" value="Cancel" class="btn-bg" name="" (click)="closeItem()">Cancel</button>
            <button type="button" value="Save" class="btn-pri" (click)="saveMapping()" [disabled]="addEditDSDSActionMappingForm.pristine || addEditDSDSActionMappingForm.invalid">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>