button[disabled],
html input[disabled] {
  max-width: 100%;
}
.modal textarea.form-control {
  min-height: 180px;
}
.ng-select-dropdown-outer .ng-select-dropdown {
  max-height: 205px;
}

//////
.section-header {
  line-height: 25px;
}
.section-value {
  min-height: 22px;
}
.side-header {
  font-size: 14px;
  font-weight: 600;
}
.section-lable {
  padding-left: 0;
  text-align: left;
}
.sizeA4 {
  height: auto;
}
.card-body {
  min-height: 120px;
}
.service-form h6 {
  font-size: 14px;
  font-weight: 600;
}

.required-disposition-case:after {
  color: #d00;
  content: "*";
  margin-left: 3px;
  top: 19px;
}
.fm-box label {
  font-size: 13px;
  font-weight: 600;
}
.summary {
  display: inline-block;
}

.clsWidth-100 {
  width: 100%;
}

.resonfrDelayDDL {
  width: 100%;
  margin-bottom: -14px;
  margin-left: -15px;
}

.input-group {
  position: relative;
}
.input-group::after {
  content: "*";
  position: absolute;
  top: 3px;
  left: 46px;
  color: #f00;
}

.status_text {
  padding: 10px 15px;
  border: 1px solid #ccc;
  display: inline-block;
  color: #f00;
  border-radius: 2px;
  &.approved {
    color: green;
  }
}

::ng-deep {
  .form-letter-tab {
    margin: 5px auto;
  }
}

.compact-table .mat-mdc-cell {
  padding: 4px 8px;
  font-size: 14px;   
  font-weight: bold;
}

.compact-table .mat-mdc-row {
  margin: 0;
  height: 32px;
  border-style: none;
  min-height: 25px  
}

.selected-person-container {
  overflow: auto;
  max-height: 100px;
  padding: 8px 0;
}

.modal-dialog.modal-lg {
  max-width: 950px !important;
  width: auto !important;
}
.mat-mdc-checkbox{
  --mdc-checkbox-disabled-selected-icon-color:#00a2fd !important;
}
.modal-dialog {
  width:700px !important;
  max-width: 98% !important;
  
}
.mat-mdc-cell,
.mat-mdc-header-cell {
  border-bottom: none !important;
}

.senUntimely {
    line-height: 2em;
    p{
        margin: 0;
    }
    .reason {
        padding: 0 25px;
    }
    .children{
        margin-top: 10px;
    }
}

.multiline-select {
    ::ng-deep .mat-mdc-select-value-text {
        display: block !important;
        white-space: normal !important;
        line-height: 1.4 !important; 
    }
    ::ng-deep .mat-mdc-form-field-infix {
        height: auto !important;
        min-height: 64px !important; 
        padding-top: 28px !important; 
        padding-bottom: 12px !important; 
    }
    ::ng-deep .mat-mdc-select-trigger {
        display: flex !important;
        align-items: center !important;
    }
    ::ng-deep .mat-mdc-form-field-label-wrapper {
    top: -4px !important;
    }
}