<div class="col-md-12">
    <div class="card panel-default">
        <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    TRANSPORTATION
                </mat-expansion-panel-header>
    <form [formGroup]="transportFormGroup">
        <div class="row ">
            <div class="col-md-12">
                <mat-form-field>
                    <mat-label>Transportation Goal</mat-label>
                    <input type="text" matInput formControlName="transportGoal" >         
                </mat-form-field>
            </div>
        </div>    
        <div class="row">
            <div class="col-md-12">
                <label>My current mode(s) of transportation</label> &nbsp;&nbsp;
                <mat-checkbox  formControlName="ownVechicle">My vehicle</mat-checkbox> &nbsp;&nbsp;
                <mat-checkbox  formControlName="famProvides">Friend/Family provides </mat-checkbox>&nbsp;&nbsp;
                <mat-checkbox  formControlName="publicTrans">Public Transportation</mat-checkbox>&nbsp;&nbsp;
                <mat-checkbox  formControlName="bicycle">Bicycle </mat-checkbox>&nbsp;&nbsp;
                <mat-checkbox  formControlName="walking">Walk</mat-checkbox>&nbsp;&nbsp;
                <mat-checkbox  formControlName="otherTrans">Other</mat-checkbox>&nbsp;&nbsp;
            </div>
            <div class="col-md-12" *ngIf="transportFormGroup.getRawValue().otherTrans">
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input type="text" matInput formControlName="otherModeDesc"  />
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field>
                    <mat-label>Transportation needed for (school, employment, recreation, etc.)</mat-label>
                    <input type="text" matInput formControlName="transportNeeds"  />
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field>
                    <mat-label>Resources available to access reliable transportation:</mat-label>
                    <input type="text" matInput formControlName="transportResources"  />
                </mat-form-field>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-12">
                <label>Driver’s license status: </label> &nbsp;&nbsp;
                <mat-radio-group  formControlName="havingDL">
                    <mat-radio-button value="1">Have License</mat-radio-button>
                    <mat-radio-button value="0">Do not have</mat-radio-button>
                    <mat-radio-button value="2">Have Permit</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-sm-6" *ngIf="transportFormGroup['controls'].havingDL.value=='1'">
                <mat-form-field>
                    <mat-label>Issuing State</mat-label>
                    <input type="text" matInput formControlName="dlState"  />
                </mat-form-field>
            </div>
            <div class="col-sm-6" *ngIf="transportFormGroup['controls'].havingDL.value=='1'">
                <mat-form-field>
                    <mat-label>Date Obtained/Expiration Date</mat-label>
                    <input matInput autocomplete="off" [matDatepicker]="picker2" formControlName="dlExpireDt"  >
                    <mat-datepicker-toggle matSuffix [for]="picker2">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker2>
                    </mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-sm-4" *ngIf="transportFormGroup['controls'].havingDL.value=='0'">
                <mat-checkbox class="ps-60" formControlName="toGetLicense">Want to get</mat-checkbox> 
            </div>
            <div class="col-sm-6" *ngIf="transportFormGroup['controls'].havingDL.value=='2'">
                <mat-form-field>
                    <mat-label>Permit Expiration Date</mat-label>
                    <input matInput autocomplete="off" [matDatepicker]="picker" formControlName="permitExpireDt"  >
                    <mat-datepicker-toggle matSuffix [for]="picker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker>
                    </mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-checkbox  formControlName="completedDriverEdu">Completed Driver's Education</mat-checkbox> &nbsp;&nbsp;
            </div>
        </div>
        <div class="row col-md-12" *ngIf="transportFormGroup['controls'].completedDriverEdu.value">
            <div class="col-sm-6">
                <mat-form-field>
                    <mat-label>Supervised Driving Hours Logged</mat-label>
                    <input type="text" matInput formControlName="loggedDrivingHours"  />
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field>
                    <mat-label>Date Completed</mat-label>
                    <input matInput autocomplete="off" [matDatepicker]="picker" formControlName="completionDt"  >
                    <mat-datepicker-toggle matSuffix [for]="picker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker>
                    </mat-datepicker>
                </mat-form-field>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="">
                    <mat-label>Auto insurance</mat-label>
                    <input matInput formControlName="autoInsurance" >
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="">
                    <mat-label>Policy number</mat-label>
                    <input matInput formControlName="policyNumber" >
                </mat-form-field>
            </div>
        </div>
 
        <div class="row col-md-12">
            <mat-form-field>
                <mat-label>Notes: (if needed to highlight, discussion bullets, brainstorming, resources identified, concerns, , future considerations)</mat-label>
                <input type="text" matInput formControlName="notes" 
                  />
            </mat-form-field> 
        </div>
        <div class="row col-md-12">
            <mat-form-field>
                <mat-label>Progress on Transportation Goal:</mat-label>
              <input type="text" matInput formControlName="progessGoals"
               />
            </mat-form-field> 
        </div>       
    </form>
 
    <div class="row">
        <short-term-goals [goals]="communityShortTermGoals" ></short-term-goals>
      </div>
  
      <div class="row">
        <h4 style="text-align: center;">Transportation Action Items and To-Do List</h4>
          <to-do-action [goals]="communityActions" ></to-do-action>
      </div>


    <div class="row mt-20">
        <div class="col-sm-12">
            <div class="pull-right">
                <button type="button" value="Clear" class="btn-bg" name="" (click)="clearSummary()" [disabled]="isDisabled">Clear</button>
                  <button [disabled]="(transportFormGroup.pristine || transportFormGroup.invalid) || isDisabled"
                     *securityKeyNew = "'services,services.youthtransitionplan.save'" [fieldKeyNew] = "'services,services.youthtransitionplan.save'"
                     type="button" value="Save" class=" btn-pri" name="" (click)="saveSummary()">Save</button>
            </div>
        </div>
    </div>
</mat-expansion-panel>
</div>
</div>