.justify-area textarea {
    width: 100%;
    height: 70px;
}

.border {
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
}

.tab-horizontal .nav-pills>li {
    margin-bottom: 0px;
}

.tab-horizontal .nav {
    border: none;
}

.modal .modal-body {
    max-height: 65vh;
}

.status {
    width: 20%;
    float: right;
}
.clearfix {
    clear: both;
}
.clearfix:before{
    display: table;
    content: " ";
}
.clearfix:after{
    clear: both;
    display: table;
    content: " ";
}