<div class="row">
    <div class="col-sm-12">
        <button class="btn-pri pull-right text-uppercase add-btn"><span class="plus-icon">+</span> Add</button>
    </div>
    <div class="col-sm-12 m-t-20" *ngFor="let child of childRemovalList; let i=index;">
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-unstyled list-inline theme-heder-bg minus-icon">
                    <li>
                        <h5 *ngIf="isServiceCase">{{child?.firstname}} {{child?.lastname}} {{child?.suffix}}</h5>
                    </li>
                    <li class="m-l-30"><span><span> Age: </span><strong>{{child?.age}} </strong></span></li>
                    <li class="m-l-30"><span><span>DOB: </span><strong>{{child?.dob |
                                date:'MM/dd/yyyy'}}</strong></span></li>
                    <li class="m-l-30"><span><span>Gender: </span><strong>{{child?.gender}}</strong></span></li>
                    <li class="m-r-10 pull-right" id="{{i}}"><a href="#accordion{{i}}" aria-expanded="false"
                            aria-hidden="true" data-bs-toggle="collapse"><em class="fa fa-plus"></em> </a></li>
                </ul>
            </div>
            <div class="col-sm-12 m-b-10 collapse" id="accordion{{i}}">
                <div class="table-responsive table-theme brd">
                    <table class="table table-striped" aria-describedby="tbl-child-removal">
                        <thead >
                            <tr>
                                <th scope="col">Removal Date</th>
                                <th scope="col">CPS ID</th>
                                <th scope="col">Removal Type</th>
                                <th scope="col">Location</th>
                                <th scope="col">Reason</th>
                                <th scope="col">Return Date</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let childlist of child?.childremoval"
                                [ngClass]="placement?.returndate === null ? 'my-class': ''">
                                <td>{{childlist.removaldate | date:'MM/dd/yyyy'}}</td>
                                <td>{{childlist.servicerequestnumber}}</td>
                                <td>{{childlist.removaltypekeydescription ? childlist.removaltypekeydescription : '-'}}
                                </td>
                                <td>{{childlist.removaladd1}} {{childlist.removaladd2}} {{childlist.removalcity}}
                                    {{childlist.removalstatecd}} {{childlist.removalzip}}</td>
                                <td>
                                    <ul class="p-l-10" *ngFor="let removalreasonD of childlist?.removalreason">
                                        <li>{{removalreasonD.description}} </li>
                                    </ul>
                                </td>
                                <td>{{childlist?.returndate ? (childlist?.returndate | date:'MM/dd/yyyy') : ' '}}
                                    {{childlist?.returntime ? childlist?.returntime : ' ' }} </td>
                                <td>
                                    <a
                                        routerLink="/pages/case-worker/{{childlist.intakeserviceid}}/{{childlist.servicerequestnumber}}/dsds-action/child-removal/details"><em
                                            class="fa fa-eye" aria-hidden="true"></em> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>