ul.theme-heder-bg li:nth-child(1){min-width:500px;max-width:500px;}
ul.theme-heder-bg li:nth-child(2){min-width:150px;max-width:150px;}
ul.theme-heder-bg li:nth-child(3){min-width:200px;max-width:200px;}
ul.theme-heder-bg li:nth-child(4){min-width:200px;max-width:200px;}
.table-striped>tbody>tr:nth-of-type(odd).my-class, .my-class {
    background-color:#f1f3cc;
    }
.p-l-10 {
    padding-left:10px;
}