<div class="col-md-12">
    <div class="card panel-default">
        <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    YTP Meeting Parking Lot 
                </mat-expansion-panel-header>

    <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-offset-10 col-md-2 m-t-10 m-b-10">
                                <button type="button" class="service-btn p-r-20 col-fnt pull-left" name="" (click)="addSupport()" 
                                [disabled]="ytpData?.approvalstatuskey == 'Approved' || ytpData?.approvalstatuskey == 'Pending'">+ Add</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            <div class="table-responsive table-theme">
                                <table class="table table-striped grid-list" aria-describedby="tbl-ytp-meeting-lst">
                                    <thead>
                                        <tr>
                                            <th scope="col">Parking Lot Item</th>
                                            <th scope="col">Plan for Follow-Up and by Who</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngIf="supportiveRelations.length; else noAssessmentTemplate">
                                            <tr *ngFor="let assessment of supportiveRelations; let index=index">
                                                <td>
                                                    <mat-form-field>
                                                        <input type="text" matInput [(ngModel)]="assessment.parkingItem">
                                                    </mat-form-field> 
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input type="text" matInput [(ngModel)]="assessment.plan">
                                                    </mat-form-field> 
                                                </td>
                                                <td>
                                                    <a (click)="deleteSupport(index)">
                                                        <em class="fa fa-trash" style="font-size:18px"></em>
                                                    </a>
                                                </td>
                                            </tr>
                                        </ng-container>
                                        <ng-template #noAssessmentTemplate>
                                            <tr>
                                                <td colspan="3">No Records are added</td>
                                            </tr>
                                        </ng-template>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    </div>
    </div>            
    <form [formGroup]="meetingFormGroup">
        <div class="row ">
            <div class="col-md-12">
                <h3 style="text-align: center;">YTP Meeting Information Details</h3>
            </div>
            <div class="col-md-12">
                <label>Was next YTP Meeting Scheduled?: &nbsp;</label>
                <mat-radio-group formControlName='nextMeeting'>
                    <mat-radio-button value="1">Yes</mat-radio-button>
                    <mat-radio-button value="0">No</mat-radio-button>
                  </mat-radio-group>
            </div>
            <div class="row" *ngIf="meetingFormGroup.getRawValue().nextMeeting == '1'">
            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Date of Next YTP Meeting</mat-label>
                    <input matInput autocomplete="off" [matDatepicker]="picker25" 
                        formControlName="nextMeetingDt">
                    <mat-datepicker-toggle matSuffix [for]="picker25"></mat-datepicker-toggle>
                    <mat-datepicker #picker25></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4">
               
                <mat-form-field>
                    <mat-label>Time of Next YTP Meeting</mat-label>
                    <input matInput [owlDateTimeTrigger]="picker11" [owlDateTime]="picker11" formControlName="nextMeetingTime" id="next-meeting-time" autocomplete="off" placeholder="">
                    <owl-date-time [pickerType]="'timer'" #picker11 [hour12Timer]="true"></owl-date-time>
                    <em [owlDateTimeTrigger]="picker11" class="fa fa-clock-o" aria-hidden="true"></em>
                  </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Location of Next YTP Meeting</mat-label>
                    <input type="text" matInput formControlName="nextMeetingLocation" >         
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>YTP Meeting Facilitated By</mat-label>
                    <input type="text" matInput formControlName="ytpMeetingFacilitated" >         
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>YTP Meeting Notes Completed By</mat-label>
                    <input type="text" matInput formControlName="ytpMeetingNotes" >         
                </mat-form-field>
            </div>
            </div>
            <div class="row" *ngIf="meetingFormGroup.getRawValue().nextMeeting == '0'">
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>YTP Meeting Facilitated By</mat-label>
                        <input type="text" matInput formControlName="ytpMeetingFacilitated" >         
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>YTP Meeting Notes Completed By</mat-label>
                        <input type="text" matInput formControlName="ytpMeetingNotes" >         
                    </mat-form-field>
                </div>
            </div>
        </div>      


    <div class="row">
        <meeting-goals [goals]="signatures" ></meeting-goals>
    </div>
    <!-- B-189702 Enhancement -->
    <div class="row">
        <div class="col-md-12">
            <mat-checkbox  formControlName="isYouthSign" name='youth_sign' [disabled]="isDisabled">Youth’s Signature obtained on original document</mat-checkbox>
        </div>
      </div>
    <div class="row">
        <div class="col-md-6">
            <label [ngClass]="{'required': !meetingFormGroup.getRawValue().isYouthSign}">Signature</label>
            <div class="" *ngIf="!youthSignature">
                <signature-field formControlName="youthsign" [required]='!meetingFormGroup.getRawValue().isYouthSign'></signature-field>
            </div>
            <div class="d-flex align-items-center gap-3" *ngIf="youthSignature">
                <div>
                    <img *ngIf="meetingFormGroup.controls['youthsign'].value" 
                    [src]="meetingFormGroup.controls['youthsign'].value" 
                    alt="Youth Signature" />
                </div>
                <!-- Display the SignatureField if there's no signature -->
                 <div>
                     <signature-field *ngIf="!meetingFormGroup.controls['youthsign'].value" [required]='!meetingFormGroup.getRawValue().isYouthSign' formControlName="youthsign"></signature-field> 
                 </div>
                 <div>
                     <a *ngIf="!isDisabled" class="btn-close" (click)="resetSignatureCapture()"></a>
                 </div>
            </div>
            <mat-error *ngIf="meetingFormGroup.get('youthsign')?.invalid">
                {{getErrorsMessage('youthsign','Youth Sign')}}
            </mat-error>
        </div>
        <div class="col-sm-6">
            <mat-form-field>
                <mat-label>Youth Sign Date</mat-label>
                <input matInput autocomplete="off" [matDatepicker]="picker8" formControlName="youthsignDate"  required [disabled]="isDisabled">
                <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                <mat-datepicker #picker8></mat-datepicker>
            </mat-form-field>
            <mat-error *ngIf="meetingFormGroup.get('youthsignDate')?.invalid">
                {{getErrorsMessage('youthsignDate','Youth Sign Date')}}
            </mat-error>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label [ngClass]="{'required': !meetingFormGroup.getRawValue().isCaseworkerSign}">
                Caseworker Signature
            </label>
            <div *ngIf="!caseworkerSignature">
                <signature-field 
                    formControlName="caseworkerSign" 
                    [required]="!meetingFormGroup.getRawValue().isCaseworkerSign">
                </signature-field>
            </div>
            <div *ngIf="caseworkerSignature">
                <img [src]="meetingFormGroup.value.caseworkerSign" alt="" />
            </div>
            <mat-error *ngIf="meetingFormGroup.get('caseworkerSign')?.invalid">
                {{getErrorsMessage('caseworkerSign', 'Caseworker Sign')}}
            </mat-error>
        </div>
        
        
        <div class="col-md-6">
            <mat-form-field>
                <mat-label>Caseworker Sign Date</mat-label>
                <input matInput [matDatepicker]="picker9" formControlName="caseworkerSignDate" placeholder="" required [disabled]="isDisabled">
                <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                <mat-datepicker #picker9></mat-datepicker>
            </mat-form-field>
            <mat-error *ngIf="meetingFormGroup.get('caseworkerSignDate')?.invalid">
                {{getErrorsMessage('caseworkerSignDate', 'Caseworker Sign Date')}}
            </mat-error>
        </div>
    </div>
		<div class="row">
            <div class="col-md-12">
                <!-- documentupdload -->
                <attachment-upload-shared [uploadedDocuments]="uploadedFiles"  
                (saveAttachment)="FileUploaded($event)" [pageType] = "'YTP'" [componentName] = "'ytp'" [ivePersonId] = "personId" (uploadclosed)="uploadclosed($event)"></attachment-upload-shared>
                <document-upload-list-shared [paginationRecorsds] = "totalRecords" [pageType] = "'YTP'" [paginationRecorsds] = "paginationInfoperson" (pageChangedEvent)="pdpageChanged($event)"
                [uploadedFiles]="uploadedFiles" (FileEdited)="FileUploaded($event)" [ivePersonId]="personId"
                [uploadByCol]="false" [updatedByCol]="false" [componentName] = "uploadDisable"></document-upload-list-shared>
            </div>
		</div>
    </form>

    <div class="row mt-20">
        <div class="col-sm-12">
            <div class="pull-right">
                <button type="button" value="Clear" class="btn-bg" name="" (click)="clearSummary()" [disabled]="isDisabled">Clear</button>
                <button
                     *securityKeyNew = "'services,services.youthtransitionplan.save'" [fieldKeyNew] = "'services,services.youthtransitionplan.save'"
                     type="button" value="Save" class=" btn-pri" name="" (click)="saveSummary()" [disabled]="isDisabled">Save</button>
            </div>
        </div>
    </div>
</mat-expansion-panel>
</div>
</div>