@use '../../person-info.component.scss';
.border, .border-1, .border-2, .border-4 {
    border: 1px solid #D8D8D8;
    min-height: 215px;
    margin-top: 10px;
}
.border-2 {
    border-top: none; 
}

.border-3 {
    border-bottom: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    height: 304px;
}

.border-1 {
   border-left: none;
}
.border-4 {
    border-top:none;
    border-bottom: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-left: none;
    margin-top: 0;
    height: 304px;
 }

.pt-26 {
    padding-top:26px;
}

.border-button {
    border: 1px solid #D8D8D8;
    margin-top: -1px;
}

.red {
    color: red;
}
.minheight {
    min-height: 482px;
}
.employment-container {
    height: 456px;
    overflow-y: auto;
    overflow-x: hidden; 
}
.sd-height {
    height: fit-content !important;
}