<!-- header end -->
<div class="container-fluid no-pad">
  <div class="form-control-size">
    <div class="col-md-12 col-sm-12 col-xs-12 no-pad white-bg">
      <div class="col-md-2 finance-search-filter">
        <app-finance-placement-search-filters [searchData$]="searchData$" [totalSearchRecord$]="totalSearchRecord$"
          [pageNumberSearch$]="pageNumberResult$"></app-finance-placement-search-filters>
      </div>
      <div class="col-md-10 right-side-box custom-modal">
        <app-finance-placement-search-result [showTable]="showTable" [pageNumberResult$]="pageNumberResult$"
          [searchResultData$]="searchResultData$" [totalResulRecords$]="totalResulRecords$"></app-finance-placement-search-result>
      </div>
    </div>
  </div>
</div>
<script src="assets/js/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>