@use '../../person-info.component.scss';
.view-mode {
    pointer-events: none;
}

.remaning {
    position: absolute;
    bottom: 0px;
    left: 14px;
    color: red;
    font-size: 13px;
    }

.required-field::after {
    content: "*";
    color: red;
}

.dv-hospital {
    margin-top: 10px;
}

.tbl-hospitalization {
    margin-bottom: 0px;
}
    