<div id="Profile-info" class="tab-pane fade show active">
    <ul class="nav nav-tabs mb-25 cus-tab-section">
        <li class="nav-item active">
            <a class="notactive nav-link" id="profileinfo">
                <span class="tab-txt">Profile Information </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="notactive nav-link" id="searchresult">
                <span class="tab-txt">Search Result</span>
            </a>
        </li>

    </ul>
    <form [formGroup]="involvedPersonSearchForm" (ngSubmit)="searchPersons()">

        <div class="row" id="div-search-content">
            <div class="col-sm-4 ">
                <!-- D-07948 Start-->
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input type="text" matInput formControlName="firstname" placeholder="">
                    <mat-error *ngFor="let validation of validation_messages.firstname">
                        <mat-error
                            *ngIf="involvedPersonSearchForm.get('firstname')?.hasError(validation.type) && (involvedPersonSearchForm.get('firstname')?.dirty || involvedPersonSearchForm.get('firstname')?.touched)">
                            {{validation.message}} </mat-error>
                    </mat-error>
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput formControlName="lastname" placeholder="">
                    <mat-error *ngFor="let validation of validation_messages.lastname">
                        <mat-error
                            *ngIf="involvedPersonSearchForm.get('lastname')?.hasError(validation.type) && (involvedPersonSearchForm.get('lastname')?.dirty || involvedPersonSearchForm.get('lastname')?.touched)">
                            {{validation.message}} </mat-error>
                    </mat-error>
                </mat-form-field>

                <!-- D-07948 End-->
                <div class="no-pad clsIntake dpnew ">
                    <common-date-picker [min]="minDate" [max]="maxDate" formControlName="dob" placeholder="D.O.B"></common-date-picker>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>Approx. Age</mat-label>
                            <input type="text" matInput placeholder="" formControlName="age">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>Gender</mat-label>
                            <mat-select placeholder="" formControlName="gender">
                                <mat-option *ngFor="let item of genderDropdownItems$ | async" value="{{item.ref_key}}">
                                    {{item.description}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="text" matInput placeholder="" formControlName="email">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Phone</mat-label>
                    <input type="text" matInput placeholder="" mask="(000) 000-0000" formControlName="phone">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Occupation</mat-label>
                    <input type="text" matInput placeholder="" formControlName="occupation">
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field>
                    <mat-label>SSN</mat-label>
                    <input type="text" numberOnly maxlength="11" matInput placeholder="" formControlName="ssn"
                        [value]="f.ssn.value | ssnmaskpipe:showSsnMask" (change)="ssnChange($event)" />
                    <span matSuffix>&nbsp;
                        <a (click)="toggleSsn()">
                            <em class="fa fa-lg {{ssnEye}}"></em>
                        </a>
                    </span>
                    <mat-error>Please enter a valid ssn.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>State ID / Drivers License</mat-label>
                    <input type="text" matInput placeholder="" formControlName="dl">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>FEIN</mat-label>
                    <input type="text" matInput placeholder="" formControlName="fein">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Complaint #</mat-label>
                    <input type="text" matInput placeholder="" formControlName="complaintnumber">
                </mat-form-field>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>CJAMS PID #</mat-label>
                            <input type="text" matInput placeholder=""
                                formControlName="cjamspid" (change)="disableNonCJAMSPidEntries()">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>CIS ID #</mat-label>
                            <input type="text" matInput placeholder=""
                                formControlName="cjisnumber" (change)="disableNonCJISEntries()">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>MDM ID #</mat-label>
                            <input type="text" matInput placeholder=""
                                formControlName="mdmId">
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field>
                    <mat-label>Petition / Folder ID</mat-label>
                    <input type="text" matInput placeholder="" formControlName="petitionid">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Old#'s</mat-label>
                    <input type="text" matInput placeholder="" formControlName="oldId">
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field>
                    <mat-label>Maiden Name</mat-label>
                    <input type="text" matInput placeholder="" formControlName="maidenname">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Alias Name</mat-label>
                    <input type="text" matInput placeholder="" formControlName="alias">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Social Media Name</mat-label>
                    <input type="text" matInput placeholder="" formControlName="mediasrc">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Address Line 1</mat-label>
                    <input type="text" matInput placeholder="" formControlName="address1">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Address Line 2</mat-label>
                    <input type="text" matInput placeholder="" formControlName="address2">
                </mat-form-field>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>Zip Code</mat-label>
                            <input type="text" matInput placeholder="" mask="00000-9999" formControlName="zip">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>State</mat-label>
                            <mat-select placeholder="" formControlName="stateid" (selectionChange)="loadCounty()">
                                <mat-option *ngFor="let item of stateDropdownItems$ | async" value="{{item.ref_key}}">
                                    {{item.description}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>City</mat-label>
                            <input type="text" matInput placeholder="" formControlName="city">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>County</mat-label>
                            <mat-select placeholder="" formControlName="county">
                                <mat-option *ngFor="let item of countyDropdownItems$ | async" value="{{item.ref_key}}">
                                    {{item.description}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="wizard-buttons text-end" id="search-btn-grp">
            <input class="btn-bg" type="button" (click)="clearPersonSearch()"  [disabled]="involvedPersonSearchForm.invalid" value="Clear" />
            <button class="btn-pri" type="submit"
                [disabled]="involvedPersonSearchForm.invalid">Search</button>
        </div>
    </form>
</div>