<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="search-container pull-left">
                <h3><br></h3>
                <mat-form-field>
                    <mat-label>Child Account Number</mat-label>
                    <mat-select required [(ngModel)]="clientAccount"  Required (selectionChange)="getList()">
                    <mat-option>Select</mat-option>
                    <mat-option *ngFor="let childaccount of childaccountslist" [value]="childaccount">{{childaccount.account_no_tx}} - {{childaccount.account_type_nm}} - {{childaccount.status_nm}}</mat-option>
                    </mat-select>
                </mat-form-field>               
            </div> 
        </div>
        <div class="col-md-6 rd-ctr">
            <mat-radio-group [(ngModel)]="coc_date_sw" (change)="rangCOC($event.value)">
                <mat-radio-button value="M">Last 1 Month</mat-radio-button>
                <mat-radio-button value="Y">Current Year</mat-radio-button>
                <mat-radio-button value="D">All</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="m-t-30">
        <div class="header-childac">
            <h4 class="h4-title">Cost of Care Reimbursement</h4>
        </div>
    </div>
    <div class="row border-btm">
            <div class="col-md-12 m-t-20 m-b-20">
               <div class="row">
                  <div class="col-md-2">
                     <p class="childac-title">Client ID</p>
                     <p class="childac-text">{{childdetails?.client_id}}</p>
                  </div>
                  <div class="col-md-2">
                     <p class="childac-title">Client Name</p>
                     <p class="childac-text">{{childdetails?.client_name}}</p>
                  </div>
                  <div class="col-md-2">
                     <p class="childac-title">Account Number</p>
                     <p class="childac-text">{{clientAccount?.account_no_tx}}</p>
                  </div>
                  <div class="col-md-2">
                     <p class="childac-title">Account Type</p>
                     <p class="childac-text">{{clientAccount?.account_type_nm}}</p>
                  </div>
                  <div class="col-md-2">
                     <p class="childac-title">Account Status</p>
                     <p class="childac-text">{{clientAccount?.status_nm}}</p>
                  </div>
                  <div class="col-md-2">
                     <p class="childac-title">Total Amount</p>
                     <p class="childac-text">{{(clientAccount?.total_balance_no ? clientAccount?.total_balance_no : '0.00') | cjamsCurrency}}</p>
                  </div>
               </div>
            </div>
         </div>

    <div class="row boder-btm p-b-20 m-t-20">
        <div class="col-md-12">
            <div class="row p-b-20 child-ac">
                <div class="fill-data">
                    <h4 class="finance-panel-label">Cost of Care Reimbursement</h4>
                    <div class="table-responsive table-theme">
                        <table class="thead-black placement-info palcement-tb table table-striped" aria-describedby="Ancillary Excess Details">
                            <thead>
                                <tr>
                                    <th id="benefitYearHeader">Benefit Year/Month</th>
                                    <th id="rafcHeader">Receipts Available for COC</th>
                                    <th id="actualCocHeader">Actual COC</th>
                                    <th id="cocrHeader">COC Reimbursement</th>
                                    <th id="eaaHeader">Excess Available for Ancillary</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="ancillaryExcessDetailsCOC.length > 0; else noItems">
                                    <tr *ngFor="let ancillaryExcessDetail of ancillaryExcessDetailsCOC">
                                        <td>{{ancillaryExcessDetail?.monthyear}}</td>
                                        <td>{{((ancillaryExcessDetail?.receipts_for_coc) ? ancillaryExcessDetail?.receipts_for_coc : '0.00') | cjamsCurrency }}</td>
                                        <td>{{((ancillaryExcessDetail?.actual_coc) ? ancillaryExcessDetail?.actual_coc : '0.00') | cjamsCurrency}}</td>
                                        <td>{{((ancillaryExcessDetail?.coc_reimbursement) ? ancillaryExcessDetail?.coc_reimbursement : '0.00') | cjamsCurrency}}</td>
                                        <td>{{((ancillaryExcessDetail?.available_balance_no_coc) ? ancillaryExcessDetail?.available_balance_no_coc : '0.00') | cjamsCurrency}}</td>
                                    </tr>
                                </ng-container>
                                <ng-template #noItems>
                                    <td colspan="12" class="text-center">
                                        <p class=""> No Record Found </p>
                                    </td>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center mt-10" *ngIf="totalRecords > 10">
                        <pagination [totalItems]="totalRecords"
                            [(ngModel)]="pageInfo.pageNumber" (pageChanged)="pageChanged($event.page)" class="pagination-sm"
                            [boundaryLinks]="true" [maxSize]="10">
                        </pagination>
                    </div>
                </div>
                <br/>
                <br/>


                <div class="fill-data m-t-30">
                    <h4 class="finance-panel-label">Ancillary Services Child Account Funded</h4>
                    <div class="table-responsive table-theme">
                        <table class="thead-black placement-info palcement-tb table table-striped" aria-describedby="Ancillary Excess List">
                            <thead>
                                <tr>
                                    <th id="aelTransactionYearHeader">Transaction Year/Month</th>
                                    <th id="aelrafaHeader">Receipts Available for Ancillary</th>
                                    <th id="aelEacrHeader">Excess After COC Reimbursement</th>
                                    <th id="aelObligationsHeader">Obligations</th>
                                    <th id="aelAncPaymentsHeader">Ancillary Payments</th>
                                    <th id="aelDisObligationHeader">Disbursement Obligation</th>
                                    <th id="aelDisPaymentHeader">Disbursement Payment</th>
                                    <th id="aelBafaHeader">Balance Available for Ancillary</th>
                                </tr>
                            </thead>
                            <tbody>

                                <ng-container *ngIf="ancillaryExcessDetails.length > 0; else noItems">
                                    <tr *ngFor="let ancillaryExcessDetail of ancillaryExcessDetails">
                                        <td>{{ancillaryExcessDetail?.monthyear}}</td>
                                        <td>{{((ancillaryExcessDetail?.receipts_for_anc) ? ancillaryExcessDetail?.receipts_for_anc : '0.00') | cjamsCurrency}}</td>
                                        <td>{{((ancillaryExcessDetail?.excess_after_coc_reimbursement) ? ancillaryExcessDetail?.excess_after_coc_reimbursement : '0.00') | cjamsCurrency}}</td>
                                        <td>{{((ancillaryExcessDetail?.obligations) ? ancillaryExcessDetail?.obligations : '0.00') | cjamsCurrency }}</td>
                                        <td>{{((ancillaryExcessDetail?.ancillary_payments) ? ancillaryExcessDetail?.ancillary_payments :'0.00') | cjamsCurrency}}</td>
                                        <td>{{((ancillaryExcessDetail?.otherdisbursementobligation) ? ancillaryExcessDetail?.otherdisbursementobligation :'0.00') | cjamsCurrency}}</td>
                                        <td>{{((ancillaryExcessDetail?.otherdisbursement) ? ancillaryExcessDetail?.otherdisbursement :'0.00') | cjamsCurrency}}</td>
                                        <td>{{((ancillaryExcessDetail?.balance_avail_for_ancillary) ? ancillaryExcessDetail?.balance_avail_for_ancillary : '0.00') | cjamsCurrency}}</td>
                                    </tr>
                                </ng-container>
                                <ng-template #noItems>
                                    <td colspan="12" class="text-center">
                                        <p class=""> No Record Found </p>
                                    </td>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center mt-10" *ngIf="totalcount > 10">
                        <pagination [totalItems]="totalcount"
                            [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageNumberChanged($event.page)" class="pagination-sm"
                            [boundaryLinks]="true" [maxSize]="10">
                        </pagination>
                    </div>

                </div>



            </div>
        </div>
    </div>
</div>
