.arraowBtn-right {
    position: absolute;
    z-index: 1000; /* Ensure it's above the content */
    margin-left: 0%;
    color: #0f75eb;
    font-size:24px;
}

.arraowBtn-left {
    position: absolute;
    z-index: 1000; /* Ensure it's above the content */
    margin-left: 11%;
    color: #0f75eb;
    font-size:24px;
}

.viewDiv {
    display: flex;
    height:100vh;

    .sideBar {
        height: 100%;
        background-color: #e0eef7;
        width: 15%;
        span{
            display: block;
            padding: 15px;
            font-size: small;
            width: 100%;
            text-align: center;
            border: 2px solid #e0eef7;
            cursor: pointer;
            color: #0f75eb;
        }
        span:hover, .selected {
            background-color: white;
            border: 2px solid #e0eef7;
        }
        span.menuhide{
            display: block;
            padding: 2px;
            font-size: 24px;
            width: 100%;
            float: right;
            text-align: right;
            cursor: pointer;
            color: #0f75eb;
            border-bottom: none;

        }
    }

    .sideBar-collapse {
        display: none;
    }

    .bodyDiv {
        height: 100%;
        width: 100%;
        padding: 10px;
    }

    .topbar {
        display: flex;
        background-color: #e6e6e6;
        margin-top: 5px;

        span {
            padding: 15px;
        }

        span:hover, .selected {
            background-color: white;
            border: 2px solid #e0eef7;
        }
    }

}

.fsm {
    font-size: medium;
    margin-left: 10px;
}

.historyDiv {
    border: 1px solid #b1abab;
    width: 100%;
    height: 120px;
    margin-top: 15px;
}

.viewCases {
    width: 100%;
}

.separationDiv {
    border: 1px solid #b1abab;
    width: 100%;
    height: 380px;
    margin-top: 15px;
}
.menubar-right {
    position: absolute;
    z-index: 1000; /* Ensure it's above the content */
    margin-left: 0%;
    margin-right :5%;
    color:#00a2fd;
    font-size:24px;
}
.empHistoryDiv{
    margin-left: 1%
}
