.left-side-filter {
    // background: #e6f0ff;
    padding: 8px 15px;
    box-shadow: 0 0 5px #abbedc;
    height: calc(100vh - 50px);
    overflow: auto;
    background: #e8f0fa;
}

.left-side-filter h5 {
    color: #333;
    font-weight: 600;
    font-size: 15px;
}

.left-side-filter hr .h-row {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #abf5ff;
    margin-left: -15px;
    margin-right: -15px;
}

.table-theme .table tr td .table tbody th tr {
    text-align: center !important;
}

.header-bg {
    background: #e8f0fa;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.provider-panel {
    border: 2px solid #e2e2e2;
    margin-bottom: 0;
    border-radius: 0;
}

.provider-panel .card-header h4 {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 0;
}

.provider-panel .media-right {
    vertical-align: bottom;
}

.provider-panel .card-header,
.provider-panel .panel-footer {
    padding: 20px 15px 10px;
    background: #fff;
    border-bottom: 2px solid #e2e2e2;
}

.provider-panel .card-body {
    height: 330px;
    overflow: auto;
}

.provider-panel .card-body dl dt,
.supervisour-panel .card-body dl dd {
    color: #676767;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 700;
    text-align: left;
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    /* text-align: right; */
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    word-break: break-word;
}

.provider-panel .card-body dl dt {
    white-space: normal;
}

.provider-panel .card-body dl {
    margin-bottom: 10px;
}

.provider-panel .card-body dl dd {
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.provider-panel .card-body dl dd p {
    margin-bottom: 0;
    font-weight: 600;
}

.provider-panel .card-body dl dd span {
    font-weight: 500;
    margin-bottom: 5px;
}

.provider-panel .panel-footer {
    padding: 10px 15px;
}

.provider-panel .card-body dl.no-data {
    background: aliceblue;
    padding: 10px 10px 1px;
    border-left: 4px solid red;
}

.provider-panel .card-body dl.no-data dd {
    color: #f00;
}

.modal-width-100 {
    width: 1100px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #00A2FD;
    border: none;
    border-bottom-color: none;
    font-weight: 600;
    border-radius: 0;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #00A2FD;
    color: #fff;
}

.nav-tabs {
    border-bottom: none;
    background: #f0f8ff;
}

.header-5 {
    font-size: 16px;
    font-weight: 600;
    background: aliceblue;
    padding: 10px 10px;
    margin-bottom: 15px;
}

.box-grid {
    box-shadow: 0 0 10px #e5e5e5;
    display: block;
    width: 100%;
    float: left;
    padding: 0px 10px 10px 10px !important;
}

.mb-20 {
    margin-bottom: 20px;
}

.box-grid-1 {
    box-shadow: 0 0 10px #e5e5e5;
    padding: 0px 10px 10px 10px !important;
    margin: 30px;
}

.finance-search-filter {
    overflow-y: auto;
    height: 708px;
    overflow-x: hidden;
    background: #e7fcff;
    border-right: 1px #a8b9d2 solid;
}
