.add-list-item {
    border: 1px solid #D8D8D8;
    margin: 0px;
    // height: 230px;
    // overflow: auto
}
.address-type {
    padding: 4px;
    font-size: 13px;
    
}
.address-bgcolor {
    background: #00A2FD;
    border-radius: 4px;    
    color: #FFFFFF;
    min-width: 70px;
    text-align: center;
}
.badge-type {
    background: #F0F2F4;
}
.font-weight {
    font-weight: 600;
}
.action {
    border-top: 1px solid #d8d8d8;
    padding-top: 5px;
}
.danger-border {
    border-top: 5px solid #FF3C3C;
}

.safe-border {
    border-top: 5px solid #8CD050;
}

.danger-reason {
    font-style: italic;
}
.address-contact-container {
    height: 250px;
    overflow: auto
}
.danger-color {
    color: red;
}
.font-size {
    font-size: 18px;
}
.current-wrapper {
    height: 25px;
}

.action-btn a {
    color: #00A2FD;
}

.bd-btm {
    border-bottom: 1px solid #d8d8d8;
}

.card-bodyhg {
    height: 105px;
    // overflow: hidden;
    // overflow-y: auto;
}

.p-8 {
    padding: 8px;
}

.font-13 {
    font-size: 13px;
}

.danger-msg {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.p-r-0 {
    padding-right: 0px;
}

.header-hg {
    height: 60px;
}

.address-lb {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.tbl-list-lvng {
    width: 100%;
    margin-bottom: auto;
}