<div class="clearfix">
  <ul class="nav nav-tabs mt-0 print-none pt-20">
    <li class="nav-item" id='subsidy_agreement' routerLinkActive="active">
      <a class="nav-link" routerLink="agreement">Subsidy Agreement</a>
    </li>
    <li class="nav-item" id='subsidy_rate' routerLinkActive="active">
      <a class="nav-link" routerLink="rate">Subsidy Rates</a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="isAdoptionCase">
        <a class="nav-link" routerLink="adoption-annual-reviews">Annual Reviews</a>
      </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="isAdoptionCase">
      <a class="nav-link" routerLink="suspention-payment">Suspension of Payments</a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="!isSupervisor">
        <a class="nav-link" routerLink="subsidy-download">Subsidy Downloads</a>
      </li>
  </ul>
  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="modal fade" id="ap-subsidy" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title bc-pop-title">
          <span class="m-r-10"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>Alert</h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" (click)="navigateTo()"></button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Please complete Adoption Planning to Proceed</li>
        </ul>
        <div class="text-end big-bot-space right-mspace-15"><button type="button" value="Yes" class="btn-pri ok-but"
            data-bs-dismiss="modal" (click)="navigateTo()">Ok</button></div>
      </div>
    </div>
  </div>
</div>