.modal-iframe .modal-content {
    min-height: 580px;
}
.icon-btn a .fa-angle-down,
.icon-btn a .fa-angle-up {
    font-size: 23px;
    line-height: 13px;
    vertical-align: middle;
}

.head-bg mat-icon {
    padding-left: 8px;
    /* other styles as needed */
}

td a .fa-angle-down,
td a .fa-angle-up {
    font-size: 23px;
    line-height: 13px;
    vertical-align: middle;
}
.show {
    display: table-row !important;
}

td.icon-btn {
    width: 80px;
    i {
        cursor: pointer;
    }
}
.m-t-30 {
    margin-top: 30px;
}
.btn-bg {
    background: #00a2fd;
    border: 1px solid #00a2fd;
    color: #fff;
}
.modal-iframe iframe {
    width: 100%;
    height: 84vh;
}
.modal-iframe .modal-lg {
    width: 96%;
}
.modal-iframe .modal-lg .modal-body {
    width: 96%;
    min-height: 95%;
}
.icon-btn a {
    vertical-align: middle;
}

.flatpickr-calendar.open {
    z-index: 10000;
}
.icon-disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.fa-trash:before {
    font-size: 16px;
}
.disabledField {
    pointer-events: none;
    cursor: not-allowed;
}
.hideAssessStartImg{
    display: none;
}
::ng-deep .form-letter-tab {
    margin: 0px;
}
.modal-dialog{
    width:fit-content !important;
    max-width: 98% !important;
}

.modal-dialog-optional {
    max-width: 40% !important;
    width: unset !important;
}