.form-inline label {
    width: 40%;
}
.form-inline label + .form-control {
    width: 50%;
    box-shadow: none;
}
.form-inline label + .fm-box-form {
    width: 50%;
    display: inline-table;
}
.form-inline label + .fm-box-form .form-control {
    width: 100%;
}
.list-group-item {
    padding: 10px 0;
}
.checklist-disclosure .list-group-item {
    padding-right: 150px;
    border: 0px solid #f5f5f5;
    padding-bottom: 15px;
}
.checklist-disclosure .list-group-item.clsForm-inline {
    padding-bottom: 25px;
}
.checklist-disclosure .pull-right {
    float: right !important;
    position: absolute;
    right: 5px;
    top: 10px;
}
.checklist-disclosure .pull-right.datepick {
    top: 2px;
    right: 5px;
}
.clsForm-inline .fm-box-form .form-control {
    width: 70%;
}
.fm-box-form .form-control {
    padding: 6px 0px;
}
.note-txt {
    font-size: 13px;
}

.sign-sec.form-inline label {
    width: 48%;
}
.sign-sec.form-inline label + .form-control {
    width: 50%;
    box-shadow: none;
}

.textb {
    font-weight: 700;
}

.fa-calendar {
    right: 20px;
}

.clsForm-inline {
    label {
        font-weight: 600;
        width: 40%;
        float: left;
        text-transform: capitalize;
    }
    input,
    select,
    textarea {
        &.form-control {
            border: 0px;
            border-bottom: 1px solid #cecece;
            width: 60%;
            float: right;
            box-shadow: none;

            &:active,
            &:focus {
                border-bottom: 1px solid #cecece;
            }
        }
    }
}

.clsGap-form .form-group {
    margin-bottom: 7px;
}
