<div id="entity-config" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" style="display: block;">
  <div class="row">

    <div class="col-sm-12">

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#Category" aria-controls="Category" role="tab" data-bs-toggle="tab" aria-expanded="true">Category</a>
        </li>
        <li role="presentation" class="">
          <a href="#Entity-Roles" aria-controls="Entity-Roles" role="tab" data-bs-toggle="tab" aria-expanded="false">Provider Roles </a>
        </li>
      </ul>
      <div class="tab-content col-md-12 mrg-top25">
        <div class="tab-pane active" id="Category">
          <form [formGroup]="entityConfigCategoryForm" (submit)="saveEntityCategory(entityConfigCategoryForm.value)">
            <div class="row">
              <div class="col-sm-12">
                <div class="manage-dispositions">
                  <h5>Manage Category:</h5>
                  <div class="">
                    <div class="fm-box">
                      <label class="required" style="width:auto;">Provider Configuration: </label>
                      <div class="fm-box-form col-sm-4">
                        <div class="row">
                          <ng-select [searchable]="true" [clearable]="false" formControlName="entityroletypekey">
                            <ng-option value="">Select</ng-option>
                            <ng-option *ngFor="let ddcategory of entityCategoryDropdownList$ | async | orderBy:'text'" [value]="ddcategory.value">
                              {{ddcategory.text}}</ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mrg-top25">
              <div class=" col-sm-12">
                <input type="submit" value="Add" class="btn btn-pri" [disabled]="entityConfigCategoryForm.pristine || entityConfigCategoryForm.invalid">
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive mrg-top25">
                <table class="table table-striped table-hover icon-action" aria-describedby="entity">
                  <thead>
                    <tr>
                      <th id="provider-category">Provider Category</th>
                      <th id="description">Description</th>
                      <th id="actions">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let role of entityCategories$ | async">
                      <td>{{role.name}}</td>
                      <td>{{role.description}}</td>
                      <td>
                        <ul class="list-unstyled list-inline mrg-btm0">
                          <li>
                            <a href="javascript:{}" (click)="deleteCategoryRole(role)">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                          </li>
                        </ul>
                      </td>
                    </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="Entity-Roles">
          <form [formGroup]="entityConfigRolesForm" (submit)="saveEntityRole(entityConfigRolesForm.value)">
            <div class="row">
              <div class="col-sm-12">
                <div class="manage-dispositions">
                  <h5> Manage Roles:</h5>
                  <div class="">
                    <div class="fm-box">
                      <label class="required" style="width:auto;">Provider Roles: </label>
                      <div class="fm-box-form col-sm-4">
                        <div class="row">
                          <ng-select [searchable]="true" [clearable]="false" formControlName="entityroletypekey">
                            <ng-option value="">Select</ng-option>
                            <ng-option *ngFor="let ddcategory of entityRoleDropdownList$ | async | orderBy:'text'" [value]="ddcategory.value">
                              {{ddcategory.text}}</ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mrg-top25">
              <div class="col-sm-12">
                <input type="submit" value="Add" class="btn btn-pri" [disabled]="entityConfigRolesForm.pristine || entityConfigRolesForm.invalid">
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive mrg-top25">
                <table class="table table-striped table-hover icon-action" aria-describedby="entity config">
                  <thead>
                    <tr>
                      <th id="provider-roles">Provider Roles</th>
                      <th id="description">Description</th>
                      <th id="actions">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let roleType of entityRoles$ | async">
                      <td>{{roleType.name}}</td>
                      <td>{{roleType.description}}</td>
                      <td>
                        <ul class="list-unstyled list-inline mrg-btm0">
                          <li>
                            <a href="javascript:{}" (click)="deleteEntiryRoleType(roleType)">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>