<div class="row person-wrap print-none g-3">
  <ng-container *ngIf="childList?.length; else elseTemplate">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3" *ngFor="let child of childList">
      <div class="card panel-default person-panel">
        <div class="card-header selected-child" [ngClass]="{'selected-child': child.isSelected}">
          <div class="d-flex">
            <div class="flex-grow-1">
              <h4>
                <mat-checkbox [disabled]="!child?.hasActivePlacement" (change)="onChildChecked($event,child)" [checked]="child.isSelected"
                  class="aut-chk-selectchildPermanencyPlan">
                  <span class="clsTextHide" matTooltip="{{child.prefx}} {{child.firstname}} {{child.middlename}} {{child.lastname}} {{child.suffix}}">
                    {{child.prefx}} {{child.firstname}} {{child.middlename}} {{child.lastname}} {{child.suffix}}</span>
                  </mat-checkbox>
              </h4>
              <div class="person-role-height">
                <p class="designation" *ngFor="let role of child.roles; let isLast=last">
                  {{role.typedescription}}
                  <span *ngIf="!isLast" style="color:gray">,</span>
                </p>
              </div>
            </div>
            <div class="d-flex-right">
              <div>
                <img *ngIf="child.userphoto" mat-card-avatar mat-card-md-image  src="{{child.userphoto | formatUrl}}" 
                alt="{{child.username || 'User Photo'}}" />
           <img *ngIf="!child.userphoto" mat-card-avatar mat-card-md-image src="assets/images/ic_silhouette.png" 
                alt="User silhouette" />
              </div>

            </div>
          </div>
        </div>
        <div class="card-body" [ngClass]="{'highlighted-person-card': child?.placements[0].startdate}">
          <table class="involved-person-tables" aria-describedby="Involved persons">
            <tr>
              <th id="cjams-pid">CJAMS PID#</th>
              <td>:</td>
              <td class="single-wrap">{{child?.cjamspid}}</td>
            </tr>
            <tr>
              <th id="dob">D.O.B</th>
              <td>:</td>
              <td class="single-wrap">{{child?.dob | date : 'MM/dd/yyyy'}} ({{getAge(child?.dob)}} Yrs)</td>
            </tr>
            <tr>
              <th id="removal-date">Removal Date</th>
              <td>:</td>
              <td class="single-wrap">{{child?.removaldate | date : 'MM/dd/yyyy'}}</td>
            </tr>
            <tr>
              <th id="gender">Gender</th>
              <td>:</td>
              <td class="single-wrap">{{child?.gender}}</td>
            </tr>

            <tr *ngIf="child.placementStatus">
              <th id="permanency-status">Permanency Status</th>
              <td>:</td>
              <td class="single-wrap">

              </td>
            </tr>
            <tr>
              <th id="tpr-status">TPR Status</th>

              <td>:</td>
              <td class="single-wrap">{{child?.tprstatus && child?.tprstatus.length ? child?.tprstatus[0].status : ''}}</td>
            </tr>
            <tr>
              <th id="tpr-parent1-date">TPR Parent 1 Date</th>
              <td>:</td>
              <td class="single-wrap">{{child?.tprdetails && child?.tprdetails.length ? ( child?.tprdetails[0] |  date : 'MM/dd/yyyy' ) : ''}}</td>
            </tr>
            <tr>
              <th id="tpr-parent2-date">TPR Parent 2 Date</th>
                <td>:</td>
                <td class="single-wrap">{{child?.tprdetails && child?.tprdetails.length > 1 ? ( child?.tprdetails[1] |  date : 'MM/dd/yyyy' ) : ''}}</td>
            </tr>


          </table>

        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="pad-top20 text-center" *ngIf="!isClosed">
      <p class="col-sm-12">Please add a Placement to Add a Permanency Plan</p>
    </div>
  </ng-template>
</div>

<div class="modal fade in" id="bioadoptedflag" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              <p class="title display-inlinebl">STOP</p>
              <div class=""><p class="theme f-w-600">You are trying to add Permanency plan for a biological profile of an adopted child which is not allowed.</p></div>
              <div class="text-start m-t-20">
                  <button type="button" value="" class="btn-pri" name="" data-bs-dismiss="modal" (click)="onCheckedChild(childSelected)">OK</button>
              </div>
          </div>
      </div>
  </div>
</div>