.person-role-height {
    overflow: auto;
    padding: 2px 0;
    margin-top: 5px;
}


.involved-person-tables th {
    font-weight: 600;
    color: #000;
}


// 
.cus-tab-section li {
    width: 12%;
    text-align: center;
}
.cus-tab-section li a {
    padding: 0 0 5px;
}
.nav-tabs.cus-tab-section,
.nav-tabs.cus-tab-section > li.active > a:hover,
.cus-tab-section li.active > a:focus,
.cus-tab-section .nav-tabs,
.cus-tab-section li.active > a,
.cus-tab-section .nav-tabs > li.active > a:hover {
    border: none;
}
.cus-tab-section .tab-txt {
    background: #fff;
    padding: 12px 2px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    color: #00A2FD;
    display: contents;
    font-weight: 500;
}
.nav-tab.cus-tab-section li.active a span.tab-txt {
    font-weight:600;
}
.nav-tab.cus-tab-section li a:hover,
.nav-tab.cus-tab-section li a:focus {
    background: #fff;
}

.cus-tab-section li a:hover {
    background: #fff;
}
.cus-tab-section li.active a {
    font-weight: 600;
}
.circle {
    border: 1px solid #00A2FD;
    border-radius: 50%;
    padding: 3px 5px;
}
.circle:after {
    width: 1px;
    height: 1px;
    background: #fff;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}
.circle.completed:after {
    width: 1px;
    height: 1px;
    background: #00A2FD !important;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}
.cus-tab-section li.active .circle:after {
    background: none;
    display: none; /* content: "\e001"; */
}
.cus-tab-section li.active .circle {
    border: 1px solid #00A2FD;
    background: #00A2FD;
    color: #fff;
}
.cus-tab-section li .fa-pencil:before {
    content: none;
}
.cus-tab-section li.active .fa-pencil:before {
    content: '\f040';
}

.nav-tab {
    display: flex;
    justify-content: center;
}

.nav.nav-tab {
    // border-bottom: 5px solid #e0e8f8;
    // padding: 5px 0 10px;
    margin-bottom: 25px;
    border-bottom: 0;
}
.text-22{
    font-size: 15px;
}
.recording-table td:last-child {
    width: 25%;
}
.closebtn{
    float:right;
}
// .modal-dialog{
    // max-width: 450px !important;
// }
@media (min-width: 992px) and (max-width: 1310px) {    
    .cus-tab-section li a::before{
        top: 35px;
    }
    .cus-tab-section li a::after{
        top: 45px;
    }
    // table {
    //     width: 100%;
    //     table-layout: fixed;
    // }
    // .safety-planmain .table > thead > tr > th {
    //     width: 14%;
    //     vertical-align: top !important;
        
    // }
    // .safety-planmain .table > thead > tr > th:nth-child(1) {
    //     width: 25%;
    // }
    // .safety-planmain .table > thead > tr > th:nth-child(3) {
    //     width: 27%;
    // }
    // .safety-planmain .table > thead > tr > th:nth-child(6) {
    //     width: 14%;
    // }
    // .safety-planmain .table-bordered .borderless tbody > tr > td {
    //     border: 0;
    // }
    // .safety-planmain .table-bordered .borderless tbody > tr > td:last-child {
    //     width: 120px;
    // }
    // .safety-planmain .gridsec .table {
    //     width: calc(100% - 40px);
        
    // }
    // .safety-planmain .gridsec {
    //     position: relative;
    // }
    // .recording-table  {
    //     table-layout: fixed;

    // }
    //   .table-bordered > thead  >tr> td {
        
    //     // border: 1px solid #ddd;
    //     width: calc(100%/3);
    // }
    // .table-bordered>thead>tr>th{
    //     width: calc(100%/3) !important ;
    // }
    //  .table-bordered>thead>tr>td{
    //     width: calc(100%/3) !important ;
    // }
  
}

.p10 {
    padding: 10px;
}

.mb8 {
    margin-bottom: 8px;
}

  