.btn.active, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{outline: none; outline:0; box-shadow:none;}

.wizard .nav-tabs>li {
    width: calc(50% - 5px);
    padding: 10px;
    background: #585858;
}
.wizard .nav-tabs>li.active{background: #1bbc9b;}
.wizard .nav-tabs>li:first-child{margin-right: 10px;}

/*Dynamo Soft Css*/

.dynamoContainer { border: 1px solid #ccc;} 
 ul.operateGrp { list-style-type : none !important; position: relative; right: 70px; }
.operateGrp li { margin: 0; width: 55px; height: 41px; line-height: 38px; border: 1px solid #ccc; text-align: center; }
.operateGrp li:nth-last-child(2) { height: 41px; }
.operateGrp li:last-child { height: 41px; border-bottom: none; }
.operateGrp li > img { cursor: pointer; }

/*#dwtcontrolContainer*/
#dwtcontrolContainer { float: left; width: 585px; height: 354px; position: relative;left: 41px;}
#dwtcontrolContainer .dynamsoft-dwt-container-box > div { border: none !important; width: 585px !important; height: 354px !important; }
#dwt-NonInstallContainerID { float: left; width: 585px !important; height: 354px !important; }
.dynamo-aquire {
    width: 19%;
    height: 34px;
    position: relative;
    left: 7px;
    border: 1px solid #039be6;
    background-color: #039be6;
    color: #fff;
}
.dynamo-upload {
    position: relative;
    right: 26px;
    width: 29%;
    height: 34px;
	border: 1px solid #039be6;
    background-color: #039be6;
    color: #fff;
}

.dynamo-mt-12 {
    margin-top: 12px;
    position: relative;
    left: 7px;
}

.preview-mode {
    position: relative;
    right: 100px;
}