.signature-field{
    position: absolute;
    display: block;
    margin-bottom: 10px;
    background: #dddddd70;
    border: 1px solid #ddd;
    width : 315px !important;
    height : 140px !important;
}
.disabledField {
    pointer-events: none;
    cursor: not-allowed;
}
.signature-container{
    border: 1px solid gray;
    width : 315px !important;
    height : 140px !important;
    touch-action: none;
  

}
.signaturediv {
    width : 315px !important;
    height : 140px !important;
}
.signatureimg{
    border: 1px solid gray;
    width : 315px !important;
    height : 140px !important;
   // border: 1px solid #797373; margin-top: 2px;
}
canvas {
    width : 315px !important;
    height : 140px !important;
    touch-action: none;
    
}