<div role="tabpanel" class="tab-pane active" id="review-configuration">
  <div class="box-grid">
    <div class="tab-subtitle">
      <h3>Manage Review Assessments</h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
          <li routerLinkActive="active">
            <a  [routerLink]="['supervisor-review']"> Supervisor Review </a>
          </li>
          <li routerLinkActive="active">
            <a  [routerLink]="['co-edl-review']"> CO EDL Review </a>
          </li>
          <li routerLinkActive="active">
            <a  [routerLink]="['edl-review']">EDL Review </a>
          </li>
          <li routerLinkActive="active">
            <a  [routerLink]="['management-review']"> Management Review </a>
          </li>
        </ul>
        <div class="tab-content mrg-top25 review-da">
          <div role="tabpanel" class="tab-pane active" id="supervisor-review">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>