<div class="text-end big-bot-space right-mspace-15">
      <button type="button" class="btn-pri" (click)="downloadCPSIntakePdf()">
         Print / Download 
      </button>
   </div>
   <div id="vir-csp"></div>
   <div id="cps-intake-header" class="hide  row title " style="margin-bottom: 10px;height:auto">
      <div class="align-center">
         State of Maryland - Department of Human Services
      </div>
      <div class="align-center">
         CHILDREN & FAMILY SERVICES INTAKE WORKSHEET
      </div>
   </div>
   <footer id="cps-intake-footer" class="cps-footer hide">
      <div class="row footer ">
         <div class="col-sm-12">
            This form and the information it contains are confidential. Unauthorized disclosure may result in criminal charges
            and penalties.
         </div>
         <div class="col-sm-12">
            <div class="col-sm-3 " style="text-align: left;padding-left: 0px">
               <p>
                  DHS/SSA 396
                  <span>Revised 9/13</span>
               </p>
            </div>
            <div class="col-sm-3 " style="text-align: left;padding-left: 0px">
               <p>Printed by: {{roleId?.user?.username}}</p>
            </div>
            <div class="col-sm-4" style="padding-left: 0px">
               <p>Report Print Date/Time: {{currentDate | date:'MM/dd/yyyy h:mma'}}</p>
            </div>
            <div class="col-sm-2" style="text-align: right;padding-left: 0px">
               <p>Page
                  <span class="page-index">1 of 2</span>
               </p>
            </div>
         </div>
      </div>
   </footer>
   <div id="CPS-Intake-Report" class="center">
      <div id="record-of-contact" class="component">
         <h3 class="align-center">
            CPS INTAKE REPORT
         </h3>
         <div class="section-header">
            RECORD OF CONTACT
         </div>
         <div class="row section-body">
            <div class="col-sm-3 section-lable">
               Intake ID : 
            </div>
            <div class="col-sm-3 section-value">
               {{general?.IntakeNumber}}
            </div>
         </div>
         <br>
         <div class="row section-body">
            <div class="col-sm-3 section-lable">
               Type of Referral : 
            </div>
            <div class="col-sm-3 section-value">
               {{sdmFormData?.cpsResponseType}}
            </div>
         </div>
         <br>
         <div class="row section-body">
            <div class="col-sm-3 section-lable">
               Date/Time Received : 
            </div>
            <div class="col-sm-3 section-value">
               {{general?.RecivedDate | date:'MM/dd/yyyy - h:mm a'}}
            </div>
         </div>
         <br>
         <div class="row section-body">
            <div class="col-sm-3 section-lable">
               Jurisdiction : 
            </div>
            <div class="col-sm-3 section-value">
               {{store?.countyId}}
            </div>
         </div>
         <br>
         <div class="row section-body">
            <div class="col-sm-3 section-lable">
               Communication : 
            </div>
            <div class="col-sm-3 section-value">
               {{referralSource?.label}}
            </div>
         </div>
      </div>
      <div class="row" style="margin-top: 20px"></div>
      <div class="section-header">REFFERAL HEAD OF FAMILY</div>
      <div class="row section-body">
         <div class="col-sm-3 section-lable">
            Head of Family Name : 
         </div>
         <div class="col-sm-3 section-value">
            {{casehead?.fullname}}
         </div>
      </div>
      <br>
      <div class="row section-body">
         <div class="col-sm-3 section-lable">
            Alias name if any : 
         </div>
         <div class="col-sm-3 section-value">
            {{casehead?.aliasname}}
         </div>
      </div>
      <br>
      <div class="row section-body">
         <div class="col-sm-3 section-lable">
            DOB : 
         </div>
         <div class="col-sm-3 section-value">
            {{casehead?.dob| date:'MM/dd/yyyy'}}
         </div>
      </div>
      <br>
      <div class="row section-body">
         <div class="col-sm-3 section-lable">
            Gender : 
         </div>
         <div class="col-sm-3 section-value">
            {{(casehead?.gender=='M')?'Male':''}} {{(casehead?.gender=='F')?'Female':''}}
         </div>
      </div>
      <br>
      <div class="row section-body">
         <div class="col-sm-3 section-lable">
            Race:
         </div>
         <div class="col-sm-9 section-value">
            {{casehead?.raceList}}
         </div>
      </div>
      <br>
      <div class="row section-body">
         <div class="col-sm-3 section-lable">
            Marital Status : 
         </div>
         <div class="col-sm-3 section-value">
            {{casehead?.maritalstatus}}
         </div>
      </div>
      <br>
      <div class="row section-body">
         <div class="col-sm-3 section-lable">
            Probation Search Conducted : 
         </div>
         <div class="col-sm-3 section-value">
            <input type="checkbox" [checked]= "casehead?.probationsearchconductedflag?.toString() == '1'"  [disabled]="true">
         </div>
      </div>
      <br>
      <div class="row section-body">
         <div class="col-sm-3 section-lable">
            Sex Offender Registry Checked : 
         </div>
         <div class="col-sm-3 section-value">
            <input type="checkbox" [checked]= "casehead?.sexoffenderregisteredflag?.toString() == '1'"   [disabled]="true">
         </div>
      </div>
      <div class="row" style="margin-top: 20px"></div>
      <div class="section-header">ADDRESS AND CONTACT INFORMATION</div>
      <div class="row">
         <div class="row section-body">
            <div class="col-sm-3 section-lable">
               Address : 
            </div>
            <div class="col-sm-3 section-value" >
               {{casehead?.address}}
            </div>
         </div>
         <br>
         <div class="row section-body">
            <div class="col-sm-3 section-lable" >
               City : 
            </div>
            <div class="col-sm-3 section-value" >
               {{casehead?.city}}
            </div>
         </div>
         <br>
         <div class="row section-body">
            <div class="col-sm-3 section-lable">
               State :
            </div>
            <div class="col-sm-3 section-value">
               {{casehead?.state}}
            </div>
         </div>
         <br>
         <div class="row section-body">
            <div class="col-sm-3 section-lable">
               Zip Code : 
            </div>
            <div class="col-sm-3 section-value" >
               {{casehead?.zipcode}}
            </div>
         </div>
         <div class="row section-body">
               <div class="col-sm-3 section-lable">
                 Phone Number : 
               </div>
               <div class="col-sm-3 section-value" >
                  {{casehead?.phonenumber}}
               </div>
            </div>
      </div>
      <div *ngIf="casehead?.personAddressInput?.length===0" style="text-align: center">ADDRESS INFORMATION WAS
         NOT
         PROVIDED
      </div>
      <div class="row" style="margin-top: 20px"></div>
      <div id="ref-parti-in-household">
         <div *ngFor="let person of householdMem">
            <div class="row householdMeminfo" style="margin-top: 10px"></div>
            <div class="section-header">REFFERAL PARTICIPANTS IN HOUSEHOLD</div>
            <div class="row section-body">
               <div class="col-sm-3 section-lable">
                  Name : 
               </div>
               <div class="col-sm-3 section-value">
                  {{person?.fullname}}
               </div>
            </div>
            <br>
            <div class="row section-body">
               <div class="col-sm-3 section-lable">
                  Alias : 
               </div>
               <div class="col-sm-3 section-value">
                  {{person?.aliasname}}
               </div>
            </div>
            <br>
            <div class="row section-body">
               <div class="col-sm-3 section-lable">
                  DOB : 
               </div>
               <div class="col-sm-3 section-value">
                  {{person?.dob| date:'MM/dd/yyyy'}}
               </div>
            </div>
            <br>
            <div class="row section-body">
               <div class="col-sm-3 section-lable">
                  Gender : 
               </div>
               <div class="col-sm-3 section-value">
                  {{(person?.gender=='M')?'Male': (person?.gender=='F')?'Female':'Unknown'}}
               </div>
            </div>
            <br>
            <div class="row section-body">
               <div class="col-sm-3 section-lable">
                  Person ID : 
               </div>
               <div class="col-sm-3 section-value">
                  {{person?.cjamspid}}
               </div>
            </div>
            <br>
            <div class="row section-body">
               <div class="col-sm-3 section-lable">
                  SSN : 
               </div>
               <div *ngIf="isAuthorized" class="col-sm-3 section-value">
                  {{person?.isDataAvailable}}
               </div>
            </div>
            <br>
            <div class="row section-body">
               <div class="col-sm-3 section-lable">
                  Substance-Exposed Newborn : 
               </div>
               <div class="col-sm-3 section-value">
                  <input type="checkbox"  [checked]= "person?.drugexposednewbornflag?.toString() == '1'" [disabled]="true">
               </div>
            </div>
            <br>
            <div class="row section-body">
               <div class="col-sm-3 section-lable">
                  Fetal Alcohol Spectrum Disorder : 
               </div>
               <div class="col-sm-3 section-value">
                  <input type="checkbox" [checked]= "person?.fetalalcoholspctrmdisordflag?.toString() == '1'" [disabled]="true">
               </div>
            </div>
            <br>
            <div class="row section-body">
               <div class="col-sm-3 section-lable">
                  Probation Search Conducted : 
               </div>
               <div class="col-sm-3 section-value">
                  <input type="checkbox" [checked]= "person?.probationsearchconductedflag?.toString() == '1'" [disabled]="true">
               </div>
            </div>
            <br>
            <div class="row section-body">
               <div class="col-sm-3 section-lable">
                  Sex Offender Registry Checked : 
               </div>
               <div class="col-sm-3 section-value">
                  <input type="checkbox" [checked]= "person?.sexoffenderregisteredflag?.toString() == '1'" [disabled]="true"d>
               </div>
            </div>
         </div>
      </div>
      <div id="law-enf" class="row" style="margin-top: 20px"></div>
      <div class="section-header">NARRATIVE</div>
      <div class="l">
         <strong>Narrative </strong>
         <div id="narrative-div" class="col-sm-12" [innerHtml]="narrative">
         </div>
      </div>
      <br>
      
      <div  id="law-enf" class="row" style="margin-top: 20px"></div>
      <div  class="section-header">HISTORY CLEARANCE INFORMATION</div>
      <div *ngIf="cpsHistPresent" class="l">
         <strong>History Clearance </strong>
         <div  id="cps-history-div"  class="col-sm-12" [innerHtml]="cpsHistoryInfo">
         </div>
      </div>
      <br>
      <div class="row" style="margin-top: 20px"></div>
      <div class="section-header">ALLEGATIONS PERTAINING TO CHILD PROTECTIVE SERVICES (CPS)</div>
      <div class="row l" style="padding-left: 10px ">
         <div class="col-sm-12">
            <strong>Physical Abuse : </strong>
            <div class="col-sm-12" *ngFor="let key of sdmKeys(sdmFormData?.physicalAbuse)">
               {{sdmJsonData[key]}}
            </div>
         </div>
         <br>
         <div class="col-sm-12">
            <strong>Sexual Abuse : </strong>
            <div class="col-sm-12" *ngFor="let key of sdmKeys(sdmFormData?.sexualAbuse)">
               {{sdmJsonData[key]}}
            </div>
         </div>
         <br>
         <div class="col-sm-12">
            <strong>General Neglect : </strong>
            <div class="col-sm-12" *ngFor="let key of sdmKeys(sdmFormData?.generalNeglect)">
               {{sdmJsonData[key]}}
            </div>
         </div>
         <br>
         <div class="col-sm-12" *ngIf='sdmFormData?.isnegfp_cargiverintervene'>
            <strong>Failure to Protect : </strong>
            <div class="col-sm-12">
               {{sdmJsonData['negfp_cargiverintervene']}}
            </div>
         </div>
         <br>
         <div class="col-sm-12" *ngIf='sdmFormData?.isnegab_abandoned'>
            <strong>Abandonment : </strong>
            <div class="col-sm-12">
               {{sdmJsonData['negab_abandoned']}}
            </div>
         </div>
         <br>
         <div class="col-sm-12">
            <strong>Unattended Child : </strong>
            <div class="col-sm-12" *ngFor="let key of sdmKeys(sdmFormData?.unattendedChild)">
               {{sdmJsonData[key]}}
            </div>
         </div>
         <br>
         <div class="col-sm-12">
            <strong>Risk of Harm : </strong>
            <div class="col-sm-12" *ngFor="let key of sdmKeys(sdmFormData?.riskofHarm)">
               {{sdmJsonData[key]}}
            </div>
         </div>
         <br>
         <div class="col-sm-12" *ngIf='sdmFormData?.isnegmn_unreasonabledelay'>
            <strong>Medical Neglect : </strong>
            <div class="col-sm-12">
               {{sdmJsonData['negmn_unreasonabledelay']}}
            </div>
         </div>
         <br>
         <div class="col-sm-12" *ngIf='sdmFormData?.menab_psycologicalability'>
            <strong>Abuse : </strong>
            <div class="col-sm-12">
               {{sdmJsonData['menab_psycologicalability']}}
            </div>
         </div>
         <br>
         <div class="col-sm-12" *ngIf='sdmFormData?.menng_psycologicalability'>
            <strong>Neglect : </strong>
            <div class="col-sm-12">
               {{sdmJsonData['menng_psycologicalability']}}
            </div>
         </div>
      </div>
      <div class="row" style="margin-top: 20px"></div>
      <div class="section-header">RECOMMENDATIONS AND OVERRIDES</div>
      <div class="row l" style="padding-left: 10px ">
           <div class="col-sm-12">
                 <strong>Screening Decision : </strong>
           </div>
           <div class="row l" style="margin-left: 10px">
              <div class="col-sm-12">
            <div *ngIf="sdmFormData?.screeningRecommend === 'ScreenOUT'"> {{sdmJsonData['ScreenOUT']}}</div>
            <div *ngIf="sdmFormData?.screeningRecommend === 'Scrnin'"> {{sdmJsonData['Scrnin']}}</div>
           </div>
        </div>
     </div>
     <br>
      <div class="row l" style="padding-left: 10px ">
         <div class="col-sm-12">
            <strong>Overrides : </strong>
         </div>
      </div>
      <div class="row l" style="margin-left: 10px">
         <div class="col-sm-12">
            <div
               *ngIf="sdmFormData?.scnRecommendOveride !== 'OvrScrnout' && sdmFormData?.scnRecommendOveride !== 'Ovrscrnin'">
               No overrides apply
            </div>
            <div *ngIf="sdmFormData?.scnRecommendOveride === 'OvrScrnout'">
               {{sdmJsonData['OvrScrnout']}}
               <div class="col-sm-12" *ngFor="let key of sdmKeys(sdmFormData?.screenOut)">
                  - {{sdmJsonData[key]}}
               </div>
               <div class="col-sm-12">
                  - {{sdmFormData?.screenOut?.scrnout_description}}
               </div>
            </div>
            <div *ngIf="sdmFormData?.scnRecommendOveride === 'Ovrscrnin'">
               {{sdmJsonData['Ovrscrnin']}}
               <div class="col-sm-12" *ngFor="let key of sdmKeys(sdmFormData?.screenIn)">
                  - {{sdmJsonData[key]}}
               </div>
               <div class="col-sm-12">
                  - {{sdmFormData?.screenIn?.scrnin_description}}
               </div>
            </div>
         </div>
      </div>
      <br>
      <div class="row l" style="margin-left: 10px">
         <div class="" style="border: 1px solid black;border-left: 0px;border-right: 0px;">
            <strong>Final screening Decision (after consideration of overrides) </strong>
         </div>
      </div>
      <div class="row l" style="margin-left: 10px">
         <div class="col-sm-12" *ngIf="sdmFormData?.isfinalscreenin!==null">
            <div *ngIf="!sdmFormData?.isfinalscreenin"> {{sdmJsonData['isfinalscreeninOut']}}</div>
            <div *ngIf="sdmFormData?.isfinalscreenin"> {{sdmJsonData['isfinalscreeninIn']}}</div>
         </div>
      </div>
      <div class="row" style="margin-top: 20px"></div>
      <div class="section-header">WORKER/SUPERVISOR APPROVALS</div>
      <div class="row">
         <table class="table" aria-describedby="Supervisor Approval Details">
            <thead>
              <tr>
               <th id="statusHeader">Status</th>
               <th id="nameHeader">Name</th>
               <th id="positionHeader">Position</th>
               <th id="reqDateHeader">Request/Approve Date</th>
              </tr>
            </thead>
            <tbody>
               <tr>
                  <td style="text-align: left;">Review</td>
                  <td style="text-align: left;">{{general?.Author}}</td>
                  <td style="text-align: left;">Intake Worker</td>
                  <td style="text-align: left;">{{general?.CreatedDate | date:'MM/dd/yyyy'}}</td>
               </tr>
               <br>
               <tr *ngFor="let approvalDetails of supervisorApprovalDetails">
                  <td style="text-align: left;">{{approvalDetails.status}}</td>
                  <td style="text-align: left;">{{approvalDetails.name}}</td>
                  <td style="text-align: left;">{{approvalDetails.role}}</td>
                  <td style="text-align: left;">{{approvalDetails.date | date:'MM/dd/yyyy'}}</td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="row" style="margin-top: 20px"></div>
      <div class="section-header">SOURCE OF REFERRAL</div>
      <div class="row" style="text-align: center" *ngIf="narrativeFormData?.IsUnknownReporter">REPORTER IS
         UNKNOWN
      </div>
      <div class="row" style="text-align: center" *ngIf="narrativeFormData?.IsAnonymousReporter">REPORTER IS
         ANONYMOUS
      </div>
      <div class="row" style="text-align: center"
          *ngIf="((narrativeFormData?.Firstname ?? '') + '').trim() || ((narrativeFormData?.Lastname ?? '') + '').trim()">
         {{narrativeFormData.Firstname}} {{narrativeFormData.Lastname}}
      </div>
   </div>