

.fixed_header thead{
    padding-right:0;
}
.table>thead>tr>th, .fixed_header thead {
    padding-right:0;
    background: #AEBED6;

}
.fixed_header thead th, .fixed_header tbody td {
    width:110px;
    border-bottom:none;
    padding:12px !important;
}
.table>tbody>tr>td, .table>tbody>tr>th {
    border-top:0;
}
.fixed_header tbody {
    height:300px;
}
.table-theme .table tr:hover {
    background: none;
}
.fixed_header thead th:first-child, .fixed_header tbody td:first-child {
    width: 220px;
}
@media (min-width: 768px) and (max-width: 1024px) { 
    .table-responsive{
        .table{
            min-width: 600px;
        }
    }

    .fixed_header thead th, .fixed_header tbody td {
        width: 33% !important;
    }
}