<div class="row mt-10">
    <div class="col-md-12 mt-10">
        <h3>EMPLOYMENT</h3>
    </div>
</div>
<form [formGroup]="employmentFormGroup" class="ps-10">

    <div class="row mt-20">
        <div class="col-md-12">
        <label class="required">Current Employment Status: (Job Search? Skills needed? If employed, how do you maintain employment? If unemployed, how will you maintain employment? )</label>
        <mat-form-field>
            <textarea formControlName="currentemploymentstatus" matInput ></textarea>
          </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <label class="required">Future goals or plans for employment/career: (What career field do you want to pursue? How will you gain the skills necessary for your career goals? Who can help you obtain experience in this career area? Any plans for job shadowing or internship?)</label>
        <mat-form-field>
            <textarea formControlName="futuregoals" matInput ></textarea>
          </mat-form-field>
        </div>
    </div>
    <div class="row">
    <short-term-goals [goals]="employmentShortTermGoals" ></short-term-goals>
   </div>
   <div class="row">
      <div class="col-md-12 qa_Box mb-20  mt-20">
          <h4 class="text-center mb-20">??DO YOU KNOW...??</h4>
        <qa-list [questions] = "employmentDoYouKnowItems"></qa-list>
      </div>
  </div>
    <div class="row mt-20">
        <div class="col-sm-12">
            <div class="pull-right">
                <button type="button" disabled value="Clear" class="btn-bg" name="" (click)="clear()">Clear</button>
                <button *securityKeyNew = "'services,services.youthtransitionplan.save'" [fieldKeyNew] = "'services,services.youthtransitionplan.save'" 
                    type="button" disabled value="Save" class=" btn-pri" name="" (click)="save()">Save</button>
            </div>
        </div>
    </div>
</form>