.outer {
    // max-height: 380px;
    // min-height: 380px;
    height: 340px;
    overflow: auto;
    margin: 10px 0px;
    position: relative;
}
.entities-panel .panel-footer {
    background: #fff;
    padding: 5px !important;
    height: 40px !important;
    border-top: 2px solid #e2e2e2;
    color: #00A2FD;
}
.panel-footer ul li {
    float: right;
    text-align: center;
}
.notactive {
    pointer-events: none;
}
.panel-footer .fa-edit:before,
.panel-footer .fa-pencil-square-o:before {
    line-height: 30px;
}
.icon-btn button,
.icon-btn button:hover,
.icon-btn button:focus {
    padding: 0;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    background: transparent;
    color: #337ab7;
    padding-left: 10px;
}
.entities-panel .panel-footer ul li {
    width: auto;
    padding: 3px;
    border-right: 0;
}
.entities-title {
    width: 100%;
    display: block;
    padding-bottom: 10px;
}
span.categori-name {
    margin-right: 0px;
}

.person-panel .card-body dl dd, .entities-panel .card-body dl dd {
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
}
.entities-panel .card-body dl {
    margin-bottom: 5px;
}
.cus-tab-section li a {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0;
}
.cus-tab-section li.active a {
    font-weight: 700;
}
.cus-tab-section li:last-child:after,
.cus-tab-section li.active:last-child:after {
    height: 0;
}
.cus-tab-section li {
    width: 33.33%;
    text-align: center;
}

.cus-tab-section li.active .circle {
    border: 1px solid #00A2FD;
    background: #00A2FD;
    color: #fff;
}

.circle {
    border: 1px solid #00A2FD;
    border-radius: 50%;
    padding: 3px 5px;
    margin-top:10px;
}

.cus-tab-section li .fa-pencil:before {
    content: none;
}

.cus-tab-section .tab-txt {
    background: #fff;
    padding: 0 15px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    color: #00A2FD;
    font-weight: 600;
    display: block;
}

.cus-tab-section li.active .fa-pencil:before {
    content: '\f040';
}

.fa-pencil:before {
    content: "\f040";
}

.circle:after {
    width: 1px;
    height: 1px;
    background: #fff;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}

.circle.completed:after {
    width: 1px;
    height: 1px;
    background: #00A2FD !important;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}

.nav-tabs.cus-tab-section, .nav-tabs.cus-tab-section > li.active > a:hover, .cus-tab-section li.active > a:focus, .cus-tab-section .nav-tabs, .cus-tab-section li.active > a, .cus-tab-section .nav-tabs > li.active > a:hover {
    border: none;
}

.cus-tab-section li.active .circle:after {
    padding: 0px;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #fff;
    border-color: #fff;
}

 .cus-tab-section li.active a:after {
    background: none;
}

.cus-tab-section li:before, .cus-tab-section li.active:before {
    background: #333;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 70%;
    width: calc(100% - 215px);
    left: 0;
    z-index:1;
}
.cus-tab-section li:after, .cus-tab-section li.active:after {
    background: #333;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 70%;
    width: calc(100% - 215px);
    right: 0;
    z-index:1;
}
.cus-tab-section li:first-child:before, .cus-tab-section li:first-child.active:before { 
    height:0;
    }
.cus-tab-section li:first-child:after, .cus-tab-section li:first-child.active:after {
    background: #333;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 70%;
    width: calc(100% - 215px);
    right: 0;
    z-index:1;
}
.cus-tab-section li:last-child:after, .cus-tab-section li:last-child.active:after { 
    height:0;
    }
.cus-tab-section li:last-child:before, .cus-tab-section li:last-child.active:before {
    background:#333;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 70%;
    width: calc(100% - 215px);
    left: 0;
    z-index:1;
}