<div class="row" *ngIf="!placementView">
    <div class="col-sm-12"><button class="btn-pri pull-right text-uppercase add-btn" [routerLink]="['/pages/case-worker/' + id + '/' + danumber + '/dsds-action/placement-menu/foster-care']"><span class="plus-icon">+</span> Add</button></div>
    <div class="col-sm-12 m-t-10" *ngIf="scFosterCareList">
    <div class="row" *ngFor="let fc of scFosterCareList; let i=index;" >
        <div class="col-sm-12">
            <ul class="list-unstyled list-inline theme-heder-bg minus-icon">
                <li>
                    <h5 *ngIf="isServiceCase">{{fc.clientname}}</h5>
                </li>
                <li class="m-l-30"><span><span> Age: </span><strong>{{fc?.age}} </strong></span></li>
                <li class="m-l-30"><span><span>DOB: </span><strong>{{fc?.dob | date:'MM/dd/yyyy'}}</strong></span></li>
                <li class="m-l-30"><span><span>Gender: </span><strong>{{fc?.gender}}</strong></span></li>
                <li class="m-r-10 pull-right" id= "{{i}}"><a href="#accordion{{i}}" aria-expanded="false" aria-hidden="true" data-bs-toggle="collapse"><em class="fa fa-plus" ></em></a></li>
            </ul>
        </div>
        <div class="col-sm-12 m-t-10 collapse" id="accordion{{i}}">
        <div class="table-responsive table-theme">
            <table class="table table-striped" aria-describedby="tbl-provider-details-lst">
                <thead>
                    <tr>
                        <th scope="col">Provider id</th>
                        <th scope="col">Provider</th>
                        <th scope="col">Placement structure</th>
                        <th scope="col">start date</th>
                        <th scope="col">Exit Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let placement of fc.placements" [ngClass]="placement.exit_dt === null ? 'my-class': ''">
                        <td>{{placement.provider_id}}</td>
                        <td>{{placement.providername}}</td>
                        <td>{{placement.service_nm}}</td>
                        <td>{{placement.entry_dt | date:'MM/dd/yyyy'}}</td>
                        <td>{{placement.exit_dt | date:'MM/dd/yyyy'}}</td>
                        <td>{{placement.status}}</td>
                        <td class="foster-icon">
                            <a (click)="showPlacementInfo(placement);"><em class="fa fa-eye fa-times fa-size" aria-hidden="true"></em></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-10">
            </div>
        </div>
        </div>
    </div>
</div>
</div>
        <div class="row" id="fc-view" *ngIf="placementView">
            <div class="col-sm-12"><button class="btn-pri pull-right text-uppercase add-btn" (click)="showList()">Back to list</button></div>
            <div class="col-sm-12">
                <div class="Persons-Involved">
                        <h4>Placement</h4>
                    <div class="placement-body">
                                <div class="row m-t-10">
                                    <div class="col-md-12 m-b-10">
                                        <h5 class="heading-bg m-b-10">PLACEMENT REFERRAL DETAILS</h5>
                                        <div class="row ref-detailpara">
                                            <div class="col-md-6">
                                                <p><strong>Provider ID </strong> : {{selectedPlacement?.provider_id}} </p>
                                                <p><strong>Address</strong> : {{(selectedPlacement?.providerdetails &&
                                                    selectedPlacement?.providerdetails.length)?selectedPlacement?.providerdetails[0].address:''}}</p>
                                                <p><strong>Contact </strong> : {{(selectedPlacement?.providerdetails &&
                                                    selectedPlacement?.providerdetails.length)?selectedPlacement?.providerdetails[0].phonenumber:''}}</p>
                                                <p><strong>Local Department: </strong> :
                                                    {{(selectedPlacement?.provider_category_name==='Local Department
                                                    Home')?'Yes':'No'}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p><strong>Program Name</strong> : {{selectedPlacement?.programname}}</p>
                                                <p><strong>Provider Name</strong> : {{selectedPlacement?.providername}}</p>
                                                <p><strong>Phone Number</strong> : {{selectedPlacement?.number}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 m-b-10">
                                        <h5 class="heading-bg">Information Sent to
                                            Provider</h5>
                                        <p><strong>Date Sent </strong> : {{selectedPlacement?.info_sent_dt | date:'MM/dd/yyyy'}} </p>
                                        <p><strong>Description </strong> : {{selectedPlacement?.info_description_tx}} </p>
                                    </div>
                                </div>
                                <div class="row ref-address">
                                        <div class="col-md-12 m-t-10">
                                            <h5 class="heading-bg">Response</h5>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p><strong>Response Accepted </strong> : {{selectedPlacement?.acc}} </p>
                                                    <p><strong>Reason for Decline </strong> : {{selectedPlacement?.rej}} </p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><strong>Placement Structure </strong> :
                                                        {{selectedPlacement?.placementstructure}} </p>
                                                    <p><strong>COMAR Rate Category </strong> : {{selectedPlacement?.provider_id}} </p>
                                                </div>
                                            </div>
                                            <div>
                                                <p><strong>Reason fot non-preffered placement/other comments</strong> :
                                                    {{selectedPlacement?.reason_non_preferred_tx}} </p>
                                            </div>
                                        </div>
                                        <div class="row col-md-12 m-t-10">
                                            <div class="col-md-6">
                                                <h5 class="heading-bg">Placement Entry </h5>
                                                <p><strong>Begin Date & Time</strong> : {{selectedPlacement?.referalstartdate |
                                                    date:'MM/dd/yyyy' }} </p>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="heading-bg">IFC DOC Approval </h5>
                                                <p><strong>Date </strong> : {{selectedPlacement?.ssa_ifc_approval_dt |
                                                    date:'MM/dd/yyyy' }}
                                                </p>
                                                <p><strong>SSA Approval </strong> :
                                                    {{(selectedPlacement?.ssa_ifc_approval_sw==='Y')?'Yes':'No'}} </p>
                                            </div>
                                        </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>