.qa_Box {
    border: 1px solid #dcdada;
    padding: 20px 20px;
} 

label{
    font-weight: normal;
    color: #817a7a;
}

.service-btn {
    outline: none;
    border: none;
    background: none; 
}

.div-blocks {
    border: 1px solid #c9c8c8;
    padding: 10px 10px 10px 10px;
}

.bb-0 {
    border-bottom: 0;
}

.service-btn i::before {
    color: #00A2FD;
    font-size: 14px;
}

.service-btn i.fa-close {
    margin: 0px;
}