.progress {
    height: 5px;
}

.allow-acesss {
    pointer-events: all;
}

.m-ad-att{
    padding: 15px;
}

.m-dc-row{
    padding: 0px 15px 0px 15px;
}

.div-added-att {
    overflow-x: auto;
}

.rm-margin-right {
    margin-right: unset !important;
}