
.bold{
    font-weight: bold;
}

.box-grid {
    margin-top: 40px;
}

.nav{
    li{
        padding: 14px;
        a{
            text-decoration: none;
            padding: 14px;
        }
    }
}
.table a {
    color: #00bcd3 !important;
    text-decoration: none !important;
    font-weight: 700 !important;
    font-size: 13px !important;
}