<form [formGroup]="placementForm">
    <div class="clearfix">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <mat-form-field>
                <mat-label>Living Arrangement</mat-label>                    
                <mat-select formControlName="livingarrangementtypekey" placeholder="Living Arrangement"
                        required 
                        (selectionChange)="onLivingArrangementChange()">
                        <mat-option *ngFor="let item of livingDropDownItems" [value]="item.ref_key">
                            {{item.description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="placementForm.get('livingarrangementtypekey')?.invalid">
                        Please select Living Arrangement.
                    </mat-error>
                    <span *ngIf="placementForm.controls['livingarrangementtypekey'].value  === 'FCH' " style="padding: 10px;" title="“This living arrangement should only be selected when no other living arrangement or placement is currently applicable. Please select the most correct option from the picklist below to describe this child’s current circumstances. Enter additional information in the ‘comments’ field below to explain why this living arrangement has been selected and what the expectations are for closing this living arrangement. Please end this living arrangement as soon as possible” (the above statement in the dialog box is just a warning, no additional application restrictions)">
                        <em class="fa fa-info-circle pull-right"></em>
                    </span>
                    <span *ngIf="placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS' " style="padding: 10px;" title="A Foster Care Non-Foster-Home living arrangement is a temporary setting that includes a hotel, LDSS office, shelter. ">
                        <em class="fa fa-info-circle pull-right"></em>
                    </span>
                </mat-form-field>
            </div>
             <div class="col-sm-3 col-md-2">
                <common-date-picker [min] = "minDate" [max] = "maxDate" formControlName="startdate" placeholder="Start Date"
                    [required]="true">
                </common-date-picker>
                <mat-error *ngIf="placementForm.get('startdate')?.invalid">
                    Please select Start Date.
                </mat-error>
            </div>
            <div class="col-sm-3  col-md-2">
                <mat-form-field>
                                            <mat-label>Start Time</mat-label>
                    <input matInput required type="time" (change)="timechange()" formControlName="starttime"
                        placeholder="" required>
                    <mat-error *ngIf="placementForm.get('starttime')?.invalid">
                        Please select Start Time.
                    </mat-error>
                </mat-form-field>
            </div>



            <div class="col-sm-3  col-md-2" *ngIf="placementForm.get('whereabouts')">
                <mat-form-field>
                    <mat-label>LOCATION OF LIVING ARRANGEMENT</mat-label>
                    <mat-select class="aut-lst-clientPetition" placeholder="" formControlName="whereabouts">
                        <mat-option class="multi-line-mat-option" value=""></mat-option>
                        <mat-option class="multi-line-mat-option" value="instate">In State</mat-option>
                        <mat-option class="multi-line-mat-option" value="outstate">Out State</mat-option>
                        <mat-option class="multi-line-mat-option" value="outcountry">Out Of Country</mat-option>
                        <mat-option class="multi-line-mat-option" value="unknown">UnKnown</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-3 col-md-2">
            </div>
            <div class="col-sm-3  col-md-2">
            </div>
        </div>

        <!-- only for not a runaway -->
        <div class="row"*ngIf="placementForm.get('fostercarehome')">
        
            <div class="col-md-4" *ngIf="placementForm.controls['livingarrangementtypekey'].value  === 'FCH'">
                <mat-form-field>
                                            <mat-label>Foster Care Home</mat-label>
                    <mat-select formControlName="fostercarehome" placeholder="" [required] ="placementForm.controls['livingarrangementtypekey'].value  === 'FCH'" (selectionChange)="onFostercareHomeChange()">
                        <mat-option *ngFor="let item of fostercarehomelist" [value]="item.ref_key">
                            {{item.description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="placementForm.get('fostercarehome')?.invalid">
                        Please select Foster Care Home.
                    </mat-error>
                </mat-form-field>
            </div>
        
        
            <div class="col-md-4" *ngIf="placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS'">
                <mat-form-field>
                                            <mat-label>Foster Care-Non foster Setting</mat-label>
                    <mat-select formControlName="fostercarenonfoster" placeholder="" [required] ="placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS'" (selectionChange)="onFostercareHomeChange()">
                        <mat-option *ngFor="let item of fosternonfosterlist" [value]="item.ref_key">
                            {{item.description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="placementForm.get('fostercarenonfoster')?.invalid">
                        Please select Foster Care-Non foster Setting.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4" *ngIf="placementForm.get('hotelorother') && placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS'">
                    <mat-form-field [ngClass]="{'disabledField': readOnly}">
                        <mat-label>Hotel/LDSS/Shelter/Other Name</mat-label>
                        <input [required]="placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS'" formControlName="hotelorother" type="text" maxlength="50" matInput>
                    </mat-form-field>
            </div>
            <div class="col-md-4" *ngIf="placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS' && placementForm.controls['fostercarenonfoster'].value  === 'HOTEL'">
                    <mat-form-field [ngClass]="{'disabledField': readOnly}">
                        <mat-label>Hotel Daily Rate</mat-label>
                        <input type="text" mask="0*.00" [dropSpecialCharacters]="false" [min]="0" (change)="onDailyAmountChange($event, 1)" [required]="placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS' && placementForm.controls['fostercarenonfoster'].value  === 'HOTEL'" formControlName="dailyrate" matInput>
                    </mat-form-field>
                    <mat-error *ngIf="mandatorymessage && placementForm.get('dailyrate')?.invalid">
                        Please enter the Hotel Daily Rate
                    </mat-error>
            </div>
            <div class="row col-md-12" *ngIf="placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS' && placementForm.controls['fostercarenonfoster'].value  === 'HOTEL'">
                <div class="col-md-4">
                    <p class ="required">Is there a 1 to 1 Agency assigned to this child? </p>
                    <mat-radio-group formControlName="agency1to1" placeholder=""  (change) ="agency1to1change()" [required]="placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS' && placementForm.controls['fostercarenonfoster'].value  === 'HOTEL'">
                        <mat-radio-button [value]="true">Yes</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="mandatorymessage && placementForm.get('agency1to1')?.invalid">
                        Is there a 1 to 1 Agency assigned to this child?
                    </mat-error>
                </div>
                <div class="col-md-8" *ngIf="placementForm.controls['agency1to1'].value  == true">
                    <mat-form-field [ngClass]="{'disabledField': readOnly}">
                        <mat-label>Please enter the name of the 1 to 1 agency</mat-label>
                        <input [required]="placementForm.controls['agency1to1'].value  == true && placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS' && placementForm.controls['fostercarenonfoster'].value  === 'HOTEL'" formControlName="agency1to1desc" type="text"  maxlength="50" matInput>
                    </mat-form-field>
                    <mat-error *ngIf="mandatorymessage && placementForm.get('agency1to1desc')?.invalid">
                        Please enter the name of the 1 to 1 agency
                    </mat-error>
                </div>
                <div class="col-md-8" *ngIf="placementForm.controls['agency1to1'].value  == false">
                    <mat-form-field [ngClass]="{'disabledField': readOnly}">
                        <mat-label>Please explain why this child is residing in a hotel without an assigned 1 to 1 agency</mat-label>
                        <input [required]="placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS' && placementForm.controls['fostercarenonfoster'].value  === 'HOTEL' && placementForm.controls['agency1to1'].value == false" formControlName="agency1to1explaination" type="text"  maxlength="50" matInput>
                    </mat-form-field>
                    <mat-error *ngIf="mandatorymessage && placementForm.get('agency1to1explaination')?.invalid">
                        Please explain why this child is residing in a hotel without an assigned 1 to 1 agency
                    </mat-error>
                </div>
                <div class="col-md-4" *ngIf="placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS' && placementForm.controls['fostercarenonfoster'].value  === 'HOTEL' && placementForm.controls['agency1to1'].value  == true">
                    <mat-form-field [ngClass]="{'disabledField': readOnly}">
                        <mat-label>1 to 1 Agency Rate</mat-label>
                        <input type="text" mask="0*.00" [dropSpecialCharacters]="false" [min]="0" (change)="onDailyAmountChange($event, 2)" [required]="placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS' && placementForm.controls['fostercarenonfoster'].value  === 'HOTEL' && placementForm.controls['agency1to1'].value  == true" formControlName="agency1to1rate" matInput>
                    </mat-form-field>
                    <mat-error *ngIf="mandatorymessage && placementForm.get('agency1to1rate')?.invalid">
                        Please enter the 1 to 1 Agency Rate
                    </mat-error>
                </div>
                <div class="col-md-4" *ngIf="placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS' && placementForm.controls['fostercarenonfoster'].value  === 'HOTEL' && placementForm.controls['agency1to1'].value  == true">
                    <mat-form-field>
                        <mat-select formControlName="ratetype" placeholder="Rate Type" [required] ="placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS' && placementForm.controls['fostercarenonfoster'].value  === 'HOTEL' && placementForm.controls['agency1to1'].value  == true" (selectionChange)="onFostercareHomeChange()">
                            <mat-option *ngFor="let item of ratetypepicklist" [value]="item.ref_key">
                                {{item.description}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="placementForm.get('fostercarenonfoster')?.invalid">
                            Please select Rate type
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <br>
            

            
            
                <div class="col-md-4" *ngIf="placementForm.controls['fostercarehome'].value  === 'UOther'|| placementForm.controls['fostercarenonfoster'].value  === 'OTHER'" >
                <mat-form-field>
                                            <mat-label>Other</mat-label>
                    <input placeholder="" formControlName="fostercomments" type="text" matInput [required] ="placementForm.controls['fostercarehome'].value  === 'UOther'|| placementForm.controls['fostercarenonfoster'].value  === 'OTHER'">
                    <mat-error *ngIf="placementForm.get('fostercomments')?.invalid">
                        Please enter the foster comments.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    
        <ng-container *ngIf="!isRunaway">
            <div class="row">
                <div class="col-md-4" *ngIf="placementForm.get('caregiverclientid') && placementForm.controls['livingarrangementtypekey'].value  !== 'FCNFHS' ">
                    <mat-form-field>
                                            <mat-label>Primary Caregiver</mat-label>
                        <mat-select class="aut-lst-clientPetition" placeholder=""
                            (selectionChange)="primaryCaregiver($event)" formControlName="caregiverclientid"
                            [required]="['RFKH','IAHI','IFHI','FCH'].includes(placementForm.controls['livingarrangementtypekey'].value )">
                            <mat-option class="multi-line-mat-option" [value]=""></mat-option>
                            <mat-option class="multi-line-mat-option" *ngFor="let item of caregiverPersonsList"
                                [value]="item.personid">{{item.fullname}}
                                <div class="personinvolve-role">
                                    <span class="role-description">
                                        {{item.dob | date:'MM/dd/yyyy'}}, {{item.userroles}}, {{item.cjamspid}}
                                    </span>
                                </div>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="placementForm.get('caregiverclientid')?.invalid">
                            Please select Primary Caregiver.
                        </mat-error>
                    </mat-form-field>
                </div>
        
                <div class="col-md-4"  *ngIf="placementForm.get('partnerid') && placementForm.controls['livingarrangementtypekey'].value  !== 'FCNFHS'">
                    <mat-form-field>
                                            <mat-label>Secondary Caregiver</mat-label>
                        <mat-select class="aut-lst-clientPetition" placeholder=""
                            (selectionChange)="secondaryCaregiver($event)" formControlName="partnerid">
                            <mat-option class="multi-line-mat-option" [value]=""></mat-option>
                            <mat-option class="multi-line-mat-option" *ngFor="let item of caregiverPersonsList2"
                                [value]="item.personid">{{item.fullname}}
                                <div class="personinvolve-role">
                                    <span class="role-description">
                                        {{item.dob | date:'MM/dd/yyyy'}}, {{item.userroles}}, {{item.cjamspid}}
                                    </span>
                                </div>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field  *ngIf="placementForm.get('primaryrelationship') && placementForm.controls['livingarrangementtypekey'].value  !== 'FCNFHS'">
                        <mat-label [class.afcars-inner-bg]="true">Relationship to Child</mat-label>
                        <mat-select [required]="test" formControlName="primaryrelationship">
                            <mat-option *ngFor="let item of relationShipDropdownItems" value="{{item.description}}">
                                {{item.description}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="placementForm.get('primaryrelationship')?.invalid">
                            Please select Relationship to Child.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row"
                *ngIf="!['RFKH','IAHI','IFHI','FCH','FCNFHS'].includes(placementForm.controls['livingarrangementtypekey'].value )">
                <div class="col-md-4"  *ngIf="placementForm.get('primarycaregiver')">
                    <mat-form-field [ngClass]="{'disabledField': (primaryselected || readOnly)}">
                        <mat-label [class.afcars-inner-bg]="true">Caregiver 1</mat-label>
                        <input formControlName="primarycaregiver" placeholder="" matInput>
                    </mat-form-field>
                </div>
                <div class="col-md-4" *ngIf="placementForm.get('secondarycaregiver') && placementForm.controls['livingarrangementtypekey'].value  !== 'FCNFHS'">
                    <mat-form-field [ngClass]="{'disabledField': (secondaryselected || readOnly)}">
                        <mat-label [class.afcars-inner-bg]="true">Caregiver 2</mat-label>
                        <input formControlName="secondarycaregiver" placeholder="" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="block"  *ngIf ="!(showHospitalizationFormFields())">
                <div class="row">
                    <div class="col-md-11" *ngIf="placementForm.controls['livingarrangementtypekey'].value  !== 'FCNFHS'">
                        <p>Primary Caregiver Contact Info</p>
                    </div>
                    <div class="col-md-11" *ngIf="placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS'">
                        <p>Living Arrangement Contact Information</p>
                    </div>
                    <div class="col-md-1 btn-icon">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#person-edit"><i class="fa fa-pencil"
                                aria-hidden="true"></i></button>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#contact-info"
                            title="Please verify information details below - changes must be made in the Primary Caregiver’s Person Card."><i
                                class="fa fa-info-circle" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" *ngIf="placementForm.get('add1')">
                        <mat-form-field [ngClass]="{'disabledField': readOnly}">
                            <mat-label class="afcars-inner-bg">Address Line 1</mat-label>
                            <input [required]="!isRunaway" matInput type="text" maxlength="100" formControlName="add1"
                                [matAutocomplete]="auto" (input)="getSuggestedAddress()">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let item of suggestedAddress$ | async" (click)="selectedAddress(item)"
                                    value="{{item.text}}">
                                    {{item.text}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="placementForm.get('add1')?.invalid">
                                Please enter Address Line 1.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4" *ngIf="placementForm.get('add2')">
                        <mat-form-field [ngClass]="{'disabledField': readOnly}">
                            <mat-label class="afcars-inner-bg">Address Line 2</mat-label>
                            <input formControlName="add2" type="text" maxlength="500" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4" *ngIf="placementForm.get('cityname')">
                        <mat-form-field [ngClass]="{'disabledField': readOnly}">
                            <mat-label class="afcars-inner-bg">City</mat-label>
                            <input formControlName="cityname" type="text" maxlength="50" matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"  *ngIf="placementForm.get('statetypekey')">
                        <mat-form-field [ngClass]="{'disabledField': readOnly}">
                            <mat-label class="afcars-inner-bg">State</mat-label>
                            <mat-select formControlName="statetypekey" required
                                (selectionChange)="loadStateDropdownItems($event.value, null)" [required]="disabletsafields">
                                <mat-option *ngFor="let state of stateDropDownItems" [value]="state.ref_key">
                                    {{state.value_text}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="placementForm.get('statetypekey')?.invalid">
                                Please select State.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4" *ngIf="placementForm.get('countytypekey') && placementForm.getRawValue().statetypekey !=='NS' ">
                        <mat-form-field [ngClass]="{'disabledField': readOnly}">
                            <mat-label class="afcars-inner-bg">County</mat-label>
                            <mat-select required formControlName="countytypekey" [required]="disabletsafields">
                                <mat-option *ngFor="let county of countyDropDownItems" [value]="county.value_text">
                                    {{county.value_text}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="placementForm.get('countytypekey')?.invalid">
                                Please select County.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4" *ngIf="placementForm.get('zipcode')">
                        <mat-form-field [ngClass]="{'disabledField': readOnly}">
                            <mat-label class="afcars-inner-bg">ZipCode</mat-label>
                            <input [required]="placementForm.getRawValue().statetypekey !=='NS' && disabletsafields"
                                maxlength="5" formControlName="zipcode" type="text" matInput>
                            <mat-error *ngIf="placementForm.get('zipcode')?.invalid">
                                Please enter ZipCode.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"  *ngIf="placementForm.get('contactphone') && placementForm.controls['livingarrangementtypekey'].value  !== 'FCNFHS'">
                        <mat-form-field [ngClass]="{'disabledField': readOnly}">
                                            <mat-label>Home Phone</mat-label>
                            <input formControlName="contactphone" mask="(000) 000-0000" [clearIfNotMatch]="true"
                                placeholder="" type="text" mask="(000) 000-0000" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4"  *ngIf="placementForm.get('contactphone') && placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS'">
                        <mat-form-field [ngClass]="{'disabledField': readOnly}">
                            <mat-label>Primary Phone</mat-label>
                            <input [required]="placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS'" formControlName="contactphone" mask="(000) 000-0000" [clearIfNotMatch]="true"
                                placeholder="" type="text" mask="(000) 000-0000" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4"  *ngIf="placementForm.get('workphone') && placementForm.controls['livingarrangementtypekey'].value  !== 'FCNFHS'">
                        <mat-form-field [ngClass]="{'disabledField': readOnly}">
                                            <mat-label>Work Phone</mat-label>
                            <input formControlName="workphone" mask="(000) 000-0000" [clearIfNotMatch]="true"
                                placeholder="" type="text" mask="(000) 000-0000" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4"  *ngIf="placementForm.get('workphone') && placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS'">
                        <mat-form-field [ngClass]="{'disabledField': readOnly}">
                            <input formControlName="workphone" mask="(000) 000-0000" [clearIfNotMatch]="true"
                                placeholder="Alternate Phone" type="text" mask="(000) 000-0000" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4" *ngIf="placementForm.get('country')">
                        <mat-form-field [ngClass]="{'disabledField': readOnly}">
                            <mat-label class="afcars-inner-bg">Country</mat-label>
                            <mat-select [required]="placementForm.getRawValue().statetypekey=='NS'" formControlName="country">
                                <mat-option *ngFor="let county of countryDropDownItems" [value]="county.ref_key">
                                    {{county.description}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="placementForm.get('country')?.invalid">
                                Please select country.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="block" *ngIf ="!(showHospitalizationFormFields()) && placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS'">
                <div class="row">
                    <div class="col-md-8" *ngIf="placementForm.get('remarks')">
                        <mat-form-field>
                            <mat-label>Please explain why this is the most suitable arrangement for this child</mat-label>
                            <input placeholder="" formControlName="remarks" type="text" matInput [required]="placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS' || placementForm.controls['livingarrangementtypekey'].value  === 'FCH'" >
                            <mat-error *ngIf="placementForm.get('remarks')?.invalid">
                                Please explain why this is the most suitable arrangement for this child
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div *ngIf="loadHospitalForms">
                <hospitalization-cw-shared [isAddEdit]="true" [loadHospitalForms] = "loadHospitalForms" [hideHospitalizationRecords]="true" [hospitalizationNewRecord] = "true"
                [hospitalizationData]="hospitalizationData" [addHospitalizationBtn]="false" (hospitalizationFormEvent) = "updateHospitalizationFormValues($event)"
                [viewMode] = "true" [livingArrangementKey] = "placementForm.get('livingarrangementtypekey')?.value" [startdate] = "placementForm.get('startdate')?.value" 
                [starttime] = "placementForm.get('starttime')?.value" (hospitalizationFormStatusEvent) = "getHospitalizationForm($event)"
                (startDateAndTimeEvent) = "handleSartDateTimeEvent($event)"
                ></hospitalization-cw-shared>
            </div>
            <div class="block">
                <div class="row">
                    <h5 class="textb text-uppercase heading-bg">Luggage Indicator
                        <span matSuffix 
                         triggers="mouseenter:mouseleave" [popover]="luggageindicator"placement="left" [outsideClick]="true"
                         class="info-pos-right"
                         >  
                           <em class="fa fa-info-circle" style="font-size: 16px;"></em>
                         </span>
                       <ng-template #luggageindicator title="" style = "margin: 0px auto;"
                       >
                       <p>Luggage refers to a suitcase, duffel bag, backpack, or similar container that is designed to hold an individual’s personal belongings. Disposable or trash bags are not considered luggage. “New Luggage,” as referred to below, means luggage that has never been previously used.</p>
                     </ng-template>
                    </h5>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <p class ="required">Did the child have luggage at the time of their living arrangement?</p>
                    </div>
                    <div class="col-md-4">
                        <!-- <mat-form-field> -->
                        <mat-radio-group formControlName="livingarrangementluggage" placeholder="" required (change) ="luggagebuttonreset(1)">
                            <mat-radio-button [value]="true">Yes</mat-radio-button>
                            <mat-radio-button [value]="false">No</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="mandatorymessage && placementForm.get('livingarrangementluggage')?.invalid">
                            Please select Luggage at the time of living arrangement
                        </mat-error>
                    </div>
                </div>
                <div class="row" *ngIf ="placementForm.controls['livingarrangementluggage'].value  === false">
                    <div class="col-md-12">
                        <p class ="required">Was new luggage provided at the time of their living arrangement?</p>
                    </div>
                    <div class="col-md-4">
                        <mat-radio-group formControlName="laluggagepurchased" placeholder=""
                            [required]="placementForm.controls['livingarrangementluggage'].value  === false" (change) ="luggagebuttonreset(2)">
                            <mat-radio-button [value]="true">Yes</mat-radio-button>
                            <mat-radio-button [value]="false">No</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf=" mandatorymessage && placementForm.get('laluggagepurchased')?.invalid">
                            Please select Was new luggage provided at the time of Living Arrangement?
                        </mat-error>
                    </div>
                </div>
                <div class="row" *ngIf ="placementForm.controls['laluggagepurchased'].value  === false">
                    <div class="col-md-12">
                        <p class ="required">Was a disposable or trash bag used to carry their belongings?</p>
                    </div>
                    <div class="col-md-4">
                        <mat-radio-group formControlName="ladisposableortrashbag" placeholder=""
                            [required]="placementForm.controls['laluggagepurchased'].value  === false" >
                            <mat-radio-button [value]="true">Yes</mat-radio-button>
                            <mat-radio-button [value]="false">No</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="mandatorymessage && placementForm.get('ladisposableortrashbag')?.invalid">
                            Please select Was a disposable or trash bag used to carry their belongings?
                        </mat-error>
                    </div>
                </div>
                <div class="row" *ngIf= "placementForm.controls['laluggagepurchased'].value  === false" >
                    <div class="col-md-12">
                    <p class ="required">Please describe how this child’s belongings were transported.</p>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field>
                            <input placeholder="" formControlName="laluggagecomments" type="text" matInput
                            [required]="placementForm.controls['laluggagepurchased'].value  === false">
                            <mat-error *ngIf="mandatorymessage && placementForm.get('laluggagecomments')?.invalid">
                                Please describe how this child’s belongings were transported.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <ng-container  *ngIf="hospitalizationFormValues && hospitalizationFormValues['Hospital_Discharged']">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <mat-label class="afcars-inner-bg required">Exit Type</mat-label>
                        <mat-form-field>
                          <mat-select required formControlName="exittypekey" (selectionChange)="onExitTypeChange(true)">
                            <mat-option *ngFor="let item of exitTypes" [value]="item.ref_key">{{item.description}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="placementForm.get('exittypekey')?.invalid">
                            Please select Exit Type.
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-5 col-sm-5" *ngIf="reasonForExitRequired">
    
                          <mat-label class="afcars-inner-bg required">Reason for exit </mat-label>
                        <mat-form-field>
                           <mat-select required formControlName="exitreasontypekey">
                               <mat-option  *ngFor="let item of reasonsForExit" [value]="item.ref_key">{{item.description}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="placementForm.get('exitreasontypekey')?.invalid">
                            Please select Reason for exit.
                          </mat-error>
                        </mat-form-field>
                        </div>
                        <div class ="col-md-1 col-sm-1" *ngIf="reasonForExitRequired && (placementForm.getRawValue().exittypekey === 'PLCC') ">
          
                        </div>
                </div>


                    <div class="row">
                        <div class="col-md-6 m-t-20">
                          <p class="full-collapse-horizontal" [ngClass]="{'required': commentsRequired}">Comments</p>
                          <div class="textarea-notes">
                            <textarea formControlName="remarks1" name="remarks1" rows="5" class="form-control full-collapse-horizontal aut-txt-addNotesNarrator" required={{commentsRequired}}></textarea>
                            <mat-error *ngIf="placementForm.get('remarks1')?.invalid">
                              Please enter Comments.
                            </mat-error>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 m-t-20">
                          <p class="full-collapse-horizontal required">Explain why this is the Least Restrictive Placement for the child</p>
                          <div class="textarea-notes">
                            <textarea formControlName="leastrestrictiveplacement" name="leastrestrictiveplacement" rows="5" required
                              class="form-control full-collapse-horizontal aut-txt-addNotesNarrator"></textarea>
                            <mat-error *ngIf="placementForm.get('leastrestrictiveplacement')?.invalid">
                              Please Explain why this is the Least Restrictive Placement for the child.
                            </mat-error>
                          </div>
                        </div>
                      </div> 
                    </ng-container>


            </div>
        </ng-container>

        <ng-container *ngIf="isRunaway">
            <div class="row">
                 <div class="col-md-4"  *ngIf="placementForm.get('runawayreported')">
                    <mat-form-field>
                                            <mat-label>Runaway reported ?</mat-label>
                        <mat-select formControlName="runawayreported" [required]="isRunaway"
                            placeholder="" (selectionChange)="onRunawayReportedChange()">
                            <mat-option value="YES">Yes</mat-option>
                            <mat-option value="NO">No</mat-option>
                        </mat-select>
                        <mat-error *ngIf="placementForm.get('runawayreported')?.invalid">
                            Please select Runaway reported.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4" *ngIf="placementForm.get('runawayreportnumber')">
                    <mat-form-field>
                                            <mat-label>Report Number</mat-label>
                        <input placeholder="" formControlName="runawayreportnumber" maxlength="50" type="text" matInput>
                    </mat-form-field>
                </div>
            </div>
        </ng-container>

        <div class="row">
            <div class="col-md-8" *ngIf="placementForm.get('remarks') && placementForm.controls['livingarrangementtypekey'].value  !== 'FCNFHS'">
                <mat-form-field>
                                            <mat-label>Comments</mat-label>
                    <input placeholder="" formControlName="remarks" type="text" matInput [required]="placementForm.controls['livingarrangementtypekey'].value  === 'FCNFHS' || placementForm.controls['livingarrangementtypekey'].value  === 'FCH'" >
                    <mat-error *ngIf="placementForm.get('remarks')?.invalid">
                        Please enter comments.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4" *ngIf="placementForm.get('tribalservicearea') && !icwaStatusRequired && placementForm.controls['livingarrangementtypekey'].value  !== 'FCNFHS'">
                <mat-form-field>
                    <mat-label class="afcars-inner-bg">Tribal Service Area</mat-label>
                    <mat-select formControlName="tribalservicearea" (selectionChange)="tsaSelectionChange()">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let county of tsaDropdownItems" [value]="county.ref_key">
                            {{county.description}}-{{county.value_text}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="text-end">
            <button  *securityKeyNew="'placement,placement.placementlist.sendforapproval'" [fieldKeyNew]="'placement,placement.placementlist.sendforapproval'" 
                class="btn-pri" type="button" [disabled]="isClosed || sendforapprovaldisabled" (click)="submitPlacementForm()">Send For
                Approval</button>
        </div>
    </div>

</form>



<div class="modal fade in modal-theme" id="placement-ackmt" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog t-25">
        <div class="modal-content">

            <div class="modal-body">
                <p class="title text-center"> Child Living Arrangement </p>
                <button type="button" class="btn-close close pull-right" (click)="close()"></button>
                <p class="m-t-10 text-center" *ngIf="isRunaway">Living arrangement recorded successfully.</p>
                <p class="m-t-10" *ngIf="!isRunaway">Living arrangement recorded successfully.<span> Please consider
                        recording the following information in CJAMS if applicable to the child/children.</span></p>
                <ul *ngIf="!isRunaway" class="doc-list">
                    <li>Court order upload</li>
                    <li>Family involvement meeting notes</li>
                    <li>Health history updates for the child/children</li>
                    <li>Physical safety checks and reports upload</li>
                    <li>Best interest determination assessment</li>
                    <li>Transportation plan</li>
                </ul>
                <div class="text-end big-bot-space right-mspace-15 m-t-30">
                    <button class="btn-pri aut-btn-caseOk" name="" (click)="close()"> OK </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in modal-theme" id="hospitalization-info" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog t-25">
        <div class="modal-content">

            <div class="modal-body">
                <p class="title text-center"> Information </p>
                <button type="button" class="btn-close close pull-right"  data-bs-dismiss="modal" aria-label="Close"></button>
                <p class="m-t-10"><span> Please ensure that the hospitalization is overnight or 24 hours before creating a living arrangement record.  If not, please continue to the Health tab and create a hospitalization record.</span></p>
                <div class="text-end big-bot-space right-mspace-15 m-t-30">
                    <button class="btn-pri aut-btn-caseOk"  data-bs-dismiss="modal" aria-label="Close"> OK </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade in modal-theme" id="hospitalization-open" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog t-25">
        <div class="modal-content">

            <div class="modal-body">
                <p class="title text-center"> Information </p>
                <button type="button" class="btn-close close pull-right"  data-bs-dismiss="modal" aria-label="Close"></button>
                <p class="m-t-10"><span> There is an open medical living arrangement, please review and update that record.</span></p>
                <div class="text-end big-bot-space right-mspace-15 m-t-30">
                    <button class="btn-pri aut-btn-caseOk"  data-bs-dismiss="modal" aria-label="Close"> OK </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade in modal-theme" id="contact-info" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog t-25">
        <div class="modal-content">

            <div class="modal-body">
                <p class="title text-center"> Information </p>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
                <p class="m-t-10"><span> Please verify information 
                    details below - changes must be made in the Primary Caregiver’s Person Card.</span></p>
                <div class="text-end big-bot-space right-mspace-15 m-t-30">
                    <button class="btn-pri aut-btn-caseOk"  data-bs-dismiss="modal" aria-label="Close"> OK </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in modal-theme" id="person-edit" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog t-25">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Navigation</h4>
                <button type="button" class="btn-close close pull-right"  data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="m-t-10"><span> Are you sure you want to navigate to Primary Caregiver’s Person Card to Edit/Update information ?</span></p>
               
            </div>
            <div class="modal-footer">
                <div class="text-end right-mspace-15">
                    <button class="btn-bg aut-btn-caseOk"  data-bs-dismiss="modal" aria-label="Close"> STAY </button>
                    <button class="btn-pri aut-btn-caseOk" *securityKeyNew ="'person,person.involved.edit'" [fieldKeyNew] = "'person,person.involved.edit'"  data-bs-dismiss="modal" aria-label="Close" (click)="editPerson()"> PROCEED </button>
                </div>
            </div>
        </div>
    </div>
</div>