.block {
    background-attachment: #f2f2f2;
    border: solid 1px #dcdcdc;
    margin: 5px 5px 5px 5px;
    padding: 15px 15px 25px 25px;
}


.disabledField {
    pointer-events: none;
    cursor: not-allowed;
}

.btn-icon button {
    outline: none;
    background: none;
    border: none;
}

.btn-icon button i:before {
    color: #00A2FD;
    font-size: 14px;
}
::ng-deep .mat-mdc-select-panel {
    overflow: auto;
    text-overflow: unset;
    max-width: 100% !important;
  }