.bg-gray {background: #fff;}
.btn-footer {
    background: #fff;
    padding: 15px 0;
}
.m-height {
    min-height: 255px;
    overflow: auto;
    max-height: 485px;
    margin-top:30px;
}
.bg-white {
    background: #fff;
    border: 1px solid #D8D8D8;
}