<div class="outer-container">
    <div class="form-container">
        <div class="row">
          
            <div class="col-sm-12 text-center">
                <h3>FORM 1080A</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right btns-top pad-vspace hide-print">
                <button class="btn-pri aut-btn-backToAssessment" (click)="redirectToAttachment()">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>REPORT IDENTIFIER</h3>
            </div>
        </div>
        <form [formGroup]="form1080a">
            <div class="row">
                <div class="col-sm-12">
                    <p class="bold"><strong>Case Type</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <p>Child Fatality <span class="required"></span></p>
                    <mat-radio-group formControlName="ischildfatality">
                        <mat-radio-button [value]="true">Yes
                        </mat-radio-button>
                        <mat-radio-button [value]="false">No
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="submitted && form1080a.get('ischildfatality')?.invalid">
                        Please select a value
                      </mat-error>
                </div>
                <div class="col-sm-12 col-md-4">
                    <p>Near-Death/Serious Physical Injury <span class="required"></span></p>
                    <mat-radio-group formControlName="isseriousphysicalinjury">
                        <mat-radio-button [value]="true">Yes
                        </mat-radio-button>
                        <mat-radio-button [value]="false">No
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="submitted && form1080a.get('isseriousphysicalinjury')?.invalid">
                        Please select a value
                      </mat-error>
                </div>
                <div class="col-sm-12 col-md-4">
                    <p>Provider Involved Maltreatment <span class="required"></span></p>
                    <mat-radio-group formControlName="ismaltreatment">
                        <mat-radio-button [value]="true">Yes
                        </mat-radio-button>
                        <mat-radio-button [value]="false">No
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="submitted && form1080a.get('ismaltreatment')?.invalid">
                        Please select a value
                      </mat-error>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label class="labelfont hidden-label">
                        Justification for change
                    </label>
                    <mat-form-field>
                        <mat-label>Justification for change</mat-label>
                        <textarea matInput formControlName="justificationforchange"
                            placeholder="" autocomplete="off" required
                            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="4">
                        </textarea>
                        <mat-error *ngIf="form1080a.get('justificationforchange')?.hasError('required')">
                          Justification is required.
                        </mat-error>
                      </mat-form-field>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group"> <label for="dateofthiscfspicriticalincidentreport">
                            Date of this CF/SPI/Critical Incident Report</label>
                        <mat-form-field>
                            <mat-label>MM/DD/YYYY</mat-label>
                            <input readonly [disabled]="true" matInput [matDatepicker]="dateofthiscfspicriticalincidentreport"
                                formControlName="dateofthiscfspicriticalincidentreport">
                            <mat-datepicker-toggle matSuffix [for]="dateofthiscfspicriticalincidentreport">
                            </mat-datepicker-toggle>
                            <mat-datepicker #dateofthiscfspicriticalincidentreport>
                            </mat-datepicker>
                        </mat-form-field>

                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label>County/Jurisdiction where the incident occurred</label>
                    <!-- Turning this into a text instead of dropdown as we don't need user to select -->
                    <mat-form-field>
                        <input type="text" readonly matInput formControlName="countyjurisdictionwheretheincidentoccurred"
                            autocomplete="off" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="form-group"> <label for="datewhentheincidentoccurred">Date
                            when the incident occurred</label>
                        <mat-form-field>
                            <mat-label>MM/DD/YYYY</mat-label>
                            <input readonly matInput [matDatepicker]="datewhentheincidentoccurred"
                                formControlName="datewhentheincidentoccurred">
                            <mat-datepicker-toggle matSuffix [for]="datewhentheincidentoccurred">
                            </mat-datepicker-toggle>
                            <mat-datepicker #datewhentheincidentoccurred>
                            </mat-datepicker>
                        </mat-form-field>

                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group"> <label for="dateldssbecameawareofincident">Date
                            LDSS became aware of
                            incident</label>
                        <mat-form-field>
                            <mat-label>MM/DD/YYYY</mat-label>
                            <input readonly matInput [matDatepicker]="dateldssbecameawareofincident"
                                formControlName="dateldssbecameawareofincident">
                            <mat-datepicker-toggle matSuffix [for]="dateldssbecameawareofincident">
                            </mat-datepicker-toggle>
                            <mat-datepicker #dateldssbecameawareofincident>
                            </mat-datepicker>
                        </mat-form-field>

                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <label>Jurisdiction with Child Responsibility</label>
                    <!-- need to decide if this is going to be user selectable from dropdown 
                        and if we are going to persist county id or name -->
                    <mat-form-field>
                        <mat-select formControlName="jurisdictionwithchildresponsibility" placeholder="Jurisdiction">
                            <mat-option *ngFor="let  county of countylist$ | async"
                                value="{{county.value}}">
                                {{county.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <label class="labelfont hidden-label">Intake/Referral #
                    </label>
                    <mat-form-field>
                        <mat-label>Intake/Referral #</mat-label>
                        <input type="text" readonly matInput formControlName="intakereferral" placeholder=""
                            autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="col-md-4 text-center">
                    <p class="labelfont hidden-label">screen
                    </p>
                    <mat-radio-group [disabled]="!isScreenEnabled" formControlName="screen">
                        <mat-radio-button [value]="true">Screen-in
                        </mat-radio-button>
                        <mat-radio-button [value]="false">Screen-out
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div *ngIf="form1080a.get('screen')?.value === false" class="col-sm-12 col-md-4">
                    <label class="labelfont hidden-label">Provide Reason
                    </label>
                    <mat-form-field>
                        <mat-label>Provide Reason</mat-label>
                        <textarea matInput formControlName="providereason"
                            placeholder="" autocomplete="off" required
                            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="4">
                        </textarea>
                    </mat-form-field>
                    <mat-error *ngIf="form1080a.get('providereason')?.hasError('required')">
                        Reason is required when Screen-out is selected.
                    </mat-error>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3>ALLEGED VICTIM CHILD INFORMATION</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label>Child's name<span class="required"></span></label>
                    <mat-form-field>
                        <mat-select [disabled]="true" (selectionChange)="onChildSelect($event)" formControlName="personid">
                            <mat-option *ngFor="let child of childList" [value]="child.personid">
                                {{child.fullname}} - {{child.userroles}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <label class="labelfont hidden-label">CJAMS PID
                    </label>
                    <mat-form-field>
                        <mat-label>CJAMS PID</mat-label>
                        <input readonly type="text" matInput formControlName="cjamspid" placeholder=""
                            autocomplete="off" required>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                        <label for="dob">Date of Birth</label>
                        <app-help-popover [helpText]="'Date of Birth is auto populated from'"
                            [linkText]="'Person Profile'" [linkPath]="getLinkPath('personprofile')"
                            [shouldNavigate]="true" [actionMethodName]="'openEditPersonInfo'" [modalId]="'confirmModal'"
                            [personId]="form1080a.get('personid')?.value" (dataRefresh)="dataRefresh()" (saveData)='helpPopupConfirm($event)'>
                        </app-help-popover>
                        <mat-form-field>
                            <mat-label>MM/DD/YYYY</mat-label>
                            <input readonly matInput formControlName="dob" [disabled]="true" required>
                            <mat-datepicker-toggle [disabled]="true" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker [disabled]="true"></mat-datepicker>
                        </mat-form-field>
                </div>
                <div class="col-md-3">
                        <label for="dod">Date of Death</label>
                        <app-help-popover [helpText]="'Date of Death is auto populated from'" [linkText]="'Person Profile'"
                            [linkPath]="getLinkPath('personprofile')" [shouldNavigate]="true"
                            [actionMethodName]="'openEditPersonInfo'" [modalId]="'confirmModal'"
                            [personId]="form1080a.get('personid')?.value" (dataRefresh)="dataRefresh()" (saveData)='helpPopupConfirm($event)'>
                        </app-help-popover>
                        <mat-form-field>
                            <mat-label>MM/DD/YYYY</mat-label>
                            <input readonly matInput formControlName="dod" [disabled]="true" [required]="form1080a.get('ischildfatality')?.value === true">
                            <mat-datepicker-toggle [disabled]="true" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker [disabled]="true"></mat-datepicker>
                        </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <label>Sex<span class="required"></span></label>
                    <app-help-popover [helpText]="'Gender is auto populated from'" [linkText]="'Person Profile'"
                        [linkPath]="getLinkPath('personprofile')" [shouldNavigate]="true"
                        [actionMethodName]="'openEditPersonInfo'" [modalId]="'confirmModal'"
                        [personId]="form1080a.get('personid')?.value" (dataRefresh)="dataRefresh()" (saveData)='helpPopupConfirm($event)'>
                    </app-help-popover>
                   
                    <mat-form-field>
                        <mat-label>Gender</mat-label>
                        <input type="text" readonly matInput formControlName="sex" placeholder=""
                            autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-4">
                    <label>Race<span class="required"></span></label>
                    <app-help-popover [helpText]="'Race is auto populated from'" [linkText]="'Person Profile'"
                        [linkPath]="getLinkPath('personprofile')" [shouldNavigate]="true"
                        [actionMethodName]="'openEditPersonInfo'" [modalId]="'confirmModal'"
                        [personId]="form1080a.get('personid')?.value" (dataRefresh)="dataRefresh()" (saveData)='helpPopupConfirm($event)'>
                    </app-help-popover>
                  
                    <mat-form-field>
                        <mat-label>Race</mat-label>
                        <input type="text" readonly matInput formControlName="race" placeholder=""
                            autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-4">
                    <label>Ethnicity<span class="required"></span></label>
                    <app-help-popover [helpText]="'Ethnicity is auto populated from'" [linkText]="'Person Profile'"
                        [linkPath]="getLinkPath('personprofile')" [shouldNavigate]="true"
                        [actionMethodName]="'openEditPersonInfo'" [modalId]="'confirmModal'"
                        [personId]="form1080a.get('personid')?.value" (dataRefresh)="dataRefresh()" (saveData)='helpPopupConfirm($event)'>
                    </app-help-popover>
                 
                    <mat-form-field>
                        <mat-label>Ethnicity</mat-label>
                        <input type="text" [disabled]="true" readonly matInput formControlName="enthnicity" placeholder=""
                            autocomplete="off">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3>ADDITIONAL ALLEGED VICTIM CHILD INFORMATION</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Was there any other open case involving
                        this child at the time of this incident?
                        <span class="required"></span>
                    </p>
                    <mat-radio-group formControlName="wasthereanyotheropencaseinvolvingthischildatthetimeofincident">
                        <mat-radio-button [value]="true">Yes
                        </mat-radio-button>
                        <mat-radio-button [value]="false">No
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="submitted && form1080a.get('wasthereanyotheropencaseinvolvingthischildatthetimeofincident')?.invalid">
                        Please select a value
                      </mat-error>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Was there a case involving this child
                        closed within 12 months of this
                        incident? <span class="required"></span>
                    </p>
                    <mat-radio-group formControlName="wasthereacaseinvolvingthischildclosedwithin12monthsofincident">
                        <mat-radio-button [value]="true">Yes
                        </mat-radio-button>
                        <mat-radio-button [value]="false">No
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="submitted && form1080a.get('wasthereacaseinvolvingthischildclosedwithin12monthsofincident')?.invalid">
                        Please select a value
                      </mat-error>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Was the child ever placed outside of the
                        home before the incident? <span class="required"></span></p>
                    <mat-radio-group formControlName="wasthechildeverplacedoutsideofhomebeforetheincident">
                        <mat-radio-button [value]="true">Yes
                        </mat-radio-button>
                        <mat-radio-button [value]="false">No
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="submitted && form1080a.get('wasthechildeverplacedoutsideofhomebeforetheincident')?.invalid">
                        Please select a value
                      </mat-error>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Did the most recent Out of Home placement
                        end within 12 months of the incident date? <span class="required"></span></p>
                    <mat-radio-group
                        formControlName="didmostrecentoohplacementend12monthsofincident">
                        <mat-radio-button [value]="true">Yes
                        </mat-radio-button>
                        <mat-radio-button [value]="false">No
                        </mat-radio-button>
                        <mat-radio-button [value]="null">Not Applicable
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="submitted && form1080a.get('didmostrecentoohplacementend12monthsofincident')?.invalid">
                        Please select a value
                      </mat-error>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Was the child diagnosed with a mental or physical disability? <span class="required"></span>
                    <app-help-popover [helpText]="'Mental or physical disability is auto populated from'"
                            [linkText]="'Person Health Tab'" [linkPath]="getLinkPath('personhealthtab')"
                            [shouldNavigate]="true" [actionMethodName]="'openEditPersonInfo'" [modalId]="'confirmModal'"
                            [personId]="form1080a.get('personid')?.value" (dataRefresh)="dataRefresh()" (saveData)='helpPopupConfirm($event)'>
                    </app-help-popover>
                    </p>
                    <mat-radio-group formControlName="wasthechilddiagnosedwithamentalorphysicaldisability">
                        <mat-radio-button [value]="true">Yes
                        </mat-radio-button>
                        <mat-radio-button [value]="false">No
                        </mat-radio-button>
                        <mat-radio-button [value]="null">Unknown
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="submitted && form1080a.get('wasthechilddiagnosedwithamentalorphysicaldisability')?.invalid">
                        Please select a value
                      </mat-error>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Was the child born
                        substance-exposed(SEN)? <span class="required"></span></p>
                    <mat-radio-group formControlName="wasthechildbornsubstanceexposed">
                        <mat-radio-button [value]="true">Yes
                        </mat-radio-button>
                        <mat-radio-button [value]="false">No
                        </mat-radio-button>
                        <mat-radio-button [value]="null">Unknown
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="submitted && form1080a.get('wasthechildbornsubstanceexposed')?.invalid">
                        Please select a value
                      </mat-error>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Was the child's record updated with the
                        date death in CJAMS? <span class="required"></span>
                        <app-help-popover [helpText]="'Date of death record is auto populated from'"
                        [linkText]="'Person Profile'" [linkPath]="getLinkPath('personprofile')"
                        [shouldNavigate]="true" [actionMethodName]="'openEditPersonInfo'" [modalId]="'confirmModal'"
                        [personId]="form1080a.get('personid')?.value" (dataRefresh)="dataRefresh()" (saveData)='helpPopupConfirm($event)'>
                    </app-help-popover>
                    </p>
                    <mat-radio-group formControlName="wasthechildrecordupdatedwiththedateofdeathincjams">
                        <mat-radio-button [value]="true">Yes
                        </mat-radio-button>
                        <mat-radio-button [value]="false">No
                        </mat-radio-button>
                        <mat-radio-button [value]="null">Not Applicable
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="submitted && form1080a.get('wasthechildrecordupdatedwiththedateofdeathincjams')?.invalid">
                        Please select a value
                      </mat-error>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <h3>INCIDENT INFORMATION</h3>
                    <p><strong>Incident Information/Alleged Maltreator Information</strong></p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label class="labelfont hidden-label">Location type where incident occurred</label>
                    <mat-form-field>
                        <mat-label>Location type where incident occurred</mat-label>
                        <mat-select (selectionChange)="onLocationSelection()"
                            placeholder="" required
                            formControlName="locationtypewhereincidentoccurred">
                            <mat-option *ngFor="let option of locationTypes" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6" *ngIf="form1080a.get('locationtypewhereincidentoccurred')?.value === 'Other'">
                    <label class="labelfont hidden-label">Specify Location
                    </label>
                    <mat-form-field>
                        <mat-label>Specify Location</mat-label>
                        <textarea matInput formControlName="specifylocation"
                            placeholder="" autocomplete="off" required
                            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="4">
                        </textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <p>Was the child in an Out of Home Placement
                        at the time of the incident? <span class="required"></span></p>
                    <mat-radio-group formControlName="wasthechildinanoutofhomeplacementatthetimeoftheincident">
                        <mat-radio-button [value]="true">Yes
                        </mat-radio-button>
                        <mat-radio-button [value]="false">No
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="submitted && form1080a.get('wasthechildinanoutofhomeplacementatthetimeoftheincident')?.invalid">
                        Please select a value
                      </mat-error>
                </div>
                <div class="col-sm-12 col-md-6" *ngIf="form1080a.get('wasthechildinanoutofhomeplacementatthetimeoftheincident')?.value === true">
                    <label class="labelfont hidden-label">Placement provider at the time of the incident</label>
                    <mat-form-field>
                        <mat-label>Placement provider at the time of the incident</mat-label>
                        <mat-select 
                            placeholder=""
                            formControlName="placementprovideratthetimeoftheincident"
                            [required]="form1080a.get('wasthechildinanoutofhomeplacementatthetimeoftheincident')?.value === true">
                            <mat-option *ngFor="let option of placementProviders" [value]="option.placementid">
                                {{ option?.name }} - 
                                {{ option?.startdate | date:'MM/dd/yyyy' }} 
                                <span *ngIf="option?.enddate"> to {{ option?.enddate | date:'MM/dd/yyyy' }}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <ng-container formArrayName="maltreators" *ngIf="maltreators.controls && maltreators.controls.length">
                <div *ngFor="let maltreator of maltreators.controls; let i = index" [formGroupName]="i">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <label class="labelfont hidden-label">Alleged maltreator's name</label>
                            <mat-form-field>
                                <mat-label>Alleged maltreator's name</mat-label>
                                <input type="text" readonly matInput formControlName="allegedmaltreatorname"
                                    placeholder="" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <p>Is this also the case head? <span [ngClass]="{'required': isAMrequired}"></span></p>
                            <mat-radio-group [disabled]="true" formControlName="isthisalsothecasehead">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="labelfont">Alias(es)</label>
                            <app-help-popover
                            [helpText]="'Alias(es) is auto populated from'"
                            [linkText]="'Person Profile'"
                            [linkPath]="getLinkPath('personprofile')"
                            [shouldNavigate]="true"
                            [actionMethodName]="'openEditPersonInfo'"
                            [modalId]="'confirmModal'"
                            [personId]="maltreator.get('personid')?.value"
                            (dataRefresh)="dataRefresh()"
                            (saveData)='helpPopupConfirm($event)'
                            ></app-help-popover> 
                            <mat-form-field>
                                <mat-label>Alias(es)</mat-label>
                                <input readonly type="text" matInput formControlName="aliases" placeholder=""
                                    autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                                <label>Date of Birth</label>
                                <mat-form-field>
                                    <mat-label>MM/DD/YYYY</mat-label>
                                    <input readonly matInput formControlName="dob1" [disabled]="true" [required]="isAMrequired">
                                    <mat-datepicker-toggle [disabled]="true" matSuffix></mat-datepicker-toggle>
                                    <mat-datepicker [disabled]="true"></mat-datepicker>
                                </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <label class="labelfont hidden-label">CJAMS PID</label>
                            <mat-form-field>
                                <input readonly type="text" matInput formControlName="cjamspid1" placeholder="CJAMS PID"
                                    autocomplete="off" [required]="isAMrequired">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <label class="labelfont">Relationship to victim <span [ngClass]="{'required': isAMrequired}"></span></label>
                            <app-help-popover
                            [helpText]="'Relationship to victim is auto populated from'"
                            [linkText]="'Relationship Tab'"
                            [linkPath]="getLinkPath('relationship')"
                            [shouldNavigate]="true"
                            [actionMethodName]="'openEditPersonInfo'"
                            [modalId]="'confirmModal'"
                            [personId]="maltreator.get('personid')?.value"
                            (dataRefresh)="dataRefresh()"
                            (saveData)='helpPopupConfirm($event)'
                            ></app-help-popover> 
                            <mat-form-field>
                                <mat-label>Relationship to victim</mat-label>
                                <input readonly type="text" matInput formControlName="relationshiptovictim"
                                    placeholder="" autocomplete="off">
                                <mat-error *ngIf="submitted && maltreator.get('relationshiptovictim')?.invalid">
                                    Relationship is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Any child welfare history involving this person? <span [ngClass]="{'required': isAMrequired}"></span>
                            </p>
                            <mat-radio-group formControlName="anychildwelfarehistoryinvolvingthisperson">
                                <mat-radio-button [value]="true">Yes
                                </mat-radio-button>
                                <mat-radio-button [value]="false">No
                                </mat-radio-button>
                            </mat-radio-group>
                            <mat-error *ngIf="submitted && maltreator.get('anychildwelfarehistoryinvolvingthisperson')?.invalid">
                                Please select a value
                              </mat-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>History Clearance Information</p>
                        </div>
                        <div class="col-md-12">
                            <custom-table [tableData]="historyClearnceTableMapping(maltreator.get('processedDaDetails')?.value)" [tableDataColumns]="historyClearanceInfoColumns"
                                [tableDataKeys]="historyClearanceInfoKeys" [filterIcon]="false" [isRequiredSearching]="false">
                            </custom-table>
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="row">
                <div class="col-md-12">
                    <label class="labelfont hidden-label">Narrative summary of history
                    </label>
                    <mat-form-field>
                        <mat-label>Narrative summary of history</mat-label>
                        <textarea matInput formControlName="narrativesummaryofhistory"
                            placeholder="" autocomplete="off" 
                            [required]="isMaltreatorNarrativeRequired()"
                            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="4">
                        </textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p>Is this location the child's primary/main residence? 
                        <span class="required"></span>
                    </p>
                    <mat-radio-group formControlName="isthislocationthechildprimaryresidence">
                        <mat-radio-button [value]="true">Yes
                        </mat-radio-button>
                        <mat-radio-button [value]="false">No
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="submitted && form1080a.get('isthislocationthechildprimaryresidence')?.invalid">
                        Please select a value
                      </mat-error>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>List other children in the household of Alleged Maltreator</label>
                    <app-help-popover [helpText]="'List other children is auto populated from'"
                    [linkText]="'Persons Tab'" 
                    [linkPath]="getLinkPath('persontab')"
                    [shouldNavigate]="true" [actionMethodName]="'openEditPersonInfo'" [modalId]="'confirmModal'"
                    [personId]="form1080a.get('personid')?.value" (dataRefresh)="dataRefresh()" (saveData)='helpPopupConfirm($event)'>
                    </app-help-popover>
                </div>
                <div class="col-md-12">
                    <custom-table [tableData]="childrenInfoTableMapping(otherChildrenDetails)" 
                    [tableDataColumns]="childrenInfoTableColumns"
                        [tableDataKeys]="childrenInfoTableKeys" 
                        (actionEvent)="removeChild($event)" 
                        [htmlColumns]="['Action']" [deleteIcon]="true" [editIcon]="false"
                     [filterIcon]="false" [isRequiredSearching]="false">
                    </custom-table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="labelfont hidden-label">Provide detail on the circumstances of the incident and any other relevant information
                    </label>
                    <mat-form-field>
                        <mat-label>Provide detail on the circumstances of the incident and any other relevant information</mat-label>
                        <textarea matInput formControlName="releventinformation"
                            placeholder="" autocomplete="off" required
                            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="4">
                        </textarea>
                        
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>PARENT/GUARDIAN INFORMATION</h3>
                    <h4>Parent/Guardian</h4>
                </div>
            </div>
            <ng-container formArrayName="parents" *ngIf="parents.controls && parents.controls.length">
                <div *ngFor="let parent of parents.controls; let i = index" [formGroupName]="i">
                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <label class="labelfont hidden-label">Name</label>
                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input readonly type="text" matInput formControlName="parentname" placeholder=""
                                    autocomplete="off" required>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <p>Parent / Guardian role</p>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-checkbox formControlName="parentrole" [disabled]="true">Casehead</mat-checkbox>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <mat-checkbox formControlName="parentrole1" [disabled]="true">Alleged Maltreator
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="labelfont">Alias(es)</label>
                            <app-help-popover
                            [helpText]="'Alias(es) is auto populated from'"
                            [linkText]="'Person Profile'"
                            [linkPath]="getLinkPath('personprofile')"
                            [shouldNavigate]="true"
                            [actionMethodName]="'openEditPersonInfo'"
                            [modalId]="'confirmModal'"
                            [personId]="parent.get('personid')?.value"
                            (dataRefresh)="dataRefresh()"
                            (saveData)='helpPopupConfirm($event)'
                            ></app-help-popover> 
                            <mat-form-field>
                                <input type="text" matInput formControlName="aliases1" placeholder="Alias(es)"
                                    autocomplete="off" readonly>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                                <label>Date of Birth</label>
                                <app-help-popover [helpText]="'Date of Birth is auto populated from'"
                                    [linkText]="'Person Profile'" [linkPath]="getLinkPath('personprofile')"
                                    [shouldNavigate]="true" [actionMethodName]="'openEditPersonInfo'"
                                    [modalId]="'confirmModal'" [personId]="parent.get('personid')?.value" (dataRefresh)="dataRefresh()" (saveData)='helpPopupConfirm($event)'>
                                </app-help-popover>
                                <mat-form-field>
                                    <mat-label>MM/DD/YYYY</mat-label>
                                    <input matInput formControlName="dob2" [disabled]="true" required>
                                    <mat-datepicker-toggle [disabled]="true" matSuffix></mat-datepicker-toggle>
                                    <mat-datepicker [disabled]="true"></mat-datepicker>
                                </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <label class="labelfont hidden-label">CJAMS PID</label>
                            <mat-form-field>
                                <mat-label>CJAMS PID</mat-label>
                                <input readonly type="text" matInput formControlName="cjamspid2" placeholder=""
                                    autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <label class="labelfont">Relationship to victim  <span class="required"></span></label>
                            <app-help-popover
                            [helpText]="'Relationship to victim is auto populated from'"
                            [linkText]="'Relationship Tab'"
                            [linkPath]="getLinkPath('relationship')"
                            [shouldNavigate]="true"
                            [actionMethodName]="'openEditPersonInfo'"
                            [modalId]="'confirmModal'"
                            [personId]="parent.get('personid')?.value"
                            (dataRefresh)="dataRefresh()"
                            (saveData)='helpPopupConfirm($event)'
                            ></app-help-popover> 
                            <mat-form-field>
                                <mat-label>Relationship to victim</mat-label>
                                <input readonly type="text" matInput formControlName="relationshiptovictim1"
                                    placeholder="" autocomplete="off">
                                <mat-error *ngIf="submitted && parent.get('relationshiptovictim1')?.invalid">
                                    Relationship is required
                                </mat-error>
                            </mat-form-field>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <p>Any child welfare history involving this person? <span class="required"></span>
                            </p>
                            <mat-radio-group formControlName="anychildwelfarehistoryinvolvingthisperson1">
                                <mat-radio-button [value]="true">Yes
                                </mat-radio-button>
                                <mat-radio-button [value]="false">No
                                </mat-radio-button>
                            </mat-radio-group>
                            <mat-error *ngIf="submitted && parent.get('anychildwelfarehistoryinvolvingthisperson1')?.invalid">
                                Please select a value
                              </mat-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>History Clearance Information</p>
                        </div>
                        <div class="col-md-12">
                            <custom-table [tableData]="historyClearnceTableMapping(parent.get('processedDaDetails')?.value)" [tableDataColumns]="historyClearanceInfoColumns"
                                [tableDataKeys]="historyClearanceInfoKeys" [filterIcon]="false" [isRequiredSearching]="false">
                            </custom-table>
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="row">
                <div class="col-md-12">
                    <label class="labelfont hidden-label">Narrative summary of history
                    </label>
                    <mat-form-field>
                        <mat-label>Narrative summary of history</mat-label>
                        <textarea matInput formControlName="narrativesummaryofhistory1"
                            placeholder="" autocomplete="off" 
                            [required]="isParentNarrativeRequired()"
                            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="4">
                        </textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <p>Did the child reside primarily at this location?
                        <span class="required"></span>
                    </p>
                    <mat-radio-group formControlName="didthechildresideprimarilyatthislocation">
                        <mat-radio-button [value]="true">Yes
                        </mat-radio-button>
                        <mat-radio-button [value]="false">No
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="submitted && form1080a.get('didthechildresideprimarilyatthislocation')?.invalid">
                        Please select a value
                      </mat-error>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12"> 
                    <p>List other children in this household
                    <app-help-popover [helpText]="'List other children is auto populated from'"
                            [linkText]="'Persons Tab'" 
                            [linkPath]="getLinkPath('persontab')"
                            [shouldNavigate]="true" [actionMethodName]="'openEditPersonInfo'" [modalId]="'confirmModal'"
                            [personId]="form1080a.get('personid')?.value" (dataRefresh)="dataRefresh()" (saveData)='helpPopupConfirm($event)'>
                    </app-help-popover>
                    </p>
                </div>
                <div class="col-md-12">
                    <custom-table [tableData]="childrenInfoTableMappingHouseHold(otherChildrenDetailsHouseHold)" 
                    [tableDataColumns]="childrenInfoTableColumns"
                        [tableDataKeys]="childrenInfoTableKeys"
                        (actionEvent)="removeChildHouseHold($event)" 
                        [htmlColumns]="['Action']" [deleteIcon]="true" [editIcon]="false" [filterIcon] ="false"
                          [filterIcon]="false" [isRequiredSearching]="false">
                    </custom-table>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <h3>RAPID RESPONSE REVIEW</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="form-group"> 
                        <label for="dateldssheldtherapidresponsereview" class="labelfont hidden-label">
                            Date LDSS held the Rapid Response Review</label>
                        <mat-form-field>
                            <mat-label>Date LDSS held the Rapid Response Review</mat-label>
                            <input readonly matInput [matDatepicker]="dateldssheldtherapidresponsereview"
                                formControlName="dateldssheldtherapidresponsereview"
                                [max]="maxRapidResponseDate" 
                                [required]="form1080a.get('screen')?.value === true && (form1080a.get('ischildfatality')?.value === true || form1080a.get('isseriousphysicalinjury')?.value === true)"
                                >
                            <mat-datepicker-toggle matSuffix [for]="dateldssheldtherapidresponsereview">
                            </mat-datepicker-toggle>
                            <mat-datepicker #dateldssheldtherapidresponsereview>
                            </mat-datepicker>
                        </mat-form-field>

                    </div>
                </div>
                <div class="col-md-8">
                    <label class="labelfont hidden-label">Additional relevant information, including any agency/criminal history not previously identified
                    </label>
                    <mat-form-field>
                        <mat-label>Additional relevant information, including any agency/criminal history not previously identified</mat-label>
                        <textarea matInput formControlName="additionalrelevantinformation"
                            placeholder="" autocomplete="off"
                            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="4">
                        </textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>MEDIA INFORMATION</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label class="labelfont hidden-label">What is the extent of any current or potential media involvment / press release?
                    </label>
                    <mat-form-field>
                        <mat-label>What is the extent of any current or potential media involvment / press release?</mat-label>
                        <textarea matInput formControlName="whatistheextentofanycurrentorpotentialmediainvolvementrelease"
                            placeholder="" autocomplete="off" required
                            cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="4">
                        </textarea>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <p><strong>Signature of Person Completing this Report</strong></p>
                </div>
            </div>
            <div class="">
                <div class="col-sm-12 col-md-6 row">
                    <div class="col-sm-12 col-md-6">
                        <div class="border" [ngClass]="{ 'disabled': ['view'].includes(action) || isSupervisor }"
                            *ngIf="!signatureofpersoncompletingthisreport">
                            <signature-field formControlName="signatureofpersoncompletingthisreport"></signature-field>
                        </div>
                        <div class="border" *ngIf="signatureofpersoncompletingthisreport">
                            <img src="{{signatureofpersoncompletingthisreport}}" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group"> 
                            <label for="datecompleted">Date Completed</label>
                            <mat-form-field>
                                <mat-label>MM/DD/YYYY</mat-label>
                                <input readonly matInput [matDatepicker]="datecompleted" formControlName="datecompleted">
                                <mat-datepicker-toggle matSuffix [for]="datecompleted">
                                </mat-datepicker-toggle>
                                <mat-datepicker #datecompleted>
                                </mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="!isSupervisor">
                <div class="col-sm-12 col-md-4">
                    <label>Supervisor<span class="required"></span></label>
                    <mat-form-field>
                        <mat-select (selectionChange)="onSelectSupervisor($event)" formControlName="supervisornameVal">
                            <mat-option *ngFor="let val of supervisorDropdownList" [value]="val.userid">
                                {{val.username}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <ng-container *ngIf="isSupervisor || status === 'ReturnToWorker' || status === 'Approved' || status === 'Review'">
                <div class = "row">
                    <div class="col-md-12">
                      <label>Supervisor Comments <span *ngIf="supvCommentsMandatory" class="required"></span>
                      </label>
                      <mat-form-field>
                        <textarea matInput rows="4" [disabled]="!isSupervisor" formControlName="supervisorcomments"
                        ></textarea>
                      </mat-form-field>
                    </div>
                  </div>
            </ng-container>
            <ng-container *ngIf="isSupervisor">  
                 <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div><label>Supervisor Approval<span style="color: #FF0000; margin-left: 1px; font-size: 15px;">*</span></label></div>
                          <mat-radio-group formControlName="submitforapproval" (change)="onSupervisorApprovalChange()">
                              <mat-radio-button   [value]="'Approved'">Accepted</mat-radio-button>
                              <mat-radio-button   [value]="'ReturnToWorker'">Return to Worker</mat-radio-button>
                          </mat-radio-group>
                      </div>
                </div> 
            </ng-container>
            <div class="row">
                <div class="col-md-12">
                    <button *ngIf="isSupervisor && (submitforapproval == 'InProcess')" class="btn-pri m-t-20" (click)="onSupervisorSubmit()">
                        Submit
                    </button>
                    <button *ngIf="!isSupervisor && (status == 'In Progress')" class="btn-pri m-t-20" (click)="saveAsDraft('')">
                        Save As Draft
                    </button>
                    <button *ngIf="!isSupervisor && (status == 'In Progress' || status == 'ReturnToWorker')" class="btn-pri m-t-20" (click)="onSubmitToSupervisor()"
                        [disabled]="disableSupervisorSubmit()">
                        Submit to Supervisor
                    </button>
                    <button *ngIf="!isSupervisor && (status == 'In Progress')" class="btn-pri m-t-20" (click)="dataRefresh()">
                        Refresh
                    </button>
                    <button class="btn-pri aut-btn-backToAssessment" (click)="redirectToAttachment()">
                        Back
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade custom-modal" id="success-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Successfully Submitted </h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> Successfully Submitted!! </p>
                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="Yes" class="btn-pri" name="" data-bs-dismiss="modal"
                        (click)="navigateBack()"> OK </button>
                </div>
            </div>
        </div>
    </div>
</div>