<div id="globalPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header popup-header">
                <h5 class="modal-title"> {{popupTitle}}</h5>
                <button type="button" class="close close-btn btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closePopup()">X</button>
            </div>
            <!-- Modal Body with Tabs -->
            <div class="modal-body">
                <div *ngIf="!isNavigateFromNotes">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" [ngClass]="{'active' : isValue === 1}" role="presentation">
                            <a class="nav-link" id="alert-tab" data-bs-toggle="tab" href="#alert" (click)="isValue = 1">Alert Notification</a>
                        </li>
                        <li class="nav-item" [ngClass]="{'active' : isValue === 2}" role="presentation">
                            <a class="nav-link" id="action-tab" data-bs-toggle="tab" href="#action"  (click)="isValue = 2">Action Notification</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-3" id="myTabContent">
                        <!-- Alert Tab -->
                        <div class="tab-pane" [class.active]="isValue === 1" id="alert" role="tabpanel" aria-labelledby="alert-tab">
                            <div *ngIf="alertMessageContainer">
                                <div class="alert-container" *ngIf="lgrData?.isLGPresent">
                                    <div class="alert-header">Role not found</div>
                                    <div class="alert-content">
                                        <p *ngIf="lgrData?.isLGPresent">This case does not have a Head of Household.
                                            Please
                                            add the
                                            Head of Household in
                                            persons screen.</p>
                                    </div>
                                </div>

                                <div class="alert-container"
                                    *ngIf="lgrData?.notPlacedChildList && lgrData?.notPlacedChildList.length">
                                    <div class="alert-header">No Placement Found</div>
                                    <div class="alert-content">
                                        <p>A child has been removed in this case, but no placement has been recorded
                                            yet.
                                            Please
                                            record the current whereabouts of the child
                                            <br>({{getChildName(notPlacedChildList)}})
                                        </p>
                                    </div>
                                </div>

                                <div class="alert-container" *ngIf="lapopupData">
                                    <div class="alert-header">Living Arrangement</div>
                                    <div class="alert-content">
                                        <p>Review the living arrangement for this case and verify that ‘Foster Care -
                                            Home’
                                            or ‘Foster Care -
                                            Non-foster home setting’ is still the best description of this child’s
                                            circumstance </p>
                                    </div>
                                </div>

                                <div class="alert-container" *ngIf="lapopupFcnFHSData">
                                    <div class="alert-header">Living Arrangement</div>
                                    <div class="alert-content">
                                        <p>A youth is currently in a temporary living arrangement of a hotel, office or
                                            youth shelter.
                                            <br> 
                                            Please move the youth to a placement as soon as possible. Refer to SSA#25-01 for further guidance. </p>
                                            <ul *ngFor="let person of lapopupFcnFHSClientDetails">
                                                <li>{{person?.clientName}}</li>
                                            </ul>
                                    </div>
                                </div>

                                <div class="alert-container" *ngIf="identifyactivepersons">
                                    <div class="alert-header">Identify Active Persons</div>
                                    <div class="alert-content">
                                        <p>Please Identify who should be active in the case.</p>
                                    </div>
                                </div>

                                
                                <div class="alert-container" *ngIf="openHospitalizationRecords?.length">
                                    <div class="alert-header">Hospitalization</div>
                                    <div class="alert-content">
                                        <p> Please ensure that the hospitalization is medically necessary or if this hospitalization has become an overstay, if this has become an overstay then please continue to the living arrangement tab and select “Yes” for Overstay on the open hospitalization record</p>
                                        <br>
                                        <div *ngFor="let person of openHospitalizationRecords" class="pb-20">
                                            <div *ngIf="person?.fullname">
                                                <p>{{person?.fullname}} - {{person?.cjamspid}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert-container" *ngIf ="sencasenotpresent">
                                    <div class="alert-header">No Service case found</div>
                                    <div class="alert-content">
                                        <p>An Active Substance Exposed New Born is added to the case. A service case connect needs to be completed.
                                        </p>
                                        <p *ngFor="let item of sencasenotpresent"><strong>{{ item.name }}</strong> 
                                        </p>
                                    </div>
                                </div>
                                <div class="alert-container" *ngIf="showChildName">
                                    <div class="alert-header">Person Details</div>
                                    <div class="alert-content">
                                        <p>The Primary Language field for this client remains set to "unknown"
                                             exceeding the 5-business-day compliance window. Promptly update this
                                              field to ensure the system has the accurate client communication information
                                        </p>
                                        <p *ngFor="let item of personsWithSpecificLang"><strong>{{ item.fullname }} - {{ item.cjamspid }}</strong>
                                        </p>
                                    </div>
                                </div>
                                <button mat-raised-button color="primary" class="btn-action-submit"
                                    (click)="goToActionTab()">Ok</button>
                            </div>
                            <div *ngIf="!alertMessageContainer" style="margin-top: 20px;">
                                <div class="alert alert-info" role="alert">
                                    No Alert Notifications Available.
                                </div>
                            </div>
                        </div>
                        <!-- Action Tab -->
                        <div class="tab-pane" [class.active]="isValue === 2" id="action" role="tabpanel" aria-labelledby="action-tab">
                            <div *ngIf="medicalPrescribedActionContainer">
                                <ng-container *ngTemplateOutlet="sharedContent"></ng-container>
                            </div>
                            <div *ngIf="!medicalPrescribedActionContainer" style="margin-top: 20px;">
                                <div class="alert alert-info" role="alert">
                                    No Action Notifications Available.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isNavigateFromNotes">
                    <ng-container *ngTemplateOutlet="sharedContent"></ng-container>
                </div>
            </div>

            <!-- Health Disorder or Prescribed data -->

            <ng-template #sharedContent>
                <form [formGroup]="medicalPrescribedActionForm" (ngSubmit)="onSubmit()">
                    <ng-container *ngFor="let type of medicalPrescribedActionForm.controls | keyvalue">
                        <div style="margin-bottom: 20px;">
                            <div class="action-title">
                                {{labelMap[type.key]}}</div>

                            <div class="action-content">
                                <label *ngIf="type.key === 'Health-Disorder'">Does the
                                    following child
                                    (or children) have a diagnosed condition(s)</label>
                                    <label *ngIf="type.key === 'Medication-Psychotropic' && (!isNavigateFromNotes)">Is the child
                                        (or children) Prescribed Medication?</label>
                                <label *ngIf="isNavigateFromNotes">Has a medication including psychotropic change occurred for?</label>
                                <label *ngIf="type.key === 'Substance-New-Born'">Is added as a Active Substance New Born
                                    Client in this Case
                                    <br />(select Yes for do not notify again)</label>
                                <label *ngIf="type.key === 'Birth-Match'">Is added as a Active Birth Match Client in
                                    this Case
                                    <br />(select Yes for do not notify again)
                                </label>
                                <label *ngIf="type.key === 'EBP-Warning-Message'"> All EBP’s are required to have a
                                    service log
                                    to be completed with the service plan. <br>
                                    The start date should equal the EBP intake date. <br>
                                    Please complete the service log for your youth. (Listed Below)
                                     <button type="button" (click)="showEbpInfoDialog()">
                                        <em class="fa fa-info-circle" aria-hidden="true"></em>
                                    </button>
                                    <br />(select Yes to enter service log)
                                </label>


                            </div>
                            <div formArrayName="{{ type.key }}">
                                <div *ngFor="let group of getFormGroupsForType(type.key); let i = index"
                                    [formGroupName]="i">
                                    <div>
                                        <ul>
                                            <li class="li-item">
                                                <div class="listitems">
                                                    <span> {{ group.get('name')?.value }}</span>
                                                    <span class="list-radio">
                                                        <mat-radio-group formControlName="selectedOption">
                                                            <mat-radio-button value="Yes">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="No">No
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div *ngIf="
                                            group.get('selectedOption')?.touched &&
                                            group.get('selectedOption')?.invalid
                                            " class="action-error">
                                        Selection is mandatory.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <button mat-raised-button [disabled]="!isFormTouchedAndValid()" color="primary"
                        class="btn btn-action-submit" type="submit"
                        [ngClass]="{ 'disabled-btn': !isFormTouchedAndValid() }">Submit</button>
                </form>
            </ng-template>
        </div>
    </div>
</div>

<div #popupModal id="globalConfrimationPopup" class="modal fade custom-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4> {{header === "" ? 'Alert' : header}} </h4>
                <button type="button" class="btn-close close pull-right" (click)="confrimedSave(false)">X</button>
            </div>
            <div class="modal-body">
                 <p>{{confrimMessage}}</p>
                <div class="text-right big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" name=""  *ngIf="isConfrimPopup  && !isCustomBtnLabel" (click)="confrimedSave(false)"> No
                    </button>
                    <button type="button" value="No" class="btn-pri" name=""  *ngIf="isCustomBtnLabel" (click)="confrimedSave(false)"> {{btn2label}}
                    </button>
                    <button type="button" value="Yes" class="btn-pri " name="" (click)="confrimedSave(true)" 
                    [attr.data-bs-dismiss]="isDismissAttr ? 'modal' : null"> 
                    {{isConfrimPopup && !isCustomBtnLabel ? 'Yes' : btn1label}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ebp-warning-hoover-popup" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>From the Service log screen, go to Vendor Service and choose the identified youth from the drop down, then click "Add New Service".
            On the new pop-up, go down to Services and type in the EBP you are using, it should have “(Paid)” in the name. <br>
            Click search, You should see your Vendor name in the box that appears, click the radio button next to your Vendor. (Note: the address may not match the address you know… due to some vendors serving multiple counties)
            Click select, A new window will appear “Add Service Detail”. There will be a drop-down for program (i.e. family preservation), date referred, frequency of service, duration of service, and estimated dates… add these details and click save.
            </p>
            <br>
            <p>Important Note: After the service is rendered, the worker must return to this page in the service log and click the box that says service received and put in the actual begin and actual end dates and a service end reason.</p>
        </div>
      </div>
    </div>
</div>

<div id="globalAlertPopup" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header popup-header">
                <h5 class="modal-title">{{globalAlertPopupTitle}}</h5>
                <button type="button" class="close close-btn" data-bs-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <!-- Modal Body with Tabs -->
            <div class="modal-body">
                {{globalAlertPopupMessage}}
            </div>
            <div class="modal-footer" style="border-top: none !important;">
                <button mat-raised-button color="primary" class="btn-action-submit"
                                    (click)="closeGlobalAlertPopup()">Close</button>
            </div>
        </div>
    </div>
</div>   

<div class="modal fade" id="senuntimelyPopup" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header popup-header">
                <h5 class="modal-title"> Untimely Completion Reason </h5>
                <button type="button" class="btn-close close pull-right" data-dismiss="modal" aria-label="Close" (click)="closeSenUntimelyAlertPopup()">
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form *ngIf="showSenUntimelyPopup && senUntimelyForm" [formGroup]="senUntimelyForm" class="senUntimely">
                        <div formArrayName="childlist">
                            <div *ngFor="let child of childlist.controls; let i = index" [formGroupName]="i" class="children">
                                <div class="row mt-20 mb-10">
                                    <div class="col-md-3">
                                        <p><strong>Client Name</strong></p>
                                        <p>{{ child.get('clientname')?.value }}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p><strong>CJAMS PID</strong></p>
                                        <p>{{ child.get('cjamspid')?.value }}</p>
                                    </div>
                                </div>
                                <div>
                                    <mat-checkbox formControlName="f2fctrl" [disabled]="true">
                                        Contact note Face to Face with SEN Client
                                    </mat-checkbox>
                                    <mat-form-field *ngIf="child.get('f2fctrl')?.value && child.get('f2fcontactuntimelydone')?.value" class="reason multiline-select">
                                        <mat-label class="required">Reason F2F occurred outside the timeframe</mat-label>
                                        <mat-select formControlName="f2fcontactuntimelydonereason">
                                            <mat-option *ngFor="let val of facetofacelist" [value]="val.ref_key"> {{ val.value_text }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-error *ngIf="child.hasError('f2fReasonRequired') && child.get('f2fcontactuntimelydonereason')?.touched">
                                        Reason is required
                                    </mat-error>
                                    <mat-form-field *ngIf="child.get('f2fctrl')?.value && child.get('f2fcontactuntimelydone')?.value && child.get('f2fcontactuntimelydonereason')?.value == 'OTR'" class="reason">
                                        <mat-label class="required">Other</mat-label>
                                        <input matInput formControlName="otherf2fcomments">
                                    </mat-form-field>
                                    <mat-error *ngIf="child.get('f2fcontactuntimelydonereason')?.value == 'OTR' && child.get('otherf2fcomments')?.touched && !child.get('otherf2fcomments')?.value">
                                        Other reason is required
                                    </mat-error>
                                </div>
                                <div>
                                    <mat-checkbox formControlName="safecctrl" [disabled]="true">
                                        SAFE-C for the SEN Client
                                    </mat-checkbox>
                                    <mat-form-field *ngIf="child.get('safecctrl')?.value && child.get('safecuntimelydone')?.value" class="reason multiline-select">
                                        <mat-label class="required">Reason assessment occured outside the timeframe</mat-label>
                                        <mat-select formControlName="safecuntimelydonereason">
                                            <mat-option *ngFor="let val of safeclist" [value]="val.ref_key"> {{ val.value_text }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-error *ngIf="child.hasError('safecReasonRequired') && child.get('safecuntimelydonereason')?.touched">
                                        Reason is required
                                    </mat-error>
                                    <mat-form-field *ngIf="child.get('safecctrl')?.value && child.get('safecuntimelydone')?.value && child.get('safecuntimelydonereason')?.value == 'OTR'" class="reason">
                                        <mat-label class="required">Other</mat-label>
                                        <input matInput formControlName="othersafeccomments">
                                    </mat-form-field>
                                    <mat-error *ngIf="child.get('safecuntimelydonereason')?.value == 'OTR' && child.get('othersafeccomments')?.touched && !child.get('othersafeccomments')?.value">
                                        Other reason is required
                                    </mat-error>
                                </div>
                                <div>
                                    <mat-checkbox formControlName="mfiractrl" [disabled]="true">
                                        MFIRA for the SEN Client
                                    </mat-checkbox>
                                    <mat-form-field *ngIf="child.get('mfiractrl')?.value && child.get('mfirauntimelydone')?.value" class="reason multiline-select">
                                        <mat-label class="required">Reason assessment occurred outside the timeframe</mat-label>
                                        <mat-select formControlName="mfirauntimelydonereason">
                                            <mat-option *ngFor="let val of mfiralist" [value]="val.ref_key"> {{ val.value_text }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-error *ngIf="child.hasError('mfiraReasonRequired') && child.get('mfirauntimelydonereason')?.touched">
                                       Reason is required
                                    </mat-error>
                                    <mat-form-field *ngIf="child.get('mfiractrl')?.value && child.get('mfirauntimelydone')?.value && child.get('mfirauntimelydonereason')?.value == 'OTR'" class="reason">
                                        <mat-label class="required">Other</mat-label>
                                        <input matInput formControlName="othermfiracomments">
                                    </mat-form-field>
                                    <mat-error *ngIf="child.get('mfirauntimelydonereason')?.value == 'OTR' && child.get('othermfiracomments')?.touched && !child.get('othermfiracomments')?.value">
                                        Other reason is required
                                    </mat-error>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right mt-20 pb-20">
                            <button type="button" value="Cancel" class="btn-bg" (click)="closeSenUntimelyAlertPopup()">Skip</button>
                            <button type="button" value="submit" class="btn-pri" (click)="saveSenUntimely()">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
