.form-letter-tab .nav-tabs {
    background: #ffffff;
}
.form-letter-tab .nav-tabs>li>a{
    border-bottom: 3px solid transparent !important;
}
.form-letter-tab .nav-tabs>li.active>a,
.form-letter-tab .nav-tabs>li:hover>a,
.form-letter-tab .nav-tabs>li:active>a,
.form-letter-tab .nav-tabs>li:focus>a,
.form-letter-tab .nav-tabs>li.active:hover>a,
.form-letter-tab .nav-tabs>li.active:active>a,
.form-letter-tab .nav-tabs>li.active:focus>a,
.form-letter-tab .nav-tabs>li.active>a:hover,
.form-letter-tab .nav-tabs>li.active>a:active,
.form-letter-tab .nav-tabs>li.active>a:focus{
    border-color: #00a2fd !important;
}