.border {
    border-top: 5px solid #8CD050;
}

.add-list-item {
    border: 1px solid #d8d8d8;
    margin: 0px;
    padding: 10px;
}
.border-bottom-none {
    border-bottom: none;
}

a {
    color: #337ab7 !important;
    text-decoration: none ;
}

a:focus, a:hover {
    color: #23527c !important;
    text-decoration: underline !important;
}