<div class="modal fade in" data-bs-backdrop="static" role="dialog" data-bs-keyboard="false" id="investigation-appeal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content customize-modal">
      <div class="modal-header">
        <h4 class="modal-title">Intake Appeal</h4>
        <button class="btn-close close pull-right" data-bs-dismiss="modal" type="button" tabindex="0"></button>
      </div>
      <div class="modal-body modal-body-maxh">
        <div [formGroup]="supervisoryConferenceForm">
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Date Notice Send Out</mat-label>
                <input matInput formControlName="sendOutDate" autocomplete="off" [matDatepicker]="picker1"
                  placeholder="">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-checkbox formControlName="conferenceHeld">Conference Held</mat-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Date of Conference</mat-label>
                <input matInput formControlName="conferenceDate" autocomplete="off" [matDatepicker]="picker2"
                  placeholder="">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Profession</mat-label>
                <mat-select placeholder="" formControlName="conferenceDecision" required>
                  <mat-option *ngFor="let item of conferenceDecisions" [value]="item.value">
                    {{item.description}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field>
                <mat-label>Details</mat-label>
                <textarea matInput placeholder="Details" formControlName="conferenceDetails"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Profession</mat-label>
                <mat-select placeholder="Profession" formControlName="conferenceDecision" required>
                  <mat-option *ngFor="let item of appealTypes" [value]="item.ref_key">
                    {{item.value_text}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="text-end pt-20">
          <button class="btn-pri" (click)="addAppeal()"> Save</button>
        </div>
      </div>
    </div>
  </div>
</div>