.center{
    position:relative;
    padding:20px;
    padding-bottom: 0px;
    padding-top: 5px;
  }


  .main-div{
    width: 90%; 
    justify-content: center;
    align-items: center;
  }


  

// AOD Form Starts
.cont-brd {
  border: 1px solid #bce8f1;
}

.head-bg {
  background-color: #d9edf7;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 0px;
  text-transform: capitalize;
}

.head-pad {
  padding: 0px 15px 15px 15px;
}

.content-wrapper {
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 15px;
}

.radio-wrp {
  padding: 20px;

  div {
      label,
      mat-radio-group,
      .radio-comments {
          display: inline-block !important;
      }

      label {
          // float: left;
          width: 50%;
      }
      /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
      mat-radio-group {
          width: 15%;
          padding-left: 30px;
          padding-top: 0px;
      }

      .radio-comments,
      .inline-show {
          width: 30%;
      }

      .vertical-btm {
          vertical-align: bottom;
      }
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
mat-checkbox {
  display: block;
}
// AOD Form Ends
.signature-field{
  position: relative;
  display: block;
  margin-bottom: 10px;
  background: #dddddd70;
  border: 1px solid #ddd;
}


.period-brkdown {
  margin-top: 15px;
}
.mat-expansion-panel-header {
  color: #fff;
  background-color: #337ab7 !important;
  border-color: #337ab7 !important;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  font-family: 'Open Sans',serif !important;
}

.mat-expansion-panel-header, .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
  background-color: #337ab7 !important;
}
.search-container {
  width: 250px;
  position: absolute;
  top: 10px;
  right: 50px;
}
.search-container .form-control {
  border: 1px solid #d4d4d4;
  box-shadow: none;
}
.checkbox-container {
  width: 300px;
  position: absolute;
  top: 10px;
  right: 50px;
}
.checkbox-container .mat-mdc-checkbox {
  margin: 0 15px;
}

.person-card,
.person-card-selected {
  border: 1px solid #d8d8d8;
}
.person-card-selected {
  background: #e8f9f4;
  border-color: #8ee3c8;
  // padding: 1.6em;
  // margin: 0;
  // line-height: 1.6em;
  clear: right;
  color: #181818;
}  

.spanchange,
.spanchange-selected {
  margin: 0px;
  padding: 3px;
  border-radius: 15px;
  border: 1px solid #d8d8d8;
}
.spanchange-selected {
  padding: 3px;
  border-radius: 15px;
  background: #e8f9f4;
  border-color: #8ee3c8;
  clear: right;
  color: #0c5460;
  font-size: bold;
}  

.spanchangeblue,
.spanchangeblue-selected {
  padding: 3px;
  margin: 0px;
  border-radius: 15px;
  border: 1px solid #b8daff;
}
.spanchangeblue-selected {
  padding: 3px;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  // padding: 1.6em;
  // margin: 0;
  // line-height: 1.6em;
  clear: right;

  font-size: bold;
}  
.spancolersky{
  padding: 3px;
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  border-radius: 15px;
  border: 1px solid #bee5eb;
  
  font-size: bold;
}
.spancolerpink{
  padding: 3px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-radius: 15px;
  border: 1px solid #f5c6cb;
  font-size: bold;
}

.modal-body {
    --bs-modal-padding: 15px;
}