<div class="table-responsive table-theme mt-20">
  <table class="table table-striped" aria-describedby="children">
    <thead>
      <tr>
        <th id="selected-child-name">Selected Child Name</th>
        <th id="dob">D.O.B</th>
        <th id="cjams-id">Cjams ID</th>
        <th id="gender">Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let child of selectedChildren">
        <td>{{child.firstname}} {{child.lastname}}</td>
        <td>{{child.dob | date : 'MM/dd/yyyy'}} </td>
        <td>{{child.cjamspid}}</td>
        <td>{{child.gender}}</td>
      </tr>
    </tbody>
  </table>