.mt10 {
    margin-top: 10px;
}

.headingDiv {
    border: 1px solid #b1aaaa;
    width: 100%;
    height: 120px;
    margin-top: 8px;

    p {
        padding: 5px;
        background-color: #00a2fd;
        color: #ffffff;
    }

    .detailsDiv {
        display: flex;
        padding: 8px;

        .w33 {
            width: 33.33%;
        }
    }
}

.dataDiv {
    display: block;

    span:first-child {
        font-weight: bold;
    }
}

.tblDiv {
    border: 1px solid #b1abab;
    width: 100%;
    height: auto;
    margin-top: 8px;

    p {
        padding: 5px;
        background-color: #00a2fd;
        color: #ffffff;
    }
}
