<div class="">
  <div class="col-box mydsds-action">
      <h2>{{totalRecords$|async}}
      </h2>
      <table style="width:100%" class="perform-table ir-intake" aria-describedby="tbl-dashboard-ldss">
          <thead>
              <tr>
                  <th scope="col">Application Number</th>
                  <th scope="col">Program</th>
                  <th scope="col">Program Type</th>
                  <th scope="col">Applicant</th>
                  <th scope="col">Co-applicant</th>
              </tr>
          </thead>
          <tbody *ngIf="myApplicationList$ | async; let applicationList">
              <tr *ngFor="let application of applicationList">
                    <td>
                        <a [routerLink]="['/pages/provider-referral/new-public-referral', application.referral_id]">{{application.referral_id}}</a>
                    </td>
                    <td>{{application.prgram}}</td>
                    <td>{{application.provider_program_type}}</td>
                    <td>{{application.individual_applicant_first_nm}} {{application.individual_applicant_last_nm}}</td>
                    <td>{{application.co_applicant_first_nm}} {{application.co_applicant_last_nm}}</td>
              </tr>
          </tbody>
      </table>
      <div class="text-center mt-10" *ngIf="{applicationList:myApplicationList$ | async,totalRecords:totalRecords$ | async} as validatePagination">
          <pagination *ngIf="validatePagination.applicationList?.length!==0" [totalItems]="validatePagination.totalRecords ?? 0" [(ngModel)]="paginationInfo.pageNumber"
              (pageChanged)="pageChanged($event.page)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
          </pagination>
      </div>

  </div>
</div>
