<div class=" text-end mb-10">
  <span *ngIf="isReadonly"> 
    <span *securityKeyNew = "'permanencyplan,permanencyplan.permanencyplanlist.add'" [fieldKeyNew] = "'permanencyplan,permanencyplan.permanencyplanlist.add'">
      <button class="btn-pri aut-btn-addPermanencyPlan" [disabled]="isClosed" *ngIf="isCaseWorker" (click)="addPermanency()"
        type="button"> <em class="fa fa-plus"></em> Add</button>
    </span>
    </span>
</div>
<div class="clearfix">
  <ng-container *ngFor="let child of permanencyPlanList; let i=index;">
    <ng-container>
      <div class="row m-b-20">
        <div class="col-sm-12">
          <ul class="list-unstyled list-inline theme-heder-bg minus-icon">
            <li class="list-inline-item">
              <h5>{{child?.fullname}}</h5>
            </li>
            <li class="m-l-30 list-inline-item"><span><span> Age: </span><strong>{{child?.age}} </strong></span></li>
            <li class="m-l-30 list-inline-item"><span><span>DOB: </span><strong>{{child?.dob | date:'MM/dd/yyyy'}}</strong></span>
            </li>
            <li class="m-l-30 list-inline-item"><span><span>Gender: </span><strong>{{child?.gender}}</strong></span></li>

            <li class="m-r-10 pull-right aut-Icn_expand list-inline-item" id="{{i}}"><a href="#accordion{{i}}" (click)="setHistoryRequestReviewObj(child)" data-bs-toggle="collapse"><em class="fa fa-plus"></em></a></li>
         

              <li class="m-r-20 pull-right list-inline-item">
              <span *securityKeyNew="'permanencyplan,permanencyplan.permanencyplanlist.history'">
                <a (click)="showHistoryReview(child)"><i aria-hidden="true" class="fa fa-history m-r-5">History</i></a>
              </span>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 collapse" id="accordion{{i}}">
          <div class="table-responsive table-theme brd">
            <table class="table table-striped" aria-describedby="permanency plan">
              <thead>

                <tr>

                  <th id="permanency-plan">Permanency Plan</th>
                  <th id="concurrent-permanency">Concurrent Permanency</th>
                  <th id="plan-established-date">Plan Established Date</th>
                  <th id="plan-end-date">Plan End Date</th>
                  <th id="status">Status</th>
                  <th id="action">Action</th>
                  <th id="plan-review-due-date">PLAN REVIEW DUE DATE</th>
                  <th id="plan-review-status">PLAN REVIEW STATUS</th>

                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="child?.permanencyplans?.length">
                  <ng-container *ngFor="let item of child?.permanencyplans">
                    <tr
                      *ngIf="(item?.enddate !== null && item?.status !== 'Approved') || (item?.enddate === null && item?.status === 'Approved') || (item?.enddate === null && item?.status === null ) || (item?.enddate === null && item?.status === 'Review' ) || (item?.enddate === null && item?.status === 'Rejected')">

                      <td>
                        <span *ngIf="item?.primarypermanency?.length">
                          {{item?.primarypermanency[0]?.plantypedescription}}
                        </span>                        
                      </td>
                      <td>
                        <span *ngIf="item?.concurrentpermanency?.length">
                          {{item?.concurrentpermanency[0]?.concurrentplandescription}}
                        </span>                        
                      </td>
                      <td>{{ item?.establisheddate ? (item?.establisheddate) : ''}}</td>
                      <td>{{item?.enddate}}</td>
                      <td>
                        <span *ngIf=" item?.permanencyplanremainssame!==null">
                          {{item?.status ? (item?.status === 'Rejected' ? 'Approved' : item?.status) : 'Draft'}}
                        </span>
                        <span *ngIf=" item?.permanencyplanremainssame===null">
                          {{item?.status ? (item?.status === 'Rejected' ? 'Rejected' : item?.status) : 'Draft'}}
                        </span>
                      </td>
                      <td>
        
                        <ng-container *ngIf="item?.status===null || item?.status==='Rejected' && item?.permanencyplanremainssame===null && (isCaseWorker || isSuperVisor)">
                          <span *ngIf="isReadonly"> 
                            <span  style="margin-right: 5px;" *securityKeyNew = "'permanencyplan,permanencyplan.permanencyplanlist.edit'">
                              <a [ngClass]="{'disabledField': (isClosed || isEditDiabled)}" (click)="editPermanency(item, child, false); setPermanencyplanid(item, 'edit')">
                                <em matTooltip='Edit' class="fa fa-pencil text-16"></em>
                              </a>
                            </span> 
                          </span>
                        </ng-container>
                        <ng-container *ngIf="(item?.status==='Approved' || item?.status==='Rejected') && (isCaseWorker || isSuperVisor)">
                          <span *ngIf="isReadonly"> 
                            <span  style="margin-right: 5px;" *securityKeyNew = "'permanencyplan,permanencyplan.permanencyplanlist.edit'">
                              <a [ngClass]="{'disabledField': (isClosed || isEditDiabled)}" (click)="exitView(item, child, false); setPermanencyplanid(item, 'add')">
                                <em matTooltip='Exit' class="fa fa-sign-out text-16"></em>
                              </a>
                            </span> 
                          </span>
                        </ng-container>
                        <ng-container>
                          <span  style="margin-right: 5px;"  *securityKeyNew = "'permanencyplan,permanencyplan.permanencyplanlist.view'">
                            <a (click)="viewPermanency(item, child, true); setPermanencyplanid(item, 'view')">
                              <em matTooltip='View' class="fa fa-eye text-16"></em>
                            </a> 
                          </span>
                        </ng-container>
                        <ng-container>
                          <span style="margin-right: 5px;"
                          *securityKeyNew="'permanencyplan,permanencyplan.permanencyplanlist.view'">
                          <a (click)="auditlog(item, child, true);setPermanencyplanid(item, 'view')">
                           <em matTooltip='History' class="fa fa-hourglass m-r-5"></em>
                           </a>
                          </span>
                        </ng-container>
                        <ng-container *ngIf="isSuperVisor && item?.status==='Review'">
                          <span  style="margin-right: 5px;" *ngIf="isReadonly"> 
                          <button *securityKeyNew = "'permanencyplan,permanencyplan.permanencyplanlist.review'" [fieldKeyNew] = "'permanencyplan,permanencyplan.permanencyplanlist.review'" class="btn-pri aut-btn-permanencyReview" (click)="reviewPermanency(item, child)"
                            type="button">Review</button>
                          </span>
                        </ng-container>
                        <ng-container *ngIf="isSuperVisor && item?.status!=='Review'">
                        </ng-container>
                        <ng-container>
                          <span  style="margin-right: 5px;" *securityKeyNew = "'permanencyplan,permanencyplan.permanencyplanlist.play'"> 
                            <a *ngIf="(item?.status==='Approved' || item?.status==='Rejected') && !(isReUnification(item))" class="aut-Icn-Play" data-bs-placement="top"
                              (click)="routeToPlan(item, child)">
                              <em matTooltip='Proceed' class="fa fa-play-circle-o"></em>
                            </a>
                            <span *ngIf="item?.primarypermanency?.length && item?.childhasactivegap">
                              (active GAP)
                            </span>
                          </span>
                        </ng-container>

                      </td>
                      <td>      
                        <ng-container *ngIf="(item?.status==='Approved') || (item?.status==='Rejected' && item?.permanencyplanremainssame!==null) && (enablePlanReviewDate)">
                          <span *ngIf = item?.planreviewdate>
                            <div class="row">
                              <div class="col-sm-12">
                                <span style="margin-right: 5px;" *securityKeyNew="'permanencyplan,permanencyplan.permanencyplanlist.edit'">
                                  <a [ngClass]="{'disabledField': item?.duration < -15 || isClosed}" (click)="planReview(item, child, false); setPermanencyplanid(item, 'review')">
                                    <em matTooltip='Review' class="fa fa-id-card-o text-16"></em>
                                   {{item?.planreviewdate | date: 'MM/dd/yyyy'}}
                                  </a>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12" style="color: red;">
                                <span *ngIf="item?.duration > 0">
                                 ({{item?.duration}} days overdue)
                                </span>
                              </div>
                            </div>                           
                          </span>
                        </ng-container>
                        <!-- {{item.permanencyplanremainssame}} -->
                      </td>
                      <td><span *ngIf="(item?.status === 'Approved' || item?.status === 'Rejected') && (item?.permanencyplanremainssame !== null)">{{item?.status}}</span></td>
                    </tr>
                  </ng-container>
                </ng-container>
                <tr *ngIf="!child?.permanencyplans?.length">
                  <td colspan="4">No Permanency Plans added.</td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<div class="modal fade in" id="viewPlan" role="dialog">
  <div class="modal-dialog modal-md custom-wid" role="document">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <h4 class="modal-title">Permanency Plan</h4>
        <button class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Primary Permanency Plan </strong> : {{selectedPlan?.primarypermanency[0]?.plantypedescription}} </p>
        <p><strong>Plan Established Date </strong> : {{selectedPlan?.establisheddate ? (selectedPlan?.establisheddate) : ''}}</p>
        <p><strong>Comments </strong> : {{selectedPlan?.primarycomments}} </p>
        <p><strong>Concurrent Permanency Plan </strong> : {{selectedPlan?.concurrentpermanency[0]?.concurrentplandescription}}</p>

        <p><strong>Plan Established Date</strong> : {{selectedPlan?.establisheddate}} </p>
        <p><strong>Comments </strong> : {{selectedPlan?.concurrentcomments}} </p>


      </div>

    </div>
  </div>
</div>

<div class="modal  fade" id="review-plan" role="dialog" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-xl custom-wid modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title "> {{ 'Review Permanency Plan' | titlecase }}</h4>
        <button class="btn-close close pull-right" (click)="goBack()" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="row " *ngFor="let child of selectedPlanforReview">
          <ng-container>
            <div class="col-sm-12 m-t-10">
              <div class="card panel-default panel-theme">
                <div class="card-header">
                  <div class="row">
                  <div class="col-sm-3">
                    <h5>Name# </h5>
                    <p class="m-0">{{child?.firstname}} {{child?.lastname }}</p>
                  </div>
                  <div class="col-sm-3">
                    <h5>CJAMS PID# </h5>
                    <p class="m-0">{{child?.cjamspid }}</p>
                  </div>
                  <div class="col-sm-3">
                    <h5>D.O.B</h5>
                    <p class="m-0">{{child?.dob | date : 'MM/dd/yyyy'}}</p>
                  </div>
                  <div class="col-sm-3">
                    <h5>Gender</h5>
                    <p class="m-0">{{child?.gender}}</p>
                  </div>
</div>
                </div>
                <div class="card-body">
                  <ng-container *ngIf="child?.permanencyplans?.length">
                    <ng-container *ngFor="let plan of child.permanencyplans; let i=index;">


                      <div *ngIf="plan.status==='Review'" class="row placement-detail mb-10">
                        <hr *ngIf="i>0">
                        <div class="col-sm-4">
                          <h5>Primary Plan </h5>
                          <p class="m-0">{{plan?.primarypermanency[0]?.plantypedescription}}</p>
                        </div>
                        <div class="col-sm-4">
                          <h5>Plan Established Date </h5>
                          <p class="m-0">{{plan?.establisheddate ? ( plan?.establisheddate) : ''}}</p>
                        </div>
                        <div class="col-sm-4 ">
                          <h5> Comments</h5>
                          <p class="m-0">{{plan?.primarycomments}}</p>
                        </div>
                      </div>

                      <div *ngIf="plan.status==='Review'" class="row placement-detail mb-20">
                        <div class="col-sm-4">
                          <h5>Concurrent Plan</h5>
                          <p class="m-0">{{plan?.concurrentpermanency[0]?.concurrentplandescription}}</p>
                        </div>
                        <div class="col-sm-4">
                          <h5>Plan Established Date </h5>
                          <p class="m-0">{{plan?.establisheddate}}</p>
                        </div>
                        <div class="col-sm-4">
                          <h5> Comments</h5>
                          <p class="m-0">{{plan?.concurrentcomments}}</p>
                        </div>
                      </div>
                      <!-- @DEB: End date should display regardless of 
                          status however I have datamigration  team populate status correctly-->
                      <div *ngIf="plan.status==='Review'" class="row placement-detail mb-20">
                        <div class="col-sm-4">
                          <h5>Achieved Date</h5>
                          <p class="m-0">{{plan?.achieveddate | date: 'MM/dd/yyyy'}}</p>
                        </div>
                        <div class="col-sm-4">
                          <h5>End Date</h5>
                          <p class="m-0">{{plan?.enddate}}</p>
                        </div>
                        <div class="col-sm-4">
                          <h5>End Reason</h5>
                          <p class="m-0">{{plan?.reason}}</p>
                        </div>
                      </div>
                      <div *ngIf="plan.status==='Review' && plan.permanencyplanremainssame !== null" class="row placement-detail mb-20">
                        <div class="col-sm-4">
                          <h5>Permanency Plan Remains the same</h5>
                          <p class="m-0">{{plan.permanencyplanremainssame === true ? 'Yes' : 'No'}}</p>
                        </div>
                        <div class="col-sm-4">
                          <h5>Date/Time</h5>
                          <p class="m-0">{{plan.permanencyplanremainssamedate | date: 'MM/dd/yyyy h:mm a'}}</p>
                        </div>
                      </div>
                      
                     
                      
                      <form class="col-sm-12" [formGroup]="permanencyPlanQuestionnaireForm">
                          <div *ngIf="plan.status==='Review'" class="row placement-detail mb-20">
                            <div class="col-sm-4" *ngIf="!isViewQues || selectedPlanid !== plan?.permanencyplanid">
                              <a href="javascript:void(0)" (click)="viewQuesData(plan)">View More</a>
                            </div>
                            <div class="col-sm-4" *ngIf="isViewQues && selectedPlanid === plan?.permanencyplanid">
                              <a (click)="resetQuestForm()" href="javascript:void(0)" >View Less</a>
                            </div>
                          </div>
                          <div *ngIf="plan.status==='Review' && isViewQues && selectedPlanid === plan?.permanencyplanid "
                            class="row placement-detail mb-20">
                              <div class="checklist-content">
                                <div>
                                  <p>If the permanency plan is to return home or relative placement, is the placement in
                                    close proximity to the child’s family? </p>
                                  <mat-radio-group formControlName="isInClosedProximity">
                                    <mat-radio-button value="1">Yes</mat-radio-button>
                                    <mat-radio-button value="0">No</mat-radio-button>
                                    <mat-radio-button value="2">N/A</mat-radio-button>
                                  </mat-radio-group>
                                  <mat-form-field>
                                            <mat-label>Explanation required</mat-label>
                                    <textarea formControlName="isInClosedProximityExpln" matInput
                                      placeholder=""></textarea>
                                  </mat-form-field>
                                </div>
                                <div>
                                  <p>Discuss how the caregiver is meeting the safety needs of the child as well as the
                                    appropriateness and the restrictiveness of the
                                    present placement, the child’s adjustment to the placement, and how the placement meets
                                    the best interest and the special needs of the child. </p>
                                  <mat-form-field>
                                            <mat-label>Explanation required</mat-label>
                                    <textarea formControlName="meetingSafetyNeedsExpln" matInput
                                      placeholder=""></textarea>
                                  </mat-form-field>
                                </div>
                                <div>
                                  <p>Discuss and explain changes in the child’s placement during the last 6 months. Discuss
                                    any anticipated changes in placement in the next 6 months. </p>
                                  <mat-form-field>
                                            <mat-label>Explanation required</mat-label>
                                    <textarea formControlName="sixMonthsPlacementExpln" matInput
                                      placeholder=""></textarea>
                                  </mat-form-field>
                                </div>
                                <div>
                                  <p>Describe how the worker is carrying out specific court orders pertaining to the child.
                                  </p>
                                  <mat-form-field>
                                            <mat-label>Explanation required</mat-label>
                                    <textarea formControlName="courtOrdersExpln" matInput
                                      placeholder=""></textarea>
                                  </mat-form-field>
                                </div>
                                <div>
                                  <p>Document what steps have been taken to finalize the placement for children whose
                                    permanency plan is adoption or placement at another permanent home? </p>
                                  <mat-form-field>
                                            <mat-label>Court</mat-label>
                                    <textarea formControlName="permToPermExpln" matInput
                                      placeholder=""></textarea>
                                  </mat-form-field>
                                </div>
                                <div>
                                  <p>Describe how the worker is ensuring that the child receives safe and appropriate care.
                                  </p>
                                  <mat-form-field>
                                            <mat-label>Explanation required</mat-label>
                                    <textarea formControlName="safeAndCareExpln" matInput
                                      placeholder=""></textarea>
                                  </mat-form-field>
                                </div>
                                <div>
                                  <p>What efforts were made to promote permanency for the child during this assessment
                                    period? </p>
                                  <mat-form-field>
                                            <mat-label>Explanation required</mat-label>
                                    <textarea formControlName="assessmentPeriodExpln" matInput
                                      placeholder=""></textarea>
                                  </mat-form-field>
                                </div>
                                <div>
                                  <p>Has a Lifebook been prepared? If no, Explain? </p>
                                  <mat-form-field>
                                            <mat-label>Court</mat-label>
                                    <textarea formControlName="lifebookExpln" matInput
                                      placeholder=""></textarea>
                                  </mat-form-field>
                                </div>
                                <div>
                                  <p>Describe the parent’s compliance in developing and carrying out the terms of the
                                    Service Agreement.
                                    (Discuss specific outcomes during this assessment period). Describe the parent’s
                                    involvement including dates of case planning meetings,
                                    in working with the caseworker to develop the case plan. Discuss specific outcomes of
                                    ongoing and past services offered to the parent(s)
                                    during this assessment period, including times of participation and the results of any
                                    meetings. </p>
                                  <mat-form-field>
                                            <mat-label>Explanation required</mat-label>
                                    <textarea formControlName="serviceAgreementExpln" matInput
                                      placeholder=""></textarea>
                                  </mat-form-field>
                                </div>
                                <div>
                                  <p>Does the Provider agree with the Permanency Plan? </p>
                                  <mat-radio-group formControlName="isProviderAgree">
                                    <mat-radio-button value="1">Yes</mat-radio-button>
                                    <mat-radio-button value="0">No</mat-radio-button>
                                    <mat-radio-button value="2">N/A</mat-radio-button>
                                  </mat-radio-group>
                                  <mat-form-field>
                                            <mat-label>Explanation required</mat-label>
                                    <textarea formControlName="isProviderAgreeExpln" matInput
                                      placeholder=""></textarea>
                                  </mat-form-field>
                                </div>
                                <div>
                                  <p>Discuss services being provided to other significant persons including contacts with
                                    siblings, extended family, permanent foster parents, prospective adoptive parents, etc.
                                  </p>
                                  <p>Describe the child’s relationship with these significant others and/or any other
                                    relevant issues.Explain why child not placed with siblings,
                                    including how such placement would be contrary to the safety or well being of any of the
                                    siblings. </p>
                                  <mat-form-field>
                                            <mat-label>Explanation required</mat-label>
                                    <textarea formControlName="serviceAgreementForOtherExpln" matInput
                                      placeholder=""></textarea>
                                  </mat-form-field>
                                </div>
                              </div>
                          </div>
                    </form>
                    </ng-container>
                  </ng-container>

                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer wizard-buttons">
        <div class="col-md-12">
          <ng-container>
            <button type="button" class="btn-pri pull-right aut-btn-permanencyReject" [disabled]="isCompleted"
              (click)="approveorRejectPlacement('Rejected')">Reject</button>
            <button type="button" class="btn-pri pull-right aut-btn-permanencyApprove" [disabled]="isCompleted"
              (click)="approveorRejectPlacement('Approved')">Approve</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="active-case-exist" role="dialog" data-bs-backdrop="static">
  <div class="modal-dialog modal-md">
    <div class="modal-content ">
      <div class="modal-header">
        <h4 class="modal-title"> <i style="color: gray;" class="fa fa-exclamation-triangle" aria-hidden="true"></i>STOP</h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p> An active adoption case exists for child. A new permanency plan can therefore not be created. </p>
      </div>
      <div class="modal-footer">
        <div class="">
          <button class="btn-pri" type="button" data-bs-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in" id="history-list" role="dialog">
  <div class="modal-dialog modal-lg custom-wid" role="document">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <h4 class="modal-title">History</h4>
        <button class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
          <div class="row">
              <div class="col-md-12">
                  <h4>Search </h4>
               </div>
              <div class="col-sm-3 m-t-10">
                  <common-date-picker [(ngModel)]="fromDate" [max]="maxDate" placeholder="Updated From" (valueChange)="fromDateChanged($event)" >
                    </common-date-picker>
              </div>
              <div class="col-sm-3 m-t-10">
                  <common-date-picker [(ngModel)]="toDate" [max]="maxDate" [min]="toMinDate"  placeholder="Updated To" (valueChange)="toDateChanged($event)">
                    </common-date-picker>
              </div>
              <div class="col-sm-3">
                      <label class="m-0">Worker</label>
                          <ng-select class="aut-lst-removalType select-source" [searchable]="true" [clearable]="false" [(ngModel)]="updatedby">
                              <ng-option value=""> Select </ng-option>
                              <ng-option *ngFor="let item of caseworkerList" [value]="item.userid">{{item.username}} </ng-option>
                          </ng-select>
              </div>
              
              <div class="col-sm-3">
                  <button class="btn-pri m-t-15"  (click)="loadHistory(1)" >Search</button>
                  <button class="btn-pri m-t-15" (click)="clearSearch()" >Clear</button>
                      
              </div>
          </div>
        <div class="row">
          <div class="m-r-10 m-l-10 table-responsive table-theme ">
            <table class="table table-striped"  sortable-table (sorted)="onHistorySorted($event)" aria-describedby="History details">
              <thead>
                <tr>
                  <th id="case-number" sortable-column="servicecasenumber">Case #</th>
                  <th id="permanency-plan" sortable-column="primarypermanencytype">PERMANENCY PLAN</th>
                  <th id="plan-established-date" sortable-column="establisheddate">Plan Established Date</th>
                  <th id="plan-end-date" sortable-column="enddate">PLAN END DATE</th>
                  <th id="status" sortable-column="status">Status</th>
                  <th id="updated-by" sortable-column="updatedby">Updated by</th>
                  <th id="updated-on" sortable-column="updatedon">Updated on</th>

                </tr>
              </thead>
              <tbody class="history-details">
                <ng-container  *ngIf="planHistory?.length">
                  <tr  *ngFor="let item of planHistory; let index = index;">
                    <td>{{item?.servicecasenumber}}</td>
                    <td>
                      {{item?.primarypermanencytype}}
                    </td>
                    <td>
                      {{item?.establisheddate | date: 'MM/dd/yyyy'}}
                    </td>
                    <td>
                      {{item?.enddate | date: 'MM/dd/yyyy'}}
                    </td>
                    <td>
                      {{item?.status}}
                    </td>
                    <td>
                      {{item?.updateduserdetails?.firstname }} {{item?.updateduserdetails?.lastname }}
                      <br>{{item?.updateduserdetails?.description}}
                    </td>
                    <td>
                      {{item?.updatedon | date: 'MM/dd/yyyy h:mm a'}}
                    </td>
                  </tr>

                </ng-container>
                <tr *ngIf="planHistory?.length === 0">
                  <td colspan="7">No data found.</td>
                </tr>
              </tbody>
                  
            </table>
            <div class="col-sm-12 text-center mt-20">
                <div *ngIf="historyTotalRecords > 10">
                    <pagination [totalItems]="historyTotalRecords" [(ngModel)]="historyPaginationInfo.pageNumber"
                        (pageChanged)="historyPageChanged($event)" class="pagination-sm"
                        [boundaryLinks]="true" [maxSize]="10"
                        [itemsPerPage]="historyPaginationInfo.pageSize"></pagination>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in" id="history-list-review" role="dialog">
  <div class="modal-dialog modal-xl custom-wid" role="document">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <h4 class="modal-title">History</h4>
        <button class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="clearfix">
          <ng-container *ngFor="let child of historyReviewList; let i=index;">
            <ng-container>
              <div class="row m-b-20">
                <div class="col-sm-12">
                  <ul class="list-unstyled list-inline theme-heder-bg minus-icon">
                    <li class="list-inline-item">
                      <h5>{{child?.fullname}}</h5>
                    </li>
                    <li class="m-l-30 list-inline-item"><span><span> Age: </span><strong>{{child?.age}} </strong></span></li>
                    <li class="m-l-30 list-inline-item"><span><span>DOB: </span><strong>{{child?.dob |
                          date:'MM/dd/yyyy'}}</strong></span></li>
                    <li class="m-l-30 list-inline-item"><span><span>Gender: </span><strong>{{child?.gender}}</strong></span></li>
                  </ul>
                </div>

                <div class="col-sm-12">
                  <div class="table-responsive table-theme brd">
                    <table class="table table-striped" aria-describedby="permanency plan details">
                      <thead>

                        <tr>
                          <th id="permanency-plan">Permanency Plan</th>
                          <th id="plan-established-date">Plan Established Date</th>
                          <th id="plan-end-date">Plan End Date</th>
                          <th id="status">Status</th>
                          <th id="action">Action</th>
                          <th id="plan-review-status">PLAN REVIEW STATUS</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody class="history-details">
                        <ng-container *ngIf="child?.permanencyplans?.length">
                          <ng-container *ngFor="let item of child?.permanencyplans; let index = index;">
                            <tr
                              *ngIf="!item?.status || item?.status === 'Review' || item?.status === 'Approved' ||  item?.status === 'Rejected'">

                              <td>
                                <span *ngIf="item?.primarypermanency?.length">
                                  {{item?.primarypermanency[0]?.plantypedescription}}
                                </span>
                              </td>
                              <td>{{ item?.establisheddate ? (item?.establisheddate) : ''}}</td>
                              <td>{{item?.enddate}}</td>
                              <td>
                                <span *ngIf=" item?.permanencyplanremainssame!==null">
                                  {{item?.status ? (item?.status === 'Rejected' ? 'Approved' : item?.status) : 'Draft'}}
                                </span>
                                <span *ngIf=" item?.permanencyplanremainssame===null">
                                  {{item?.status ? (item?.status === 'Rejected' ? 'Rejected' : item?.status) : 'Draft'}}
                                </span>
                              </td>
                              <td>
                                <ng-container>
                                  <span style="margin-right: 5px;"
                                    *securityKeyNew="'permanencyplan,permanencyplan.permanencyplanlist.view'">
                                    <a (click)="viewPermanency(item, child, true);setPermanencyplanid(item, 'view')">
                                      <em matTooltip='View' class="fa fa-eye text-16"></em>
                                    </a>
                                  </span>
                                  <span style="margin-right: 5px;"
                                    *securityKeyNew="'permanencyplan,permanencyplan.permanencyplanlist.view'">
                                    <a (click)="auditlog(item, child, true);setPermanencyplanid(item, 'view')">
                                      <em matTooltip='History' class="fa fa-hourglass m-r-5"></em>
                                    </a>
                                  </span>
                                  <span style="margin-right: 5px;"
                                    *securityKeyNew="'permanencyplan,permanencyplan.permanencyplanlist.play'">
                                    <a *ngIf="item?.status==='Approved' && !(isReUnification(item))"
                                      class="aut-Icn-Play" data-bs-placement="top"
                                      (click)="routeToPlan(item, child);setPermanencyplanid(item, 'view')">
                                      <em matTooltip='Proceed' class="fa fa-play-circle-o"></em>
                                    </a>
                                    <span *ngIf="item?.primarypermanency?.length && item?.childhasactivegap">
                                      (active GAP)
                                    </span>
                                  </span>
                                </ng-container>
                              </td>
                              <td><span
                                  *ngIf="(item?.status === 'Approved' || item?.status === 'Rejected') && (item?.permanencyplanremainssame !== null)">{{item?.status}}</span>
                              </td>
                              <td>
                                <a
                                  (click)="searchHistoryWidId(item.permanencyplanid, 'accordion-tables'+ index, index)">
                                  <i [class]="showHistoryDetail === index ? 'fa fa-chevron-up':'fa fa-chevron-down'"
                                    aria-hidden="true"></i>
                                </a>
                              </td>
                            </tr>
                            <tr [id]="'accordion-tables' + index" *ngIf="showHistoryDetail === index"  class="inner-tb-row fin-inner-tb">
                              <td colspan="7">
                                <div class="row">
                                  <div class="m-r-10 m-l-10 table-responsive table-theme ">
                                    <table class="table table-striped" sortable-table (sorted)="onHistorySorted($event)"
                                      aria-describedby="show history details">
                                      <thead>
                                        <tr>
                                          <th id="submitted-by-caseworker">Submitted By Caseworker</th>
                                          <th id="submitted-on">Submitted On</th>
                                          <th id="reviewed-by-supervisor">Reviewed By Supervisor</th>
                                          <th id="reviewed-on">Reviewed On</th>
                                          <th id="primary-permanency-plan-status">Is the primary permanency plan
                                            remaining the same?</th>
                                          <th id="review-status">Review Status</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <ng-container *ngIf="planHistoryDetails?.length">
                                          <tr *ngFor="let item of planHistoryDetails; let index = index;">
                                            <td *ngIf="item.status == 'Approved' ||  item.status == 'Rejected'">
                                            </td>
                                            <td *ngIf="item.status !== 'Approved' && item.status !== 'Rejected'">
                                              {{ item.fromuser ? item.fromuser : item.phcaseworker }}
                                            </td>
                                            <td *ngIf="item.status == 'Approved' ||  item.status == 'Rejected'">
                                              <!-- {{item.caseworkerupdated | date: 'MM/dd/yyyy h:mm a'}} -->
                                            </td>
                                            <td *ngIf="item.status !== 'Approved' && item.status !== 'Rejected'">
                                              {{ item?.updatedon | date: 'MM/dd/yyyy h:mm a'}}
                                            </td>
                                            <td *ngIf="item.status == 'Approved' ||  item.status == 'Rejected'">
                                              {{ item.fromuser ? item.fromuser : item.phcaseworker }}
                                            </td>
                                            <td *ngIf="item.status == 'Approved' ||  item.status == 'Rejected'">
                                              {{ item?.insertedon | date: 'MM/dd/yyyy h:mm a'}}
                                            </td>
                                            <td *ngIf="item.status !== 'Approved' && item.status !== 'Rejected'">
                                            </td>
                                            <td *ngIf="item.status !== 'Approved' && item.status !== 'Rejected'">
                                            </td>
                                            <td>
                                              {{item?.permanencyplanremainssame}}
                                            </td>
                                            <td>
                                              {{item?.status}}
                                            </td>
                                          </tr>

                                        </ng-container>
                                        <tr *ngIf="planHistoryDetails?.length === 0">
                                          <td colspan="6">No data found.</td>
                                        </tr>
                                      </tbody>

                                    </table>
                                    <div class="col-sm-12 text-center mt-20">
                                      <div *ngIf="historyTotalRecords > 10">
                                        <pagination [totalItems]="historyTotalRecords"
                                          [(ngModel)]="historyPaginationInfo.pageNumber"
                                          (pageChanged)="historyPageChanged($event)" class="pagination-sm"
                                          [boundaryLinks]="true" [maxSize]="10"
                                          [itemsPerPage]="historyPaginationInfo.pageSize"></pagination>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </ng-container>
                        </ng-container>
                        <tr *ngIf="!child?.permanencyplans?.length">
                          <td colspan="7">No Permanency Plans added.</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="permanancy-plan-alert" role="dialog" data-bs-backdrop="static" >
    <div class="modal-dialog modal-md custom-wid">
        <!-- Allegation Configuration - Modal content-->
        <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Alert</h4>
            <button type="button" class="btn-close close pull-right" title="close" data-bs-dismiss="modal" ></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12 form-letter-tab mrg-top0" *ngFor="let child of permanancyPlanDueList">
                        Please review your Permanency Plan for the Child ("{{child}}")
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="modal fade " id="active-permenency-plan-exist" role="dialog" data-bs-backdrop="static">
  <div class="modal-dialog modal-md">
    <div class="modal-content ">
      <div class="modal-header">
        <h4 class="modal-title">Alert</h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p> An active permanency plan exists for child/children. A new permanency plan can therefore not be created. </p>
      </div>
      <div class="modal-footer">
        <div class="">
          <button class="btn-pri" type="button" data-bs-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>