.disabledField {
    pointer-events: none;
    cursor: not-allowed;
}
.modal-body{
    max-height: calc(100vh - 175px) !important;
}

a {
    color: #337ab7 !important;
    text-decoration: none !important;
}