.modal .modal-body {
    max-height: 700px;
}
table.goals-grid th {
    padding: 10px;
}
table.goals-grid th:first-child {
    width: 200px;
}
table.goals-grid th:nth-child(2) {
    width: 40%;
}
table.card-goals {
    border: 1px solid #ece9e9;
    min-height: 500px;
}
table.card-goals .nav > li > a {
    padding: 15px;
}
table.goals-grid thead {
    background: #383636;
    color: #fff;
}
// table.goals-grid tbody{border: 1px solid #ccc;}
table.goals-grid {
    overflow: hidden;
}
table.goals-grid td:last-child {
    vertical-align: middle;
}
table.goals-grid td:last-child .fa {
    padding-right: 15px;
}
table.goals-grid td:last-child .fa:last-child {
    padding-right: 0px;
}

// radio btn group

.mmbtn-grp input[type='radio'] {
    position: absolute;
    visibility: hidden;
    display: none;
}
.mmbtn-grp label {
    color: #9a929e;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    margin-right: 15px;
    background: #e0dfdf;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 25px;
}
.mmbtn-grp input[type='radio']:checked + label {
    color: #ffffff;
    background: #00A2FD;
    border-radius: 50%;
}
// .mmbtn-grp label + input[type=radio] + label {
//     border-left: solid 3px #675f6b;
// }
.mmbtn-grp .radio-group {
    border: solid 3px #675f6b;
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.expand-table select.form-control {
    height: 28px;
    padding: 4px 8px;
    font-size: 13px;
}
.select-icon:after {
    position: absolute;
    top: 11px;
    right: 10px;
    border-width: 7px 5px 0 5px;
}


.tab-pane {
    display: none;
}
.tab-pane.active {
    display: block;
}


.form-search-person .form-group .form-control {
    width: 63%;
}
.dangerwork-form.address-form label {
    width: 37%;
    text-align: left;
}
.label-notes{
    width: 17% !important;
}
.form-control-notes {
    width: 83% !important;
}
#add-newagencyprovider .ng-select .ng-clear-zone{
    display: none !important;
}

// #add-newservicedetail .ng-select .ng-clear-zone{
//      display: none !important;
// }

label.full-width {
    margin-top: 8px !important;
}
.alert-align {
    float: right;
    width: 100%;
    text-align: center;
    position: absolute;
}
.fa-calendar, .fa-clock-o {
    position: absolute;
    right: 15px;
    top: 10px;
}
button.save-draft[disabled] {
    background: #e5e5e5;
}
.save-draft {
    background: none;
    border: 1px solid #41d1e2;
    color: #41d1e2;
    font-weight: bold;
    padding: 6px 15px;
    border-radius: 4px;
}
.form-group {
    margin-bottom: 15px;
}
.ng-select {
    display: inline-block;
    width: 63%;
}
.ng-select-dropdown-outer {
    z-index: 6;
}

.recording-chat-model label {
    width: 40%;
}
.recording-chat-model .form-group p {
    height: 34px;
}
.recording-chat-model label.control.control--checkbox {
    padding-left: 0;
}
.recording-chat-model .control__indicator {
    right: 55%;
    left: auto;
}
.recording-chat-model .media-details .box-grid {
    // height: 260px;
    overflow: auto;
    margin: 10px 0 0;
}
.recording-chat-model .media-details .media {
    margin-bottom: 25px;
}
.recording-chat-model .media-details h4 {
    color: #4c4848;
    font-size: 14px;
    font-weight: 700;
}
.recording-chat-model .media-details .media-object {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.recording-chat-model .media-details .media-heading {
    color: #00bcd3;
    font-size: 12px;
}
.recording-chat-model .media-details .media-heading span {
    color: #8a8a8a;
    font-size: 10px;
    float: right;
}
.green {
    color: green;
}

#myModal-recordings-edit .form-search-person .form-group{margin-bottom: 15px;}
#Recording .table .word-break ul{padding-left: 25px;}
.person-contected{width: 63%;float: left;}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.person-contected .mat-form-field-label{text-align: left;}

.modal textarea:focus, .modal input:focus, .modal select:focus {
    border-bottom: 1px solid #cccccc !important;
    box-shadow: none !important;
}

.contact-yesno{width: 63%;}
.contact-yesno label{width: auto; padding-right: 10px;}
.custom-modal .select-icon:after{right: 16px;}
.txt-left.form-control-size label{text-align: left;}

.form-control-size .select-icon:after{right: 16px;}

.mat-mdc-form-field input:focus {
    border-bottom: 0px !important;
}
.agencyDetailsSecond .dangerwork-form.address-form label {
    width: 36%;
    margin-top: 5px !important;
}
.disabled{
    color:#B0B0B0;
}

#add-newagencyprovider.modal .modal-body {
    max-height: 90vh;
    overflow: inherit;
    overflow-y: auto;
}





