<div class="row">
  <div class="col-sm-6 text-start">
    <h4>   Behavioural /Mental Health Situation/ Assessments  </h4>
  </div>
  <div class="col-sm-6 text-end m-t-20">
    <a class="btn btn-pri" id="backbutton" [routerLink]="['../list']">BACK</a>
  </div>
</div>
<div class="row" [formGroup]="behaviouralhealthinfoForm">
  <div class="col-sm-6">
    <p class="bg-theme">Clinician Contact Info</p>
    <mat-form-field>
      <mat-label>Clinician Name</mat-label>
      <input required formControlName="clinicianname" matInput placeholder="">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address Line 1</mat-label>
      <input required matInput formControlName="address1" placeholder="">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address Line 2</mat-label>
      <input formControlName="address2" matInput placeholder="">
    </mat-form-field>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>City</mat-label>
          <input formControlName="city" matInput placeholder="">
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>State</mat-label>
          <mat-select formControlName="state" placeholder="" (selectionChange)="loadCounty()">
            <mat-option *ngFor="let item of stateDropdownItems$ | async" value="{{item.value}}">{{item.text}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>County</mat-label>
          <mat-select formControlName="county" placeholder="">
            <mat-option *ngFor="let item of countyDropDownItems$ | async" value="{{item.countyid}}">{{item.countyname}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <mat-label>Zip Code</mat-label>
          <input matInput formControlName="zip" mask="00000-9999" [clearIfNotMatch]="true" placeholder="">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-sm-6 m-t-30">
    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <input matInput formControlName="phone" mask="(000) 000-0000" placeholder="">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Current Diagnosis</mat-label>
      <input matInput formControlName="currentdiagnoses" placeholder="">
    </mat-form-field>
    <div class="row">
      <div class="col-sm-8">
        <mat-form-field>
          <mat-label>Report Name</mat-label>
          <input matInput required formControlName="reportname" placeholder="">
        </mat-form-field>
      </div>
      <div class="col-sm-4 cusmm-fileupload">
        <label class="btn-bs-file btn btn-pri">
          <i class="fa fa-cloud-upload" aria-hidden="true"></i>
          <input type="file" (ngxf-select)="uploadFile($event)" [ngxf-validate]="{ size: { min: 5 } }" accept=".mp3,.ogg,.wav,.acc,.flac,.aiff,.mp4,.mov,.avi,.3gp,.wmv,.mpeg-4,.pdf,.txt,.docx,.doc,.xls,.xlsx,.jpeg,.jpg,.png,.ppt,.pptx,.gif,.cr2,.rtf">UPLOAD
        </label>
      </div>
    </div>

  </div>

  <div class="col-sm-12 m-b-20">
    <div class="pull-right">
      <span *ngIf="reportMode === 'add'">
        <button class="btn-pri" (click)="resetForm()">Clear</button> &nbsp;
        <button class="btn-pri" [disabled]="behaviouralhealthinfoForm.pristine || behaviouralhealthinfoForm.invalid"
          (click)="addUpdate(behaviouralhealthinfoForm.value)">Add</button>
      </span>
      <span *ngIf="reportMode === 'edit'">
        <button class="btn-pri" [disabled]="behaviouralhealthinfoForm.pristine || behaviouralhealthinfoForm.invalid"
          *ngIf="editMode === true" (click)="addUpdate(behaviouralhealthinfoForm.value)">Update</button>
      </span>
    </div>
  </div>
  <br />
  <br />

</div>