<div class="tab-content no-shadow">
  <div id="add-Profile-info" class="tab-pane fade show active">
    <div class="content-pad ">
      <div class="row">
        <div class="col-sm-8">
          <h4 class="header-4">Youth Status</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field>
            <mat-label>Select</mat-label>
            <mat-select [(ngModel)]="selectedValue" placeholder="" (selectionChange)="changedIntake(1, $event.value)">
              <mat-option [value]="defaultValue">ALL</mat-option>
              <mat-option *ngFor="let item of intakeList" [value]="item.value">{{item.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-8 pull-right text-end" *ngIf="showOpenButton">
          <button class="btn btn-pri" (click)="changeStatus(selectedValue)">{{openDescription}}</button>
        </div>
      </div>
      <div class="table-responsive table-theme m-t-20">
        <table class="table table-striped" *ngIf="{intakelists: intakeListAll$ | async} as intakelists" aria-describedby="tbl-youth-status">
          <thead>
            <tr>
              <th scope="col">Intake #</th>
              <th scope="col">Case #</th>
              <th scope="col">Active Status</th>
              <th scope="col">Created User</th>
              <th scope="col">Created Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of intakeListAll$ | async">
              <td>{{item.intakenumber}}</td>
              <td>{{item.servicerequestnumber}}</td>
              <td>{{item.description}}</td>
              <td>{{item.createdname}}</td>
              <td>{{item.effectivedate | date : 'MM/dd/yyyy hh:mm a' }}</td>
              <td>
                <ul class="list-inline list-unstyled m-b-0" *ngIf="item.manualclose">
                  <li><a (click)="changeStatus(item)" >Close</a></li>
                </ul>
              </td>
            </tr>
            <tr *ngIf="(intakeListAll$ | async)?.length === 0">
              <td colspan="5">No Data found.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="notes-popup" role="dialog" aria-labelledby="myModalLabel" data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
              <h4 class="modal-title">{{isStatus}} Notes</h4>
              <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body dashboard-cont">
                <div class="row">
                    <div class="col-md-12">
                        <quill-editor [placeholder]="notesPlaceholder" [(ngModel)]="updateNotes" format="html"></quill-editor>
                    </div>
                </div>
            </div>
            <div class="modal-footer wizard-buttons">
                <button class="btn-pri" (click)="updateStatus()">{{isStatus}}</button>
            </div>
        </div>
    </div>
</div>