<div class="print-none p-20">
        <div class="col-sm-12 m-t-20">
            <h3 class="fin-h3">Client Payment Details</h3>
            <button type="button" class="btn-pri text-uppercase pull-right" (click)="backToSearch()">Back To Search</button>
        </div>
        <div class="col-sm-12 m-t-30 row">
                <div class="col-sm-12 col-lg-6">
                  <div class="">
                    <label>Client Name : </label>
                    <span>{{selectedClient?.client_name}}</span>
                  </div>
                  <div class="m-t-10">
                      <label>DOB : </label>
                      <span>{{selectedClient?.client_dob | date:'MM/dd/yyyy'}}</span>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <div class="">
                    <label>Client ID : </label>
                    <span>{{selectedClient?.client_id}}</span>
                  </div>
                  <div class="m-t-10">
                    <label>SSN : </label>
                    <span>{{selectedClient?.ssn | ssnmaskpipe:showSsnMask}}</span> 
                  </div>
                </div>
            </div>
        <div class="col-sm-12 m-t-20">
            <h3 class="fin-h3">Case Worker</h3>
    
            <div class="table-responsive table-theme">
                <table class="table table-striped" aria-describedby="Case worker List">
                    <thead>
                        <tr>
                            <th id="caseIdHeader">CASE ID</th>
                            <th id="caseNameHeader">CASE NAME</th>
                            <th id="caseWorkerIdHeader">CASE WORKER ID</th>
                            <th id="caseWorkerHeader">CASE WORKER</th>
                            <th id="phoneNumberHeader">PHONE NUMBER</th>
                            <th id="localDepartHeader">LOCAL DEPARTMENT</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="caseWorker">
                        <tr>
                            <td>{{caseWorker.case_id}}</td>
                            <td>{{caseWorker.case_nm}}</td>
                            <td>{{caseWorker.case_worker_id}}</td>
                            <td>{{caseWorker.case_worker_name}}</td>
                            <td>{{caseWorker.case_worker_phone_no}}</td>
                            <td>{{caseWorker.local_dept}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
    
    
    
        <div class="col-sm-12 m-t-20">
    
            <h3 class="fin-h3">Payment History</h3>
            <div class="row">
                <div class="col-sm-12 col-lg-2">
                    <mat-form-field>
                        <mat-label>Payment Type</mat-label>
                        <mat-select  (selectionChange)="paymentHistory($event.value)">
                            <mat-option>Select</mat-option>
                            <mat-option *ngFor="let payment of paymentTypeList" [value]="payment.picklist_value_cd">
                                {{payment.value_tx}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-lg-7">
                    <p style="margin-top: 20px;">
                        Payment Dates From: {{paymentdaterangefrom ? (paymentdaterangefrom | date:'MM/dd/yyyy') : '---'}} To:
                        {{paymentdaterangeto ? (paymentdaterangeto | date:'MM/dd/yyyy') : '---'}}
                    </p>
                </div>
                <div class="col-sm-12 col-lg-3 m-t-20">
                    <button class="btn btn-pri pull-right" data-bs-target="#downloadReport" data-bs-toggle="modal"
                        target="_blank" matTooltip="DHS 111 Report"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download</button>
                </div>
            </div>
            <div class="table-responsive petition-table table-theme m-t-10">
                <table class="table table-striped customTable firsttable" sortable-table (sorted)="onHistorySorted($event)" aria-describedby="Payment History List">
                    <thead>
                        <tr>
                            <th id="paymentIdHeader" sortable-column="paymentid" sort-direction="desc">PAYMENT ID</th>
                            <th id="paymentTypeHeader" sortable-column="paymenttype">PAYMENT TYPE</th>
                            <th id="categoryCodeHeader" sortable-column="paymenttype">CATEGORY CODE</th>
                            <th id="paymentDateHeader" sortable-column="paymentDate">PAYMENT DATE</th>
                            <th id="paymentStatusHeader" sortable-column="paymentstatus">PAYMENT STATUS</th>
                            <th id="payeeHeader" sortable-column="payee">PAYEE</th>
                            <th id="totalAMountHeader">TOTAL AMOUNT</th>
                            <th id="actionHeader">ACTION</th>
                        </tr>
                    </thead>
                    <tbody class="client-details-view" *ngIf="paymentHistoryResult && paymentHistoryResult.length > 0">
                        <ng-container *ngFor = "let payment of paymentHistoryResult; let index = index">
                            <tr id="client-details-view-{{index}}" (click)="viewPayment('add', payment, 'accordion-tables'+ index ,index)">
                                <td>{{payment.payment_id}}</td>
                                <td>{{payment.payment_type_nm}}</td>
                                <td>{{payment.fiscal_category_cd}}</td>
                                <td>{{payment?.payment_dt | date:'MM/dd/yyyy'}}</td>
                                <td>{{payment.payment_status_nm}}</td>
                                <td>{{payment.payee}}</td>
                                <td>{{(payment.paymentdetail[0]?payment.paymentdetail[0].sum?payment.paymentdetail[0].sum:0:0) | cjamsCurrency}}</td>
                                <td>
                                    <a data-bs-toggle="modal" data-bs-target="#payment-interface"
                                    (click)="paymentInterfaceStatus(payment.payment_id, payment.payment_status_nm, index)"><i class="fa fa-eye"
                                    aria-hidden="true"></i></a> |
                                    <a class="pull-right m-r-10"><em [class]="showHistoryDetail === index ? 'fa fa-chevron-up':'fa fa-chevron-down'"
                                                        aria-hidden="true"></em></a>
                                </td>
                            </tr>
                            <tr id="accordion-tables{{index}}" *ngIf="showHistoryDetail === index">
                                <td colspan="8">
                                    <div class="table-responsive table-theme">
                                        <table class="table customTable innerTable" aria-describedby="Payment details">
                                            <thead>
                                                <tr>
                                                    <th id="payDetailIdHeader">PAYMENT DETAIL ID</th>
                                                    <th id="catCodeHeader">CATEGORY CODE</th>
                                                    <th id="servStructureHeader">SERVICE/PLACEMENT STRUCTURE</th>
                                                    <th id="statDateHeader">START DATE</th>
                                                    <th id="EdDateHeader">END DATE</th>
                                                    <th id="grossAmountHeader">GROSS AMOUNT</th>
                                                    <th id="ewcAmountHeader">RECEIVABLE AMOUNT</th>
                                                    <th id="netAmountHeader">NET AMOUNT</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="paymentDetail">
                                                <tr *ngFor="let payment of paymentDetail">
                                                    <td>{{payment.payment_detail_id}}</td>
                                                    <td>{{payment.final_fiscal_category_cd}}</td>
                                                    <td>{{payment?.service_nm}}</td>
                                                    <td>{{payment.final_service_start_dt | date:'MM/dd/yyyy'}}</td>
                                                    <td>{{payment.final_service_end_dt | date:'MM/dd/yyyy'}}</td>
                                                    <td>{{((payment.gross_amount_no) ? payment.gross_amount_no : '0.00') | cjamsCurrency}}</td>
                                                    <td>{{((payment.receivable_balance_no) ? payment.receivable_balance_no : '0.00') | cjamsCurrency}}</td>
                                                    <td>{{((payment.gross_amount_no) ? payment.gross_amount_no : '0.00') | cjamsCurrency}}</td>
                                                </tr>
                                                </tbody>
                                        </table>
                                    </div>
                                    <div class="text-center" *ngIf="totalRecords > 10">
                                        <pagination [totalItems]="totalRecords" [(ngModel)]="pageInfo.pageNumber"
                                            (pageChanged)="pageNumberChanged($event.page)" class="pagination-sm" [boundaryLinks]="true"
                                            [maxSize]="10">
                                        </pagination>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
    
            <div class="text-center" *ngIf="totalcount > 10">
              <pagination [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber"
                  (pageChanged)="pageChanged($event.page)" class="pagination-sm" [boundaryLinks]="true"
                  [maxSize]="10">
              </pagination>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="payment-interface" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Payment & Interface Status</h4>
                    <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
                    <button class="print-btn" (click)="printProvider()">
                       <em class="fa fa-print"></em>
                    </button>
                </div>
    
                <div class="modal-body">
                    <div class="row" *ngFor="let payment of paymentInterface">
                        <div class="col-sm-12">
                            <div class="table-responsive table-theme mt-20">
                                <table class="table table-striped" aria-describedby="Provider Details">
                                    <thead>
                                        <tr>
                                            <th id="providerNameHeader">Payee/Provider Name</th>
                                            <th id="paymIdHeader">Payment ID</th>
                                            <th id="paymDateHeader">Payment Date</th>
                                            <th id="paymTypeHeader">Payment Type</th>
                                            <th id="paymStatusHeader">Payment Status</th>
                                            <th id="checStatusHeader">Check Status</th>
                                            <th id="actHeader" class="print-none">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{payment.providername}}</td>
                                            <td>{{payment.payment_id}}</td>
                                            <td>{{payment.payment_dt | date : 'MM/dd/yyyy'}}</td>
                                            <td>{{payment.payment_type_nm}}</td>
                                            <td>{{payment.payment_status_nm}}</td>
                                            <td>{{payment.check_status_nm}}</td>
                                            <td class="print-none">
                                                <button class="no-bg" (click)="editPayment(payment)" type="button" matTooltip="Update Check Status"><i class="fa fa-pencil"
                                                    aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    <div class="col-sm-12 m-t-20">
                            <h4 class="h4-title">Payment Details</h4>
                            <div class="row m-t-20 payDetails">
                                <div class="col-sm-12 col-lg-6 col-xl-6">
                                    <div class="">
                                        <label>Payment Date : </label>
                                        <span *ngIf="payment && payment.payment_dt">{{payment.payment_dt | date : 'MM/dd/yyyy'}}</span>
                                    </div>
                                    <div class="">
                                        <label>Payment ID : </label>
                                        <span *ngIf="payment && payment.payment_id">{{payment.payment_id}}</span>
                                    </div>
                                    <div class="">
                                        <label>Payee/Provider Name : </label>
                                        <span *ngIf="payment && payment.providername">{{payment.providername}}</span>
                                    </div>
                                    <div class="">
                                        <label>Payment Status : </label>
                                        <span *ngIf="payment && payment.payment_status_nm">{{payment.payment_status_nm}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6 col-xl-6">
                                    <div class="">
                                        <label>Payment Type : </label>
                                        <span *ngIf="payment && payment.payment_type_nm">{{payment.payment_type_nm}}</span>
                                    </div>
                                    <div class="">
                                        <label>Provider ID : </label>
                                        <span *ngIf="payment && payment.provider_id">{{payment.provider_id}}</span>
                                    </div>
                                    <div class="">
                                        <label>Net Amount : </label>
                                        <span *ngIf="payment && payment.gross_amount_no">{{(payment.gross_amount_no - (payment.offset_amount_no ? payment.offset_amount_no : 0)) | cjamsCurrency }}</span>
                                    </div>
                                    <div class="">
                                        <label>Check Status Change Date : </label>
                                        <span *ngIf="payment && payment.check_status_dt">{{payment.check_status_dt | date: 'MM/dd/yyyy'}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 m-t-20">
                            <h5 class="h5-title">History</h5>
                            <div class="table-responsive table-theme m-t-10">
                                <table class="table table-striped" aria-describedby="Child Account List">
                                    <thead>
                                        <tr>
                                            <th id="caPaymentHistoryIdHeader">Payment History ID</th>
                                            <th id="caPaymentIdHeader">Payment ID</th>
                                            <th id="caCheckStatusHeader">Check Status</th>
                                            <th id="caLocalDeptHeader">Local Dept</th>
                                            <th id="caPhoneNumberHeader">Phone Number</th>
                                            <th id="caUpdatedByHeader">Updated By</th>
                                            <th id="caUpdatedDateHeader">Updated Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let pay of payment?.history">
                                            <td>{{pay.payment_history_id}}</td>
                                            <td>{{pay.payment_id}}</td>
                                            <td>{{pay.value_tx}}</td>
                                            <td>{{pay.local_dept}}</td>
                                            <td>{{pay.phone_no}}</td>
                                            <td>{{pay.entered_by}}</td>
                                            <td>{{pay.create_ts |date: 'MM/dd/yyyy'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center" *ngIf="paymentInterface?.length === 0">
                        <p>No records found</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">

                        <div class="col-sm-12" *ngIf="paymentInterface && paymentInterface.length > 0">
                            <button type="button" data-bs-dismiss="modal" class="btn-pri pull-right">Close</button>                            
                            <button type="button" *ngIf="paymentinterfaceStatuses === 'Approved' || paymentinterfaceStatuses === 'Interfaced'" data-bs-dismiss="modal" data-bs-target="#interface-details" data-bs-toggle="modal" class="btn-pri pull-left">Interface Status</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="modal fade" id="interface-details" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Interface Status</h4>
                        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" data-bs-target="#payment-interface" data-bs-toggle="modal"></button>
                    </div>
                    <div class="modal-body" *ngFor="let payment of paymentInterface">
                    <div class="col-sm-12 m-t-20">
                        <h4 class="h4-title">Payment Details</h4>
                        <div class="row m-t-20 payDetails">
                            <div class="col-sm-12 col-lg-6">
                                <div class="">
                                    <label>Payment Date : </label>
                                    <span>{{payment.payment_dt | date : 'MM/dd/yyyy'}}</span>
                                </div>
                                <div class="">
                                    <label>Payment ID : </label>
                                    <span>{{payment.payment_id}}</span>
                                </div>
                                <div class="">
                                    <label>Payee/Provider Name : </label>
                                    <span>{{payment.providername}}</span>
                                </div>
                                <div class="">
                                    <label>Payment Status : </label>
                                    <span>{{payment.payment_status_nm}}</span>
                                </div>
                                <div class="">
                                    <label>Check Status : </label>
                                    <span>{{payment.check_status_nm}}</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="">
                                    <label>Payment Type : </label>
                                    <span>{{payment.payment_type_nm}}</span>
                                </div>
                                <div class="">
                                    <label>Provider ID : </label>
                                    <span>{{payment.provider_id}}</span>
                                </div>
                                <div class="">
                                    <label>Net Amount : </label>
                                    <span>{{(payment.gross_amount_no - (payment.offset_amount_no ? payment.offset_amount_no : 0)) | cjamsCurrency }}</span>
                                </div>
                                <div class="">
                                    <label>Check Status Change Date : </label>
                                    <span>{{payment.check_status_dt | date: 'MM/dd/yyyy'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 m-t-20">
                        <h5 class="h5-title">Payment Information on D365 / FMIS</h5>
                        <div class="table-responsive table-theme m-t-10">
                            <table class="table table-striped" aria-describedby="Payment List">
                                <thead>
                                    <tr>
                                        <th id="pStatusHeader">Payment Status</th>
                                        <th id="pAmountHeader">Payment Amount</th>
                                        <th id="warrantHeader">Check/Warrant #</th>
                                        <th id="cWarrantDate">Check/Warrant Date</th>
                                        <th id="iReceivedHeader">Information Received</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pay of payment?.afsorfmis">
                                        <td>{{pay.payment_status}}</td>
                                        <td>{{pay.paymentamountno | cjamsCurrency}}</td>
                                        <td>{{pay.warrant_no}}</td>
                                        <td>{{pay.warrant_written_dt | date: 'MM/dd/yyyy'}}</td>
                                        <td>{{pay.create_ts |date: 'MM/dd/yyyy'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" data-bs-dismiss="modal" data-bs-target="#payment-interface" data-bs-toggle="modal" class="btn-pri pull-right">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
      
        <div class="modal fade" id="payment-details-edit" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Update Check Status</h4>
                        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" data-bs-target="#payment-interface" data-bs-toggle="modal"></button>
                    </div>
                    <div class="modal-body">
                    <div class="col-sm-12 m-t-20">
                        <h4 class="h4-title">Payment Details</h4>
                        <div class="row m-t-20 payDetails">
                            <div class="col-sm-12 col-lg-6">
                                <div class="">
                                    <label>Payment Date : </label>
                                    <span *ngIf="payment && payment.payment_dt">{{payment.payment_dt | date : 'MM/dd/yyyy'}}</span>
                                </div>
                                <div class="">
                                    <label>Payment ID : </label>
                                    <span *ngIf="payment && payment.payment_id">{{payment.payment_id}}</span>
                                </div>
                                <div class="">
                                    <label>Payee/Provider Name : </label>
                                    <span *ngIf="payment && payment.providername">{{payment.providername}}</span>
                                </div>
                                <div class="">
                                    <label>Payment Status : </label>
                                    <span *ngIf="payment && payment.payment_status_nm">{{payment.payment_status_nm}}</span>
                                </div>
                                <mat-form-field class="m-t-20">
                                    <mat-label>Check Status</mat-label>
                                    <mat-select  [(ngModel)]="checkPaymentStatus" required>
                                        <mat-option>Select</mat-option>
                                        <mat-option *ngFor="let checkStatus of checkStatus$ | async" (click)="checkStatusChange(checkStatus.value)" [value]="checkStatus.value">{{checkStatus.text}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="">
                                    <label>Payment Type : </label>
                                    <span *ngIf="payment && payment.payment_type_nm">{{payment.payment_type_nm}}</span>
                                </div>
                                <div class="">
                                    <label>Provider ID : </label>
                                    <span *ngIf="payment && payment.provider_id">{{payment.provider_id}}</span>
                                </div>
                                <div class="">
                                    <label>Net Amount : </label>
                                    <span *ngIf="payment && payment.gross_amount_no">{{(payment.gross_amount_no - (payment.offset_amount_no ? payment.offset_amount_no : 0)) | cjamsCurrency }}</span>
                                </div>
                                <div class="">
                                    <label>Check Status Change Date : </label>
                                    <span *ngIf="payment && payment.check_status_dt">{{payment.check_status_dt | date: 'MM/dd/yyyy'}}</span>
                                </div>
                                <mat-form-field class="">
                                    <mat-label>Notes</mat-label>
                                    <textarea required matInput [(ngModel)]="notes" [value]="" ></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" data-bs-dismiss="modal" data-bs-target="#payment-interface" data-bs-toggle="modal" class="btn-pri pull-right">Cancel</button>
                                <button (click)="updateCheckStatus()" type="button" class="btn-pri">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
      <div class="modal fade" id="downloadReport">
          <div class="modal-dialog modal-md">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title h5-title">Report</h4>
                      <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close" (click)="resetDownload()"></button>
                  </div>
                  <div class="modal-body">
                      <div>
                          <h4>Payment Date Range</h4>
                          <div class="row">
      
                              <div class="col-sm-12 col-lg-6 m-t-10">
                                  <mat-form-field>
                                    <mat-label>From</mat-label>
                                      <input [disabled]="date_sw !== 'D'" [(ngModel)]="date_from" matInput
                                          autocomplete="off" [matDatepicker]="pick"  required (dateChange)="changeDate()">
                                      <mat-datepicker-toggle matSuffix [for]="pick"></mat-datepicker-toggle>
                                      <mat-datepicker #pick></mat-datepicker>
                                  </mat-form-field>
                                  <mat-error>
                                    <label id="msg_date_from"></label>
                                  </mat-error>
                              </div>
                              <div class="col-sm-12 col-lg-6 m-t-10">
                                  <mat-form-field>
                                    <mat-label>To</mat-label>
                                      <input [disabled]="date_sw !== 'D'" [(ngModel)]="date_to" matInput
                                          autocomplete="off" [matDatepicker]="pick1"  required (dateChange)="changeDate()">
                                      <mat-datepicker-toggle matSuffix [for]="pick1"></mat-datepicker-toggle>
                                      <mat-datepicker #pick1></mat-datepicker>
                                  </mat-form-field>
                                  <mat-error>
                                    <label id="msg_date_to"></label>
                                  </mat-error>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <div class="row">
                          <div class="col-sm-12 pull-right action-btn">
                              <button class="fnt-sze" matTooltip="Download DHS 111 Report EXCEL" type="button" name=""
                                  (click)="documentGenerate('excel')">
                                  <i class="fa fa-file-excel-o" aria-hidden="true"></i></button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="modal fade" id="confirm-checkstatus" role="dialog">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title"> Check status alert </h4>
                          <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
                      </div>
                          <div class="modal-body">
                              <p> Are you sure need to change the status to returned? </p>
                          </div>     
                      <div class="modal-footer">
                          <div class="text-end right-mspace-15">
                              <button type="button" class="btn-bg"  (click)="ConfirmPopup(1)" data-bs-dismiss="modal"> Cancel </button>
                              <button type="button" value="Yes" class="btn-pri" name="" (click)="ConfirmPopup(2)"> Yes, Confirm </button>
                          </div>
                      </div>
                  </div>
              </div>
           </div>