<div class="col-md-3">
    <div class="col-box">
        <div class="clearfix">
            <div id="container-speed" style="width: 50%; height: 90px; float: left;overflow: hidden">
                
                <highcharts-chart [Highcharts]="Highcharts" [options]="caseCloseureChart"></highcharts-chart>
            </div>
            <div class="c-speed">
                <h6>
                    Total Open Cases
                </h6>
                <h4 *ngIf="showCaseChart" id="SLACompliance" class="txt-white">
                    {{irRatio}} : {{arRatio}}
                </h4>
                <div *ngIf="!showCaseChart">
                    <p>No data found</p>
                </div>
            </div>

        </div>
        <div class="p-info g-cost">
            <p>
                <span class="pull-left">
                    Total:
                    <strong>{{totalCases}}</strong>
                </span>
                <span>
                    IR:
                    <strong>{{irCase}}</strong>
                </span>
                <span class="pull-right">
                    AR:
                    <strong>{{arCase}}</strong>
                </span>
            </p>
        </div>
    </div>
</div>

<div class="col-md-3">
    <div class="col-box">
        <div class="clearfix">

            <div id="container-rpm" style="width: 50%; height: 90px; float: left;overflow: hidden">
              
                <highcharts-chart [Highcharts]="Highcharts" [options]="taskClosurechart"></highcharts-chart>
            </div>
            <div class="c-speed">
                <h6>Task Closure</h6>
                <h4 *ngIf="showTaskChart" id="GeneralCost">{{taskCompliance}}%</h4>
                <div *ngIf="!showTaskChart">
                    <p>No data found</p>
                </div>
            </div>
        </div>
        <div class="p-info g-cost">
            <p>
                <span class="pull-left">Total:
                    <strong>{{totaltask}}</strong>
                </span>
                <span>Open:
                    <strong>{{opentask}}</strong>
                </span>
                <span class="pull-right">Closed:
                    <strong>{{taskclosed}}</strong>
                </span>
            </p>
        </div>
    </div>
</div>

<div class="col-md-2 avg-colsure-rate">
    <div class="col-box">
        <div class="clearfix text-center">
            <label class="top-text">
                <!-- AVG CASE CLOSURE RATE -->
                Overdue Cases
            </label>
            <label class="middle-text">
                {{averageclosurerate}} / 3 months
                <!-- 15 -->
            </label>

            <img src="assets/images/dashboard-menu-icon.png" style="position: absolute; right: 0; top: 5px" alt="">
        </div>

    </div>
</div>

<div class="col-md-2 closed-today">
    <div class="col-box ">
        <div class="clearfix text-center">
        
            <label class="top-text"> Total Assigned Cases</label>
            <label class="middle-text">{{closedCasesToday}}
            </label>

            <img src="assets/images/dashboard-menu-icon.png" style="position: absolute; right: 0; top: 5px" alt="">

        </div>
    </div>
</div>

<div class="col-md-2 closed-week">
    <div class="col-box">
        <div class="clearfix text-center">
          
            <label class="top-text"> To Be Accepted</label>
            <label class="middle-text"> {{closedCasesWeek}}
            </label>
            <img src="assets/images/dashboard-menu-icon.png" style="position: absolute; right: 0; top: 5px" alt="">
        </div>
    </div>
</div>
