/*Dashboard css starts*/
.dashboard-wrap {
    padding: 15px 0px;
}

.dashboard-inner {
    margin-top: 15px;
}

.col-box {
    background-color: #fff;
    border-radius: 7px;
    padding: 5px;
    overflow: hidden;
    position: relative;
    min-height: 132px;
    max-height: 132px;
}

.c-speed {
    float: right;
    width: 50%;
    margin-top: 22px;
    padding: 0 5px;
}

.c-speed h6 {
    font-size: 12px;
    color: #999;
    margin-top: 0;
    text-transform: uppercase;
    position: relative;
    top: -18px;
}

.c-speed h4 {
    font-size: 21px;
    color: #61646e;
    margin: 0;
    font-weight: 600;
    line-height: 22px;
}

.p-info {
    clear: both;
    text-align: center;
    border-top: 1px solid #f8f8f8;
    padding: 5px 0;
    /*margin-top: 2px;*/
    margin: 0 5px;
    overflow: hidden;
}

.p-info p {
    margin: 0;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

.p-info p span {
    color: #f00;
}

.g-cost p span {
    color: #fff;
}

.a.t-btn {
    font-size: 11px;
    color: #ccc;
    padding: 5px 15px;
    background: #fff;
    line-height: normal;
}

.perform-table th {
    font-size: 13px;
    font-weight: 600;
    color: #737373;
    padding: 10px 7px 5px;
    border-bottom: 1px solid #17c4c0;
}

.perform-table td {
    font-size: 13px;
    color: #383838;
    padding: 10px;
}

.perform-table tr:nth-child(odd) td {
    background: #f7f7f7;
}

.w3-light-grey,
.w3-hover-light-grey:hover,
.w3-light-gray,
.w3-hover-light-gray:hover {
    color: #000 !important;
    background-color: #d1eff4 !important;
    border-radius: 4px;
}

.w3-green,
.w3-hover-green:hover {
    color: #fff !important;
    background-color: #1bb4c3 !important;
    border-radius: 4px;
}

.col-box h5 {
    font-size: 15px;
    color: #19a7b8;
}

.col-box h2 {
    margin: 0;
}

.col-box h2 span {
    font-size: 12px;
    color: #999;
}

.col-box td a {
    color: #00A2FD;
}

.col-box td img {
    display: inline-block;
    margin-right: 10px;
}

.intro {
    font-size: 11px;
    color: #ffffff !important;
    padding: 5px 15px;
    background: #00A2FD;
    line-height: normal;
    border-radius: 15px;
}
.team a {
    cursor: pointer;
}
.team a:hover {
    text-decoration: none;
}


/*Dashboard css ends*/

/* March 20 */
label.top-text {
    color: #858596;
    font-weight: 500;
    font-size: 12px;
    display: block;
    text-transform: uppercase;
}
.middle-text {
    font-size: 21px;
    font-weight: 600;
    margin: 17px 0 22px 0;
    line-height: 30px;
}

.col-md-3:first-child .col-box {
    border: solid 2px #49cfbd;
    background: #49cfbd;
}
.col-md-3:nth-child(2) .col-box {
    border: solid 2px #9066af;
    background: #9066af;
}
.avg-colsure-rate .col-box {
    border: solid 2px #d868e6;
    background: #d868e6;
}
.closed-today .col-box {
    border: solid 2px #80dd7a;
    background: #80dd7a;
}
.closed-week .col-box {
    border: solid 2px #ecaf33;
    background: #ecaf33;
}
.c-speed h6,
.c-speed h4,
.c-speed p,
.c-speed span,
.avg-colsure-rate label,
.closed-today label,
.closed-week label {
    color: #fff !important;
}
