<div class="clearfix text-end" >
    <span *ngIf="_authService.readonlyButton('read_only_access','caseworker-placement-add-new')">
    <span *securityKeyNew="'placement,placement.placementlist.add'" [fieldKeyNew]="'placement,placement.placementlist.add'">
    <button  class="aut-btn-placementAdd btn-pri no-mar" [disabled]="isClosed" (click)="addPlacements()" *ngIf="isCaseWorker || isAddEnabled"> <em
            class="fa fa-plus"></em> Add
    </button>
   </span>
    </span>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="m-t-10">
            <ng-container *ngFor="let child of placementList; let i=index;">
                <div class="row m-b-20">
                    <div class="col-sm-12">
                        <ul class="list-unstyled list-inline theme-heder-bg minus-icon">
                            <li class="list-inline-item">
                                <h5> {{child?.prefx}} {{ child?.firstname }} {{ child?.middlename }} {{ child?.lastname }} {{ child?.suffix }}</h5>
                            </li>
                            <li class="m-l-30 list-inline-item"><span><span> Age: </span><strong>{{child?.age}} </strong></span></li>
                            <li class="m-l-30 list-inline-item"><span><span>DOB: </span><strong>{{child?.dob | date:'MM/dd/yyyy'}}</strong></span>
                            </li>
                            <li class="m-l-30 list-inline-item"><span><span>Gender: </span><strong>{{child?.gender? child.gender: child.typedescription}}</strong></span></li>
                            <li class="m-l-30 list-inline-item" *ngIf="child?.hasAlert"><em data-bs-target="#placementAlert"
                                    data-bs-toggle="modal" [matTooltip]='ALERT_MESSAGE'
                                    class="fa fa-exclamation-triangle text-16 cursor"
                                    style="color:red; cursor: pointer;"> ALERT</em></li>
                            <li class="m-l-50 list-inline-item"><a *securityKeyNew="'placement,placement.placementlist.placementhistory'" class="no-bg" matTooltip="Placement History" data-bs-target="#historyPlacement"
                                data-bs-toggle="modal" (click)="placementHistoryDetail(child)"><em aria-hidden="true" class="fa fa-history m-r-5">History</em></a></li>
                            <li class="m-r-10 list-inline-item pull-right" id="{{i}}"><a href="#accordion{{i}}" data-bs-toggle="collapse"><em class="fa fa-plus"></em></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 collapse" id="accordion{{i}}">
                        <div class="table-responsive table-theme brd">
                            <table class="table table-striped table-cls" aria-describedby="placement info">
                                <thead>
                                    <tr>
                                        <th id="type">Type</th>
                                        <th id="name">Name</th>
                                        <th id="address">Address</th>
                                        <th id="start-date">Start Date</th>
                                        <th id="end-date">End Date</th>
                                        <th id="status">Status</th>
                                        <th id="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="child?.placements?.length">

                                        <tr *ngFor="let item of child.placements">
                                            <ng-container  *ngIf="(!(item.enddate) || item.routingstatus === 'Review') && (item.placementtypekey === 'LA' || item.responseacceptedkey === '4612') && item.isvoided !== 1">
                                            <td>
                                                <ng-container
                                                    *ngIf="item.placementtypekey === 'LA'; else providerPlacementTemplate">
                                                    Living Arrangement
                                                </ng-container>
                                                <ng-template #providerPlacementTemplate>
                                                    Provider Placement 
                                                    <span *ngIf="item?.isvoided === 1"><em matTooltip='Voided Placement' class="fa fa-minus-circle red text-16"></em></span>
                                                    <span *ngIf="item?.ischangepreadoptive === true"><em matTooltip='Provider identified as Pre-Finalized Adoptive Home' class="fa fa-child red text-16"></em></span>
                                                </ng-template>
                                            </td>
                                            <td>
                                                <ng-container
                                                    *ngIf="item.placementtypekey === 'LA'; else providerNameTemplate">
                                                    {{item?.livingarrangementtype}}
                                                </ng-container>
                                                <ng-template #providerNameTemplate>
                                                    {{item?.providerdetails?.providername}}
                                                </ng-template>
                                            </td>
                                            <td>

                                                <placement-address-info [placement]="item"></placement-address-info>
                                            </td>
                                            <td>
                                                <span *ngIf="item.stime">
                                                    {{(item?.startdate)?getDateFormatted(item?.startdate):''}} {{item?.stime | date: 'hh:mm a'}}
                                                </span>
                                                <span *ngIf="!item.stime">
                                                    {{(item?.startdate)?getDateFormatted(item?.startdate):''}}
                                                </span>
                                            </td>
                                            <td>
                                                <span *ngIf="item?.etime">
                                                    <label class="afcars-inner-bg" >
                                                        {{ (item?.enddate)?getDateFormatted(item?.enddate):''}} {{item?.etime | date: 'hh:mm a'}}
                                                    </label> 
                                                </span>
                                                <span *ngIf="!item?.etime">
                                                    <label class="afcars-inner-bg" >
                                                        {{ (item?.enddate)?getDateFormatted(item?.enddate):''}}
                                                    </label>
                                                </span>


                                            </td>

                                            <td>
                                                <ng-container *ngIf="item.routingstatus ==='Review'; else elseTemplate">
                                                    <a (click)="reviewPlacement(child,item)">{{item.routingstatus}}</a>
                                                </ng-container>
                                                <ng-template #elseTemplate>
                                                    {{item.routingstatus ? item.routingstatus : item.approvalstatustypekey}} 
                                                </ng-template>


                                            </td>
                                            <td>
                                                <ng-container>
                                                    <span *ngIf="isReadonly">
                                                        <a *securityKeyNew="'placement,placement.placementlist.edit'" [ngClass]="{'disabledField': (isClosed || isEditDiabled || item?.isvoided === 1)}" (click)="editPlacement(child,item)">
                                                            <em matTooltip='Edit' class="fa fa-pencil text-16"></em>
                                                        </a> |
                                                        <ng-container *ngIf="item.placementtypekey !== 'LA'">
                                                                <a *securityKeyNew="'placement,placement.placementlist.viod'" [ngClass]="{'disabledField': (isClosed || isVoidDiabled || (item.routingstatus ? item.routingstatus !== 'Approved' : item.approvalstatustypekey !== 'Approved'))}" (click)="voidPlacement(child,item)" >
                                                                        <em matTooltip='Void' class="fa fa-minus-circle text-16"></em>
                                                                    </a> |
                                                        </ng-container>
                                                        <ng-container *ngIf="isReadonly && (!(item?.enddate)) && (item?.routingstatus !== 'Review') && (item?.routingstatus !== 'Rejected')">
                                                        <a *securityKeyNew="'placement,placement.placementlist.exit'" [ngClass]="{'disabledField': (isClosed || isExitDiabled || item?.isvoided === 1)}" (click)="exitPlacement(child,item,1)">
                                                            <em matTooltip='Exit' class="fa fa-sign-out" aria-hidden="true"></em></a> |
                                                        </ng-container>
                                                    </span>
                                                </ng-container>
                                                <span *securityKeyNew="'placement,placement.placementlist.view'">
                                                <a  *ngIf="(isSuperVisor && item?.routingstatus !=='Review') || !isSuperVisor" (click)="showPlacementDetails(child,item)">
                                                    <em matTooltip='View' class="fa fa-eye text-16"></em>
                                                </a>
                                                </span>
                                                <ng-container *ngIf="item.contractprogramid">
                                                    |
                                                    <a *ngIf="_authService.readonlyButton('read_only_access','caseworker-placement-add-new')" (click)="addCPAHome(child,item)">
                                                        <em matTooltip='CPA Homes' class="fa fa-home text-16"></em>
                                                    </a>
                                                </ng-container>


                                            </td>
                                        </ng-container>
                                        </tr>
                                    </ng-container>
                                    <tr *ngIf="!child?.placements?.length">
                                        <td colspan="7">No Placements added.</td>
                                    </tr>
                                    <tr *ngIf="child?.placements?.length && !(child?.active)">
                                        <td colspan="7">No Active Placements added.</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<div class="modal  fade" id="placementAlert" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <h4 class="modal-title">Alert</h4>
                <button class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="p-20">
                    {{ALERT_MESSAGE}}
                </p>

            </div>
        </div>
    </div>
</div>
<div class="modal  fade" id="placementExistAlert" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <h4 class="modal-title">Alert</h4>
                <button class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="p-20">
                    There is an active/rejected placement for the chosen child/children. Please review and record exit of the
                    same before adding a new one.
                </p>

            </div>
        </div>
    </div>
</div>
<div class="modal  fade" id="placementReviewAlert" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <h4 class="modal-title">Alert</h4>
                <button class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="p-20">
                    This action isn't allowed as there is a placement record for the chosen child/children which is still under "Review" status.
                    The Supervisor must review the placement status before adding a new one.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal  fade" id="placementRejectedAlert" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <h4 class="modal-title">Alert</h4>
                <button class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="p-20">
                    This action isn't allowed as there is a placement record for the chosen child/children which is still under "Rejected" status.
                    Please edit the placement to submit for Supervisor approval before adding a new one.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal  fade" id="noApprovedActiveRemoval" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <h4 class="modal-title">Alert</h4>
                <button class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="p-20">
                    The selected Child does not have any Active Removal in Approved status.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="ChildHistory" role="dialog">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <h4 class="modal-title">History</h4>
                <button class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 m-b-20">
                        <div class="col-md-3 col-md-offset-2">
                            <p class="textb disp-color"><strong>Name : </strong>{{selectedChild?.firstname}}
                                {{selectedChild?.lastname}} </p>
                        </div>
                        <div class="col-md-2">
                            <p class="textb disp-color"><strong>Age : </strong>{{selectedChild?.dob | date:
                                    'MM/dd/yyyy'}}</p>
                        </div>
                        <div class="col-md-2">
                            <p class="textb disp-color"><strong>Gender : </strong>{{selectedChild?.gender}}</p>
                        </div>
                        <div class="col-md-2">
                            <p class="textb disp-color"><strong>CJAMS PID# : </strong>{{selectedChild?.cjamspid}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="tab-horizontal placement-tab">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a *securityKeyNew="'placementlist,placement.placementlist.paymenthistory'" data-bs-toggle="tab" href="#payment-history">Payment History</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content m-t-10">

                        <div id="payment-history" class="tab-pane fade show active">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive petition-table table-theme mt-20">
                                        <table class="table table-striped customTable firsttable" aria-describedby="payment details">
                                            <thead>
                                                <tr>
                                                    <th id="payment-id">Payment ID</th>
                                                    <th id="payment-start-date">Payment Start Date</th>
                                                    <th id="payment-end-date">Payment End Date</th>
                                                    <th id="provider-id">Provider ID</th>
                                                    <th id="payment-type">Payment Type</th>
                                                    <th id="payment-status">Payment Status</th>
                                                    <th id="final-category-code">Final Category Code</th>
                                                    <th id="net-amount">Net Amount</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <ng-container
                                                    *ngFor="let item of accountpayableList; let index = index;">
                                                    <tr>
                                                        <td>{{item.payment_id}}</td>
                                                        <td>{{item.payment_start_dt| date: 'MM/dd/yyyy'}}</td>
                                                        <td>{{item.payment_end_dt| date: 'MM/dd/yyyy'}}</td>
                                                        <td>{{item.provider_id}}</td>
                                                        <td>{{item.payment_type_nm}}</td>
                                                        <td>{{item.payment_status_nm}}</td>
                                                        <td>{{item.final_fiscal_category_nm ? item.final_fiscal_category_nm : '' }} <span *ngIf="item.final_fiscal_category_cd">({{item.final_fiscal_category_cd ? item.final_fiscal_category_cd : ''}})</span></td>
                                                        <td>$ {{item.gross_amount_no}}</td>
                                                    </tr>
                                                    <tr id="accordion-tables{{index}}" class="collapse">
                                                        <td colspan="10">
                                                            <div class="table-responsive table-theme">
                                                                <table class="table customTable innerTable" aria-describedby="Account payable details">
                                                                    <thead>
                                                                        <tr>
                                                                            <th id="payment-id">Payment Id</th>
                                                                            <th id="provider-id">Provider Id</th>
                                                                            <th id="cjams-pid">CJAMS PId</th>
                                                                            <th id="child-name">Child Name</th>
                                                                            <th id="category-code">Category Code</th>
                                                                            <th id="service-period-start-date">Service Period Start Date</th>
                                                                            <th id="service-period-end-date">Service Period End Date</th>
                                                                            <th id="amount">Amount</th>
                                                                            <th id="local-department">Local Department</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr *ngFor="let payment of paymentDetails">
                                                                            <td
                                                                                (click)="selectAccountsPayable(payment)">
                                                                                <a href="#" data-bs-toggle="modal"
                                                                                    data-bs-target="#modal-view-finace-accountsPayable">{{payment.payment_id}}</a>
                                                                            </td>
                                                                            <td>{{payment.provider_id}}</td>
                                                                            <td>{{payment.client_id}}</td>
                                                                            <td>{{payment.client_name}}</td>
                                                                            <td>{{payment.final_fiscal_category_cd}}
                                                                            </td>
                                                                            <td>{{payment.final_service_start_dt|
                                                                                    date: 'MM/dd/yyyy'}}</td>
                                                                            <td>{{payment.final_service_end_dt|
                                                                                    date: 'MM/dd/yyyy'}}</td>
                                                                            <td>$ {{payment.final_amount_no ?
                                                                                    payment.final_amount_no :
                                                                                    '0.00'}}</td>
                                                                            <td>{{payment.county_cd}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                                <tr *ngIf="accountpayableList?.length === 0">
                                                    <td colspan="8" style="text-align: center !important;">
                                                        No Records Found.
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="historyPlacement" role="dialog">
        <div class="modal-dialog modal-lg custom-wid" role="document">
            <div class="modal-content Persons-Involved">
                <div class="modal-header">
                    <h4 class="modal-title">History </h4>
                    <button class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-center align-items-center"  style="padding: 20px;">
                        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <p class="textb disp-color"><strong>Client Name : </strong>{{selectedChildPlacementHistory?.prefx}} {{ selectedChildPlacementHistory?.firstname }} {{ selectedChildPlacementHistory?.middlename }} {{ selectedChildPlacementHistory?.lastname }} {{ selectedChildPlacementHistory?.suffix }}</p>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-3 col-xl-3">
                            <p class="textb disp-color"><strong>DOB : </strong>{{selectedChildPlacementHistory?.dob | date:'MM/dd/yyyy'}}</p>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-3 col-xl-3">
                            <p class="textb disp-color"><strong>CJAMS PID# : </strong>{{selectedChildPlacementHistory?.cjamspid}}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="m-r-10 m-l-10 table-responsive table-theme ">
                            <table class="table table-striped" aria-describedby="details">
                                <thead>
                                    <tr>
                                        <th id="case-number">Case#</th>
                                        <th id="type">Type</th>
                                        <th id="name">Name</th>
                                        <th id="address">Address</th>
                                        <th id="start-date">Start Date</th>
                                        <th id="end-date">End Date</th>
                                        <th id="status">Status</th>
                                        <th id="action">Action</th>
                                        <th></th><!--/* //NOSONAR */-->
                                    </tr>
                                </thead>
                                <tbody class="provider-details" *ngIf="placementHistory">
                                <ng-container *ngFor="let item of placementHistory?.placements | orderBy:'startdate': true; let index = index;">
                                        <tr>
                                            <td>{{item.servicecasenumber}}</td>
                                            <td>
                                                <ng-container
                                                    *ngIf="item.placementtypekey === 'LA'; else providerPlacementTemplate">
                                                    <label class="afcars-inner-bg"> Living Arrangement </label>
                                                        
                                                </ng-container>
                                                <ng-template #providerPlacementTemplate>
                                                    <label class="afcars-inner-bg">Provider Placement</label>
                                                    <span *ngIf="item?.isvoided === 1"><em matTooltip='Void' class="fa fa-minus-circle red text-16" ></em></span>
                                                </ng-template>
                                            </td>
                                            <td>
                                                <ng-container
                                                    *ngIf="item.placementtypekey === 'LA'; else providerNameTemplate">
                                                    {{item?.livingarrangementtype}}
                                                </ng-container>
                                                <ng-template #providerNameTemplate>
                                                    {{item?.providerdetails?.providername}}
                                                </ng-template>
                                            </td>
                                            <td>
                                                <placement-address-info [placement]="item"></placement-address-info>
                                            </td>
                                            <td>
                                                <span *ngIf="item.stime">
                                                    {{item?.startdate| date: 'MM/dd/yyyy'}} {{item?.stime| date: 'hh:mm a'}}
                                                </span>
                                                <span *ngIf="!item.stime">
                                                    {{item?.startdate| date: 'MM/dd/yyyy'}} {{item?.startdate| date: 'hh:mm a'}}
                                                </span>
                                            </td>
                                            <td>

                                                <span *ngIf="item?.etime">
                                                    {{item?.enddate | date: 'MM/dd/yyyy'}} {{item?.etime | date: 'hh:mm a'}}
                                                </span>
                                                <span *ngIf="!item?.etime">
                                                    {{item?.enddate| date: 'MM/dd/yyyy'}} {{item?.enddate| date: 'hh:mm a'}}
                                                </span>

                                            </td>

                                            <td>
                                                <ng-container *ngIf="item.routingstatus ==='Review'; else elseTemplate">
                                                    <a (click)="reviewPlacement(placementHistory,item)">{{item.routingstatus}}</a>
                                                </ng-container>
                                                <ng-template #elseTemplate>
                                                    {{item.routingstatus}}
                                                </ng-template>


                                            </td>
                                            <td>
                                                <a style="margin-right: 5px;" *ngIf="(isSuperVisor && item?.routingstatus !=='Review') || !isSuperVisor || item.placementtypekey === 'LA'" (click)="showPlacementDetails(placementHistory,item)">
                                                    <em matTooltip='View' class="fa fa-eye text-16"></em>
                                                </a>
                                                <span *ngIf="item.placementtypekey !== 'LA' && item.isvoided !== 1 && isReadonly">
                                                    <a style="margin-right: 5px;" [ngClass]="{'disabledField': (isClosed || isEditDiabled || item?.isvoided === 1)}" (click)="editPlacement(placementHistory,item)">
                                                        <em matTooltip='Edit' class="fa fa-pencil text-16"></em>
                                                    </a> 
                                                </span>
                                                <span *ngIf="item.placementtypekey !== 'LA' && item.isvoided !== 1 && isReadonly">
                                                    <a style="margin-right: 5px;" *securityKeyNew="'placement,placement.placementlist.viod'" [ngClass]="{'disabledField': (isClosed || isVoidDiabled || (item.routingstatus ? item.routingstatus !== 'Approved' : item.approvalstatustypekey !== 'Approved'))}" (click)="voidPlacement(placementHistory,item)" >
                                                            <em matTooltip='Void' class="fa fa-minus-circle text-16"></em>
                                                        </a> 
                                                </span> 


                                                <a style="margin-right: 5px;" *ngIf="item.placementtypekey === 'LA' && isReadonly && !isClosed"
                                                    (click)="editPlacement(placementHistory,item)">
                                                    <em matTooltip='Edit' class="fa fa-pencil text-16"></em>
                                                </a>
                                                <a style="margin-right: 5px;" *ngIf="isReadonly && (!(item?.enddate)) && (item?.routingstatus !== 'Review') && (item?.routingstatus !== 'Rejected')" [ngClass]="{'disabledField': (isClosed || isExitDiabled || item?.isvoided === 1)}" (click)="exitPlacement(placementHistory,item,1)">
                                                    <em matTooltip='Exit' class="fa fa-sign-out" aria-hidden="true"></em>
                                                </a> |    
                                                <ng-container *ngIf="item.contractprogramid">
                                                    |
                                                    <a style="margin-right: 5px;" (click)="showCPAHomes('cpa-homes-table'+ index, index, item?.cpahomerevision)">
                                                        <em matTooltip='cpaHome' class="fa fa-home text-16"></em>
                                                    </a>
                                                </ng-container>
                                                <ng-container *ngIf="item?.placementtypekey == 'PRPL' && daNumber==item?.servicecasenumber && item?.routingstatus !='Review' && item?.isvoided !== 1 && da_status !== 'Closed' && da_status !== 'Completed' && false">
                                                    | <a style="margin-right: 5px;" (click)="voidHistoryPlacement(item)" >
                                                            <em matTooltip='Void' class="fa fa-minus-circle text-16"></em>
                                                        </a> 
                                                </ng-container>
                                            </td>
                                            <td>
                                                <a class="pull-right m-r-10" style="margin-right: 5px;" *ngIf="item.placementtypekey !== 'LA'" (click)="toggleTable('accordion-tables-placement'+ index, index, item?.placementrevision)"><em [class]="showHistoryDetail === index ? 'fa fa-chevron-up':'fa fa-chevron-down'"
                                                        aria-hidden="true"></em></a>
                                            </td>

                                        </tr>
                                        <tr id="accordion-tables-placement{{index}}" *ngIf="showHistoryDetail === index">
                                                <td colspan="9">
                                                    <div class="table-responsive table-theme">
                                                        <table class="table customTable innerTable" aria-describedby="placement">
                                                            <thead>
                                                                <tr>
                                                                    <th id="placement-id">Placement ID</th>
                                                                    <th id="provider-id">Provider ID</th>
                                                                    <th id="provider-name">Provider Name</th>
                                                                    <th id="start-date">Start Date</th>
                                                                    <th id="end-date">End Date</th>
                                                                    <th id="approved-on">Approved On</th>
                                                                    <th id="approved-by">Approved By</th>
                                                                    <th id="requested-on">Requested On</th>
                                                                    <th id="requested-by">Requested By</th>
                                                                    <th id="void">Void</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <ng-container *ngIf="item?.placementrevision?.length">
                                                                    <tr *ngFor="let revision of item?.placementrevision">
                                                                        <td>{{revision.placement_id}}</td>
                                                                        <td>{{revision.provider_id}}</td>
                                                                        <td>{{revision.providername}}</td>
                                                                        <td>{{revision.entrydate | date: 'MM/dd/yyyy'}}</td>
                                                                        <td>{{revision.exitdate | date: 'MM/dd/yyyy'}}</td>
                                                                        <td>
                                                                            {{revision.approveddate | date: 'MM/dd/yyyy'}}</td>
                                                                        <td>{{revision.approvedby}}</td>
                                                                        <td>{{revision.requesteddate | date: 'MM/dd/yyyy'}}</td>
                                                                        <td>{{revision.requestedby}}</td>
                                                                        <td *ngIf="revision.isvoided === 0">No</td>
                                                                        <td *ngIf="revision.isvoided === 1">Yes</td>
                                                                    </tr>
                                                                </ng-container>
                                                                    <tr *ngIf="!(item?.placementrevision?.length)">
                                                                        <td colspan="10">No History Found</td>
                                                                    </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        <tr id="cpa-homes-table{{index}}" class="collapse">
                                            <td colspan="9">
                                                <div class="table-responsive table-theme">
                                                    <table class="table customTable innerTable" aria-describedby="CPA Home Provider">
                                                        <thead>
                                                            <tr>
                                                                <th id="cpa-home-provider-id">CPA Home Provider Id</th>
                                                                <th id="provider-name">Provider Name</th>
                                                                <th id="provider-address">Provider Address</th>
                                                                <th id="entry-date">Entry Date</th>
                                                                <th id="entry-time">Entry Time</th>
                                                                <th id="exit-date">Exit Date</th>
                                                                <th id="exit-time">Exit Time</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <ng-container *ngIf="item?.cpahomerevision?.length">
                                                                <tr *ngFor="let cpaHome of item?.cpahomerevision">
                                                                    <td>{{ cpaHome.provider_id }}</td>
                                                                    <td>{{ cpaHome.providername }}</td>
                                                                    <td>{{ cpaHome.provideraddress }}</td>
                                                                    <td>{{ cpaHome.entry_dt|date: 'MM/dd/yyyy'}}</td>
                                                                    <td>{{ cpaHome.entry_tm|date : 'h:mm a'}}</td>
                                                                    <td>{{ cpaHome.exit_dt|date: 'MM/dd/yyyy'}}</td>
                                                                    <td>{{ cpaHome.exit_tm|date : 'h:mm a'}}</td>
                                                                </tr>
                                                            </ng-container>
                                                                <tr *ngIf="!(item?.cpahomerevision?.length)">
                                                                    <td colspan="6">No CPA Home History Found</td>
                                                                </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <tr *ngIf="!placementHistory?.placements?.length">
                                        <td colspan="9">No Placements added.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

<div class="modal  fade" id="exitplacementvalidation" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content Persons-Involved">
            <h4 class="modal-title">Placement Exit Validation</h4>
            <div class="modal-header">
                <button class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="p-20">
                    <mat-checkbox class="checkbox-m-t" [checked]="exitValidationObj?.iscaseplan">
                        All case plans for the client have supervisory approval</mat-checkbox>
                    <mat-checkbox class="checkbox-m-t" [checked]="exitValidationObj?.iscaseplaneligibility">
                        Eligibility Determination for client is complete. </mat-checkbox>
                    <mat-checkbox class="checkbox-m-t" [checked]="exitValidationObj?.ischildage">
                        Client is not over the age of 21. </mat-checkbox>
                    <mat-checkbox class="checkbox-m-t" [checked]="exitValidationObj?.is_servicelog">
                        All service log records for the client have an end date.</mat-checkbox>
                    <mat-checkbox class="checkbox-m-t" [checked]="exitValidationObj?.islivingarrgangement">
                        Unknown Living Arrangements do not exists for the client. </mat-checkbox>
                </p>
                <p>Note : All above criteria must be met to exit placement</p>

            </div>
            <div class="modal-footer">
                <button class="btn-pri" (click)="placementExit()">Exit Placement</button>
                <a class="btn-pri" data-bs-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tpr-child-alert" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <h4 class="modal-title">TPR Child Alert</h4>
                <button class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p> Adoption Termination of Parental Rights has been completed for: 
                    <ng-container *ngFor="let tprCompletedChild of tprCompletedChildList">
                        <ul> {{ tprCompletedChild.childname }}</ul>
                    </ng-container>
                </p>
                <br>
                <p> Please identify a <strong> Pre-Finalized Adoptive Home </strong>.</p>
            </div>
            <div class="modal-footer">
                <a class="btn-pri" data-bs-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

<fiscal-audit></fiscal-audit>