.cjamsloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../assets/images/loading.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

.app-modal-sm {
    width: 500px;
}

.cjamsbusyindicator {
    top: 20px !important;
    position: absolute !important;
    left: 55%;
    width: 40px;
    height: 30px;
    z-index: 9999;
}
.btn-pri-s {
    font-weight: 500;
    font-size: 13px;
}
.custom-tbody>tr.bg-active {background: #e8f0fa;/*border-left: 10px solid #00A2FD;*/}

.error-modal-header {
    background: rgba(251, 210, 209, 0.9);
    border-color: #de9d9b;
}

.error-message-box {
    border: 1px;
    border-style: solid;
    padding: 1em;
   }

::ng-deep .customTooltip{
    padding: 10px;
    transform: translate(-50%, -50%);
}

::ng-deep .mat-mdc-tooltip-surface {
    max-width: 460px !important;
    font-size: 12px !important;
    line-height: 25px !important;
    color: #fff !important;
    top: 50%;
    left: 50%;
  }

.titleFailedAlert{
    font-weight: bold; margin-bottom: 20px;
}

.caseNumber {
    border-bottom: 1px solid #ddd; padding: 15px 0;
}

.caseNumberSection {
    margin-bottom: 5px
}

.failedCaseNumber {
    font-weight: 600; color: #333;
}

.fileSize {
    color: #999;
}

.scanSection {
    margin-top: 5px
}

.scanFail { 
    color: red; font-weight: 600;
    cursor: pointer;
}

.retryFile {
    color: red; cursor: pointer; margin-left: 5px;
}

.fileFailed {
    background-color: #fce8e6; color: #333; padding: 10px; margin-top: 10px; border-left: 4px solid red;
}

.closeBtnSection  {
    margin-top: 20px;
    float: right;
}