<div class="tab-content no-shadow">
  <div id="add-Profile-info" class="tab-pane fade show active">
    <div class="content-pad ">
      <div class="row">
        <div class="col-sm-8">
          <h4 class="header-4">Status Summary</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field>
            <mat-label>Select</mat-label>
            <mat-select [(ngModel)]="selectedValue" placeholder="" (selectionChange)="loadTimeLine($event.value)">
              <mat-option *ngFor="let item of intakeList" [value]="item.value">{{item.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div class="timeline-section timeline-center pad-top20 clearfix">
          <ul class="list-unstyled">
            <li class="timeline-item timeline-time-item" *ngFor="let data of statusTimeline">
              <div class="timeline-time">{{data.effectivedate | date: 'MM/dd/yyyy, hh:mm a'}}
              </div>
              <a class="timeline-badge">
                <em class="fa">&#xf103;</em>
              </a>
              <div class="timeline-panel">
                <p *ngIf="data.intakenumber">
                  <label>Intake# :</label>
                  <span>{{data.intakenumber}}</span>
                </p>
                <p *ngIf="data.servicerequestnumber">
                  <label>Case# :</label>
                  <span>{{data.servicerequestnumber}}</span>
                </p>
                <p *ngIf="data.description">
                  <label>Status :</label>
                  <span>{{data.description}} - {{data.status}}</span>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>