<div class="">
  <div class="col-box mydsds-action">
    <h2><span class="m-r-5 f-14 m-l-50">Total Case:</span>{{ totalRecords}}</h2>
    <div class="clsExcelButton">
      <button type="button" class="btn-pri pull-right no-mar" (click)="ExportTOExcel()"><i
          class="fa fa-file-excel-o pr-5" aria-hidden="true"></i>Export All</button>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Search Case #</mat-label>
          <input type="text" matInput placeholder="" (keyup.enter)="onSearchCase()"
            class="aut-txt-caseWorkerSearchServiceCase" [(ngModel)]="servicerequestnumber">
          <button mat-button matSuffix aria-label="Search" class="aut-btn-caseWorkerSearchServiceCase"
            (click)="onSearchCase()">
            <i aria-hidden="true" class="fa fa-search"></i>
          </button>
        </mat-form-field>
      </div>
      <div class="col-sm-1 align-content-center">
        <a (click)="resetFilter()">Reset</a>
      </div>
      <div class="col-sm-8 align-content-center text-right">
        <div class="pull-right" [formGroup]="myserviceForm">
          <mat-radio-group formControlName="filterCase" (change)="listMyCase($event)">
            <mat-radio-button value="Open">Open</mat-radio-button>
            <mat-radio-button value="Closed">Closed</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>

    <div class="example-container">
      <mat-table #table [dataSource]="dataSource" matSort matSortDisableClear (matSortChange)="customSort($event)">
        <!-- Position Column -->
        <ng-container matColumnDef="servicecasenumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header>CASE NUMBER </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a (click)="routToCaseWorker1(element)" class="aut-lnk-serviceCase"
              style="font-weight : normal;">
              {{element.servicecasenumber }}</a>
            <span>
              <span *ngIf="element?.isfatality"
                matTooltip="Child Fatality - Name: {{element?.fatalityinfo[0]?.personname}}, DOB: {{element?.fatalityinfo[0]?.Dateofbirth | date: 'MM/dd/yyyy'}}, DOD: {{element?.fatalityinfo[0]?.Dateofdeath | date: 'MM/dd/yyyy'}}"
                class="dot yellow-dot"></span>
              <span matTooltip="Provider Maltreatment" *ngIf="element?.ismaltreatment"
                class="dot blue-dot"></span></span>
          </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="legalguardian">
          <mat-header-cell *matHeaderCellDef mat-sort-header>HEAD OF HOUSEHOLD</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.restrictstatus !=='EXCLUDE' && !(element.restrictstatus === 'INCLRES' && restrictedcaseenable)">
              {{(element.legalguardian?.length && element.legalguardian[0].personname)? element.legalguardian[0].personname : 'NA'}}
            </ng-container>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="programarea">
          <mat-header-cell *matHeaderCellDef mat-sort-header>PROGRAM AREA </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.restrictstatus !=='EXCLUDE' && !(element.restrictstatus === 'INCLRES' && restrictedcaseenable)">

                         <ng-container *ngIf="!element.programareabyservicecase || (element.programareabyservicecase && element.programareabyservicecase.length === 0) || (element.programareabyservicecase && element.programareabyservicecase.length != 0 && element.programareabyservicecase[0].intakedastagingdtls.General.PurposeName != 'Kinship Navigation')">
              <div *ngFor="let data of element.programarea;let i=index">
                <span *ngIf="i === 0">{{data?.programname}}</span>
                <span *ngIf="i !== 0">, {{data?.programname}}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="element.programareabyservicecase && element.programareabyservicecase.length > 0 && element.programareabyservicecase[0].intakedastagingdtls.General.PurposeName === 'Kinship Navigation'">
              <div><span>{{element.programareabyservicecase[0].intakedastagingdtls.General.PurposeName}}</span></div>
          </ng-container>
          </ng-container>            
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="startdate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>START DATE & TIME</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.restrictstatus !=='EXCLUDE' && !(element.restrictstatus === 'INCLRES' && restrictedcaseenable)">
            {{ element.startdate ? (element.startdate | date: 'MM/dd/yyyy hh:mm a') : 'NA' }}
            </ng-container>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="enddate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>END DATE & TIME</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.restrictstatus !=='EXCLUDE' && !(element.restrictstatus === 'INCLRES' && restrictedcaseenable)">

            {{ element.enddate ? (element.enddate | date: 'MM/dd/yyyy hh:mm a') : 'NA' }}
            </ng-container>
          </mat-cell>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="open_closed">
          <mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.restrictstatus !=='EXCLUDE' && !(element.restrictstatus === 'INCLRES' && restrictedcaseenable)">
              {{element.open_closed}}
              </ng-container>
             </mat-cell>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="jurisdiction">
          <mat-header-cell *matHeaderCellDef mat-sort-header> JURISDICTION </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <ng-container *ngIf="element.restrictstatus !=='EXCLUDE' && !(element.restrictstatus === 'INCLRES' && restrictedcaseenable)">
              {{element.county}} 
            </ng-container></mat-cell>
        </ng-container>
        <ng-container matColumnDef="responsibilitytypekey">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Assignment Type </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <ng-container *ngIf="element.restrictstatus !=='EXCLUDE' && !(element.restrictstatus === 'INCLRES' && restrictedcaseenable)">
              {{element.responsibilitytypekey}} </ng-container></mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
      <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>

      </div>
      <div *ngIf="myServiceCaseList?.length === 0" class="no-records">
        No records found
      </div>
    </div>
    <div class="col-sm-12 justify-content-center mt-3">
      <div class="text-center" style="margin-top: -1%;">
        <pagination *ngIf="myServiceCaseList?.length !== 0" [totalItems]="totalRecords"
          [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)" class="pagination-sm"
          [boundaryLinks]="true" [maxSize]="10">
        </pagination>
      </div>
    </div>
  </div>
</div>