<div class="row"  *ngIf="!isAddEdit">
    <div class="col-sm-12">
        <div class="add-container">
            <a (click)='addSubstanceAbuse()'>+ Add Substance Abuse</a>
        </div>
    </div>
</div>
<div [formGroup]="substanceabuseForm" *ngIf="isAddEdit">
    <div class="row">
        <div class="col-sm-4">
            <h5 class="f-w-600">Tobacco Use</h5>
            <mat-radio-group formControlName="isusetobacco">
                <mat-radio-button class="m-r-10" (click)="tobaccoSelection('1')" [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false" (click)="tobaccoSelection('2')">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="tobaccoSelectionEnabled">
            <div class="col-sm-4">
                <mat-form-field>
                    <mat-label>Frequency details</mat-label>
                    <input matInput formControlName="tobaccofrequencydetails"  placeholder="">
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field>
                    <mat-label>Age at first use</mat-label>
                    <input matInput formControlName="tobaccoageatfirstuse"  placeholder="">
                </mat-form-field>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h5 class="f-w-600">Drug Use</h5>
            <mat-radio-group formControlName="isusedrug">
                <mat-radio-button class="m-r-10" (click)="drugSelection('1')" [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false" (click)="drugSelection('2')">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="drugSelectionEnabled">
            <div class="col-sm-4">
                <mat-form-field>
                    <mat-label>Frequency details</mat-label>
                    <input matInput formControlName="drugfrequencydetails"  placeholder="">
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field>
                    <mat-label>Age at first use</mat-label>
                    <input matInput formControlName="drugageatfirstuse"  placeholder="">
                </mat-form-field>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <h5 class="f-w-600">Alcohol Use</h5>
            <mat-radio-group formControlName="isusealcohol">
                <mat-radio-button class="m-r-10" (click)="alchoholSelection('1')" [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false" (click)="alchoholSelection('2')">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="alchoholSelectionEnabled">
            <div class="col-sm-4">
                <mat-form-field>
                    <mat-label>Frequency details</mat-label>
                    <input matInput formControlName="alcoholfrequencydetails"  placeholder="">
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field>
                    <mat-label>Age at first use</mat-label>
                    <input matInput formControlName="alcoholageatfirstuse"  placeholder="">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 m-b-20">
            <mat-form-field>
                <mat-label>Family/Peer/Siblings Drug or Alcohol Problems</mat-label>
                <textarea matInput formControlName="drugoralcoholproblems" placeholder=""></textarea>
            </mat-form-field>
        </div>
        <div class="col-sm-4 cusmm-fileupload">
            <label class="btn-bs-file btn btn-pri">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                <input type="file" formControlName="uploadpath" (ngxf-select)="uploadFile($event)"
                    [ngxf-validate]="{ size: { min: 5 } }" accept=".mp3,.ogg,.wav,.acc,.flac,.aiff,.mp4,.mov,.avi,.3gp,.wmv,.mpeg-4,.pdf,.txt,.docx,.doc,.xls,.xlsx,.jpeg,.jpg,.png,.ppt,.pptx,.gif,.cr2,.rtf">UPLOAD
            </label>
        </div>
    </div>
    <div class="row m-b-20">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 ">
            <div class="pull-right">
                <span>
                    <button class="btn-pri" (click)="resetForm()">Clear</button>
                    <button class="btn-pri" [disabled]="substanceabuseForm.pristine || substanceabuseForm.invalid"
                        (click)="save()">Save</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-sm-12">
            <div class="table-responsive table-theme table-bordered">
                <table class="table" aria-describedby="Substance Abusecw List">
                    <thead>
                        <tr>
                            <th id="tobaccoUseHeader">Tobacco Use</th>
                            <th id="drugUseHeader">Drug Use</th>
                            <th id="alcoholUseHeader">Alcohol Use</th>
                            <th id="actionsHeader">Actions</th>
                        </tr>
                    </thead>
                    <tbody>                                           
                        <ng-container *ngIf="substanceAbusecw.length; else elseTemplate">
                            <tr *ngFor="let substance of substanceAbusecw; let i=index">
                                <td>{{(substance.isusetobacco) ? 'Yes' : 'No'}}</td>
                                <td>{{(substance.isusedrug) ? 'Yes' : 'No'}} </td>
                                <td>{{(substance.isusealcohol) ? 'Yes' : 'No'}} </td>
                                <td></td>
                            </tr>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <tr>
                                <td colspan="4">
                                    No Records added.
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>