@use '../../person-info.component.scss';
.table-theme .table th tr {
    border-bottom: 1px solid #D8D8D8;
    text-align: center !important;
}
.table-theme .table tr td {
    font-size: 13px;
    font-weight: 600;
    padding: 15px 8px;
    text-align: center !important;
}

.add-container {
    margin: 0px;
}

@media (min-width: 768px) and (max-width: 1025px) {
    .table-responsive .table tr td:last-child,
    .table-responsive .table tr th:last-child {
        width: 90px;
    }
}

textarea.mat-mdc-input-element{
    height: 20px;
}

.view-mode {
    pointer-events: none;
}

.div-add-hospital {
    margin-top:10px
}