<div class="row div-add-hospital" *ngIf="!isAddEdit">
  <div class="col-sm-12">
    <div class="add-container" >
      <a (click)='addHospitalization()' [ngClass]="{'pointer-events-none': isClosed || !_authService.isPersonSubTabViewable('person','person.Health.reproductiveadd')}">+ Add REPRODUCTIVE HEALTH</a>
    </div>
  </div>
</div>
<div class="row" *ngIf="isAddEdit">
  <div class="col-md-12 " [formGroup]="sexualInfoForm">
    <div class="clearfix">
      <div class="row">
        <div class="col-sm-12 m-b-5">
          <p class="required">Sexually Active <label></label></p>
          <mat-radio-group formControlName="sexualactiveflag" required>
            <mat-radio-button class="m-r-10" value="Yes">Yes</mat-radio-button>
            <mat-radio-button value="No">No</mat-radio-button>
            <mat-radio-button value="Unknown">Unknown</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="sexualInfoForm.get('sexualactiveflag')?.invalid && checkmandatory">
            Please select Sexually Active.
          </mat-error>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-4">
          <p class="required">{{(genderKey === 'F' || othergendertypekey === 1) ? 'Currently Pregnant' : 'Youth Currently expecting a child?'}}<label></label></p>          <mat-radio-group formControlName="ispregnant" required>
            <mat-radio-button class="m-r-10" value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="sexualInfoForm.get('ispregnant')?.invalid && checkmandatory">
            Please select {{(genderKey === 'F' || othergendertypekey === 1) ? 'Currently Pregnant' : 'Youth Currently expecting a child?'}}             </mat-error>
        </div>

        <div class="col-sm-4" *ngIf="sexualInfoForm.getRawValue().ispregnant === 'yes'">
          <mat-label>Expected Due Date<span *ngIf="!sexualInfoForm.getRawValue().ispregnancyduedateunknown" class="red">*</span></mat-label>
          <common-date-picker [min]="minDate" formControlName="pregnancyduedate"> </common-date-picker>
          <mat-error *ngIf="!sexualInfoForm.getRawValue().ispregnancyduedateunknown && !sexualInfoForm.getRawValue().pregnancyduedate && checkmandatory">
            Please select Expected Due Date
          </mat-error>
        </div>

        <div class="col-sm-4" style="padding: 30px;" *ngIf="sexualInfoForm.getRawValue().ispregnant === 'yes'">
          <mat-checkbox (change)="checkPregnancyUnknown($event)" formControlName="ispregnancyduedateunknown">Unknown</mat-checkbox>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-4"  *ngIf="genderKey === 'M' || genderKey === 'TGIF'  ||othergendertypekey === 0">
          <p class="required">Has the youth ever fathered a child?<label></label></p>
          <mat-radio-group (change)="radioChange()" formControlName="isfatheredachild">
            <mat-radio-button class="m-r-10" value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="!sexualInfoForm.getRawValue().isfatheredachild && checkmandatory ">
            Please select Has the youth ever fathered a child?
          </mat-error>
        </div>

        <div class="col-sm-4" *ngIf="genderKey === 'F' || genderKey === 'TGIM'  || othergendertypekey === 1">
          <p class="required afcars-inner-bg">Youth ever given birth?<label></label></p>
          <mat-radio-group (change)="radioChangeFemale()" formControlName="isgivenbirth">
            <mat-radio-button class="m-r-10" value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="!sexualInfoForm.getRawValue().isgivenbirth && checkmandatory">
            Please select Youth ever given birth?
          </mat-error>
        </div>

        <div class="col-sm-4">
          <p class="required">Youth Currently parenting a child(ren)?<label></label></p>
          <mat-radio-group formControlName="currentlyparenting" required>
            <mat-radio-button class="m-r-10" value="yes" (click)="childAlert('','show')">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="!sexualInfoForm.getRawValue().currentlyparenting && checkmandatory">
            Please select Youth Currently parenting a child(ren)?
          </mat-error>
        </div>
      
        <div class="col-sm-4" *ngIf="sexualInfoForm.getRawValue().currentlyparenting === 'no'">
          <mat-label>Reason<span class="red" *ngIf="((genderKey === 'M' || genderKey === 'TGIF'  || othergendertypekey === 0) && sexualInfoForm.getRawValue().isfatheredachild === 'yes') || ((genderKey === 'F' || genderKey === 'TGIM'  || othergendertypekey === 1) && sexualInfoForm.getRawValue().isgivenbirth === 'yes')">*</span></mat-label>
          <mat-form-field>
            <input matInput formControlName="notparentingreason">
          </mat-form-field>
          <mat-error *ngIf="(((genderKey === 'M' || genderKey === 'TGIF'  || othergendertypekey === 0) && sexualInfoForm.getRawValue().isfatheredachild === 'yes') || ((genderKey === 'F' || genderKey === 'TGIM'  || othergendertypekey === 1) && sexualInfoForm.getRawValue().isgivenbirth === 'yes')) && !sexualInfoForm.getRawValue().notparentingreason">
            Please enter Reason.
          </mat-error>
        </div>
        <ng-container *ngIf="genderKey === 'F' || genderKey === 'TGIM'  || othergendertypekey === 1" >
          <div class="col-sm-4" *ngIf="sexualInfoForm.getRawValue().currentlyparentingother === 'no'">
            <mat-label class="afcars-inner-bg">Reason<span class="red">*</span></mat-label>
            <mat-form-field>
              <input matInput formControlName="notparentingotherreason">
            </mat-form-field>
            <mat-error *ngIf="!sexualInfoForm.getRawValue().notparentingotherreason && checkmandatory">
              Please enter Reason.
            </mat-error>
          </div>
        </ng-container>
        </div>

        <div class="row">
          <div class="col-sm-12">
          <table class="table table-bordered" *ngIf="sexualInfoForm.getRawValue().currentlyparenting === 'yes' && childrens && childrens.length > 0" aria-describedby="tbl-sexual-info-lst">
            <tbody>
              <tr>
                <th scope="col">Child Name</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">DOB</th>
                <th scope="col">Race</th>
              </tr>
              <tr *ngFor="let child of childrens">
              <td>{{child.firstname}} {{child.middlename}} {{child.lastname}}</td>
              <td>{{child.age}}</td>
              <td>{{(child.gendertypekey == 'F') ? 'Female' : 'Male'}}</td>
              <td>{{child.dob | date:'MM/dd/yyyy'}}</td>
              <td>{{child.racetypekey}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>    
      <div class="row pt-20">
        <div class="col-md-12">
          <div class="person-section-header mb-0 pb-10">Pregnancies and Living Children</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Number of Living Children</mat-label>
            <input matInput formControlName="childrenno" type="number" min="0" oninput="validity.valid||(value='')" placeholder="">
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Number of Pregnancies</mat-label>
            <input matInput formControlName="pregnancyno" type="number" min="0" oninput="validity.valid||(value='')" placeholder="">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Sexually Transmitted Diseases</mat-label>
            <mat-select formControlName="sextransdis" (selectionChange)="processSTDSpecify()"
              placeholder="">
              <mat-option *ngFor="let item of sexuallyTransmittedDiseases$ | async" value="{{item.value}}">
                {{item.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <common-date-picker [max]="maxDate" formControlName="std_treatment_startdate"
            placeholder="STD Date of treatment" [disabled]="dtDisable"></common-date-picker>
        </div>

        <div class="col-sm-12" *ngIf="showSTDSpecify">
          <mat-form-field>
            <mat-label>STD Specify</mat-label>
            <textarea matInput formControlName="stdspecify" placeholder=""></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Birth Control Method</mat-label>
            <mat-select formControlName="birthcontrol" (selectionChange)="processBCMSpecify()"
              placeholder="">
              <mat-option *ngFor="let item of birthControlMethods$  | async" value="{{item.value}}">
                {{item.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <common-date-picker [max]="maxDate" formControlName="birthcontroldate" placeholder="Birth Control Date"
            [disabled]="dtDisable"></common-date-picker>
        </div>

        <div class="col-sm-12" *ngIf="showBCMSpecify">
          <mat-form-field>
            <mat-label>BCMethod Specify</mat-label>
            <textarea matInput formControlName="bcspecify" placeholder=""></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Sexual Orientation</mat-label>
            <mat-select formControlName="sexualorientationkey" (selectionChange)="processSexaulOrientationpecify()"
              placeholder="">
              <mat-option *ngFor="let item of sexualOrientationMethods$  | async" value="{{item.ref_key}}">
                {{item.description}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-6" *ngIf="showSexualOrientationSpecify">
          <mat-form-field>
            <mat-label>Sexual Orientation Specify</mat-label>
            <input matInput formControlName="sexualorientationcomments" placeholder="">
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Gender Identity</mat-label>
            <mat-select formControlName="genderidentity" (selectionChange)="processGenderIdentitySpecify()"
              placeholder="">
              <mat-option *ngFor="let item of genderIdentiyList$  | async" value="{{item.ref_key}}">
                {{item.description}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-6" *ngIf="showGenderIdentitySpecify">
          <mat-form-field>
            <mat-label>Gender Identity Specify</mat-label>
            <input matInput formControlName="genderidentityspecify" placeholder="">
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Comments</mat-label>
            <input matInput formControlName="sicomments" placeholder="">
          </mat-form-field>
        </div>
      </div>
    </div>

    <attachment-upload-shared [load] = "load" [uploadedDocuments]="uploadedFiles" (uploadclosed)="uploadclosed($event)" ></attachment-upload-shared>
    <document-upload-list-shared  (loadEvent) = "updateLoad()" [ngClass]="(reportMode === 'edit' && editMode !== true) ? 'view-mode':''" pageType="personhealth"
    [uploadedFiles]="uploadedFiles" [uploadhealth]="true" [uploadNumber]="uploadNumber"></document-upload-list-shared>
    
    <div class="row m-b-20">
      <div class="col-sm-12 ">
        <div class="pull-right">
          <span *ngIf="reportMode === 'add'">
            <button class="btn-pri" type="button" (click)="resetForm()">Cancel</button>
            <button class="btn-pri" (click)="add()" [disabled]="sexualInfoForm.pristine" >Add</button>
          </span>
          <span *ngIf="reportMode === 'edit'">
            <button class="btn-pri" *ngIf="editMode === true" (click)="add()" [disabled]="sexualInfoForm.pristine">Update</button>
            <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
          </span>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-sm-12 m-t-20" *ngIf="sexualcw && sexualcw.length>0">
    <div class="table-responsive table-theme table-bordered">
      <table class="table" aria-describedby="tbl-sexual-active-lst">
        <thead>
          <tr>
            <th scope="col">Sexually Active</th>
            <th scope="col">Number of Living Children</th>
            <th scope="col">Sexually Transmiited Diseases</th>
            <th scope="col">Birth Control Method</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sexual of sexualcw; let i=index">
            <td>
              <span [ngSwitch]="sexual.sexualactiveflag">
                <p *ngSwitchCase="'1'">
                  Yes
                </p>
                <p *ngSwitchCase="'0'">
                  No
                </p>
                <p *ngSwitchDefault>
                  UnKnown
                </p>
              </span></td>
            <td>{{sexual.childrenno}}</td>
            <td>{{sexual.sextransdisdesc}}</td>
            <td>{{sexual.birthcontroldesc}}</td>
            <td [ngClass]="{'disable-anchor': isClosed}">
              <a (click)="view(sexual, i)">
                <em class="fa fa-eye text-16" matTooltip="View"></em>
              </a> |
              <a (click)="edit(sexual, i)" [ngClass]="{'pointer-events-none': isClosed || !_authService.isPersonSubTabViewable('person','person.Health.reproductiveedit')}">
                <em class="fa fa-pencil text-16" matTooltip="Edit"></em>
              </a> |
              <a (click)="deleteConfirm(sexual)" [ngClass]="{'pointer-events-none': isClosed || !_authService.isPersonSubTabViewable('person','person.Health.reproductivedelete')}">
                <em class="fa fa-trash text-16" matTooltip="Delete"></em>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--Delete Confirm-->
<div class="modal fade " id="delete-popup" role="dialog">
  <div class="modal-dialog modal-md custom-wid">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Confirm Delete </h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p> Are you sure you want to delete this ? </p>

        <div class="text-end big-bot-space right-mspace-15">
          <button type="button" value="No" class="btn-pri" (click)="resetForm()" data-bs-dismiss="modal"> No</button>
          <button type="button" value="Yes" class="btn-pri" name="" data-bs-dismiss="modal" (click)="delete()">
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade " id="pregnancy-duedate-unknown" role="dialog">
  <div class="modal-dialog modal-md custom-wid">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"> Alert! </h4>
              <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
              <p> Please update the due date once known</p>
  
              <div class="text-end big-bot-space right-mspace-15">
                  <button type="button" value="yes" class="btn-pri" name="" data-bs-dismiss="modal"> Ok</button>
              </div>
          </div>
      </div>
  </div>
  </div>
<div class="modal fade custom-modal" id="childrensList" role="dialog">
  <div class="modal-dialog modal-lg custom-wid" style="width: 500px !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Alert! </h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" (click)="childAlert('hide', 'close')"></button>
     </div>
      <div class="modal-body">
      <p *ngIf="childrens || childrens.length === 0">
        Please add the Child(ren) as part of the case and to identify the Relationship to at least one child as a Caregiver.
      </p>
      <div class="text-end big-bot-space right-mspace-15">
        <button type="button" (click)="childAlert('hide', 'close')" class="btn-pri" name="" data-bs-dismiss="modal"> Ok</button>
    </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="pregnants-popup" role="dialog">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"> Alert </h4>
              <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" (click)="closePregnantsPopup()" aria-label="Close"></button>
          </div>
          <div class="modal-body modal-pad"> 
              <strong *ngIf="pregnants && pregnants.length>0">Pregnancy status</strong>
              <p *ngIf="pregnants && pregnants.length>0">Please check the youth's ({{this?.pregnants}}) pregnancy status and update if the youth is no longer pregnant.</p> 
              <a class="btn-pri pull-right" data-bs-dismiss="modal" 
             *ngIf="pregnants && pregnants.length>0"> OK </a>  
          </div>
      </div>
  </div>
</div>