<span *ngIf="!isAdoptionCase">
    <service-case-management></service-case-management>
</span>
<div class="row">
    <div class="col-md-3 childDD">
        <mat-form-field>
            <mat-label>Client Name</mat-label>
            <mat-select class="aut-lst-addNotesInvolvedPerson" [(ngModel)]="firstChild" (selectionChange)="childSelect($event.value)">
                <mat-select-trigger>
                    {{clientName}}
                </mat-select-trigger>
                <mat-option class="multi-line-mat-option" *ngFor="let child of childList" [value]="child">
                    {{getFullName(child)}}
                    <div class="personinvolve-role">
                        <span class="role-description">
                            {{child.dob | date:'MM/dd/yyyy'}}, {{child.userroles}}, {{child.cjamspid}}
                        </span>
                    </div>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-6 childLabel">
        <span class="cidLabel"><label>Client ID: <strong>{{rcCjamsID ? rcCjamsID : ''}}</strong></label></span>
        <span class="cidLabel"><label>DOB: <strong>{{clientDob | date: 'MM/dd/yyyy'}}</strong></label></span>
        <span class="cidLabel"><label>Gender: <strong>{{clientGender ? clientGender : ''}}</strong></label></span>
        <span class=""><label>Age: <strong>{{clientAge ? clientAge : ''}}</strong></label></span>
    </div>
    <div class="col-sm-3 text-end btns-top mar-vspace">
        <span *securityKeyNew = "'services,services.servicelog.addagencyservice'" [fieldKeyNew] = "'services,services.servicelog.addagencyservice'">
        <span *ngIf="isReadonly && !isCpsIRorAR"><button [disabled]="isClosed || disbleService" class="btn-pri" (click)="initaddNewProviderForm()" data-bs-target="#add-newagencyprovider"
            data-bs-toggle="modal">
            Add New Service</button></span>
        </span>
    </div>
</div>

<div class="table-responsive table-theme">
    <table class="table table-striped" aria-describedby="tbl-agncy-prvdr-dtls"  sortable-table (sorted)="onServiceSorted($event)">
        <thead>
            <tr>
                <th scope="col" sortable-column="agency_program_nm">Client Program</th>
                <th scope="col" sortable-column="service_nm">Service</th>
                <th scope="col" sortable-column="frequency_cd" style="width: 150px;">Frequency</th>
                <th scope="col" sortable-column="duration_cd">Duration</th>
                <th scope="col" sortable-column="actual_begin_date" sort-direction="desc">Actual Begin Date</th>
                <th scope="col" sortable-column="actual_end_date">Actual End Date</th>
                <th scope="col" sortable-column="notes">Notes</th>
                <th scope="col" style="width: 100px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let agencyService of agencyServiceList$ | async">
                <td>{{agencyService.agency_program_nm}}</td>
                <td>{{agencyService.service_nm}}</td>
                <td>{{agencyService.frequency}}</td>
                <td>{{agencyService.duration}}</td>
                <td>{{agencyService.actual_begin_date | date:'MM/dd/yyyy'}}</td>
                <td>{{agencyService.actual_end_date | date:'MM/dd/yyyy'}}</td>
                <td>{{agencyService.notes}}</td>
                <td class="text-center">
                    <a title="View" class="right-mspace" data-bs-placement="top" (click)="view(agencyService)"
                        data-bs-toggle="modal" data-bs-target="#View-newagencyprovider">
                        <em class="fa fa-eye"></em>
                    </a>
					<span *ngIf="isReadonly">	
                    <span *securityKeyNew = "'services,services.servicelog.editagencyservice'" >
                        <a *ngIf="!agencyService.actual_end_date" data-bs-placement="top" title="Edit" [ngClass]="{'disabledField': (isClosed || isEditDisabled)}" (click)="edit(agencyService)" class="right-mspace">
                            <img src="assets/images/form-letter/edit-icon.png" alt=""> </a>
                    </span>
                    <span *securityKeyNew = "'services,services.servicelog.deleteagencyservice'">
                        <a data-bs-placement="top" title="Delete" [ngClass]="{'disabledField': (isClosed || isDeleteDisabled)}" (click)="delete(agencyService)" data-bs-toggle="modal"
                            data-bs-target="#Delete-newagencyprovider" class="right-mspace">
                            <img src="assets/images/form-letter/delete-icon.png" alt=""> </a>
                    </span>
					</span>	   
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center mt-10"
        *ngIf="{agencyServiceList:agencyServiceList$ | async,totalRecords:totalRecord$ | async} as validatePagination">
        <pagination *ngIf="validatePagination.agencyServiceList?.length!==0"
            [totalItems]="validatePagination.totalRecords ?? 0" [(ngModel)]="paginationInfo.pageNumber"
            (pageChanged)="pageChanged($event.page)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
        </pagination>
    </div>
</div>

<div class="modal fade" id="add-newagencyprovider" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content form-wrapper txt-left">
            <div class="modal-header">
                <h4 class="modal-title m-0">{{addEditlabel}} Service Detail</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addNewProviderForm"
                    [fieldKey]="addEditlabel === 'Edit' ? 'caseworker-service-plan-service-log-agency-provided-services-edit' : 'caseworker-service-plan-service-log-agency-provided-services-add'">
                    <div class="agencyDetailsFirst">
                        <div class="form-search-person service-add no-pad">
                            <div class="row">
                                <div class="">
                                    <div class="agencyDetailsFirst">
                                        <div class="">
                                            <div class="col-md-6">
                                                <div class="mb-3 ">
                                                    <label>Client ID</label>
                                                    <span class="font-sm-b">{{rcCjamsID ? rcCjamsID : ''}}</span>
                                                </div>
                                                <div class="mb-3 ">
                                                    <label>DOB</label>
                                                    <span class="font-sm-b">{{clientDob | date : 'MM/dd/yyyy'}}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3 ">
                                                    <label>Client Name</label>
                                                    <span class="font-sm-b">{{clientName ? clientName : ''}}</span>
                                                </div>
                                                <div class="mb-3 ">
                                                    <label> Gender</label>
                                                    <span class="font-sm-b">{{clientGender ? clientGender : ''}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 label-wd no-mar">
                                        <div class="col-md-12">
                                            <div class="">
                                                <label class="required">Client Program Assignment</label>
                                                <div class="prg-name">
                                                    <mat-form-field>
                                                        <mat-select id="clientprogramnameid"
                                                            formControlName="clientprogramnameid">
                                                            <mat-option value="">Select</mat-option>
                                                            <mat-option *ngFor="let clientProgram of clientProgramNames" (click) ="onchangeofclientprogramname($event,clientProgram)"
                                                                [value]="clientProgram.agency_program_area_id">
                                                                {{clientProgram.agency_program_nm}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-error *ngIf="mandatoryField " >
                                                        {{getValidationMessage('clientprogramnameid','Select Client Program Assignment')}}
                                                        </mat-error>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 label-wd row">
                                        <div class="col-md-6">
                                            <div class="">
                                                <label>Action</label>
                                                <div class="select-icon">
                                                    <ng-select formControlName="serviceplanactionid"
                                                        (change)="onActivityService($event)">
                                                        <ng-option value="">Select</ng-option>
                                                        <ng-option *ngFor="let item of activityService"
                                                            [value]="item.serviceplanactionid">
                                                            {{item.serviceplanactionname}}</ng-option>

                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="">
                                                <label>Service Plan</label>
                                                <div class="select-icon">
                                                    <ng-select formControlName="serviceplanname">
                                                        <ng-option value="">Select</ng-option>
                                                        <ng-option *ngFor="let item of servicePlan"
                                                            [value]="item.serviceplanname">{{item.serviceplanname}}
                                                        </ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3 service-wd col-md-12">
                                        <label class="required">Services</label>
                                        <div class="select-icon">
                                            <ng-select formControlName="servicetypeid">
                                                <ng-option value="">Select</ng-option>
                                                <ng-option *ngFor="let agencyService of agencyServiceNames$ | async"
                                                    [value]="agencyService.value">{{agencyService.text}}</ng-option>
                                            </ng-select>
                                        </div>
                                        <mat-error *ngIf="mandatoryField " >
                                            {{getValidationMessage('servicetypeid',' Select Services')}}
                                            </mat-error>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3 label-wd">
                                        <label class="required">Frequency</label>
                                        <div class="select-icon">
                                            <ng-select formControlName="frequencyCdId">
                                                <ng-option value="">Select</ng-option>
                                                <ng-option *ngFor="let item of frequencyCds$ | async"
                                                    [value]="item.value">{{item.text}}</ng-option>
                                            </ng-select>
                                        </div>
                                        <mat-error *ngIf="mandatoryField " >
                                            {{getValidationMessage('frequencyCdId',' Select Frequency')}}
                                            </mat-error>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3 label-wd">
                                        <label class="required">Duration</label>
                                        <div class="select-icon">
                                            <ng-select formControlName="durationCdId">
                                                <ng-option value="">Select</ng-option>
                                                <ng-option *ngFor="let item of durationCds$ | async"
                                                    [value]="item.value">{{item.text}}</ng-option>
                                            </ng-select>
                                        </div>
                                        <mat-error *ngIf="mandatoryField " >
                                            {{getValidationMessage('durationCdId',' Select Duration')}}
                                            </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="agencyDetailsSecond">
                        <div class="no-pad">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="mb-3 date-label">
                                        <mat-form-field>
                                            <mat-label>Estimated Begin Date</mat-label>
                                            <input matInput autocomplete="off" [matDatepicker]="picker1" 
                                                formControlName="estbegindate" required
                                                (dateChange)="onChangeDate(addNewProviderForm,'estbegindate')"
                                                [min]="startdate" [max]="enddate">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                        <mat-error *ngIf="mandatoryField " >
                                            {{getValidationMessage('estbegindate',' Enter Estimated Begin Date')}}
                                            </mat-error>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="mb-3 date-label">
                                        <mat-form-field>
                                            <mat-label>Actual Begin Date</mat-label>
                                            <input matInput autocomplete="off" [matDatepicker]="picker2" 
                                                formControlName="actbegindate"
                                                (dateChange)="onChangeDate(addNewProviderForm, 'actbegindate')"
                                                [min]="startdate" [max]="addNewProviderForm.get('actenddate')?.value">
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="mb-3 date-label no-mar">
                                        <mat-form-field>
                                            <mat-label>Estimated End Date</mat-label>
                                            <input matInput autocomplete="off" [matDatepicker]="picker3" 
                                                [min]="addNewProviderForm.get('estbegindate')?.value"
                                                formControlName="estenddate" [max]="enddate" required>
                                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                            <mat-datepicker #picker3></mat-datepicker>
                                        </mat-form-field>
                                        <mat-error *ngIf="mandatoryField " >
                                            {{getValidationMessage('estenddate',' Select Estimated End Date')}}
                                            </mat-error>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="mb-3 date-label no-mar">
                                        <mat-form-field>
                                            <mat-label>Actual End Date</mat-label>
                                            <input matInput autocomplete="off" [matDatepicker]="picker4" 
                                                formControlName="actenddate"
                                                [min]="minActDate && addNewProviderForm.get('actbegindate')?.value"
                                                [max]="enddate">
                                            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                            <mat-datepicker #picker4></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="mb-3">
                                        <label class="">Actual Begin Time</label>
                                        
                                        <mat-form-field>
                                           
                                            <input matInput [owlDateTimeTrigger]="picker24" [owlDateTime]="picker24" formControlName="actbegintime" id="aut-dtp-removalTime" autocomplete="off" placeholder="">
                                            <owl-date-time [pickerType]="'timer'" #picker24 [hour12Timer]="true"></owl-date-time>
                                            <em [owlDateTimeTrigger]="picker24" class="fa fa-clock-o" aria-hidden="true"></em>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="mb-3">
                                        <label class="">Actual End Time</label>
                                    
                                        <mat-form-field>
                                           
                                            <input matInput [owlDateTimeTrigger]="picker23" [owlDateTime]="picker23" formControlName="actendtime" id="aut-dtp-removalTime" autocomplete="off" placeholder="">
                                            <owl-date-time [pickerType]="'timer'" #picker23 [hour12Timer]="true"></owl-date-time>
                                            <em [owlDateTimeTrigger]="picker23" class="fa fa-clock-o" aria-hidden="true"></em>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="mb-3">
                                        <mat-form-field>
                                            <mat-label>Notes</mat-label>
                                            
                                        <textarea matInput formControlName="agencynotes"
                                            class="form-control fm-style"></textarea>
                                        </mat-form-field>
                                        
                                    </div>
                                </div>
                                <div class="col-sm-12 text-end btns-top mar-vspace">
                                    <button [disabled]="!isReadonly" class="btn-pri" (click)="addAgency()">
                                        Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="view-newagencyprovider" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content form-wrapper txt-left" *ngIf="agencyService">
            <div class="modal-header">
                <h4 class="modal-title">View Service</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="agencyDetailsFirst">
                    <div class="form-search-person dangerwork-form address-form no-pad">
                        <div class="col-md-12 no-pad">
                            <div class="mb-3">
                                <label class="required">Client Program Name</label>
                                <span>{{agencyService.agency_program_nm}}</span>
                            </div>
                            <div class="mb-3">
                                <label>Action</label>
                                <span>{{agencyService?.serviceplanactionname}}</span>
                            </div>
                            <div class="mb-3">
                                <label>Service Plan</label>
                                <span>{{agencyService?.serviceplanname}}</span>
                            </div>

                            <div class="mb-3">
                                <label>Services1</label>
                               {{ agencyService.service_nm}}
                                <span>{{agencyService.service_nm}}</span>
                            </div>

                            <div class="mb-3">
                                <label>Frequency</label>
                                <span>{{agencyService.frequency}}</span>
                            </div>

                            <div class="mb-3">
                                <label>Duration</label>
                                <span>{{agencyService.duration}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="agencyDetailsSecond">
                    <div class="form-search-person dangerwork-form address-form no-pad">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="mb-3">
                                    <label class="no-mar">Estimated Begin Date</label>
                                    <span>{{agencyService.estimated_start_date | date}}</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="mb-3">
                                    <label class="no-mar">Actual Begin Date</label>
                                    <span>{{agencyService.actual_begin_date | date}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="mb-3">
                                    <label class="no-mar">Estimated End Date</label>
                                    <span>{{agencyService.estimated_end_date | date}}</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="mb-3">
                                    <label class="no-mar">Actual End Date</label>
                                    <span>{{agencyService.actual_end_date | date}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="mb-3">
                                    <label class="no-mar">Actual Begin Time</label>
                                    <span>{{agencyService.actual_start_time}}</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="mb-3">
                                    <label class="no-mar">Actual End Time</label>
                                    <span>{{agencyService.actual_end_time}}</span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="mb-3">
                                    <label class="no-mar label-notes ">Notes</label>
                                    <span>{{agencyService.notes}}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Delete-newagencyprovider" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-disabled="true">
    <div class="modal-dialog">
        <div class="modal-content form-wrapper txt-left">
            <div class="modal-header">
                <h4 class="modal-title"> Confirm Delete </h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this item? </p>
                <div class="text-end big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" name="" data-bs-dismiss="modal"> No </button>
                    <button type="button" value="Yes" class="btn-pri" name="" (click)="deleteItem()"> Yes </button>
                </div>
            </div>
        </div>
    </div>
</div>