div.requestclass {
  width: 100%;
  height: auto;
  border-style: solid !important;
  border-width: 3px !important;
  border-color: none !important;
  margin-right: 10px !important;
  // margin-top: 10px !important;
  border-radius: 15px !important;
  cursor: pointer !important;
  background-color: #d8e8a3 !important;
  padding: 10px;

}

.requesttable {
  border: none;
  padding: 10px;
  width: 100% !important;

  td {
    padding: 2px;
  }

  .widget-requestbutton {
    width: 100%;
    background-color: #d8e8a3 !important;
    outline: none;
    text-transform: uppercase;
    // border-radius: 0px;
    padding: 6px 6px;
    font-weight: 600;

    :hover {
      background-color: #ADC16B;
      border-color: none !important;
      width: 100%
    }

  }



}

div.pendingclass {
  width: 100%;
  height: auto;
  border-style: solid !important;
  border-width: 3px !important;
  // border-color: #00a2fd !important;
  margin-right: 10px !important;
  border-radius: 15px !important;
  cursor: pointer !important;
  background-color: #a0d5f3 !important;
  padding: 10px;

}

div.turnaroundclass {
  width: 100%;
  height: auto;
  margin-right: 10px !important;
  border-radius: 15px !important;
  cursor: pointer !important;
  background-color: #E0CEFF !important;
  padding: 15px;

}

.collapsed-filter {
  width: 40%;
  vertical-align: top;
}

.expanded-filter {
  width: 100%;
  vertical-align: top;
}

.advfilter {
  width: 20%;
  vertical-align: top;
}

.wtoutadvfilter {
  width: 50%;
  vertical-align: top;
}

.filterbox {
  border-style: solid !important;
  border-color: white !important;
  padding-block: 10px;

}

.widget-main {
  display: flex;
  flex-direction: column;
  color: black !important;
  width: 100%;
  height: auto;
  margin-right: 10px !important;
  border-radius: 15px !important;
  cursor: pointer !important;
  padding: 15px;
}

.widget-elements {
  width: 100%;
  cursor: pointer;
  background-color: #d8e8a3 !important;
  outline: none;
  color: black !important;
  text-transform: uppercase;
  padding: 6px 6px;
  font-weight: 600;
}

.widget-pendingelements {
  width: 100%;
  cursor: pointer;
  background-color: #C0DBFF !important;
  outline: none;
  color: black !important;
  text-transform: uppercase;
  padding: 6px 6px;
  font-weight: 600;
  overflow: hidden;
}

.widget-elements:hover {
  background-color: #ADC16B !important;
}

.widget-pendingelements:hover {
  background-color: #79B3FF !important;
}

.highlight {
  background-color: #ADC16B !important;
}

.pendinghighlight {
  background-color: #79B3FF !important;
}

.popover-content div:first-child {
  width: 100% !important;
  max-width: 400px !important;
}

:host {
  ::ng-deep .popover {
    width: 100%;
    max-width: 400px !important;
  }
}

.resetbtn {
  padding: 5px 8px !important;
}

.custom-grey-label {
  color: #717273;
}

.font-size-cls {
  font-size: 17px;
}

.move-end-cls {
  display: flex;
  justify-content: flex-end;
}