<div role="tabpanel" class="tab-pane active" id="custom-forms">
    <div class="box-grid form-control-size">
        <div class="row">
            <div class="col-sm-9">
                <h3> Custom Form Builder </h3>
            </div>
            <div class="col-sm-3">
                <div class="tab-popup-button text-end">
                    <button href="javascript:void();" data-bs-toggle="modal" data-bs-target="#myModal-add-news" class="btn-pri">
                        <em class="fa fa-plus right-sspace"> </em> Add News </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="row big-top-space">
                    <div class="col-sm-6">
                        <label> Select Type of Custom Form: </label>
                    </div>
                    <div class="col-sm-6">
                        <ng-select [searchable]="true"[clearable]="false">
                            <ng-option>Document</ng-option>
                            <ng-option>Inline Agency action</ng-option>
                            <ng-option>progress Note</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="row big-top-space">
                    <div class="col-sm-6">
                        <label> Select Type of Document: </label>
                    </div>
                    <div class="col-sm-6">
                        <ng-select [searchable]="true" [clearable]="false">
                            <ng-option value="Attachment">Attachment</ng-option>
                            <ng-option value="Form">Form</ng-option>
                            <ng-option value="Library">Library Document</ng-option>
                            <ng-option value="MergeTemplate">Merge Template Document</ng-option>
                            <ng-option value="Notification">NotificationAttachments</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="row big-top-space">
                    <div class="col-sm-6">
                        <label> Select Tab Type: </label>
                    </div>
                    <div class="col-sm-6">
                        <ng-select [searchable]="true" [clearable]="false">
                            <ng-option value="General">General</ng-option>
                            <ng-option value="Disposition">Disposition</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edit-recording" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content customize-modal">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal">×</button>
                    <h4 class="modal-title">Edit Recording Type</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="fm-box">
                                <label>Agency ACTION KEY</label>
                                <div class="fm-box-form">
                                    <input type="text" name="" class="form-control fm-style" placeholder="">
                                </div>
                            </div>
                            <div class="fm-box">
                                <label>Agency ACTION SubType:</label>
                                <div class="fm-box-form">
                                    <ng-select [searchable]="true" [clearable]="false">
                                        <ng-option>System</ng-option>
                                        <ng-option>User</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="fm-box">
                                <label>Agency ACTION KEY</label>
                                <div class="fm-box-form">
                                    <input type="text" name="" class="form-control fm-style" placeholder="">
                                </div>
                            </div>
                            <button type="button" class="btn-pri" name="">Add</button>
                        </div>
                        <div class="col-sm-6">
                            <div class="fm-box">
                                <label>Agency ACTION KEY</label>
                                <div class="fm-box-form">
                                    <input type="text" name="" class="form-control fm-style" placeholder="">
                                </div>
                            </div>
                            <div class="fm-box">
                                <label>Begin Date:</label>
                                <div class="fm-box-form">
                                    <input type="text" name="" class="form-control fm-style w-date" placeholder="8/5/2017">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="fm-box">
                                <label>Begin Date:</label>
                                <div class="fm-box-form">
                                    <input type="text" name="" class="form-control fm-style w-date" placeholder="8/5/2017">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-12 mrg-top25">
                            <div class="pull-right">
                                <button type="button" value="Cancel" class="btn-bg" name="">Cancel</button>
                                <button type="button" value="Save" class="btn-pri" name="">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add-recording" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content customize-modal">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal">×</button>
                    <h4 class="modal-title">Add Recording Type</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="fm-box">
                                <label>Agency ACTION KEY</label>
                                <div class="fm-box-form">
                                    <input type="text" name="" class="form-control fm-style" placeholder="">
                                </div>
                            </div>
                            <div class="fm-box">
                                <label>Agency ACTION SubType:</label>
                                <div class="fm-box-form">
                                    <select class="form-select fm-style w-select">
                                        <option>System</option>
                                        <option>User</option>
                                    </select>
                                </div>
                            </div>
                            <div class="fm-box">
                                <label>Agency ACTION KEY</label>
                                <div class="fm-box-form">
                                    <input type="text" name="" class="form-control fm-style" placeholder="">
                                </div>
                            </div>
                            <button type="button" class="btn-pri" name="">Add</button>
                        </div>
                        <div class="col-sm-6">
                            <div class="fm-box">
                                <label>Agency ACTION KEY</label>
                                <div class="fm-box-form">
                                    <input type="text" name="" class="form-control fm-style" placeholder="">
                                </div>
                            </div>
                            <div class="fm-box">
                                <label>Begin Date:</label>
                                <div class="fm-box-form">
                                    <input type="text" name="" class="form-control fm-style w-date" placeholder="8/5/2017">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="fm-box">
                                <label>Begin Date:</label>
                                <div class="fm-box-form">
                                    <input type="text" name="" class="form-control fm-style w-date" placeholder="8/5/2017">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-12 mrg-top25">
                            <div class="pull-right">
                                <button type="button" value="Cancel" class="btn-bg" name="">Cancel</button>
                                <button type="button" value="Save" class="btn-pri" name="">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
