<div class="">
        <div class="col-box team"> 
<div style="padding: 10px; float: right;">
    
    <a style="font-size: 11px;color: #b39898;padding: 5px 15px;line-height: normal;border-radius: 15px;" class="intro">Day</a> 

    <a style="font-size: 11px;color: #b39898;padding: 5px 15px;line-height: normal;border-radius: 15px;">Months</a>

    <a style="font-size: 11px;color: #b39898;padding: 5px 15px;line-height: normal;border-radius: 15px;">Years</a>
</div>
<table style="width:100%" class="perform-table" aria-describedby="tbl-team-performance">
    <tr>
        <th scope="col">Case Worker</th>
        <th scope="col">SLA</th>
        <th scope="col">Workload</th>
        <th scope="col"></th>
        <th scope="col">Closure Rate</th>
    </tr>
    <tr>
        <td>Jennifer</td>
        <td>100%</td>
        <td>
            <div class="w3-light-grey">
                <div id="myBar1" class="w3-green" style="height:15px;width:0"></div>
            </div>
        </td>
        <td>10%</td>
        <td>23/d</td>
    </tr>
    <tr>
        <td>Chris Andrews</td>
        <td>98%</td>
        <td>
            <div class="w3-light-grey">
                <div id="myBar2" class="w3-green" style="height:15px;width:0"></div>
            </div>
        </td>
        <td>60%</td>
        <td>56/d</td>
    </tr>
    <tr>
        <td>Brenden Chads</td>
        <td>100%</td>
        <td>
            <div class="w3-light-grey">
                <div id="myBar3" class="w3-green" style="height:15px;width:0"></div>
            </div>
        </td>
        <td>25%</td>
        <td>23/d</td>
    </tr>
    <tr>
        <td>Ricky Raees</td>
        <td>100%</td>
        <td>
            <div class="w3-light-grey">
                <div id="myBar4" class="w3-green" style="height:15px;width:0"></div>
            </div>
        </td>
        <td>60%</td>
        <td>35/d</td>
    </tr>
    <tr>
        <td>Mark Eves</td>
        <td>100%</td>
        <td>
            <div class="w3-light-grey">
                <div id="myBar5" class="w3-green" style="height:15px;width:0"></div>
            </div>
        </td>
        <td>75%</td>
        <td>78/d</td>
    </tr>
    <tr>
        <td>Michel John</td>
        <td>98%</td>
        <td>
            <div class="w3-light-grey">
                <div id="myBar6" class="w3-green" style="height:15px;width:0"></div>
            </div>
        </td>
        <td>15%</td>
        <td>56/d</td>
    </tr>
</table>
 
</div>
</div>