.modal-iframe .modal-content {
    min-height: 580px;
}
.icon-btn a .fa-angle-down,
.icon-btn a .fa-angle-up {
    font-size: 23px;
    line-height: 13px;
    vertical-align: middle;
}

.head-bg mat-icon {
    padding-left: 8px;
    /* other styles as needed */
}

td a .fa-angle-down,
td a .fa-angle-up {
    font-size: 23px;
    line-height: 13px;
    vertical-align: middle;
}
.show {
    display: table-row !important;
}

td.icon-btn {
    width: 80px;
    i {
        cursor: pointer;
    }
}
.m-t-30 {
    margin-top: 30px;
}
.btn-bg {
    background: #00a2fd;
    border: 1px solid #00a2fd;
    color: #fff;
}
.modal-iframe iframe {
    width: 100%;
    height: 84vh;
}
.modal-iframe .modal-lg {
    width: 96%;
}
.modal-iframe .modal-lg .modal-body {
    width: 96%;
    min-height: 95%;
}
.icon-btn a {
    vertical-align: middle;
}

.flatpickr-calendar.open {
    z-index: 10000;
}
.icon-disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.fa-trash:before {
    font-size: 16px;
}
.hideAssessStartImg{
    display: none;
}
::ng-deep .form-letter-tab {
    margin: 0px;
}
.modal-dialog{
    width:fit-content !important;
    max-width: 98% !important;
}

.modal-dialog-optional {
    max-width: 40% !important;
    width: unset !important;
}

.section-box {
    // background-color: lightgrey;
     border: 1px solid black;
     padding: 30px;
     margin: 20px;
 }
 
 .head-bg {
     // background-color: #337ab7;
     box-sizing: border-box;
     padding: 10px 13px;
     margin-top: 0px;
     text-transform: capitalize !important;
     border-radius: 3px;
     // color: #fff !important;
 }
 
 .head-bg-top {
     // background-color: #337ab7;
     box-sizing: border-box;
     padding: 10px 13px;
     margin-top: 0px;
     text-transform: capitalize !important;
     border-radius: 3px;
     font-weight:bold;
     // color: #fff !important;
 }
 
 .head-pad {
     padding: 0px 15px 15px 15px;
 }
 
 .content-wrapper {
     border: 1px solid #ccc;
     margin-top: 20px;
     padding: 15px;
 }
 
 .radio-wrp {
     padding: 20px;
 
     p {
         label,
         mat-radio-group {
             display: inline-block;
         }
 
         label {
             float: left;
             width: 50%;
         }
         /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
         mat-radio-group {
             width: 45%;
             padding-left: 30px;
         }
     }
 }
 
 /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
 mat-checkbox {
     display: block;
 }
 
 .form-wrapper {
     margin: 20px 0 17px 0;
 }
 
 .no-bg {
     background: none;
     outline: none;
     color: #00A2FD;
     border: none;
 }
 
 .pd-wrp {
     padding: 0 20px;
 }
 
 .custom-tb-wd mat-form-field {
     display: block !important;
 }
 
 .custom-tb-wd tr td:last-child {
     vertical-align: middle;
 }
 
 .section2-tb {
     width: 100%;
     
     th:first-child,
     td:first-child {
         width: 20%;
     }
     
     th:nth-child(2),
     td:nth-child(2) {
         width: 30%;
     }
     
     th:nth-child(3),
     td:nth-child(3) {
         width: 20%;
     }
     
     th:last-child,
     td:last-child {
         width: 30%;
     }
 }
 
 .section2-tb mat-form-field {
     display: block !important;
 }
 
 .section2-tb-2 {
     display: block !important;
     width: 100%;
 
     tbody {
         display: block !important;
         width: 100%;
 
         tr {
             display: block !important;
             width: 100%;
 
             th:first-child,
             td:first-child {
                 width: 50%;
                 float: left;
             }
             
             th:last-child,
             td:last-child {
                 width: 47%;
                 float: left;
             }
 
         }
     }
 }
 
 .section2-tb-2 mat-form-field {
     display: block !important;
     width: 50%;
     float: right;
 }
 
 .cus-tab-section li {
     width: 20%;
 
     a {
         text-align: center;
     }
 }
 
 .tab-horizontal.widge-nav .nav {
     border: none !important;
     background: #fff;
 }
 
 .form-builder-wrp.tab-content {
     margin-top: 50px;
 }
 
 .font-md {
     font-size:16px;
 }
 
 .radio-mar mat-radio-button {
     margin-left:1%;
 }
 
 .row-ml {
     margin-left:1%;
 }
 
 .req-fields {
     color:	#FF0000;
     font-weight:bold;
 }
 // CANS-F Form Ends
 .signature-field{
     position: relative;
     display: block;
     margin-bottom: 10px;
     background: #dddddd70;
     border: 1px solid #ddd;
 }
 
 .disabledField {
     pointer-events: none;
     cursor: not-allowed;
 }
 
 .p-l-14 {
     padding-left: 14px;
 }
 
 @media print {
     .hide-print {
       display: none;
     }
 }
 
 .signatureimg{
     border: 1px solid gray;
     width : 100% !important;
     height : 100% !important;
    // border: 1px solid #797373; margin-top: 2px;
 }
 ::ng-deep signature-pad {
    justify-content: inherit !important;
}