/*panel*/
.petition-tab ul.nav.nav-pills {
    background: #fff;
    border-bottom: 1px solid #dddddd;
    padding: 0 15px;
}
.petition-tab ul.nav.nav-pills li a {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    padding: 15px 15px;
}
.petition-tab ul.nav.nav-pills li a:focus,.petition-tab ul.nav.nav-pills li a:hover {
    background: #f5faff;
    border-bottom:none;
    border-radius: 0;
}
.petition-tab ul.nav.nav-pills li.active a {
    background: #f5faff;
    border-bottom: 3px solid #21a6e8;
    border-radius: 0;
}
.petition-tab .tab-content.boxgrid {
    background: #fff;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.16), 0 7px 26px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow:0 0px 2px 0 rgba(0, 0, 0, 0.16), 0 7px 26px 0 rgba(0, 0, 0, 0.12);
    padding:15px;
}
.petition-panel {
    // border: 2px solid #e2e2e2;
    // margin-top: 10px;
    // margin-bottom: 0;
}
.petition-panel .card-header h4 {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
    margin-top: 0;
}
.petition-panel .card-header {
    padding:20px 15px 10px;
    background: #fff;
    border-bottom: 2px solid #e2e2e2;
}
.petition-panel .card-body {
    max-height:460px;
}
.petition-panel .card-body dl {
    margin-bottom: 0px;
    display: block;
    // width: 100%;
    float: left;
    clear: both;
}

.petition-panel .dl-horizontal dd {
    //margin-left: 1px;
    font-size: 14px;
    // margin-right: 24px;
    font-weight: 600;
    color: #000;
    // width: 140px;
    //float: left;
}
.petition-panel .dl-horizontal dt {
    width:127px;
    font-size: 14px;
    font-weight: 700;
    color:#333;
    margin-top:15px;
    text-align: left;
}
textarea.mat-mdc-input-element {height:85px;}

/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-label {font-weight: 600;color:#333;font-size: 14px;}
.mat-mdc-option {background: #fff;}
/*TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version.*/
.mat-mdc-option:hover:not(.mat-option-disabled) {background: #f5faff;}

/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.petition-tab .mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label, .petition-tab .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    font-weight: 600;
    color: #333;
    font-size: 14px;
    transform: translateY(-1.28125em) scale(1) perspective(100px) translateZ(.001px) !important;
    -webkit-transform: translateY(-1.28125em) scale(1) perspective(100px) translateZ(.001px) !important;
}

.fullDisabled {
    pointer-events: none !important;
}

.required-cl:after {
    content: "*";
    color: #ff0000;
}


.disabledField {
    pointer-events: none;
    cursor: not-allowed;
}

.update-hearing-header {
    font-size: 15px;
    font-weight: bold;
}

.hearingnotes-textarea{
    margin-bottom: 15px;
}
.datechangeofpermanency {
    background: none;
    width: 30%;
}
.aut-btn-addHearing{
    margin-left: 11px !important;
}
.hearing-date .mdc-floating-label.mat-mdc-floating-label {
    font-size:14px !important;
}

.parent-required-msg {
    margin-right: auto;
    text-align: left;
}