<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-letter-tab">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li routerLinkActive="active">
            <a [routerLink]="['/pages/admin/da-config/actions-tasks-goals/dsds-action-mapping-categories']">Agency Action Mapping Categories </a>
          </li>

          <li routerLinkActive="active">
            <a [routerLink]="['/pages/admin/da-config/actions-tasks-goals/dsds-action-goals/']">Agency Action Goals </a>
          </li>

          <li routerLinkActive="active">
            <a [routerLink]="['/pages/admin/da-config/actions-tasks-goals/dsds-action-tasks/']">Agency Action Tasks </a>
          </li>

          <li routerLinkActive="active">
            <a [routerLink]="['/pages/admin/da-config/actions-tasks-goals/dsds-action-mappings/']">Agency Action Mappings </a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>