.div-center {
    background: #00A2FD !important;
    color: white !important;
    font-size: 11px !important;
    margin: auto;
    width: 106px;
    padding: 0px;
    height: 20px;
    left: 40%;
    position: absolute;
}
.btn-help-close {
    margin-right: 30px;
}
.nav-item .active {
    border: 1px solid #ccc;
    border-radius: 5px;
    border-bottom: 0;
}

.tabswapper div {
    margin-top: 10px;
    max-height: 250px;
    p { 
        margin-bottom: 5px;
        display: inline-block;
        width: 50%;
        font-size: 18px;
    }
}
// .content-wapper {
//     margin: 15px;
// }

// .tabswapper {
//     padding-top: 10px;
//     width: 100%;
// }

// .form-control{
//     border-radius: 1rem;
// }
.main-1 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
}
.main-2 {
    padding-top: 15px;
}
.input-text-group {
    margin-top: 7px;
}
.input-text-group input {
    width: 45%;
    border-radius: 5px;
}

.navbar-nav>li>a {
    padding: 0px 0px !important;
    margin: 0px !important;
    color: white !important;
    font-size: 11px !important;
}

.nav>li>a:hover {
    background-color: #00A2FD !important;
}

.drop-menu {
    top: 32px !important;
}

.screenshotDiv {
    margin: 5px;
}

#user-tickets .modal-lg {
  width: 90%;
}

#user-tickets select {
    -webkit-appearance: menulist-button;
}

@media print {
    .div-center {
        display: none;
    }
}

div.ex1 {
    background-color: lightblue;
    width: 1100px;
    height: 800px;
    overflow: scroll;
  }

