<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 m-t-30">
            <div class="h4-title">Receipts Fast Entry</div>
            <div class="row m-t-20">
              <div class="col-md-10" [formGroup]="receiptForm">
                  <div class="row">
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Select Account Type</mat-label>
                            <mat-select  formControlName="account_type_cd" (selectionChange)="onAccountChange($event.value)" required>
                              <mat-option>Select</mat-option>
                              <mat-option *ngFor="let account of accountType$ | async" [value]="account.value">{{account.text}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf="displayValidationMessages">
                            {{getErrorsMessage('account_type_cd','Select Account Type')}}
                        </mat-error>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Select Receipt Type</mat-label>
                            <mat-select  formControlName="transaction_source_cd" required>
                              <mat-option>Select</mat-option>
                              <mat-option *ngFor="let receipt of receiptType$ | async" [value]="receipt.picklist_value_cd">{{receipt.value_tx}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf="displayValidationMessages">
                            {{getErrorsMessage('transaction_source_cd','Select Receipt Type')}}
                        </mat-error>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn-pri pull-right m-t-15" (click)="getReceiptEntryList()">Show Transaction</button>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row m-t-20">
              <div class="col-md-12">
                  <div class="pull-right m-l-20">
                      <button [disabled]='!enableBulk || !isVissbleButton' type="button" class="btn-pri pull-right" (click)="saveBulkReceipt()">{{saveBulkTxt}}</button>

                  </div>
                  <div class="search-container pull-right">
                     <div class="inner-addon right-addon pull-right m-l-20">
                        <em aria-hidden="true" class="fa fa-search" (click)="searchReceiptEntry('clientId')"></em>
                        <input (keyup.enter)="searchReceiptEntry('clientId')" type="text" [(ngModel)]="clientId"
                           class="form-control" placeholder="Search by Client ID" />
                     </div>
                     <div class="inner-addon right-addon pull-right search-box">
                        <em aria-hidden="true" class="fa fa-search" (click)="searchReceiptEntry('clientName')"></em>
                        <input (keyup.enter)="searchReceiptEntry('clientName')" type="text" [(ngModel)]="clientName"
                           class="form-control" placeholder="Search by Client Name" />
                     </div>
                  </div>
                  <ul class="nav nav-tabs custom-receipttab" role="tablist">
                      <li class="nav-item">
                          <a class ="nav-link active" data-bs-target="tab" href="#transcationDetail" aria-controls="home" role="tab" data-bs-toggle="tab" (click)="getTransaction('transactionTab')">Transactions</a>
                      </li>
              
                      <li class="nav-item">
                          <a class ="nav-link" data-bs-target="tab"  href="#unpostedTransaction" aria-controls="details" role="tab" data-bs-toggle="tab" (click)="getUnpostReceipt('unPostTab')">Unposted Transactions</a>
                      </li>
                  </ul>
                <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="transcationDetail">
                  <div class="table-responsive table-theme m-t-20">
                      <table class="table table-striped" aria-describedby="client details">
                        <thead>
                          <tr>
                            <th id="select-bulk"><mat-checkbox [disabled]="!disTransBulk" [(ngModel)]="selectTransBulk" class="display-bl" (change)="getBulk($event.checked)"></mat-checkbox></th>
                            <th id="client-id">Client ID</th>
                            <th id="client-name">Client Name</th>
                            <th id="ssn">SSN
                                <span>&nbsp;
                                    <a (click)="toggleSsn()">
                                        <em class="fa fa-lg {{ssnEye}}"></em>
                                    </a>
                                </span>
                            </th>
                            <th id="account-number">Account Number</th>
                            <th id="amount">Amount</th>
                            <th id="received">Received</th>
                            <th id="post">Post</th>
                            <th id="action">Action</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="receiptEntryList">
                          <tr *ngFor="let receipt of receiptEntryList; let i=index">
                            <td>
                                <input *ngIf="!receipt.post_sw" type="checkbox" [(ngModel)]="receipt.transChecked" (change)="transChanged($event, receipt)" class="trans" id="trans-id-{{i}}">
                            </td>
                            <td>{{receipt.client_id}}</td>
                            <td>{{receipt.client_name}}</td>
                            <td>{{receipt.ssn | ssnmaskpipe:showSsnMask}}</td>
                            <td>{{receipt.account_no_tx}}</td>
                            <td>{{receipt.transaction_amount_no | cjamsCurrency}}</td>
                            <td>{{!receipt.post_sw ? 'No' : 'Yes'}}</td>
                            <td *ngIf="(!receipt.post_sw || receipt.post_sw==='N')">No</td>
                            <td *ngIf="receipt.post_sw==='Y'">Yes</td>
                            <td class="btn-icon">
                                <button *ngIf="!receipt.post_sw && isVissbleButton" type="button" data-bs-toggle="modal" data-bs-target="#fast-entry-details" (click)="viewTransaction(receipt)" matTooltip="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                <button *ngIf="receipt.post_sw" type="button" data-bs-toggle="modal" data-bs-target="#fast-entry-details" (click)="viewTransaction(receipt)" matTooltip="View"><i class="fa fa-eye" aria-hidden="true"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="text-center" *ngIf="totalcount > 10">
                            <pagination [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
                                class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                            </pagination>
                        </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="unpostedTransaction">
                <div class="table-responsive table-theme m-t-20">
                          <table class="table table-striped" aria-describedby="client">
                            <thead>
                              <tr>
                                <th id="select-post-bulk"><mat-checkbox [disabled]="!disPostBulk" [(ngModel)]="selectPostBulk" class="display-bl" (change)="getBulk($event.checked)"></mat-checkbox></th>
                                <th id="client-id">Client ID</th>
                                <th id="client-name">Client Name</th>
                                <th id="ssn">SSN
                                    <span>&nbsp;
                                        <a (click)="toggleSsn()">
                                            <em class="fa fa-lg {{ssnEye}}"></em>
                                        </a>
                                    </span>
                                </th>
                                <th id="account-number">Account Number</th>
                                <th id="amount">Amount</th>
                                <th id="received">Received</th>
                                <th id="post">Post</th>
                                <th id="action">Action</th>
                              </tr>
                            </thead>
                            <tbody *ngIf="unPostReceiptList">
                              <tr *ngFor="let receipt of unPostReceiptList; let i=index">
                                <td>
                                    <input type="checkbox" class="unpost" [(ngModel)]="receipt.postChecked" (change)="postChanged($event, receipt)" id="unpost-id-{{i}}">
                                </td>
                                <td>{{receipt.client_id}}</td>
                                <td>{{receipt.client_name}}</td>
                                <td>{{receipt.ssn | ssnmaskpipe:showSsnMask}}</td>
                                <td>{{receipt.account_no_tx}}</td>
                                <td>{{receipt.transaction_amount_no | cjamsCurrency}}</td>
                                <td>{{!receipt.post_sw ? 'No' : 'Yes'}}</td>
                                <td *ngIf="(!receipt.post_sw || receipt.post_sw==='N')">No</td>
                                <td *ngIf="receipt.post_sw==='Y'">Yes</td>
                                <td class="btn-icon">
                                    <button *ngIf = "isVissbleButton" type="button" data-bs-toggle="modal" data-bs-target="#fast-entry-details" (click)="editUnpostReceipt(receipt)" matTooltip="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="text-center" *ngIf="totalpagecount > 10">
                                <pagination [totalItems]="totalpagecount" [(ngModel)]="pageInfo.pageNumber" (pageChanged)="pageNumberChanged($event.page)"
                                    class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                                </pagination>
                           </div>
                      </div>
                      </div>
                      </div>

              </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="fast-entry-details">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
        <div class="modal-content" [formGroup] ="viewReceiptEntry">
            <div class="modal-header">
              <h4 class="modal-title">Receipts Fast Entry Details</h4>
              <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Account Type</mat-label>
                          <input matInput  formControlName="account_type">
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Entered By</mat-label>
                          <input matInput  formControlName="entered_by">
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Client ID</mat-label>
                          <input matInput  formControlName="client_id">
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>SSN</mat-label>
                          <input matInput  formControlName="ssno">
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Benefit Start Date</mat-label>
                          <input matInput autocomplete="off" [matDatepicker]="picker1"  formControlName="benefit_start_dt">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>

                      <currency-input [min]="0" matInput placeholder="Amount" formControlName="transaction_amount_no" (keyup)="checkDec($event)" ></currency-input>
                      <mat-form-field>
                        <mat-label>Notes</mat-label>
                          <textarea matInput  formControlName="notes_tx"></textarea>
                      </mat-form-field>            
                  </div>
                  <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Transaction Source</mat-label>
                          <input matInput  formControlName="transaction_source">
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Entered Date</mat-label>
                          <input matInput autocomplete="off" [matDatepicker]="picker3"  formControlName="entered_dt">
                          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                          <mat-datepicker #picker3></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Client Name</mat-label>
                          <input matInput  formControlName="client_name">
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Account Number</mat-label>
                          <input matInput  formControlName="account_no_tx">
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Benefit End Date</mat-label>
                          <input matInput autocomplete="off" [matDatepicker]="picker2"  formControlName="benefit_end_dt">
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                      <div class="m-t-25">
                        <mat-checkbox class="display-bl" formControlName="post_sw" (change)="receivedReceipt($event.checked)">Received</mat-checkbox>

                      </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer text-end">
                    <button *ngIf="editReceipt" type="button" class="sec-btn" data-bs-dismiss="modal" (click)="closeReceipt()">Close</button>
                <button *ngIf="editReceipt" type="button" [disabled]="!disableSave" class="btn-pri" (click)="saveReceipt()">{{savBtn}}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="popup">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Title</h4>
                <button type="button" class="btn-close close pull-right"  data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>Content To Display</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn-pri pull-right">Ok</button>
            </div>
        </div>
    </div>
</div>