.display-bl {
    display: block;
}

.m-t-25 {
    margin-top: 25px;
}

.btn-icon button {
    outline: none;
    background: none;
    border: none;
}

.btn-icon button i:before {
    color: #00A2FD;
    font-size: 14px;
}

.m-t-15 {
    margin-top: 15px;
}

.trans-btn {
    top: 0px;
    right: 0px;
}

.nav>li>a {
    color: #000000;
    border: none;
}

.nav-tabs.custom-receipttab>li.active>a, 
.nav-tabs.custom-receipttab>li.active>a:focus, 
.nav-tabs.custom-receipttab>li.active>a:hover {
    color: #00A2FD;
    cursor: default;
    background-color: #fff;
    border-bottom: 3px solid #00A2FD;
}

.search-box {
    width: 200px;
}