<div class="row">
    <div class="col-md-12 " [formGroup]="dentalForm">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6 m-b-5">
                    <p>Dental Information<label class="required"></label></p>
                    <mat-radio-group required formControlName="isdentalinfo">
                        <mat-radio-button class="m-r-10" value="true">Yes</mat-radio-button>
                        <mat-radio-button value="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <mat-form-field>
                <mat-label>Name of the Dentist</mat-label>
                <input matInput required formControlName="dentistname" placeholder="">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Specialty</mat-label>
                    <mat-select required formControlName="dentalspecialtytypekey" placeholder="">
                            <mat-option  *ngFor="let item of specialty$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                    </mat-select>
                       </mat-form-field>
            <mat-form-field>
                <mat-label>Phone number</mat-label>
                <input matInput required formControlName="phone"  placeholder="" mask="(000) 000-0000">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email Address</mat-label>
                <input matInput required formControlName="email" placeholder="">
            </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Address Line 1</mat-label>
                <input matInput formControlName="address1" placeholder="">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Address Line 2</mat-label>
                <input matInput formControlName="address2" placeholder="">
            </mat-form-field>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>City</mat-label>
                        <input formControlName="city" matInput placeholder="" >
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>State</mat-label>
                        <mat-select formControlName="state" placeholder="">
                            <mat-option *ngFor="let item of stateDropdownItems$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>County</mat-label>
                        <mat-select required formControlName="county" placeholder="">
                            <mat-option *ngFor="let item of countyDropDownItems$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Zip Code</mat-label>
                        <input formControlName="zip" matInput placeholder="">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Start Date</mat-label>
                        <input required (change)="startDateChanged()" formControlName="startdate" matInput
                            autocomplete="off" [matDatepicker]="picker3" placeholder="">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>End Date</mat-label>
                        <input (change)="endDateChanged()" formControlName="enddate" matInput autocomplete="off" [matDatepicker]="picker4" placeholder="">
                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

        </div>
        <div class="row m-b-20">
            <div class="col-sm-12 ">
                <div class="pull-right">
                    <span *ngIf="reportMode === 'add'">
                        <a (click)="resetForm()">Clear</a> &nbsp;
                        <button class="btn-pri" [disabled]="dentalForm.pristine || dentalForm.invalid" (click)="add()">Add</button>
                    </span>
                    <span *ngIf="reportMode === 'edit'">
                        <button class="btn-pri" [disabled]="dentalForm.pristine || dentalForm.invalid" *ngIf="editMode === true"
                            (click)="update()">Update</button>
                        <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-sm-12" *ngIf="persondentalinfo && persondentalinfo.length>0">
            <div class="table-responsive table-theme table-bordered">
                <table class="table" aria-describedby="tbl-person-dental-lst">
                    <thead>
                        <tr>
                            <th scope="col">Dental Information</th>
                            <th scope="col">NAME</th>
                            <th scope="col">SPECIALTY</th>
                            <th scope="col">PHONE NUMBER</th>
                            <th scope="col">COUNTY</th>
                            <th scope="col">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let phy of persondentalinfo; let i=index">
                            <td>{{phy.isdentalinfo ? 'Yes' : 'No'}}</td>
                            <td>{{phy.dentistname}}</td>
                            <td>{{specialty[phy.dentalspecialtytypekey]}}</td>
                            <td>{{phy.phone}}</td>
                            <td>{{phy.county}}</td>
                            <td>
                                <a (click)="view(phy)">
                                    <em class="fa fa-eye text-16"></em>
                                </a> |
                                <a (click)="edit(phy, i)">
                                    <em class="fa fa-pencil text-16"></em>
                                </a> |
                                <a (click)="delete(i)">
                                    <em class="fa fa-trash text-16"></em>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
