<div id="Profile-info m-t-50" class="container-fluid">
  <h4 class="mt-20">Address Search</h4>
  <form [formGroup]="involvedPersonSearchForm">
    <div class="row m-t-20">
      <div class="col-sm-2">
        <mat-form-field>
          <mat-label>Address Line 1</mat-label>
          <input type="text" matInput placeholder="" formControlName="address1">
        </mat-form-field>
      </div>
      <div class="col-sm-2">
        <mat-form-field>
          <mat-label>Address Line 2</mat-label>
          <input type="text" matInput placeholder="" formControlName="address2">
        </mat-form-field>
      </div>

      <div class="col-sm-2">
        <mat-form-field>
          <mat-label>Zip Code</mat-label>
          <input type="text" matInput placeholder="" mask="00000-9999" formControlName="zip">
        </mat-form-field>
      </div>
      <div class="col-sm-2">
        <mat-form-field>
          <mat-label>City</mat-label>
          <input type="text" matInput placeholder="" formControlName="city">
        </mat-form-field>
      </div>
      <div class="col-sm-2">
        <mat-form-field>
          <mat-label>State</mat-label>
          <mat-select placeholder="" formControlName="stateid" (selectionChange)="loadCounty()">
            <mat-option *ngFor="let item of stateDropdownItems$ | async" value="{{item.ref_key}}">
              {{item.description}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="col-sm-2">
        <mat-form-field>
          <mat-label>County</mat-label>
          <mat-select placeholder="" formControlName="county">
            <mat-option *ngFor="let item of countyDropdownItems$ | async" value="{{item.ref_key}}">
              {{item.description}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-12 m-t-30 pull-right">
        <div class="wizard-buttons text-end">
          <input class="btn-bg" type="button" (click)="clearPersonSearch()" value="Clear" />
          <button class="btn-pri" type="submit"
            [disabled]="involvedPersonSearchForm.pristine || involvedPersonSearchForm.invalid"
            (click)="searchInvolvedPersons(involvedPersonSearchForm.value, 'new')">Find</button>
        </div>
      </div>
    </div>

  </form>
</div>

<div class="Search-res m-t-10" *ngIf="isSearch">
  <div class="col-sm-12">
    <h4 class="mt-20">Search Result</h4>
    <button class="no-bg pull-right" type="submit" (click)="clearFilter()"><i class="fa fa-refresh"
        aria-hidden="true"></i> Reset</button>
  </div>
  <div class="col-sm-12" *ngIf="personSearchResult; let involvedPersonSearchResponses">

    <div class="outer mt-20">
      <div class="table-responsive table-theme">
        <table class="table customTable firsttable" *ngIf="involvedPersonSearchResponses.length > 0" sortable-table
          (sorted)="onSortedPerson($event)" aria-describedby="person details">
          <thead>
            <tr>

              <th></th><!--/* //NOSONAR */-->
              <th id="firstname-header" sortable-column="firstname">First name</th>
              <th id="middlename-header" sortable-column="middlename">Middle name</th>
              <th id="lastname-header" sortable-column="lastname">Last Name</th>
              <th id="ssn-header" sortable-column="ssn">SSN</th>
              <th id="dob-header" sortable-column="dob">DOB</th>
              <th id="cjamspid-header" sortable-column="cjamspid">CJAMS ID</th>
              <th id="assistpid-header" sortable-column="assistpid">CIS ID</th>
              <th id="dl-header" sortable-column="dl">DL No</th>
              <th id="mdmid-header" sortable-column="mdmid">MDM ID</th>
              <th id="priors-header" sortable-column="priors">prior history</th>
            </tr>
          </thead>
          <tbody *ngFor="let row of involvedPersonSearchResponses; let rowId=index;"
            [ngClass]="{'highlight' : row.exactmatch }">
            <tr>

              <td>
                <a (click)="searchPersonDetailsRow(rowId, row)">
                  <i [class]="showPersonDetail === rowId ? 'fa fa-angle-up':'fa fa-angle-down'" aria-hidden="true"></i>
                </a>
              </td>
              <td>{{row?.firstname}}</td>
              <td>{{row?.middlename}}</td>
              <td>{{row?.lastname}} {{row?.suffix}}</td>
              <td>{{(row?.ssn ?? '') | ssnmaskpipe:showSsnMask}}</td>
              <td>{{row?.dob | date:'MM/dd/yyyy':'+0000'}}</td>
              <td>{{row?.cjamspid}}</td>
              <td>{{row?.cisclientid}}</td> <!-- CHESSIE ID = cisclientid -->
              <td>{{row?.dl}}</td>
              <td>{{row?.mdm_id}}</td>
              <td>
                <a (click)="searchPersonDetailsRow(rowId, row)">Priors </a>
              </td>

            </tr>
            <tr [class]="showPersonDetail === rowId ? 'show':'hide'">
              <td class="p-15" colspan="14">
                <table class="table customTable innerTable" aria-describedby="person">
                  <thead>
                    <tr>
                      <th id="alias-header">ALIAS</th>
                      <th id="prefix-header">PREFIX</th>
                      <th id="dod-header">DOD</th>
                      <th id="address-header">ADDRESS</th>
                      <th id="auditlog-header" *ngIf="isAuditVisible">AUDIT LOG</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{row?.alias | aliasDisplay}}</td>
                      <td>{{row?.prefx}}</td>
                      <td>{{row?.dateofdeath | date:'MM/dd/yyyy'}}</td>
                      <td>

                        {{replaceALL(row?.primaryaddress)}}


                      </td>
                      <td *ngIf="isAuditVisible"><a (click)="showAuditLog(row)">View</a></td>

                    </tr>
                    <tr>
                      <td colspan="14" class="td-pad">
                        <div>
                          <h5 class="p-6">Prior Case History</h5>
                        </div>

                        <div id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="card panel-default"
                            *ngFor="let action of personDSDSActions$ | async; let i=index;">
                            <div class="card-header">
                              <h4 class="card-title collapsed">
                                <a href="#collapse-{{rowId}}-{{i}}" [ngClass]="action.highLight?'orange':''"
                                  data-bs-toggle="collapse" data-parent="#accordion"
                                  aria-expanded="false">{{action.daTypeName}}
                                  <span class="glyphicon pull-right glyphicon-plus more-less"></span>
                                </a>
                              </h4>
                            </div>
                            <div id="collapse-{{rowId}}-{{i}}" class="panel-collapse collapse" aria-expanded="false"
                              style="height: 0px;">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <div class="table-responsive second-inner-table p-15">
                                      <table class="table accordion-table" aria-describedby="child services">
                                        <thead>
                                          <tr>
                                            <th id="case-number-header">CASE NUMBER</th>
                                            <th id="sub-type-header" *ngIf="action.daTypeName === 'Child Protective Services'">SUB TYPE</th>
                                            <th id="name-header">NAME</th>
                                            <th id="head-of-household-header">HEAD OF HOUSEHOLD</th>
                                            <th id="role-header">ROLE</th>
                                            <th id="date-received-header">DATE RECEIVED</th>
                                            <th id="date-completed-header">DATE COMPLETED</th>
                                            <th id="status-header">STATUS</th>
                                            <th id="jurisdiction-header">JURISDICTION</th>
                                            <th id="maltreatment-info-header" *ngIf="action.daTypeName === 'Child Protective Services'">Maltreatment Info</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let item of action?.daDetails">
                                            <td>
                                              <a [ngClass]="item.dasubtype === 'Peace Order'?'orange':''"
                                                href="javascript:{}" (click)="priorAuditLog(item)">{{item.danumber}}</a>
                                            </td>
                                            <td *ngIf="action.daTypeName === 'Child Protective Services'">
                                              {{item.dasubtype}}</td>
                                            <td>{{row?.firstname}}

                                              {{row?.lastname}}
                                            </td>
                                            <td>
                                              <ng-container *ngFor="let item of item.headofhousehlod; let isLast=last">
                                                    {{item.personname}}<span *ngIf="!isLast">, </span>
                                              </ng-container>
                                            </td>
                                            <td>
                                          <tr *ngFor="let role of item.roles">
                                            <td>{{role}}</td>
                                          </tr>
                      </td>

                      <td>{{item.datereceived
                                                                                          |
                                                                                          date:'MM/dd/yyyy
                                                                                          H:mm:ss'
                                                                                          }}
                      </td>
                      <td>{{item.datecompleted}}</td>
                      <td>{{item.status}}</td>
                      <td>{{item.county}}</td>
                      <td *ngIf="action.daTypeName === 'Child Protective Services'">
                        <ng-container *ngIf="isMaltreator(item.roles); else naTemplate">
                          <a (click)="showOutcome(row,item)">View</a>
                        </ng-container>
                        <ng-template #naTemplate>
                          N/A
                        </ng-template>


                      </td>
                    </tr>
                    <tr *ngIf="action?.daDetails?.length === 0">
                      <td colspan="8">No match
                        were
                        found.
                      </td>
                    </tr>
                  </tbody>
                </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>

</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<div class="" *ngIf="involvedPersonSearchResponses.length === 0">
  <p>No Results match your criteria.
  </p>

</div>
</div>


</div>

</div>
<div class="col-sm-12 text-center mt-20">
  <div *ngIf="totalRecords > 10">
    <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
      class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
  </div>
</div>


</div>

<div class="modal fade in" id="person-out-come" role="dialog">
  <div class="modal-dialog modal-lg custom-wid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Maltreatment Info</h4>
        <button type="button" class="btn-close close pull-right" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div id="outcome-history" class="tab-pane fade show active">

            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 col-lg-3">
                  <p class="textb disp-color"><strong>Case # : </strong> {{selectedCaseInfo?.danumber }} </p>
                </div>
                <div class="col-sm-12 col-lg-3">
                  <p class="textb disp-color"><strong>Name : </strong> {{selectedPerson?.firstname }}
                    {{selectedPerson?.middlename }} {{selectedPerson?.lastname }}
                    {{selectedPerson?.suffix}} </p>
                </div>
                <div class="col-sm-12 col-lg-2">
                  <p class="textb disp-color"><strong>DOB :
                    </strong>{{selectedPerson?.dob | date:'MM/dd/yyyy':'+0000'}} </p>
                </div>
                <div class="col-sm-12 col-lg-2">
                  <p class="textb disp-color"><strong>Gender : </strong>{{selectedPerson?.gendertypekey}}</p>
                </div>
                <div class="col-sm-12 col-lg-2">
                  <p class="textb disp-color"><strong>CJAMS PID# : </strong>{{selectedPerson?.cjamspid}}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive petition-table table-theme mt-20">
                  <table class="table table-striped customTable firsttable" aria-describedby="maltreatment details">
                    <thead>
                      <tr>
                        <th id="victim-name-header">Victim Name</th>
                        <th id="maltreatment-type-header">Maltreatment Type</th>
                        <th id="alleged-maltreator-header">Alleged Maltreator</th>
                        <th id="relationship-to-maltreator-header">Relationship to Maltreator</th>
                        <th id="findings-header">Findings</th>
                        <th id="finalization-date-header">Finalization Date</th>
                      </tr>
                    </thead>

                    <tbody>
                      <ng-container *ngIf="selectedCaseInfo?.outcomes?.length; else noRecordTemplate">
                        <tr *ngFor="let outcome of selectedCaseInfo?.outcomes">
                          <td>{{outcome.personname}}</td>
                          <td>{{outcome.name}}</td>
                          <td>{{selectedPerson.firstname }} {{selectedPerson.middlename }}
                            {{selectedPerson.lastname }} {{selectedPerson.suffix}} </td>
                          <td>{{outcome.description}}</td>
                          <td><span
                              *ngFor="let finding of outcome.findings">{{finding.finalizeddate ? finding.finalfindingdescription ? finding.finalfindingdescription : finding.appealfindingdescription ?  finding.appealfindingdescription : finding.findingdescription : '' }}</span>
                          </td>
                          <td><span
                              *ngFor="let finding of outcome.findings">{{finding.finalizeddate  | date: 'MM/dd/yyyy'}}</span>
                          </td>
                        </tr>
                      </ng-container>
                      <ng-template #noRecordTemplate>
                        <tr>
                          <td colspan="5">Maltreatment Information not yet recorded under
                            Maltreatment Findings.</td>
                        </tr>
                      </ng-template>


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>