.left-side-filter {
    padding: 8px 15px;
    box-shadow: 0 0 5px #e7fcff;
    height: calc(100vh - 50px);
    overflow: auto;
    background: #e7fcff;
}

.left-side-filter h5 {
    color: #333;
    font-weight: 600;
    font-size: 15px;
}

.left-side-filter hr .h-row {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #abf5ff;
    margin-left: -15px;
    margin-right: -15px;
}

// CSS for Iphone 12 Pro
@media screen and (max-width: 395px) {
    .m-left-filter {
        height: calc(75vh - 50px); 
    }
}

// CSS for Iphone 14 pro
@media screen and (min-width: 395px) and (max-width: 576px) {
    .m-left-filter {
        height: calc(70vh - 50px); 
    }
}

// CSS for iPad Mini
@media screen and (min-width: 768px) and (max-width: 820px) {
    .m-left-filter {
        height: calc(68vh - 50px); 
    }
}

// CSS for iPad Air
@media screen and (min-width: 820px) and (max-width: 1024px) {
    .m-left-filter {
        height: calc(58vh - 50px); 
    }
}