
@use '../../person-info.component.scss';
.border, .border-1, .border-2 {
    border: 1px solid #D8D8D8;
    min-height: 215px;
    margin-top: 10px;
}
.border-2 {
    border-top: none; 
}

.border-1 {
   border-left: none;
}

.pt-26 {
    padding-top:26px;
}

.border-button {
    border: 1px solid #D8D8D8;
    margin-top: -1px;
}

.red {
    color: red;
}
.address-container {
    height: 610px;
    overflow-y: auto;
}

.person-section-header {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 4px;
}

