div.absolute {
    position: absolute;
    right: 20px;
}

.signature-field{
    position: relative;
    display: block;
    margin-bottom: 10px;
    background: #dddddd70;
    border: 1px solid #ddd;
}

.panel-primary {
    border-color: #337ab7;
}

.panel-primary>.card-header {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.card-header {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}