<div class="row" [formGroup]="emotionalTiesForm">
    <div class="col-lg-7 col-md-12">
        <h5 class="text-uppercase h5-title">Emotional Ties</h5>
        <h6 class="h6-title">Circumstances of Child</h6>
        <div class="m-t-10">
            <mat-checkbox formControlName="isfosterparents">Child is living with resource parent(s), relative(s) or friends and the LDSS holds custody</mat-checkbox>
            <mat-checkbox formControlName="isadoptivefamily">Prospective adoptive family is deeply committed to the child </mat-checkbox>
            <mat-form-field class=""> <textarea matInput placeholder="Notes" formControlName="notes"></textarea> </mat-form-field>
        </div>
    </div>


    <div class="col-md-12 m-t-30 ad-plan-efforst">
        <h5 class="text-uppercase h5-title">Significant Emotional Ties</h5>
        <div *ngIf = "_authService.readonlyButton('read_only_access','caseworker-emotionalties-add')">
        <button  [disabled]="isAdoptionCreated || _authService.isDisabled('adoptionplanning','adoptionplanning.planning.emotionaltiesadd')" class="btn-pri pull-right text-uppercase add-btn aut-btn-add" 
        *securityKeyNew="'adoptionplanning,adoptionplanning.planning.emotionaltiesadd'" (click)="manageEmotionalPerson('Add')"><span class="plus-icon">+</span> Add</button></div>
        <div class="m-t-20 table-responsive table-theme">
            <table class="table table-striped" aria-describedby="Emotional Ties">
                <thead>
                    <tr>
                        <th id="providerIdHeader">Provider Id</th>
                        <th id="nameHeader">Name</th>
                        <th id="rocHeader">Relationship to Child</th>
                        <th id="itcHeader">Importance to Child</th>
                        <th id="actionHeader">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tie of emotionalTies; let i = index">
                        <td>{{ tie?.providerid }}</td>
                        <td>{{ tie.fullname }}</td>                        
                        <td>{{ tie.relationshiptochildtx }}</td>
                        <td>{{ tie.importancetochildtx }}</td>
                        <td class="icon">
                            <span *securityKeyNew="'adoptionplanning,adoptionplanning.planning.emotionaltiesedit'">
                                <span type="button" *ngIf="!isAdoptionCreated && _authService.readonlyButton('read_only_access','caseworker-emotionalties-edit')" class="p-r-10" [ngClass]="{'pointer-events-none': isEditDisabled}"                                
                                (click)="manageEmotionalPerson('Update', tie, i)"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</span>
                            </span>
                            <span type="button" (click)="manageEmotionalPerson('View', tie, i)"
                                *securityKeyNew="'adoptionplanning,adoptionplanning.planning.emotionaltiesview'">
                                <i class="fa fa-eye" aria-hidden="true"></i>View</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12 m-t-20">
        <span *securityKeyNew="'adoptionplanning,adoptionplanning.planning.emotionaltiessave'" [fieldKeyNew]="'adoptionplanning,adoptionplanning.planning.emotionaltiessave'">
            <button class="sec-btn text-uppercase" *ngIf="!isAdoptionCreated && _authService.readonlyButton('read_only_access','caseworker-emotionalties-save')"         
            (click)="saveEmotionalTie('')">SAVE</button>
            <button class="btn-pri text-uppercase pull-left" *ngIf="!isAdoptionCreated && _authService.readonlyButton('read_only_access','caseworker-emotionalties-save')" (click)="saveEmotionalTie('Next')">SAVE AND PROCEED TO NEXT</button>
        </span>
    </div>
</div>

<div class="modal fade in" id="manage-emotional-tie" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ selectedEmotional && selectedEmotional.action ? selectedEmotional.action : '' }} Emotional Ties</h4>
                <button aria-label="Close" title="close" class="btn-close close pull-right" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div [formGroup]="personRelationForm">
                        <div class="row">
                            <div class="checkbox-container col-sm-5">
                                <mat-radio-group formControlName="persontype" (change)="onchangePersonType()">
                                    <mat-radio-button value="Provider">Provider</mat-radio-button>
                                    <mat-radio-button value="Other">Other</mat-radio-button>
                                </mat-radio-group>
                            </div> 
                            <div class="col-sm-12"></div>
                            <div class="col-sm-4" *ngIf="personRelationForm.getRawValue().persontype === 'Provider'">
                                <br>
                                <button class="btn btn-theme btn-pri text-uppercase aut-btn-save" [disabled]="viewEmotionalTies" (click)="onSearchProvider()">
                                        Search Provider</button>
                                <br>        
                            </div>
                            <div class="col-sm-12"></div>
                        </div>
                        <div class="row m-t-10 m-b-10" *ngIf="personRelationForm.getRawValue().persontype === 'Other'">
                            <div class="col-md-2">
                                <mat-form-field>
                                    <mat-select placeholder="Prefix" formControlName="fmprefixtypekey"> 
                                        
                                        <mat-option *ngFor="let item of prefixTypes" value="{{item}}">
                                                {{item}}
                                            </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class=""> <input matInput placeholder="First Name" formControlName="fmfirstname" /> </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class=""> <input matInput placeholder="Middle Name" formControlName="fmmiddlename" /> </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class=""> <input matInput placeholder="Last Name" formControlName="fmlastname" /> </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field>
                                    <mat-select placeholder="Suffix" formControlName="fmsuffixtypekey"> 
                                            <mat-option *ngFor="let item of suffixTypes" value="{{item}}">
                                                    {{item}}
                                                 </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row" *ngIf="personRelationForm.getRawValue().persontype === 'Provider' && selectedProviderData?.length ">
                                <div class="col-md-12 m-b-30">
                                        <div class="table-responsive table-theme height-table">
                
                                            <table class="table table-striped aut-tbl-placementProviderTable" aria-describedby="Selected Provider Details">
                                                <thead>
                                                    <tr>
                                                        <th id="spdProviderIdHeader">Provider ID</th>
                                                        <th id="spdProviderNameHeader">Provider Name</th>
                                                        <th id="spdVacancyHeader">Vacancy</th>
                                                        <th id="spdPlacementStrHeader">Placement Structure</th>
                                                        <th id="spdProviderCatHeader">Provider category</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of selectedProviderData; index as i">
                                                        <td><a data-bs-target="#searchResult" (click)="selectedViewProv(item)"
                                                                data-bs-toggle="modal">{{item.provider_id}}</a></td>
                                                        <td>{{item.providername}}</td>
                                                        <td>{{item.vacancy}}</td>
                                                        <td>{{item.placementstructure}}</td>
                                                        <td>{{item.provider_category_name}}</td>
                                                    </tr>
                                                    <tr *ngIf="selectedProviderData?.length === 0">
                                                        <td colspan="6" style="text-align: center !important;">
                                                            No Records Found.
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        
                                        </div>
                                    </div>
                        </div>

                        <div class="row" >
                            <div class="col-md-6">
                                <mat-form-field class=""> <textarea matInput placeholder="Relationship to Child" formControlName="relationshiptochildtx"></textarea> </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class=""> <textarea matInput placeholder="Importance to Child" formControlName="importancetochildtx" ></textarea> </mat-form-field>
                            </div>
                        </div>

                    <div class="col-md-12 m-t-20 text-end"><button class="btn btn-theme btn-pri text-uppercase aut-btn-save" [disabled]="personRelationForm.invalid || viewEmotionalTies" (click)="saveEmotionalPerson()">{{ selectedEmotional && selectedEmotional.action === 'Add' ? 'SAVE' : 'UPDATE'  }}</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="searchProvider">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="h5-title col-md-8">Provider Search</h5>
                    <button type="button" (click)="resetproviderSearchForm()" class="btn-close close pull-right" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body m-20">
                    <div *ngIf="this.currProcess ==='search'" class="tab-pane" id="search-form">
                        <form [formGroup]="providerSearchForm">
                            <h5 class="pt-20 pb-20 textb text-uppercase">Search Provider 1</h5>
    
                            <div class="row">
    
                                <div class="col-md-12 ps-20">
                                    <div class="row">
                                        <h5 class="textb text-uppercase heading-bg ps-20">
                                            
                                        </h5>
    
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <input matInput placeholder="First Name" value=""
                                                    formControlName="firstname">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-2">
                                            <mat-form-field>
                                                <input matInput placeholder="Middle Name" value=""
                                                    formControlName="middlename">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <input matInput placeholder="Last Name" value="" formControlName="lastname">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-select placeholder="Child Characteristics"
                                                    formControlName="childcharacteristics" multiple>
                                                    <mat-option *ngFor="let item of childCharacteristics"
                                                        value="{{item.picklist_value_cd}}">{{item.description_tx}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-select placeholder="Other Local Department"
                                                    formControlName="otherLocalDeptmntTypeId" multiple>
                                                    <mat-option *ngFor="let item of otherLocalDeptmntType"
                                                        value="{{item.picklist_value_cd}}">{{item.description_tx}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <input matInput placeholder="Zip Code" value="" formControlName="zipcode"
                                                    zipcodeOnly>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-select placeholder="Placement Structure"
                                                    formControlName="placementstructures" multiple>
                                                    <mat-option *ngFor="let item of placementStrType"
                                                        value="{{item.service_id}}">
                                                        {{item.service_nm}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-select placeholder="Bundled Placement Services"
                                                    formControlName="bundledplacementservices" multiple>
                                                    <mat-option *ngFor="let item of bundledPlcmntServicesType"
                                                        value="{{item.service_id}}">
                                                        {{item.service_nm}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <input matInput placeholder="Provider ID" value=""
                                                    formControlName="providerid">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ps-20 pt-20">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="textb text-uppercase heading-bg">
                                                <mat-checkbox class="" formControlName="isAge">Age</mat-checkbox>
                                            </h5>
                                            <div class="">
                                                <p>Youngest :
                                                    <mat-select placeholder="Choose Age" formControlName="agemin">
                                                        <mat-option *ngFor="let item of getRangeArray(21); let i = index;"
                                                            [value]="i">{{i}}
                                                        </mat-option>
                                                    </mat-select>
                                                </p>
                                                <p>Oldest :
                                                    <mat-select placeholder="Choose Age" formControlName="agemax">
                                                        <mat-option *ngFor="let item of getRangeArray(21); let i = index;"
                                                            [value]="i">{{i}}
                                                        </mat-option>
                                                    </mat-select>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h5 class="textb text-uppercase heading-bg">
                                                <mat-checkbox class="" formControlName="isgender">Gender</mat-checkbox>
                                            </h5>
                                            <mat-select placeholder="Gender" formControlName="gender">
                                                <mat-option *ngFor="let gender of genderDropdownItems"
                                                    value="{{gender.typedescription}}">
                                                    {{gender.typedescription}}</mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
    
                                </div>
                                <div class="col-md-12 text-end ">
                                    <button class="aut-btn-placemntSearch btn btn-theme btn-pri m-l-30 pull-right"
                                        (click)="getFcProviderSearch()"
                                        [disabled]="providerSearchForm.invalid">SEARCH</button>
                                    <button class="btn btn-theme btn-sec m-l-30 pull-right"
                                        (click)="resetproviderSearchForm()">Clear</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="this.currProcess ==='select'" class="tab-pane" id="search-list">
                        <h5 class="pt-20 pb-20 textb text-uppercase">Select Provider</h5>
                        <div class="col-md-12 m-b-30">
                            <div class="table-responsive table-theme height-table">
    
                                <table class="table table-striped aut-tbl-placementProviderTable" aria-describedby="FC Provider Search">
                                    <thead>
                                        <tr>
                                            <th id="fcSelectHeader">Select</th>
                                            <th id="fcProviderIdHeader">Provider ID</th>
                                            <th id="fcProviderNameHeader">Provider Name</th>
                                            <th id="fcVacancyHeader">Vacancy</th>
                                            <th id="fcPlacementStrHeader">Placement Structure</th>
                                            <th id="fcProviderCatHeader">Provider category</th>
                                            <th id="fcActionHeader">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of fcProviderSearch; index as i">
                                            <td>
                                                <input type="radio" name="provider"
                                                    [ngClass]="i===0 ? 'aut-opt-placementProvider' : ''"
                                                    (change)="selectedProv(item)">
                                            </td>
                                            <td><a data-bs-target="#searchResult" (click)="selectedViewProv(item)"
                                                    data-bs-toggle="modal">{{item.provider_id}}</a></td>
                                            <td>{{item.providername}}</td>
                                            <td>{{item.vacancy}}</td>
                                            <td>{{item.placementstructure}}</td>
                                            <td>{{item.provider_category_name}}</td>
                                            <td> <button *ngIf="(fcProviderSearch)?.length>0" type="button"
                                                    class="btn-pri pull-right m-r-20 m-b-10" (click)="listMap(item)">
                                                    View Map
                                                </button></td>
                                        </tr>
                                        <tr *ngIf="fcProviderSearch?.length === 0">
                                            <td colspan="6" style="text-align: center !important;">
                                                No Records Found.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-center m-t-20" *ngIf="fcTotal && fcTotal > fcpaginationInfo.pageSize">
                                    <pagination [totalItems]="fcTotal" [(ngModel)]="fcpaginationInfo.pageNumber"
                                        (pageChanged)="fcPageChanged($event)" class="pagination-sm" [boundaryLinks]="true"
                                        [maxSize]="10" [itemsPerPage]="fcpaginationInfo.pageSize">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-end ">
                            <button class="btn btn-theme btn-pri m-l-30 pull-right aut-btn-placementNext"
                                [disabled]="selectedProvider?.length < 1" (click)="selectProvider()">Select
                                Provider</button>
                            <button class="btn btn-theme btn-pri m-l-30 pull-right" (click)="backToSearch()">Back
                                to Search</button>
                        </div>
                    </div>
    
                </div>
                <div class="modal-footer">
    
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade in modal-theme" id="map-popup" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog t-25">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close" (click)="closeMap()">×</button>
                    <div>
                        
                    </div>
                    <div class="text-end big-bot-space right-mspace-15 m-t-30">
                        <button class="btn-pri aut-btn-caseOk" name="" (click)="closeMap()"> OK </button>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade in modal-supervisor" id="info-pop" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    <p class="title display-inlinebl">Information</p>
                    <div class=""><p class="theme f-w-600">Please enter data in the Emotional Ties tab of this screen, in order to record information pertinent to IV-E adoption determinations.</p></div>
                          <div class="text-start m-t-20">
                        <button type="button" value="" class="btn-pri" name="" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
