<div class="modal fade" id="add-newactivity" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content Persons-Involved">
                <div class="modal-header">
                    <h4 class="modal-title"> {{updateServicePlanButton ? 'Edit Activity' : 'Add New Activity'}}</h4>
                    <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close" (click)="clearItem()"></button>
                </div>
              </div>
        </div>
    </div>
    