.team_manage li.active {
    background-color: #e5e5e5;
    padding-left: 5px;
}
.team_manage li {
    cursor: pointer;
}

.team_manage {
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    max-height: 520px;
}
