<div class="" id="approved-placement">
<div class="row">
    <div class="col-sm-12 col-lg-3 m-t-10">
        <div class="collapse-horizontal-20">
            <mat-form-field>
                <mat-label>Search Client #</mat-label>
                <input type="text" matInput placeholder="" (keyup.enter)="onSearchClient()" [(ngModel)]="clientSearch">
                <button mat-button matSuffix aria-label="Search Client #" (click)="onSearchClient()">
                <i aria-hidden="true" class="fa fa-search"></i>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="table-responsive table-theme">
            <table sortable-table (sorted)="onChildListSort($event)" class="table table-striped" aria-describedby="client details">
                <thead>
                    <tr>
                        <th id="placement-validation-id" sortable-column="validation_id" sort-direction="desc">Placement Validation ID</th>
                        <th id="client-id" sortable-column="client_id" sort-direction="desc">Client ID</th>
                        <th id="client-name" sortable-column="clientname" sort-direction="desc">Client Name</th>
                        <th id="case-id" sortable-column="case_id" sort-direction="desc">Case ID</th>
                        <th id="provider-name" sortable-column="provider_nm" sort-direction="desc">Provider Name</th>
                        <th id="placement-structure" sortable-column="placement_structure_nm">Placement Structure</th>
                        <th id="start-date" sortable-column="validation_start_dt" sort-direction="desc">Start Date</th>
                        <th id="end-date" sortable-column="validation_end_dt" sort-direction="desc">End Date</th>
                        <th id="placement-address" sortable-column="address" sort-direction="desc">Placement Address</th>
                        <th id="program" sortable-column="contract_program_nm" sort-direction="desc">Program</th>
                        <th id="action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of placementList">
                        <td>{{item.placement_validation_id}}</td>
                        <td>{{item.client_id}}</td>
                        <td>{{item.client_first_nm}}&nbsp;{{item.client_last_nm}}</td>
                        <td>{{item.case_id}}</td>
                        <td>{{item.provider_nm}}</td>
                        <td>{{item.placement_structure_nm}}</td>
                        <td>{{item.validation_start_dt | date:'MM/dd/yyyy'}}</td>
                        <td>{{item.validation_end_dt | date:'MM/dd/yyyy'}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.contract_program_nm ? item.contract_program_nm : 'N/A'}}</td>
                        <td>
                            <span (click)="editPlacement(item)">
                                <em class="fa fa-eye"></em>
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="placementList?.length === 0">
                        <td colspan="6" style="text-align: center !important;">
                            No records found.
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-10">
                <div class="text-center" *ngIf="totalcount > 10">
                    <pagination [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
                        class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="approved-placement-details" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"
aria-labelledby="">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Approved Placement Details</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 m-t-20" [formGroup]="placementForm">
                    <div class="col-md-6">
                        <p class="m-b-20"><strong>Worker Id : {{loggedInUser.cjamspid}}</strong></p>
                        <mat-form-field class="">
                            <input formControlName="clientname" matInput placeholder="Client Name">
                        </mat-form-field>
                        <mat-form-field class="">
                            <input formControlName="provider_nm" matInput placeholder="Provider Name">
                        </mat-form-field>
                        <mat-form-field class="">
                            <input formControlName="validation_month" matInput placeholder="Validation Month">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Start Date</mat-label>
                            <input formControlName="validation_start_dt" matInput autocomplete="off" [matDatepicker]="picker31" placeholder="">
                            <mat-datepicker-toggle matSuffix [for]="picker31"></mat-datepicker-toggle>
                            <mat-datepicker #picker31></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Comments</mat-label>
                            <textarea formControlName="comment_tx" matInput placeholder=""></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                            <p class="m-b-20"><strong style="text-transform: capitalize;">Worker : {{loggedInUser.fullname}}</strong></p>
                        <mat-form-field class="">
                            <input formControlName="client_id" matInput placeholder="Client ID">
                        </mat-form-field>
                        <mat-form-field class="">
                            <input formControlName="contract_program_nm" matInput placeholder="Program Name">
                        </mat-form-field>
                        <mat-form-field class="">
                            <input formControlName="placement_structure_nm" matInput placeholder="Placement Structure">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>End Date</mat-label>
                            <input formControlName="validation_end_dt" matInput autocomplete="off" [matDatepicker]="picker32" placeholder="">
                            <mat-datepicker-toggle matSuffix [for]="picker32"></mat-datepicker-toggle>
                            <mat-datepicker #picker32></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Placement Address</mat-label>
                            <textarea formControlName="address" matInput placeholder=""></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn-pri pull-right"  type="button" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>