<div class="row" *ngIf="!isAddEdit && !isClosed && _authService.isPersonSubTabViewable('person','person.Health.insuranceadd')">
    <div class="col-sm-12">
        <div class="add-container">
            <a (click)='addInsuranceInfo()'>+ Add Insurance Information</a>
        </div>
    </div>
</div>  
<div class="row" *ngIf="isAddEdit">
    <div class="col-md-12" [formGroup]="healthinsuranceForm">
        <div class="col-sm-12">
            <div class=" m-b-5" [ngStyle]="{ 'pointer-events' : reportMode === 'edit' ? 'none' : 'inherit' }" >
                <p class="required">Does Client have Insurance<label></label></p>
                <mat-radio-group  formControlName="ismedicaidmedicare" required>
                    <mat-radio-button (click)="isInsuranceExsists(true)" class="m-r-10" [value]="true">Yes</mat-radio-button>
                    <mat-radio-button (click)="isInsuranceExsists(false)" [value]="false">No</mat-radio-button>
                </mat-radio-group>
                <mat-error *ngIf ="healthinsuranceForm.get('ismedicaidmedicare')?.invalid && checkforrequired">Please select a value for Does Client have Insurance </mat-error>
            </div>
        </div>
        <ng-container *ngIf="isInsuranceAvailableforPerson">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12 m-b-5">
                        <mat-form-field>
                            <mat-label>Type of Insurance</mat-label>
                            <mat-select  (selectionChange)="setInsurance($event)" formControlName="insurancetype"
                                placeholder="" [required]="isInsuranceAvailableforPerson">
                                <mat-option *ngFor="let item of (typeofInsuranceDropDownItem$ | async)" value="{{item.ref_key}}">{{
                                        item.description }}</mat-option>

                            </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf ="healthinsuranceForm.get('insurancetype')?.invalid && checkforrequired && isInsuranceAvailableforPerson">
                            Please select a value for Type of Insurance
                        </mat-error>
                        <mat-form-field>
                            <mat-label>Medical Insurance Provider</mat-label>
                            <mat-select (selectionChange)="setProviderType($event)" *ngIf="medAssistance"  formControlName="medicalinsuranceprovider" placeholder="" >
                                <mat-option value="AMERIGROUP Community Care"> AMERIGROUP Community Care</mat-option>
                                <mat-option value="Helix Family Choice, Inc."> Helix Family Choice, Inc.</mat-option>
                                <mat-option value="JAI Medical Systems"> JAI Medical Systems</mat-option>
                                <mat-option value="Maryland Physicians Care"> Maryland Physicians Care</mat-option>
                                <mat-option value=" Priority Partners"> Priority Partners</mat-option>
                                <mat-option value="The Diamond Plan"> The Diamond Plan</mat-option>
                                <mat-option value="United Healthcare"> United Healthcare</mat-option>
                                <mat-option value="other"> Other</mat-option>
                            </mat-select>
                            <mat-select (selectionChange)="setProviderType($event)" *ngIf="!medAssistance"  formControlName="medicalinsuranceprovider"
                                placeholder="Medical Insurance Provider" >
                                <mat-option value="Aetna">Aetna</mat-option>
                                <mat-option value="Amerigroup Maryland, Inc.">Amerigroup Maryland, Inc.</mat-option>
                                <mat-option value="Blue Cross/Blue Shield">Blue Cross/Blue Shield</mat-option>
                                <mat-option value="Care First">Care First</mat-option>
                                <mat-option value="Diamond Plan (Coventry)">Diamond Plan (Coventry)</mat-option>
                                <mat-option value="Helix Family Choice">Helix Family Choice</mat-option>
                                <mat-option value="JAI Medical Systems, Inc">JAI Medical Systems, Inc</mat-option>
                                <mat-option value="Kaiser Permanente">Kaiser Permanente</mat-option>
                                <mat-option value="Magellan">Magellan</mat-option>
                                <mat-option value="Maryland Physicians Care">Maryland Physicians Care</mat-option>
                                <mat-option value="Priority Partners">Priority Partners</mat-option>
                                <mat-option value="TriCare">TriCare</mat-option>
                                <mat-option value="United Health Care">United Health Care</mat-option>
                                <mat-option value="US Family Health Plan">US Family Health Plan</mat-option>
                                <mat-option value="other"> Other</mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                    </div>
                   
                </div>
                <div class="row" *ngIf="isCustomInsuranceProvider">
                    <div class="col-sm-6 m-b-5">
                        <mat-form-field>
                            <mat-label>Enter Provider Name</mat-label>
                            <input  formControlName="customprovidertype" matInput placeholder="">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>Provider Type</mat-label>
                            <mat-select  formControlName="providertype"  placeholder="">
                                <mat-option (click)="modifyInsuranceType('Primary')" value="Primary" *ngIf="!isPrimaryExists">Primary</mat-option>
                                <mat-option (click)="modifyInsuranceType('Secondary')" value="Secondary" *ngIf="!isPrimaryInsurance">Secondary</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>Provider Phone Number</mat-label>
                            <input formControlName="providerphone" matInput placeholder="" mask="(000) 000-0000">
                        </mat-form-field>
                    </div>
                    <smarty-street-address [address]="address" [requiredForApproval]="checkforrequired"></smarty-street-address>
                </div>

              
            </div>
            <div class="col-sm-6">
                <mat-form-field>
                    <mat-label>Managed Care Organization</mat-label>
                    <input matInput formControlName="managedcareorganization" placeholder="">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Policy holder name</mat-label>
                    <input matInput formControlName="policyholdername" placeholder="" [required]="isInsuranceAvailableforPerson">
                </mat-form-field>
                <mat-error *ngIf ="healthinsuranceForm.get('policyholdername')?.invalid && checkforrequired && isInsuranceAvailableforPerson">
                    Please enter a value for Policy holder name
                </mat-error>
                <mat-form-field>
                    <mat-label>Patient Relationship to Policyholder</mat-label>
                    <mat-select formControlName="patientpolicyholderrelation"
                        placeholder="">
                        <mat-option *ngFor="let item of patientRelationships"  [value]="item.picklist_value_cd">{{item.description_tx}}

                        </mat-option>
              
                    </mat-select>
                </mat-form-field>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>Policy Number</mat-label>
                            <input matInput  formControlName="policynumber" maxlength="18" placeholder="" > 
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>Group Number</mat-label>
                            <input matInput formControlName="groupnumber" maxlength="18" placeholder="">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <common-date-picker [min]="insuranceStartDate" [max]="healthinsuranceForm.getRawValue().enddate"  formControlName="startdate" placeholder="Effective Policy Date" [disabled]="dtDisable" >
                        </common-date-picker>
                    </div>
                    <div class="col-sm-6">
                        <common-date-picker [min]="healthinsuranceForm.getRawValue().startdate"   formControlName="enddate" placeholder="Expiration Date" [disabled]="dtDisable">
                        </common-date-picker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>MA Number</mat-label>
                            <input matInput  formControlName="medicarenumber" maxlength="18" placeholder="" > 
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <common-date-picker [min]="insuranceStartDate" [max]="healthinsuranceForm.getRawValue().medicaidstartdate"  formControlName="medicaidstartdate" placeholder="Start Date" [disabled]="dtDisable" >
                        </common-date-picker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>MA Type</mat-label>
                            <input matInput  formControlName="caresmatypekey" maxlength="18" placeholder="" > 
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <common-date-picker [min]="healthinsuranceForm.getRawValue().medicaidstartdate"   formControlName="medicaidenddate" placeholder="End Date" [disabled]="dtDisable" >
                        </common-date-picker>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>Provided By Notes</mat-label>
                           <textarea formControlName="providedbynotes" type="text" matInput placeholder=""></textarea>
                        </mat-form-field>
                    </div>
        
                </div>

            </div>
            <div class="row">
                <attachment-upload-shared [load] = "load"   [uploadedDocuments]="uploadedFiles" (uploadclosed)="uploadclosed($event)" ></attachment-upload-shared>
                <document-upload-list-shared  (loadEvent) = "updateLoad()" [ngClass]="(reportMode === 'edit' && editMode !== true) ? 'view-mode':''" pageType="personhealth"
                [uploadedFiles]="uploadedFiles" [uploadhealth]="true" [uploadNumber]="uploadNumber"></document-upload-list-shared>    
            </div>
        </ng-container>
      
        <div class="row m-b-20">
            <div class="col-sm-12">
                <div class="pull-right">
                    <span *ngIf="reportMode === 'add'">
                        <button class="btn-pri"(click)="resetForm()">Clear</button>
                        <button class="btn-pri" (click)="add()" [disabled]="healthinsuranceForm.pristine || isClosed || !_authService.isPersonSubTabViewable('person','person.Health.insuranceadd')">Add</button>
                    </span>      
                    <span *ngIf="reportMode === 'edit'">
                        <button class="btn-pri" [disabled]="healthinsuranceForm.pristine || healthinsuranceForm.invalid || isClosed || !_authService.isPersonSubTabViewable('person','person.Health.insuranceadd')"
                            *ngIf="editMode === true" (click)="update()">Update</button>
                        <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
                    </span>
                </div>
            </div>
        </div>   
    </div>
</div> 
 <div class="row">
    <div class="col-sm-12 m-t-20">
        <div class="table-responsive table-theme table-bordered">
            <table class="table tbl-ins-info" aria-describedby="tbl-insurance-info-lst">
                <thead>
                    <tr>
                        <th scope="col">Insurance</th>
                        <th scope="col">Policy Holder Name</th>
                        <th scope="col">Expiration Date</th>
                        <th scope="col">Update on</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="healthInsurance.length; else elseTemplate">
                        <tr *ngFor="let health of healthInsurance; let i=index">
                            <td>{{health.ismedicaidmedicare === true ? 'Yes' : 'No'}}</td>
                            <td>{{health.policyholdername}}</td>
                            <td>{{health.expirationdate | date:'MM/dd/yy HH:mm'}}</td>
                            <td>{{health.updatedon | date:'MM/dd/yy HH:mm'}}</td>
                            <td [ngClass] = "{'disable-anchor': isClosed}">
                                <a (click)="view(health)">
                                   <em class="fa fa-eye text-16" matTooltip="View"></em>  
                                </a>
                                <ng-container *ngIf="health.infoclienttypekey !== 'R'">
                                | <a *ngIf="!isClosed && _authService.isPersonSubTabViewable('person','person.Health.insuranceedit')" (click)="edit(health, i)">
                                   <em class="fa fa-pencil text-16" matTooltip="Edit"></em> 
                                </a>
                                | <a [ngClass] = "{'pointer-events-none' : isClosed || !_authService.isPersonSubTabViewable('person','person.Health.insurancedelete')}" (click)="confirmDelete(health)">
                                   <em class="fa fa-trash text-16" matTooltip="Delete"></em>
                                </a>
                                </ng-container>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <tr>
                            <td colspan="6">
                                No Records added.
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade custom-modal" id="delete-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Confirm Delete </h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <p> Are you sure want to Delete? </p>

                <div class="text-end big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-bg" name="" (click)="declineDelete()"> No </button>
                    <button type="button" value="Yes" class="btn-pri" name="" (click)="delete()"> Yes </button>
                </div>
            </div>
        </div>
    </div>
</div>