<div class="approval-history-container">
    <div class="m-r-10 m-l-10 table-responsive table-theme">
        <table class="table table-striped"  sortable-table aria-describedby="tbl-shrd-aprvl-hstry-dtls">
          <thead>
            <tr>
              <th scope="col">Updated Date and Time </th>
              <th scope="col">Updated By</th>
              <th scope="col">Status</th>
                                      
            </tr>
          </thead>
          <tbody>
            <ng-container>
              <tr *ngFor = "let data of assesment">
                <td>
                 {{data['insertedon'] | date:'MM/dd/yyyy hh:mm a'}}
                </td>
                <td>
                    {{data['fromusername']}}
                </td>
                <td>
                    {{data['routingstatustypeid'] == 15 ? 'REVIEW' : data['routingstatustypeid'] == 16 ? 'APPROVED' : data['routingstatustypeid'] == 17 ? 'REJECTED' : data['routingstatustypeid'] }}
                </td>
               
              </tr>
  
            </ng-container>
          </tbody>
              
        </table>
      </div>
</div>