.textb {
    font-weight: 700;
}
.clsGap-form .form-group {
    margin-bottom: 7px;
    label {
        font-weight: 600;
    }
}
.clsForm-inline {
    label {
        font-weight: 600;
        width: 40%;
        float: left;
        text-transform: capitalize;
    }
    input,
    select,
    textarea {
        &.form-control {
            border: 0px;
            border-bottom: 1px solid #cecece;
            width: 60%;
            float: right;
            box-shadow: none;

            &:active,
            &:focus {
                border-bottom: 1px solid #cecece;
            }
        }
    }
}
.clsGap-form-block {
    border: 1px solid #E0E8F8;
    .header-bg {
        background: #E0E8F8;
        color: #333;
        text-transform: uppercase;
        margin: 0;
        font-weight: 600;

        h3 {
            margin: 7px;
            font-size: 14px;
        }

        label {
            padding-top: 7px;
        }
    }
    .clsGap-form-inner {
        padding: 10px 15px;
    }
    label {
        font-weight: 400;
        margin-bottom: 0;
        font-size: 13px;
        line-height: 14px !important;
        &.textb {
            font-weight: 600;
        }
    }
    input,
    select,
    textarea {
        &.form-control {
            border: 0px;
            border-bottom: 1px solid #cecece;
            box-shadow: none;

            &:active,
            &:focus {
                border-bottom: 1px solid #cecece;
            }
        }
    }
    input[type='md-checkbox'] {
        margin: 15px 0 0;
    }
}
.clsCalend {
    position: relative;

    .fa-calendar {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #1aa7b9;
    }
}
.clsRequried {
    label {
        position: relative;
        width: auto;
    }
    label:after {
        display: block;
        position: absolute;
        content: '\f005';
        top: 2px;
        right: -10px;
        font-family: 'FontAwesome', sans-serif;
        font-size: 7px;
        color: #3d3d3d;
    }
}
.clsWidth-100 {
    width: 100% !important;
}

.md-radiobox,
.md-checkbox {
    label {
        width: auto;
        margin: 8px 0 0 0;
    }
}
.fa-calendar {
    right: 20px;
}
.mb-20 {
    margin-bottom:10px;
}
.table-theme .table tr td {
    text-align: left !important;
}
input[type="checkbox"] {
    margin:0 !important;
}