<div class="container-fluid no-pad">
  <div class="form-control-size">
    <div class="col-md-12 no-pad white-bg">
      <div class="col-md-3 col-sm-4 col-xs-12 ps-0">
        <documents-search [searchDocumentsList$]="searchDocumentsList$" 
        [searchTotalRecords$]="searchTotalRecords$" 
        [searchPageNumber$]="resultsPageNumber$">
        </documents-search>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12 right-side-box">
        <documents-results [showResult]="showResult"  [resultsPageNumber$]="resultsPageNumber$" 
        [resultsDocumentsList$]="resultsDocumentsList$" 
        [resultsTotalRecords$]="resultsTotalRecords$"
        [showView]="showView">
        </documents-results>
      </div>
    </div>
  </div>
</div>