<!--B 104886 -->
<ng-container>
  <div class="row">
      <span><p class="guardiandetailsstyling">Guardian Information</p></span>
      <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
          <h5>Primary Guardian Name</h5>
          <p class="m-0">
              {{ guardianoneprovidername ? guardianoneprovidername : '' }}
          </p>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
          <h5>Primary Guardian Provider Id #</h5>
          <p class="m-0">{{ guardianOneID ? guardianOneID : '' }}</p>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
          <h5>Primary Guardian D.O.B</h5>
          <p class="m-0">
              {{ guardianOneDob ? guardianOneDob : '' }}
          </p>
      </div>
      </div>

      <div class="row mt-2">
          <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
              <h5>Secondary Guardian Name</h5>
              <p class="m-0">
                  {{ guardiantwoprovidername ? guardiantwoprovidername : '' }}
              </p>
          </div>
          <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
              <h5>Secondary Guardian Provider Id #</h5>
              <p class="m-0">{{ guardainTwoId ? guardainTwoId : '' }}</p>
          </div>
          <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
              <h5>Secondary Guardian D.O.B</h5>
              <p class="m-0">
                  {{ guardianTwoDob ? guardianTwoDob  : '' }}
              </p>
          </div>
          </div>
  </div>
</ng-container>

<br>

<div class="clsGap-form-block mt-30" id = "closing-Checklist-Form" [formGroup]="agreementGapForm">
    <h3>Finalization Checklist</h3>
    <div class="clsGap-form-inner">
        <div class="row mb-10">
          <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><label for="" class="required"> Caregiver completed a comprehensive home study </label></div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <mat-checkbox (change)="onChange($event)" formControlName="iscomprehensivehomestudy"></mat-checkbox>
          </div>
        </div>
        <div class="row mb-10">
          <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><label for="" class="required"> The caregiver is awarded custody and guardianship by the
            court in order to receive the assistance </label></div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <mat-checkbox formControlName="iscgawardedcustody" class ="readonly"
            (click)="$event.preventDefault()"></mat-checkbox>
          </div>
        </div>
        <div class="row mb-10">
          <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><label for="" class="required"  > All Placements and Removals have been End Dated </label></div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <mat-checkbox formControlName="isplacementenddate" class ="readonly" 
            (click)="$event.preventDefault()"></mat-checkbox>
          </div>
        </div>
        <div class="row mb-10">
          <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><label for=""> All living arrangements have been end-dated </label></div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <mat-checkbox formControlName="islaendate" class ="readonly"
            (click)="$event.preventDefault()" ></mat-checkbox>
          </div>
        </div>
        <div class="row mb-10">
          <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><label for=""> All service logs have been end-dated </label></div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <mat-checkbox formControlName="isservicelogsendate" class ="readonly"
            (click)="$event.preventDefault()"></mat-checkbox>
          </div>
        </div>

        <div class="text-end mt-20" *ngIf="!isSupervisor">
            <button class="btn-pri btn"
            (click)="generatePDF()"><em class="fa fa-print"> </em> Print</button>
            <button class="btn-pri btn" [disabled]="disableChecklist"
            (click)="this.agreementGapForm.reset()">Clear</button>
            <button class="btn-pri btn" 
            [disabled]="agreementGapForm.invalid"
            (click)="updateChecklist()">Save</button>
        </div>
        <div class="text-end mt-20" *ngIf="isSupervisor">
          <button class="btn-pri btn"
          (click)="generatePDF()"><em class=" fa fa-print"> </em> Print</button>
        </div>
      </div>


<!-- iscomprehensivehomestudy -->
<div class="modal fade" id="check-box-selected" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title bc-pop-title">Alert</h4>
          <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <p>Please make sure the Caregiver completed a comprehensive home study document is uploaded</p>
          <div class="text-end big-bot-space right-mspace-15"><button type="button" value="Yes" class="btn-pri ok-but" data-bs-dismiss="modal" >Ok</button></div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="gap-placement" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title bc-pop-title"> Alert</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" (click)="navigateTo()"></button>
            </div>
            <div class="modal-body">
                <p> {{gapAlertMessage}}</p>
                <div class="text-end big-bot-space right-mspace-15">
                    <button type="button" value="Yes" class="btn-pri ok-but" data-bs-dismiss="modal"
                        (click)="navigateTo()"> Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="maintenance-payment-check-dialog-b" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-w450" role="document">
      <div class="modal-content" style="padding: 10px;">
          <div class="modal-header">
            <h4 class="modal-title">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Alert
            </h4>
              <button aria-label="Close" class="btn-close close pull-right" data-bs-dismiss="modal" type="button"></button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-12">
                      <div class="row text-center">
                          <figure>
                              <p>{{filterCase}}</p>
                          </figure>
                          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                              <div class="btn-group btn-group-re">
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
