.table-responsive {
    overflow-x: visible !important;
}
i.fa.fa-address-book {
    color: #00bcd3;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    margin-left: 8px;
}

.red {
    color: #ff3c3c;
}
.disabledField {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
}

.quill-editor {
    width: 100% !important;
}