// .table-responsive table td{vertical-align: middle;}
// .table-responsive table th {
//     width: 25%;
// }

.label {
    display: inline-block;
    padding: 4px 9px;
    font-weight: 500;
    border-radius: 9px;
    margin-bottom: 5px;
}

.selected-person-container {
    overflow: auto;
    max-height: 100px;
    padding: 8px 0;
}

.compact-table .mat-mdc-cell {
    padding: 4px 8px;
    font-size: 14px;   
    font-weight: bold;
  }
  
  .compact-table .mat-mdc-row {
    margin: 0;
    height: 32px;
    border-style: none;
    min-height: 25px  
  }
  

.investigation-findings-popup .borderless td {
    border: 0;
}
.ds-bl {
    display: block;
}
.ds-inbl {
    display: inline-block;
}
// .table tr th:nth-child(2) {
//     width: 20%;
// }
.gray-bg {
    background: #AEBED6;
    font-size: 13px;
}

.textarea-icons {
    position: absolute;
    right: 20px;
    bottom: 5px;
}

.mat-mdc-radio-button {
    padding-right: 10px;
}

.modal .modal-body {
    max-height: 70vh;
    overflow: hidden;
    overflow-y: auto;
}
.col{
    // color: #00A2FD !important;
    background-color: #AEBED6;
    padding: 5px 10px;
}

/* widget ruler */
.modal .nav-tabs {
    background: #fff;
}

.modal .nav-tabs > li a:after {
    background: none;
}

.nav-tabs.cus-tab-section,
.nav-tabs.cus-tab-section > li.active > a:hover,
.cus-tab-section li.active > a:focus,
.cus-tab-section .nav-tabs,
.cus-tab-section li.active > a,
.cus-tab-section .nav-tabs > li.active > a:hover {
    border: none;
    justify-content: center;
}

.cus-tab-section li {
    // width: 19%;
    text-align: center;
}


.cus-tab-section li:last-child {
    width: 15%;
    // text-align: right;
    // float: right;
}

.cus-tab-section .tab-txt {
    background: #fff;
    // padding: 0 5px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    color: #00A2FD;
    display: block;
    font-size: 12px;
    
}

// .cus-tab-section li:after {
//     background: #333;
//     content: '';
//     display: block;
//     height: 1px;
//     position: absolute;
//     top: 70%;
//     width: calc(100% - 152px);
//     right: 0;
// }

// .cus-tab-section li:before {
//     background: #333;
//     content: '';
//     display: block;
//     height: 1px;
//     position: absolute;
//     top: 70%;
//     width: calc(85% - 113px);
//     left: 0;
//     z-index: 999;
// }

// .cus-tab-section li:last-child:before {
//     background: #333;
//     content: '';
//     display: block;
//     height: 1px;
//     position: absolute;
//     top: 70%;
//     width: calc(85% - 93px);
//     left: 0;
//     z-index: 999;
// }

// .cus-tab-section li:first-child:before {
//     height:0;
// }

// .cus-tab-section li:last-child:after {
//     height:0;
// }

.cus-tab-section li a {
    padding: 10px 0;
}

.cus-tab-section li a:hover {
    background: #fff;
}

.cus-tab-section li.active a {
    font-weight: 700;
}

.circle {
    border: 1px solid #00A2FD;
    border-radius: 50%;
    padding: 5px 6px;
    margin-top: 10px;
}

.circle:after {
    width: 1px;
    height: 1px;
    background: #fff;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}

.circle.completed:after {
    width: 1px;
    height: 1px;
    background: #00A2FD !important;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}

.cus-tab-section li.active .circle:after {
    background: none;
    display: none; /* content: "\e001"; */
}

.cus-tab-section li.active .circle {
    border: 1px solid #00A2FD;
    background: #00A2FD;
    color: #fff;
}

.cus-tab-section li .fa-pencil:before {
    content: none;
}

.cus-tab-section li.active .fa-pencil:before {
    content: '\f040';
}

/* History Tab */

.tab-item-span-hearing span:first-child,
.tab-item-span span:first-child {
    width: 35%;
    font-weight: 400;
    float: left;
}

.tab-item-span span:last-child,
.tab-hearing-span {
    width: 65%;
    font-weight: 600;
}

.tab-item-span span:last-child::before,
.tab-item-narrative:last-child::before,
.tab-hearing-span::before {
    content: ":";
    padding-right: 10px;
}

.tab-item-narrative span:first-child {
    width: 17%;
    font-weight: 400;
    float: left;
}

.edit-btn {
    position: absolute;
    top: 3px;
    right: 19px;
    border: none;
    background: none;
    outline: none;
    color: #00A2FD;
}

.history-title {
    border-bottom: 1px solid #b9dff5;
    margin-bottom: 20px;
    margin-top: 30px;
    padding-bottom: 5px;
}

.history-btn {
    position: absolute;
    top: 15px;
    right: 55px;
    font-size: 18px;
    font-weight: 700;
    color: #00A2FD;
}

.fa-close,
.fa-close:hover {
    color: #333333;
}

.no-mrg {
    margin-top: 0px;
}

.cus-tab-section li:first-child:nth-last-child(n+4) ~ li {
    width: 20%;

    // &:last-child:before {
    //     width: calc(85% - 115px);
    // }
}

.cus-tab-section li:first-child:nth-last-child(4) ~ li {
    width: 27%;
    
    // &:first-child:after {
    //     background: #333;
    //     content: '';
    //     display: block;
    //     height: 1px;
    //     position: absolute;
    //     top: 70%;
    //     width: calc(100% - 136px);
    //     right: 0;
    // }

    // &:after {
    //     background: #333;
    //     content: '';
    //     display: block;
    //     height: 1px;
    //     position: absolute;
    //     top: 70%;
    //     width: calc(100% - 187px);
    //     right: 0;
    // }

    // &:before {
    //     background: #333;
    //     content: '';
    //     display: block;
    //     height: 1px;
    //     position: absolute;
    //     top: 70%;
    //     width: calc(85% - 141px);
    //     left: 0;
    //     z-index: 1;
    // }

    // &:last-child:before {
    //     background: #333;
    //     content: '';
    //     display: block;
    //     height: 1px;
    //     position: absolute;
    //     top: 70%;
    //     width: calc(85% - 138px);
    //     left: 0;
    //     z-index: 1;
    // }
    
    // &:first-child:before {
    //     height:0;
    // }
    
    // &:last-child:after {
    //     height:0;
    // }
}

.head-nav li {
    list-style: none;
}

.head-nav li.active {
    display: none;
}
.text {
    text-align: left;
}
.cm-panel {
    background: #fff;
    border: 1px solid #ccc;
   
}
.cm-panel .cm-card-header {
    padding: 10px;
    position: relative;
    padding-right: 50px;
}
.cm-panel .cm-card-header label{
    font-size: 16px;
}
.cm-panel .cm-card-header span{
    font-weight: 400;
}
.cm-upload {
    position: absolute;
    right:0px;
    height: 47px;
    width: 47px;
    text-align: center;
    line-height: 47px;
    color: #fff;
    top: 0px;
    // background: #00bcd3;
    background:  #00A2FD;
    font-size: 20px;
    cursor: pointer;
}
.cm-panel .cm-panel-content {
    padding:10px;
}
.cm-panel .cm_upload_wg {
    margin-top:-100px;
}

.cp-wth-upload {
    overflow: hidden;
}
// .cp-wth-upload .cm-panel-content {
//     margin-top:-90px;
// }

:host ::ng-deep .document-upload-list .btn-bs-file {
    font-size: 0px;
    min-width: 47px;
}
:host ::ng-deep .document-upload-list .btn-bs-file i{
    font-size: 18px;
}

.cm_actions .cm-ac-button {
    margin-left:5px;
    padding:10px;
    color: #fff;
    background:  #00A2FD;
    display: inline-block;
    cursor: pointer;
}
.casenumber_container {
    border: 1px solid #949494;
    margin: 1px 0px;
    margin-bottom: 0px;
    top: -15px;
    position: relative;
}
// .cp-wth-upload .cm-panel-content {
//     margin-top:-50px;
//   }
:host ::ng-deep .document-upload-list h4{
     display: none;
  }

  .disabledField {
    pointer-events: none;
    cursor: not-allowed;
 }

  @media (min-width: 768px) and (max-width: 1024px) {
    .clsInvest{
        table{
            tr{
                th,td{
                    &:last-child{
                        min-width: 170px;

                        .fa-size{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}
.mat-accordion .mat-expansion-panel {
    margin-bottom: 0;
    margin-top: 15px;
}
.disabled {
    pointer-events: none;
    cursor: default;
  }

  .resonfrDelayDDL{
    width: 100%;
    margin-bottom: -14px;
    margin-left: -15px;
  }

  
@media (max-width: 768px) {
    .mat-expansion-panel-header{
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
}

@media (max-width: 576px) {

  .mat-expansion-panel-header{
      padding-top: 40px !important;
      padding-bottom: 40px !important;
  }
}

a.btn-pri {
    text-decoration: none !important;
}

.space-between {
    justify-content: space-between;
}
.mat-mdc-checkbox{
  --mdc-checkbox-disabled-selected-icon-color:#00a2fd !important;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  border-bottom: none !important;
}