.header-section {
    padding: 20px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 20px;
  }
  .header-spacing {
    margin-bottom: 20px;
  }
  
  .logo-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .logo {
    height: 50px;
    width: auto;
  }
  
  .gov-info {
    font-size: 14px;
    text-align: right;
    margin-bottom: 20px;
  }
  
  .client-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  .client-info .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  
  .client-info label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  
  
  
  
  
  
  
  
  
  .form-wrapper {
    margin: 10px;
    padding: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgray;
  
    .assessment-form {
      .section {
        border-bottom: 1px solid lightgray;
        padding: 35px;
        .header {
          font-size: 14px;
          font-weight: 600;
        }
        .bold-header{
          font-size:14px;
          font-weight: bold;
        }
      }
  
      .signature-field{
        position: relative;
        display: block;
        margin-bottom: 10px;
        background: #dddddd70;
        border: 1px solid #ddd;
    }
  
      
    }
  }
  
  
  .req-fields {
      color:	#FF0000;
  }
  
  .radio-btn-errors {
    margin-bottom: 10px;
    margin-left: 30px;
  }
  
  
  .vertical-radio-group .radio-button {
    display: block;
    margin-bottom: 10px;
  }
  
  .radio-option {
    font-weight: bold;
    font-size: 0.8em;
  }
  
  .content-val {
    padding: 0px 10px;
  }
  
  .disabledField {
    pointer-events: none;
    cursor: not-allowed;
  }
  