
    <div class="header-section">
        <div style="width: 335px; margin-bottom: 30px;">
            Domestic Violence Lethality Screen For Child welfare And Adult Services Workers and Screeners 
        </div>
        <div class="logo-container">
            <img src="../../../../../../assets/images/maryland_dhs-logo.png" alt="Logo 1" class="logo" style="width:15%; height: 80px;">
            <img src="../../../../../../assets/images/LAP_logo.png" alt="Logo 2" class="logo"  style="width:15%; height: 90px;">
        </div>
        <div class="gov-info">
            <span>{{stateleadership}}</span>
        </div>
    
    
    
    
    
    
    <div class="form-wrapper">
    
    
    
    
        <form [formGroup]="assessmentLapForm" class="assessment-form">
            <div class="row section">
                <div class="col-md-2">
                    <div class="header">Client’s name  <span class="req-fields">*</span></div>
                    <mat-form-field>
                        <mat-select formControlName="victiminfo" 
                        (selectionChange)="selectChild($event.value)"
                        required
                        >
                            <mat-option *ngFor="let val of childList" [value]="val['fullname']">
                                {{val['fullname']}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div style="color: red;"  *ngIf="assessmentLapForm.get('victiminfo')?.invalid && (assessmentLapForm.get('victiminfo')?.dirty || assessmentLapForm.get('victiminfo')?.touched || saveAsDraftClicked || submitForApprovalClicked)">
                        Please select client name.
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <span class="header">DOB:</span>
                        <span class="content-val">{{assessmentLapForm.get('dob')?.value}}</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <span class="header">Gender:</span>
                        <span class="content-val">{{assessmentLapForm.get('gender')?.value}}</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <span  class="header">Race/Ethnicity:</span>
                        <span class="content-val">{{assessmentLapForm.get('raceEthnicity')?.value}}</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <span class="header">Date:</span>
                        <span class="content-val">{{assessmentLapForm.get('date')?.value}}</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <span class="header">Time:</span>
                        <span class="content-val">{{assessmentLapForm.get('time')?.value}}</span>
                    </div>
                </div>
            </div>
    
            <div class="row section">
                <div class="col-md-3">
                    <div>
                        <span class="header">Screener Name:</span>
                        <span class="content-val">{{assessmentLapForm.get('Practitioner')?.value}}</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <span class="header">Email:</span>
                        <span class="content-val">{{assessmentLapForm.get('email')?.value}}</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <span class="header">LDSS:</span>
                        <span class="content-val">{{assessmentLapForm.get('ldss')?.value}}</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <span class="header">Case #:</span>
                        <span class="content-val">{{assessmentLapForm.get('caseNumber')?.value}}</span>
                    </div>
                </div>
            </div>
    
            <div class="row section">
                <div class="col-md-3">
                    <div>
                        <span class="header">Client's Phone:</span>
                        <span class="content-val">{{formatPhoneNumber(assessmentLapForm.get('clientPhone')?.value)}}</span>
    
                    </div>
                </div>
                <div class="col-md-3">
                   <div class="header">is this a safe # ?
                    <span  class="req-fields" *ngIf="formatPhoneNumber(assessmentLapForm.get('clientPhone')?.value)">
                        *
                    </span>
                   </div>
                   <div>
                    <mat-radio-group formControlName = "isSafeNumber">
                        <mat-radio-button value="Yes">Yes</mat-radio-button>
                        <mat-radio-button value="No">No</mat-radio-button>
                    </mat-radio-group>
                    </div>
                    <div *ngIf="validateMandatoryFields('isSafeNumber') && (assessmentLapForm.get('isSafeNumber')?.touched || this.submitForApprovalClicked)">
                        <span class="req-fields">Please select value </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="header">Relationship to offender:
    
                        <span  class="req-fields">
                            *
                        </span>
    
                    </div>
                    <div>
                        <mat-form-field>
                        <mat-select formControlName="relationshipToOffender">
                            <mat-option *ngFor="let item of relationShipToRADropdownItems" [value]="item.value">{{item.text}}</mat-option>
                    </mat-select>
                   
                </mat-form-field>
                <div *ngIf="validateMandatoryFields('relationshipToOffender') && (assessmentLapForm.get('relationshipToOffender')?.touched || this.submitForApprovalClicked)">
                    <span class="req-fields radio-btn-errors">Please select Relationship to offender </span>
                </div>
                        </div>
                </div>
                <div class="col-md-3">
                    <div class="header">Consent to follow-up call from service provider:
                        <span  class="req-fields">
                            *
                        </span>
    
                    </div>
                    <div>
                        <mat-radio-group formControlName="consentFollowUp">
                            <mat-radio-button value="Yes">Yes</mat-radio-button>
                            <mat-radio-button value="No">No</mat-radio-button>
                        </mat-radio-group>
                        </div>
    
                        <div *ngIf="validateMandatoryFields('consentFollowUp')  && (assessmentLapForm.get('consentFollowUp')?.touched || this.submitForApprovalClicked)">
                            <span class="req-fields">Please select value</span>
                        </div>
                </div>
            </div>
    
            <div class="row section">
                <div class="col-md-12">
                    <mat-checkbox formControlName="Checkhereifvictimdeclinedtobescreened"><span class="bold-header"> Check here if victim declined to be screened</span></mat-checkbox>
                    <!-- Checkhereifvictimdeclinedtobescreened -->
                </div>
                <div class="col-md-12">
                    <mat-checkbox formControlName="Checkadvisedvictimdutytoreportscrenned"><span class="bold-header">Advised victim of duty to report of the screen</span> </mat-checkbox>
                    <!-- new formcontrol name -->
                </div>
                <div class="col-md-12">
                    <mat-checkbox formControlName="Checkhereifthepractitioner"><span class="bold-header">Check here if the worker could not administer the screen</span> 
                        <!-- Checkhereifthepractitioner -->
                    </mat-checkbox>
                </div>
            </div>
    
            <div class="row section" formGroupName="HighDangerassessment">
                <div class="col-md-12 header header-spacing">A “Yes” response to any of Questions #1-3 is an automatic High-Danger Assessment</div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">1. Have they ever used a weapon against you or threatened you with a weapon?
    
                            <span  class="req-fields">
                                *
                            </span>
                        </div>
                        <div class="col-md-4">
                            <mat-radio-group formControlName="0">
                                <mat-radio-button value="yes">Yes</mat-radio-button>
                                <mat-radio-button value="no">No</mat-radio-button>
                                <mat-radio-button value="notAnsUnk">Not Answered/Unknown</mat-radio-button>
                            </mat-radio-group>
                        </div> 
                        <div  class="req-fields radio-btn-errors" *ngIf="validateMandatoryFields('0','HighDangerassessment')  && (assessmentLapForm.get('HighDangerassessment')?.get('0')?.touched || this.submitForApprovalClicked)">
                            Please select value
                        </div>
                        
                    </div>
            
                    <div class="row">
                        <div class="col-md-8">2. Do you think they might try to kill you?
                            <span  class="req-fields" >
                                *
                            </span>
                        </div>
                        <div class="col-md-4">
                            <mat-radio-group formControlName="1">
                                <mat-radio-button value="yes">Yes</mat-radio-button>
                                <mat-radio-button value="no">No</mat-radio-button>
                                <mat-radio-button value="notAnsUnk">Not Answered/Unknown</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div  class="req-fields  radio-btn-errors" *ngIf="validateMandatoryFields('1','HighDangerassessment')  && (assessmentLapForm.get('HighDangerassessment')?.get('1')?.touched || this.submitForApprovalClicked)">
                            Please select value
                        </div>
                    </div>
    
            
                    <div class="row">
                        <div class="col-md-8">3. Have they ever tried to choke/strangle you (cut off breathing)?
                            <span  class="req-fields" >
                                *
                            </span>
    
                        </div>
                        <div class="col-md-4">
                            <mat-radio-group formControlName="2">
                                <mat-radio-button value="yes">Yes</mat-radio-button>
                                <mat-radio-button value="no">No</mat-radio-button>
                                <mat-radio-button value="notAnsUnk">Not Answered/Unknown</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div  class="req-fields  radio-btn-errors" *ngIf="validateMandatoryFields('2','HighDangerassessment')  && (assessmentLapForm.get('HighDangerassessment')?.get('2')?.touched || this.submitForApprovalClicked)">
                            Please select value
                        </div>
                    </div>
    
                </div>
            </div>
            
            <div class="row section" formGroupName="HighDangerassessment2">
                <div class="col-md-12 header header-spacing" >"Yes" responses to at least four of Questions #4-11 is an automatic High-Danger Assessment</div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">4. Have they threatened to kill you or your children?
                            <span  class="req-fields " >
                                *
                            </span>
                        </div>
                        <div class="col-md-4">
                            <mat-radio-group formControlName="4">
                                <mat-radio-button value="yes1">Yes</mat-radio-button>
                                <mat-radio-button value="no2">No</mat-radio-button>
                                <mat-radio-button value="notAnsUnk1">Not Answered/Unknown</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div  class="req-fields  radio-btn-errors" *ngIf="validateMandatoryFields('4','HighDangerassessment2')  && (assessmentLapForm.get('HighDangerassessment2')?.get('4')?.touched || this.submitForApprovalClicked)">
                            Please select value
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-8">5. Do they have a gun, or can they easily get one?
                            <span  class="req-fields"  >
                                *
                            </span>
                        </div>
                        <div class="col-md-4">
                            <mat-radio-group formControlName="5">
                                <mat-radio-button value="yes1">Yes</mat-radio-button>
                                <mat-radio-button value="no2">No</mat-radio-button>
                                <mat-radio-button value="notAnsUnk1">Not Answered/Unknown</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div  class="req-fields radio-btn-errors" *ngIf="validateMandatoryFields('5','HighDangerassessment2') && (assessmentLapForm.get('HighDangerassessment2')?.get('5')?.touched || this.submitForApprovalClicked)">
                            Please select value
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-8">6. Are they violently or constantly jealous or do they control most of your daily activities?
                            <span  class="req-fields"  >
                                *
                            </span>
                        </div>
                        <div class="col-md-4" >
                            <mat-radio-group formControlName="6">
                                <mat-radio-button value="yes1">Yes</mat-radio-button>
                                <mat-radio-button value="no2">No</mat-radio-button>
                                <mat-radio-button value="notAnsUnk1">Not Answered/Unknown</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div  class="req-fields radio-btn-errors" *ngIf="validateMandatoryFields('6','HighDangerassessment2')  && (assessmentLapForm.get('HighDangerassessment2')?.get('6')?.touched || this.submitForApprovalClicked)">
                            Please select value
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-8">7. Have you left them or separated after living together or being married?
                            <span  class="req-fields"  >
                                *
                            </span>
                        </div>
                        <div class="col-md-4">
                            <mat-radio-group formControlName="7">
                                <mat-radio-button value="yes1">Yes</mat-radio-button>
                                <mat-radio-button value="no2">No</mat-radio-button>
                                <mat-radio-button value="notAnsUnk1">Not Answered/Unknown</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div  class="req-fields radio-btn-errors" *ngIf="validateMandatoryFields('7','HighDangerassessment2') && (assessmentLapForm.get('HighDangerassessment2')?.get('7')?.touched || this.submitForApprovalClicked)">
                            Please select value
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-8">8. Are they unemployed?
                            <span  class="req-fields"  >
                                *
                            </span>
                        </div>
                        
                        <div class="col-md-4">
                            <mat-radio-group formControlName="8">
                                <mat-radio-button value="yes1">Yes</mat-radio-button>
                                <mat-radio-button value="no2">No</mat-radio-button>
                                <mat-radio-button value="notAnsUnk1">Not Answered/Unknown</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div  class="req-fields radio-btn-errors" *ngIf="validateMandatoryFields('8','HighDangerassessment2')  && (assessmentLapForm.get('HighDangerassessment2')?.get('8')?.touched || this.submitForApprovalClicked)">
                            Please select value
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-8">9. Have they ever tried to kill themselves?
                            <span  class="req-fields" >
                                *
                            </span>
                        </div>
                        <div class="col-md-4">
                            <mat-radio-group formControlName="9">
                                <mat-radio-button value="yes1">Yes</mat-radio-button>
                                <mat-radio-button value="no2">No</mat-radio-button>
                                <mat-radio-button value="notAnsUnk1">Not Answered/Unknown</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div  class="req-fields radio-btn-errors" *ngIf="validateMandatoryFields('9','HighDangerassessment2')  && (assessmentLapForm.get('HighDangerassessment2')?.get('9')?.touched || this.submitForApprovalClicked)">
                            Please select value
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-8">10. Do you have a child/children that they know are not theirs?
                            <span  class="req-fields" >
                                *
                            </span>
                        </div>
                        <div class="col-md-4">
                            <mat-radio-group formControlName="10">
                                <mat-radio-button value="yes1">Yes</mat-radio-button>
                                <mat-radio-button value="no2">No</mat-radio-button>
                                <mat-radio-button value="notAnsUnk1">Not Answered/Unknown</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div  class="req-fields radio-btn-errors" *ngIf="validateMandatoryFields('10','HighDangerassessment2')  && (assessmentLapForm.get('HighDangerassessment2')?.get('10')?.touched || this.submitForApprovalClicked)">
                            Please select value
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-8">11. Do they follow or spy on you or leave threatening messages?
                            <span  class="req-fields">
                                *
                            </span>
                        </div>
                        <div class="col-md-4">
                            <mat-radio-group formControlName="11DoesHeSheTheyFollowOrSpyOnYouOrLeaveThreateningMessages">
                                <mat-radio-button value="yes1">Yes</mat-radio-button>
                                <mat-radio-button value="no2">No</mat-radio-button>
                                <mat-radio-button value="notAnsUnk1">Not Answered/Unknown</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div  class="req-fields radio-btn-errors" *ngIf="validateMandatoryFields('11DoesHeSheTheyFollowOrSpyOnYouOrLeaveThreateningMessages','HighDangerassessment2')  && (assessmentLapForm.get('HighDangerassessment2')?.get('11DoesHeSheTheyFollowOrSpyOnYouOrLeaveThreateningMessages')?.touched || this.submitForApprovalClicked)">
                            Please select value
                        </div>
                    </div>
    
                </div>
            </div>
    
            <div class="row section">
                <div class="col-md-12">
                    <div>Is there anything else that worries you about your safety?  (If "yes")  What worries you?
                        <span  class="req-fields">
                            *
                        </span>
                    </div>
                    <div>
                        <mat-form-field>
                            <textarea matInput formControlName="panel2740773786278622Columns2TextField"></textarea>
                          </mat-form-field>
                    </div>
                    <div  class="req-fields radio-btn-errors" *ngIf="validateMandatoryFields('panel2740773786278622Columns2TextField') && (assessmentLapForm.get('panel2740773786278622Columns2TextField')?.touched || this.submitForApprovalClicked)">
                        Please Enter value
                    </div>
                </div>
    
                <div class="col-md-12">
                    <div>A first responder may make a High-Danger Assessment if the first responder believes the victim is in a potentially lethal (imminent danger of IPH) situation.</div>
                </div>
                
                <div class="col-md-12" style="margin: 15px 0px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="margin: 10px 0px">Check one:
                                <span  class="req-fields" >
                                    *
                                </span></div>
                            <div>
                                <mat-radio-group formControlName="panel2740773786278622ColumnsRadioField" class="vertical-radio-group">
                                    <mat-radio-button value="victimIsHighDangerBasedOnScore" class="radio-button">
                                        <div class="radio-option">Victim is High-Danger based on score</div>
                                    </mat-radio-button>
                                    <mat-radio-button value="victimIsHighDangerBasedOnPractitionerBelief" class="radio-button">
                                        <div class="radio-option">Victim is High-Danger based on first responder belief</div>
                                    </mat-radio-button>
                                    <mat-radio-button value="victimIsNotAssessedAsHighDanger" class="radio-button">
                                        <div class="radio-option">Victim is not assessed as High-Danger</div>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div  class="req-fields" *ngIf="validateMandatoryFields('panel2740773786278622ColumnsRadioField') && (assessmentLapForm.get('panel2740773786278622ColumnsRadioField')?.touched || this.submitForApprovalClicked)">
                                Please select value
                            </div>
                        </div>
    
                    </div>
                </div>
                
                
            </div>
    
    
            <div class="row section">
                <div class="col-md-12">
    
                    <div class="row">
                        <div class="col-md-8">If the victim is High-Danger, did the first responder make a call to the hotline?
                            <span  class="req-fields"  >
                                *
                            </span>
                        </div>
                        <div class="col-md-2">
                            <mat-radio-group formControlName="panel2740773786278623Columns" (change)="handleHotlineResponse($event)">
                                <mat-radio-button value="Yes">Yes</mat-radio-button>
                                <mat-radio-button value="No">No</mat-radio-button>
                            </mat-radio-group>
                            <div  class="req-fields" *ngIf="validateMandatoryFields('panel2740773786278623Columns')  && (assessmentLapForm.get('panel2740773786278623Columns')?.touched || this.submitForApprovalClicked)">
                                Please select value
                            </div>
                        </div>
                    
    
                        <div class="col-md-2" *ngIf="showHotlineNumberField">
                            <label>Hotline Number
                                <span  class="req-fields">
                                    *
                                </span>
                            </label>
                              <mat-form-field>
                                <mat-label>Hotline Number</mat-label>
                                <input matInput formControlName="HotlineNumber"  mask="(000) 000-0000" pattern="^(\d{3})(\d{3})(\d{4})$"
                                    placeholder="">
                            </mat-form-field>
                            <div  class="req-fields" *ngIf="validateMandatoryFields('HotlineNumber')  && (assessmentLapForm.get('HotlineNumber')?.touched || this.submitForApprovalClicked)">
                                Please Enter value
                            </div>
                        </div>
    
    
                    </div>
    
    
                    <div class="row">
                        <div class="col-md-8">Did the victim speak with the hotline advocate?
                            <span  class="req-fields"  >
                                *
                            </span>
                        </div>
                        <div class="col-md-4">
                            <mat-radio-group formControlName="Didthevictimspeakwiththehotlineadvocate">
                                <mat-radio-button value="yes">Yes</mat-radio-button>
                                <mat-radio-button value="no">No</mat-radio-button>
                            </mat-radio-group>
                            <div  class="req-fields" *ngIf="validateMandatoryFields('Didthevictimspeakwiththehotlineadvocate') && (assessmentLapForm.get('Didthevictimspeakwiththehotlineadvocate')?.touched || this.submitForApprovalClicked)">
                                Please select value
                            </div>
                        </div>
    
                    </div>
    
                    <div class="row"  *ngIf="assessmentLapForm.get('panel2740773786278623Checkhereifthevictimrequestthatthehotlinenotbecalled')?.value">
                        <div class="col-md-8">Check here if the victim request that the hotline not be called</div>
                        <div class="col-md-4">
                            <mat-radio-group formControlName="panel2740773786278623Checkhereifthevictimrequestthatthehotlinenotbecalled">
                                <mat-radio-button value="yes">Yes</mat-radio-button>
                                <mat-radio-button value="no">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
    
                    </div>
    
                </div>
            </div>
    
            <div class="row section">
                <div class="col-md-12">
                    <strong>Note:</strong>The questions above and the criteria for determining the level of risk a person faces is based on the best available research on factors associated with lethal violence by a current or former intimate partner. However, each situation may present unique factors that influence risk for lethal violence that are not captured by this screen. Although most victims who are assessed as “High-Danger” would not be expected to be killed, these victims face much higher risk than that of other victims of intimate partner violence. All domestic violence is serious. This Screen should not be used to determine whether someone is a victim or is at risk of re-assault.
                </div>
    
                <div class="col-md-12" style="margin: 10px 0px;">
                    This project was supported by Grant No. 2016-TA-AX-K057 awarded by the Office on Violence Against Women, U.S. Department of Justice. The opinions, findings, conclusions, and recommendations expressed in this publication are those of the authors and do not necessarily reflect the views of the Department of Justice, Office on Violence Against Women.
                </div>
    
                <div class="col-md-12 header" style="margin: 10px 0px;">
                    I consent to this screen being given to the local domestic violence service program for statistical and follow-up purposes.
                </div>
    
                <div class="col-md-12 header" style="margin:10px 0px;">
                   <mat-checkbox formControlName="Checkhereifclientconsent"><span class="bold-header"> Did client  consent to the screen being given to the local domestic violence service program for statistical and follow-up purposes.</span></mat-checkbox>
    
                </div>
    
            </div>
    
            <div class="row section">
                <div class="row" style="margin: 15px 0px;">
                    <div class="col-md-4">
                        <div class="header"> Client Signature <span class="req-fields" *ngIf="!isClientSignDocument">*</span></div>
                        <div *ngIf="!clientSignature">
                            
                            <signature-field  formControlName="clientSignature">
                            </signature-field>
                           
                        </div>
                        <div class="signatureimg"  *ngIf="clientSignature">
                            <button type="button" class="btn-close close pull-right" (click)="resetClientSIgnature()"></button>
                            <img src="{{assessmentLapForm.value?.clientSignature}}" alt="CLient Signature"/>
                            <p class="sign-p" style="text-align: center; color: #C3C3C3">Signature Person completing the report1</p>
                       
                        </div>
                        <div *ngIf="clientSignatureRequired"  class="req-fields"> Client SIgnature required</div>
    
                    </div>
                    <div class="col-md-4">
                        <mat-checkbox formControlName="clientSignedDocument" (change)=handleClientSigedDocumentn()><span class="bold-header"> 
                            Client signed document uploaded.
                            </span></mat-checkbox>
    
                    </div>
                    <div class="col-md-4"></div>
    
    
    
    
    
    
                </div>
                <div class="row" style="margin: 15px 0px;">
                    <div class="col-md-4">
                        <div class="header">Caseworker Name:
                            <span class="content-val">{{assessmentLapForm.get("caseworkername")?.value}}</span>
                        </div>
                        
                    </div>
                    <div class="col-md-4">
                        <div class="header">Supervisor Name:
                            <span class="content-val">{{assessmentLapForm.get("supervisorname")?.value}}</span>
                        </div>
                       
                    </div>
                    <div class="col-md-4"></div>
                </div>
    
                <div class="row" style="margin: 15px 0px;">
                    <div class="col-md-4">
                        <label style="font-weight: 400;">Assessment Submission Date Time
                            <span  class="req-fields" >
                                *
                            </span>
                        </label>
                        
                        <mat-form-field>
                            <input matInput [disabled] = "isSupervisor" [owlDateTime]="picker11" formControlName="assementSubmissionDateTime" id="aut-dtp-removalTime" autocomplete="off"  placeholder="" (click)="openPicker('picker11')" [max]="currentdatetime" (dateTimeChange)="onPickerClosed($event, 'assementSubmissionDateTime')">
                            <owl-date-time #picker11 [hour12Timer]="true"></owl-date-time>
                            <em [owlDateTimeTrigger]="picker11" class="fa fa-calendar calendar-icon" aria-hidden="true" style="top:25px"></em>
                        </mat-form-field>
                        <div  class="req-fields" *ngIf="validateMandatoryFields('assementSubmissionDateTime') && (assessmentLapForm.get('assementSubmissionDateTime')?.touched || this.submitForApprovalClicked)">
                            Please select Assessment Submission Date Time
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label style="font-weight: 400;">Supervisor Signature Date Time <span *ngIf="assessmentLapForm.get('assessmentstatus')?.value !== 'Rejected' && isSupervisor"  class="req-fields">*</span></label>
                        <mat-form-field>
                            <input matInput [disabled] = "!isSupervisor"  [owlDateTime]="picker1" formControlName="supervisorSignatureDateTime" id="aut-dtp-removalTime" autocomplete="off"  placeholder="" (click)="openPicker('picker1')" [max]="currentdatetime" (dateTimeChange)="onPickerClosed($event, 'supervisorSignatureDateTime')">
                            <owl-date-time #picker1 [hour12Timer]="true"></owl-date-time>
                            <em [owlDateTimeTrigger]="picker1" class="fa fa-calendar calendar-icon" aria-hidden="true" style="top:25px"></em>
                        </mat-form-field>
                        <div  class="req-fields"  *ngIf="assessmentLapForm.get('supervisorSignatureDateTime')?.invalid && submitForApprovalClicked && isSupervisor">
                          Please enter Supervisor Signature Date Time
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ng-container *ngIf="!isSupervisor">
                            <div>
                                <label  style="font-weight: 400;">Submit for Approval <span class="req-fields">*</span></label>
                                <mat-form-field>
                                  <mat-select  formControlName="assessmentreviewed" required>
                                    <mat-option  value="InProcess">Not Reviewed</mat-option>
                                    <mat-option value="Review">Review</mat-option>
                                  </mat-select>
                                  <mat-error
                                  *ngIf="assessmentLapForm.get('assessmentreviewed')?.invalid && (assessmentLapForm.get('assessmentreviewed')?.dirty || assessmentLapForm.get('assessmentreviewed')?.touched)">
                                  Please select Submit for Approval.
                              </mat-error>
    
                                </mat-form-field>
                               
                            </div>
                            <div style="color: red;" *ngIf="assessmentLapForm.get('assessmentreviewed')?.value === 'InProcess' && submitForApprovalClicked">
                                Please change status to review
                            </div>
                        </ng-container>
    
                    </div>
                </div>
    
                <div class="row" style="margin: 15px 0px;">
                    
                  <div class="col-md-4">
                    <div  *ngIf="!caseworkersignature">
                      <signature-field  formControlName="signatureReport"  [ngClass]="{'disabledField': isSupervisor}">
                      </signature-field>
                      <p class="sign-p" style="text-align: center; color: #C3C3C3">Signature Person completing the report1
                        <span  class="req-fields"  >
                            *
                        </span>  
                    </p>
                    </div>
                    <div class="signatureimg"  *ngIf="caseworkersignature">
                      <button type="button" class="btn-close close pull-right" (click)="resetSignatureCapture()"></button>
                      <img src="{{assessmentLapForm.value?.signatureReport}}" alt="signature report"/>
                      <p class="sign-p" style="text-align: center; color: #C3C3C3">Signature Person completing the report1</p>
                    </div>
                    <div  class="req-fields" *ngIf="validateMandatoryFields('signatureReport') && (assessmentLapForm.get('signatureReport')?.touched || this.submitForApprovalClicked)">
                        Please Enter Signature Person completing the report1
                    </div>
                  </div>
    
    
                  <div class="col-md-4">
                      <ng-container>
                        <div  *ngIf="!supervisorsignature">
                            <signature-field   formControlName="supervisorSignature"  [ngClass]="{'disabledField': !isSupervisor}" >
                            </signature-field>
                            <p class="sign-p" style="text-align: center; color: #C3C3C3">Supervisor Signature  <span *ngIf="assessmentLapForm.get('assessmentstatus')?.value !== 'Rejected' && isSupervisor" class="req-fields">*</span></p>
                            <div  class="req-fields"  *ngIf="assessmentLapForm.get('supervisorSignature')?.invalid && submitForApprovalClicked && isSupervisor">
                                Supervisor Signature required
                            </div>
                          </div>
                          <div class="signatureimg" *ngIf="supervisorsignature">
                            <button type="button" class="btn-close close pull-right" (click)="resetSupervisorSignatureCapture()"></button>
                            <img src="{{assessmentLapForm.value?.supervisorSignature}}" alt="supervisor signature"/>
                            <p class="sign-p" style="text-align: center; color: #C3C3C3">Supervisor Signature</p>
                          </div>
                          
                      </ng-container>
    
                  </div>
    
                  <div class="col-md-4">
    
                    <div>
                        
                        <mat-form-field>
                            <label  style="font-weight: 400;">Re-route to Supervisor</label>
                            <mat-select formControlName="reroutesupervisor" (selectionChange)="changeSupervisor($event.value)">
                                <mat-option *ngFor="let item of routingSupervisors" [value]="item.userid">{{item.username}}
                                </mat-option>
                              </mat-select>
                        </mat-form-field>
                      </div>
    
                  </div>
    
                  </div>
               
                  <div class="row" style="margin: 15px 0px;">
                      <div class="col-md-4">
                        <div>
                            <label  style="font-weight: 400;">Caseworker Comments
                                <span  class="req-fields">
                                    *
                                </span>
                            </label>
                            <mat-form-field>
                              <textarea matInput formControlName="caseWorkerComments"></textarea>
                            </mat-form-field>
                            <div  class="req-fields" *ngIf="validateMandatoryFields('caseWorkerComments')  && (assessmentLapForm.get('caseWorkerComments')?.touched || this.submitForApprovalClicked)">
                                Please Enter Caseworker Comments
                            </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                        <div *ngIf="isSupervisor || assessmentLapForm.value?.assessmentStaus === 'Accepted' || assessmentLapForm.value?.assessmentStaus === 'Rejected'">
                          <label  style="font-weight: 400;">Supervisor Comments <span *ngIf="assessmentLapForm.get('assessmentstatus')?.value === 'Rejected'" class="req-fields">*</span></label>
                          <mat-form-field>
                            <textarea matInput formControlName="supervisorComments"></textarea>
                          </mat-form-field>
                        </div>
                        <div  class="req-fields"  *ngIf="assessmentLapForm.get('supervisorComments')?.invalid && submitForApprovalClicked && isSupervisor">
                            Supervisor comments required
                        </div>
                        </div>
                    <div class="col-md-4"></div>
                  </div>
                  <div class="row" *ngIf="this?.isSupervisor">
                    <div class="col-md-4">
                    <div>
                      <p><label>Assessment Status<span class="req-fields">*</span></label></p>
                      <mat-radio-group formControlName="assessmentstatus" class="radio-mar"
                      (change)="assessmentStatusChange($event)">
                        <mat-radio-button value="Accepted">Accepted</mat-radio-button>
                        <mat-radio-button value="Rejected">Rejected</mat-radio-button><br />
                      </mat-radio-group>
                    </div>
                    <div class="req-fields"  *ngIf="assessmentLapForm.get('assessmentstatus')?.invalid && submitForApprovalClicked && isSupervisor">
                        Assement status required
                    </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4"></div>
                  </div>
            </div>
    
              <div class="row" *ngIf="!viewAssementLap">
                <div class="col-md-12 text-right m-t-10">
                  <button class="btn-pri" (click)="saveAsDraft()" *ngIf="!isSupervisor">
                    SAVE AS DRAFT
                  </button>
              
                  <button class="btn-pri" type="submit" (click)="submitForApproval()">
                    <span *ngIf="!isSupervisor">SEND FOR APPROVAL</span>
                    <span *ngIf="isSupervisor">Submission</span>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 m-t-10">
                  <approval-history [assessmentId]="currentAssessmentId"></approval-history>
                </div>
              </div>
        </form>
    
    
    
        <div class="modal fade" id="clientSignnature-alert" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header" style = "background-color:  #00a2fd !important">
                        <span style="font-weight: 600; color: white;">Alert!</span>
                        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p style=" font-weight: 600;"> Please make sure the client signed document uploaded in the Document screen </p>
        
                    </div>
                    <div class="modal-footer text-center" style="text-align: center;">
                        <button class="btn-pri" type="button" (click)="continueSendForApproval()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    
    
    </div>
    
    <div style="text-align: center;">
    <div>National Domestic Violence Hotline</div>
    <div>1-800-799-SAFE(7233)</div>
    <div>or</div>
    <div>Text “START” to 88788</div>
    
    </div>