
@use '../../../../../src/app/pages/shared-pages/person-info/person-info.component.scss';

.view-mode {
    pointer-events: none;
}

.remaning {
    // position: absolute;
    bottom: 0px;
    left: 14px;
    color: red;
    font-size: 13px;
    }

.required-field::after {
    content: "*";
    color: red;
}

.dv-hospital {
    margin-top: 10px;
}

.tbl-hospitalization {
    margin-bottom: 0px;
}

::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
    background: rgba(0, 0, 0, .12);
    color: #333;
}

::ng-deep .mat-pseudo-checkbox {
    display: none !important;
}
