.beacon-container {
    background-color: #ffffff;
    .tab-horizontal {
        padding: 20px 10px 10px 10px;

        ul {
            padding: 0px;

            a {
                text-decoration: none;
                font-size: 14px;
                color: black;
                padding: 5px 10px 5px 10px;
            }

            a:hover {
                border-bottom: solid 2px #00a2fd;
            }
        }

        .selected {
            border-bottom: solid 2px #00a2fd;
        }
    }
}
a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding: 5px 10px 5px 10px;
}

a:hover {
    color: #ffffff;
}

.selected {
    color: #ffffff;
}

.lookup-div {
  border: solid 2px #a3a3a3;
    min-height: 180px;
    padding: 0px;
    margin-top: 20px;
    height: 100%;

    p:first-child {
        background-color: #aebed6;
        color: #000000;
        margin-top: 0px;
        padding: 5px 5px 5px 15px;
        font-weight: bold;
        font-size: medium;
    }
}

.ssn-div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    .ssn-label-section {
        width: 80px;
    }

    .ssn-input-section {
        display: flex;
        align-items: center;

        input {
            position: relative;
            width: 250px;
            margin-left: 5px;
            margin-right: 5px;
        }

        em.fa {
            position: absolute;
            margin-left: 230px;
            cursor: pointer;
            font-size: 20px;
            color: #45b2fa;
        }

        span {
            margin-left: 20px;
        }
    }
}

.search-div {
    display: flex;
    align-items: center;
    .search-label-section {
        width: 80px;
    }
    .w100 {
        width: 100px !important;
    }

    .requested-label {
        margin-left: 5px;
        margin-right: 5px;
    }

    .search-input-section {
        display: flex;
        align-items: center;

        input {
            width: 250px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

.search {
    display: flex;
    margin-top: 10px;
    justify-content: right;
    .search-button {
        background-color: #00a2fd;
        border: none;
        color: white;
        padding: 3px 20px;
        font-size: 12px;
    }
}

.wages-div {
    padding: 20px;
    label {
        width: 60px;
    }

    p {
        margin: 15px !important;
        padding-left: 160px;
        font-weight: bold;
    }
}

.container-fluid {
    font-family: "Helvetica Neue", sans-serif;
}

.dialog-header {
    font-size: 20px;
    display: flex;
    padding: 10px;
    right: 10px;
    font-weight: 500;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid 1px #c4bebe;
}

.close-btn {
    cursor: pointer;
    margin-left: auto;
}

.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}

.dialog {
    background: #ffffff;
    border-radius: 6px;
    width: 55%;
    height: 20%;
    position: relative;
    min-height: 150px;
}

.dialog-body {
    height: 10%;
    padding: 30px 20px 20px 20px;
    font-size: 17px;

    p:first-child {
        margin-top: 1px;
    }
    p {
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
        color: black;
    }
}

.dialog-buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.view-button {
    background-color: #00a2fd;
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.close-button {
    background-color:#00a2fd;
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;

}

.mh-220 {
    min-height: 220px !important;
}

.mh-125 {
    min-height: 125px !important;
}

.displayNone {
   display: none;
}
select {
    -webkit-appearance: auto;
    -moz-appearance: none;
    appearance: auto;
    padding: 0 30px 0 10px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background: #fff;
    margin: 0 5px 5px 0;
    height: 30px;
    min-width: 200px;
}

.dialog-container-history {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
  }

  .dialog-history {
    background: #ffffff;
    border-radius: 6px;
    width: 90%;
    height: 70%;
    position: relative;
  }

  .dialog-body-history  {
    height: 80%;
    padding-top: 8px;
    overflow-y: scroll;
  }

  .mr10 {
      margin-right: 10px;
  }


  .btn-danger {
      border: none;
  }

  .clear-button {
      border: none !important;
      background-color: red !important;
  }

//   .clear-button:hover {
//     background-color: #fc7f7f !important;
//   }

  .clear-button:active {
    background-color: #fc7f7f !important;
  }
  .pluscircle{
      font-size: 30px;
      background-color: #00a2fd;
      color: #ffffff;
      margin-right: 10px;
  }

  .alredy-submitted {
    margin-bottom: 15px;
    margin-top: 1px;

    table {
        width: 80%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
    }
  }

  .tm30 {
      margin-top: 30px;
  }
