.tab-vertical .list-group-item-info .fa-caret-down {
    float: right;
    font-size: 22px;
}

.tab-vertical .list-group-item-info .arrow {
    width: 10px;
    height: 10px;
    display: inline-block;
    float: right;
}
.tab-vertical .list-group-item-info .arrow:after {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    content: '';
    top: 15px;
    right: 15px;
}

.tab-vertical .list-group-item-info.collapsed .arrow:after {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    border-bottom: none;
    position: absolute;
    content: '';
    top: 15px;
    right: 15px;
}

.tabsm .list-group-item-info {
    color: #fff;
    background-color: #19a7b8;
    border: 1px solid #19a7b8;
}
.tabsm.tab-vertical .nav-height .nav {
    padding: 8px !important;
    border: 1px solid #19a7b8 !important;
    max-height: 450px;
    overflow-y: auto;
}
.tabsm.tab-vertical .nav li.active,
.tabsm.tab-vertical .nav li {
    border-left: 0;
}
.tabsm.tab-vertical .nav li.active a {
    background: #fff;
    border-left: 4px solid #19a7b8;
    box-shadow: 0 0 10px #ccc;
}
.form-letter-tab .table-bordered > tbody > tr:nth-child(odd) {
    background: #77828c;
    color: #fff;
}
.form-letter-tab .table-bordered > tbody > tr > td {
    color: #fff;
}
