.doc .drop-container {
    background: #fff;
    border-radius: 6px;
    height: 150px;
    width: 100%;
    box-shadow: 1px 2px 20px hsla(0, 0%, 4%, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #c0c4c7;
}
.doc .drop-container p {
    font-size: 16px;
    font-weight: 400;
    color: #c0c4c7;
}
.doc .drop-container p .upload-button {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    color: #5754a3;
}
.doc .drop-container p .upload-button input {
    display: none;
}

.wizard .nav-tabs > li {
    width: calc(50% - 5px);
    padding: 10px;
    background: #585858;
}
.wizard .nav-tabs > li.active {
    background: #1bbc9b;
}
.wizard .nav-tabs > li:first-child {
    margin-right: 10px;
}

.uploaded-files {
    overflow: hidden;
}
.uploaded-form {
    background: #efefef;
    padding: 5px;
    margin-bottom: 5px;
}
.uploaded-form .form-control {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 6px;
    font-size: 12px;
    height: 30px;
}
.uploaded-form textarea.form-control {
    height: 30px;
    margin-bottom: 0;
}
.uploaded-files h4 {
    margin: 15px 0;
    font-size: 15px;
    text-transform: uppercase;
    color: #00A2FD;
}
.uploaded-files .media-body-upload h4 {
    color: #000;
    font-size: 12px !important;
    margin: 4px 0;
    text-transform: none;
    font-weight: bold;
}
.uploaded-form .progress {
    height: 5px;
}
.uploaded-form a > span {
    font-size: 25px;
}
.uploaded-files .btn-bs-file {
    position: relative;
    margin-bottom: 0;
}
.uploaded-files .btn-bs-file input[type='file'] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    width: 100%;
    height: 33px;
    top: 0;
    left: 0;
    display: block !important;
}
.uploaded-files .remove-upld {
    text-align: center;
    position: relative;
    min-height: 75px;
}
.uploaded-files .remove-upld span {
    display: inline-block;
    width: 26px;
    padding: 2px 0px;
    border: 1px solid #555;
    border-radius: 100%;
    color: #555;
    position: absolute;
    left: 28%;
    cursor: pointer;
    top: 38%;
}

.upload-wrap {
    max-height: 190px;
    overflow-y: auto;
    overflow-x: hidden;
}
h6.upldr-name {
    font-size: 11px;
    margin: 0;
    color: #777;
    margin-bottom: 0px;
    display: inline-block;
    padding-right: 8px;
}
h6.upldr-name:first-child {
    border-right: 1px solid #ccc;
}
.upldr-name span {
    color: #000;
    font-size: 12px;
    margin-top: 3px;
    display: block;
}
.no-file h6 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}
.upload-number {
    text-align: center;
}
.upload-number span {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-top: 2px;
    border: 1px solid #777;
    color: #777;
    font-size: 13px;
    font-weight: 900;
    border-radius: 100%;
}
.block.drop-container {
    width: 100%;
    padding: 50px 0;
    background: #f3f4f6;
    border: 2px dashed #888;
    text-align: center;
}
.block.drop-container p {
    margin-bottom: 5px;
}
i.fa.fa-cloud-upload {
    font-size: 20px;
    cursor: pointer;
    // color: #53c3c
}
.btn-bs-file {
    cursor: pointer;
    font-weight: 1000;
}
.Persons-Involved h4.modal-header {
    margin: 0;
    padding: 0;
    font-size: 15px;
    border-bottom: 0;
    margin-bottom: 5px;
}
.uploaded-form .media {
    margin-top: 0;
}
.mh-450 {
    min-height: 450px;
}
.required:after {
    top: 0px;
    right: 3px;
    position: absolute;
}


h4.modal-title {
    margin: 0px;
}

/*Dynamo Soft Css*/

.dynamoContainer { border: 1px solid #ccc;} 
 ul.operateGrp { list-style-type : none !important; position: relative; right: 70px; }
.operateGrp li { margin: 0; width: 55px; height: 41px; line-height: 38px; border: 1px solid #ccc; text-align: center; }
.operateGrp li:nth-last-child(2) { height: 41px; }
.operateGrp li:last-child { height: 41px; border-bottom: none; }
.operateGrp li > img { cursor: pointer; }

/*#dwtcontrolContainer*/
#dwtcontrolContainer { float: left; width: 585px; height: 354px; position: relative;left: 41px;}
#dwtcontrolContainer .dynamsoft-dwt-container-box > div { border: none !important; width: 585px !important; height: 354px !important; }
#dwt-NonInstallContainerID { float: left; width: 585px !important; height: 354px !important; }

.dynamo-aquire {
    width: 19%;
    height: 34px;
    position: relative;
    left: 7px;
    border: 1px solid #039be6;
    background-color: #039be6;
    color: #fff;
}
.dynamo-upload {
    position: relative;
    right: 26px;
    width: 29%;
    height: 34px;
	border: 1px solid #039be6;
    background-color: #039be6;
    color: #fff;
}

.dynamo-mt-12 {
    margin-top: 12px;
    position: relative;
    left: 7px;
}

.preview-mode {
    position: relative;
    right: 100px;
}

.dynamoc-header {
    position: relative;
    bottom: 37px;
}

/*#btnGroupBtm*/
#DWTcontainerTop #btnGroupBtm { position: absolute; left: 101px; bottom: 0; padding: 14px 25px 15px 90px; width: 544px; height: 57px; background: #f5f5f5; border-top: 1px solid #ccc; font-size: 14px; color: #606060; }
#btnGroupBtm { font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica; }
#btnGroupBtm input {  width: 25px; height: 20px; font-size: 10px; background: #f5f5f5; border: solid 1px #bbbcc0; outline: none; cursor: pointer; }
#btnGroupBtm input[type='text'] { height: 20px; font-size: 12px; border: none; cursor: default; }
#btnGroupBtm #DW_CurrentImage { text-align: center; }
#btnGroupBtm #DW_TotalImage { text-align: center; } 
#DW_PreviewMode { height: 26px; border: solid 1px #d8d8d8; color: #444; outline: none; border-radius: 3px; cursor: pointer; }
/*=============== DWTcontainerTop ===============*/
#DWTcontainerTop { position: relative; float: left; width: 647px; height: 497px; border: 1px solid #ccc; }
.ds-dwt-container-box > div { border: none !important; }
/*#divEdit*/
#divEdit { float: left; margin: 0; padding: 0; width: 60px; background: #fff; border-right: 1px solid #ccc; }


#Crop { padding: 5px; padding-top: 10px; text-align: center; border-collapse: collapse; border: 3px solid #cE5E04; position: absolute; height: 80px; z-index: 1; background-color: #f0f0f0; width: 250px }
#ImgSizeEditor { padding: 10px 15px; position: absolute; z-index: 1; top: 513px; left: -1px; height: auto; width: 320px; font-size: 14px; color: #606060; text-align: left; background-color: #f5f5f5; border-collapse: collapse; border: 1px solid #ccc; box-shadow: 4px 4px 18px #ccc; -webkit-box-shadow: 4px 4px 18px #ccc; -moz-box-shadow: 4px 4px 18px #ccc; }
#ImgSizeEditor li { margin-bottom: 5px; }
#ImgSizeEditor input { background: #fff; border: solid 1px #ccc; }
#ImgSizeEditor input[type='text'] { padding-left: 3px; }
#ImgSizeEditor input[type='button'] { padding: 5px 5px; margin: 6px 5px 0; }


/*=============== ScanWrapper ===============*/
#ScanWrapper { float: right; width: 315px; height: 570px; }
div.divinput { font-size: 14px; color: #606060; line-height: 24px; margin-bottom: 20px; text-align: left; border: solid 1px #ccc; background: #fff; }
.divType, #ScanWrapper .toggle { padding-left: 20px; height: 38px; line-height: 36px; font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica; font-size: 14px; color: #444; border-bottom: solid 1px #ccc; background: #eee; cursor: pointer; }
#ScanWrapper .toggle { cursor: default; }
.mark_arrow { display: block; float: right; margin: 15px 20px 0 0; width: 12px; height: 8px; }
/*
.collapsed { background: url("../images/icn-down-12x7.png") no-repeat center center; }
.expanded { background: url("../images/icn-up-12x7.png") no-repeat center center; }
*/
.divTableStyle { padding: 12px 20px 15px; border-bottom: solid 1px #ccc; }
#ScanWrapper select, #divUpload input[type='text'] { margin-top: 3px; margin-bottom: 6px; height: 26px; border: solid 1px #ccc; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; outline: none; }
#ScanWrapper input[type='checkbox'], #ScanWrapper input[type='radio'] { margin: 0 3px 0 0; }
/*=============== ScanWrapper ===============*/


/*#divScanner*/
#divScanner { border-bottom: none; }
#PCollapse { list-style: none inside none; margin-left: 0; padding-left: 0; }
select#source { margin-top: 3px; padding-left: 3px; width: 100%; font-size: 12px; border: solid 1px #ccc; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; outline: none; }
select#Resolution { margin-left: 3px; width: 192px; height: 26px; }
#divProductDetail li { margin-top: 8px; }
#divProductDetail li:first-child { margin-top: 3px; }
#divProductDetail li label { display: inline-block; margin: 0 28px 0 0; font-size: 12px; }
#divProductDetail li label:last-child { margin: 0; }
#divProductDetail li label input { width: 15px; height: 15px; vertical-align: middle; }
#btnScan { margin-top: 10px; margin-bottom: 5px; width: 90px; height: 30px; line-height: 28px; border: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background: #ddd; font-size: 14px; color: #444; font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica; cursor: default; outline: none; }
#div_LoadLocalImage input[type='button'] { margin: 15px 0; width: 90px; height: 30px; }
#div_ScanImage { position: relative; }
#tblLoadImage { position: absolute; top: 102px; z-index: 1; padding: 30px 22px; width: 275px; height: 128px; font-size: 14px; line-height: 30px; text-align: left; border: 1px solid #fe8e14; background-color: #f5f5f5; }
#tblLoadImage > a { position: absolute; top: 15px; right: 15px; line-height: normal; text-decoration: none; }
#tblLoadImage a { color: #50a8e1; }
#tblLoadImage a:hover { color: #61c2ec; }
/*#divUpload*/
#divUpload input[type='text'] { width: 100%; padding-left: 5px; }
#divUpload li label { display: inline-block; margin: 0 8px 0 0; font-size: 12px; }
#divUpload li img { margin-right: 2px; }
#divUpload li label:last-child { margin-right: 0; }
#divUpload li input { width: 15px; height: 15px; vertical-align: middle; }
#divUpload li:nth-child(3) { margin: 5px 0 8px; }
#divUpload li { padding: 0 20px; }
#divUpload li:nth-child(2) { padding-top: 12px; }
#divUpload input[type='button'] { margin: 14px 0 20px 0; }
#divUpload #btnSave, #divUpload #btnUpload { padding: 0; width: 115px; height: 30px; margin-right: 15px; font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica; cursor: pointer; }
#divUpload #btnUpload { width: 138px; margin-right: 0; }
/*=============== DWTcontainerBtm ===============*/
#DWTcontainerBtm { position: relative; float: left; width: 980px }
#DWTemessageContainer { float: left; }
#DWTemessageContainer input[type='text'] { border: solid 1px #ccc; padding-left: 3px; }
#DWTemessageContainer input[type='button'] { cursor: pointer; margin: 0 3px; outline: none; }
#DWTdivMsg { padding: 5px 0 0; font-size: 14px; color: #444; }
#DWTemessage { padding: 6px 0 0 8px; margin-top: 3px; width: 647px; height: 160px; border: solid 1px #ccc; overflow-y: scroll; background: #fff; }
#divNoteMessage { float: right; padding: 10px 15px; margin-top: 34px; width: 315px; height: 160px; font-size: 12px; line-height: 20px; border: 1px solid #ccc; background: #e7f2fd; color: #606060; }
#divNoteMessage p { margin: 0; color: #444; font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica; }
/*=============== dailog ===============*/
