
.left-side-box{padding: 15px 7px;}
.left-side-box .row{margin: 0 -7px;}

.form-control-size label, .custom-modal label{ text-align: left;}
.complex-search h4 {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

.scrollBar {
    max-height: 570px;
    overflow: auto;
    overflow-x: hidden;
    display: inline-block;
}

.btn-link {
    color: #00A2FD;
}
.btn-link:focus,
.btn-link:hover {
    color: #00A2FD;
    text-decoration: none;
    background-color: transparent;
}