.nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: none;
    background-color: #fff;
    border-color: #fff;
}
.nav-tabs.cus-tab-section,
.nav-tabs.cus-tab-section > li.active > a:hover,
.cus-tab-section li.active > a:focus,
.cus-tab-section .nav-tabs,
.cus-tab-section li.active > a,
.cus-tab-section .nav-tabs > li.active > a:hover {
    border: none;
}
.cus-tab-section .tab-txt {
    background: #fff;
    padding: 0 5px;
    position: relative;
    text-transform: uppercase;
    color: #00A2FD;
    display: block;
    font-size: 14px;
    font-weight:600;
}
.cus-tab-section li {
    width: 49.33%;
    text-align: center;
}
// .cus-tab-section li:after {
//     background: #333;
//     content: '';
//     display: block;
//     height: 1px;
//     position: absolute;
//     top: 75%;
//     width: calc(100% - 312px);
//     right: 0;
// }
// .cus-tab-section li:before {
//     background: #333;
//     content: '';
//     display: block;
//     height: 1px;
//     position: absolute;
//     top: 75%;
//     width: calc(100% - 312px);
//     left: 0;
// }
// .cus-tab-section li:first-child:before{
//     height:0;
// }
// .cus-tab-section li:last-child:after{
//     height:0;
// }
// .cus-tab-section li a {
//     padding: 0;
// }
.cus-tab-section li.active a {
    font-weight: 700;
}
.circle {
    border: 1px solid #00A2FD;
    border-radius: 50%;
    padding: 5px 6px;
    margin-top:10px;
}
.circle:after {
    width: 1px;
    height: 1px;
    background: #fff;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}
.circle.completed:after {
    width: 1px;
    height: 1px;
    background: #00A2FD !important;
    content: '';
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}
.cus-tab-section li.active .circle:after {
    background: none;
    display: none; /* content: "\e001"; */
}
.cus-tab-section li.active .circle {
    border: 1px solid #00A2FD;
    background: #00A2FD;
    color: #fff;
}
.cus-tab-section li .fa-pencil:before {
    content: none;
}
.cus-tab-section li.active .fa-pencil:before {
    content: '\f040';
}

.table .table {
    box-shadow: 0 0 10px 1px #ded8d8;
}
 th {
    text-transform: uppercase;
}

.show {
    display: table-row !important;
}

//////////////////
.fa-angle-down,
.fa-angle-up {
    color: #00A2FD;
    font-size: 16px;
    font-weight: 600;
}
.customTable.innerTable > thead {
    background: #AEBED6;
}
.innerTable .card-group {
    margin-bottom: 10px;
}

.table h4 a {
    color: #fff;
}

.highlight {
    // background-color: #6bdab26b !important;
    background-color: #adff2f99 !important;
}
.no-bg {
    background: none;
    border: none;
    color: #00A2FD;
    padding: 5px;
    font-size: 16px;
}
// .table>tbody.highlight+tbody.highlight{
//     border-top: 2px solid #46EBAF;
// }
.label-search {
    margin: 0px;

    label {
        font-weight: 600;
    }
}

.clsTextOver{
    width: 110px;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.display-inlinebl {
	display: inline-block;
    padding-left: 10px;
}

.btn-sec {
    color: #ffffff;
    background: #3e4961;
    box-shadow: none;
    font-weight: 700;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}

.collapsed a {
    color: #fff !important;
    // padding: 0px !important;
}

// .card-title {
//     margin: 0px;
//     padding: 15px;
// }

.collapsed {
    // margin-top: 5px;
    margin: 8px !important;
}