// This page is going to use for future styling

.bdr {
    border: solid 1px #ccc9c9;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h50 {
    height: 50px;
}

.m10 {
    margin-top: 10px;
}