.fim-tab{
    padding:15px;
}
.fim-tble{
    margin:7px 0 0;
}
.fim-tble thead{
    background:#d7dbe2;
}
.fim-tble th:nth-child(1){
    width:20%;
}
.fim-tble th:nth-child(2){
    width:11%;
}
.mat-mdc-form-field {
    width:100% !important;
  }
.fim-tble th:nth-child(3){
    width:20%;
}
.fim-tble th:nth-child(4){
    width:45%;
}
.fim-tble th:nth-child(5){
    width:100px;
}
span.pl-5{
    padding-left: 5px;
    display: inline-block;
}
.mt-5{
    margin-top:5px;
}
.selected-item{
    display: inline-block;
    background: #ecf8ff;
    padding: 2px 12px 2px 8px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.selected-item .fa-times{
    color: #939191;
    font-size: 12px;
    font-weight: 100;
    position: relative;
    right: -4px;
}
.add-new i{
    color:#00A2FD;
    font-size: 12px;
    font-weight: normal;
    border:solid 1px #00A2FD;
    border-radius: 50%;
    padding:3px 4px;
    margin-right: 5px;
}
.grey-bg{
    //background:#f6f6f6;
    padding:15px;
    border-radius: 3px;
    display:inline-block;
    width:100%;
}
.flw-meet{
    margin:20px 0;
}
.add-new{
    padding-top:7px;
}
.grey-bg .col-sm-2{
    width:20%;
}
label{margin-top: 15px;}
.grid-list td:last-child{vertical-align: middle}

.other-participants .mat-mdc-radio-group {display: inline-block;}
.other-participants mat-checkbox {
    display: block;
}
.otherdate{
    vertical-align: bottom;
    padding: 18px;
    font-size: 18px;
    color: #00a2fd;
    cursor: pointer;
}


.disabledField {
    pointer-events: none;
    cursor: not-allowed;
}

#add-new-meeting.modal .modal-body{
        max-height: 68vh;        
    }    

    // @media (min-width: 1920px) {
    //     #add-new-meeting.modal .modal-body{
    //         max-height: 90vh;        
    //     }  
    // }

.mat-folow-up {
    padding: 15px 0 0 10px;
}

.btn-doc-save {
    margin-right: 10px !important;
}

.cont-m-doc {
    margin-top: 15px;
}

.m-div-upload-doc {
    padding: 0px;
}

@media (max-width:576px) {
    .fim-tble{
        margin:0px;
    }
}

.mdc-list-item.mdc-list-item--with-one-line {
    height:auto;
    align-items: center;
}

.mat-list-text {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 15px;
    box-sizing: border-box;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mat-line {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 14px !important;
    line-height: normal;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mat-list-icon {
    font-size: 20px !important;
}

.anchor-cls {
    font-size: 14px !important;
    color: #337ab7;
}

.anchor-cls:hover, .anchor-cls:focus {
    color: #23527c;
    text-decoration: underline;
}