

// AOD Form Starts
.cont-brd {
    border: 1px solid #bce8f1;
}

.head-bg {
    background-color: #d9edf7;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 0px;
    text-transform: capitalize;
}

.head-pad {
    padding: 0px 15px 15px 15px;
}

.content-wrapper {
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 15px;
}

.radio-wrp {
    padding: 20px;

    div {
        label,
        mat-radio-group,
        .radio-comments {
            display: inline-block !important;
        }

        label {
            // float: left;
            width: 50%;
        }
        /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
        mat-radio-group {
            width: 15%;
            padding-left: 30px;
            padding-top: 0px;
        }

        .radio-comments,
        .inline-show {
            width: 30%;
        }

        .vertical-btm {
            vertical-align: bottom;
        }
    }
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
mat-checkbox {
    display: block;
}
// AOD Form Ends
.signature-field{
    position: relative;
    display: block;
    margin-bottom: 10px;
    background: #dddddd70;
    border: 1px solid #ddd;
}