.before-upload {
    position: relative;
}
.btn-bs-file input[type='file'] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    outline: none;
    cursor: inherit;
}
.btn-no-color {
    background: transparent;
    border: none;
    color: #333333;
    font-weight: 800;
    padding: 0;
}

.upload-profile {
    padding: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: 0 0 15px #dcd7d7;
    margin-bottom: 15px;
    min-height: 280px;
}
.upload-img .image-cropper img.source-image {
    width: 160px;
    border-radius: 50%;
    height: 160px;
}
.upload-img i.fa-cloud-upload {
    font-size: 22px;
    vertical-align: bottom;
    padding-right: 8px;
}
.upload-body {
    padding-bottom: 5px;
    text-align: center;
}
.upload-body p {
    margin-bottom: 15px;
}
.after-upload {
    text-align: left;
}
.after-upload p {
    font-size: 13px;
    margin-bottom: 5px;
}
.b-text {
    font-weight: 600;
}
.upload-edit-icon {
    margin-bottom: 0;
    background: #f9f9f9;
    position: absolute;
    right: 16px;
    top: 1px;
    padding: 10px;
}
.upload-edit-icon li a i {
    font-size: 18px;
}

.table-theme .table tr td {
    text-align: left !important;
}