.fa-times-circle{font-size: 30px; color: #00A2FD;}
.panel-default>.card-header {color: #fff; background-color: #00A2FD;}
.card-header{color: #fff; background-color: #00A2FD; padding: 1rem;}
.custom-textarea textarea{border: 1px solid #ccc; padding: 5px; height: 80px;}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
.custom-textarea textarea:focus,
.custom-textarea input:focus,
.custom-textarea select:focus,
.custom-textarea input,
.custom-textarea select,
.mat-select-trigger {
     padding-bottom: 5px;}
.mt-5{
    margin-top: 5px;
}
.btn.txt-white{color:#fff !important;}

.text-trans {
    text-transform: uppercase;
}

.custom_radio_sdm {
    font-size: 15px;
    font-family: 'Open Sans',serif !important;
    font-weight: 500;
    padding-left: 28px;
    padding-right: 24px;
    width: auto;
    color: #333;
}
.custom_radio_sdm .control__indicator {
    height: 20px;
    width: 20px;
    border: 2px solid rgba(0,0,0,.54);
}
.control.custom_radio_sdm input:checked ~ .control__indicator {
    border: 2px solid #00A2FD;
}
.control--radio.custom_radio_sdm .control__indicator:after {
    left: 0px;
    top: 0px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #00A2FD;
    border: 2px solid #fff;
}
.mat-accordion .mat-expansion-panel:last-child{
    margin-bottom: 0;
}
.mat-accordion + button{
    margin-top: 10px;
}
.panel-content ul li:last-child{
    padding-bottom: 0;
}
.panel-content .mat-mdc-radio-group mat-radio-button:last-child {
    padding-bottom: 0;
}

.clsListPad li{
    padding-bottom: 10px;

    &:last-child{
        padding-bottom: 0;
    }
}

.disabledArea {
    pointer-events: none;
}

sup{
    color: red;
    font-size: inherit;
}
.validationmsg{
    font-size: 75%;
    color:red;

}
.nav-link{
    text-decoration: none !important;
}

.card {
    margin: 1rem 0rem;
}

.nav-link.active{
  background-color: transparent !important;
  border-bottom:2px solid !important;
  border-bottom-color:#00A2FD !important;   
}

.disabled-class { 
    opacity: 0.3;
    pointer-events: none;
}
.mat-mdc-checkbox{
  --mdc-checkbox-disabled-selected-icon-color:#00a2fd !important;
}
.mat-mdc-radio-checked.mat-mdc-radio-disabled{
--mdc-radio-disabled-selected-icon-color:#00a2fd !important;
opacity: 1 !important;
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control {
    z-index: unset !important;
}