<div style="display: flex; flex-direction: column;">
    <ul class="beacon nav nav-pills">
        <li><span [ngClass]="{'selected': selectedTab === 'WAGES' }" (click)="onSelect('WAGES')">Wages</span></li>
        <li><span [ngClass]="{'selected': selectedTab === 'CLAIMANT' }" (click)="onSelect('CLAIMANT')">Claimant</span>
        </li>
        <li><span [ngClass]="{'selected': selectedTab === 'AUDIT TRAIL' }" (click)="onSelect('AUDIT TRAIL')">Audit
                Trail</span></li>

        <button class="btn-pri bckViewBtn" [routerLink]="['/pages/beacon']" [queryParams]="{ to: 'View Requested' }"> <i
                class="fa fa-arrow-left" aria-hidden="true"></i>
            Back To View Requested Info
        </button>
        <span style="float: right;color: #f32d4e; border: none; margin-top: 10px;"> * Historical Status:
            {{historyResponseStatus}}
        </span>
    </ul>
    <div class="wagesClaimentSelector">
        <div class="selector"
            *ngIf="selectedTab === 'WAGES' || (selectedTab === 'CLAIMANT' && selectedMenu==='DATA_DIV')">
            <label class="control control--radio radio" style="width:auto;">
                Historical
                <input type="radio" name="selector" value="Historical" [(ngModel)]="selectedData"
                    (click)="onSelected('Historical')">
                <div class="control__indicator"></div>
            </label>
            <label class="control control--radio radio" style="width:auto;">
                Realtime
                <input type="radio" name="selector" value="Realtime" [(ngModel)]="selectedData"
                    (click)="onSelected('Realtime')">
                <div class="control__indicator"></div>
            </label>
            <label class="control control--radio radio" style="width:auto;">
                All
                <input type="radio" name="selector" value="All" [(ngModel)]="selectedData" (click)="onSelected('All')">
                <div class="control__indicator"></div>
            </label>
        </div>
    </div>
    <div *ngIf="selectedTab === 'WAGES'">
        <div>
            <custom-table [tableData]="wagesSearchList" [tableDataColumns]="requestColumns"
                [tableDataKeys]="wagesSearchKeys" [totalpagecount]="totalcount" [pageNumber]="paginationInfo.pageNumber"
                (pageChangedEvent)="pageChanged($event)" [styles]="styles" [htmlColumns]="['maskedSSN']"
                [isRequiredSearching]="false" [unsortablecolumn]="wagesUnsortablecolumnsList"></custom-table>
        </div>
    </div>
    <div *ngIf="selectedTab === 'CLAIMANT'">
        <div *ngIf="selectedMenu==='DATA_DIV'">
            <div class="searchDiv">
                <label class="rm10">Effective Date From:</label>
                <input type="date" class="rm50" [(ngModel)]="dateFrom" />
                <label class="rm10">Effective Date To:</label>
                <input type="date" class="rm25" [(ngModel)]="dateTo" />
                <button class="btn-pri rm10" (click)="onValidateSearch()">Search</button>
                <button class="btn-pri rm10" (click)="onClear()">Clear</button>
            </div>
            <div class="tm40">
                <custom-table [tableData]="claimantSearchList" [tableDataColumns]="claimantRequestColumns"
                    [tableDataKeys]="claimantSearchKeys" [totalpagecount]="claimantTotalcount"
                    (pageChangedEvent)="claimantPageChanged($event)" [pageNumber]="claimantPaginationInfo.pageNumber"
                    [styles]="claimantStyles" [htmlColumns]="['View', 'maskedSSN']"
                    (actionEvent)="claimantCallReDirect($event)" [isRequiredSearching]="false"
                    [unsortablecolumn]="claimantUnsortablecolumnsList"></custom-table>
            </div>
        </div>
        <div *ngIf="selectedMenu==='VIEW_DIV'">
            <claimant [claimant]="selectedClaimant" [ssnNumber]="ssn" [personId]="personId" (backToClaimant)="backToClaimant()"></claimant>
        </div>
    </div>
    <div *ngIf="selectedTab === 'AUDIT TRAIL'">
        <audit-access-logs [ssnNumber]="ssn" [personId]="personId" [url]="auditUrl"></audit-access-logs>
    </div>
    <div id="dilog-container" class="dialog-container" *ngIf="isOpenDialog">
        <div id="dialog " class="dialog">
            <div class="dialog-header">
                <span id='close-btn' class="close-btn" (click)="closeAlert()">X</span>
            </div>
            <div class="dialog-body">
                Please Submit the request from beacon main menu
            </div>
        </div>
    </div>
</div>