.qa_Box {
    border: 1px solid #dcdada;
    padding: 20px 20px;
} 

label{
    font-weight: normal;
    color: #817a7a;
}

  .help-icon-wrapper {
    // width: auto;
    margin: 20px -5px 0px 0px;
  }
  
  .input-field-wrapper {
    margin-left: -15px;
  }
  
.service-btn i::before {
    color: #00A2FD;
    font-size: 14px;
}

.service-btn i.fa-close {
    margin: 0px;
}

.service-btn,
.yellow-btn,
.green-btn,
.red-btn {
    outline: none;
    border: none;
    background: none; 
}