.customTable.innerTable > thead {
    background: #AEBED6;
}

tr.selected-bg {
    background: #00a2fd2b !important
}

.innerTable tr th:hover,
.innerTable thead tr:hover {
    background: #AEBED6;
}


.firsttable th:last-child,
.firsttable td:last-child {
    width: 50px;
}

.fin-h3 {
    font-size: 20px;
    font-weight: 600;
}

.backg:hover  {
    background: #00a2fd !important
}

.backg tr:hover  {
    background-color: white   !important
}
