.fa-times-circle{font-size: 30px; color: #00A2FD;}
.panel-default {
    margin-bottom: 20px;
}
.panel-default>.card-header {color: #fff;
    //  background-color: #00A2FD;
     background-color: #586369;
    }

.custom-textarea textarea{border: 1px solid #ccc !important; padding: 5px; height: 80px;}

/*  TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
.custom-textarea textarea:focus,
.custom-textarea input:focus,
.custom-textarea select:focus,
.custom-textarea input,
.custom-textarea select,
.mat-select-trigger {
     padding-bottom: 5px;}
.mt-5{
    margin-top: 5px;
}
.custom-textarea .nav-pills{
    margin-bottom: 10px;
}
.clsIntake i.fa-calendar{
    right:21px;
}
.clsIntake em.fa-calendar{
    right:21px;
}
.card .panel-content{ margin-bottom: 0px;}
.panel-content ul li, .panel-content .mat-mdc-radio-group mat-radio-button {
    padding-bottom: 0;
}
.panel-content h3{ border-bottom: 1px solid #e5e5e5; font-size: 18px; margin:15px 0;}
ul li{ color: #817a7a;}
/*  TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
.mat-checkbox-disabled .mat-checkbox-label{font-weight: 600;}
.btn.txt-white{color:#fff !important;}
.btn.txt-white[disabled]{color:#696969 !important}

.text-trans{
    text-transform: uppercase;
}

// ================= Style for mat radio lable ============================

::ng-deep{
    /*  TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
    .mat-radio-label{
        white-space: inherit !important;
    }
}

#btn-cps-res-type {
    margin-left: 15px;
}

.btn-recoverrides{
    padding-left: 15px;
}

.arr-flex {
    display: flex;
    flex-direction: row;
}


.modal-dialog.modal-lg {
    max-width: 950px !important;
    width: auto !important;
}
.mat-mdc-checkbox{
  --mdc-checkbox-disabled-selected-icon-color:#00a2fd !important;
}
.mat-mdc-radio-checked.mat-mdc-radio-disabled{
--mdc-radio-disabled-selected-icon-color:#00a2fd !important;
opacity: 1 !important;
}
