<div id="Assessments" class="tab-pane" role="tabpanel">
  <div class="box-grid">
    <div class="cnt-min-height">
      <div class="row">
        <div class="col-sm-8">
          <h4>External Entities</h4>
          <p>Search database for external entities.</p>
        </div>
        <div class="col-sm-4 text-end btns-top">
          <button class="btn-pri" data-bs-toggle="modal" type="submit" (click)="searchPopup('entiteinfo')">Search</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <h4>Resource Inquiries</h4>
          <strong><a href="https://aging.maryland.gov/accesspoint/Pages/default.aspx" target="_blank" rel ="noopener noreferrer">MD Department of
              Aging - MAP</a></strong><br>
          <strong><a href="https://health.maryland.gov/ohcq/Pages/home.aspx" target="_blank" rel ="noopener noreferrer">MD Department of
              Health/Office of Health Care Quality</a></strong><br>
          <strong><a href="https://mydhrbenefits.dhr.state.md.us/dashboardClient/#/home" target="_blank" rel ="noopener noreferrer">My DHR
              (application for benefits)</a></strong>
        </div>
      </div>
      <div *ngIf="listEntities?.length > 0; else nothing">
        <div class="row panel-wrap-maxhgt">
          <div *ngFor="let item of listEntities;let i = index" class="col-sm-3">
            <div class="card panel-default entities-panel">
              <div class="card-header">
                <h3 class="card-title">
                  <span class="entities-title">{{(item?.description.length > 20) ? (item?.description | slice:0:20 ) +
                    '...' : item?.description}}</span>
                  <span class="categori-name">{{item?.agencysubtype}}</span>
                </h3>
              </div>
              <div class="card-body">
                <dl>
                  <dt>AGENCY TYPE</dt>
                  <dd class="single-wrap">{{item?.agencytypedesc ? item.agencytypedesc :'N/A' }}</dd>
                  <dt>PHONE</dt>
                  <dd class="single-wrap">{{item?.phonenumber ? item.phonenumber :'N/A'}}</dd>
                </dl>
                <dl>
                  <dt>ENTITY ROLE</dt>
                  <dd class="single-wrap">{{item.agencyroletypekey ? item.agencyroletypekey :'N/A'}}</dd>
                  <dt>ENTITY TYPE</dt>
                  <dd class="single-wrap">{{item.agencytypekey ? item.agencytypekey :'N/A'}}</dd>
                </dl>
                <dl>
                  <dt>ADDRESS</dt>
                  <dd class="single-wrap">{{item?.state ? item.state : 'N/A' }} ,
                    <br class="single-wrap"> {{item?.zipcode ? item.zipcode : 'N/A' }}</dd>
                </dl>

              </div>
              <div class="card-footer">
                <ul class="list-unstyled icon-btn">
                  <li>

                    <button (click)="editEntity(item, i)">
                      <em class="fa fa-pencil-square-o" aria-hidden="true"></em>
                    </button>

                  </li>
                  <li>

                    <button (click)="confirmDelete(item)">
                      <em class="fa fa-trash" aria-hidden="true"></em>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #nothing>
      </ng-template>
    </div>
  </div>
</div>


<div class="modal fade in" id="entities-search" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg custom-wid" role="document">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <h4 class="modal-title">Find Entity</h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close" (click)="closePopup()"></button>
      </div>
      <div class="modal-body">
        <div class="">
          <ul class="nav nav-tabs mrg-btm10 cus-tab-section">
            <li class="active">
              <a data-bs-toggle="tab" class="notactive" id="entiteinfo" href="#entitie-info">
                <span [class]="entitesSearchTabActive ? 'circle fa fa-pencil completed' : 'circle fa fa-pencil'"></span>
                <span class="tab-txt">Entity Information </span>
              </a>
            </li>
            <li>
              <a data-bs-toggle="tab" id="search-result-click" class="notactive" href="#search-res">
                <span [class]="entitesserachResultTabActive ? 'circle fa fa-pencil completed' : 'circle fa fa-pencil'"></span>
                <span class="tab-txt">Search Result</span>
              </a>
            </li>
            <li>
              <a data-bs-toggle="tab" class="notactive" id="entiterole" href="#entities-role">
                <span [class]="entiteSearchTabActive ? 'circle fa fa-pencil completed' : 'circle fa fa-pencil'"></span>
                <span class="tab-txt">Entity role</span>
              </a>
            </li>
          </ul>

          <div class="tab-content" style="box-shadow:0 0 0 0;">
            <div id="entitie-info" class="tab-pane fade show active">
              <form [formGroup]="involvedEntitiesForm" (submit)="searchInvolvedEntities(involvedEntitiesForm.value)">
                <div class="row m-content-height">
                  <div class="col-sm-4 ">
                    <mat-form-field>
                      <mat-label>External Entity Name</mat-label>
                      <input type="text" formControlName="description" matInput placeholder="">
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>External Entity Category</mat-label>
                      <mat-select formControlName="agencycategorykey" placeholder="">
                        <mat-option *ngFor="let item of categoryDropDownItems$ | async" [value]="item.value">{{item.text}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <input type="FACID" formControlName="facid" matInput placeholder="">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>SSBG</mat-label>
                      <input type="text" formControlName="ssbg" matInput placeholder="">
                    </mat-form-field>
                    <mat-checkbox type="checbox" formControlName="satelliteOffice">Satellite Office</mat-checkbox>


                  </div>

                  <div class="col-sm-4 ">
                    <mat-form-field>
                      <mat-label>Contact No</mat-label>
                      <input type="text" formControlName="phonenumber" matInput placeholder="">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Office Address</mat-label>
                      <input type="text" formControlName="address1" matInput placeholder="">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Address2</mat-label>
                      <input type="text" formControlName="address2" matInput placeholder="">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>ZIP Code</mat-label>
                      <input type="text" formControlName="zipcode" matInput placeholder="" zipcodeOnly>
                    </mat-form-field>

                  </div>
                  <div class="col-sm-4 ">
                    <mat-form-field>
                      <mat-label>City</mat-label>
                      <input type="text" formControlName="city" matInput placeholder="">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Region</mat-label>
                      <mat-select formControlName="region" placeholder="">
                        <mat-option *ngFor="let item of regionDropDownItems$ | async" [value]="item.value">{{item.text}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>State</mat-label>
                      <mat-select formControlName="state" placeholder="">
                        <mat-option *ngFor="let item of stateDropDownItems$ | async" [value]="item.value">{{item.text}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Country</mat-label>
                      <mat-select formControlName="county" placeholder="">
                        <mat-option *ngFor="let item of countyDropDownItems$ | async" [value]="item.value">{{item.text}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                </div>

                <div class="wizard-buttons text-end">
                  <button class="btn-bg" type="button" (click)="clearSearch()">Clear</button>
                  <button class="btn-pri btn" type="submit" (click)="searchResult()">Search</button>
                </div>
              </form>
            </div>
            <div id="search-res" class="tab-pane fade">
              <div class="row">
                <div class="col-sm-12">
                  <div class="text-end">
                    <div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
                      <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                        (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
                        [itemsPerPage]="paginationInfo.pageSize"></pagination>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12" *ngIf="involvedEntitySearchResponses$ | async; let involvedEntitiesList">
                  <div class="outer">
                    <div class="table-responsive" *ngIf="involvedEntitiesList.length !== 0">
                      <table class="table customTable firsttable" aria-describedby="tbl-involved-entities-lst">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">ENTITY NAME</th>
                            <th scope="col">CATEGORY</th>
                            <th scope="col">ENTITY TYPE</th>
                            <th scope="col">ADDRESS</th>
                            <th scope="col">CITY</th>
                            <th scope="col">COUNTY</th>
                            <th scope="col">ZIP</th>
                            <th scope="col">PHONE</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let row of involvedEntitiesList">
                            <td>
                              <label class="control control--radio">
                                <input type="radio" name="selectedPerson" (click)="selectInvolvedEntity(row, $event)"
                                  class="ng-dirty ng-valid ng-touched">
                                <div class="control__indicator"></div>
                              </label>
                            </td>
                            <td>{{row.agencyname}}</td>
                            <td>{{row.agencytypedesc}}</td>
                            <td *ngIf="canShowSSBG">{{row.provideragreementtypekey}}</td>
                            <td>{{row.agencysubtype}}</td>
                            <td *ngIf="canShowSSBG">{{row.ssbg}}</td>
                            <td>{{row.address}}</td>
                            <td>{{row.city}}</td>
                            <td>{{row.country}}</td>
                            <td>{{row.zipcode}}</td>
                            <td>{{row.phonenumber}}</td>
                          </tr>


                        </tbody>
                      </table>

                    </div>
                    <div class="m-content-height" *ngIf="involvedEntitiesList.length === 0">
                      <p>No Results match your criteria. Redo search.
                      </p>
                    </div>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="pull-left m-t-10">
                    <a class="btn-link" (click)="tabNavigation('entiteinfo')">Previous</a>
                  </div>
                  <div class="text-end">
                    <input class="btn-pri" type="button" (click)="tabNavigation('entiterole')" value="Select" />
                  </div>
                </div>
              </div>

            </div>
            <div id="entities-role" [formGroup]="entityDetailsForm" class="tab-pane fade">
              <div class="row m-content-height">
                <div class="col-sm-4">
                  <h4 class="inner-title">ENTITY DETAILS</h4>
                  <mat-form-field>
                    <mat-label>Select Entity Role *</mat-label>              
                    <mat-select formControlName="agencyroletypekey" placeholder="">
                      <mat-option *ngFor="let item of roleDropdownItems$ | async" [value]="item.value">{{item.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Entity Type *</mat-label>
                    <mat-select formControlName="agencytypekey" placeholder="">
                      <mat-option *ngFor="let item of roleTypeDropdownItems$ | async" [value]="item.value">{{item.text}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="pull-left m-t-10" *ngIf="previousButtonDisabel">
                    <a class="btn-link" (click)="tabNavigation('search-result-click')">Previous</a>
                  </div>

                  <div class="text-end">
                    <button class="btn-pri" type="button" (click)="saveEntity(entityDetailsForm.value)">Done</button>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade custom-modal" id="delete-entity-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Confirm Delete </h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p> Are you sure you want to delete this item? </p>
        <div class="text-end big-bot-space right-mspace-15">
          <button type="button" value="No" class="btn-pri" name="" data-bs-dismiss="modal"> No </button>
          <button type="button" value="Yes" class="btn-pri " name="" (click)="deleteInvolvedEntity()"> Yes </button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade in" id="entities-search1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg custom-wid" role="document">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <h4 class="modal-title">Search External Entities</h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <p>Enter one of the following to apply search capabilities</p>
          </div>
        </div>
        <form [formGroup]="involvedEntitiesForm" (submit)="searchInvolvedEntities(involvedEntitiesForm.value)">
          <div class="row mrg-top25">
            <div class="col-sm-4 ">
              <input type="text" class="form-control " placeholder="External Entities Name">
              <div class="select-icon">
                <select class="form-select" placeholder="category">
                  <option> Select Category </option>
                </select>
              </div>
              <input type="text" class="form-control " placeholder="FACID">
              <input type="text" class="form-control " placeholder="SSBG">
              <input type="text" class="form-control " placeholder="Contact Number">
            </div>

            <div class="col-sm-4">
              <input type="text" class="form-control " placeholder="Office Address Line 1">
              <input type="text" class="form-control " placeholder="Address Line 2">
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" class="form-control " placeholder="Zip Code">
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control " placeholder="City">
                </div>

              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="select-icon">
                    <select class="form-select" placeholder="select">
                      <option> Region </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="select-icon">
                    <select class="form-select" placeholder="select">
                      <option> State </option>
                    </select>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-sm-12">
                  <input type="text" class="form-control " placeholder="County">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer wizard-buttons">
            <button class="btn-bg">Search</button>
          </div>
        </form>
        <br />
        <br />
        <br />
        <br />

        <div class="row">
          <div class="col-sm-12">
            <div class="arrow-left">
              <a href="">
                <em class="fa fa-angle-left searchresult"></em>
              </a>
              <span> Search Result</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 pull-right text-end">
            <div class="tbl-pagination">
              <div class="row-count">
                <span class="mrg-rht10">Rows per page : </span>
                <div class="select-icon disp-inblock">
                  <select class="form-select disp-inline collapse-horizontal-70 no-mar">
                    <option> 10 </option>
                    <option> 20 </option>
                    <option> 30 </option>
                    <option> 40 </option>
                    <option> 50 </option>
                  </select>
                </div>
              </div>
              <div class="total-rows">
                <span>1 - 10 </span> of
                <span>100</span>
              </div>
              <div class="arrow-left">
                <em class="fa fa-angle-left" style="font-size:29px"></em>
              </div>
              <div class="arrow-right">
                <em class="fa fa-angle-right" style="font-size:29px"></em>
              </div>
            </div>
          </div>
        </div>


        <div class="row ">
          <div class="col-sm-12">
            <div class="table-responsive mrg-top25">
              <table class="table table-striped  no-mar" aria-describedby="tbl-entity-lst">
                <thead>
                  <tr>
                    <th scope="col">
                      <label class="control control--checkbox disp-inline">
                        <input type="checkbox">
                        <div class="control__indicator"></div>
                      </label>
                    </th>
                    <th scope="col">External Entity Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Type</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">Zip</th>
                    <th scope="col">Phone</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label class="control control--checkbox disp-inline">
                        <input type="checkbox">
                        <div class="control__indicator"></div>
                      </label>
                    </td>
                    <td>West Park Health Care Center</td>
                    <td>ASPEN</td>
                    <td>LAP-CLIA</td>
                    <td>1225 depaul Dr, STE 503</td>
                    <td>Valparisio</td>
                    <td>63044</td>
                    <td>7410911</td>
                  </tr>
                  <tr>
                    <td>
                      <label class="control control--checkbox disp-inline">
                        <input type="checkbox">
                        <div class="control__indicator"></div>
                      </label>
                    </td>
                    <td>West Park Health Care Center</td>
                    <td>ASPEN</td>
                    <td>LAP-CLIA</td>
                    <td>1225 depaul Dr, STE 503</td>
                    <td>Valparisio</td>
                    <td>63044</td>
                    <td>7410911</td>
                  </tr>
                  <tr>
                    <td>
                      <label class="control control--checkbox disp-inline">
                        <input type="checkbox">
                        <div class="control__indicator"></div>
                      </label>
                    </td>
                    <td>West Park Health Care Center</td>
                    <td>ASPEN</td>
                    <td>LAP-CLIA</td>
                    <td>1225 depaul Dr, STE 503</td>
                    <td>Valparisio</td>
                    <td>63044</td>
                    <td>7410911</td>
                  </tr>
                  <tr>
                    <td>
                      <label class="control control--checkbox disp-inline">
                        <input type="checkbox">
                        <div class="control__indicator"></div>
                      </label>
                    </td>
                    <td>West Park Health Care Center</td>
                    <td>ASPEN</td>
                    <td>LAP-CLIA</td>
                    <td>1225 depaul Dr, STE 503</td>
                    <td>Valparisio</td>
                    <td>63044</td>
                    <td>7410911</td>
                  </tr>
                  <tr>
                    <td>
                      <label class="control control--checkbox disp-inline">
                        <input type="checkbox">
                        <div class="control__indicator"></div>
                      </label>
                    </td>
                    <td>West Park Health Care Center</td>
                    <td>ASPEN</td>
                    <td>LAP-CLIA</td>
                    <td>1225 depaul Dr, STE 503</td>
                    <td>Valparisio</td>
                    <td>63044</td>
                    <td>7410911</td>
                  </tr>
                  <tr>
                    <td>
                      <label class="control control--checkbox disp-inline">
                        <input type="checkbox">
                        <div class="control__indicator"></div>
                      </label>
                    </td>
                    <td>West Park Health Care Center</td>
                    <td>ASPEN</td>
                    <td>LAP-CLIA</td>
                    <td>1225 depaul Dr, STE 503</td>
                    <td>Valparisio</td>
                    <td>63044</td>
                    <td>7410911</td>
                  </tr>

                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer wizard-buttons">
        <button class="btn-bg">Search</button>
        <button class="btn-pri">Add</button>
      </div>
    </div>
  </div>
</div>
