.outer {
    // max-height: 380px;
    // min-height: 380px;
    height: 340px;
    overflow: auto;
    margin: 10px 0px;
    position: relative;
}
.entities-panel .panel-footer {
    background: #fff;
    padding: 5px !important;
    height: 40px !important;
    border-top: 2px solid #e2e2e2;
    color: #00A2FD;
}
.panel-footer ul li {
    float: right;
    text-align: center;
}
.notactive {
    pointer-events: none;
}
.panel-footer .fa-edit:before,
.panel-footer .fa-pencil-square-o:before {
    line-height: 30px;
}
.icon-btn button,
.icon-btn button:hover,
.icon-btn button:focus {
    padding: 0;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    background: transparent;
    color: #337ab7;
    padding-left: 10px;
}
.entities-panel .panel-footer ul li {
    width: auto;
    padding: 3px;
    border-right: 0;
}
.entities-title {
    width: 100%;
    display: block;
    padding-bottom: 10px;
}
span.categori-name {
    margin-right: 0px;
}

.person-panel .card-body dl dd, .entities-panel .card-body dl dd {
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
}
.entities-panel .card-body dl {
    margin-bottom: 5px;
}
