.border, .border-1, .border-2, .border-4 {
    border: 1px solid #D8D8D8;
    min-height: 215px;
    margin-top: 10px;
}
.border-2 {
    border-top: none; 
}

.border-3 {
    border-bottom: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    height: 130px;
}

.border-1 {
   border-left: none;
}
.border-4 {
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    border-left: none;
    margin-top: 0;
    height: 286px;
 }

.pt-26 {
    padding-top:26px;
}

.border-button {
    border: 1px solid #D8D8D8;
    margin-top: -1px;
}

.red {
    color: red;
}
.minheight {
    min-height: 482px;
}
.font-weight {
    font-weight: 600;
}
.action {
    border-top: none;
    border-bottom: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    padding: 20px 0;
}
.employment-container {
    height: 410px;
    overflow-y: auto;
}

.footer-btn a {
    color: #00A2FD;
}

.title-col {
    color: #00A2FD !important;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0px;
}

.footer-btn{
    padding: 10px;
    border-top: 1px solid #ccc;
    margin: 0;
}