.nav-tabs > li.active > a {
  border-bottom: 4px solid #00A2FD;
}

.head-panel {
background: #00A2FD;
}

.head-panel h4 {
color: #3E4961;
}

.case-plan-info {
margin: 15px 0;
}

.case-plan-info label,
.case-plan-info span,
.cp2-info label,
.cp2-info span {
color: #3E4961;
}

/* Accordian */

body {
color: #6a6c6f;
background-color: #f1f3f6;
margin-top: 30px;
}

.container {
max-width: 960px;
}

.panel-default>.card-header {
color: #333;
background-color: #fff;
border-color: #e4e5e7;
padding: 0;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.panel-default>.card-header a {
display: block;
padding: 10px 15px;
text-decoration: none;
}

.panel-default>.card-header a:hover {
text-decoration: none;
}

.panel-default>.card-header a:after {
content: "";
position: relative;
top: 1px;
display: inline-block;
font-family: 'Glyphicons Halflings',  sans-serif;
font-style: normal;
font-weight: 400;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
float: right;
transition: transform .25s linear;
-webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.card-header a[aria-expanded="true"] {
background-color: #00A2FD;
}

.panel-default>.card-header a[aria-expanded="true"]:after {
content: "\2212";
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
font-size: 13px;
}

.panel-default>.card-header a[aria-expanded="false"]:after {
content: "\002b";
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
font-size: 13px;
}

.accordion-option {
width: 100%;
float: left;
clear: both;
margin: 15px 0;
}

.accordion-option .title {
font-size: 20px;
font-weight: bold;
float: left;
padding: 0;
margin: 0;
}

.card-title {
margin-top: 0;
margin-bottom: 0;
font-size: 16px;
color: inherit;
text-align: center;
background: #00A2FD;
}

#accordion .card-header h4 a {
  color: #fff !important;
}

.accordion-option .toggle-accordion {
float: right;
font-size: 16px;
color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
content: "Collapse All";
}

.brd-right {
border-right: 1px solid #D8D8D8;
width: auto;
float: left;
padding: 0 10px;
}

.brd-right:first-child {
padding-left: 0px;
}

.case-plan-accord ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.case-plan-accord li {
width: 100%;
float: left;
padding: 10px 20px;
}

.case-plan-accord li.autopopulated {
background: #F5F5F5;
}

.pd-l {
padding-left: 10px;
float: left;
}

.case-check-div label {
width: 40%;
}

.case-check-div .case-deck {
  display: inline;
  padding-right: 30%;
}

.case-check-div div {
margin-bottom: 5px;
}

.legal-info {
width: 14%;
float: left;
border-right: 1px solid #D8D8D8;
padding: 0 10px;
}

.legal-info:last-child,
.brd-rgt:last-child {
border: none;
}

.brd-rgt {
border-right: 1px solid #D8D8D8;
padding: 0 10px;
}

.border-rgt {
  border-right: 1px solid #D8D8D8;
}

.col-light {
background: #E0E8F8;
}

.p-10 {
padding: 10px;
}

.brd-top {
border-top: 2px solid #ffffff;
}

.brd-top1px {
  border-top: 1px solid #D8D8D8;
}

.brd-btm1px {
  border-bottom: 1px solid #D8D8D8;
}

table th span {
font-weight: 400;
}

table.waiver-tb tbody tr td:first-child {
width: 76%;
}

table.waiver-tb tbody tr td:nth-child(2) {
width: 17%;
}

.m-r-40 {
margin-right: 40px;
}

.child-emploment label {
width: 20%;
}

.child-emploment span::before {
content: ":";
padding-right: 10px; 
}

.red-col {
color: #ff0000;
}

.display-inlinebl {
display: inline-block;
float: left;
}

.dp-inline {
display: inline-block;
width: 30%;
}

.width-20 {
width: 20%;
float: left;
}

.wd-40 {
width: 40%;
float: left;
}

.case-plan-vc div {
  width: 11.5%;
  float: left;
}

.case-plan-vc div:first-child {
  width: 19%;
}

.case-plan-vc div:nth-child(4) {
  width: 12.5%;
}

.case-plan-vc div:nth-child(6) {
  width: 10.5%;
}

ul.style-circle li {
  padding: 0px;
}

ul.style-circle li::before {
  content: ".";
  padding-right: 20px;
  font-size: 25px;
  line-height: 12px;
  font-weight: bolder;
  color: #00A2FD;
}

.form-table {
  padding-left: 20px;
  padding-right: 20px;
}

.accordion-btn {
color: #ffffff !important;
border-radius: 4px;
float: right;
font-size: 13px !important;
background: #00A2FD;
text-transform: uppercase;
padding: 6px 15px;
font-weight: 600;
min-width: 100px;
}

/* PDF */
table.tb-brd {
border-collapse: collapse;
width: 100%;
}

table.tb-brd, table.tb-brd th, table.tb-brd td {
border: 1px solid black;
padding: 3px;
}

.p-5 {
padding: 5px;
}

.fnt-sm-b span,
.fnt-sm-b {
font-weight: 700;
}

#case-plan2-print p {
margin: 0px;
}

#case-plan2-print span, 
#case-plan2-print p, 
#case-plan2-print label, 
#case-plan2-print td,
#case-plan2-print th {
font-size: 12px;
}

.m-t-3 {
margin-top: 3px;
}

.full-wd {
  padding: 5px;
  float: left;
  width: 100%;
}

.provider-checkbox span:first-child {
width: 80%;
float: left;
}

.brd-btm {
border-bottom: 1px solid #000000;
}

table.no-border,
table.no-border tr,
table.no-border td {
border: none;
}
.highlighted {
  font-size: 13px;
  background-color: lightblue;
}
.service-log-block {
  border: 1px solid rgb(206, 206, 206) ;
  background-color: rgb(249, 249, 250);
  padding: 5px;
  margin: 5px;
  box-shadow: 0px 0px 2px #e5e5e5;
}
.table-theme thead {
  background-color: lightblue;
}

.no-bg {
  outline: none;
  background: none;
  font-size: 12px;
  border: none;
}

.no-bg i:before {
  color: #00A2FD;
}

.pd-27 {
  padding-top: 27px;
}

.icon-btn i:before {
  font-size: 14px;
}

.no-bg-btn {
  outline: none;
  background: none;
  color: #00A2FD;
  font-size: 15px;
  border: none;
  padding-top: 10px;
  font-weight: 600;
}

.no-pd {
  padding: 0px;
}

.service-wrapper {
  border: 1px solid #cccccc;
  padding: 10px;
  box-sizing: border-box;
}

.plus-btn {
  background: #cccccc;
  border: 1px solid #cccccc;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #00A2FD;
}

.complete {
  color: #00A2FD;
  font-size: 16px;
  font-weight: bold;
}

.status-open {
  background: none;
  padding: 2px 10px;
  border-radius: 25px;
  color: #333;
}

.status-returned,
.status-approved,
.status-pending,
.status-draft {
  padding: 2px 10px;
  border-radius: 25px;
  color: white;
  font-size: 13px;
}

.status-approved {
  background: green;
}

.status-pending {
  background: #d46f06;
}

.status-draft {
  background: #696868;
}

.status-returned {
  background: #de0404;
}

.service-btn,
.yellow-btn,
.green-btn,
.red-btn {
    outline: none;
    border: none;
    background: none; 
}

.yellow-btn i::before {
    color: #e49e1d;
    font-size: 14px;
}

.green-btn i::before {
    color: #4CAF50;
    font-size: 14px;
}

.red-btn i::before {
    color: #ff0000;
    font-size: 14px;
}

.service-btn i::before {
    color: #00A2FD;
    font-size: 14px;
}

.service-btn i.fa-close {
    margin: 0px;
}

.help-icon {
  color :#00A2FD
}