.provider-info-popup .modal label {
    text-align: left;
    font-size: 13px;
    display: block;
}
.catagory-box mat-checkbox {
    display: block;
}
.modal .clsProviderPopup{
    label{
        text-align: left;
        font-size: 13px;
    }
    h5{
        color: #000000 !important;
    }
    .sep-left{
        border-left: 1px solid #d8d8d8;
    }
    .pl-20{
        padding-left: 20px !important;
    }
}

.print-btn {
    outline: none;
    background: none;
    position: absolute;
    top: 13px;
    right: 40px;
    border: none;

    i {
        font-size: 22px;
    }
}

/* @media print {
    body, html, #provider-info-popup {
        height: 100%;
    }
} */
@media print {
    button {
        display: none;
    }

    // .modal .modal-body {
    //     max-height: 100% !important;
    // }
}

a {
    color: #337ab7 !important;
    text-decoration: none;
}

.action-btn a:hover {
    text-decoration: underline;
}