
.icon-list {
    margin-bottom: 0;
}
.icon-list li {
    border: none !important;
    padding: 0 5px !important;
    cursor: pointer;
}
.profile-header-image, .profile-header-image img {
    width:75px;
    height:75px;
    /* background-image: url('/assets/images/ic_silhouette.png');
    background-size: cover; */
  }

.brd-lft:before {
    position: absolute;
    content: "";
    border-left: 5px solid #e0e8f8;
    display: block;
    height: 100%;
    left: -30px;
}
.brd-btm {
    border-bottom: 2px solid #1bc0d4;
}
.brd-top {
    border-top: 2px solid #1bc0d4;
}
.panel-theme>.card-header {
    min-height: 25px;
    background: #1bc0d4;
}
.panel-theme>.card-header>.card-title {
    font-weight: 600;
    font-size: 18px;
}
.media-person ul {
    float:left;
}
.media-person img.img-responsive {
    width: 68px;
}
.media-person ul li {
    font-size: 13px;
    font-weight: 500;
}
.media-person ul li span.list-data {
    width:45px;
    display: inline-block;
    margin-right: 5px;
}
.media-person ul li span.list-value {
    font-size: 13px;
    font-weight: 700;
}
.media-address {
    font-size: 13px;
}
.media-address h5, .media-related h5 {
    font-size: 13px;
}
ul.person-list {
    height: 235px;
    overflow: hidden;
    overflow-y: auto;
}
.person-list li {
    padding-top: 8px;
    color:#333;
    font-size: 13px;
    font-weight: 600;
}
.person-list li a {
    color:#177783;
    font-size: 13px;
    font-weight: 600;

}
.theme-dark {
    color:#177783;
    font-weight: 800 !important;
}
.theme-red {
    color:#ea7676 !important;
}
.fa-question {
    background: #00a2fd;
    width: 15px;
    border-radius: 50%;
    border: 1px solid #00a2fd;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.pos {
    position: relative;
}
.abs {
    position: absolute;
    width: 300px;
    height: 75px;
    background: #fff;
    z-index: 9;
    top: 5px;
    left: 20px;
}
.p-b-5 {
    padding-bottom: 5px;
}
.panel-theme {
    border-radius: 5px;
    margin-bottom: 0;
}
.panel-theme .panel-footer {
    border:none;
}
.card-body {
    padding: 5px;
}
.media-person {
    margin-top:5px;
}
.media-person h4 {
    margin-top: 0;
    font-weight: 600;
    color: #333 !important;
    font-size: 20px;
}
.z-9 {
    z-index: 9;
}
.btn-pri {
    background: #177783 !important;
    border-radius: 4px !important;
    border-color: #177783 !important;
}
option {
    padding:5px 0;
}