.table-theme .table tr td {
    text-align: left !important;
}

td.accordion-table {
    padding: 0 !important;
    box-shadow: 0px 4px 5px #e8e6e6f5;
}
.accordion-table .table tr th {
    background: #eaebec !important;
    padding: 10px 8px;
}
td.accordion-table .table>thead>tr>th:nth-child(1), td.accordion-table .table>tbody>tr>td:nth-child(1) {
    min-width: 100px;
    max-width: 100px;
}
td.accordion-table .table>thead>tr>th:nth-child(2), td.accordion-table .table>tbody>tr>td:nth-child(2) {
    min-width: 200px;
    max-width: 200px;
}
td.accordion-table .table>thead>tr>th:nth-child(3), td.accordion-table .table>tbody>tr>td:nth-child(3) {
    min-width: 500px;
    max-width: 500px;
}
td.accordion-table .table>thead>tr>th:nth-child(4), td.accordion-table .table>tbody>tr>td:nth-child(4) {
    min-width: 150px;
    max-width: 150px;
}
td.accordion-table .table>thead>tr>th:last-child, td.accordion-table .table>tbody>tr>td:last-child {
    min-width: 100px;
    max-width: 100px;
}
.table-responsive.petition-table {overflow-y:hidden;}