.legal-div, 
.parental-right-div {
	position: relative;
}

.plus-icon {
	font-size: 18px;
	line-height: 18px;
}

.disabledField {
    pointer-events: none;
    cursor: not-allowed;
}

.add-btn {
	position: absolute;
	top: 10px;
	right: 0px;
}

.icon {
	color: #039be5;
	cursor: pointer;
	i {
		color: #039be5;
		padding-right: 10px;
	}
}

.boder-btm {
	border-bottom: 2px solid #e0e8f8;
}

.semi-b {
	font-weight: 600;
}