<div class="modal fade in custom-modal" id="modal-view-entities" role="dialog">
    <div class="modal-dialog modal-dialog-w1050">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">{{entityData.agencyname}}</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="entityDetail">
                                <div class="col-md-4 col-xs-12 border-end">
                                    <h5 class="sub-title">Entity Category &amp; Type</h5>
                                    <ul class="entityinfo">
                                        <li>
                                            <span>Entity Category</span>
                                            <span> {{entityData.agencytypedesc}}</span>
                                        </li>
                                        <li>
                                            <span>Entity Type</span>
                                            <span> {{entityData.agencysubtype}}</span>
                                        </li>
                                        <li>
                                            <span>Entity Sub Type</span>
                                            <span> {{entityData.agencysubtypedesc}}</span>
                                        </li>
                                        <li>
                                            <span>Status</span>
                                            <span> {{entityData.status}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-xs-12 border-end">
                                    <h5 class="sub-title">Location</h5>
                                    <ul class="entityinfo">
                                        <li>
                                            <span>Street Address</span>
                                            <span> {{entityData.address}}</span>
                                        </li>
                                        <li>
                                            <span>City</span>
                                            <span> {{entityData.city}}</span>
                                        </li>
                                        <li>
                                            <span>ZIP Code</span>
                                            <span> {{entityData.zipcode}}</span>
                                        </li>
                                        <li>
                                            <span>County</span>
                                            <span> {{entityData.state}}</span>
                                        </li>
                                        <li>
                                            <span>Region</span>
                                            <span> {{entityData.regionid}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-xs-12" style="min-height: 215px;margin-top:15px;">
                                    <h5 class="sub-title">Services</h5>
                                    <ul class="entityinfo">
                                        <li>
                                            <span>Service</span>
                                            <span> {{entityData.serviceprovider}}</span>
                                        </li>
                                        <li>
                                            <span>Area Serviced</span>
                                            <span> {{entityData.areaserved}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>