.form-wrapper {
    margin: 10px;
    padding: 20px 20px 70px 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgray;

    .heading {
        text-align: center;
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .centerText {
        display: inline-block;
    }

    @media print {
        .hide-print {
          display: none;
        }
    }
    .tbl {
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;
    }

    .tbl tr {
        border: 1px solid #ccc;
    }

    .tbl th {
        padding: 10px;
        border: 1px solid #ccc;
    }

    .tbl td {
        border: 1px solid #ccc;
        padding: 10px;
    }

    .mt20 {
        margin-top: 20px;
    }

    .ml12 {
        margin-left: 12px;
    }

    .req-fields {
        color: red;
    }

    .section {
        border-top: 1px solid lightgray;
        padding-bottom: 25px;
    }

    .p20 {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    signature-field {
        position: relative;
        display: block;
        margin-bottom: 10px;
        background: #dddddd70;
        border: 1px solid #ddd;
    }
}

.disabledField {
    pointer-events: none;
    cursor: not-allowed;
}

.fw400 {
    font-weight: 400;
}
