<div class="form-wrapper">
    <div class="heading">
        <span class="centerText"> Quick Youth Indicators for Trafficking (QYIT)</span>
    </div>
    <form [formGroup]="assessmentyouthindicatorsForm" class="assessment-form">
        <table class="tbl" aria-describedby="assessment youthindicator form">
            <thead>
                <tr>
                    <th  scope="col" style="width:40%;">Child Name <span class="req-fields">*</span></th>
                    <th  scope="col" style="width:20%;">Age</th>
                    <th  scope="col" style="width:20%;">Client ID</th>
                </tr>
            </thead>
            <tbody>
                <td>
                    <mat-form-field class="col-md-12">
                        <mat-select formControlName="childname" (selectionChange)="onChildChange($event.value)">
                            <mat-option *ngFor="let val of childList" [value]="getFullName(val)">
                                {{getFullName(val)}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div
                        *ngIf="validateMandatoryFields('childname') && (assessmentyouthindicatorsForm.get('childname')?.touched || this.submitForApprovalClicked)">
                        <span class="req-fields">Please Select Child name </span>
                    </div>
                </td>
                <td>
                    <mat-form-field style="width: 100%;">
                        <input matInput type="text" autocomplete="off" formControlName="childage" />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="text" autocomplete="off" formControlName="childclientid" />
                    </mat-form-field>
                </td>
            </tbody>
        </table>

        <mat-checkbox formControlName="youthrefused" class="mt20" (change)="onYouthRefused()">
            youth refused to participate in the assessment
        </mat-checkbox>

        <div class="p20 section row" *ngIf="!assessmentyouthindicatorsForm.get('youthrefused')?.value">

            <div class="col-md-12">

                <div class="col-md-8 mt20">1. It is not uncommon for young people to stay in work situations that are
                    risky or
                    even dangerous, simply because they have no other options. Have you ever worked, or done other
                    things,
                    in a place that made you feel scared or unsafe?

                    <span class="req-fields">
                        *
                    </span>
                </div>
                <div class="col-md-4 mt20">
                    <mat-radio-group formControlName="q1" (change)="setValidator('q1skip', 'q1')">
                        <mat-radio-button value="Yes">Yes</mat-radio-button>
                        <mat-radio-button value="No">No</mat-radio-button>
                        <mat-radio-button value="Skip">Skip</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div *ngIf="validateMandatoryFields('q1') && (assessmentyouthindicatorsForm.get('q1')?.touched || this.submitForApprovalClicked)"
                    class="col-md-12">
                    <span class="req-fields">Please Select value </span>
                </div>
                <div class="col-md-12" *ngIf="assessmentyouthindicatorsForm.get('q1')?.value === 'Skip'">
                    <mat-form-field class="col-md-10" style="margin-top: 4px;">
                        <label class="fw400"> Reason For Skip <span class="req-fields">*</span> </label>
                        <textarea matInput formControlName="q1skip"></textarea>
                    </mat-form-field>
                    <div class="col-md-2"></div>
                    <div *ngIf="validateMandatoryFields('q1skip') && (assessmentyouthindicatorsForm.get('q1skip')?.touched || this.submitForApprovalClicked)"
                    class="col-md-12">
                    <span class="req-fields">Please Enter Reason For Skip </span>
                </div>
                </div>
                <div class="col-md-8 mt20">2. Sometimes people are prevented from leaving an unfair or unsafe work
                    situation by
                    their employers. Have you ever been afraid to leave or quit a work situation due to fears of
                    violence or
                    threats of harm to yourself or your family?

                    <span class="req-fields">
                        *
                    </span>
                </div>
                <div class="col-md-4 mt20">
                    <mat-radio-group formControlName="q2" (change)="setValidator('q2skip', 'q2')">
                        <mat-radio-button value="Yes">Yes</mat-radio-button>
                        <mat-radio-button value="No">No</mat-radio-button>
                        <mat-radio-button value="Skip">Skip</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div *ngIf="validateMandatoryFields('q2') && (assessmentyouthindicatorsForm.get('q2')?.touched || this.submitForApprovalClicked)"
                    class="col-md-12">
                    <span class="req-fields">Please Select value </span>
                </div>
                <div class="col-md-12" *ngIf="assessmentyouthindicatorsForm.get('q2')?.value === 'Skip'">
                    <mat-form-field class="col-md-10" style="margin-top: 4px;">
                        <label class="fw400"> Reason For Skip <span class="req-fields">*</span> </label>
                        <textarea matInput formControlName="q2skip"></textarea>
                    </mat-form-field>
                    <div class="col-md-2"></div>
                    <div *ngIf="validateMandatoryFields('q2skip') && (assessmentyouthindicatorsForm.get('q2skip')?.touched || this.submitForApprovalClicked)"
                    class="col-md-12">
                    <span class="req-fields">Please Enter Reason For Skip </span>
                </div>
                </div>
                <div class="col-md-8 mt20">3. Sometimes young people who are homeless or who have difficulties with
                    their
                    families have very few options to survive or fulfill their basic needs, such as food and shelter.
                    Have
                    you ever received anything in exchange for sex (e.g. a place to stay, gifts, or food)?

                    <span class="req-fields">
                        *
                    </span>
                </div>
                <div class="col-md-4 mt20">
                    <mat-radio-group formControlName="q3" (change)="setValidator('q3skip', 'q3')">
                        <mat-radio-button value="Yes">Yes</mat-radio-button>
                        <mat-radio-button value="No">No</mat-radio-button>
                        <mat-radio-button value="Skip">Skip</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div *ngIf="validateMandatoryFields('q3') && (assessmentyouthindicatorsForm.get('q3')?.touched || this.submitForApprovalClicked)"
                    class="col-md-12">
                    <span class="req-fields">Please Select Value </span>
                </div>
                <div class="col-md-12" *ngIf="assessmentyouthindicatorsForm.get('q3')?.value === 'Skip'">
                    <mat-form-field class="col-md-10" style="margin-top: 4px;">
                        <label class="fw400"> Reason For Skip <span class="req-fields">*</span> </label>
                        <textarea matInput formControlName="q3skip"></textarea>
                    </mat-form-field>
                    <div class="col-md-2"></div>
                    <div *ngIf="validateMandatoryFields('q3skip') && (assessmentyouthindicatorsForm.get('q3skip')?.touched || this.submitForApprovalClicked)"
                    class="col-md-12">
                    <span class="req-fields">Please Enter Reason For Skip </span>
                </div>
                </div>
                <div class="col-md-8 mt20">4. Sometimes employers don’t want people to know about the kind of work they
                    have
                    young employees doing. To protect themselves, they ask their employees to lie about the kind of work
                    they are involved in. Have you ever worked for someone who asked you to lie while speaking to others
                    about the work you do?

                    <span class="req-fields">
                        *
                    </span>
                </div>
                <div class="col-md-4 mt20">
                    <mat-radio-group formControlName="q4" (change)="setValidator('q4skip', 'q4')">
                        <mat-radio-button value="Yes">Yes</mat-radio-button>
                        <mat-radio-button value="No">No</mat-radio-button>
                        <mat-radio-button value="Skip">Skip</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div *ngIf="validateMandatoryFields('q4') && (assessmentyouthindicatorsForm.get('q4')?.touched || this.submitForApprovalClicked)"
                    class="col-md-12">
                    <span class="req-fields">Please Select Value </span>
                </div>
                <div class="col-md-12" *ngIf="assessmentyouthindicatorsForm.get('q4')?.value === 'Skip'">
                    <mat-form-field class="col-md-10" style="margin-top: 4px;">
                        <label class="fw400"> Reason For Skip <span class="req-fields">*</span> </label>
                        <textarea matInput formControlName="q4skip"></textarea>
                    </mat-form-field>
                    <div class="col-md-2"></div>
                    <div *ngIf="validateMandatoryFields('q4skip') && (assessmentyouthindicatorsForm.get('q4skip')?.touched || this.submitForApprovalClicked)"
                    class="col-md-12">
                    <span class="req-fields">Please Enter Reason For Skip </span>
                </div>
                </div>
            </div>
        </div>

        <div class="p20 section row" *ngIf="!assessmentyouthindicatorsForm.get('youthrefused')?.value">
            <div class="col-md-7 ml12"> As a result of the QYIT assessment, is a referral for additional services
                required? <span class="req-fields">*</span>
            </div>
            <div class="col-md-4">
                <mat-radio-group formControlName="additionalservicesrequired" (change)="onadditionalServiceChange()">
                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="validateMandatoryFields('additionalservicesrequired') && (assessmentyouthindicatorsForm.get('additionalservicesrequired')?.touched || this.submitForApprovalClicked)"
                class="col-md-12">
                <span class="req-fields">Please Select Value </span>
            </div>
            <div style="font-weight: 600;" class="col-md-11 ml12"
                *ngIf="assessmentyouthindicatorsForm.get('additionalservicesrequired')?.value === 'Yes'">Upload any
                applicable documents to the Documents tab.</div>
            <div class="col-md-12"
                *ngIf="assessmentyouthindicatorsForm.get('additionalservicesrequired')?.value === 'Yes'">
                <mat-form-field class="col-md-5">
                    <mat-select formControlName="regionalnavigator">
                        <mat-option value="RregionalNavigator"> The individual was referred to the
                            regional navigator </mat-option>
                        <mat-option value="ProviderOrService"> The individual was
                            referred to a provider or service other than the regional navigator </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="validateMandatoryFields('regionalnavigator') && (assessmentyouthindicatorsForm.get('regionalnavigator')?.touched || this.submitForApprovalClicked)"
                    class="col-md-12">
                    <span class="req-fields">Please Select Value </span>
                </div>
            </div>
            <div class="col-md-12" *ngIf="onRegionalNavigator">
                <mat-form-field class="col-md-10" style="margin-top: 4px;">
                    <label class="fw400"> Provider or Service <span class="req-fields">*</span> </label>
                    <textarea matInput formControlName="providerorservice"></textarea>
                </mat-form-field>
                <div class="col-md-2"></div>
                <div *ngIf="validateMandatoryFields('providerorservice') && (assessmentyouthindicatorsForm.get('providerorservice')?.touched || this.submitForApprovalClicked)"
                    class="col-md-12">
                    <span class="req-fields">Please Enter Provider or Service </span>
                </div>
            </div>
        </div>
        <div class="p20 section row">
            <div class="row">
                <mat-form-field class="col-md-4">
                    <label class="fw400">Workers Name</label>
                    <input matInput type="text" autocomplete="off" formControlName="workersname" />
                </mat-form-field>
                <mat-form-field class="col-md-4">
                    <label class="fw400">Supervisor Name</label>
                    <mat-select formControlName="reroutesupervisor" (selectionChange)="changeSupervisor($event.value)">
                        <mat-option *ngFor="let item of routingSupervisors" [value]="item.userid"> {{item.username}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="col-md-4">
                   
                    <mat-form-field>
                        <label class="fw400"> Assessment completion date <span class="req-fields">*</span></label>
                        <input matInput required [owlDateTime]="picker13" formControlName="completiondate" id="com-date" autocomplete="off" placeholder="" (click)="openPicker('picker13')" [max]="currentdatetime" (dateTimeChange)="onPickerClosed($event, 'completiondate')">
                        <owl-date-time #picker13 [hour12Timer]="true"></owl-date-time>
                        <em [owlDateTimeTrigger]="picker13" class="fa fa-calendar calendar-icon" aria-hidden="true" style="top:25px"></em>
                    </mat-form-field>
                    <div *ngIf="validateMandatoryFields('completiondate') && (assessmentyouthindicatorsForm.get('completiondate')?.touched || this.submitForApprovalClicked)"
                        class="col-md-12">
                        <span class="req-fields">Please Select Assessment completion date </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div *ngIf="!caseworkersignature">
                            <signature-field formControlName="caseworkersignature"
                                [ngClass]="{'disabledField': isSupervisor}"> </signature-field>
                        </div>
                        <div class="signatureimg" *ngIf="caseworkersignature">
                            <a class="close" *ngIf="!isReadOnly && !isSupervisor"
                                (click)="resetSignature('caseworker')">X</a>
                            <img src="{{assessmentyouthindicatorsForm.value?.caseworkersignature}}"
                                alt="Case Worker Signature" />
                        </div>
                        <p> Case Worker Signature </p>
                       
                        <mat-form-field>
                            <label class="fw400"> Case Worker Signature date </label>
                            <input matInput required [owlDateTime]="picker12" formControlName="caseworkersignaturedate" id="com-date" autocomplete="off" placeholder="" (click)="openPicker('picker12')" [max]="currentdatetime" (dateTimeChange)="onPickerClosed($event, 'caseworkersignaturedate')">
                            <owl-date-time #picker12 [hour12Timer]="true"></owl-date-time>
                            <em [owlDateTimeTrigger]="picker12" class="fa fa-calendar calendar-icon" aria-hidden="true" style="top:25px"></em>
                        </mat-form-field>
                        <mat-form-field>
                            <label class="fw400">Case Worker Comments </label>
                            <textarea matInput formControlName="caseWorkercomments"></textarea>
                        </mat-form-field>

                    </div>
                    <div class="col-md-4">
                        <div *ngIf="!supervisorsignature">
                            <signature-field formControlName="supervisorsignature"
                                [ngClass]="{'disabledField': !isSupervisor}">
                            </signature-field>
                        </div>
                        <div
                            *ngIf="validateMandatoryFields('supervisorsignature') && (assessmentyouthindicatorsForm.get('supervisorsignature')?.touched || this.submitForApprovalClicked)">
                            <span class="req-fields"> Supervisor Signature Required </span>
                        </div>
                        <div class="signatureimg" *ngIf="supervisorsignature">
                            <a class="close" *ngIf="!isReadOnly && isSupervisor"
                                (click)="resetSignature('supervisor')">X</a>
                            <img src="{{assessmentyouthindicatorsForm.value?.supervisorsignature}}"
                                alt="Supervisor Signature" />
                        </div>
                        <p> Supervisor Signature </p>
                       

                        <mat-form-field>
                            <label class="fw400"> Supervisor Signature date </label>
                            <input matInput required [owlDateTime]="picker11" formControlName="supervisorsignaturedate" id="sup-sig-date" autocomplete="off" placeholder="" (click)="openPicker('picker11')" [max]="currentdatetime" (dateTimeChange)="onPickerClosed($event, 'supervisorsignaturedate')">
                            <owl-date-time #picker11 [hour12Timer]="true"></owl-date-time>
                            <em [owlDateTimeTrigger]="picker11" class="fa fa-calendar calendar-icon" aria-hidden="true" style="top:25px"></em>
                        </mat-form-field>
                        <div
                            *ngIf="validateMandatoryFields('supervisorsignaturedate') && (assessmentyouthindicatorsForm.get('supervisorsignaturedate')?.touched || this.submitForApprovalClicked)">
                            <span class="req-fields"> Supervisor Signature Date Required </span>
                        </div>
                        <mat-form-field>
                            <label class="fw400">Supervisor Comments </label>
                            <textarea matInput formControlName="supervisorcomments"></textarea>
                        </mat-form-field>
                        <div
                            *ngIf="validateMandatoryFields('supervisorcomments') && (assessmentyouthindicatorsForm.get('supervisorcomments')?.touched || this.submitForApprovalClicked)">
                            <span class="req-fields"> Supervisor Comments Required </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="isSupervisor">
            <div class="col-md-2">
                <label>Assessment Status <span class="req-fields">*</span></label>
            </div>
            <div class="col-md-8">
                <mat-radio-group formControlName="assessmentstatus" class="radio-mar">
                    <mat-radio-button value="Accepted">Accepted</mat-radio-button>
                    <mat-radio-button value="Rejected">Rejected</mat-radio-button><br />
                </mat-radio-group>
            </div>
            <div *ngIf="validateMandatoryFields('assessmentstatus') && (assessmentyouthindicatorsForm.get('assessmentstatus')?.touched || this.submitForApprovalClicked)"
                class="row">
                <span class="req-fields"> Assessment Status Required </span>
            </div>
        </div>
        <div class="row text-end">
            <div class="col-md-6"></div>
            <div class="col-md-6">
            <button class="btn-pri hide-print" *ngIf="!isSupervisor" (click)="saveAsDraft()" [disabled]="isReadOnly">SAVE AS
                DRAFT</button>
            <button class="btn-pri hide-print" type="submit" (click)="onApproval()" [disabled]="isReadOnly">
                <span *ngIf="!isSupervisor">SEND FOR APPROVAL</span>
                <span *ngIf="isSupervisor">Submission</span>
            </button>
            </div>
        </div>
    </form>
</div>

<div class="modal fade custom-modal" id="confirm-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p> Before submitting for approval, ensure that applicable referrals have been completed. </p>

                <div class="text-right big-bot-space right-mspace-15" style="margin-top: 30px;">
                    <button type="button" class="btn-bg" (click)="onClose()"> Save & Exit </button>
                    <button type="button" class="btn-pri" (click)="submitForApproval()"> Continue </button>
                </div>
            </div>
        </div>
    </div>
</div>
