// .day-count-main {
//     width: 150px;
//     margin: 0 auto;
// }

.section2 {
    padding: 5px 0 0;
}

.groupid-section {
    padding: 10px;
    background: #19a7b8;
    color: #fff;
    margin-top: 1px;
}

.groupid-section p {
    margin: 0;
}

.groupid-section p span {
    margin-left: 20px;
}

.sec4-details .row {
    padding: 2px 0;
}

.sec4-details .left-sec {
    // padding: 0 8px;
    width: 36%;
    float: left;
    // display: inline-block;
    // vertical-align: top;
}
.sec4-details .left-sec-ro {
    width: 39%;
    float: left;
}

.sec4-details .right-sec {
    // padding: 0 8px;
    width: 55%;
    float: left;
    // display: inline-block;
}

.family-cont .left-sec {
    width: 41%;
}

.family-cont .right-sec {
    width: 49%;
}

.family-cont h5 {
    color: #fff;
}

#cw-profile-section {
    position: relative;
    width: 100%;
    z-index: 98;
    height: auto;
    top: 0;
    line-height: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cw-content-wrapper {
    margin-top: 200px;
}

.request-case,
.view-case {
    padding: 5px;
}
.request-case a,
.view-case a {
    color: #fff;
    font-size: 12px;
    background: #126b75;
    margin: 5px;
}

.view-case div {
    padding: 1em;
}

.request-case a:hover,
.view-case a:hover {
    background-color: #556080;
    border: 5px solid #1bc0d4;
    margin: 0px;
}

.pl-30 {
    padding-left: 30px;

    &.unstyled {
        padding-left: 30px;
    }
}

.cursor {
    cursor: pointer;
}

.restricted-item-bar {
    padding: 2px 10px;
    border-radius: 25px;
    color: white;
    font-size: 13px;
    background: red;
    align-items: center;
    justify-content: space-around;
}

.unrestricted-item-bar {
    padding: 2px 5px;
    border-radius: 3px;
    color: #19a7b8;
    font-size: 13px;
    background: white;
    border: 0px solid #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    cursor: pointer;
    margin-left: 2px;
    font-weight: 600;
    display: inline-block;
    min-width: 100px;
    text-align: center;
}

.button-row {
    // display: flex;
    align-items: center;
    justify-content: space-around;
}

.service-btn,
.yellow-btn,
.green-btn,
.red-btn {
    outline: none;
    border: none;
    background: none;
}

.yellow-btn i::before {
    color: #e49e1d;
    font-size: 14px;
}

.green-btn i::before {
    color: #4caf50;
    font-size: 14px;
}

.red-btn i::before {
    color: #ff0000;
    font-size: 14px;
}

.yellow-btn em::before {
    color: #e49e1d;
    font-size: 14px;
}

.green-btn em::before {
    color: #4caf50;
    font-size: 14px;
}

.red-btn em::before {
    color: #ff0000;
    font-size: 14px;
}

.cls-mb-5 {
    position: relative;

    &::after {
        position: absolute;
        display: block;
        content: "";
        border-right: 1px solid #007988;
        top: -10px;
        bottom: 0px;
        right: 0px;
        min-height: 110px;
    }
    p {
        margin-bottom: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        .right-sec {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.v-top {
    vertical-align: top;
}

@media (min-width: 500px) and (max-width: 1024px) {
    #cw-profile-section {
        font-size: 12px;
        position: static;
        height: auto;
        margin-top: -10px;
    }
    .go,
    .unrestricted-item-bar {
        font-size: 11px;
    }
    .cw-content-wrapper {
        margin-top: 30px;
    }
}

@media (min-width: 1025px) {
    #cw-profile-section {
        font-size: 12px;
        position: static;
        margin-top: -10px;
    }
    .go,
    .unrestricted-item-bar {
        font-size: 11px;
    }
    .cw-content-wrapper {
        margin-top: 0px;
    }
}

@media (min-width: 1181px) and (max-width: 1250px) {
    #cw-profile-section {
        font-size: 12px;
        position: static;
        margin-top: 90px;
    }
    .go,
    .unrestricted-item-bar {
        font-size: 11px;
    }
    .cw-content-wrapper {
        margin-top: 0px;
    }
}

@media (min-width: 1250px) {
    #cw-profile-section {
        font-size: 12px;
        position: static;
        // margin-top: 50px;
    }
    .go,
    .unrestricted-item-bar {
        font-size: 11px;
    }
    .cw-content-wrapper {
        margin-top: 0px;
    }
}

button[disabled]:hover,
button[disabled] {
    border: 0;
    padding: 0;
    background: transparent;
}

@media print {
    #cw-profile-section {
        display: none;
    }

    .cw-content-wrapper {
        margin-top: 0px;
    }

    .box-grid-main {
        border: none;
        padding: 0px;
        margin: 0px;
    }
}
span.right-sec.disposition {
    margin-left: 37px;
}
span.right-sec.assigned-by {
    cursor: pointer;
    text-decoration: underline;
}
.clshistorytable td,
.clshistorytable th {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}
.btn-overdue {
    background: #f999a9;
    border: 1px solid #00a2fd;
    color: #fff;
    font-weight: bold;
}
/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
#overdue-Popup {
    .modal-header {
        color: #fff;
        background-color: #00a2fd;
    }
    h4.modal-title {
        color: #fff !important;
    }
    .required::after {
        content: "*";
        color: #ff0000;
        right: 0;
        position: absolute;
        font-size: 20px;
    }
    mat-select {
        border: 1px solid #d3d3d3;
        padding: 5px;
    }
}

#caseworkersenuntimelyPopup .modal-dialog {
    max-height: 80vh; /* or 70vh depending on your preference */
}

#caseworkersenuntimelyPopup .modal-body {
    max-height: calc(80vh - 120px); /* subtract header + footer height */
    overflow-y: auto;
}

.multiline-select {
    ::ng-deep .mat-mdc-select-value-text {
        display: block !important;
        white-space: normal !important;
        line-height: 1.4 !important; 
    }
    ::ng-deep .mat-mdc-form-field-infix {
        height: auto !important;
        min-height: 64px !important; 
        padding-top: 28px !important; 
        padding-bottom: 12px !important; 
    }
    ::ng-deep .mat-mdc-select-trigger {
        display: flex !important;
        align-items: center !important;
    }
    ::ng-deep .mat-mdc-form-field-label-wrapper {
    top: -4px !important;
    }
}

.clsreasoninput {
    label {
        display: block;
        margin: 5px 0 0 20px;
    }
    input {
        border: 1px solid #514848 !important;
        margin: 5px 0 0 20px;
        padding: 5px 10px;
        width: 50%;
        height: 35px;
    }
}

.responsertimerisgreater {
    background: #f999a9 !important;
}

// For top ribbon
.container {
    display: flex;
    background: #ffc;
    height: 127px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.child-div-1 {
    background: #000;
    margin-left: 20px;
    height: 100%;
    width: 33vh;
    position: relative;
}
.child-div-1 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.child-div-2 {
    background: #ee6;
    margin-left: 20px;
    height: 100%;
    width: 20vh;
    position: relative;
}
.child-div-2 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

.child-div-3 {
    background: #fdd;
    margin-left: 20px;
    height: 100%;
    width: 20vh;
    position: relative;
}
.child-div-3 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: brown;
}

// =============================== Header Profile Section =========================================

.sectionContainer {
    width: 100%;
    max-width: 100%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}



.sectionBlock {
    width: calc(20% - 20px);
    box-sizing: border-box;
    flex-grow: 1;
    border-right: 1px solid #007988;
    padding: 15px 10px 5px 10px;
    white-space: nowrap;
}

.sectionBlock:last-child {
    width: 80px;
    margin-left: auto;
    border-right: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.sectionBlock p {
    margin: 0 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.day-count-span {
    display: block;
}

.response-timer {
    white-space: pre-line;
    display: inline-block;
}

@media (max-width: 1200px)
 {
    .sectionBlock {
        width: calc(25% - 20px);
    }
}

@media (max-width: 1024) 
 {
    .cw-content-wrapper {
        margin-top: 50px;
    }
}

@media (max-width: 992px) 
{
    .sectionBlock {
        width: calc(33.333% - 20px);
    }

    .cw-content-wrapper {
        margin-top: 50px;
    }
}

@media (max-width: 768px)
 {
    .sectionBlock {
        // width: calc(50% - 20px);
        width: calc(33.333% - 20px);
    }
}

@media (max-width: 576px)
 {
    .sectionBlock {
        width: 100%;
        border-bottom: 1px solid #007988;
        border-right: none;
        padding: 10px 0px 10px 0px;
    }

    .cw-content-wrapper {
        margin-top: 0px;
    }

    .sectionBlock:last-child {
        border-bottom: none;
    }

    .table-responsive {
        overflow: scroll;
    }
}

 /* iPad Pro 10.5 inch in landscape mode */
 @media only screen and (min-device-width: 1024px) 
 and (max-device-width: 1112px) 
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: landscape) {
     #cw-profile-section  {
     padding-top: 20px;
     }
 }

 .rst-title{
     padding-left: 10px;
 }

.d-flex {
    gap: 10px !important;
    align-items: center !important;
}
.modal-dialog{
    margin-bottom: 55px;
}
 ::ng-deep .select-supervisor {
     .mat-mdc-form-field-infix {
         padding-top: 14px !important;
     }
 }

 .table > :not(caption) > * > * {
    background-color: transparent;
 }

 .response-timer span {
     display: inline-block;
     max-width: 200px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
 }
 
.senUntimely {
    line-height: 2em;
    p{
        margin: 0;
    }
    .reason {
        padding: 0 25px;
    }
    .children{
        margin-top: 10px;
    }
}

.mat-mdc-checkbox{
  --mdc-checkbox-disabled-selected-icon-color:#00a2fd !important;
}
