.header-title {
    margin-bottom: 3px !important;
}

.casecompleted {
    background: #fafafa !important;
}

.caseclosed {
    background: #d9edf6 !important;
}
.perform-table img {
    border-radius: 50%;
}

/*Dashboard css starts*/
.dashboard-wrap {
    padding: 15px 0px;
}

.dashboard-inner {
    position: relative;
    margin-top: 15px;
    min-height: 500px;
    width: 100%;
}
.c-speed {
    float: right;
    width: 50%;
    margin-top: 22px;
    padding: 0 5px;
}

.c-speed h6 {
    font-size: 11px;
    color: #999;
    margin-top: 0;
}

.c-speed h4 {
    font-size: 21px;
    color: #61646e;
    margin: 0;
    font-weight: 600;
    line-height: 22px;
}

.p-info {
    clear: both;
    text-align: center;
    border-top: 1px solid #f8f8f8;
    padding: 5px 0;
    margin: 0 5px;
    overflow: hidden;
}

.p-info p {
    margin: 0;
    font-size: 11px;
    color: #999;
}

.p-info p span {
    color: #f00;
}

.g-cost p span {
    color: #7c7777;
}

.a.t-btn {
    font-size: 11px;
    color: #ccc;
    padding: 5px 15px;
    background: #fff;
    line-height: normal;
}

.perform-table th {
    font-size: 13px;
    font-weight: 600;
    color: #737373;
    padding: 10px 7px 5px;
    border-bottom: 1px solid #17c4c0;
}

.perform-table td {
    font-size: 13px;
    color: #383838;
    padding: 10px;
}

.perform-table tr:nth-child(odd) td {
    background: #f7f7f7;
}

.w3-light-grey,
.w3-hover-light-grey:hover,
.w3-light-gray,
.w3-hover-light-gray:hover {
    color: #000 !important;
    background-color: #d1eff4 !important;
    border-radius: 4px;
}

.w3-green,
.w3-hover-green:hover {
    color: #fff !important;
    background-color: #1bb4c3 !important;
    border-radius: 4px;
}

.col-box h5 {
    font-size: 15px;
    color: #19a7b8;
}

.col-box h2 {
    margin: 0;
}

.col-box h2 span {
    font-size: 12px;
    color: #999;
}

.col-box td a {
    color: #00A2FD;
}

.col-box td img {
    display: inline-block;
    margin-right: 10px;
}

.intro {
    font-size: 11px;
    color: #ffffff !important;
    padding: 5px 15px;
    background: #00A2FD;
    line-height: normal;
    border-radius: 15px;
}
.team a {
    cursor: pointer;
}
.team a:hover {
    text-decoration: none;
}

/*Dashboard css ends*/

.doc .drop-container {
    background: #fff;
    border-radius: 6px;
    height: 150px;
    width: 100%;
    box-shadow: 1px 2px 20px hsla(0, 0%, 4%, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #c0c4c7;
}
.doc .drop-container p {
    font-size: 16px;
    font-weight: 400;
    color: #c0c4c7;
}
.doc .drop-container p .upload-button {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    color: #5754a3;
}
.doc .drop-container p .upload-button input {
    display: none;
}
.btn-pri{min-width: 85px;}
