.inner-addon {
    position: relative;
}

.inner-addon i {
    position: absolute;
    padding: 10px;
    /*pointer-events: none;*/
    /*remove this property*/
}

.left-addon in {
    left: 0px;
}

.right-addon i {
    right: 10px;
    cursor: pointer !important;
    z-index: 999;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}
.panel-footer h5 {
    display: inline-block;
    width: 70%;
}
.panel-footer div > a {
    font-size: 20px;
    margin-right: 5px;
}
span.categori-name {
    font-size: 12px;
    margin-right: 15px;
    border: 1px solid #0277bd;
    padding: 5px 15px;
    border-radius: 20px;
}
.attachment-panel .card-body dl dt,
.entities-panel .card-body dl dd {
    font-weight: 600;
    color: #676767;
    font-size: 12px;
    text-transform: uppercase;
}
.attachment-panel .card-body dl {
    margin-bottom: 5px;
}
.attachment-panel .card-body dl dd {
    font-size: 11px;
}

.common-modal .modal-body img {
    float: none;
}
.modal-dialog.modal-dialog-w1050 {
    width: 900px;
}
.audio-control a {
    max-width: 87%;
    position: absolute;
    bottom: 33px;
}
.audio-control audio {
    max-width: 97%;
}
.audio-control .glyphicon-music {
    position: absolute;
    left: 42%;
    top: 25%;
    font-size: 35px;
}
.attach-wrap {
    height: 190px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 25px;
    text-align: center;
}
.img-responsive {
    max-height: 100%;
}
.attach-wrap img {
    max-height: 85%;
    display: inline-block;
}

#Attachments {
    max-width: 1800px;
    margin: 15px auto;
}
#Attachments .attach-lists {
    width: 300px;
    display: inline-block;
}
.attach-wrap.audio-control {
    text-align: left;
}
.attach-wrap.audio-control p {
    position: initial;
}
.icon-btn i.fa {
    font-size: 22px;
    padding-right: 10px;
    vertical-align: sub;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    #Attachments .attach-lists {
        width: 260px;
    }
    .attach-wrap {
        height: 155px;
    }
    .attach-wrap a {
        max-height: 100%;
    }
}

.document-search .input-group {
    max-width: 400px;
    float: left;
}
.document-search .input-group input {
    border: 1px solid #00a2fd !important;
    border-radius: 3px;
    padding: 5px;
    height: 34px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group input::placeholder {
    font-size: 12px;
}
.document-search button.btn.btn-pri {
    font-size: 13px;
    padding: 8px;
    font-weight: 500;
    min-width: 75px;
}

.table {
    table-layout: fixed;
}
.custom-table > thead {
    background: #a8b9d2;
}
.custom-table > thead > tr > th {
    padding: 15px 8px;
    border: none;
    color: #24292e;
    font-weight: 600;
    vertical-align: middle;
}
.custom-table > tbody > tr {
    border-bottom: 1px solid #dddddd;
}
.custom-table > tbody > tr > td {
    padding: 0;
}
// .custom-innertable>thead>tr>th {padding:0;color: #24292e;font-weight: 600;font-size: 13px;border:0;}
.custom-tbody > tr.bg-active {
    background: #e8f0fa; /*border-left: 10px solid #00A2FD;*/
}
.table.custom-innertable {
    background-color: transparent;
}
.table.custom-innertable > thead > tr > th {
    border: none;
    vertical-align: middle;
    padding: 15px 8px;
    text-transform: capitalize;
    color: #24292e;
    font-weight: 600;
    font-size: 13px;
}
.table.custom-innertable > tbody > tr > td {
    padding: 15px 8px;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
}
.table.custom-innertable > tbody > tr {
    border-bottom: 1px solid #fff;
}
.table.custom-innertable > tbody > tr:last-child {
    border-bottom: none;
}
// .table.custom-innertable>tbody {background:#e0e8f8;}
.table.custom-innertable > thead {
    background: #e0e8f8;
}
.p-t-10 {
    padding-top: 10px !important;
}
.w-700 {
    width: 700px;
}
.f-w-500 {
    font-weight: 500;
}
.f-w-600 {
    font-weight: 600;
}

.table.custom-table.upload-table > thead > tr > th:nth-child(1) {
    width: 200px;
    max-width: 200px;
}
.table.custom-table.upload-table > thead > tr > th:nth-child(2) {
    width: 150px;
    max-width: 150px;
}
.table.custom-table.upload-table > thead > tr > th:nth-child(3) {
    width: 200px;
    max-width: 200px;
}
.table.custom-table.upload-table > thead > tr > th:nth-child(4) {
    width: 200px;
    max-width: 200px;
}
.table.custom-table.upload-table > thead > tr > th:nth-child(5) {
    width: 200px;
    max-width: 200px;
}
.table.custom-table.upload-table > thead > tr > th:nth-child(6) {
    width: 300px;
    max-width: 300px;
    text-align: center;
}

.table.custom-innertable.upload-table > thead > tr > th:nth-child(1) {
    width: 200px;
    max-width: 200px;
}
.table.custom-innertable.upload-table > thead > tr > th:nth-child(2) {
    width: 150px;
    max-width: 150px;
}
.table.custom-innertable.upload-table > thead > tr > th:nth-child(3) {
    width: 200px;
    max-width: 200px;
}
.table.custom-innertable.upload-table > thead > tr > th:nth-child(4) {
    width: 200px;
    max-width: 200px;
}
.table.custom-innertable.upload-table > thead > tr > th:nth-child(5) {
    width: 200px;
    max-width: 200px;
}
.table.custom-innertable.upload-table > thead > tr > th:nth-child(6) {
    width: 300px;
    max-width: 300px;
    text-align: center;
}

.action-icons.m-r li {
    margin-right: 5px !important;
}

.table.custom-table > thead > tr > th:nth-child(1) {
    width: 50px;
    max-width: 50px;
}
.table.custom-table > thead > tr > th:nth-child(2) {
    width: 350px;
    max-width: 350px;
}
.table.custom-table > thead > tr > th:nth-child(3) {
    width: 190px;
    max-width: 190px;
}
.table.custom-table > thead > tr > th:nth-child(4) {
    width: 250px;
    max-width: 250px;
}
.table.custom-table > thead > tr > th:nth-child(5) {
    width: 400px;
    max-width: 400px;
}

.custom-tbody > tr > td:nth-child(1) {
    width: 50px;
    max-width: 50px;
}
.custom-tbody > tr > td:nth-child(2) {
    width: 350px;
    max-width: 350px;
}
.custom-tbody > tr > td:nth-child(3) {
    width: 190px;
    max-width: 190px;
}
.custom-tbody > tr > td:nth-child(4) {
    width: 250px;
    max-width: 250px;
}
.custom-tbody > tr > td:nth-child(5) {
    width: 400px;
    max-width: 400px;
}

.table.custom-innertable > thead > tr > th:nth-child(1) {
    width: 30px;
    max-width: 30px;
}
.table.custom-innertable > tbody > tr > td:nth-child(1) {
    width: 30px;
    max-width: 30px;
}
.table.custom-innertable > thead > tr > th:nth-child(2) {
    width: 200px;
    max-width: 200px;
}
.table.custom-innertable > thead > tr > th:nth-child(3) {
    width: 110px;
    max-width: 110px;
}
.table.custom-innertable > thead > tr > th:nth-child(4) {
    width: 150px;
    max-width: 150px;
}
.table.custom-innertable > thead > tr > th:nth-child(5) {
    width: 220px;
    max-width: 220px;
}

.p-t-b-100 {
    padding: 100px 0;
}
.action-icons {
    margin-bottom: 0;
}
.action-icons li {
    margin-right: 15px;
}
.action-icons li a {
    font-weight: 600;
    color: #00a2fd;
}
.action-icons li a i {
    font-size: 16px;
    margin-right: 8px;
}
.btn-pri-s {
    font-weight: 500;
    font-size: 13px;
}
.fa-chevron-down {
    color: #9a9999;
    font-weight: 500;
    font-size: 12px !important;
}
.a-btn {
    background: #00a2fd;
    color: #fff !important;
    font-size: 13px;
    font-weight: 600;
    border-radius: 2px;
    padding: 4px 10px;
}
.table th {
    text-transform: uppercase;
}

.attachment-panel.panel-default > .card-header {
    height: 55px;
}

.btn-action {
    outline: none;
    background: none;
    color: #00a2fd;
    border: none;
}

.attach-tb tr td {
    word-break: break-word;

    &:first-child {
        word-break: break-all;
    }
}

.header-title {
    margin: 0px;
    padding: 5px;
    min-width: 80px;
    display: inline-block;
    text-align: center;
}

ul.removedot {
    list-style: none;
    padding: 26px;
}

.wrapper-main {
    border: 1px solid #cccccc;
    padding: 0px 15px 15px;
}

.affidavit-header {
    padding: 0px 10px 10px 10px;
    border: 1px solid #cfcfcf;
    background: #aebed6;
}
.text-align {
    text-align: left;
}

::ng-deep .table-responsive {
    width: 100%;
    overflow-x: scroll;
}

::ng-deep .table {
    table-layout: auto !important;
}

.form-letter-tab{
    margin: 0px !important;
}

.disabledField {
    pointer-events: none;
    cursor: not-allowed;
}

.rm-margin-right {
    margin-right: unset !important;
}