
<div class="row">
  <div class="col-sm-6" [formGroup]="employerForm"> 
          <mat-accordion>
                  <mat-expansion-panel>
                      <mat-expansion-panel-header>
                          <mat-panel-title>
                              <span id="schoolAcdn">Employer Details</span>
                          </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="contentAccordion">
                          <div class="row">
                              <div class="col-sm-7">
                                      <mat-form-field>
                                        <mat-label>Name of Employer</mat-label>
                                          <input type="text"  formControlName="employername" matInput placeholder="" value="">
                                      </mat-form-field>
                              </div>
                          </div>
                          <mat-form-field>
                            <mat-label>Number of working hours per week</mat-label>
                              <input type="text"  matInput formControlName="noofhours" placeholder="" value="" mask="00:00">
                              <mat-error *ngIf="employerForm.controls['noofhours'].invalid">Please enter valid hours.</mat-error>
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Duties</mat-label>
                              <input type="text"  matInput formControlName="duties" placeholder="" value="">
                          </mat-form-field>
                          <div class="row">
                                  <div class="col-sm-6">
                                      <mat-form-field>
                                        <mat-label>Start Date</mat-label>
                                          <input type="text"  (change)="dateChanged()"  matInput formControlName="startdate" autocomplete="off" [matDatepicker]="picker" placeholder="">
                                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                          <mat-datepicker #picker></mat-datepicker>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-sm-6">
                                      <mat-form-field>
                                        <mat-label>End Date</mat-label>
                                          <input type="text"  matInput   formControlName="enddate" autocomplete="off" [matDatepicker]="picker1"
                                              placeholder="">
                                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                          <mat-datepicker #picker1></mat-datepicker>
                                      </mat-form-field>
                                  </div>
                              </div>
                              <mat-form-field>
                                <mat-label>Reason for leaving</mat-label>
                                  <textarea matInput  formControlName="reasonforleaving" placeholder=""></textarea>
                              </mat-form-field>
                      </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                          <mat-expansion-panel-header>
                              <mat-panel-title>
                                  <span id="schoolAcdn">Employer address</span>
                              </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div class="row">
                                  <div class="col-sm-12">
                                      <mat-form-field>
                                        <mat-label>Address Type</mat-label>
                                          <mat-select placeholder="" formControlName="addresstype"
                                              id="addressTypeLabel" (selectionChange)="changeAddressType($event)"
                                              required>
                                              <mat-option
                                                  *ngFor="let item of (this.addresstypeDropdownItems$ | async)"
                                                  value="{{item.value}}-{{item.text}}">{{ item.text }}
                                              </mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-12">
                                      <div class="cont-field">
                                          <mat-form-field> 
                                            <mat-label>Address Line 1</mat-label>
                                            <input type="text" matInput
                                                  placeholder="" formControlName="address1" [matAutocomplete]="auto" (input)="getSuggestedAddress()" 
                                                   /> 
                                              <mat-autocomplete #auto="matAutocomplete">
                                                    <mat-option *ngFor="let item of suggestedAddress$ | async" (click)="selectedAddress(item)"
                                                        value="{{item.text}}">
                                                        {{item.text}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                          </mat-form-field>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-6">
                                      <mat-form-field>
                                        <mat-label>Address Line 2</mat-label>
                                          <input type="text" matInput placeholder=""
                                              formControlName="Address2" />
                                          <!-- DJS-009 : Removed 'required' - Address line 2 should not be a mandatory field -->
                                      </mat-form-field>
                                  </div>
                                  <div class="col-sm-6">
                                      <mat-form-field>
                                        <mat-label>City</mat-label>
                                         <input type="text" matInput formControlName="city"
                                              placeholder="" required /> </mat-form-field>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-4">
                                      <mat-form-field>
                                        <mat-label>State</mat-label>
                                          <mat-select placeholder="" formControlName="state" required
                                              [(ngModel)]="selectedState">
                                              <mat-option
                                                  *ngFor="let item of (this.stateDropdownItems$ | async)"
                                                  value="{{item.value}}">{{ item.text }}</mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-sm-4">
                                      <mat-form-field>
                                        <mat-label>Zip Code</mat-label>
                                          <input type="text" matInput placeholder=""
                                              formControlName="zipcode" zipcodeOnly required maxlength="5"
                                              minlength="5" />
                                      </mat-form-field>
                                  </div>
                                  <div class="col-sm-4">
                                      <mat-form-field>
                                        <mat-label>County</mat-label>
                                          <mat-select required formControlName="county" placeholder="">
                                              <mat-option *ngFor="let item of countyDropDownItems$ | async"
                                                  value="{{item.value}}">{{item.text}}</mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                  </div>
                              </div>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                              <mat-expansion-panel-header>
                                  <mat-panel-title>
                                      <span id="schoolAcdn">Employer contact Information 
                                          </span>
                                  </mat-panel-title>
                              </mat-expansion-panel-header>
                              <div class="row">
                                      <div class="col-sm-9">
                                          <mat-form-field>
                                            <mat-label>Contact Type</mat-label>
                                              <mat-select placeholder=""
                                                  formControlName="contacttype" required>
                                                  <mat-option
                                                      *ngFor="let phone of (phoneTypeDropdownItems$ | async)"
                                                      value="{{phone.value}}">{{ phone.text }}</mat-option>
                                              </mat-select>
                                          </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="row">
                                          <div class="col-sm-9">
                                              <mat-form-field>
                                                <mat-label>Phone No</mat-label>
                                                  <input type="text" matInput formControlName="contactnumber"
                                                      mask="(000) 000-0000" matInput placeholder=""
                                                      required />
                                              </mat-form-field>
                                          </div>
                                  </div>
                                  <div class="row">
                                          <div class="col-sm-9">
                                              <mat-form-field>
                                                <mat-label>Extn</mat-label>
                                                  <input type="text" matInput formControlName="extension"
                                                       matInput placeholder=""
                                                       />
                                              </mat-form-field>
                                          </div>
                                  </div>
                                  <div class="row">
                                          <div class="col-sm-9">
                                              <mat-form-field>
                                                <mat-label>Fax</mat-label>
                                                  <input type="text" matInput formControlName="fax"
                                                       matInput placeholder=""
                                                       />
                                              </mat-form-field>
                                          </div>
                                  </div>
                                  <div class="row">
                                          <div class="col-sm-9">
                                              <mat-form-field>
                                                <mat-label>Email Type</mat-label>
                                                  <mat-select placeholder=""
                                                      formControlName="EmailType">
                                                      <mat-option
                                                          *ngFor="let mail of (emailTypeDropdownItems$ | async)"
                                                          value="{{mail.value}}">{{ mail.text }}</mat-option>
                                                  </mat-select>
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-sm-9">
                                              <mat-form-field>
                                                <mat-label>Email ID</mat-label>
                                                 <input type="text" matInput
                                                      formControlName="EmailID" placeholder="" />
                                              </mat-form-field>
                                          </div>
                                      </div>
                          </mat-expansion-panel>
                          <mat-expansion-panel>
                                  <mat-expansion-panel-header>
                                      <mat-panel-title>
                                          <span id="schoolAcdn">Occupation
                                              </span>
                                      </mat-panel-title>
                                  </mat-expansion-panel-header>
                                      <div class="row">
                                              <div class="col-sm-9">
                                                  <mat-form-field>
                                                    <mat-label>Position/Title</mat-label>
                                                      <input type="text" matInput formControlName="position"
                                                           matInput placeholder=""
                                                           />
                                                  </mat-form-field>
                                              </div>
                                      </div>
                                      <div class="row">
                                              <div class="col-sm-6">
                                                  <mat-form-field>
                                                    <mat-label>Start Date</mat-label>
                                                      <input type="text"  (change)="dateChanged()"  matInput formControlName="occupationstartdate" autocomplete="off" [matDatepicker]="picker3" placeholder="">
                                                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                                      <mat-datepicker #picker3></mat-datepicker>
                                                  </mat-form-field>
                                              </div>
                                              <div class="col-sm-6">
                                                  <mat-form-field>
                                                    <mat-label>End Date</mat-label>
                                                      <input type="text"  matInput   formControlName="occupationenddate" autocomplete="off" [matDatepicker]="picker4"
                                                          placeholder="">
                                                      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                                      <mat-datepicker #picker4></mat-datepicker>
                                                  </mat-form-field>
                                              </div>
                                          </div>
                                          <div class="row">
                                                  <div class="col-sm-9">
                                                      <mat-radio-group formControlName="occupationtype">
                                                          <mat-radio-button value=0>Part Time</mat-radio-button>
                                                          <mat-radio-button value=1>Full Time</mat-radio-button>
                                                      </mat-radio-group>
                                                  </div>
                                          </div>
                                          <div class="col-sm-9">
                                                  <mat-form-field>
                                                    <mat-label>Pay Period</mat-label>
                                                      <mat-select placeholder=""
                                                          formControlName="payperiod">
                                                          <mat-option
                                                              *ngFor="let pay of (papperiodDropdownItems$ | async)"
                                                              value="{{pay.value}}">{{ pay.text }}</mat-option>
                                                      </mat-select>
                                                  </mat-form-field>
                                          </div>
                                          <div class="row">
                                                  <div class="col-sm-9">
                                                      <mat-form-field>
                                                        <mat-label>Income</mat-label>
                                                          <input type="text" matInput formControlName="income"
                                                               matInput placeholder=""
                                                               />
                                                      </mat-form-field>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="col-sm-9">
                                                      <mat-form-field>
                                                        <mat-label>Comments</mat-label>
                                                          <input type="text" matInput formControlName="comments"
                                                               matInput placeholder=""
                                                               />
                                                      </mat-form-field>
                                                  </div>
                                          </div>
                              </mat-expansion-panel>
                              <mat-expansion-panel>
                                      <mat-expansion-panel-header>
                                          <mat-panel-title>
                                              <span id="schoolAcdn">Supervisior details
                                                  </span>
                                          </mat-panel-title>
                                      </mat-expansion-panel-header>
                                          <div class="row">
                                                  <div class="col-sm-9">
                                                      <mat-form-field>
                                                        <mat-label>First Name</mat-label>
                                                          <input type="text" matInput formControlName="firstname"
                                                               matInput placeholder=""
                                                               />
                                                      </mat-form-field>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="col-sm-9">
                                                      <mat-form-field>
                                                        <mat-label>Middle Name</mat-label>
                                                          <input type="text" matInput formControlName="middlename"
                                                               matInput placeholder=""
                                                               />
                                                      </mat-form-field>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="col-sm-9">
                                                      <mat-form-field>
                                                        <mat-label>Last Name</mat-label>
                                                          <input type="text" matInput formControlName="lastname"
                                                               matInput placeholder=""
                                                               />
                                                      </mat-form-field>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="col-sm-9">
                                                      <mat-form-field>
                                                        <mat-label>Suffix</mat-label>
                                                          <input type="text" matInput formControlName="suffix"
                                                               matInput placeholder=""
                                                               />
                                                      </mat-form-field>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="col-sm-9">
                                                      <mat-form-field>
                                                        <mat-label>Prefix</mat-label>
                                                          <input type="text" matInput formControlName="prefix"
                                                               matInput placeholder=""
                                                               />
                                                      </mat-form-field>
                                                  </div>
                                          </div>
                                          
                                  </mat-expansion-panel>
                                  <mat-expansion-panel>
                                          <mat-expansion-panel-header>
                                              <mat-panel-title>
                                                  <span id="schoolAcdn">Career Goals
                                                      </span>
                                              </mat-panel-title>
                                          </mat-expansion-panel-header>
                                              <div class="row">
                                                      <div class="col-sm-9">
                                                          <mat-form-field>
                                                            <mat-label>Career Goals</mat-label>
                                                              <input type="text" matInput formControlName="careergoals"
                                                                   matInput placeholder=""
                                                                   />
                                                          </mat-form-field>
                                                      </div>
                                              </div>
                                              
                                      </mat-expansion-panel>
          </mat-accordion>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 text-end">
      <div class="pull-right">
          <span *ngIf="reportMode === 'add'">
              <a class="btn btn-pri" (click)="resetForm()">Clear</a> &nbsp;
              <button class="btn-pri" [disabled]="employerForm.pristine || employerForm.invalid" (click)="add()">Add</button>
          </span>
          <span *ngIf="reportMode === 'edit'">
              <button class="btn-pri" [disabled]="employerForm.pristine || employerForm.invalid" *ngIf="editMode === true"
                  (click)="update()">Update</button>
              <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
          </span>
      </div>
  </div>
</div>
<div class="row m-t-20" *ngIf="employer?.length>0">
  <div class="table-responsive table-theme table-bordered">
      <div class="col-sm-12">
          <table class="table" aria-describedby="Employer List">
              <thead>
                  <tr>
                      <th id="noeHeader">Name of Employer</th>
                      <th id="ceHeader">Current Employer</th>
                      <th id="nohHeader">Number of hours</th>
                      <th id="rolHeader">Reason for leaving</th>
                      <th id="dutiesHeader">Duties</th>
                      <th id="startDateHeader">Start Date</th>
                      <th id="endDateHeader">End Date</th>
                      <th id="actionHeader">Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let emp of employer; let i=index">
                      <td>{{emp.employername}}</td>
                      <td>{{emp.currentemployer ? 'Yes' : 'No'}}</td>
                      <td>{{emp.noofhours}}</td>
                      <td>{{emp.reasonforleaving}}</td>
                      <td>{{emp.duties}}</td>
                      <td>{{emp.startdate | date:'MM/dd/yyyy' }}</td>
                      <td>{{emp.enddate | date:'MM/dd/yyyy'}}</td>
                      <td> <a (click)="view(emp)">
                              <em class="fa fa-eye text-16" matTooltip="View"></em>
                          </a> |
                          <a (click)="edit(emp, i)">
                              <em class="fa fa-pencil text-16" matTooltip="Edit"></em>
                          </a> |
                          <a (click)="delete(i)">
                              <em class="fa fa-trash text-16" matTooltip="Delete"></em>
                          </a></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
