.btn-sec {
    padding:8px 15px;
    min-width:100px;
}
.btn-sec:hover {
    box-shadow: 0 3px 3px 0 #e5e5e5;
}
.bg-theme {
    background: #f7f7f7;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}
.m-t-25 {
    margin-top:25px;
}