<div class="modal fade custom-modal" id="modal-view-finace-guardianship" role="dialog">
  <div class="modal-dialog modal-lg modal-collapse-horizontal-100">
      
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Assistance Program</h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">
          <li class="active"><a data-bs-toggle="tab" href="#disclosurechecklist">Disclosure Checklist</a></li>
          <li><a data-bs-toggle="tab" href="#agreement">Agreement</a></li>
        </ul>
        
        <div class="tab-content">
          <div id="disclosurechecklist" class="tab-pane fade show active">
            <div class="row">
              <div class="col-sm-12">
                  <h4 class="mt-20">Disclouser Summary</h4>
                  <div class="table-responsive table-theme">
                      <table class="table table-striped" aria-describedby="Client List">
                          <thead>
                            <tr>
                              <th id="clientIdHeader">Client ID</th>
                              <th id="clientNameHeader">Client Name</th>
                              <th id="guardianOneIdHeader">Guardian One Id</th>
                              <th id="disclouserDateHeader">Disclouser Date</th>
                              <th id="asdHeader">Assistance Start Date</th>
                              <th id="aedHeader">Assistance End Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><a data-bs-toggle="collapse" data-bs-target="#expand">20006923</a></td>
                              <td>One Gap</td>
                              <td>20000060</td>
                              <td>02-10-2013</td>
                              <td>02-03-2013</td>
                              <td>01-13-2016</td>
                            </tr>
                            <tr>
                              <td><a data-bs-toggle="collapse" data-bs-target="#expand">20006923</a></td>
                              <td>One Gap</td>
                              <td>20000060</td>
                              <td>02-10-2013</td>
                              <td>02-03-2013</td>
                              <td>01-13-2016</td>
                            </tr>
                            <tr>
                                <td><a data-bs-toggle="collapse" data-bs-target="#expand">20006923</a></td>
                                <td>One Gap</td>
                                <td>20000060</td>
                                <td>02-10-2013</td>
                                <td>02-03-2013</td>
                                <td>01-13-2016</td>
                              </tr>
                          </tbody>
                        </table>
                  </div>
              </div>
              
              <div id="expand" class="collapse" class="col-sm-12">
                  <div class="box-grid">
                    <h5 class="header-5">Disclosure Checklist</h5>
                    <div class="col-sm-4">
                      <div class="card panel-default provider-panel">
                        <div class="card-body">
                            <dl class="dl-horizontal2">
                                <dt>Disclosure Date</dt>
                                <dd>02-01-2013</dd>
                            </dl>
                            <dl class="dl-horizontal2">
                                <dt>Entered By</dt>
                                <dd>Daniel Wade</dd>
                            </dl>
                            <dl class="dl-horizontal2">
                              <dt>PLacement Provider ID</dt>
                              <dd></dd>
                            </dl>
                            <dl class="dl-horizontal2">
                              <dt>Provider Name</dt>
                              <dd></dd>
                            </dl>
                            <dl class="dl-horizontal2">
                              <dt>Guardian One ID</dt>
                              <dd>20000060</dd>
                            </dl>
                            <dl class="dl-horizontal2">
                              <dt>Guardian One</dt>
                              <dd>Joan Black</dd>
                            </dl>
                            <dl class="dl-horizontal2">
                                <dt>Guardian Two ID</dt>
                                <dd></dd>
                              </dl>
                              <dl class="dl-horizontal2">
                                <dt>Guardian Two</dt>
                                <dd></dd>
                              </dl>
                            <dl class="dl-horizontal2">
                              <dt>Approval Status</dt>
                              <dd>Approved</dd>
                            </dl>
                        </div>
                        
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="card panel-default provider-panel">
                        <div class="card-body">
                                <div class="row">
                                  <div class="col-sm-10">
                                    <p>The child has been committed to the state and placed with the provider for at least six(6) months</p>
                                  </div>
                                  <div class="col-sm-2">
                                      <mat-checkbox></mat-checkbox>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10">
                                      <p>The provider is approved for Guardianship Assistance Program</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <mat-checkbox></mat-checkbox>
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-10">
                                        <p>The provider is approved for Guardianship Assistance Program</p>
                                      </div>
                                      <div class="col-sm-2">
                                          <mat-checkbox></mat-checkbox>
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-10">
                                          <p>The provider is approved for Guardianship Assistance Program</p>
                                        </div>
                                        <div class="col-sm-2">
                                            <mat-checkbox></mat-checkbox>
                                        </div>
                                      </div>
                            <div class="row">
                              <div class="col-sm-10">
                                <p>The child has been committed to the state and placed with the provider for at least six(6) months</p>
                              </div>
                              <div class="col-sm-2">
                                  <mat-form-field>
                                      <mat-select>
                                        <mat-option>
                                          Yes</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                  <p>The child has been committed to the state and placed with the provider for at least six(6) months</p>
                                </div>
                                <div class="col-sm-2">
                                    <mat-form-field>
                                        <mat-select>
                                          <mat-option>
                                            Yes</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                              </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>

          <div id="agreement" class="tab-pane fade">
            <div class="row">
                <div class="col-sm-8 box-grid-1">
                  <h4 class="header-5">Check List</h4>
                  <div class="row">
                      <div class="col-sm-10">
                        <p>The child has been committed to the state and placed with the provider for at least six(6) months</p>
                      </div>
                      <div class="col-sm-2">
                          <mat-checkbox></mat-checkbox>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                          <p>The provider is approved for Guardianship Assistance Program</p>
                        </div>
                        <div class="col-sm-2">
                            <mat-checkbox></mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                          <p>The provider is approved for Guardianship Assistance Program</p>
                        </div>
                        <div class="col-sm-2">
                            <mat-checkbox></mat-checkbox>
                        </div>
                      </div>
                    <div class="row">
                      <div class="col-sm-6">
                          <div class="row">
                            <div class="col-sm-6">
                              <p class="mt-20">Is child receiving TCA?</p>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="no-placeholder">
                                    <mat-select placeholder="">
                                      <mat-option >
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="row">
                            <div class="col-sm-6">
                              <p class="mt-20">TCA Amount</p>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="no-placeholder">
                                    <input matInput placeholder="" value="$0.00">
                                  </mat-form-field>
                            </div>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="row">
                            <div class="col-sm-6">
                              <p class="mt-20">Start Date</p>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="no-placeholder">
                                  <input matInput autocomplete="off" [matDatepicker]="picker11" placeholder="Choose a date">
                                  <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
                                  <mat-datepicker #picker11></mat-datepicker>
                                </mat-form-field>
                            </div>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="row">
                              <div class="col-sm-6">
                                <p class="mt-20">End Date</p>
                              </div>
                              <div class="col-sm-6">
                                  <mat-form-field class="no-placeholder">
                                      <input matInput autocomplete="off" [matDatepicker]="picker12" placeholder="Choose a date">
                                      <mat-datepicker-toggle matSuffix [for]="picker12"></mat-datepicker-toggle>
                                      <mat-datepicker #picker12></mat-datepicker>
                                    </mat-form-field>
                              </div>
                            </div>
                      </div>
                    </div>
                    
                    <h5 class="header-5">Signature Date</h5>
                    <div class="row mt-10">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                  <p class="mt-20">Guardian One</p>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field class="no-placeholder">
                                        <input matInput autocomplete="off" [matDatepicker]="picker13" placeholder="Choose a date">
                                        <mat-datepicker-toggle matSuffix [for]="picker13"></mat-datepicker-toggle>
                                        <mat-datepicker #picker13></mat-datepicker>
                                      </mat-form-field>
                                </div>
                              </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                  <p class="mt-20">Guardian Two</p>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field class="no-placeholder">
                                        <input matInput autocomplete="off" [matDatepicker]="picker14" placeholder="Choose a date">
                                        <mat-datepicker-toggle matSuffix [for]="picker14"></mat-datepicker-toggle>
                                        <mat-datepicker #picker14></mat-datepicker>
                                      </mat-form-field>
                                </div>
                              </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                  <p class="mt-20">LDSS Director/Designee</p>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field class="no-placeholder">
                                        <input matInput autocomplete="off" [matDatepicker]="picker15" placeholder="Choose a date">
                                        <mat-datepicker-toggle matSuffix [for]="picker15"></mat-datepicker-toggle>
                                        <mat-datepicker #picker15></mat-datepicker>
                                      </mat-form-field>
                                </div>
                              </div>
                        </div>
                    </div> 
                </div>
              <div class="col-sm-12">
                <div class="table-responsive mt-20 table-theme">
                  <table class="table table-striped" aria-describedby="ProviderList">
                    <thead>
                      <tr>
                        <th id="providerIdHeader">Provider ID</th>
                        <th id="rbdHeader">Rate Begin Date</th>
                        <th id="redHeader">Rate End Date</th>
                        <th id="mpaHeader">Monthly Payment Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a data-bs-toggle="collapse" data-bs-target="#expand">20000061</a></td>
                        <td>02-03-2013</td>
                        <td>02-02-2014</td>
                        <td>$700.00</td>
                      </tr>
                      <tr>
                        <td><a data-bs-toggle="collapse" data-bs-target="#expand">20000061</a></td>
                        <td>02-03-2013</td>
                        <td>02-02-2014</td>
                        <td>$700.00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="expand" class="collapse" class="col-sm-12">
                <div class="">
                  <div class="col-sm-6">
                    <h4 class="header-bg">Rate Details</h4>
                    <div style="margin-top:-20px;" class="card panel-default provider-panel">
                      <div class="card-body">
                          <dl class="dl-horizontal">
                              <dt>Rate Type</dt>
                              <dd>"Monthly Assistance"</dd>
                          </dl>
                          <dl class="dl-horizontal">
                              <dt class="mt-20">Rate Begin Date</dt>
                              <dd>
                                  <mat-form-field class="no-placeholder">
                                      <input matInput autocomplete="off" [matDatepicker]="picker21" placeholder="Choose a date">
                                      <mat-datepicker-toggle matSuffix [for]="picker21"></mat-datepicker-toggle>
                                      <mat-datepicker #picker21></mat-datepicker>
                                    </mat-form-field>
                              </dd>
                          </dl>
                          <dl class="dl-horizontal">
                              <dt class="mt-20">Rate End Date</dt>
                              <dd>
                                  <mat-form-field class="no-placeholder">
                                      <input matInput autocomplete="off" [matDatepicker]="picker22" placeholder="Choose a date">
                                      <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                                      <mat-datepicker #picker22></mat-datepicker>
                                    </mat-form-field>
                              </dd>
                          </dl>
                          <dl class="dl-horizontal">
                            <dt class="mt-20">Monthly Payment Amount</dt>
                            <dd>
                                <mat-form-field class="no-placeholder">
                                    <input matInput placeholder="" value="$700.00">
                                  </mat-form-field>
                            </dd>
                          </dl>
                          <dl class="dl-horizontal">
                              <dt class="mt-20">Rate Approval Date</dt>
                              <dd>
                                  <mat-form-field class="no-placeholder">
                                      <input matInput autocomplete="off" [matDatepicker]="picker23" placeholder="Choose a date">
                                      <mat-datepicker-toggle matSuffix [for]="picker23"></mat-datepicker-toggle>
                                      <mat-datepicker #picker23></mat-datepicker>
                                    </mat-form-field>
                              </dd>
                          </dl>
                          <dl class="dl-horizontal">
                            <dt>Approval Status</dt>
                            <dd>Approved</dd>
                          </dl>
                          <dl>
                            <dt>Notes</dt>
                            <dd>
                                <mat-form-field class="no-placeholder">
                                    <textarea matInput placeholder="Leave a comment"></textarea>
                                  </mat-form-field>
                            </dd>
                          </dl>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
                
            </div>
          </div>

          <div id="annualreview" class="tab-pane fade show active"></div>
          <div id="suspension" class="tab-pane fade show active"></div>
        </div>
      </div>
    </div>

  </div>
</div>