<form onSubmit="return false;" [formGroup]="accountsReceivableFormGroup">
    <div class="row" style="background: #e7fcff;">
        <div class="left-side-filter" style="margin: 5px;">
            <h5>Search Filter</h5>
            <mat-form-field>
                <mat-label>Receivable Type</mat-label>
                <mat-select  formControlName="receivable_type">
                    <mat-option>Select</mat-option>
                    <mat-option *ngFor="let receivable of receivableType" [value]="receivable.value">{{receivable.text}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Provider Id</mat-label>
                <input matInput  value="" name="providerid" formControlName="providerid" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : (event.charCode >= 46 && event.charCode <= 57) || event.charCode == 13">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Provider Name</mat-label>
                <input matInput  value="" name="providername" formControlName="providername">
            </mat-form-field>
            <h5>Other</h5>
            <mat-form-field>
                <mat-label>Tax ID</mat-label>
                <input matInput  value="" name="taxid" formControlName="taxid" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : (event.charCode >= 46 && event.charCode <= 57) || event.charCode == 13">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Mail Code</mat-label>
                <input matInput  value="" name="mailcode" formControlName="mailcode">
            </mat-form-field>
            <hr class="h-row">
            <button class="btn btn-pri pull-right mt-20 btn-align" [ngClass]="{'disabled': accountsReceivableFormGroup.invalid || accountsReceivableFormGroup.pristine}" [disabled]="accountsReceivableFormGroup.pristine || accountsReceivableFormGroup.invalid" (click)="searchProviders()">Go</button>
            <button class="btn btn-sec pull-right mt-20" (click)="clearSearch()">Clear</button>
        </div>
    </div>
</form>
