<div class="tab-content no-shadow">
  <div id="audit-trail-logs" class="tab-pane fade show active">
    <div class="content-pad ">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="mt-20">Audit Trail</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>Select Feilds</mat-label>
            <mat-select placeholder="" [(ngModel)]="selectedFeild" (selectionChange)="loadTable()">
              <mat-option value="">All</mat-option>
              <mat-option *ngFor="let item of feilds" [value]="item">{{item.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 m-t-20">
          <div class="table-responsive table-theme">
            <table class="table customTable firsttable" aria-describedby="tbl-audit-trail-list">
              <thead>
                <tr>
                  <th scope="col">Previous Value</th>
                  <th scope="col">Current Value</th>
                  <th scope="col">Updated Date</th>
                  <th scope="col">Updated by Worker ID</th>
                  <th scope="col">Updated by Worker Name</th>
                  <th scope="col">Created Date</th>
                  <th scope="col">Created by Worker ID</th>
                  <th scope="col">Created by Worker Name</th>
                </tr>
                <ng-container *ngFor="let item of auditLogs">
                  <tr *ngIf="item.modifieddata">
                    <td>
                      <div *ngIf="item.modifieddata?.firstname">First Name: {{item.modifieddata?.firstname?.oldvalue}}</div>
                      <div *ngIf="item.modifieddata?.lastname">Last Name: {{item.modifieddata?.lastname?.oldvalue}}</div>
                      <div *ngIf="item.modifieddata?.dob">DOB: {{item.modifieddata?.dob?.oldvalue | date:"MM-dd-yyyy"}}</div>
                      <div *ngIf="item.modifieddata?.maritalstatus">Marital Status:
                        {{item.modifieddata?.maritalstatus?.oldvalue }}</div>
                      <div *ngIf="item.modifieddata?.ssn">SSN: {{item.modifieddata?.ssn?.oldvalue | ssnmaskpipe:showSsnMask }}</div>
                      <div *ngIf="item.modifieddata?.height">Height: {{item.modifieddata?.height?.oldvalue}}</div>
                      <div *ngIf="item.modifieddata?.weight">Weight: {{item.modifieddata?.weight?.oldvalue}}</div>
                      <div *ngIf="item.modifieddata?.occupation">Occupation:
                        {{item.modifieddata?.occupation?.oldvalue}}</div>
                    </td>
                    <td>
                      <div *ngIf="item.modifieddata?.firstname">First Name: {{item.modifieddata?.firstname?.newvalue}}</div>
                      <div *ngIf="item.modifieddata?.lastname">Last Name: {{item.modifieddata?.lastname?.newvalue}}</div>
                      <div *ngIf="item.modifieddata?.dob">DOB: {{item.modifieddata?.dob?.newvalue | date:"MM-dd-yyyy"}}</div>
                      <div *ngIf="item.modifieddata?.maritalstatus && isAuthorized">Marital Status:
                        {{item.modifieddata?.maritalstatus?.newvalue }}</div>
                      <div *ngIf="item.modifieddata?.ssn && isAuthorized">SSN: {{item.modifieddata?.ssn?.newvalue | ssnmaskpipe:showSsnMask}}</div>
                      <div *ngIf="item.modifieddata?.height">Height: {{item.modifieddata?.height?.newvalue}}</div>
                      <div *ngIf="item.modifieddata?.weight">Weight: {{item.modifieddata?.weight?.newvalue}}</div>
                      <div *ngIf="item.modifieddata?.occupation">Occupation: {{item.modifieddata?.occupation?.newvalue
                        }}</div>
                    </td>
                    <td>
                      {{item.insertedon | date: 'MM-dd-yyyy HH:mm:ss '}}
                    </td>
                    <td>{{item.inserteduser[0]?.cjamspid}}</td>
                    <td>
                      {{item.inserteduser[0]?.firstname}} &nbsp; {{item.inserteduser[0]?.lastname}}
                    </td>
                    <td>{{createddate  | date: 'MM-dd-yyyy HH:mm:ss '
                      }}</td>
                    <td>
                        100000346
                    </td>
                    <td>
                        Tom Hudson
                    </td>
                  </tr>
                </ng-container>

              </thead>
              <tbody>
                <tr *ngIf="auditLogs.length === 0">
                  <td colspan="4" style="text-align: center;">
                    No records found.
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
