.form-letter-tab .nav-tabs .tab-pane.active a {
    background-color: #fff;
    color: #00bcd3;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
}

ul.nav.nav-tabs {
    background: #ffffff;
    border-bottom: 1px solid #D8D8D8;
}

.nav>li>a:focus, .nav>li>a:hover {
    background: #ffffff;
    color: #00bcd3;
}

.btn-icon button {
    outline: none;
    background: none;
    border: none;
}

.btn-icon button i:before {
    color: #00A2FD;
    font-size: 14px;
}

.display-block {
    display: block;
}

.customTable.innerTable > thead > tr > th {
    font-size: 13px;
    border-width: 1px;
    padding: 12px 8px;
    text-transform: uppercase;
    background: #AEBED6;
    font-weight: 600;
    color: #000000 !important;
    text-align: left;
}

label {
    font-weight: 400;
}

span {
    font-weight: 700;
}