<div class="container-fluid">
    <div class="row m-t-30">
      <div class="col-md-4">
        <div class="">
          <label>Client ID : </label>
          <span>{{clientid}}</span>
        </div>
        <div class="m-t-10">
          <label>SSN : </label>
          <span>{{ssiSsaSingleData?.ssn | ssnmaskpipe:showSsnMask}}</span> 
        </div>
      </div>
      <div class="col-md-4">
        <div class="">
          <label>Client Name : </label>
          <span *ngIf="isAuthorized">{{ssiSsaSingleData?.client_name}}</span>
        </div>
        <div class="m-t-10">
            <label>Medicaid Number : </label>
            <span></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="">
          <label>DOB : </label>
          <span>{{ssiSsaSingleData?.client_dob | date:'M/d/yyyy'}}</span>
        </div>
        <div class="m-t-10">
            <label>SSN Claim Number : </label>
            <span></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-end m-t-20">
        <button type="button" class="btn-pri text-uppercase" [routerLink]="['./pages/finance/ssi-ssa-tracking/search']">Back To Search</button>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-letter-tab m-t-30">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li class="active">
                <a href="#ssi-overview" aria-controls="home" role="tab" data-bs-toggle="tab" (click)="getSsiSsaOverview()">SSI/SSA Overview</a>
              </li>
    
              <li>
                <a href="#payment" aria-controls="details" role="tab" data-bs-toggle="tab" (click)="getPayment()">Payment</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="ssi-overview">                  
                    <div class="row">
                      <div class="col-md-12">
                        <div class="table-responsive table-theme m-t-20">
                            <table class="table table-striped" aria-describedby="case details">
                              <thead>
                                <tr>
                                  <th id="case-id">Case ID</th>
                                  <th id="case-name">Case Name</th>
                                  <th id="case-worker-id">Case Worker ID</th>
                                  <th id="case-worker">Case Worker</th>
                                  <th id="phone-number">Phone Number</th>
                                  <th id="local-department">Local Department</th>

                                </tr>
                              </thead>
                              <tbody *ngIf='ssiSsaEligibilityEvents.length > 0'>
                                <tr>
                                  <td>{{ssiSsaEligibilityEvents[0]?.case_id}}</td>
                                  <td>{{ssiSsaEligibilityEvents[0]?.case_nm}}</td>
                                  <td>{{ssiSsaEligibilityEvents[0]?.case_worker_id}}</td>
                                  <td>{{ssiSsaEligibilityEvents[0]?.case_worker_name}}</td>
                                  <td>{{ssiSsaEligibilityEvents[0]?.case_worker_phone_no}}</td>
                                  <td>{{ssiSsaEligibilityEvents[0]?.local_dept}}</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 m-t-20">
                        <button class="btn-pri pull-right" data-bs-toggle="modal" (click)="addEligibility()" [disabled]="(typeSsi && typeSsa)" data-bs-target="#add-event">Add Eligibility</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="table-responsive table-theme m-t-20">
                            <table class="table table-striped" aria-describedby="eligibility">
                              <thead>
                                <tr>
                                  <th id="benefit-type">Benefit Type</th>
                                  <th id="start-date">Start Date</th>
                                  <th id="end-date">End Date</th>
                                  <th id="status">Status</th>
                                  <th id="action">Action</th>
                                  <th></th><!--/* //NOSONAR */-->
                                  <th></th><!--/* //NOSONAR */-->
                                </tr>
                              </thead>
                              <tbody *ngIf='ssiSsaEligibilityEvents.length > 0'>
                                <ng-container *ngFor="let eligibilityEvent of ssiSsaEligibilityEvents; let index = index;">
                                  <tr>
                                    <td>{{eligibilityEvent?.eligibility_type}}</td>
                                    <td>{{eligibilityEvent?.start_dt | date: 'MM/dd/yyyy'}}</td>
                                    <td>{{eligibilityEvent?.end_dt | date: 'MM/dd/yyyy'}}</td>
                                    <td>{{eligibilityEvent?.eligibility_status}}</td>
                                    <td><a (click)="editEligibility(eligibilityEvent)" matTooltip="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                                    <td><a *ngIf="isActiveEvents(eligibilityEvent.events)" (click)="addEvent(eligibilityEvent,index)">Add Event</a></td>
                                    <td>
                                        <a class="pull-right m-r-10"><i class="fa fa-chevron-down" aria-hidden="true" (click)="showEvents('accordion-tables'+ index, index)"></i></a>
                                    </td>                                  
                                  </tr> 
                                  <tr id="accordion-tables{{index}}" class="collapse">
                                      <td colspan="7">
                                          <div class="table-responsive table-theme">
                                              <table class="table customTable innerTable" aria-describedby="event details">
                                                  <thead>
                                                      <tr>
                                                        <th id="entry-date">Entry Date</th>
                                                        <th id="start-date">Start Date</th>
                                                        <th id="end-date">End Date</th>
                                                        <th id="event">Event</th>
                                                        <th id="event-status">Event Status</th>
                                                        <th id="status">Status</th>
                                                        <th id="action">Action</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody *ngIf='eventsList.length > 0'>
                                                    <tr *ngFor="let event of eventsList">
                                                      <td>{{event?.start_dt | date: 'MM/dd/yyyy'}}</td>
                                                      <td>{{event?.start_dt | date: 'MM/dd/yyyy'}}</td>
                                                      <td>{{event?.end_dt | date: 'MM/dd/yyyy'}}</td>
                                                      <td>{{event?.event_type}}</td>
                                                      <td>{{event?.status}}</td>
                                                      <td>{{(event.delete_sw === 'N') ? 'Open' : 'Closed'}}</td>
                                                      <td class="btn-icon">
                                                          <button type="button" (click)="viewEligibilityEvent(event,index)"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                                          <button *ngIf="event.delete_sw === 'N'" type="button" (click)="editEvent(event,index)" matTooltip="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                              </table>
                                          </div>
                                      </td>
                                  </tr>
                                </ng-container>
                              </tbody>
                            </table>
                        </div>
                      </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="payment">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="table-responsive table-theme m-t-20">
                          <table class="table table-striped" aria-describedby="transaction details">
                            <thead>
                              <tr>
                                <th id="transaction-id">Transaction ID</th>
                                <th id="entry-date">Entry Date</th>
                                <th id="benefit-type">Benefit Type</th>
                                <th id="benefit-start-date">Benefit Start Date</th>
                                <th id="benefit-end-date">Benefit End Date</th>
                                <th id="amount-received">Amount Received</th>
                                <th id="reference-transaction-id">Reference Transaction ID</th>
                              </tr>
                            </thead>
                            <tbody *ngIf="ssiSsaPayment">
                              <tr *ngFor="let payment of ssiSsaPayment">
                                <td>{{payment.transaction_id}}</td>
                                <td>{{payment.transaction_dt | date: 'MM/dd/yyyy'}}</td>
                                <td>{{payment.transaction_source}}</td>
                                <td>{{payment.benefit_start_dt | date: 'MM/dd/yyyy'}}</td>
                                <td>{{payment.benefit_end_dt | date: 'MM/dd/yyyy'}}</td>
                                <td>${{payment.transaction_amount_no}}</td>
                                <td>{{payment.reference_transaction_id}}</td>
                              </tr>
                            </tbody>
                          </table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="add-event">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Eligibility Details</h4>
          <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="eligibilityEventForm">
            <div class="row">
                <div class="col-md-12">
                    <label class="required p-r-20">Benefit Type</label>
                    <mat-radio-group required formControlName='eligibility_type_cd'>
                        <mat-radio-button *ngFor="let type of ssiSsaEligibilityType" [disabled]="type.value_tx =='SSI' ? typeSsi : typeSsa" [value]="type.picklist_value_cd">
                          {{type.value_tx}}
                        </mat-radio-button>

                    </mat-radio-group>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Benefit Start Date</mat-label>
                      <input matInput autocomplete="off" [matDatepicker]="picker1" formControlName='start_dt' 
                       (dateChange)="onChangeDate(eligibilityEventForm,'start_dt')">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Benefit End Date</mat-label>
                      <input matInput autocomplete="off" [matDatepicker]="picker2" formControlName='end_dt' [min]="eligibilityMinDate" 
                      (dateChange)="onChangeDate(eligibilityEventForm,'end_dt')" >
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>

            </div>
            <div class="row"> 
                <h4 class="modal-title m-l-20 m-t-20 m-b-20">Event Details</h4>
                <div class="col-md-6">
                    <mat-form-field>
                      <mat-label>Entry Date</mat-label>
                        <input matInput autocomplete="off" [matDatepicker]="picker3" formControlName='entry_dt' [attr.disabled]="disabled" >
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Event</mat-label>
                        <mat-select  formControlName='event_type_cd' required>
                          <mat-option *ngFor="let event of ssiSsaEventType" [value]="event.picklist_value_cd"> 
                          {{event.value_tx}} 
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Start Date</mat-label>
                        <input matInput autocomplete="off" [matDatepicker]="picker4" formControlName='event_start_dt'
                         [min]="eligibilityMinDate" [max]="eligibilityMaxDate" 
                         (dateChange)="onChangeDate(eligibilityEventForm,'event_start_dt')" >
                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Notes</mat-label>
                        <textarea matInput  formControlName='notes_tx'></textarea>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                      <mat-label>Entered By</mat-label>
                        <input matInput  formControlName='entered_by' [attr.disabled]="disabled">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Status</mat-label>
                        <mat-select  required formControlName='status_cd'>
                          <mat-option *ngFor="let status of eventStatus" [value]="status.picklist_value_cd"> 
                         {{status.value_tx}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>End Date</mat-label>
                        <input matInput autocomplete="off" [matDatepicker]="picker5"  
                        formControlName='event_end_dt'  [min]="eventMinDate" [max]="eligibilityMaxDate">
                        <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                        <mat-datepicker #picker5></mat-datepicker>
                    </mat-form-field>
                    <mat-checkbox class="m-t-30 display-block" formControlName='status_change_sw'>No Changes in Status Necessary</mat-checkbox>
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer" *ngIf='enableEligibilityEvent'>
            <button type="button" class="btn-pri pull-right" (click)="saveEligibilityEvents()" [disabled]="!eligibilityEventForm.valid">Save</button>
        </div>
      </div>
    </div>
</div>
