.fixed_header thead th {
    border-bottom: none;
    background: #AEBED6;
}

.table-theme .table thead tr:hover {
    background: none;
}

.table-theme .table tbody tr:hover {
    background: #E8F0FA;
}

.fixed_header thead {
    background: #AEBED6;
}

.fixed_header tbody tr td,
.fixed_header thead th {
    width: 9.6%;
    padding: 9px !important;
}

.status {
    width: 20%;
    float: right;
}
.clearfix {
    clear: both;
}
.clearfix:before{
    display: table;
    content: " ";
}
.clearfix:after{
    clear: both;
    display: table;
    content: " ";
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    border: none;
}

.fixed_header tbody {
    height: 180px;
}

.no-bg {
    background: none;
    border: none;
    color: #00A2FD;
    padding: 5px;
}
.fa-check {
    color: #00A2FD;
    font-size: 16px;
}
.fixed_header tbody tr td.selected {
    font-weight: bold ;
  }
  a.show{
    text-decoration: none !important;
    color: #23527c !important;
  }

.btn-default {
    border-color: #ccc !important;
}

.btn-default.active, .btn-default:active, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    color: #333 !important;
    background-color: #e6e6e6 !important;
    border-color: #adadad !important;
}

.modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    width: 85%;
}

.table-scroll {
  max-height: 250px;
  overflow-y: auto;
}

.table-scroll thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}