<form [formGroup]="legalActionHistoryForm" class="m-t-30">
  <div class="row">
    <div class="col-sm-3">
      <mat-form-field>
        <mat-label>Petition ID</mat-label>
        <input type="text" matInput placeholder="" formControlName="petitionID">
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <mat-label>Complaint ID</mat-label>
        <input type="text" matInput placeholder="" formControlName="complaintID">
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <mat-label>Scheduled Hearing Type</mat-label>
        <mat-select placeholder="" formControlName="hearingType">
          <mat-option *ngFor="let item of hearingTypes$ | async" value="{{item.value}}">{{item.text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <mat-label>Worker</mat-label>
        <input type="text" matInput placeholder="" formControlName="worker">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <mat-form-field>
        <mat-label>Hearing Date</mat-label>
        <input matInput (click)="picker.open()" autocomplete="off" [matDatepicker]="picker" placeholder="" formControlName="hearingDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <mat-label>Court Actions</mat-label>
        <mat-select placeholder="" multiple (selectionChange)="selectCourtActionType($event.value)" formControlName="courtActions">
          <mat-select-trigger>
            {{ courtOrderDescription.length > 0 ? courtOrderDescription[0] : '' }}
            <span *ngIf="courtActionDescription && courtActionDescription.length > 1" class="example-additional-selection">
              (+{{courtActionDescription.length - 1}} {{courtActionDescription.length ===
              2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let item of courtActions$ | async" [value]="item.value">{{item.text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <mat-label>Court Order</mat-label>
        <mat-select multiple placeholder="" (selectionChange)="selectCourtOrderType($event.value)" formControlName="courtOrder">
          <mat-select-trigger>
            {{ courtOrderDescription.length > 0 ? courtOrderDescription[0] : '' }}
            <span *ngIf="courtOrderDescription && courtOrderDescription.length > 1" class="example-additional-selection">
              (+{{courtOrderDescription.length - 1}} {{courtOrderDescription.length ===
              2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let item of courtOrders$ | async" [value]="item.value">{{item.text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <mat-label>Court Date</mat-label>
        <input matInput (click)="picker1.open()" autocomplete="off" [matDatepicker]="picker1" placeholder="" formControlName="courtDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <mat-form-field>
        <mat-label>Termination Date</mat-label>
        <input matInput (click)="picker2.open()" autocomplete="off" [matDatepicker]="picker2" placeholder=""
          formControlName="terminationDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <mat-label>Adjudication Date</mat-label>
        <input matInput (click)="picker3.open()" autocomplete="off" [matDatepicker]="picker3" placeholder=""
          formControlName="adjudicationDate">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field class="clearfix">
        <mat-label>Adjudication Decision</mat-label>
        <mat-select placeholder="" formControlName="adjudicationDecision">
          <mat-option *ngFor="let item of adjudicatedDecision$ | async" value="{{item.value}}">{{item.text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
      <mat-form-field class="clearfix">
        <mat-label>Adjudicated Offense</mat-label>
        <mat-select placeholder="" formControlName="adjudicatedOffense">
          <mat-option *ngFor="let item of adjudicatedOffense$ | async" value="{{item.value}}">{{item.text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 m-t-10 m-b-10">
      <div class="pull-right">
        <a class="btn btn-theme btn-sec" (click)="resetForm()">Reset</a>&nbsp;
        <button type="button" class="btn btn-theme btn-pri" (click)="filterHistory()" [disabled]="legalActionHistoryForm.pristine || legalActionHistoryForm.invalid">Filter</button>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-sm-12" *ngIf="histories && histories.length > 0">
    <div class="table-responsive table-theme">
      <table class="table table-striped" aria-describedby="tbl-legal-action-lst">
        <thead>
          <tr>
            <th scope="col">Petition ID</th>
            <th scope="col">Complaint ID</th>
            <th scope="col">Scheduled Hearing Type</th>
            <th scope="col">Worker</th>
            <th scope="col">Court Actions</th>
            <th scope="col">Court Order</th>
            <th scope="col">Adjudication Decision</th>
            <th scope="col">Adjudicated Offense</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let history of histories">
            <td>{{history.petitionID}}</td>
            <td>{{history.complaintID}}</td>
            <td>{{history.hearingType}}</td>
            <td>{{history.worker}}</td>
            <td>{{history.courtActions}}</td>
            <td>{{history.courtOrder}}</td>
            <td>{{history.adjudicationDecision}}</td>
            <td>{{history.adjudicatedOffense}}</td>
            <td>
              <a (click)="view(history)">
                <em class="fa fa-eye text-16"></em>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade in" id="view-history" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
  <div class="modal-dialog modal-lg custom-wid">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <h4 class="modal-title">Legal Action History</h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="viewHistoryForm">
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                <mat-label>Petition ID</mat-label>
                <input type="text" matInput placeholder="" formControlName="petitionID">
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <mat-label>Complaint ID</mat-label>
                <input type="text" matInput placeholder="" formControlName="complaintID">
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <mat-label>Scheduled Hearing Type</mat-label>
                <mat-select placeholder="" formControlName="hearingType">
                  <mat-option *ngFor="let item of hearingTypes$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <mat-label>Worker</mat-label>
                <input type="text" matInput placeholder="" formControlName="worker">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                <mat-label>Hearing Date</mat-label>
                <input matInput (click)="picker4.open()" autocomplete="off" [matDatepicker]="picker4" placeholder=""
                  formControlName="hearingDate">
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <mat-label>Court Actions</mat-label>
                <mat-select placeholder="" multiple (selectionChange)="selectCourtActionType($event.value)"
                  formControlName="courtActions">
                  <mat-select-trigger>
                    {{ courtOrderDescription.length > 0 ? courtOrderDescription[0] : '' }}
                    <span *ngIf="courtActionDescription && courtActionDescription.length > 1" class="example-additional-selection">
                      (+{{courtActionDescription.length - 1}} {{courtActionDescription.length ===
                      2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let item of courtActions$ | async" [value]="item.value">{{item.text}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                <mat-label>Court Order</mat-label>
                <mat-select multiple placeholder="" (selectionChange)="selectCourtOrderType($event.value)"
                  formControlName="courtOrder">
                  <mat-select-trigger>
                    {{ courtOrderDescription.length > 0 ? courtOrderDescription[0] : '' }}
                    <span *ngIf="courtOrderDescription && courtOrderDescription.length > 1" class="example-additional-selection">
                      (+{{courtOrderDescription.length - 1}} {{courtOrderDescription.length ===
                      2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let item of courtOrders$ | async" [value]="item.value">{{item.text}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                 <mat-label>Court Date</mat-label>
                <input matInput (click)="picker5.open()" autocomplete="off" [matDatepicker]="picker5" placeholder=""
                  formControlName="courtDate">
                <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                <mat-datepicker #picker5></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                 <mat-label>Termination Date</mat-label>
                <input matInput (click)="picker6.open()" autocomplete="off" [matDatepicker]="picker6" placeholder=""
                  formControlName="terminationDate">
                <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                <mat-datepicker #picker6></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field>
                 <mat-label>Adjudication Date</mat-label>
                <input matInput (click)="picker7.open()" autocomplete="off" [matDatepicker]="picker7" placeholder=""
                  formControlName="adjudicationDate">
                <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                <mat-datepicker #picker7></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="clearfix">
                 <mat-label>Adjudication Decision</mat-label>
                <mat-select placeholder="" formControlName="adjudicationDecision">
                  <mat-option *ngFor="let item of adjudicatedDecision$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="clearfix">
                 <mat-label>Adjudicated Offense</mat-label>
                <mat-select placeholder="" formControlName="adjudicatedOffense">
                  <mat-option *ngFor="let item of adjudicatedOffense$ | async" value="{{item.value}}">{{item.text}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>