<div *ngIf="ipaduser"> 
    <div style="margin-top: 125px;"></div>
</div>
<div class="container-fluid">
  <div class="dashboard-cont no-pad">
      <h4 class="mrg-top25">APPROVAL CASE</h4>
      <div class="tab-horizontal mrg-top25 mrg-btm25">
          <ul class="nav nav-pills">
                <li class="nav-item m-t-30">
                    <a class="nav-link" [routerLink]="['../cw-approval']">CASE PENDING APPROVAL</a>
                    </li>
              <li class="nav-item m-t-30">
                  <a class="nav-link active" href="#case-review" data-bs-toggle="tab" (click)="caseReview(1)">ASSESSMENTS PENDING APPROVAL</a>
              </li>
              <li class="nav-item m-t-30" *ngIf="roleId.role.name !== 'field'">
                    <a class="nav-link" href="#/pages/cjams-dashboard/cw-approval-caseworker">All APPROVAL RECORD</a>
              </li>
              <li class="ms-auto m-t-15 nav-item">
                    <div class="searchdd pull-left m-r-10" [formGroup]="assignedCaseForm">
                        <mat-form-field>
                            <mat-select formControlName="securityusersid"   (selectionChange)="supervisorChange()">
                                <mat-option *ngFor="let item of supervisorList" [value]="item.userid">{{item.username}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="inner-addon m-t-15 right-addon pull-left" [formGroup]="assignedCaseForm">
                        <em aria-hidden="true" class="fa fa-search"></em>
                        <input type="text" class="form-control" formControlName="serreqno" (input)="onSearchCase('servicerequestnumber', $event)" placeholder="Search Cases..." />
                    </div>
              </li>
          </ul>
          <div class="tab-content boxgrid assign-case">
              <div class="tab-pane active" id="case-review">
                  <div class="cnt-min-height">
                    <p class="mt-10 mb-0">Total Count: <strong>{{totalRecordsCaseReview}}</strong>
                      <div class="table-responsive table-theme">
                          <table class="table table-striped" aria-describedby="tbl-case-review-count">
                              <thead>
                                  <tr>
                                      <th scope="col">CASE NUMBER</th>
                                      <th scope="col">INTAKE NUMBER</th>
                                      <th scope="col">Head of Household</th>
                                      <th scope="col">SUBMITTED BY</th>
                                      <th scope="col">SUBMITTED DATE & TIME</th>
                                      <th scope="col">TYPE</th>
                                      <th scope="col">SUB TYPE</th>
                                      <th scope="col">24 HOUR APPROVAL</th>
                                      <th scope="col">COMMENTS</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <ng-container *ngIf="reviewCases.length>0; else noItems">
                                      <tr *ngFor="let item of reviewCases">
                                          <td>
                                              <a (click)="routeReviewCase(item)">{{item.servicerequestnumber}}</a>
                                          </td>
                                          <td>{{item?.intakenumber ? item?.intakenumber : ''}}<span *ngIf="item?.sdm?.length"> <span matTooltip="Child Fatality" *ngIf="item?.sdm[0]?.ischildfatality" class="dot yellow-dot"></span><span matTooltip="Provider Maltreatment" *ngIf="item?.sdm[0]?.ismaltreatment" class="dot blue-dot"></span></span></td>
                                          <td><person-information [persons]="item?.legalguardian"></person-information></td>
                                          <td>{{item?.assingeduser}} </td>
                                          <td>{{item?.asssignedon ? (item?.asssignedon | date:'MM/dd/yyyy hh:mm a') : 'NA'}}
                                          </td>
                                          <td *ngIf="item.appevent === 'ASST'">Assessment</td>
                                          <td *ngIf="item.appevent !== 'ASST'">{{item?.appevent}}</td>
                                          <td>{{(item.typename==='cans-v2')? 'CANS-F' : item.typename}}</td>
                                          <td>
                                            <span *ngIf="item.ischildconditionalsafe" data-bs-toggle="tooltip" data-bs-placement="top" title="" class="mrg-rht10" data-original-title="Approval required within 24 hours">
                                                <a>
                                                    <img src="assets/images/flag_icon.svg" alt="">
                                                </a>
                                            </span>  
                                        </td>
                                          <td>{{item?.remarks}}</td>
                                      </tr>
                                  </ng-container>
                              </tbody>
                          </table>
                          <ng-template #noItems>
                              <p class="no-datatxt"> No Items! </p>
                          </ng-template>
                          <div class="text-center" *ngIf="totalRecordsCaseReview">
                              <pagination [totalItems]="totalRecordsCaseReview" [(ngModel)]="reviewPaginationInfo.pageNumber" (pageChanged)="caseReviewPageChanged($event)"
                                  class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="reviewPaginationInfo.pageSize"></pagination>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="modal fade" id="intake-caseassign" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content Persons-Involved">
          <div class="modal-header">
              <h4 class="modal-title">Route Case</h4>
              <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body dashboard-cont">

              <div class="tab-horizontal mrg-btm25">
                  <ul class="nav nav-pills">
                      <li class="nav-item">
                          <a class="nav-link active" href="#caseassign-caseworker" data-bs-toggle="tab" (click)="listUser('TOBEASSIGNED')">WORKERS</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#caseassign-caseworker" data-bs-toggle="tab" (click)="listUser('ASSIGNED')">SUPERVISORS</a>
                      </li>
                  </ul>
                  <div class="tab-content boxgrid">
                      <div class="tab-pane active" id="caseassign-caseworker">
                          <div class="">
                              <div class="table-responsive table-theme">
                                  <table class="table table-striped" sortable-table aria-describedby="tbl-case-assign-caseworker">
                                      <thead>
                                          <tr>
                                              <th scope="col"></th>
                                              <th scope="col">NAME</th>
                                              <th scope="col" class="required">Responsibility</th>
                                              <th scope="col" *ngIf="!isSupervisor">CASE LOAD</th>
                                              <th scope="col" *ngIf="!isSupervisor">AVAILABILITY</th>
                                              <th scope="col" *ngIf="!isSupervisor">ZIP CODE</th>
                                              <th scope="col" *ngIf="isSupervisor">AGENCY</th>
                                              <th scope="col">TYPE OF WORKER</th>
                                              <th scope="col">UNIT</th>
                                              <th scope="col">Total Cases</th>
                                          </tr>
                                      </thead>
                                      <tbody *ngIf="getUsersList; let getlist">
                                          <ng-container *ngIf="getlist.length>0; else noItems">
                                              <tr *ngFor="let item of getlist">
                                                <td class="valign-middle">
                                                    <mat-checkbox (change)="selectPersonForAssign($event,item)">
                                                    </mat-checkbox>
                                                </td>
                                                  <td>{{item.username}} </td>
                                                  <td>
                                                    <mat-form-field>
                                                        <mat-label>Responsibility</mat-label>
                                                        <mat-select 
                                                            (selectionChange)="changeResponsibility($event,item)">
                                                            <mat-option
                                                                *ngFor="let type of responsibilityTypeDropdownItems$ | async"
                                                                [value]="type.value">
                                                                {{type.text}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <div *ngIf="isChildResponsibilityTypeSelected(item)">
                                                        <mat-form-field>
                                                            <mat-label>Child List</mat-label>
                                                            <mat-select  multiple  required="isChildResponsibilityTypeSelected(item)" (selectionChange)="addChild($event, item)">
                                                                <ng-container *ngFor="let child of childList$ | async">
                                                                    <mat-option [disabled]="child.isassignment === 1"  [value]="child.intakeservicerequestactorid"><span>{{child.firstname}} </span> <span>{{child.lastname}}</span></mat-option>
                                                                </ng-container>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                                  <td *ngIf="!isSupervisor">{{item.workloads}}</td>
                                                  <td *ngIf="!isSupervisor">{{item.available}}</td>
                                                  <td *ngIf="!isSupervisor">{{item.worklocationcode ? item.worklocationcode : 'N/A'}}</td>
                                                  <td *ngIf="isSupervisor">{{item.agencykey}}</td>
                                                  <td>{{item.userrole}}</td>
                                                  <td>{{item.teamname}}</td>
                                                  <td>{{item.totalcases ? item.totalcases : 'N/A'}}</td>
                                              </tr>
                                          </ng-container>
                                      </tbody>
                                  </table>
                                  <ng-template #noItems>No Items!</ng-template>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="clearfix"></div>
          </div>
          <div class="modal-footer wizard-buttons">
              <button class="btn-pri">ASSIGN</button>
          </div>
      </div>
  </div>
</div>
