.table-responsive.t-height {
    max-height: 450px;
    padding: 0px;
    overflow: auto;
}


.other-comment-field {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  
    .mat-form-field-underline,
    .mat-form-field-outline {
      display: none;
    }
  
    .mat-form-field-infix {
      padding: 0 !important;
      border: none !important;
    }
  
    textarea.mat-input-element {
      border: none !important;
      box-shadow: none !important;
      outline: none !important;
      background: transparent !important;
      font-size: 14px;
      resize: vertical;
    }
  }
    .required-asterisk {
      color: red;
      margin-left: 2px;
    }   
    /* Make the table layout fixed for proper truncation */
    .fixed-table {
    table-layout: fixed;
    width: 100%;
}
.modal-dialog {
    max-width: fit-content !important;
}

.mat-mdc-tooltip-surface {
    max-width: 300px !important;
    font-size: 10px !important;
    line-height: 15px !important;
}
    .tbl-con-info {
      table-layout: fixed;
      width: 100%;
      }

    .tbl-con-info td {
    max-width: 160px;
    overflow: hidden;
    }

    .truncate-text {
    display: inline-block;
    max-width: 68px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
   #phoneinfo-popup .modal-dialog{
    height: 230px;
    width: 520px;
    border: solid 1px black;
    border-radius: 5px;
  }
