<div class="tab-content no-shadow">
  <div class="tab-pane fade show active">
    <div class="content-pad ">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="mt-20">Client Family Information</h4>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <form [formGroup]="familyInfoForm">
            <div class="col-sm-4">
              <h4 class="bg-theme header-4">Family</h4>
              <mat-form-field>
                <mat-label>Select Marital Status</mat-label>
                <mat-select placeholder=""  formControlName="maritalstatustypekey">
                  <mat-option *ngFor="let item of maritalDropdownItems$ | async" value="{{item.maritalstatustypekey}}">{{item.typedescription}}</mat-option>
                </mat-select>

              </mat-form-field>
              <mat-form-field>
                <mat-label>Number of Siblings in Home</mat-label>
                <input matInput  type="number"  placeholder=""  formControlName="numofsiblings">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Number of Persons in Home</mat-label>
                <input matInput  type="number" placeholder="" required formControlName="numofpersons">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Gross Family Income</mat-label>
                <input matInput type="number" placeholder="" required formControlName="grossincome">
              </mat-form-field>
              <mat-form-field class="m-b-10">
                <mat-select placeholder="Primary Source of Income" required formControlName="primarysource">
                  
                  <mat-option *ngFor="let item of primarySourceOfIncomes$ | async" value="{{item.personprimaryincometypekey}}">{{item.typedescription}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-radio-group formControlName="titleiveeligible">
                <h5><strong>Title IV-E Eligible</strong></h5>
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
              <mat-form-field>
                <mat-label>Amount will pay for placement</mat-label>
                <input matInput type="number" placeholder="" formControlName="amoutwillpay">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Notes</mat-label>
                <textarea matInput placeholder="" formControlName="notes"></textarea>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <h4 class="bg-theme header-4">Youth</h4>
              <mat-form-field>
                <mat-label>Place of Birth</mat-label>
                <input matInput placeholder="" formControlName="placeofbirth">
              </mat-form-field>
              <div class="row">
                <div class="col-sm-8 m-b-10">
                  <mat-checkbox class="custom-mat-checkbox" formControlName="historyfamilyprob">History of Family
                    Problems</mat-checkbox>
                </div>
                <div class="col-sm-4 m-b-10">
                  <mat-checkbox class="custom-mat-checkbox" formControlName="runaway">Runaway</mat-checkbox>
                </div>
                <div class="col-sm-8 m-b-10">
                  <mat-checkbox class="custom-mat-checkbox" formControlName="ungovernable">Ungovernable</mat-checkbox>
                </div>
                <div class="col-sm-4 m-b-10">
                  <mat-checkbox class="custom-mat-checkbox" formControlName="stealing">Stealing</mat-checkbox>
                </div>
                <div class="col-sm-8 m-b-10">
                  <mat-checkbox class="custom-mat-checkbox" formControlName="truancy">Truancy</mat-checkbox>
                </div>
                <div class="col-sm-4 m-b-10">
                  <mat-checkbox class="custom-mat-checkbox" formControlName="assaultive">Assaultive</mat-checkbox>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12 m-b-10">
                  <label>Mental Health Service History</label>
                </div>
                <div class="col-sm-6 m-b-10">
                  <mat-checkbox class="custom-mat-checkbox" formControlName="residential">Residential</mat-checkbox>
                </div>
                <div class="col-sm-6 m-b-10">
                  <mat-checkbox class="custom-mat-checkbox" formControlName="outpatient">Outpatient</mat-checkbox>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div *ngIf="this.personService.isEditable" class="col-sm-12 text-end m-r-20">
                  <button class="btn-pri" [disabled]="familyInfoForm.invalid" (click)="updateFamilyInfo()">Update</button>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>