<div *ngIf = "moduleview">
<div class="clearfix text-end pt-10">
    <span *ngFor="let payments of paymentList; let i=index;">
        <h5 class="amount" *ngIf="i===0">Total Expenditure:<span class="m-l-10">${{payments.grandtotal}}</span></h5>
    </span>
</div>
<div class="clearfix pt-10" *ngFor="let payments of paymentList; let i=index;">
    <ul class="list-unstyled list-inline d-flex justify-content-between align-items-center theme-heder-bg minus-icon">
        <li class="list-inline-item">
            <h5>{{payments?.firstname}} {{payments?.lastname}} {{payments?.suffix}} </h5>
        </li>
        <li class="m-l-20 list-inline-item"><span><span> CJAMSPID: </span><strong>{{payments?.client_id}} </strong></span></li>
        <li class="m-l-20 list-inline-item"><span><span> Age: </span><strong>{{payments?.age}} </strong></span></li>
        <li class="m-l-20 list-inline-item"><span><span>DOB: </span><strong>{{payments?.dob | date:'MM/dd/yyyy'}}</strong></span></li>
        <li class="m-l-20 list-inline-item"><span><span>Gender: </span><strong>{{payments?.gender}}</strong></span></li>
        <li class="m-l-20 list-inline-item"><span><span>Total Amount:</span> ${{payments?.grouptotal}}</span></li>
        <li class="list-inline-item" id="{{i}}"><a href="#accordion{{i}}" aria-expanded="false" aria-hidden="true"
                data-bs-toggle="collapse"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
    </ul>
    <div class="m-b-20 collapse" id="accordion{{i}}">
        <div class="table-responsive table-theme brd">
            <table class="table table-striped r-align" aria-describedby="Payment Details">
                <thead>
                    <tr>
                        <th scope="col">Payment ID</th>
                        <th scope="col">Payment Detail ID</th>
                        <th scope="col">Payment Date</th>
                        <th scope="col">Provider Name</th>
                        <th scope="col">Fiscal Category Code</th>
                        <th scope="col">Service Start Date</th>
                        <th scope="col">Service End Date</th>
                        <th scope="col">Description</th>
                        <th scope="col">Amount </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let paymentlist of payments.payments">
                        <td>{{paymentlist?.payment_id}}</td>
                        <td>{{paymentlist?.payment_detail_id}}</td>
                        <td>{{paymentlist?.payment_dt | date: 'MM/dd/yyyy'}}</td>
                        <td>{{paymentlist?.provider_nm}}</td>
                        <td>{{paymentlist?.final_fiscal_category_cd}}</td>
                        <td>{{paymentlist?.final_service_start_dt  | date: 'MM/dd/yyyy'}}</td>
                        <td>{{paymentlist?.final_service_end_dt  | date: 'MM/dd/yyyy'}}</td>
                        <td>{{paymentlist?.payment_type_nm}}</td>
                        <td>${{(paymentlist?.gross_amount_no - (paymentlist.offset_amount_no ? paymentlist.offset_amount_no : 0)) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
