/***************************** MAY 12 *********************/

.clm-first {
    background: #9ce4f2;
}
.clm-second {
    background: #e0eccd;
}
.clm-third {
    background: #f2d4b0;
}
.clm-fourth {
    background: #9de0ad;
}

.clm-first tr.selected-field,
.clm-first tbody tr:hover,
.clm-fourth tr.selected-field,
.clm-fourth tbody tr:hover {
    background: #e0eccd;
}
.clm-second tr.selected-field,
.clm-second tbody tr:hover {
    background: #f2d4b0;
}
.clm-third tr.selected-field,
.clm-third tbody tr:hover {
    background: #9de0ad;
}
[class*='clm-'] {
    min-height: 600px;
    max-height: 750px;
    border: 1px solid #fff;
}
.topsection {
    padding: 10px;
    border-bottom: 1px solid #9a9a9a;
}
.selectlist {
    padding: 10px 8px;
}
.selectlist label > span {
    font-size: 12px;
}
.selectlist .control {
    padding-left: 10px;
    // margin-bottom: 10px;
    margin-left: 5px;
    display: inline;
}
td .selectlist .control {
    margin-bottom: 0;
    padding: 0;
}
.permission-clms li a {
    color: #000;
    height: 50px;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
}
th.rotate {
    height: 75px;
    white-space: nowrap;
}
th.rotate > div {
    transform: translate(4px, 3px) rotate(-90deg);

    width: 15px;
}
th.rotate > div > span {
    font-size: 12px;
}
// .table .selectlist .control__indicator {
//     margin-left: 0;
//     background: #ffffff;
// }
.table .selectlist {
    padding: 0;
}
.table td:last-child .selectlist {
    padding-right: 5px;
}
.multi-checks .control input {
    position: relative;
}
.multi-checks {
    overflow: hidden;
}
// .multi-checks .table > tbody > tr > td {
//     border-color: rgba(165, 165, 165, 0.64);
//     vertical-align: middle;
// }
.multi-checks tr th:first-child {
    width: 70%;
}
.multi-checks tbody td:first-child:hover {
    cursor: pointer;
}
.multi-checks th {
    vertical-align: bottom;
}

.table > thead > tr > th {
    border-bottom: 1px solid #d8d8d8;
}
.add-permission {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.added-group {
    padding: 15px 0px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    margin-bottom: 20px;
    position: relative;
}
.added-group ul {
    margin-bottom: 0;
}
.added-group li {
    background: #ececec;
    padding: 5px 15px;
    border-radius: 3px;
    margin: 0px 5px;
}
.added-group .edit-group {
    width: 7%;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e2e2e2;
}

.permission-radio {
    background: #ccc;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.permission-radio .control {
    display: inline;
}
.permission-radio .control__indicator {
    position: absolute;
    top: 3px;
    left: 0px;
}
.permission-clms .permission-list li {
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
}
.permission-clms .permission-list li > .selectlist {
    text-align: left;
    min-height: 65px;
}
.permission-clms .permission-list li > .selectlist label {
    width: 145px;
}
.icon-action tr {
    transition: all 0.2s;
}
.icon-action tr.selected {
    background: #d5e5ff;
}
.icon-action tbody tr:hover,
.icon-action tbody tr.active {
    background: #d5e5ff;
}
.added-permissions td.tbg-grey {
    background: #e2e2e2;
}
.added-permissions td {
    font-size: 13px;
}
.group-role-tbl {
    border: 0;
    th {
        border-top: 1px solid #d8d8d8 !important;
        position: -webkit-sticky; 
        position: sticky;
        top: 0;
        z-index: 5;
        background: #fff;
    }
    td:last-child {
        text-align: center;
    }
}
// .group-role-tbl tbody tr:after {
//     border-top: 15px solid transparent;
//     border-bottom: 15px solid transparent;
//     border-left: 13px solid #fff;
//     height: 0;
//     width: 0;
//     float: left;
//     content: '';
//     position: absolute;
//     margin-top: 4px;
// }
// .group-role-tbl tbody tr:hover:after, .group-role-tbl tbody tr.selected:after {
//     border-top: 15px solid transparent;
//     border-bottom: 15px solid transparent;
//     border-left: 13px solid #d5e5ff;
//     height: 0;
//     width: 0;
//     float: left;
//     content: '';
//     position: absolute;
//     margin-top: 4px;
// }

.profile-accordian table > thead {
    background: #cedde0;
}
.profile-accordian table > thead th {
    vertical-align: middle;
    padding: 8px 8px 0;
}
.profile-accordian table > thead th label.control {
    padding-left: 15px;
    display: initial;
}
.profile-accordian table > tbody {
    background: #f9f9f9;
}
.profile-accordian .inner-addon {
    width: 50%;
}
.profile-accordian .table > tbody > tr > td {
    border: 0;
}
.profile-accordian table > tbody > tr:nth-child(even) {
    background: #f3f4f5;
}
.profile-accordian table th.rotate p {
    margin-bottom: 5px;
}
.profile-accordian .table > tbody > tr > td .selectlist .control {
    margin-left: 15px;
}
.profile-accordian .card-header {
    background: #f3f3f3;
    padding:10px 15px 0;
    border-bottom:0px;
}
.profile-accordian .card-header .nav-tabs {
    border-bottom:none;
}
.profile-accordian .card-body {
    height: 320px;
    overflow: hidden;
    overflow-y: auto;
    padding:0;
}
.m-height {
    height: 380px;
    overflow: hidden;
    overflow-y: auto;
}
.md-checkbox p {
    margin-bottom: 0;
}