<div class="dashboard-cont no-pad">
  <div *ngIf="(addressList)?.length !== 0" class="row">
      <div class="col-sm-6 col-xl-3 col-lg-4 mb-15" *ngFor="let address of addressList; let i=index;" >
          <div class="current-wrapper m-b-10">
            <mat-radio-button *ngIf="!address?.personadrenddate" name="current-address" (change)="markAsCurrentAddress(address)" [checked]="address?.currentlocationflag === 1">Current Address</mat-radio-button>
          </div>
          <div class="add-list-item font-13">    
            <div class="p-8 header-hg">
                <div class="row">
                    <div class="col-sm-5">
                      <span class="address-type address-bgcolor">{{address?.Personaddresstype?.typedescription}}</span>
                    </div>
                    <div class="col-sm-7" *ngIf="address?.danger === false">
                      <div class="danger-reason">
                        <span class="address-type"> <strong> No Known Danger </strong> </span>
                      </div>
                    </div>
                    <div class="col-sm-7" *ngIf="address?.danger === true">
                      <div class="danger-reason danger-msg">
                        <span class="address-type danger-color"><em class="fa fa-warning font-size" aria-hidden="true"></em>
                        <strong>{{address?.dangerreason}}</strong> </span>
                      </div>
                    </div>
                    <div class="col-sm-7" *ngIf="address?.danger == null">
                      <div class="danger-reason">
                        <span class="address-type"> <strong> Unknown </strong> </span>
                      </div>
                    </div>
                </div>
            </div>
            <div class="card-body hg">
                <div class="pb-0">
                    <div class="col-sm-12 px-3" >
                    <label class="address-lb" > {{address?.address}} {{(address?.address2) ? ', '+address.address2 : ''}} 
                        <br />{{address?.city}} {{address?.countydescription}} {{address?.state}} 
                        {{address?.zipcode}}
                    </label>
                    </div>
                    <div class="row col-sm-12 px-3">
                        <div class="col-sm-6 p-r-0"><label>From: </label> {{(address?.addressstartdate) ? (address?.addressstartdate | date:"MM/dd/yyyy") : 'N/A'}} </div>
                        <div class="col-sm-6 p-r-0"><label>To:  </label> {{(address?.personadrenddate) ? (address?.personadrenddate | date:"MM/dd/yyyy") : 'N/A' }} </div>
                    </div>
                    <div class="col-sm-12 px-3">
                        <p><label>Approx. Duration: </label> {{(address?.durationDay) ? address?.durationDay : 'N/A' }} </p>
                    </div>
                </div>
            </div>
          <div class="p-8 action">
              <div class="row">
                  <div class="col-sm-12 text-end action-btn d-flex">
                    <div class="col-sm-6 text-start" id="div-edit"><a (click)="editAddress(address)"><em class="fa fa-edit"></em>&nbsp;&nbsp;Edit</a></div>
                    <div [ngClass]="{'col-sm-6 pull-right disable-anchor': isClosed}" id="div-delete">
                      <a (click)="confirmDelete(address.personaddressid)" [ngClass]="{'pointer-events-none': isClosed}"><em class="fa fa-trash"></em>&nbsp;&nbsp;Delete</a></div>
                  </div>
              </div>
          </div>
        </div>       
      </div>    
  </div>
</div>

<div class="modal fade custom-modal" id="delete-popup" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Confirm Delete</h4>
            <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" style="float: right;"></button>
          </div>
          <div class="modal-body">
              <p>Are you sure you want to delete this item?</p>
              <div class="text-end big-bot-space right-mspace-15">
                  <button type="button" value="No" class="btn-bg" name="" (click)="declineDelete()">No</button>
                  <button type="button" value="Yes" class="btn-pri" name="" (click)="deleteAddress()">Yes</button>
              </div>
          </div>
      </div>
  </div>
</div>