.semi-b {
    font-weight: 600;
    font-size: 15px;
}

tr.selected-bg {
    background: #00a2fd2b !important
}

.icon-btn {
    outline: none;
    border: none;
    background: transparent;
}

.icon-btn i {
    color: #00A2FD;
}

.id-clr {
    color: #00A2FD;
}