button[disabled], html input[disabled] {cursor: default; background: #ccc; border:1px solid #ccc; color:#000;}
#myModal-add-edit-events .modal-dialog {width:870px;}
#myModal-add-edit-events .modal-body{min-height:320px;}

label {
    margin-top: 7px;
    font-weight: 700;
    font-size: 11px;
    color: #4c4848;
    text-align: left;
    padding-right: 0px;}