<div class="row m-t-10">
    <div class="col-md-12">
        <div class="card panel-default panel-theme">
            <div class="card-header">
                <span class="site-color text-22"
                    >Guardianship
                    <button
                        type="button"
                        class="close me-10 text-22"
                    >
                        x
                    </button>
                </span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 gap-nav">
                        <ul
                            class="nav nav-tab mrg-btm25 cus-tab-section"
                        >
                            <li routerLinkActive="active">
                                <a
                                    routerLink="sc-disclosure-checklist"
                                    ><span class="tab-txt"
                                        >Disclosure Checklist </span
                                    ><span
                                        class="circle fa fa-pencil"
                                    ></span
                                ></a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="sc-agreement"
                                    ><span class="tab-txt"
                                        >Agreement </span
                                    ><span
                                        class="circle fa fa-pencil"
                                    ></span
                                ></a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="annual-reviews"
                                    ><span class="tab-txt"
                                        >Annual Reviews </span
                                    ><span
                                        class="circle fa fa-pencil"
                                    ></span
                                ></a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="assignments"
                                    ><span class="tab-txt"
                                        >Suspension</span
                                    ><span
                                        class="circle fa fa-pencil"
                                    ></span
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- for CW -->
                <div
                    class="row"
                    *ngFor="
                        let child of permanencyPlanList;
                        let i = index
                    "
                >
                    <ng-container *ngIf="isGAPApproved(child)">
                        <div class="col-sm-3">
                            <h5>Name#</h5>
                            <p class="m-0">
                                {{ child?.firstname }}
                                {{ child?.lastname }}
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <h5>CJAMS PID#</h5>
                            <p class="m-0">
                                {{ child?.cjamspid }}
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <h5>D.O.B</h5>
                            <p class="m-0">
                                {{
                                    child?.dob
                                        | date: "MM/dd/yyyy"
                                }}
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <h5>Gender</h5>
                            <p class="m-0">
                                {{ child?.gender }}
                            </p>
                        </div>
                    </ng-container>
                </div>
                <!-- for Non CW -->

                <div class="me-15 mrg-btm25 custom-textarea">
                    <div class="row">

                        <div class="col-sm-12">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
