
.card >.card-header{
    background-color:#337ab7 !important;
    border-color:#337ab7 !important;
}
.table>thead>tr.active>th{
    background-color: #f5f5f5 !important;
}
li a{
text-decoration: none !important;
}
.table a {
    color: #00bcd3 !important;
    text-decoration: none !important;
    font-weight: 700 !important;
    font-size: 13px !important;
}