.person-panel {
    border: 2px solid #e2e2e2;
    margin-top: 10px;
    margin-bottom: 0;

}
.person-panel .card-header {
    width: 100%;
    color: #00A2FD;
    padding: 15px;
    background: #fff;
    border-bottom: 2px solid #e2e2e2;
}
.person-panel .card-header h4 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;
    margin-top: 0;
}
.person-panel > span {
    margin-bottom: 0;
    display: block;
    border: 2px solid #00A2FD;
    width: 130px;
    text-align: center;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 3px 5px;
}
.person-panel .media-body ul li a i {
    font-size: 18px;
    color: #777;
}
.person-panel .media-right {
    vertical-align: bottom;
}

.person-panel .card-title {
    color: #57595a;
    font-weight: 600;
    font-size: 16px;
    min-height: 36px;
}

.person-panel .card-header span.f-size {
    padding-left: 30px;
    font-size: 13px;
}
span.categori-name {
    font-size: 12px;
    margin-right: 15px;
    border: 1px solid #0277bd;
    padding: 5px 15px;
    border-radius: 20px;
}
.person-panel .card-body dl dt,
.person-panel .card-body dl dd {
    font-weight: 600;
    color: #676767;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.appointment-panel {
    height: 300px;
    overflow: auto;
}

.person-panel .card-body dl {
    margin-bottom: 8px;
}
.person-panel .card-body dl dd {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
.person-panel .panel-footer {
    background: #fff;
    padding: 15px 15px 30px 15px;
    border-top: 2px solid #e2e2e2;
    color: #00A2FD;
}
.panel-footer ul li {
    float: right;
    text-align: center;
}

.header-bg {
    background: #e8f0fa;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    margin-bottom: 20px;
}


.table-theme .table th tr {
    border-bottom: 1px solid #D8D8D8;
    text-align: center !important;
}
.table-theme .table tr td {
    font-size: 13px;
    font-weight: 600;
    padding: 15px 8px;
    text-align: left !important; 
}
