

.action-btn button {
    color:#039be5;
    font-size: 16px;
    padding-right: 0px;
    outline: none;
    background: transparent;
    border: none;
}

.action-btn i:before {
    color:#039be5;
    font-size: 16px;
    height: 20px;
    width: 20px;
    padding-right: 5px;
}

.action-btn .fnt-sze i::before {
    font-size: 25px;
}

.input-search-report {
    position: relative;
    margin-bottom:20px;
    width: 100%;
}

.aut-btn-searchcase {
    position: absolute;
    top: 0;
    right: 0;
}

.modal-dialog{
    max-width: 40%
}