<div class="container-fluid">
  <h4 class="mrg-top25" *ngIf="roleName === 'SCRNW'"> <span *ngIf="isDjs">Referrals</span> <span
      *ngIf="!isDjs">Pre-Intake Referrals</span> </h4>
  <h4 class="mrg-top25" *ngIf="roleName !== 'SCRNW'"> <span *ngIf="isDjs">Intake Referrals</span> <span
      *ngIf="!isDjs">My Intakes</span></h4>
  <div class="dashboard-cont no-pad">
    <div class="tab-horizontal">
      <ul class="nav nav-pills" *ngIf="isDjs">
        <li class="nav-item active">
          <a class="nav-link" href="#case-pending" data-bs-toggle="tab" (click)="getPage(1, 'pending', true)">PENDING</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="#case-rejected" data-bs-toggle="tab" (click)="getPage(1,'rejected', true)">DENIED</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#case-accepted" data-bs-toggle="tab" (click)="getPage(1,'accepted', true)">ACCEPTED</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#case-accepted" data-bs-toggle="tab" (click)="getPage(1,'completed', true)">COMPLETED</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#case-accepted" data-bs-toggle="tab" (click)="getPage(1,'closed', true)">CLOSED</a>
        </li>
        <li class="nav-item ms-auto">
          <div class="pull-right m-search-container">
            <div class="inner-addon right-addon pull-right" [formGroup]="searchIntakeForm">
              <em aria-hidden="true" class="fa fa-search"></em>
              <input type="text" *ngIf="isDjs" class="form-control" formControlName="intakenumber"
                (input)="onSearch('intakenumber', $event)"
                placeholder="{{(roleName !== 'SCRNW')?'Search Intake':' Search Referrals'}}" />
              <input type="text" *ngIf="!isDjs" class="form-control" formControlName="intakenumber"
                (input)="onSearch('intakenumber', $event)"
                placeholder="{{(roleName !== 'SCRNW')?'Search Intake':' Search Pre-Intake'}}" />
            </div>
            <a class="btn btn-pri m-l-20 new-intake" *ngIf="isDjs"
              (click)="openIntake('')">{{(roleName !== 'SCRNW')?'+ New Intake':'+ New Referral'}}</a>
            <a class="btn btn-pri m-l-20 aut-btn-newIntake" *ngIf="!isDjs"
              (click)="openIntake('')">{{(roleName !== 'SCRNW')?'+ New Intake':'+ New Pre-Intake'}}</a>
          </div>
        </li>
      </ul>
      <ul class="nav nav-pills" *ngIf="!isDjs">
        <li class="nav-item"  [ngClass] ="{active :activeTab ==='pending'}">
          <a class="nav-link" href="#case-pending" data-bs-toggle="tab" (click)="getPage(1, 'pending', true)"
          
          >PENDING</a>
        </li>
        <li class="nav-item"  [ngClass] ="{active :activeTab ==='intakescreenin'}">
          <a class="nav-link" href="#case-accepted" data-bs-toggle="tab" (click)="getPage(1,'intakescreenin', true)"
         
          >SCREENED IN</a>
        </li>
        <li class="nav-item" [ngClass] ="{active :activeTab ==='intakescreenout'}">
          <a class="nav-link" href="#case-rejected" data-bs-toggle="tab" (click)="getPage(1,'intakescreenout', true)"
          
          >SCREENED OUT</a>
        </li>
        <li class="nav-item" [ngClass] ="{active :activeTab ==='spclosed'}">
          <a class="nav-link" href="#case-accepted" data-bs-toggle="tab" (click)="getPage(1,'spclosed', true)"
          
          >CLOSED AT INTAKE</a>
        </li>
        <li class="nav-item ms-auto">
          <div class="pull-right m-search-container">
            <div class="d-flex flex-column pull-right">
              <div class="d-flex">
                <div>
                  <a class="btn btn-pri new-intake m-l-20" *ngIf="isDjs"
                    (click)="openIntake('')">{{(roleName !== 'SCRNW')?'+ New Intake':'+ New Referral'}}</a>
                  <a class="btn btn-pri m-l-20 aut-btn-newIntake" *ngIf="!isDjs"
                    (click)="openIntake('')">{{(roleName !== 'SCRNW')?'+ New Intake':'+ New Pre-Intake'}}</a>
                </div>
                <div class="inner-addon right-addon m-search-intake" [formGroup]="searchIntakeForm">
                  <i aria-hidden="true" class="fa fa-search"></i>
                  <input type="text" *ngIf="isDjs" class="form-control" formControlName="intakenumber"
                    (input)="onSearch('intakenumber', $event)"
                    placeholder="{{(roleName !== 'SCRNW')?'Search Intake':' Search Referrals'}}" />
                  <input type="text" *ngIf="!isDjs" class="form-control" formControlName="intakenumber"
                    (input)="onSearch('intakenumber', $event)"
                    placeholder="{{(roleName !== 'SCRNW')?'Search Intake ID':' Search Pre-Intake'}}" maxlength="25" />
                </div>
                <div *ngIf="isCW" class="reset-search me-10">
                  <a href="javascript:void(0)" (click)="onSearch('intakenumber', null)" matTooltip="Reset Search"
                    class="reset-btn">Reset</a>
                </div>
              </div>
              <div class="d-flex col">
                <ng-container *ngIf="showWorkerList && !isDjs">
                  <div class="inner-addon right-addon pull-right m-worker" style="padding-top: 5px; padding-right: 3px">
                    <label for="securityusersid">Worker: </label>
                  </div>
                  <div class="pull-right m-sec-id" [formGroup]="assignedCaseForm">
                    <select name="securityusersid" id="securityusersid" class="form-select" formControlName="securityusersid">
                      <option *ngFor="let item of workerList" [value]="item.userid">{{item.username}}</option>    
                    </select>
                  </div>
                  <div>
                    <a class="btn btn-pri m-l-10 new-intake aut-btn-newIntake m-btn-worker" *ngIf="!isDjs"
                    (click)="workerChange()">GO</a>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="tab-content boxgrid">
        <div class="tab-pane active" id="case-pending">
          <div class="cnt-min-height">
            <div class="table-responsive table-theme">
              <table class="table table-striped" sortable-table (sorted)="onSorted($event)" aria-describedby="tbl-new-sveintke-dtls">
                <thead>
                  <tr>
                    <th *ngIf="agency==='DJS'" scope="col">Youth</th>
                    <th *ngIf="agency==='DJS'" scope="col">CJAMS PID</th>
                    <th sortable-column="intakenumber" scope="col">
                      <span *ngIf="(isDjs && roleName === 'SCRNW'); else nonReferal">Referral Number</span>
                      <ng-template #nonReferal>
                        <span *ngIf="isDjs">Referral Number</span>
                        <span *ngIf="!isDjs">Intake Number</span>
                      </ng-template>
                    </th>
                    <th *ngIf="status === 'transfer'" scope="col">TRANSFER REQUESTED BY</th>
                    <th *ngIf="status === 'transfer'" scope="col">TRANSFER REQUESTED ON</th>
                    <th *ngIf="status === 'transfer'" scope="col">Head of Household</th>
                    <th *ngIf="status === 'transfer'" scope="col">Intake received date & time</th>
                    <th *ngIf="status !== 'transfer'" scope="col">Status</th>
                    <th *ngIf="status !== 'transfer'" sortable-column="datereceived" scope="col">Received Date & Time</th>
                    <th *ngIf="status !== 'transfer'" sortable-column="updateddate" sort-direction="desc" scope="col">Updated Date & Time</th>
                    <th> Purpose </th><!--/* //NOSONAR */-->
                    <th *ngIf="status === 'transfer'" scope="col">RECEVING JURISDICTION</th>
                    <th *ngIf="!isDjs && status !== 'transfer'" scope="col">Narrative</th>
                    <th *ngIf="agency!=='DJS' && status !== 'transfer'" scope="col">{{(agency==='CW')?'Head of Household':'Focus'}}</th>
                  </tr>
                </thead>

                <tbody *ngIf="intakes; let intakes">
                  <ng-container *ngIf="intakes.length>0; else noItems">
                    <tr *ngFor="let item of intakes">
                      <td *ngIf="agency==='DJS'">
                        <span *ngIf="item.youthcjamspid"> {{item.youthname}}</span>
                        <span *ngIf="!item.youthcjamspid"> {{item.raname}}</span>
                      </td>
                      <td *ngIf="agency==='DJS'"> {{item.youthcjamspid}} </td>
                      <td *ngIf="roleName !== 'SCRNW'">
                        <a *ngIf="item?.intakenumber" (click)="openIntake(item.intakenumber)">{{item?.intakenumber}}</a>
                        <span *ngIf="item?.sdm?.length"> <span matTooltip="Child Fatality"
                            *ngIf="item?.sdm?.length && item?.sdm?.[0]?.ischildfatality" class="dot yellow-dot"></span><span
                            matTooltip="Provider Maltreatment" *ngIf="item?.sdm?.length && item?.sdm?.[0]?.ismaltreatment"
                            class="dot blue-dot"></span></span>
                      </td>
                      <td *ngIf="roleName === 'SCRNW'">
                        <a *ngIf="item?.intakenumber" (click)="openIntake(item.intakenumber)">{{item?.intakenumber}}</a>
                      </td>
                      <td *ngIf="status === 'transfer'">{{item?.requestorname}}</td>
                      <td *ngIf="status === 'transfer'">{{item?.transferdate |date:'MM/dd/yyyy, h:mm a'}}</td>
                      <td *ngIf="status === 'transfer'">{{item?.hoh_name}}</td>
                      <td *ngIf="status === 'transfer'">{{item?.datereceivedeststr | date:'MM/dd/yyyy, h:mm a'}}</td>
                      <td *ngIf="status !== 'transfer'"> {{item.reviewstatus === 'Draft' ? 'In Progress' : item.reviewstatus === 'Review' ? 'Pending Approval': item.reviewstatus === 'Reopen' ? 'Returned from Supervisor': item.reviewstatus}}</td>                      
                      <td *ngIf="status !== 'transfer'"> {{item.datereceived  | date:'MM/dd/yyyy, h:mm a'}}</td>
                      <td *ngIf="status !== 'transfer'"> {{item.updateddateeststr}} </td>
                      
                      <td>
                        {{(status === 'transfer')? item?.transferreason : item?.purpose?.description}}
                      </td>
                      <td *ngIf="status === 'transfer'">{{item?.receivingcountyname}}</td>
                      <td *ngIf="!isDjs && status !== 'transfer'">
                        <a [routerLink]="" (click)="openNarrativeDialog(item)"> <em class="fa fa-file"></em> </a>
                      </td>
                      <td *ngIf="agency!=='DJS' && status !== 'transfer'">
                        <ng-container *ngIf="validate(item?.headofhousehlod); else stringTemplate">
                          <span *ngFor="let item of item.headofhousehlod; let isLast=last">
                            {{item.personname}}<span *ngIf="!isLast">, </span>
                          </span>
                        </ng-container>
                        <ng-template #stringTemplate>
                          N/A
                        </ng-template>
                      </td> <!-- fix here for D-07998 & D-07946-->
                    </tr>
                  </ng-container>

                </tbody>
              </table>
              <ng-template #noItems>
                <p class="no-datatxt"> No Items! </p>
              </ng-template>
              <div class="text-center m-t-20" *ngIf="totalRecords>0">
                <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                  (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
                  [itemsPerPage]="paginationInfo.pageSize">
                </pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="broadcoastmessage">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title bc-pop-title"> BroadCast Message </h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" (click)="acceptAnnouncement()"></button>
      </div>
      <div class="modal-body" *ngIf="showBroadCostMessage; let item">
        <p> {{item.details}} </p>
        <div class="text-end big-bot-space right-mspace-15">
          <button type="button" value="Yes" class="btn-pri ok-but" data-bs-dismiss="modal" (click)="acceptAnnouncement()">
            Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="narrative-dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title bc-pop-title"> Narrative </h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="pre-tag-content-alignment" [innerHtml]="narrative"> </div>
        <div class="text-end big-bot-space right-mspace-15">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>