<div class="row">
    <form [formGroup]="planseconeForm">
        <div class="col-sm-12 brd-lft m-t-20">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <p>INTRODUCTION: This Plan of Safe Care (POSC) is being developed to ensure that necessary
                            services and supports are in place for the
                            mother, father, newborn, and other caregivers of the newborn. The POSC is developed by
                            gathering information from the mother,
                            father, caregiver, family members, birthing hospital, medical records, and child welfare
                            notes, as well as, input from community partners involved in supporting the mother, father,
                            caregiver and newborn. A copy of this POSC will be shared with the identified family
                            member/s. POSC developed for all SEN cases on or before 60th day along with Safety Plan or
                            Service Plan. The LDSS worker identified
                            will be the primary point of contact for the family and POSC Plan Participants during the
                            assessment and development and implementation of this plan.</p>
                    </div>

                    <div class="row m-t-20">

                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Date</mat-label>
                                <input [disabled]="true" formControlName="safecareplandate" matInput autocomplete="off"
                                    [matDatepicker]="picker1" placeholder="">
                                <mat-datepicker-toggle matSuffix [for]="picker1">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="row m-t-20">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>LDSS Worker's Name</mat-label>
                                <input type="text" matInput formControlName="name" placeholder="">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-label>Unit</mat-label>
                                <input type="text" matInput formControlName="unit" placeholder="">
                            </mat-form-field>
                        </div>

                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-label>Phone No</mat-label>
                                        <input type="text" matInput placeholder="" formControlName="phoneno">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-label>Email</mat-label>
                                        <input type="text" matInput placeholder="" formControlName="email">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 float-right">
                            <button class="btn btn-pri float-end" (click)="showmember=true;memberReset();"
                                [disabled]="isViewMode">Add New Member</button>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Add new Members-->
                        <div class="inner-accord m-t-20" [formGroup]="memberForm">
                            <ng-container *ngIf="showmember">
                                <div class="clearfix"></div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-4">
                                            <mat-form-field>
                                                <mat-label>Family Member</mat-label>
                                                <mat-select [(value)]="selected" formControlName="familymember"
                                                    placeholder="" required
                                                    (selectionChange)="familymemberchange($event)">
                                                    <mat-option value="Parent">Parent</mat-option>
                                                    <mat-option value="Newborn">New Born</mat-option>
                                                    <mat-option value="Caregiver">Caregiver</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-error *ngIf="checkforrequired && memberForm.get('familymember')?.invalid">Please
                                                enter Family Member</mat-error>
                                        </div>
                                        <div class="col-sm-12 col-lg-4">
                                            <mat-form-field>
                                                <mat-label>Client</mat-label>
                                                <mat-select placeholder="" formControlName="personid" required
                                                    (selectionChange)="getClientNameList($event.value, personListFilter)">
                                                    <mat-select-trigger>
                                                        {{selectedClientName}}
                                                    </mat-select-trigger>
                                                    <mat-option class="multi-line-mat-option"
                                                        *ngFor="let item of personListFilter" [value]="item.personid">
                                                        {{getFullName(item)}}
                                                        <div class="personinvolve-role">
                                                            <span class="role-description">
                                                                {{item.dob | date:'MM/dd/yyyy'}}, {{item.userroles}},
                                                                {{item.cjamspid}}
                                                            </span>
                                                        </div>
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-error *ngIf="checkforrequired && memberForm.get('personid')?.invalid">Please
                                                enter Client</mat-error>
                                        </div>
                                        <div class="col-sm-12 col-lg-4" *ngIf="showparentdd || showcaregiverdd">
                                            <mat-form-field>
                                                <mat-label>Parent/Caregiver Status</mat-label>
                                                <mat-select formControlName="declinemember"
                                                    placeholder="">
                                                    <mat-option value="Household">Household Member</mat-option>
                                                    <mat-option value="Nonhousehold">Non-Household Member</mat-option>
                                                    <mat-option value="Deceased">Deceased</mat-option>
                                                    <mat-option value="Unknown">Incarcerated</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row m-t-20">
                                        <div class="col-md-3 col-sm-3">
                                            <label> Category - Opioids </label>
                                            <div *ngFor="let country of CheckboxOpioidsList; let i=index">
                                                <input type="checkbox" [id]="country.id" [checked]="country.ischecked"
                                                    formArrayName="selectedOpioids" [value]="country.id"
                                                    (change)="onCheckboxOpioidsChange($event)" />
                                                {{ country.label}}
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <label> Category - Stimulants </label>
                                            <div *ngFor="let chkst of CheckboxStimulantsList; let i=index">
                                                <input type="checkbox" [id]="chkst.id" [checked]="chkst.ischecked"
                                                    formArrayName="selectedStimulants" [value]="chkst.id"
                                                    (change)="onCheckboxStimulantChange($event)" /> {{chkst.label}}
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <div>
                                                <label> Category - Depressants </label>
                                                <div *ngFor="let chkdp of CheckboxDepressantsList; let i=index">
                                                    <input type="checkbox" [id]="chkdp.id" [checked]="chkdp.ischecked"
                                                        formArrayName="selectedDepressants" [value]="chkdp.id"
                                                        (change)="onCheckboxDepressantsChange($event)" />
                                                    {{chkdp.label}}
                                                </div>
                                            </div>
                                            <div>
                                                <input type="checkbox" style="margin-top: 20px;"
                                                formControlName="substanceUse" (change)="onSubStanceChage($event)"/> No Substance Use
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <label> Category - Hallucinogens </label>
                                            <div *ngFor="let chkhl of CheckboxHallucinogensList; let i=index">
                                                <input type="checkbox" [id]="chkhl.id" [checked]="chkhl.ischecked"
                                                    formArrayName="selectedHallucinogens" [value]="chkhl.id"
                                                    (change)="onCheckboxHallucinogensChange($event)" />
                                                {{chkhl.label}}
                                            </div>
                                            <mat-form-field>
                                                <mat-label>Other</mat-label>
                                                <input type="text" matInput formControlName="othercategory"
                                                    [required]="otherCategoryRequired" placeholder="">
                                            </mat-form-field>
                                            <mat-error
                                                *ngIf="checkforrequired && otherCategoryRequired && memberForm.get('othercategory')?.invalid">
                                                Please Enter value in Other</mat-error>
                                        </div>
                                    </div>

                                    <mat-error *ngIf="checkforrequired && (getMemberFormData('selectedOpioids').length === 0 && 
                                    getMemberFormData('selectedStimulants').length === 0 && 
                                    getMemberFormData('selectedDepressants').length === 0 && 
                                    getMemberFormData('selectedHallucinogens').length === 0 && 
                                    !memberForm.get('substanceUse')?.value)">Please enter
                                        atleast one from the above category of
                                        Opioids/Stimulants/Depressants/Hallucinogens/No Substance Use</mat-error>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 ">
                                        <mat-form-field>
                                            <mat-label>Date of Birth</mat-label>
                                            <input type="text" matInput formControlName="memberDob"
                                                placeholder="">
                                        </mat-form-field>
                                    </div>
                                    <div class=" col-md-6 col-sm-6" *ngIf="showparentdd || showcaregiverdd">
                                        <mat-form-field>
                                            <mat-select formControlName="dobdeclinemember">
                                                <mat-option value="Unknown">Unknown</mat-option>
                                                <mat-option value="Decline">Declined to disclose</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <mat-form-field>
                                            <mat-label>Contact Number</mat-label>
                                            <input type="text" mask="(000) 000-0000" pattern="^(\d{3})(\d{3})(\d{4})$"
                                                matInput formControlName="phonenumber" placeholder="">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6 col-sm-6" *ngIf="showparentdd || showcaregiverdd">
                                        <mat-form-field>
                                            <mat-select formControlName="declinememberphonenumber">
                                                <mat-option value="Na">N/A</mat-option>
                                                <mat-option value="Unknown">Unknown</mat-option>
                                                <mat-option value="Decline">Declined to disclose</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <mat-form-field>
                                            <mat-label>Address</mat-label>
                                            <input type="text" matInput formControlName="memberAddress"
                                                placeholder="">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6 col-sm-6" *ngIf="showparentdd || showcaregiverdd">
                                        <mat-form-field>
                                            <mat-select formControlName="homelessmember">
                                                <mat-option value="Unknown">Unknown</mat-option>
                                                <mat-option value="Homeless">Homeless</mat-option>
                                                <mat-option value="Unknown">Incarcerated</mat-option>
                                                <mat-option value="Decline">Declined to disclose</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-md-12 text-end">
                                    <button class="btn btn-pri" *ngIf="showAdd" type="button" (click)="addMember();"
                                        [disabled]="memberForm.pristine">Save</button>
                                    <button class="btn btn-pri" [disabled]="(getMemberFormData('selectedOpioids').length === 0 && 
                                getMemberFormData('selectedStimulants').length === 0 && 
                                getMemberFormData('selectedDepressants').length === 0 && 
                                getMemberFormData('selectedHallucinogens').length === 0 && 
                                !memberForm.get('substanceUse')?.value)
                           || memberForm.invalid" *ngIf="!disableSave && !showAdd" type="button"
                                        (click)="updateMember();">Update</button>
                                    <button class="btn sec-btn" type="button"
                                        (click)="memberReset(); showmember=false">{{disableSave ? 'Close' :
                                        'Cancel'}}</button>
                                </div>

                            </ng-container>

                        </div>

                        <!-- Table Listing -->
                        <div class="row" *ngIf="!showmember">
                            <div class="col-md-12 m-t-20 brd-lft">
                                <div class="table-responsive table-theme">
                                    <table class="table table-striped" sortable-table aria-describedby="client details">
                                        <thead>
                                            <tr>
                                                <th id="family-member" sortable-column="clientname">Family Member</th>
                                                <th id="client-name" sortable-column="establisheddate">Client Name</th>
                                                <th id="member-dob" sortable-column="enddate">Member Dob</th>
                                                <th id="member-address" sortable-column="enddate">Member Address</th>
                                                <th id="action">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let membercol of memberCollectionList">
                                                <tr>
                                                    <td>{{membercol?.familymember }}</td>
                                                    <td>{{membercol?.personName }}</td>
                                                    <td>{{membercol?.memberDob}}</td>
                                                    <td>{{membercol?.memberAddress }}</td>
                                                    <td>
                                                        <a matTooltip="Edit Member" style="margin-right: 5px;"
                                                            (click)="editMember(membercol, 'edit');">
                                                            <em class="fa fa-pencil"></em>
                                                        </a>

                                                        <a matTooltip="View Member" style="margin-right: 5px;"
                                                            (click)="editMember(membercol, 'view');">
                                                            <em class="fa fa-eye"></em>
                                                        </a>

                                                        <a matTooltip="Delete Member Plan" style="margin-right: 5px;"
                                                            (click)="confirmDelete('Member', membercol); showmember= false;">
                                                            <em class="fa fa-trash"></em>
                                                        </a>

                                                    </td>

                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



                        <!-- Delete Modal -->
                        <div class="modal fade" id="delete-popup" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title"> Confirm Delete </h4>
                                        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p> Are you sure want to delete this record? </p>
                                        <span [ngSwitch]="deletetype">
                                            <strong *ngSwitchCase="'service'">
                                                Note: All goals, objectives and actions under this service will be
                                                deleted.
                                            </strong>
                                            <strong *ngSwitchCase="'goal'">
                                                Note: All objectives and actions under this goal will be deleted.
                                            </strong>
                                            <strong *ngSwitchCase="'objective'">
                                                Note: All actions under this objective will be deleted.
                                            </strong>
                                        </span>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="text-end right-mspace-15">
                                            <button type="button" value="No" class="btn-bg" name=""
                                                data-bs-dismiss="modal"> No </button>
                                            <button type="button" value="Yes" class="btn-pri" name=""
                                                data-bs-dismiss="modal" (click)="deleteItem()"> Yes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="float-end">
                            <button class="btn btn-pri float-end mt-20" type="button" *ngIf="!showmember"
                            (click)="saveSectionDetail()">Next</button>
                        </div>  

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>