.investigation-findings-popup .borderless td {
    border: 0;
}
.pt-20 {
    padding-top: 20px;
}

.modal-dialog.modal-lg {
    max-width: 950px !important;
    width: auto !important;
}

.example-full-collapse-horizontal {
  display: inline-flex !important;
  width: 100% !important;
}
