.cal-link {
    color: #00A2FD;
}

.btn-icon button {
    outline: none;
    background: none;
    border: none;
}

.btn-icon button i:before {
    color: #00A2FD;
    font-size: 14px;
}

.h5-title {
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #24292e;
}

.modal#purchase-authorization .table > thead th {
    color: #000000 !important;
}

.border {
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
}

.justify-area textarea {
    width: 100%;
    border: 1px solid #dddddd;
    min-height: 67px;
}

label {
    font-weight: 400;
}

// .modal-content.reject {
//     height: 230px !important;
// }

// .modal-content.update {
//     height: 160px !important;
// }

.tab-horizontal .nav-pills>li {
    margin-bottom: 0px;
}

.tab-horizontal .nav {
    border: none;
}

.status {
    width: 20%;
    position: absolute;
    top:-3%;
    right: 1.5%;
}

.search-box {
    width: 20%;
    position: absolute;
    top:-2%;
    right: 21%;
    margin-top: -04px;
}

span {
    font-weight: 700;
}

#approval-history .modal-body {
    max-height: 65vh;
}

.custom-wid .modal-content {
    height: unset !important;
}

.red {
	color: red;
}

.info-icon {
    font-size: 16px;
    margin-left: 8px;
    color: #474b4e; /* Material blue */
    cursor: pointer;
  }