<div class="left-side-box space-15 textLeft" [formGroup]="formSearchCriteria">
    <div *ngIf="providerAttributeSelector.nameFilter.show">
        <h4> Name Filters </h4>
        <div class="row" *ngIf="providerAttributeSelector.nameFilter.legalName">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> Legal Name </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10">
                <input type="text" class="form-control" placeholder="" name="legalname" formControlName="agencyname">
            </div>
        </div>
        <div class="row" *ngIf="providerAttributeSelector.nameFilter.officialName">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> Official Name </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10">
                <input type="text" class="form-control" placeholder="" name="officialname" formControlName="agencyname">
            </div>
        </div>
        <div class="row" *ngIf="providerAttributeSelector.nameFilter.dbaName">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> DBA Name </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10">
                <input type="text" class="form-control" placeholder="" name="dbaname" formControlName="name">
            </div>
        </div>
        <div class="row" *ngIf="providerAttributeSelector.nameFilter.status">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for="">Status</label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10 ">
                <ng-select [searchable]="true" [clearable]="false"  name="status" formControlName="status">
                    <ng-option selected="selected" value="">--select--</ng-option>
                    <ng-option *ngFor="let item of statusDropdownItems$ | async|orderBy:'text'" [value]="item.value">{{item.text}}</ng-option>
                </ng-select>
            </div>
        </div>

        <div class="sep-top-blue ver-mspace bot-space"> </div>
    </div>
    <div *ngIf="providerAttributeSelector.providerFilter.show">
        <h4>
            Provider Filters</h4>

        <div class="row" *ngIf="providerAttributeSelector.providerFilter.paType">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for="">PA type</label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10">
                <ng-select [searchable]="true" [clearable]="false" name="patype" formControlName="provideragreementtype">
                    <ng-option selected="selected" value="">--select--</ng-option>
                    <ng-option *ngFor="let item of paTypeDropdownItems$ | async |orderBy:'text'" [value]="item.value">{{item.text}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="row" *ngIf="providerAttributeSelector.providerFilter.ssbg">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for="">SSBG#</label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10">
                <input type="text" class="form-control" placeholder="" name="ssbg" formControlName="ssbg">
            </div>
        </div>
        <div class="row" *ngIf="providerAttributeSelector.providerFilter.specialTerms">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label class="control control--checkbox">Special Terms
                    <input type="checkbox" name="specialterms" formControlName="specialterms">
                    <div class="control__indicator"></div>
                </label>
            </div>
        </div>

        <div class="sep-top-blue ver-mspace bot-space"> </div>
    </div>
    <div *ngIf="providerAttributeSelector.seviceFilter.show">
        <h4> Service Filters </h4>
        <div class="row" *ngIf="providerAttributeSelector.seviceFilter.category">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> Category </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10 select-icon">
                <select class="form-select" name="category" disabled>
                    <option value="">{{providerAttributeSelector.providerText}}</option>
                </select>
            </div>
        </div>
        <div class="row" *ngIf="providerAttributeSelector.seviceFilter.type">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> Type </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10 ">
                <ng-select [searchable]="true" [clearable]="false" formControlName="agencytype" (change)="getBusinessTypes(formSearchCriteria.value.agencytype)">
                    <ng-option value="">--select--</ng-option>
                    <ng-option *ngFor="let item of agencyTypeDropdownItems$ | async| orderBy:'text'" [value]="item.value">{{item.text}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="row" *ngIf="providerAttributeSelector.seviceFilter.businessType">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> Business Type </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10 ">
                <ng-select [searchable]="true" [clearable]="false"formControlName="agencysubtype">
                    <ng-option selected="selected" value="">--select--</ng-option>
                    <ng-option *ngFor="let item of businessTypeDropdownItems$| async| orderBy:'text'" [value]="item.value">{{item.text}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="row" *ngIf="providerAttributeSelector.seviceFilter.service">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for="">Service</label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10">
                <ng-select [searchable]="true" [clearable]="false" formControlName="serviceid">
                    <ng-option selected="selected" value="">--select--</ng-option>
                    <ng-option *ngFor="let item of serviceTypeDropdownItems$ | async|orderBy:'text'" [value]="item.value">{{item.text}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="row" *ngIf="providerAttributeSelector.seviceFilter.areaServiced">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for="">Area Serviced</label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10 ">
                <ng-select [searchable]="true" [clearable]="false" formControlName="countyserviced">
                    <ng-option selected="selected" value="">--select--</ng-option>
                    <ng-option *ngFor="let item of countyDropdownItems$ | async|orderBy:'text'" [value]="item.value">{{item.text}}</ng-option>
                </ng-select>
            </div>
        </div>

        <div class="sep-top-blue ver-mspace bot-space"> </div>
    </div>
    <div *ngIf="providerAttributeSelector.locationFilter.show">
        <h4> Location Filters </h4>
        <div class="row" *ngIf="providerAttributeSelector.locationFilter.street">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> Street </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10">
                <input type="text" class="form-control" placeholder="" name="street" formControlName="address1">
            </div>
        </div>
        <div class="row" *ngIf="providerAttributeSelector.locationFilter.street2">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> Street2 </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10">
                <input type="text" class="form-control" placeholder="" name="street2" formControlName="address2">
            </div>
        </div>
        <div class="row" *ngIf="providerAttributeSelector.locationFilter.city">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> City </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10">
                <input type="text" class="form-control" placeholder="" name="city" formControlName="city">
            </div>
        </div>
        <div class="row" *ngIf="providerAttributeSelector.locationFilter.zip">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> Zip Code </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10">
                <input type="text" class="form-control" placeholder="" name="" formControlName="zipcode">
            </div>
        </div>
        <div class="row" *ngIf="providerAttributeSelector.locationFilter.county">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> County </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10 ">
                <ng-select [searchable]="true" [clearable]="false" name="county" formControlName="county">
                    <ng-option selected="selected" value="">--select--</ng-option>
                    <ng-option *ngFor="let item of countyDropdownItems$ | async|orderBy:'text'" [value]="item.value">{{item.text}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="row" *ngIf="providerAttributeSelector.locationFilter.region">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> Region </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10 ">
                <ng-select [searchable]="true" [clearable]="false" name="region" formControlName="region">
                    <ng-option selected="selected" value="">--select--</ng-option>
                    <ng-option *ngFor="let item of regionDropdownItems$ | async|orderBy:'text'" [value]="item.value">{{item.text}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="row" *ngIf="providerAttributeSelector.locationFilter.phone">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> Phone Number </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10">
                <input type="text" class="form-control" placeholder="" name="phone" formControlName="phonenumber">
            </div>
        </div>
        <div class="row" *ngIf="providerAttributeSelector.locationFilter.facid">
            <div class="col-md-5 col-sm-12 col-xs-12 mb-10">
                <label for=""> FAC ID </label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mb-10">
                <input type="text" class="form-control" placeholder="" name="facid" formControlName="facid">
            </div>
        </div>
        <div class="text-end">
            <button class="btn btn-bg mb-10" (click)="clearSearch()"> Clear </button>
            <button class="btn btn-pri mb-10" (click)="search(formSearchCriteria.value,1)"> Search </button>
        </div>
    </div>
</div>
