<div class="">
    <div class="col-box mydsds-action">
        <h2>{{totalRecords$|async}}
        </h2>
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field>
                    <mat-label>Search Application #</mat-label>
                    <input type="text" matInput 
                        class="aut-txt-caseWorkerSearchServiceCase" [(ngModel)]="applicationNumber">
                    <button mat-button matSuffix aria-label="Search"
                        class="aut-btn-caseWorkerSearchServiceCase" (click)="filterApplications()">
                        <i aria-hidden="true" class="fa fa-search"></i>
                    </button>
                </mat-form-field>
            </div>
            <div class="col-sm-1 mt-20">
                <a (click)="resetFilter()">Reset</a>
            </div>           
            <div class="col-sm-3 pull-right">
                <mat-form-field>
                    <mat-label>Select Jurisdiction</mat-label>
                    <mat-select  [(ngModel)]="countyFilter" (selectionChange)="listMyApps()">
                        <mat-option>All</mat-option>
                        <mat-option *ngFor="let county of countyList$ | async" [value]="county.value">{{county.text}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>  
        </div>
        <div class="table-responsive table-theme table-wrapper-scroll-y my-custom-scrollbar">
            <table style="width:100%" class="table table-striped fixed_header" aria-describedby="tbl-myrejected-closed-app">
                <thead>
                    <tr>
                        <th scope="col">Application #</th>
                        <th scope="col">Program</th>
                        <th scope="col">Program Type</th>
                        <th scope="col">Applicant</th>
                        <th scope="col">Co-applicant</th>
                        <th scope="col">Comments</th>
                        <th scope="col">Application Status</th>
                        <th scope="col" *ngIf="user.role.name === 'LDSS_SUPERVISOR'">Action</th>
                    </tr>
                </thead>
                <ng-container *ngIf="filteredJurisdictionApplications.length>0; else noData">
                    <tbody>
                        <tr
                            *ngFor="let application of filteredJurisdictionApplications | paginate: { itemsPerPage: 5, currentPage: d,  id: 'd' }">
                            <td>
                                <a
                                    [routerLink]="['/pages/provider-applicant/new-public-applicant', application.applicant_id]">{{application.applicant_id}}</a>
                            </td>
                            <td>{{application.prgram}}</td>
                            <td>{{application.provider_program_type}}</td>
                            <td>{{application.individual_applicant_first_nm}} {{application.individual_applicant_last_nm}}
                            </td>
                            <td>{{application.co_applicant_first_nm}} {{application.co_applicant_last_nm}}</td>
                            <td><a data-bs-toggle="modal" data-bs-target="#comment-dialog" (click)="showComment(application)"><em
                                class="fa fa-file"></em></a></td>
                            <ng-container>
                                <td>
                                    <p class="status">
                                       <span>{{application.application_status}}</span>&nbsp;&nbsp;
                                        <button type="submit" class="btn-pri aut-btn-assign"
                                            (click)="getReopen(application)">RE-OPEN</button>
                                    </p>
                                </td>
                            </ng-container>

                        </tr>
                    </tbody>
                </ng-container>
                <ng-template #noData>
                    <tbody>
                        <tr><td colspan="7" class="text-center">No records found</td></tr>
                    </tbody>
                </ng-template>
            </table>
            <div class="text-center m-t-20" *ngIf="filteredJurisdictionApplications.length > 0">
                <pagination-controls (pageChange)="d = $event" id="d"></pagination-controls>
            </div>
        </div>
    </div>
</div>
