<div class="row mt-10">
    <div class="col-md-12 mt-10">
        <h3>SUPPORTIVE RELATIONSHIPS AND COMMUNITY CONNECTIONS</h3>
    </div>
</div>
<form [formGroup]="supportiveFormGroup" class="ps-20">

    <div class="row mt-20">
        <div class="col-md-12">
        <label class="required">Who is currently your support system? Who do you feel closely connected to? How are they a support?</label>
        <mat-form-field>
            <textarea formControlName="currentSystemSupport" matInput ></textarea>
          </mat-form-field>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col-md-12">
        <label class="required">Efforts to identify additional adult supports and mentors</label>
        <mat-form-field>
            <textarea formControlName="effortstoIdentify" matInput ></textarea>
          </mat-form-field>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col-md-4">
            <label class="required">
                Are you currently involved in your community? </label>
            <mat-radio-group  class="clearfix" formControlName="involvedinCommunity">
                <mat-radio-button [value]="1">Yes</mat-radio-button>
                <mat-radio-button [value]="0">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="col-md-5" *ngIf="supportiveFormGroup.getRawValue().involvedinCommunity">
            <mat-form-field>
                <mat-label>If yes, how?</mat-label>
                <input  matInput formControlName="involvedinCommunityDesc"   />
            </mat-form-field>
        </div> 
    </div>
    <div class="row mt-20">
        <div class="col-md-12">
        <label class="required">Do you have a spiritual support/church organization? (Name, Contact information)
        </label>
        <mat-form-field>
            <textarea formControlName="spiritualSupport" matInput ></textarea>
          </mat-form-field>
        </div>
    </div>

    <div class="row">
      <short-term-goals [goals]="supportiveShortTermGoals" ></short-term-goals>
    </div>
    <div class="row">
      <div class="col-md-7 mt-20">
        <label class="required">
            My long term goal to build or maintain strong relationships with supportive adults is ...
        </label>
      </div>
      <div class="col-md-12"></div>
      <div class="col-md-5">
          <mat-form-field>
              <input matInput  formControlName="longTermGoals">
          </mat-form-field>
      </div>
    </div>
    <div class="row mt-20">
        <div class="col-sm-12">
            <div class="pull-right">
                <button type="button" disabled value="Clear" class="btn-bg" name="" (click)="clear()">Clear</button>
                <button *securityKeyNew = "'services,services.youthtransitionplan.save'" [fieldKeyNew] = "'services,services.youthtransitionplan.save'" 
                    type="button" disabled value="Save" class=" btn-pri" name="" (click)="save()" >Save</button>
            </div>
        </div>
    </div>
  </form>
