.box-grid {
    margin: 25px 15px;
    background: #fff;
}
.tab-title-btn {
    margin: 0;
}
.form-align .table-bordered > tbody > tr > td {
    word-break: break-all;
}

.tab-horizontal .nav-tabs > li.active > a{    border-bottom: 1px solid #00bcd3;}