<div class="me-15 mrg-btm25 custom-textarea">
    <div class="row">
        <div class="col-sm-2 tab-vertical">
            <ul class="nav nav-pills">
                <li routerLinkActive="active" *securityKey="'caseworker-kinship-program-assignment'">
                    <a routerLink="kinship-assessment">Program Assignment
                    </a>
                </li>
                <li routerLinkActive="active" *securityKey="'caseworker-kinship-case-closure'">
                    <a routerLink='case-closure'>Kinship Case Closure
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>