<!-- Title IV-E Adoption Eligibility New Form Starts -->
<div style="padding: 0px 15px 15px">
    <div class="Aod-form-wrapper" [formGroup]="adoptioneligibilityForm">
        <div class="cont-brd m-t-20">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    Identifying Information
                </mat-expansion-panel-header>
                <div class="row head-pad m-t-10">
                    <div class="col-md-3">
                        <span>County Of Jurisdiction</span>
                        <mat-form-field class="">
                            <input matInput placeholder="" formControlName="countyofjurisdiction">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <span>Name Of Child</span>
                        <mat-form-field class="">
                            <input matInput placeholder="" formControlName="nameofchild">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <span>Client ID</span>
                        <mat-form-field class="">
                            <input matInput placeholder="" formControlName="clientid">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <span>Date Of Birth</span>
                        <mat-form-field>
                            <input matInput autocomplete="off" [matDatepicker]="picker10" placeholder="" formControlName="dateofbirth">
                            <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
                            <mat-datepicker #picker10></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row head-pad m-t-10">
                    <div class="col-sm-3">
                        <span>Gender</span>
                        <mat-form-field>
                            <mat-select formControlName="gender">
                                <mat-option value="Male">Male</mat-option>
                                <mat-option value="Female">Female</mat-option>
                                <mat-option value="Other">Other</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <span>Name Of Adoptive Parent 1</span>
                        <mat-form-field class="">
                            <input matInput placeholder="" formControlName="nameofadoptiveparent1">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3" *ngIf="!adoptioneligibilityForm.value.singleparentadoptioncheck">
                        <span>Name Of Adoptive Parent 2</span>
                        <mat-form-field class="">
                            <input matInput placeholder="" formControlName="nameofadoptiveparent2">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <span>Provider ID Of Adoptive Parent</span>
                        <mat-form-field class="">
                            <input matInput placeholder="" formControlName="provideridofadoptiveparent">
                        </mat-form-field>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="cont-brd m-t-20">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    Section A - General requirements
                </mat-expansion-panel-header>
                <div class="head-pad m-t-10">
                    <div class="cont-brd m-t-20">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="head-bg headerfont">1. Adoption Assistance Agreement</p>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-6">
                                <span>Date of Adoption Finalization</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker11" placeholder=""
                                        formControlName="dateofadoptionfinalization">
                                    <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
                                    <mat-datepicker #picker11></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-checkbox formControlName="singleparentadoptioncheck">
                                    <span>Single Parent Adoption Check</span>
                                </mat-checkbox>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-6">
                                <span>Date of signature of parent 1 on Adoption Agreement</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker12" placeholder=""
                                        formControlName="adoptionparent1signdate">
                                    <mat-datepicker-toggle matSuffix [for]="picker12"></mat-datepicker-toggle>
                                    <mat-datepicker #picker12></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6" *ngIf="!adoptioneligibilityForm.value.singleparentadoptioncheck">
                                <span>Date of signature of parent 2 on Adoption Agreement</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker13" placeholder=""
                                        formControlName="adoptionparent2signdate">
                                    <mat-datepicker-toggle matSuffix [for]="picker13"></mat-datepicker-toggle>
                                    <mat-datepicker #picker13></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-6">
                                <span>Date of LDSS(Agency) Signature on Adoption Agreement</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker15" placeholder=""
                                        formControlName="adoptionldssdate">
                                    <mat-datepicker-toggle matSuffix [for]="picker15"></mat-datepicker-toggle>
                                    <mat-datepicker #picker15></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <span>Adoption Petition Filed Date</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker14" placeholder=""
                                        formControlName="adoptionpetitiondate">
                                    <mat-datepicker-toggle matSuffix [for]="picker14"></mat-datepicker-toggle>
                                    <mat-datepicker #picker14></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="cont-brd m-t-20">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="head-bg headerfont">2a. Special Needs - Difficult to Place</p>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-10">
                                <span>Medical Condition Or Disability</span>
                                <mat-radio-group formControlName="childmeetallmedicaldisabilityrequirementsforssi">
                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                    <mat-radio-button value="NO">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <mat-checkbox formControlName="child617yearsofage">1) Child 6-17 Years Of Age
                                </mat-checkbox>
                                <mat-checkbox formControlName="physicalmentalemotionaldisability">2) Physical, Mental Or
                                    Emotional Disability Or Disease (Medical Documentation Required)</mat-checkbox>
                                <mat-checkbox formControlName="emotionaldisturbance">3) Emotional Disturbance (Medical
                                    Documentation Required)</mat-checkbox>
                                <mat-checkbox formControlName="siblinginformationcheck">4) Membership In Sibling Group –
                                    List Siblings In Care Eligible For Adoption In Same Adoptive Placement
                                </mat-checkbox>
                                <div class="table-responsive"
                                    *ngIf="adoptioneligibilityForm.value.siblinginformationcheck">
                                    <table class="table table-bordered" aria-describedby="Sibiling Information">
                                        <thead>
                                            <tr>
                                                <th scope="col">Sibling Name</th>
                                                <th scope="col">Sibling Adoption Status</th>
                                                <th scope="col">Name Of The Sibling Adoption Placement (Provider ID)</th>
                                                <th scope="col">Sibling Adoption Decree Date</th>
                                                <th scope="col">Sibling Applicable Child Assessment Date</th>
                                            </tr>
                                        </thead>
                                        <tbody formArrayName="siblinggroup">
                                            <tr *ngFor="let item of adoptioneligibilityForm.get('siblinggroup').controls; let i = index"
                                                [formGroupName]="i">
                                                <td>
                                                    <mat-form-field class="">
                                                        <input matInput placeholder=""
                                                            formControlName="siblingname">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field class="">
                                                        <input matInput placeholder=""
                                                            formControlName="siblingadoptionstatus">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field class="">
                                                        <input matInput placeholder=""
                                                            formControlName="nameofthesiblingadoptionplacementproviderid">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput autocomplete="off" [matDatepicker]="picker24" placeholder=""
                                                            formControlName="dateofsiblingsadoptiondecree">
                                                        <mat-datepicker-toggle matSuffix [for]="picker24">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #picker24></mat-datepicker>
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput autocomplete="off" [matDatepicker]="picker16" placeholder=""
                                                            formControlName="dateofsiblingsapplicablechildassessment">
                                                        <mat-datepicker-toggle matSuffix [for]="picker16">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #picker16></mat-datepicker>
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <mat-checkbox formControlName="recognizedhighriskofphysicaldisability">5) Recognized
                                    High Risk Of Physical Or Mental Disability Or Disease</mat-checkbox>
                                <mat-checkbox formControlName="raceethnicityofchild">6) *Race Or Ethnicity – Can Only Be
                                    In Combination With One Of The Factors Above (1 – 5)</mat-checkbox>
                                <span>Race Or Ethnicity – Can Only Be In Combination With One Of The Factors Above (1 –
                                    5)</span>
                                <mat-form-field class="">
                                    <input matInput placeholder="" formControlName="raceorethnicitywithoneofthesabove">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="cont-brd m-t-20">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="head-bg headerfont">2b. Special Needs - Efforts to Place Without Assistance
                                </p>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-6">
                                <span>Efforts To Place Child Were Made</span>
                                <mat-radio-group formControlName="effortstoplacechildweremade">
                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                    <mat-radio-button value="NO">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-sm-6"
                                *ngIf="adoptioneligibilityForm.value.effortstoplacechildweremade === 'YES'">
                                <span>Date And Time Of Documentation For Efforts To Place Without A Subsidy</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker25" placeholder=""
                                        formControlName="dtofdocforeffortstoplacewithoutasubsidy">
                                    <mat-datepicker-toggle matSuffix [for]="picker25"></mat-datepicker-toggle>
                                    <mat-datepicker #picker25></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-6">
                                <span>Exception Granted In Child's Best Interests</span>
                                <mat-radio-group formControlName="exceptiongrantedinchildsbestinterests">
                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                    <mat-radio-button value="NO">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-sm-6"
                                *ngIf="adoptioneligibilityForm.value.exceptiongrantedinchildsbestinterests === 'YES'">
                                <span>Date And Time Of Documentation For Exception Granted In Child's Best
                                    Interests</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker17" placeholder=""
                                        formControlName="dtofdocumentationforexceptiongrantedinchildsbi">
                                    <mat-datepicker-toggle matSuffix [for]="picker17"></mat-datepicker-toggle>
                                    <mat-datepicker #picker17></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-6">
                                <span>Is Reason For Exception Recorded</span>
                                <mat-radio-group formControlName="isreasonforexceptionrecorded">
                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                    <mat-radio-button value="NO">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-sm-6">
                                <span>Child Adoption Unsuccessful Efforts To Place</span>
                                <mat-radio-group formControlName="unsuccessfulreasonableeffortsstatusrecords">
                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                    <mat-radio-button value="NO">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="cont-brd m-t-20">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="head-bg headerfont">2c. Special Needs - Cannot/Should Not Return to Parents
                                </p>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-6">
                                <span>TPR Granted To Both Parent</span>
                                <mat-radio-group formControlName="tprGrantedtoBothParent">
                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                    <mat-radio-button value="NO">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-sm-3"
                                *ngIf="adoptioneligibilityForm.value.tprGrantedtoBothParent === 'YES'">
                                <span>TPR Date of Parent 1</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker18" placeholder=""
                                        formControlName="dateofTpRofParent1">
                                    <mat-datepicker-toggle matSuffix [for]="picker18"></mat-datepicker-toggle>
                                    <mat-datepicker #picker18></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3"
                                *ngIf="adoptioneligibilityForm.value.tprGrantedtoBothParent === 'YES'">
                                <span>TPR Date of Parent 2</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker19" placeholder=""
                                        formControlName="dateofTpRofParent2">
                                    <mat-datepicker-toggle matSuffix [for]="picker19"></mat-datepicker-toggle>
                                    <mat-datepicker #picker19></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6" *ngIf="adoptioneligibilityForm.value.tprGrantedtoBothParent === 'NO'">
                                <span>Reason For Not Granting TPR For Both Parent</span>
                                <mat-form-field class="">
                                    <input matInput placeholder=""
                                        formControlName="ifnoReasonfornotgrantingTpRforbothparent">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-6">
                                <span>Child Can Return To Home</span>
                                <mat-radio-group formControlName="canchildreturntohome">
                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                    <mat-radio-button value="NO">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-sm-6" *ngIf="adoptioneligibilityForm.value.canchildreturntohome === 'NO'">
                                <span>Another Reason Child Could Not Return To Parent Home</span>
                                <mat-form-field class="">
                                    <input matInput placeholder="" formControlName="descriptionofreturnhome">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="cont-brd m-t-20">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="head-bg headerfont">3. US Citizen/Qualified Alien</p>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-4">
                                <span>Is US Citizen</span>
                                <mat-radio-group formControlName="isuscitizen">
                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                    <mat-radio-button value="NO">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-sm-4" *ngIf="adoptioneligibilityForm.value.isuscitizen === 'NO'">
                                <span>Is Qualified Alien</span>
                                <mat-radio-group formControlName="isqualifiedalien">
                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                    <mat-radio-button value="NO">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="cont-brd m-t-20">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="head-bg headerfont">4. Age</p>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-3">
                                <span>Age</span>
                                <mat-form-field class="">
                                    <input type="number" [min]="0" matInput placeholder="" formControlName="age">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="cont-brd m-t-20">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    Section B - S&A
                </mat-expansion-panel-header>

                <div class="head-pad m-t-10">
                    <div class="cont-brd m-t-20">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="head-bg headerfont">1.Previous IV-E Adoption Assistance</p>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-3">
                                <span>Child's Previously Adopted</span>
                                <mat-radio-group formControlName="childspreviouslyadopted">
                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                    <mat-radio-button value="NO">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-sm-3"
                                *ngIf="adoptioneligibilityForm.value.childspreviouslyadopted === 'YES'">
                                <span>Child's IV-E Status Of Previous Adoption</span>
                                <mat-form-field>
                                    <mat-select formControlName="childsIvEStatusofpreviousadoption">
                                        <mat-option value="Eligible Reimbursable">Eligible</mat-option>
                                        <mat-option value="Ineligible">Ineligible</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6"
                                *ngIf="adoptioneligibilityForm.value.childspreviouslyadopted === 'YES'">
                                <span>Previous Adoptive Parent(S) TPR (Termination Of Parent Right)Date: (If
                                    Terminated)</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker21" placeholder=""
                                        formControlName="previousAdoptiveParentsTpRterminationDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker21"></mat-datepicker-toggle>
                                    <mat-datepicker #picker21></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-6"
                                *ngIf="adoptioneligibilityForm.value.childspreviouslyadopted === 'YES'">
                                <span>Previous Adoptive Parent(S) Death Date: (If Dead)</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker23" placeholder=""
                                        formControlName="previousAdoptiveParentsDeathDateIfdead">
                                    <mat-datepicker-toggle matSuffix [for]="picker23"></mat-datepicker-toggle>
                                    <mat-datepicker #picker23></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="cont-brd m-t-20">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="head-bg headerfont">2.SSI Eligible</p>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-6">
                                <span>Child SSI Eligibility Status On Or Before Date Of Adoption?</span>
                                <mat-form-field>
                                    <mat-select formControlName="childreceivingssiatremoval">
                                        <mat-option value="YES">Yes</mat-option>
                                        <mat-option value="NO">No</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6"
                                *ngIf="adoptioneligibilityForm.value.childreceivingssiatremoval === 'YES'">
                                <span>Start Date Of Receiving SSI</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker22" placeholder=""
                                        formControlName="startdateofreceivingssi">
                                    <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                                    <mat-datepicker #picker22></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="cont-brd m-t-20">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="head-bg headerfont">3.Child of a Minor Parent</p>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-9">
                                <span>Is the child the child of a minor parent in foster care and living with the minor
                                    parent prior to
                                    finalization?</span>
                                <mat-radio-group formControlName="isthechildresidinginafosterfamilyhome">
                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                    <mat-radio-button value="NO">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10"
                            *ngIf="adoptioneligibilityForm.value.isthechildresidinginafosterfamilyhome === 'YES'">
                            <div class="col-md-12">
                                <span class="m-t-10">Minor Parent Information</span>
                                <div class="table-responsive">
                                    <table class="table table-bordered" aria-describedby="Minor Parent Information">
                                        <thead>
                                            <tr>
                                                <th scope="col">Minor Parent Name</th>
                                                <th scope="col">Birth date of parent</th>
                                                <th scope="col">Removal Type of Minor parent</th>
                                                <th scope="col">Removal court order date of minor parent</th>
                                                <th scope="col">VPA Removal Date of minor parent</th>
                                                <th scope="col">Minor Parent's current placement Type</th>
                                                <th scope="col">Child's current placement type</th>
                                                <th scope="col">Physical address of minor parent</th>
                                                <th scope="col">Physical address of child</th>
                                            </tr>
                                        </thead>
                                        <tbody formArrayName="adoptionapplicabilityminorparentinfo">
                                            <tr *ngFor="let item of adoptioneligibilityForm.get('adoptionapplicabilityminorparentinfo')['controls']; let i = index"
                                                [formGroupName]="i">
                                                <td>
                                                    <mat-form-field class="">
                                                        <input matInput placeholder=""
                                                            formControlName="minorparentname">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput autocomplete="off" [matDatepicker]="picker21" placeholder=""
                                                            formControlName="birthdateofparent">
                                                        <mat-datepicker-toggle matSuffix [for]="picker21">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #picker21></mat-datepicker>
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <mat-select formControlName="removaltypeofminorparent"
                                                            placeholder="">
                                                            <mat-option value="VPA">VPA</mat-option>
                                                            <mat-option value="Court">Court</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput autocomplete="off" [matDatepicker]="picker22" placeholder=""
                                                            formControlName="removalcourtorderdateofminorparent">
                                                        <mat-datepicker-toggle matSuffix [for]="picker22">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #picker22></mat-datepicker>
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <input matInput autocomplete="off" [matDatepicker]="picker23" placeholder=""
                                                            formControlName="removaldateofminorparent">
                                                        <mat-datepicker-toggle matSuffix [for]="picker23">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #picker23></mat-datepicker>
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <mat-select formControlName="minorparentscurrentplacementtype"
                                                            placeholder="">
                                                            <mat-option value="FosterFamilyHome">Foster Family Home</mat-option>
                                                            <mat-option value="ChildCareInstitution">Child Care Institution</mat-option>
                                                            <mat-option value="GroupHome">Group Homes</mat-option>
                                                            <mat-option value="RTC">RTC</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field>
                                                        <mat-select formControlName="childscurrentplacementtype"
                                                            placeholder="">
                                                            <mat-option value="FosterFamilyHome">Foster Family Home</mat-option>
                                                            <mat-option value="ChildCareInstitution">Child Care Institution</mat-option>
                                                            <mat-option value="GroupHome">Group Homes</mat-option>
                                                            <mat-option value="RTC">RTC</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field class="">
                                                        <input matInput placeholder=""
                                                            formControlName="physicaladdressofminorparent">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field class="">
                                                        <input matInput placeholder=""
                                                            formControlName="physicaladdressofchild">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10"
                            *ngIf="adoptioneligibilityForm.value.isthechildresidinginafosterfamilyhome === 'YES'">
                            <div class="col-sm-9">
                                <span>Was the child's minor parent receiving IV-E foster care that covered both the
                                    child and the minor parent prior to adoption finalization?</span>
                                <mat-radio-group formControlName="istheminorparentreceivingivefc">
                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                    <mat-radio-button value="NO">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10"
                            *ngIf="adoptioneligibilityForm.value.istheminorparentreceivingivefc === 'YES'">
                            <div class="col-sm-3">
                                <span>Minor Parent IV E Eligibility For Foster Care Status</span>
                                <mat-form-field>
                                    <mat-select formControlName="minorparentivefostercarestatus">
                                        <mat-option value="Eligible Reimbursable">Eligible Reimbursable</mat-option>
                                        <mat-option value="Eligible Non-Reimbursable">Eligible Non-Reimbursable</mat-option>
                                        <mat-option value="Ineligible">Ineligible</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <span>Date Of Latest Payment Of Minor Parent IVE Eligibility For Foster Care</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker28" placeholder=""
                                        formControlName="dateoflatestpaymentofminorparentivefostercare">
                                    <mat-datepicker-toggle matSuffix [for]="picker28"></mat-datepicker-toggle>
                                    <mat-datepicker #picker28></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <span>Minor Parent IVE Eligibility For Foster Care Start Date</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker29" placeholder=""
                                        formControlName="minorparentivefostercarestartdate">
                                    <mat-datepicker-toggle matSuffix [for]="picker29"></mat-datepicker-toggle>
                                    <mat-datepicker #picker29></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="cont-brd m-t-20">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="head-bg headerfont">4.AFDC Eligible</p>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-md-12">
                                <h5 class="font-sm-b">4a.Was the child initially removed via a court order, Voluntary Placement Agreement (VPA) or Private Adoption?</h5>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-4">
                                <span>Removal Court Order Date</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker31" placeholder=""
                                        formControlName="removalcourtorderdate">
                                    <mat-datepicker-toggle matSuffix [for]="picker31"></mat-datepicker-toggle>
                                    <mat-datepicker #picker31></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <span>VPA Removal Date</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker30" placeholder=""
                                        formControlName="childremovaldate">
                                    <mat-datepicker-toggle matSuffix [for]="picker30"></mat-datepicker-toggle>
                                    <mat-datepicker #picker30></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4" *ngIf="!adoptioneligibilityForm.value.removalcourtorderdate">
                                <span>Voluntary Relinquishment</span>
                                <mat-radio-group formControlName="voluntaryrelinquishment">
                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                    <mat-radio-button value="NO">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-6">
                                <span>4b.Was The Child Removed From Specified Relative</span>
                                <mat-radio-group formControlName="wasthechildremovedfromspecifiedrelative">
                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                    <mat-radio-button value="NO">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-6">
                                <span>4c.Was The Child Deprived Of Parental Support</span>
                                <mat-radio-group formControlName="childdeprivedofparentalsupport">
                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                    <mat-radio-button value="NO">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-md-12">
                                <h5 class="font-sm-b">4d. Removal Household Income and Resources</h5>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-5">
                                <span>AFDC Eligibility Met</span>
                                <mat-radio-group formControlName="isafdceligibilitymet">
                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                    <mat-radio-button value="NO">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-sm-5">
                                <span>Was Income And Assets Met</span>
                                <mat-radio-group formControlName="isincomeassetsmet">
                                    <mat-radio-button value="YES">Yes</mat-radio-button>
                                    <mat-radio-button value="NO">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="cont-brd m-t-20">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    Section C - Title IV E
                </mat-expansion-panel-header>

                <div class="head-pad m-t-10">
                    <div class="cont-brd m-t-20">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="head-bg headerfont">Title IV_E Eligibility Determination</p>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-3">
                                <span>Child Applicable Assessment Date</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker32" placeholder=""
                                        formControlName="childapplicableassessmentdt">
                                    <mat-datepicker-toggle matSuffix [for]="picker32"></mat-datepicker-toggle>
                                    <mat-datepicker #picker32></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <span>Child Applicability Status</span>
                                <mat-form-field class="">
                                    <mat-select formControlName="childapplicabilitystatus">
                                        <mat-option value="Applicable">Applicable</mat-option>
                                        <mat-option value="NonApplicable">NonApplicable</mat-option>
                                        <mat-option value="Adoption Applicable and NonApplicable">Adoption Applicable and NonApplicable</mat-option>
                                        <mat-option value="Neither Applicable or NonApplicable">Neither Applicable or NonApplicable</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <span>Date Of Finalization Adoption (Date Of Decree)</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker33" placeholder=""
                                        formControlName="dateofadoptionfinalization">
                                    <mat-datepicker-toggle matSuffix [for]="picker33"></mat-datepicker-toggle>
                                    <mat-datepicker #picker33></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row head-pad m-t-10">
                            <div class="col-sm-6">
                                <span>Start Date Of Adoption Assistance</span>
                                <mat-form-field>
                                    <input matInput autocomplete="off" [matDatepicker]="picker34" placeholder=""
                                        formControlName="adoptionassistancestartdate">
                                    <mat-datepicker-toggle matSuffix [for]="picker34"></mat-datepicker-toggle>
                                    <mat-datepicker #picker34></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
        <div class="row"><br></div>
        <span *ngIf="!isreadonly && _authService.readonlyButton('titleive_read_only_access','')">
        <span *securityKeyNew = "'iveadoption,iveadoption.detailsinitial.save'">
            <button [fieldKeyNew] = "'iveadoption,iveadoption.detailsinitial.save'" type="button" class="btn-pri pull-right" (click)="saveData()" *ngIf="!pagesnapshot">Save</button>
        </span>
        <span *securityKeyNew = "'iveadoption,iveadoption.detailsinitial.determineligibility'">
            <button [fieldKeyNew] = "'iveadoption,iveadoption.detailsinitial.determineligibility'" type="button" class="btn-pri pull-right" (click)="submissionData()" *ngIf="!pagesnapshot">Determine
            Eligibility</button></span>
        </span>
        <div class="row"><br></div>
    </div>
</div>
<!-- Title IV-E Adoption Eligibility New Form Ends -->
