<div class="row m-t-20">
    <div class="col-md-12">
        <div>
            <h4 class="m-l-20 m-b-20">ADOPTIVE CHILD</h4>
        </div>
        <div class="col-md-12">
            <div class="row person-wrap">
                <ng-container *ngFor="let person of involevedPerson; let i = index">
                    <div class="col-md-4 col-lg-3 col-sm-6">
                        <div class="card panel-default person-panel"
                            [ngClass]="{'highlighted-person-card': person?.removaldate && isServiceCase && (isrole[person.personid] === 'RC' || isrole[person.personid] ==='CHILD' || isrole[person.personid] ==='BIOCHILD')}">
                            <div class="card-header">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        <h4>
                                            <span matTooltip="{{(person?.fullname)}}">
                                                {{person?.fullname && person?.fullname?.length > 20 ? (person?.fullname.slice(0, 20) | titlecase) + '...' : (person?.fullname | titlecase)}}
                                            </span>
                                        </h4>
                                    </div>
                                    <div class="d-flex-right">
                                        <div *ngIf="person.userphoto"><img src="{{person.userphoto}}" alt=""
                                                class="d-flex-object" /></div>
                                        <div *ngIf="!person.userphoto"><img
                                                src="../../../../../assets/images/ic_silhouette.png" alt=""
                                                class="d-flex-object" /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="involved-person-tables" aria-describedby="person-table">
                                    <tr *ngIf="person.assistpid">
                                        <th scope="row" style="width:110px;float:left;">ASSIST PID#</th>
                                        <td style="width:13px;">:</td>
                                        <td class="single-wrap">{{ person?.assistpid }}</td>
                                    </tr>
                                    <tr *ngIf="person.cjamspid">
                                        <th scope="row" style="width:110px;float:left;">CJAMS PID#</th>
                                        <td style="width: 15px;">:</td>
                                        <td class="single-wrap">{{ person?.cjamspid }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">D.O.B</th>
                                        <td style="width: 15px;">:</td>
                                        <td class="single-wrap">{{ person.dob | date: 'MM/dd/yyyy' }}</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">AGE</th>
                                        <td style="width: 15px;">:</td>
                                        <td class="single-wrap"><span class="theme-age">{{ person.age }}</span></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">ADOPTION DATE</th>
                                        <td style="width: 15px;">:</td>
                                        <td class="single-wrap"><span>{{ person.finalizationdate | date: 'MM/dd/yyyy'
                                                }}</span></td>
                                    </tr>

                                    <tr *ngIf="person.dateofdeath">
                                        <th scope="row">D.O.D</th>
                                        <td style="width: 15px;">:</td>
                                        <td class="single-wrap">{{ person.dateofdeath | date: 'MM/dd/yyyy' }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">GENDER</th>
                                        <td>:</td>
                                        <td class="single-wrap">
                                            {{
                                            (person.gender)?person.gender:(person.gendertypekey)?(person.gendertypekey):'N/A'}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">ADDRESS</th>
                                        <td>:</td>
                                        <ng-container *ngIf="!isAdoptionCase">
                                            <td *ngIf="person.address">
                                                {{ person.address.length > 25 ? (person.address | slice: 0:25) + '...' :
                                                person.address + ' ' + (person.address2 || '')  + ' ' + person.city +' ' +
                                                person.state }}
                                            </td>
                                            <td *ngIf="!person.address">N/A</td>
                                        </ng-container>
                                        <ng-container *ngIf="isAdoptionCase">
                                            <td *ngIf="person.address">
                                                {{ person.fullAddress.length > 25 ? (person.fullAddress | slice: 0:25) +
                                                '...' :
                                                person.address + ' ' + (person.address2 || '')  + ' ' + person.city +' ' +
                                                person.state }}
                                            </td>
                                            <td *ngIf="!person.address">N/A</td>
                                        </ng-container>
                                    </tr>
                                    <tr
                                        *ngIf="isServiceCase && (isrole[person.personid] === 'RC' || isrole[person.personid] ==='CHILD' || isrole[person.personid] ==='BIOCHILD')">
                                        <th scope="row">Removal Date</th>
                                        <td>:</td>
                                        <td>{{ person.removaldate ? (person.removaldate | date: 'MM/dd/yyyy') : 'N/A' }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div>
            <h4 class="m-l-20 m-b-20">ADOPTIVE PARENT(S)</h4>
        </div>
        <div class="col-md-12">
            <div class="row person-wrap">
                <ng-container *ngFor="let person of providerDetails; let i = index">
                    <div class="col-md-4 col-lg-3 col-sm-6">

                        <div class="card panel-default person-panel"
                            [ngClass]="{'highlighted-person-card': person?.removaldate && isServiceCase && (isrole[person.personid] === 'RC' || isrole[person.personid] ==='CHILD' || isrole[person.personid] ==='BIOCHILD')}">
                            <div class="card-header">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        <h4>

                                            <span matTooltip="{{(person?.name)}}">{{(person?.providername)}}</span><br>
                                            (<span matTooltip="{{(person?.name)}}">{{(person?.name)}}</span>)
                                        </h4>
                                    </div>
                                    <div class="d-flex-right">
                                        <div *ngIf="person.userphoto"><img src="{{person.userphoto}}" alt=""
                                                class="d-flex-object" /></div>
                                        <div *ngIf="!person.userphoto"><img
                                                src="../../../../../assets/images/ic_silhouette.png" alt=""
                                                class="d-flex-object" /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="involved-person-tables" aria-describedby="person-tables">

                                    <tr>
                                        <th scope="col" scope="col" style="width:110px;float:left;">PROVIDER ID#</th>
                                        <td style="width:13px;">:</td>
                                        <td class="single-wrap">{{ person?.providerid }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col" style="width:110px;float:left;">SIGNED DATE</th>
                                        <td style="width: 15px;">:</td>
                                        <td class="single-wrap">{{ person.signdate ? (person.signdate | date:
                                            'MM/dd/yyyy') : '' }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

</div>