.intake .tab-content h4 {
    margin-bottom: 0;
}
.narrative-main .form-control {
    margin-bottom: 20px;
}
input.form-control, select.form-control {
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ddd;
    padding: 8px 12px 8px 0;
}
.form-control {
    border: 0;
    border-bottom: 1px solid #ccc;
}
.disp-inline {
    display: inline;
}
.narrative-textarea {
    position: relative;
}
.narrative-textarea .textarea-icons {
    position: absolute;
    right: 0px;
    bottom: 5px;
}
.narrative-textarea .textarea-icons a {
    display: inline-block;
    width: 32px;
    padding: 0;
    margin-left: 5px;
}
.narr-help {
    display: inline-block;
    font-size: 24px;
    color: #00A2FD;
    line-height:14px;
}
.popover {
    min-width: 315px;
}
.popover-title {
    min-width: 200px;
    text-align: center;
}
.popover-content {
    text-align: center;
}
.btn-pop {
    padding: 0;
    min-width: 65px;
    height: 27px;
    margin-top: 20px;
    margin-right: 0;
}
#Search-res .table th {
    text-transform: capitalize;
}
.card-body dl {
    margin-bottom: 10px;
    display: block;
}
.card-body dl dd:before {
    content: ":";
    padding-right: 10px;
}
.card-body dl dt{
    width: 100px;
    float:left;
}

.card-body dl dd{
    width: calc(100% - 100px);
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.no-bg {
    outline: none;
    border: none;
    background: none;
    color: #00A2FD;
}

.card-footer {
    height: 43px;
}

.panel .card-header .media-body {
    width: 81%;
    float: left;
}

.panel .card-header .media-body h4 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 40px;
}

.required-icon i:before {
    color: #ff5858;
    font-size: 7px;
}

.star-pos i {
    position: relative;
}

.star-pos i::before{
    position: absolute;
    top: -12px;
    right: -12px;
}

.clsList{
    li{
        position: relative;
        padding: 0 0 5px 12px;

        &::before{
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: 7px;
            width: 5px;
            height: 5px;
            background: #fff;
            border-radius: 50%;
        }
    }
}

.clsSpeech{
    .btn{
        position: relative;
        border-radius: 4px 0 4px 4px;
    }
    .fa-caret-up{
        position: absolute;
        top: -16px;
        right: 5px;
        color: #00a2fd;
        border-radius: 0;
        font-size: 22px;
    }
}