
<div class="row m-t-20" *ngIf = "moduleview">
  <div class="col-md-12" [formGroup] = "intakeNarrativeForm">
      <div class="m-b-30" >
          <h4  class="mb-20">NARRATIVE</h4>
      </div>
      <div class="textarea-notes">
          <quill-editor formControlName="narrative" [modules]="quillToolbar"
          >
        </quill-editor>
      </div>
      <div class="text-end pt-10 clsSpeech">
  
          <button type="button" matTooltip="Speech-to-text" class="btn btn-pri" *ngIf="recognizing" [disabled]="viewCourt"
              (click)=" activateSpeechToText() "> Speech to Text
              <em class="fa fa-microphone-slash ps-5"></em>
              <i class="fa fa-caret-up" aria-hidden="true"></i>
          </button>
  
          <button type="button" matTooltip="Speech-to-text" class="btn btn-pri" *ngIf="!recognizing" [disabled]="viewCourt"
              (click)="activateSpeechToText() "> Speech to Text
              <em class="fa fa-microphone ps-5"></em>
              <i class="fa fa-caret-up" aria-hidden="true"></i>
          </button>
      </div>
      <span  *securityKeyNew = "'adoptionnarrative,adoptionnarrative.narrative.save'" [fieldKeyNew] = "'adoptionnarrative,adoptionnarrative.narrative.save'">
      <button *ngIf = " _authService.readonlyButton('read_only_access','caseworker-adoptionnarrative-save')" type="button" (click)="saveNarrative()" matTooltip="Speech-to-text" class="btn btn-pri pull-right mt-10" 
      > Save
      </button>
    </span>
  </div>

</div>

