<div class="row">
  <div class="col-md-12">
    <div class="row">
            <div class="col-md-3">
              <p>Total Count: {{searchCount}}</p>
            </div>
    </div>
    <br>
  </div>
  <div class="tab-content boxgrid">
    <div class="tab-pane active">
    <div class="col-md-12">
      <div class="row">
          <form [formGroup]="caseAuditTrail">

            <div class="col-sm-12">
              <div class="row">
                   <div class="col-sm-2">
                      <div class="mb-3">
                          <mat-form-field>
                            <mat-label>Select Module</mat-label>
                            <mat-select formControlName="moduleCategory" required placeholder="" (selectionChange)="onChangeModule()">
                              <mat-option *ngFor="let item of (moduletype$ | async)"
                                value="{{item.value_tx}}">{{
                                item.description_tx }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                      </div>
                    </div>
                    <div class="col-sm-2" *ngIf="selectedFilter && selectedFilter.fromDate">
                      <mat-form-field>
                        <mat-label>Search From Date</mat-label>
                        <input matInput formControlName="fromDate" [max]="minFromDate" autocomplete="off" [matDatepicker]="picker2" placeholder="" 
                        (dateChange)="toDateChange()" [required]="true">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                     </div>
                    <div class="col-sm-2" *ngIf="selectedFilter && selectedFilter.toDate">
                          <mat-form-field>
                            <mat-label>Search To Date</mat-label>
                            <input matInput formControlName="toDate" 
                            [min]="caseAuditTrail.getRawValue().fromDate"
                            autocomplete="off" [matDatepicker]="picker3" placeholder="" [required]="true">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                          </mat-form-field>
                    </div>
                    <div class="col-sm-2" *ngIf="selectedFilter && selectedFilter.assigneduser">
                      <div class="mb-3">
                          <mat-form-field>
                            <mat-label>Select Users</mat-label>
                              <mat-select formControlName="assigneduser"
                                  placeholder="" (selectionChange)="getteamlist()">
                                  <mat-option value="">All</mat-option>
                                  <mat-option *ngFor="let row of assigneduserslist"
                                      [value]="row.securityusersid">
                                      {{row.toworkername}}</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                    </div>
                  <div class="col-sm-2" *ngIf="selectedFilter && selectedFilter.clientid">
                      <div class="mb-3">
                          <mat-form-field>
                            <mat-label>Select Client</mat-label>
                              <mat-select formControlName="clientid"
                                  placeholder="" (selectionChange)="getteamlist()">
                                  <mat-option value="">All</mat-option>
                                  <mat-option *ngFor="let dept of childList"
                                      [value]="dept.cjamspid">
                                      {{dept.cjamspid}} - {{dept.fullname}}</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                  </div> 
                  <div class="col-sm-1">
                    <div class="mb-3" class="mt-3 ds-block">
                        <button class="btn-pri" [disabled]="caseAuditTrail.invalid || caseAuditTrail.pristine" type="submit" (click)="searchAudit()">Search</button>
                    </div>
                  </div>  
              </div>
            </div>
          </form>
          <div class="col-sm-12">
            <div class="table-responsive table-theme">
              <table class="table table-striped" sortable-table (sorted)="onSorted($event, true)" aria-describedby="Progress Note Details">
                      <thead style="background-color: #AEBED6;">
                        <tr>
                          <th scope="col" *ngFor="let config of headerConfig" [attr.sortable-column]="config.sortableColumn">
                            {{config.label}}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="searchResults?.length>0; else noItems">
                          <tr *ngFor="let item of searchResults">
                            <ng-container  *ngFor="let config of headerConfig">
                              <td *ngIf="config.label != 'Status'">{{getValue(item, config)}}</td>
                            </ng-container>
                            <td *ngIf="item.referenceid">{{'Success'}}</td>
                            <td *ngIf="!item.referenceid" style="background-color: red;">{{'Failed'}}</td>
                          </tr>
                        </ng-container>
                      </tbody>
              </table>
              <ng-template #noItems>
                      <p class="no-datatxt"> No Items! </p>
              </ng-template>
              <div class="row text-center m-t-20" *ngIf="searchCount>0">
                 <pagination [totalItems]="searchCount" [(ngModel)]="paginationInfo.pageNumber"
                        (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
                        [itemsPerPage]="50">
                 </pagination>
              </div>
            </div>
      </div>
    </div>
    </div>
    </div>
  </div>  
</div>