label{
    font-weight: normal;
    color: #817a7a;
}

table.health tr th {
    vertical-align: middle;
    text-align: center;
}

.qa_Box {
    border: 1px solid #dcdada;
    padding: 20px 20px;
} 


.help-icon-wrapper {
    // width: auto;
    margin: 20px -5px 0px 0px;
  }
  
  .input-field-wrapper {
    margin-left: -15px;
  }
  