<div class="container-fluid">
    <div class="dashboard-cont no-pad">
        <div class="tab-horizontal mrg-top25 mrg-btm25">
            <ul class="nav nav-pills align-pill">
                <li class="nav-item m-t-15">
                    <a href="#case-pending" class="aut-tab-pendingReview nav-link active" data-bs-toggle="tab"
                        (click)="getIntakeSummary(1, 'pendingreview', 'Initial')">PENDING REVIEW</a>
                </li>
                <li class="nav-item m-t-15">
                    <a href="#case-pending" class="aut-tab-reopen nav-link" data-bs-toggle="tab"
                        (click)="getIntakeSummary(1,'screenin', 'Initial')">SCREENED IN</a>
                </li>
                <li class="nav-item m-t-15">
                    <a href="#case-pending" class="aut-tab-reopen nav-link" data-bs-toggle="tab"
                        (click)="getIntakeSummary(1,'screenout', 'Initial')">SCREENED OUT</a>
                </li>
                <li class="nav-item m-t-15">
                    <a href="#case-pending" class="aut-tab-reopen nav-link" data-bs-toggle="tab"
                        (click)="getIntakeSummary(1,'reopen', 'Initial')">RETURNED TO WORKER</a>
                </li>
                <li class="nav-item m-t-15">
                    <a href="#case-pending" class="aut-tab-completeClosed nav-link" id="case-complete-tab" data-bs-toggle="tab"
                        (click)="getIntakeSummary(1,'spclosed', 'Initial')">CLOSED AT INTAKE</a>
                </li>
                <li class="nav-item m-t-15">
                    <a href="#case-pending" class="aut-tab-completeClosed nav-link" id="pending-transfer-tab" data-bs-toggle="tab"
                        (click)="getIntakeSummary(1, 'pending', 'Initial')">PENDING TRANSFER</a>
                </li>
                <li *ngIf="!isVisible" class="nav-item m-t-15">
                    <a href="#case-pending" class="aut-tab-completeClosed nav-link" id="assign-transfer-tab" data-bs-toggle="tab"
                    (click)="getIntakeSummary(1, 'assign', 'Initial')">ASSIGN TRANSFER</a>
                </li>

                <li class="ms-auto nav-item m-t-15 m-r-20">
                    <div class="searchdd pull-left m-r-10" [formGroup]="intakeSummaryForm">
                        <mat-form-field>
                            <mat-select formControlName="securityusersid" placeholder=""  (selectionChange)="supervisorChange()">
                                <mat-option *ngFor="let item of supervisorList" [value]="item.userid">{{item.username}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="inner-addon m-t-15 right-addon pull-left m-r-10" [formGroup]="intakeSummaryForm">
                        <em aria-hidden="true" class="fa fa-search"></em>
                        <input type="text" class="form-control aut-txt-intakeNumber" formControlName="intakenumber"
                            (input)="onSearch('intakenumber', $event)" placeholder="search intake" />
                    </div>  
                </li>
            </ul>
            <div class="tab-content boxgrid">
                <div class="tab-pane active" id="case-pending">
                    <div class="cnt-min-height">
                        <p class="mt-10 mb-0">Total Count: <strong>{{totalRecords}}</strong>
                        <div class="table-responsive table-theme">
                            <table class="table table-striped" sortable-table (sorted)="onSorted($event)" aria-describedby="tbl-head-of-house-list">
                                <thead>
                                    <tr>
                                        <th scope="col" sortable-column="intakenumber">INTAKE NUMBER</th>
                                        <th scope="col" *ngIf="transfer === 'transfer'" sortable-column="transferreqby">TRANSFER {{(currentStatus === 'pending')? 'REQUESTED BY':'FROM JURISDICTION'}}</th>
                                        <th scope="col" *ngIf="transfer === 'transfer'" sortable-column="transferreqon">TRANSFER {{(currentStatus === 'pending')? 'REQUESTED ON':'ON'}} </th>
                                        <th scope="col" *ngIf="transfer !== 'transfer'" sortable-column="submittedworker">SUBMITTED BY</th>
                                        <th scope="col" sortable-column="submittedworker">Head of Household</th>
                                        <th scope="col" sortable-column="receiveddate">{{(transfer === 'transfer')? 'INTAKE':''}} Received Date & Time</th>
                                        <th scope="col" *ngIf="transfer !== 'transfer'" sortable-column="datesubmitted" sort-direction="desc">SUBMITTED DATE & TIME
                                         </th>
                                        <th scope="col"> Purpose </th>
                                        <th scope="col" *ngIf="transfer === 'transfer'">RECEVING JURISDICTION</th>
                                        <th scope="col" *ngIf="currentStatus ==='pendingreview'">TIME LEFT</th>
                                        <th scope="col" *ngIf="transfer !== 'transfer'">PRIOR</th>
                                        <th scope="col" *ngIf="currentStatus === 'reopen'">RETURNED DATE & TIME</th>
                                        <th scope="col" *ngIf="currentStatus  === 'reopen'">COMMENTS</th>
                                        <th scope="col" *ngIf="currentStatus  === 'spclosed'">CLOSED DATE & TIME</th>
                                        <th scope="col" *ngIf="currentStatus  === 'spclosed'">STATUS</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="intakesSummary;let intake">
                                    <ng-container *ngIf="intake.length>0; else noItems">
                                        <tr *ngFor="let data of intake">
                                            <td (click)="routToIntake(data?.intakenumber)">
                                                <a class="aut-lnk-intakeNumber">{{data?.intakenumber}}</a>
                                                <span *ngIf="data?.sdm?.length"> <span matTooltip="Child Fatality"
                                                        *ngIf="data?.sdm?.[0]?.ischildfatality ?? false"
                                                        class="dot yellow-dot"></span><span
                                                        matTooltip="Provider Maltreatment"
                                                        *ngIf="data?.sdm?.[0]?.ismaltreatment ?? false"
                                                        class="dot blue-dot"></span></span>
                                            </td>
                                            <td *ngIf="transfer === 'transfer'">{{(currentStatus === 'pending')? data?.requestorname: data?.sendingcountyname}}</td>
                                            <td *ngIf="transfer === 'transfer'">{{data?.transferdate |date:'MM/dd/yyyy, h:mm a' }}</td>
                                            <td *ngIf="transfer !== 'transfer'">{{data?.jsondata?.General?.Author ? data?.jsondata?.General?.Author : (data?.cruworkername ? data?.cruworkername : 'NA')}} </td>
                                            <td *ngIf="transfer === 'transfer'">
                                                {{data?.hoh_name}}
                                            </td>
                                            <td *ngIf="transfer !== 'transfer'">
                                                <ng-container *ngIf="validate(data.headofhousehlod); else stringTemplate">
                                                    <span *ngFor="let item of data.headofhousehlod; let isLast=last">
                                                        {{item.personname}}<span *ngIf="!isLast">, </span>
                                                    </span>
                                                </ng-container>
                                                <ng-template #stringTemplate>
                                                    N/A
                                                </ng-template>
                                            </td>
                                            <td *ngIf="transfer === 'transfer'">{{data?.reporteddatetime | date:'MM/dd/yyyy, h:mm a'}}</td>
                                            <td *ngIf="transfer !== 'transfer'">{{data?.datereceived | date:'MM/dd/yyyy, h:mm a'}}</td>
                                            <td *ngIf="transfer !== 'transfer'">{{data.datesubmitted ? (data.datesubmitted | date:'MM/dd/yyyy, h:mm a') : 'NA'}}
                                            </td>
                                            <td>
                                                {{(transfer === 'transfer')? data?.transferreason : data?.purpose.description}}
                                            </td>
                                            <td *ngIf="transfer === 'transfer'">{{(currentStatus === 'pending')? data?.receivingcountyname : data?.receivingcountyname}}</td>
                                            <td class="text-danger" *ngIf="currentStatus ==='pendingreview'">
                                                <ng-container
                                                    *ngIf="data?.purpose.intakeservreqtypekey === 'CHILD'; else timeLeftNA">
                                                    <span *ngIf="data.datesubmitted | countDown | async; let timeLeft"
                                                        [style.color]="timeLeft.color === 'red' ? 'red' : 'green'">
                                                        {{timeLeft.time}}</span>
                                                </ng-container>
                                                <ng-template #timeLeftNA>
                                                    -- Non CPS --
                                                </ng-template>
                                            </td>
                                            <td *ngIf="data.isprior === 1 && transfer !== 'transfer'"> <a
                                                    data-bs-target="#priorDetails" data-bs-toggle="modal"
                                                    (click)="getPrior(data?.intakenumber)">Yes</a></td>
                                            <td *ngIf="data.isprior !== 1  && transfer !== 'transfer'">No</td>
                                            
                                            <td *ngIf="currentStatus ==='reopen'">
                                                {{data.dateclosed ? (data.dateclosed | date:'short') : 'NA' }}</td>
                                            <td *ngIf="currentStatus ==='reopen'">{{data.remarks ? data.remarks : 'NA'}}
                                            </td>
                                            <td *ngIf="currentStatus ==='spclosed'">
                                                {{data.dateclosed ? (data.dateclosed | date:'short') : 'NA' }}</td>
                                            <td *ngIf="currentStatus ==='spclosed'">
                                                {{data.reviewstatus ? data.reviewstatus : 'NA'}}</td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                            <ng-template #noItems>
                                <p class="no-datatxt"> No Items! </p>
                            </ng-template>
                            <div class="text-center" *ngIf="totalRecords">
                                <pagination [totalItems]="totalRecords" [(ngModel)]="paginationInfo.pageNumber"
                                    (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true"
                                    [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="priorDetails" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Prior</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-bs-toggle="tab" class="notactive" href="#servicescase">
                                <span class="tab-txt">Services / Cases </span>
                            </a>
                        </li>
                        <li>
                            <a data-bs-toggle="tab" class="notactive" href="#cpsfinding">
                                <span class="tab-txt">CPS Finding</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content" style="box-shadow:0 0 0 0;">
                        <div id="servicescase" class="tab-pane fade show active">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-letter-tab no-mar">
                                        <div class="tab mrg-top15">
                                            <div class="table-responsive table-theme">
                                                <div *ngFor="let item of priorItem$ | async">
                                                    <p>{{item.firstname}} {{item.lastname}} / {{item.role}}</p>
                                                    <table class="table table-striped table-hover" aria-describedby="tbl-list-prior-items">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Case #</th>
                                                                <th scope="col">Intake #</th>
                                                                <th scope="col">Service Type</th>
                                                                <th scope="col">Sub Type</th>
                                                                <th scope="col">Person Role</th>
                                                                <th scope="col">Case Period</th>
                                                                <th scope="col">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let servicecases of item.servicecases">
                                                                <td>{{servicecases.casenumber}}</td>
                                                                <td>{{servicecases.intakenumber}}</td>
                                                                <td>{{servicecases.servicetype}}</td>
                                                                <td>{{servicecases.dasubtype}}</td>
                                                                <td>{{servicecases.role}}</td>
                                                                <td>{{servicecases.datecreated | date:'MM/dd/yyyy'}}
                                                                </td>
                                                                <td
                                                                    (click)="routToCase(servicecases.casenumber, servicecases.intakeserviceid)">
                                                                    <a>view</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="cpsfinding" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-letter-tab no-mar">
                                        <div class="tab mrg-top15">
                                            <div class="table-responsive">
                                                <div *ngFor="let item of priorItem$ | async">
                                                    <p>{{item.firstname}} {{item.lastname}} / {{item.role}}</p>
                                                    <table class="table table-bordered table-hover" aria-describedby="tbl-prior-items-list">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Case #</th>
                                                                <th scope="col">Intake #</th>
                                                                <th scope="col">Service Type</th>
                                                                <th scope="col">Sub Type</th>
                                                                <th scope="col">Person Role</th>
                                                                <th scope="col">Case Period</th>
                                                                <th scope="col">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let cpsfindings of item.cpsfindings">
                                                                <td>{{cpsfindings.casenumber}}</td>
                                                                <td>{{cpsfindings.intakenumber}}</td>
                                                                <td>{{cpsfindings.servicetype}}</td>
                                                                <td>{{cpsfindings.dasubtype}}</td>
                                                                <td>{{cpsfindings.role}}</td>
                                                                <td>{{cpsfindings.datecreated | date:'MM/dd/yyyy'}}</td>
                                                                <td
                                                                    (click)="routToCase(cpsfindings.casenumber, cpsfindings.intakeserviceid)">
                                                                    <a>view</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>