<div class="row">

    <div class="col-md-2 no-pad b-r-6">

        <mat-list dense class="health-section-list">
            <a mat-list-item *ngFor="let healthSection of healthSections" class="health-section-item in-active-section"
                (click)="showHealthSection(healthSection)"
                [ngClass]="healthSection.isActive ? 'active-section':'in-active-section'"> 
                {{healthSection.name}} 
            </a>

        </mat-list>
    </div>
    <div class="col-md-10" id="healthHeader">
        <div class="row">
            <div class="col-sm-12 m-t-20">
                    <div *ngIf="selectedHealthSection.name !== 'Person Health Summary'" class="person-section-header">
                            {{selectedHealthSection.name | uppercase}}
                            <span *ngIf="selectedHealthSection.name === 'Immunization'" [matTooltip]="'CDC Recommended Vaccination Schedule'">
                                <a href="https://www.cdc.gov/vaccines/hcp/imz-schedules/child-adolescent-age.html#table-1" target="_blank"
                                    rel="noopener noreferrer">
                                    <img src="../../../../../assets/images/info.png" width="15" height="15" alt="Vaccination Schedule" />
                                </a>
                            </span>
                            <span *ngIf="healthService.renewalflag" style="color: #00A2FD;">
                                 Refill 
                                <em class="refilliconheader " 
                                 style="padding-top: 4px !important;margin-left: 5px !important;" matTooltip="Refill"></em></span>
                    </div>
            </div>
        </div>
        
        <router-outlet></router-outlet>
    </div>
</div>