<div class="row m-t-10" *ngIf = "moduleview">
    <div class="col-sm-12 col-lg-12 col-xl-12">
        <div class="card panel-default panel-theme">
            <div class="card-header">
                <span class="site-color text-22">Guardianship Planning
                    <button type="button" class="btn-close float-end" aria-label="Close" (click)="close()"></button>
                </span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-xl-12 gap-nav">
                        <ul class="nav nav-pills nav-tab mrg-btm25 cus-tab-section">
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" data-target-toggle="tab" routerLink="application"><span class="tab-txt">Application</span></a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="agreement"><span class="tab-txt">Agreement</span></a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="disclosure-checklist"><span class="tab-txt" style="font-size: 13px;">Disclosure Checklist</span></a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="finalization-checklist"><span class="tab-txt">Closing Checklist</span></a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="rate"><span class="tab-txt">Subsidy Rate</span></a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="annual-reviews"><span class="tab-txt">Annual Review</span></a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="assignments"><span class="tab-txt">Suspension</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ng-container>
                    <div class="row mt-3">
                        <span><p class="guardiandetailsstyling">Child Information</p></span>
                        <div class="col-sm-12 col-lg-3 col-xl-3">
                            <h5>Client Name</h5>
                            <p class="m-0">
                                {{ child?.firstname }} {{ child?.lastname }}
                            </p>
                        </div>
                        <div class="col-sm-12 col-lg-2 col-xl-2">
                            <h5>CJAMS PID #</h5>
                            <p class="m-0">{{ child?.cjamspid }}</p>
                        </div>
                        <div class="col-sm-12 col-lg-2 col-xl-2">
                            <h5>D.O.B</h5>
                            <p class="m-0">
                                {{ child?.dob | date: "MM/dd/yyyy" }}
                            </p>
                        </div>
                        <div class="col-sm-12 col-lg-2 col-xl-2">
                            <h5>Gender</h5>
                            <p class="m-0">{{ child?.gender }}</p>
                        </div>
                    </div>
                </ng-container>
                <br>
                <div style="display:none;" class="row">
                    <div class="col-sm-12 col-lg-3 col-xl-3">
                        <div class="" [formGroup]="childForm">
                            <mat-form-field>
                                <mat-label>Child Name</mat-label>
                                <mat-select placeholder="" formControlName="selectchild"
                                    (selectionChange)="selectChild($event)" required>
                                    <mat-option *ngFor="let child of placement" [value]="child">{{ child?.clientname }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-5 col-xl-5">
                        <ul class="child-details list-unstyled list-inline m-t-30">
                            <li>
                                <span>Name:</span>
                                {{ selectedChild && selectedChild.clientname ? selectedChild.clientname : '' }}
                            </li>
                            <li>
                                <span>ID:</span> {{ selectedChild && selectedChild.clientid ? selectedChild.clientid : '' }}
                            </li>
                            <li>
                                <span>DOB:</span>
                                {{ selectedChild && selectedChild.dob ? (selectedChild.dob | date: "MM/dd/yyyy") : '' }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-lg-4 col-xl-4 text-end">
                        <h5 class="approval m-t-30">
                            Approval Status:-<span>Progress</span>
                        </h5>
                    </div>
                </div>
                <div class="me-15 custom-textarea">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 col-xl-12">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>