<div class="row" *ngFor="let item of questions">
  <div class="col-md-7">
    <span class="required">
        {{item.question}}
    </span>
    <mat-radio-group  class="clearfix" [(ngModel)]="item.value">
        <mat-radio-button [value]="1">Yes</mat-radio-button>
        <mat-radio-button [value]="0">No</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="col-md-5">
    <mat-form-field>
      <mat-label>Description</mat-label>
        <input matInput  [(ngModel)]="item.comments" />
    </mat-form-field>
  </div> 
</div>