<div class="tab-pane" id="search-clearing">

    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered" aria-describedby="tbl-persn-dtls">
                    <thead>
                        <tr>
                            <th scope="col">Check Date</th>
                            <th scope="col">Service Type</th>
                            <th scope="col">AA Number</th>
                            <th scope="col">Name</th>
                            <th scope="col">Role</th>
                            <th scope="col">Check</th>
                            <th scope="col">DCN</th>
                            <th scope="col">SSN</th>
                            <th scope="col">Result</th>
                            <th scope="col">Checked By</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
