.education-section-wrapper {
    border-bottom: 10px solid #F0F2F4;
    padding-bottom: 20px;
}

.quarter-box p input {
    float: right;
}

.mandatory{
    color: red;
}
.help-icon {
    color :#00A2FD
    }
.attendance-table {
    tbody {
        display: block;
        max-height: 300px;
        overflow: auto;
    }
    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}
.pad-top-15 {
    padding-top: 15px;
}
.mar-left-18 {
    margin-left: -18px;
}

input:read-only{
    color: rgba(0, 0, 0, .38);
}