<div role="tabpanel" class="tab-pane dd-overflow-inherit">
    <div class="cnt-min-height">
        <div class="row m-t-10">
            <div class="col-sm-8">
                <h4> Appointments</h4>
            </div>
            <div class="col-sm-4 text-end btns-top">
                <button type="submit" class="btn-pri" (click)="initAppointmentForm()" data-bs-target="#intake-appointment"
                    data-bs-toggle="modal">Create
                </button>
            </div>
            <div class="col-md-12">
                <div class="row person-wrap">
                    <div class="col-sm-3" *ngFor="let appointment of appointments; let i=index">
                        <div class="card panel-default person-panel">
                            <div class="card-header">

                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        <h4>{{appointment.titledescription}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body appointment-panel">
                                <dl *ngIf="!isCaseWorkerAppointment(appointment) ">
                                    <dt>Date</dt>
                                    <dd class="single-wrap"> {{appointment.appointmentDate | date:'MM/dd/yyyy'}}
                                        {{appointment.appointmentTime}}
                                    </dd>
                                </dl>
                                <dl *ngIf="isCaseWorkerAppointment(appointment) ">
                                    <dt>Date</dt>
                                    <dd class="single-wrap">{{getappointmentDate(appointment.appointmentdate) |
                                        date:'MM/dd/yyyy' }}
                                        {{getappointmentTime(appointment.appointmentdate)}}
                                    </dd>
                                </dl>
                                <dl *ngIf="!isCaseWorkerAppointment(appointment) ">
                                    <dt>Intake Worker</dt>
                                    <dd>
                                        {{getIntakeWorkerName(appointment.intakeWorkerId)}}
                                    </dd>
                                </dl>
                                <dl *ngIf="isCaseWorkerAppointment(appointment) ">
                                    <dt>Case Worker</dt>
                                    <dd>
                                        {{appointment.appointmentworkername}}
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>Persons</dt>
                                    <dd> <span *ngFor="let actor of appointment.actors">
                                            {{getPersonName(actor?.actorid)}} <br>
                                        </span>
                                    </dd>

                                </dl>
                                <dl>
                                    <dt>Status</dt>
                                    <dd>{{appointment.status}}</dd>
                                </dl>
                                <dl *ngIf="appointment.notes">
                                    <dt>Notes</dt>
                                    <dd [innerHTML]="appointment.notes" style="cursor: pointer;" class="editor-notes"
                                        data-bs-toggle="modal" data-bs-target="#complete-appointment-popup" (click)="openAppointmentComments(appointment)"></dd>


                                </dl>
                            </div>
                            <div class="panel-footer">
                                <ul class="list-unstyled icon-btn">
                                    <li *ngIf="isCaseWorkerAppointment(appointment) && appointment.status !== 'Completed'">
                                        <button data-bs-toggle="modal" data-bs-target="#complete-appointment-popup"
                                            matTooltip="Complete" (click)="onCompleteAppointment(appointment)">
                                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                        </button>
                                    </li>
                                    <li *ngIf="isCaseWorkerAppointment(appointment) && appointment.status !== 'Completed'">
                                        <button data-bs-toggle="modal" matTooltip="Edit" data-bs-target="#intake-appointment"
                                            (click)="onEditAppointment(appointment)">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                    </li>
                                    <li *ngIf="isCaseWorkerAppointment(appointment) ">
                                        <button (click)="getCWAppointmentHistory(appointment)" data-bs-toggle="modal"
                                            matTooltip="History" data-bs-target="#appointment-history-cw">
                                            <i class="fa fa-history" aria-hidden="true"></i>
                                        </button>
                                    </li>
                                    <li *ngIf="!isCaseWorkerAppointment(appointment) && appointment.history && appointment.history.length>0">
                                        <button (click)="showHistory(appointment)" data-bs-toggle="modal" matTooltip="History"
                                            data-bs-target="#appointment-history-pu">
                                            <i class="fa fa-history" aria-hidden="true"></i>
                                        </button>
                                    </li>
                                    <li *ngIf="isCaseWorkerAppointment(appointment) && appointment.status !== 'Completed'">
                                        <button data-bs-toggle="modal" matTooltip="Delete" data-bs-target="#delete-appointment-popup"
                                            (click)="confirmDelete(appointment)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Create/Edit Appointment-->
<div class="modal fade in" id="intake-appointment" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="IntakeAppointmentLabel">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title">{{titleText}} Appointment</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"></button>
            </div>
            <div class="modal-body ">

                <form [formGroup]="appointmentForm">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="header-bg">Appointment Details</h4>
                            <mat-form-field>
                                <mat-label>Title</mat-label>
                                <mat-select matInput formControlName="titleid" placeholder="" (selectionChange)="processTitle()"
                                    required>
                                    <mat-option *ngFor="let  title of titleDropdown" [value]="title.titleid">{{title.titlekey}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field *ngIf="isOtherAppointmentTitle">
                                <mat-label>Title</mat-label>
                                <input type="text" matInput formControlName="title" placeholder="" required>
                            </mat-form-field>
                            <div *ngIf="showyouth" class="row">
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-label>CJAMS PID</mat-label>
                                        <input matInput number formControlName="youthid" placeholder="">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-label>Youth Name</mat-label>
                                        <input matInput number formControlName="youthname" placeholder="">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-label>Youth SSN</mat-label>
                                        <input matInput formControlName="youthssn" mask="000-00-0000" placeholder="">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-label>Case Worker</mat-label>
                                        <input matInput formControlName="worker" placeholder="">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Date</mat-label>
                                        <input matInput required autocomplete="off" [matDatepicker]="picker" [min]="minDate" (click)="picker.open()"
                                            (focus)="picker.open()" id="appointmentDate" formControlName="appointmentDate"
                                            placeholder="">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Appointment Time</mat-label>
                                        <input type="time" required formControlName="appointmentTime" matInput
                                            placeholder="">
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                        <div *ngIf="!showyouth" class="col-md-6">
                            <h4 class="header-bg">Involved Persons</h4>
                            <mat-selection-list formControlName="actors" dense [required]="!showyouth">
                                <mat-list-option *ngFor="let person of addedPersons" [value]="person.personid">
                                    <h3 matLine *ngIf ="!isDjs">{{person.firstname}} {{person.lastname}} </h3>
                                    <h3 matLine *ngIf ="isDjs">{{person.lastname}},{{person.firstname}} </h3>
                                    <p matLine>
                                        Role: <span> {{person.rolename}} </span>
                                    </p>

                                    <p matLine *ngIf="person.relationship">
                                        Relation: <span>{{person.relationship}} </span>
                                    </p>
                                </mat-list-option>
                            </mat-selection-list>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row m-t-10">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn-pri" [disabled]="appointmentForm.pristine || appointmentForm.invalid"
                                    (click)="createOrUpdateAppointment()">{{actionText}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Delete Confirm-->
<div class="modal fade " id="delete-appointment-popup" role="dialog">
    <div class="modal-dialog modal-md custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Confirm Delete </h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this appointment? </p>

                <div class="text-end big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" name="" data-bs-dismiss="modal"> No</button>
                    <button type="button" value="Yes" class="btn-pri" name="" data-bs-dismiss="modal" (click)="deleteAppointmentConfirm()">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--complete Confirm-->
<div class="modal fade " id="complete-appointment-popup" role="dialog">
    <div class="modal-dialog modal-md custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="!readOnly"> Complete Appointment </h4>
                <h4 class="modal-title" *ngIf="readOnly"> Appointment Notes </h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="text-end big-bot-space right-mspace-15 m-t-10">
                    <button type="button" *ngIf="!readOnly" value="No" class="btn-pri" name="" data-bs-dismiss="modal"> No</button>
                    <button type="button" *ngIf="!readOnly" value="Yes" class="btn-pri" name="" (click)="appointmentCompleteConfirm()">
                        Yes
                    </button>
                    <button type="button" *ngIf="readOnly" value="Ok" class="btn-pri" name="" data-bs-dismiss="modal"> Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Appointment History-->
<div class="modal fade " id="appointment-history-pu" role="dialog">
    <div class="modal-dialog modal-lg custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Appointment History</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="table-responsive table-theme">
                        <table class="table table-striped" aria-describedby="tbl-appointment-history">
                            <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Scheduled By</th>
                                    <th scope="col">Intake Worker</th>
                                    <th scope="col">Persons Involved</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of appointmentHistoryObj">
                                    <td>{{item.title}}</td>
                                    <td>{{item.appointmentDate | date:'MM/dd/yyyy'}} {{item.appointmentTime}}</td>
                                    <td>{{item.scheduledBy}}</td>
                                    <td>{{getIntakeWorkerName(item.intakeWorkerId)}}</td>
                                    <td>
                                        <span *ngFor="let actor of item.actors">
                                            {{getPersonName(actor?.actorid)}} <br>
                                        </span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 m-t-10 text-end">
                    <button type="button" value="No" class="btn-pri" name="" data-bs-dismiss="modal"> Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Appointment History-->
<div class="modal fade " id="appointment-history-cw" role="dialog">
    <div class="modal-dialog modal-lg custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Appointment History</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="table-responsive table-theme">
                        <table class="table table-striped" aria-describedby="tbl-appointment-history">
                            <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Scheduled By</th>
                                    <th scope="col">Persons Involved</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of appointmentHistoryObj">
                                    <td>{{item.titledescription}}</td>
                                    <td>{{getappointmentDate(item.appointmentdate) | date:'MM/dd/yyyy'}}
                                        {{getappointmentTime(item.appointmentdate)}}
                                    </td>
                                    <td>{{item.appointmentworkername}}</td>
                                    <td>
                                        <span *ngFor="let actor of item.actors">
                                            {{getPersonName(actor?.actorid)}} <br>
                                        </span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 m-t-10 text-end">
                    <button type="button" value="No" class="btn-pri" name="" data-bs-dismiss="modal"> Close</button>
                </div>
            </div>
        </div>
    </div>
</div>