<div class="tab-pane active" role="tabpanel">
    <div class="row" *ngIf="reportSummary; let reportSummary">

        <div class="col-sm-4">
            <div class="card panel-default disposition-panel">
                <div class="card-header">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <h4 class="text-uppercase">Case Details</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <dl class="dl-horizontal">
                        <dt>Case #</dt>
                        <dd class="single-wrap">{{headerSummary?.da_number}}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Intake Worker</dt>
                        <dd class="single-wrap">{{headerSummary?.da_intakeworker}}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Referral Source</dt>
                        <dd class="single-wrap">{{reportSummary?.intakeservicerequesttype?.description}}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Subtype </dt>
                        <dd>{{reportSummary?.servicerequestsubtype?.description !== 'Default' ?
                            reportSummary?.servicerequestsubtype?.description
                            : ''}}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Youth</dt>
                        <dd class="single-wrap">{{headerSummary?.da_focus}}</dd>
                    </dl>
                    <div *ngFor="let complaint of reportSummary?.intakeservicerequestevaluation">
                        <dl class="dl-horizontal">
                            <dt>Complaint ID</dt>
                            <dd>{{complaint?.complaintid}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Age</dt>
                            <dd>{{complaint?.yearsofage}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Offense </dt>
                            <dd> <span *ngFor="let offense of complaint?.intakeservicerequestevaluationconfig">{{offense?.allegation?.name}}
                                    &nbsp;</span></dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Offense Location</dt>
                            <dd>{{complaint?.county?.countyname}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Adjudication Date</dt>
                            <dd>{{headerSummary?.intake_jsondata?.courtDetails?.adjudicationdatetime |
                                date:'yyyy-MM-dd'}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Adjudicated Decision</dt>
                            <dd *ngIf="headerSummary?.intake_jsondata?.courtDetails?.adjudicationdecision == 'S'">Sustained</dd>
                            <dd *ngIf="!(headerSummary?.intake_jsondata?.courtDetails?.adjudicationdecision == 'S')">Not
                                Sustained</dd>
                        </dl>
                    </div>



                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card panel-default disposition-panel">
                <div class="card-header">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <h4 class="text-uppercase">Assessment Details</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <dl class="dl-horizontal dl-emphasis">
                        <p class="text-uppercase">MCASP</p>
                        <dt>Delinquency History Score </dt>
                        <dd>{{assmentScores.MCASP.dhs}}</dd>
                        <dt>Social History Score </dt>
                        <dd>{{assmentScores.MCASP.shs}}</dd>
                        <dt>Risk Level </dt>
                        <dd>{{assmentScores.MCASP.risklevel}}</dd>
                    </dl>
                    <dl class="dl-horizontal dl-emphasis">
                        <p class="text-uppercase">DRAI</p>
                        <dt>DRAI Score </dt>
                        <dd>{{assmentScores.DRAI.score}}</dd>
                        <dt>Risk Level </dt>
                        <dd>{{assmentScores.DRAI.value}}</dd>
                        <dd><button [disabled]="disabledetention" class="btn btn-pri" (click)="openDetentionNotesPopup()">{{isDetention ? 'Close' :
                                'Open'}} Detention</button></dd>
                    </dl>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card panel-default disposition-panel">
                <div class="card-header">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <h4 class="text-uppercase">Generated Documents</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ng-container *ngFor="let document of headerSummary?.intake_jsondata?.generatedDocuments">
                        <dl class="dl-horizontal dl-emphasis" *ngIf='document.isGenerated'>
                            <p>{{document?.title}}</p>
                            <dt>Generated by </dt>
                            <dd>{{document?.generatedBy}}</dd>
                            <dt>Generated Date </dt>
                            <dd>{{document?.generatedDateTime | date : 'MM/dd/yyyy hh:mm:ss a'}}</dd>

                            <dt>Action</dt>
                            <dd><span><a data-bs-toggle="modal" data-bs-target="#docu-View" (click)="downloadDocument(document)"><i
                                            class="fa fa-download" aria-hidden="true"></i>View/Download</a></span></dd>
                        </dl>
                    </ng-container>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade in person" id="myModal-person" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <h4 class="modal-title">Person</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-letter-tab form-align" style="margin-top: 0">
                            <div class="table-responsive">
                                <table class="table table-bordered" aria-describedby="tbl-person-lst">
                                    <thead>
                                        <tr>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Role</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let person of (reportSummary)?.intakeservicerequestactor">
                                        <tr *ngIf="person.actor?.Person?.dangerlevel == 1">
                                            <td>{{person.actor.Person.firstname ? person.actor.Person.firstname :
                                                '-'}}</td>
                                            <td>{{person.actor.Person.lastname ? person.actor.Person.lastname :
                                                '-'}}</td>
                                            <td>{{person.actor.actortype ? person.actor.actortype: '-'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Address Modal -->
<div class="modal fade in person" id="myModal-Address" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content customize-modal">
            <div class="modal-header">
                <h4 class="modal-title">Address</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-letter-tab form-align no-mar">
                            <div class="table-responsive">
                                <table class="table table-bordered no-mar" aria-describedby="tbl-address-lst">
                                    <thead>
                                        <tr>
                                            <th scope="col">Address</th>
                                            <th scope="col">Role</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let addressItem of (reportSummary)?.intakeservicerequestactor">
                                        <tr *ngIf="addressItem?.actor?.Person?.personaddress?.[0]?.danger === true">
                                            <td>{{addressItem?.actor?.Person?.personaddress?.[0]?.address ?? '-'}}
                                            </td>
                                            <td>{{addressItem.actor.actortype ? addressItem.actor.actortype: '-'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detention-notes" role="dialog" aria-labelledby="myModalLabel" data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <h4 class="modal-title">{{isDetention ? 'Close' : 'Open'}} Detention Notes</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer wizard-buttons">
                <button class="btn-pri" (click)="toggleDetetionStatus()">{{isDetention ? 'Close' : 'Open'}} Detention</button>
            </div>
        </div>
    </div>
</div>