.catagory-box mat-checkbox {
    display: block;
}

.label-align label {
    float: right;
}

.m-t-30 {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

label {
    font-weight: 400;
}

span {
    font-weight: 700;
}