<div *ngIf="moduleview" class="container-fluid">
    <section id="cw-profile-section" class="profile-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="">
                        <p>
                            CHILD'S NAME: <span>{{summaryInfo?.childname}}</span>
                        </p>
                        <p>
                            {{iveUserRole}} NAME:<span>{{summaryInfo?.specialistName}}</span>
                        </p>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="">
                        <p>
                            CLIENT ID: <span>{{clientId}}</span>
                        </p>
                        <p>
                            AGENCY : <span>{{summaryInfo?.isdjsordsschild}}</span>
                        </p>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="">
                        <p>
                            JURISDICTION: <span>{{summaryInfo?.childjurisdiction}}</span>
                        </p>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="row">
                        <p>
                            CASE NUMBER: <span>
                                <a target="_blank" (click)="navigateCaseNumber(summaryInfo)"
                                    [ngStyle]="{  'font-weight': 'bold', 'color':'#172f43' }"
                                    class="aut-lnk-caseNumber atag">{{summaryInfo?.casenumber}}
                                </a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <div  class="box-grid-main clsMinHeight clearfix no-shadow">
            <div class="col-sm-2 text-end" style="float: right; margin-top:10px">
                <div class="header-title">
                    <button class="btn btn-pri" (click)="goBack()">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> back
                      </button>
                    </div>
                  </div>
        <div class="row" style="width:100%">
            <div class="col-md-12 col-lg-12">
                <div class="tab-content">
                    <form>
                        <div class="tab-pane active" id="dsds-action-tab">
                            <div class="tab-horizontal">
                                <div class="tab-horizontal-bg" id="cw-scroll-tab">
                                    <div class="tab-horizontal1">
                                        <ul class="nav nav-pills click-triggers intake-tabs">
                                            <li class="nav-item">
                                                <a class ="nav-link" data-bs-toggle="tab" id="eligibilityDetailsBtnTrigger"
                                                    data-bs-target="#eligibilityDetails">ELIGIBILITY
                                                    DETAILS
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#eligibility">ELIGIBILITY
                                                    WORKSHEET</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class ="nav-link" id="attachmentBtnTrigger" data-bs-toggle="tab" data-bs-target="#attachment">ATTACHMENT</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class ="nav-link" data-bs-toggle="tab" data-bs-target="#reports">REPORTS</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class ="nav-link" data-bs-toggle="tab" data-bs-target="#decision">DISPOSITION</a>
                                            </li>
                                        </ul>
                                    </div>

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="eligibility">

                                                <eligible-worksheet-form [summaryInfo]="summaryInfo"
                                                    [worksheetData]="worksheetData" [worksheetForm]="worksheetForm"
                                                    [generalForm]="generalForm" [legalForm]="legalForm"
                                                    [incomeForm]="incomeForm" [criteriaForm]="criteriaForm"
                                                    [tempRows1]="tempRows1"
                                                    (submitForReview)="submitDetermination($event)"
                                                    (incomeSummaryData)="getTableData($event)" *ngIf="summaryInfo">
                                                </eligible-worksheet-form>
                                            </div>
                                            <div class="tab-pane" id="eligibilityDetails">
                                                <eligible-details></eligible-details>
                                            </div>
                                            <div class="tab-pane" id="attachment">
                                                <attachment></attachment>
                                                <div class="col-md-12 card-body"
                                                    style="margin-top:20px; height:300px;">
                                                    <div class="col-md-12"></div>

                                                </div>
                                            </div>
                                            <div class="tab-pane" id="attachments">
                                            </div>
                                            <div class="tab-pane" id="reports">
                                                <report></report>
                                                <div class="col-md-12 card-body"
                                                    style="margin-top:20px; height:300px;">
                                                    <div class="col-md-12"> </div>

                                                </div>
                                            </div>
                                            <div class="tab-pane" id="narrative">
                                                <narratives></narratives>
                                                <div class="col-md-12 card-body"
                                                    style="margin-top:20px; height:300px;">
                                                    <div class="col-md-6">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="decision">
                                                <decisions [worksheetForm]="worksheetForm"
                                                    [eligibilityPerioodData]="mainTanble"></decisions>
                                                <div class="col-md-12 card-body"
                                                    style="margin-top:20px; height:300px;">
                                                    <div class="col-md-12"> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- tab1 -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width: 78%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped" aria-describedby="">
                    <thead style="    background-color: #039be6;">
                        <tr>
                            <th scope="col" class="th">Date</th>
                            <th scope="col" class="th">Event ID</th>
                            <th scope="col" class="th">Status</th>
                            <th scope="col" class="th">Event Start Date</th>
                            <th scope="col" class="th">Event End Date</th>
                            <th scope="col" class="th">Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6/16/2013</td>
                            <td></td>
                            <td>Non-Reimbursible</td>
                            <td>1/1/2012</td>
                            <td>12/31/2012</td>
                            <td>No change</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- tab1 -->

<!-- tab2 -->
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog" style="width: 78%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped" aria-describedby="">
                    <thead style="background-color: #039be6;">
                        <tr>
                            <th scope="col" class="th">Date</th>
                            <th scope="col" class="th">Event ID</th>
                            <th scope="col" class="th">Status</th>
                            <th scope="col" class="th">Event Start Date</th>
                            <th scope="col" class="th">Event End Date</th>
                            <th scope="col" class="th">Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6/16/2013</td>
                            <td></td>
                            <td>Non-Reimbursible</td>
                            <td>7/2/2011</td>
                            <td>12/31/2011</td>
                            <td>Change in Placement - Non reimbursible Placement</td>
                        </tr>
                        <tr>
                            <td>6/16/2013</td>
                            <td></td>
                            <td>Reimbursible</td>
                            <td>1/1/2011</td>
                            <td>7/1/2011</td>
                            <td>No change</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- tab2 -->

<!-- tab3 -->
<div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog" style="width: 78%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped" aria-describedby="">
                    <thead style="background-color: #039be6;">
                        <tr>
                            <th scope="col" class="th">Date</th>
                            <th scope="col" class="th">Event ID</th>
                            <th scope="col" class="th">Status</th>
                            <th scope="col" class="th">Event Start Date</th>
                            <th scope="col" class="th">Event End Date</th>
                            <th scope="col" class="th">Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6/16/2013</td>
                            <td></td>
                            <td>Non-Reimbursible</td>
                            <td>9/1/2010</td>
                            <td>12/31/2010</td>
                            <td>Change in Placement - Non reimbursible Placement</td>
                        </tr>
                        <tr>
                            <td>6/16/2013</td>
                            <td></td>
                            <td>Non-Reimbursible</td>
                            <td>6/1/2010</td>
                            <td>8/30/2010</td>
                            <td>Ineligible Placement</td>
                        </tr>
                        <tr>
                            <td>6/16/2013</td>
                            <td></td>
                            <td>Non-Reimbursible</td>
                            <td>1/1/2010</td>
                            <td>5/30/2010</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog" style="width: 78%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">SUPERVISORS</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped" aria-describedby="">
                    <thead style="background-color: #039be6;">
                        <tr>
                            <th id="1"></th>
                            <th id="name">NAME</th>
                            <th id="typeofspvsr">TYPE OF SUPERVISOR</th>
                            <th id="unit">UNIT</th>
\                        </tr>
                    </thead>
                    <tbody *ngIf="getUsersList; let getlist">
                        <ng-container *ngIf="getlist.length>0; else noItems">
                            <tr *ngFor="let item of getlist">
                                <td>
                                    <label class="control control--radio">
                                        <input type="radio" name="Address" (click)="selectPerson(item)">
                                        <div class="control__indicator"></div>
                                    </label>
                                </td>
                                <td>{{item.username}} </td>
                                <td>{{item.userrole}}</td>
                                <td>{{item.teamname}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn-pri" (click)="submitClentCase()">ASSIGN</button>
            </div>
        </div>
    </div>
</div>



<!-- tab3 -->
<div class="modal fade" id="worker-caseassign" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <h4 class="modal-title">Route Case</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body dashboard-cont">
                <div class="tab-horizontal mrg-btm25">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#caseassign-caseworker" data-bs-toggle="tab">SUPERVISORS</a>
                        </li>
                    </ul>
                    <div class="tab-content boxgrid">
                        <div class="tab-pane active" id="caseassign-caseworker">
                            <div class="">
                                <div class="bs-example">
                                    <table class="table" sortable-table aria-describedby="">
                                        <thead>
                                            <tr>
                                                <th id="1"></th>
                                                <th id="name">NAME</th>
                                                <th id="caseload">CASE LOAD</th>
                                                <th id="availability">AVAILABILITY</th>
                                                <th id="agency">AGENCY</th>
                                                <th id="agency">UNIT</th>
                                                <th id="totalcases">Total Cases</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container>
                                                <tr *ngFor="let item of supervisorList">
                                                    <td>
                                                        <label class="control control--radio">
                                                            <input type="radio" name="Address"
                                                                (click)="selectPerson(item)">
                                                            <div class="control__indicator"></div>
                                                        </label>
                                                    </td>
                                                    <td>{{item.username}} </td>
                                                    <td>{{item.workloads}}</td>
                                                    <td>{{item.available}}</td>
                                                    <td>{{item.agencykey}}</td>
                                                    <td>{{item.teamname}}</td>
                                                    <td>{{item.totalcases ? item.totalcases : 'N/A'}}</td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                    <ng-template #noItems>No Items!</ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-12 clsIntake dpnew m-t-10" *ngIf="isCPSAR">
                        <h4 class="m-b-20"> Responsibility:</h4>
                        <div class="row">
                            <div class="col-sm-2" *ngFor="let type of responsibilityTypeDropdownItems$ | async">
                                <label class="control control--radio" style="display: inline">
                                    <input type="radio" name="responsibilityType"
                                        (click)="selectResponsibilityType(type.value)">
                                    <div class="control__indicator"></div>
                                </label>
                                {{type.text}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer wizard-buttons" *ngIf="_authService.readonlyButton('titleive_read_only_access','')" >
                <button class="btn-pri" *ngIf="_authService.readonlyButton('titleive_read_only_access','')">SUBMIT</button>
            </div>
        </div>
    </div>
</div>