.on-demand-activities .multi-slt-btn{height: 220px;padding-top: 35px;}
.modal .modal-body-maxh {max-height: 640px;}
.btn-group.btn-group-re .btn-pri {min-width: 129px;}
.btn-pri { font-size: 13px;}
.control input:checked ~ .control__indicator{ top: -5px;}
// .customize-modal .modal-multi .control__indicator {
//     top: -5px;
// }
