.table-theme .table tr td {text-align:left !important}
.table-theme thead tr th.action,.table-theme thead tr td.action {
    width: 150px;
    text-align: center;
}
.h-bg {
    background: #e8e5e5;
    padding: 11px;
    color: #333;
    font-size: 16px;
}
.custom-mat-label {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top:25px;
}
/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
mat-checkbox {
    display: block !important;
    margin-bottom: 10px;
}
.uploaded-files .btn-bs-file {
    position: relative;
    margin-bottom: 0;
}
.uploaded-files .btn-bs-file input[type='file'] {
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
    cursor: inherit;
}
.uploaded-files {
    border: 3px dotted #ddd;
    padding: 25px;
    text-align: center;
    margin-top: 30px;
}
.provider-checklist {
    border: 2px solid #e8e5e5;
    padding: 15px;
}
.m-b-0 {
    margin-bottom: 0;
}
.p-r-30 {
    padding-right:30px;
} 