<div id="Kinship" class="tab-pane" role="tabpanel">
  <div class="">
    <div class="">
      <form action="" class="form" [formGroup]="kinshipFormGroup" [fieldKey]="'caseworker-kinship-care'">
        <div class="col-sm-10">
          <h3>Kinship Care</h3>
          <div class="row">
            <div class="col-sm-5">
              <mat-form-field>
                <mat-label>Select Applicant</mat-label>
                <mat-select placeholder="" formControlName="primaryisractorid" (selectionChange)="restrictCoApplicant($event)">
                  <mat-option *ngFor="let person of applicant | async" [value]="person.personid">
                    {{person.firstname + ' ' + person.lastname}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-5">
              <mat-form-field>
                <mat-label>Select Co-Applicant</mat-label>
                <mat-select placeholder="" formControlName="secondaryisractorid">
                  <mat-option *ngFor="let person of coapplicant | async" [value]="person.personid">
                    {{person.firstname + ' ' + person.lastname}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 m-t-20">
              <div class="table-responsive table-theme">
                <table class="table table-striped" aria-describedby="tbl-kinship-lst">
                  <thead>
                    <tr>
                      <th scope="col">Action</th>
                      <th scope="col">Title</th>
                      <th scope="col" class="action">Due Days</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <a data-bs-toggle="modal" data-bs-placement="top" title="start" data-original-title="Start" (click)="openAssessment()">
                          <img src="assets/images/assess-start.png" alt="">
                        </a>
                      </td>
                      <td><a data-bs-toggle="modal" data-bs-placement="top" title="start" data-original-title="Start" (click)="openAssessment()">
                          Home Health Report form DHR/SSA 1083</a></td>
                      <td class="action" style="text-align: center;">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <h5 class="custom-mat-label">Child Characteristics willing to Accept</h5>
              <mat-form-field class="no-placeholder">
                <input matInput placeholder="" formControlName="acceptcharacteristics">
              </mat-form-field>
            </div>
            <div class="col-sm-5">
              <h5 class="custom-mat-label">CPS Clearance Info</h5>
              <mat-form-field class="no-placeholder">
                <input matInput placeholder="" formControlName="cpsclearance">
              </mat-form-field>
            </div>
            <div class="col-sm-5">
              <h5 class="custom-mat-label">Criminal Justice System info (FBI, State, Maryland Judiciary Casesearch and
                Sex Offender Registry)</h5>
              <mat-form-field class="no-placeholder">
                <input matInput placeholder=""  formControlName="cjsinfo">
              </mat-form-field>
            </div>
            <div class="col-sm-5" style="margin-top:15px">
              <h5 class="custom-mat-label">Placement Type(s)</h5>
              <mat-form-field>
                <mat-label>Select Placement</mat-label>
                <mat-select placeholder="" formControlName="placement">
                  <mat-option [value]="">Placement type</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
              <div class="col-sm-10" *ngIf="isdisplayComments">
                <h5 class="custom-mat-label">Comments</h5>
                <mat-form-field class="no-placeholder">
                    <textarea type="text" formControlName="comments" matInput
                    placeholder="Comments"></textarea>
                </mat-form-field>
    
                <div class="col-sm-10 text-end m-t-20 p-r-30" *ngIf="isSupervisor">
                    <button class="btn btn-pri" (click)="saveKinship('Accept')">Accept</button>
                    <button class="btn btn-pri" (click)="saveKinship('Reject')">Reject</button>
                </div>
              </div>
          </div>
          <div class="row"  *ngIf="!isSupervisor">
            <div class="col-sm-10 text-end m-t-20 p-r-30">
              <button class="btn btn-pri" (click)="saveKinship(null)">Submit For Approval</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="kinship-assessment-popup" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
              <h4 class="modal-title">Home Health Report form DHR/SSA 1083</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="assessment-view"></div>
            </div>
        </div>
    </div>
</div>
