.progress {
    height: 5px;
}

.cursor-pointer {
    cursor: pointer;
}
.action-icons ul li {
    float: right;
    text-align: center;
}

.m-upload-doc {
    width: fit-content;
}

.rm-margin-right {
    margin-right: unset !important;
}
