<!--DSDS Action Filters-->
<div class="container-fluid no-pad">
  <div class="form-control-size">
      <div class="col-md-12 col-sm-12 col-xs-12 no-pad equipment-management-new">
          <div class="col-md-3 col-sm-4 col-xs-12 ps-0">
              <!--Serach filter-->
              <dsds-actions-search 
              [dsdsActionSearchData$]="dsdsActionSearchData$"
              [totalSearchRecord$]="totalSearchRecord$"
              [pageNumberSearch$]="pageNumberResult$">
              </dsds-actions-search>
          </div>  
          <!--Search result-->
          <div class="col-md-9 col-sm-8 col-xs-12 right-side-box">               
          <dsds-actions-result
          [showTable]="showTable"  
          [pageNumberResult$]="pageNumberResult$"       
          [dsdsActionResultData$]="dsdsActionResultData$"
          [totalResulRecords$]="totalResulRecords$"          
          ></dsds-actions-result>   
          </div>     
      </div>
  </div>
</div>
<!--DSDS Action Filters end-->