.mini-select .multi-select{width: 100%;
    border: 1px solid #ccc;
    padding: 0 10px;
    overflow: auto;
    height: 120px;
}

.selected-person-container {
    overflow: auto;
    max-height: 100px;
    padding: 8px 0;
}

.compact-table .mat-mdc-cell {
    padding: 4px 8px;
    font-size: 14px;   
    font-weight: bold;
  }
  
  .compact-table .mat-mdc-row {
    margin: 0;
    height: 32px;
    border-style: none;
    min-height: 25px  
  }
 
.select__arrow.pos1 {
    top: 38px;
    right: 9px;
    border-color: #888 transparent transparent transparent;
}
.select-icon{position: relative;}
.report-summary .box-grid-header .form-group{margin:15px; position: relative;}

// .source-date-info{margin-top: 15px;}
.form-group a.no-border{border: none;padding:0; cursor:default;}

.no {
    display: inline-block;
    margin: 0 10px;
    color: #00bcd3;
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 0;
    border-radius: 3px;
}
.fa-calendar {
    right: 10px;
    top: 10px;
}
.select-icon:after{
    top: 14px;
    right: 10px;
}
.clsMinwidth-130{
    font-weight: normal;
    min-width: 130px;
    display: inline-block;
}
.p-l-10{
    padding-left: 10px;
}

.speechtoTextIcon {
    float: right;
    right: 6px;
    top: -36px;
    position: relative;
}

.report-summary .btn-pri {
    margin: 0px;
}

.status-list li {
    display: inline-block;
    padding-right: 20px;
}

.resonfrDelayDDL{
    width: 100%;
    margin-bottom: -14px;
    margin-left: -15px;
  }
  .mat-mdc-checkbox{
  --mdc-checkbox-disabled-selected-icon-color:#00a2fd !important;
}
.mat-mdc-cell,
.mat-mdc-header-cell {
  border-bottom: none !important;
}