<div class="list-edu-wrapper">
  <div class="dashboard-cont m-t-10">
    <div class="row" *ngIf="(educationPersonList)?.length !== 0">
      <div class="col-lg-3 col-sm-4 col-xl-3" *ngFor="let edu of educationPersonList; let i=index; let odd=odd">
          <div class="card panel-default person-panel mb-3">
            <div class="card-header">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <h4 class="col-title">{{edu.personEducation?.educationname || '--NA--' }}</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="add-list-item">
                    <ng-container *ngIf="edu.personEducation">
                        <p><label>Current Grade : </label> {{edu.personEducation?.currentgrade || '--NA--'}} </p>
                        <p><label>Start Date: </label>
                            {{(edu.personEducation?.startdate | date: 'MM/dd/yyyy') || '--NA--' }}
                         </p>
                        <p><label>End Date: </label> {{(edu.personEducation?.enddate | date: 'MM/dd/yyyy') || '--NA--' }} </p>
                        <p><label>Address: </label> {{edu.personEducation?.schooladdress1}}, {{edu.personEducation?.adrcityname}}, {{edu.personEducation?.statecode}}, {{edu.personEducation?.schoolzipcode}}</p>
                      </ng-container>
              
                        <ng-container *ngIf="edu.personAccomplishment && false">
                          <p><label>Accomplishment date: </label> {{(edu.personAccomplishment?.accomplishmentdate | date: 'dd/MM/yyyy') || '--NA--' }} </p>
                          <p><label>Accomplishment Record: </label> {{edu.personAccomplishment?.isrecordreceived || '--NA--' }} </p>
                          <p><label>Accomplishment Recieved Date: </label> {{(edu.personAccomplishment?.receiveddate | date: 'dd/MM/yyyy') || '--NA--' }} </p>
                        </ng-container>
              
                        <ng-container *ngIf="edu.personEducationTesting && false">
                          <p><label>Reading Level: </label> {{edu.personEducationTesting?.readinglevel || '--NA--' }} </p>
                          <p><label>Reading Test Date: </label> {{(edu.personEducationTesting?.readingtestdate | date: 'dd/MM/yyyy') || '--NA--' }} </p>
                          <p><label>Testing Provider: </label> {{edu.personEducationTesting?.testingprovider || '--NA--' }} </p>
                        </ng-container>
                  
                </div>
            </div>
            <div class="card-footer">
                <div class="row action">
                    <div class="col-sm-6">
                        <a *ngIf="(!isClosed && _authService.isPersonSubTabViewable('person','person.Education.edit'))" (click)="editEducation(edu)"><em class="fa fa-edit"></em>&nbsp;&nbsp;Edit</a>
                        <a *ngIf="isClosed" (click)="editEducation(edu)"><em class="fa fa-eye"></em>&nbsp;&nbsp;View</a>
                    </div>
                    <div [ngClass] = "{'disable-anchor' : (isClosed || !_authService.isPersonSubTabViewable('person','person.Education.delete')), 'col-sm-6 text-right': true}">
                      <a [ngClass]="{'pointer-events-none':(isClosed || !_authService.isPersonSubTabViewable('person','person.Education.delete'))}" (click)="confirmDelete(edu.personEducation.personeducationid)"><em
                          class="fa fa-trash"></em>&nbsp;&nbsp;Delete</a></div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm Delete</h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this item?</p>
        <div class="text-end big-bot-space right-mspace-15">
          <button type="button" value="No" class="btn-bg" name="" (click)="declineDelete()">No</button>
          <button type="button" value="Yes" class="btn-pri" name="" (click)="deleteAddress()">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="info-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Alert!</h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>{{educationinfo}}</p>
        <div class="text-end big-bot-space right-mspace-15">
          <button type="button" value="Yes" class="btn-pri" name="" data-bs-dismiss="modal" >OK</button>
        </div>
      </div>
    </div>
  </div>
  </div>