<form [formGroup]="assignmentForm" id="assignment-Form">
  <div class="clsGap-form clsForm-inline hide" *ngIf="placement; let data">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="mb-3 clearfix">
          <label for=""> Child Name </label>
          <span>
            {{data?.childname ? data?.childname : 'NA'}}
          </span>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="mb-3 clearfix">
          <label for=""> Date of Birth </label>
          <span>
            {{data?.dob ? (data?.dob | date:'MM/dd/yyyy') : 'NA'}}
          </span>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="mb-3 clearfix">
          <label for=""> Gender
            <span></span>
          </label>
          <span>
            {{data?.gender ? data?.gender : 'NA'}}
          </span>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="mb-3 clearfix">
          <label for=""> Age
            <span></span>
          </label>
          <span>
            {{data?.dob ? (data?.dob | ageCal) : 'NA'}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
  </div>
  <div *ngIf="suspesionReason && suspesionReason.length">
    <label class="blue">Suspension</label>
    <div class="table-responsive">
      <table class="table table-bordered icon-action" aria-describedby="Suspesion Reason Details">
        <thead>
          <tr>
            <th id="reasonHeader">Reason</th>
            <th id="starteDateHeader">Start Date</th>
            <th id="endDateHeader">End Date</th>
            <th id="notesHeader">Notes</th>
            <th id="statusHeader">Status</th>
            <th id="actionHeader" *ngIf="!isSupervisor">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let suspension of suspesionReason; let i=index;">
            <td>
              {{suspension?.typedescription}}
            </td>
            <td class="text-caps">
              {{suspension?.startdate ? (suspension?.startdate | date: 'MM/dd/yyyy') : ''}}
            </td>
            <td class="text-caps">
              {{suspension?.enddate ? (suspension?.enddate | date: 'MM/dd/yyyy') : ''}}
            </td>
            <td> <a  (click)="openSuspensionNotes(suspension)"> <em class="fa fa-file"></em> </a></td>
            <td class="text-caps">
              {{suspension?.routingstatus}}
            </td>
            <td *ngIf="!isSupervisor">
                <span *securityKeyNew="'gap,gap.suspension.edit'">
                <button class="no-bg-btn pull-right btn-pri" *ngIf="(!suspension?.enddate && suspension?.routingstatus === 'Approved')" 
                [fieldKeyNew]="'gap,gap.suspension.edit'"
                (click)="patchSuspension(suspension,i)"><em class="fa fa-pencil"></em>Edit</button></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <label class="blue mt-30" *ngIf="showSuspensionDetail">Suspension Details</label>
  <div class="row mt-10" *ngIf="showSuspensionDetail">
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <mat-form-field>
        <mat-label>Suspension Reason</mat-label>
        <mat-select placeholder="" formControlName="suspensionreasontypekey" (selectionChange)="reasonSelected($event)" required>
          <mat-option *ngFor="let reason of filteredSuspensionReasonType" [value]="reason.suspensionreasontypekey">{{
            reason?.typedescription}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="displayValidationMessages">
        {{getErrorsMessage('suspensionreasontypekey','Suspension Reason')}}
      </mat-error>      
      <mat-form-field *ngIf="assignmentForm.getRawValue().suspensionreasontypekey==='OT'">
        <input type="text" matInput placeholder="Other reason" formControlName="otherreason">
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <div class="no-pad clsIntake dpnew">
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input matInput [min]="agrementStartDate"autocomplete="off" [matDatepicker]="pickerm2" (click)="pickerm2.open()" placeholder="" [max]="agrementEndDate" formControlName="startdate"
          [matDatepickerFilter]="filterGaps"  required (dateChange) = "suspensionStartDateChanged()">
          <mat-datepicker-toggle matSuffix [for]="pickerm2"></mat-datepicker-toggle>
          <mat-datepicker #pickerm2></mat-datepicker>
        </mat-form-field>
        <mat-error *ngIf="displayValidationMessages">
          {{getErrorsMessage('startdate','Start Date')}}
        </mat-error>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <div class="no-pad clsIntake dpnew">
        <mat-form-field>
          <mat-label>End Date</mat-label>
          <input matInput [max]="maxenddate" autocomplete="off" [matDatepicker]="pickerm3" (click)="pickerm3.open()" placeholder="" formControlName="enddate" [min]="assignmentForm.getRawValue().startdate" >
          <mat-datepicker-toggle matSuffix [for]="pickerm3"></mat-datepicker-toggle>
          <mat-datepicker #pickerm3></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <mat-form-field>
        <mat-label>Notes</mat-label>
        <input type="text" matInput placeholder="" formControlName="notes">
      </mat-form-field>
    </div>
  </div>
  <div class="row" *ngIf="toShowDOD && showSuspensionDetail">
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <div class="no-pad clsIntake dpnew">
        <mat-form-field>
          <mat-label>DOD Date</mat-label>
          <input matInput autocomplete="off" [matDatepicker]="pickerm4" (click)="pickerm4.open()" placeholder="" formControlName="doddate">
          <mat-datepicker-toggle matSuffix [for]="pickerm4"></mat-datepicker-toggle>
          <mat-datepicker #pickerm4></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <section class="clsGap-form clsForm-inline m-t-30 suspension-sec">
    <div class="row mt-20" *ngIf="isSupervisor" [formGroup]="approvalStatusForm">
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3"> Approval status</div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <mat-radio-group formControlName="routingstatus">
          <mat-radio-button value="Approved" (click)="rejectComments('Approved')">Approved</mat-radio-button>
          <mat-radio-button value="Rejected" (click)="rejectComments('Rejected')">Denied</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5" *ngIf="isEnableComments">
        <mat-form-field>
          <mat-label>comments</mat-label>
          <input type="text" matInput placeholder="" formControlName="comments">
        </mat-form-field>
      </div>
    </div>
  </section>
  <div class="row mt-30">
    <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9 note-txt">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-end" *ngIf="showSuspensionDetail">
      <button class="btn-pri btn"
            (click)="generatePDF()"><em class=" fa fa-print"> </em> Print</button>
      <button class="btn sec-btn me-2" 
        (click)="resetSuspension()">Cancel</button>
      <button class="btn btn-pri" [disabled]="assignmentForm.pristine"
      *securityKeyNew="'gap,gap.suspension.submitforapproval'"
      [fieldKeyNew]="'gap,gap.suspension.submitforapproval'"
        (click)="saveAssignment(assignmentForm.value)">Submit For Approval</button>
    </div>
    <div class="col-sm-3 text-end" *ngIf="isSupervisor">
      <button class="btn-pri btn"
            (click)="generatePDF()"><em class=" fa fa-print "> </em> Print</button>
       <button class="btn btn-pri" [disabled]="isApproved" 
      *securityKeyNew="'gap,gap.suspension.submit'"
      [fieldKeyNew]="'gap,gap.suspension.submit'"
      (click)="routingUpdate()">Submit</button>
    </div>
  </div>
</form>

<div class="modal fade" id="gap-placement" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title bc-pop-title"> Alert</h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" (click)="navigateTo()"></button>
      </div>
      <div class="modal-body">
        <p> {{gapAlertMessage}}</p>
        <div class="text-end big-bot-space right-mspace-15">
          <button type="button" value="Yes" class="btn-pri ok-but" data-bs-dismiss="modal" (click)="navigateTo()"> Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>
<fiscal-audit></fiscal-audit>

<div class="modal fade" id="narrative-dialog">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title bc-pop-title"> Notes </h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="pre-tag-content-alignment" [innerHtml]="suspensionNotes"> </div>
        <div class="text-end big-bot-space right-mspace-15">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in" id="maintenance-payment-check-dialog-g" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-w450" role="document">
      <div class="modal-content" style="padding: 10px;">
          <div class="modal-header">
            <h4 class="modal-title">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Alert
            </h4>
              <button aria-label="Close" class="btn-close close pull-right" data-bs-dismiss="modal" type="button"></button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-12">
                      <div class="row text-center">
                          <figure>
                              <p>{{filterCase}}</p>
                          </figure>
                          <div class="col-md-12 text-center">
                              <div class="btn-group btn-group-re">
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>