<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-letter-tab">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#LibraryDocuments" aria-controls="home" role="tab" data-bs-toggle="tab">Library Documents</a>
                    </li>
                    <li role="presentation">
                        <a href="#MergeTemplate" aria-controls="profile" role="tab" data-bs-toggle="tab">Merge Template Documents</a>
                    </li>
                    <li role="presentation">
                        <a href="#DocumentMapping" aria-controls="messages" role="tab" data-bs-toggle="tab">Merge Template Document Mapping</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="LibraryDocuments">
                        <library-document></library-document>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="MergeTemplate">
                        <merge-template-document></merge-template-document>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="DocumentMapping">
                        <merge-template-document-mapping></merge-template-document-mapping>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
