<div class="box-grid">
  <div class="tab-subtitle">
    <ol class="breadcrumb">
      <li>
        <a href="#">Home</a>
      </li>
      <li class="active">Merge Template Document Mapping </li>
    </ol>
    <h3>Merge Template Document Mapping</h3>
  </div>
  <div class="tab-popup-button">
    <a href="javascript:void();" data-bs-toggle="modal" data-bs-target="#mergeTemp">+ ADD DOCUMENT MAPPING</a>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-bordered" aria-describedby="Merge Template Document Mapping">
          <thead>
            <tr>
              <th id="dSServiceTypeHeader">DS Service Type</th>
              <th id="dSServiceSubTypeHeader">DS Service SubType</th>
              <th id="mergeContextTypeHeader">Merge Context Type</th>
              <th id="fileNameHeader">File Name</th>
              <th id="titleHeader">Title</th>
              <th id="descriptionHeader" class="text-overflow">Description</th>
              <th id="documentDateHeader">Document Date</th>
              <th id="actionsHeader">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ANE</td>
              <td>Class I</td>
              <td>Investigation</td>
              <td>Request for Provider Information.doc</td>
              <td>Request for Provider Information</td>
              <td>Request for Provider Information DA-23</td>
              <td>08/25/2011</td>
              <td class="edit-icons">
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Download">
                  <a download>
                    <img src="assets/img/form-letter/download.png" alt="">
                  </a>
                </span>
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                  <img data-bs-toggle="modal" data-bs-target="#delLibrary" src="assets/img/form-letter/delete-icon.png" alt="">
                </span>
              </td>
            </tr>
            <tr>
              <td>ANE</td>
              <td>Class I</td>
              <td>Investigation</td>
              <td>Request for Provider Information.doc</td>
              <td>Request for Provider Information</td>
              <td>Request for Provider Information DA-23</td>
              <td>08/25/2011</td>
              <td class="edit-icons">
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Download">
                  <a  download>
                    <img src="assets/img/form-letter/download.png" alt="">
                  </a>
                </span>
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                  <img data-bs-toggle="modal" data-bs-target="#delLibrary" src="assets/img/form-letter/delete-icon.png" alt="">
                </span>
              </td>
            </tr>
            <tr>
              <td>ANE</td>
              <td>Class I</td>
              <td>Investigation</td>
              <td>Request for Provider Information.doc</td>
              <td>Request for Provider Information</td>
              <td>Request for Provider Information DA-23</td>
              <td>08/25/2011</td>
              <td class="edit-icons">
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Download">
                  <a  download>
                    <img src="assets/img/form-letter/download.png" alt="">
                  </a>
                </span>
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                  <img data-bs-toggle="modal" data-bs-target="#delLibrary" src="assets/img/form-letter/delete-icon.png" alt="">
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav aria-label="..." class="text-center table-pagination">
        <ul class="pagination">
          <li class="disabled">
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="active">
            <a href="#">1</a>
          </li>
          <li class="">
            <a href="#">2</a>
          </li>
          <li class="">
            <a href="#">3</a>
          </li>
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="common-modal">
  <div class="modal fade" id="mergeTemp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            
          </button>
          <h4 class="modal-title" id="myModalLabel">Add Merge Template Document Mapping</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <form class="form-search-person inline-form-wrap modal-form">
                  <div class="mb-3">
                    <label> Document Title:</label>
                    <ng-select name="" [searchable]="true"[clearable]="false">
                      <ng-option value="">Document Title</ng-option>
                    </ng-select>

                  </div>
                  <div class="mb-3">
                    <label> DS Service Type:</label>
                    <ng-select name="" [searchable]="true" [clearable]="false">
                      <ng-option value="c5f7f558-d942-42b5-af62-75d0b4f335c4">ANE</ng-option>
                      <ng-option>ANEint</ng-option>
                      <ng-option>Ann</ng-option>
                      <ng-option>BNDD</ng-option>
                      <ng-option>CANE</ng-option>
                      <ng-option>CLTC</ng-option>
                      <ng-option>CM</ng-option>
                      <ng-option>COEDL</ng-option>
                      <ng-option>Complaint</ng-option>
                      <ng-option>Complaint-DRL</ng-option>
                      <ng-option>Complaint-DSDS</ng-option>
                      <ng-option>CONFIG</ng-option>
                      <ng-option>CPSC</ng-option>
                      <ng-option>CRANEClassR</ng-option>
                      <ng-option>DM</ng-option>
                      <ng-option>EDLReview</ng-option>
                    </ng-select>

                  </div>
                  <div class="mb-3">
                    <label for="">DS Service SubType:</label>
                    <ng-select  [searchable]="true" [clearable]="false">
                      <ng-option>ADHC</ng-option>
                      <ng-option>AP</ng-option>
                      <ng-option>CDS</ng-option>
                      <ng-option>Class I</ng-option>
                      <ng-option>Class II</ng-option>
                      <ng-option>CNSL</ng-option>
                      <ng-option>CT</ng-option>
                      <ng-option>IHS</ng-option>
                      <ng-option>PSC</ng-option>
                    </ng-select>

                  </div>
                  <div class="mb-3">
                    <label for="">Merge ContextType:</label>
                    <ng-select  [searchable]="true" [clearable]="false">
                      <ng-option selected="selected" value="Contracting">Contracting</ng-option>
                      <ng-option value="Investigation">Investigation</ng-option>
                      <ng-option value="ProviderReview">ProviderReview</ng-option>
                    </ng-select>

                  </div>
                </form>
              </div>
              <div class="col-md-12">
                <div class="btn-group btn-group-re pull-right">
                  <button type="button" class="btn-bg" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn-pri">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
