<div class="form-letter-tab">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li routerLinkActive="active">
                <a [routerLink]="['/pages/admin/da-config/allegations/allegation-configuration']">Allegation Configuration</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/pages/admin/da-config/allegations/allegation-allegations']">Allegations</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/pages/admin/da-config/allegations/allegation-activities']">Allegation Activities</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/pages/admin/da-config/allegations/allegation-goals']">Allegation Goals</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/pages/admin/da-config/allegations/allegation-tasks']">Allegation Tasks</a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/pages/admin/da-config/allegations/allegation-mappings']">Allegation Mapping</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</div>