<div class="col-md-9 col-sm-9 col-xs-9">
    <div class="card-group form-letter-tab" id="accordion">
        <div class="card panel-default">
            <div class="card-header">
                <h4 class="card-title">
                    <a data-parent="#accordion" href="#collapseOne" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                        Equipment's Results
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="card-body">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered tblTeam" aria-describedby="Equipment search details">
                                <thead>
                                    <tr>
                                        <th id="typeHeader">Type</th>
                                        <th id="manufacturerHeader">Manufacturer</th>
                                        <th id="modelHeader">Model</th>
                                        <th id="serialHeader">Serial #</th>
                                        <th id="whiteTagHeader">White Tag</th>
                                        <th id="yellowTagHeader">Yellow Tag</th>
                                        <th id="positionOrLoadNumberHeader">Position/Load Number</th>
                                        <th id="nameHeader">Name</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="equipmentSearchDetails$ | async; let equipmentSearchDetails">
                                    <tr *ngFor="let item of equipmentSearchDetails"
                                        (click)="equipmentSearchDetailItem(item)" [class.active]="item.equipmentid && item.equipmentid === selectedEquipment">
                                        <td>{{item.equipmenttypekey}}</td>
                                        <td>{{item.manufacturer}}</td>
                                        <td>{{item.model}}</td>
                                        <td>{{item.serialnumber}}</td>
                                        <td>{{item.whitetagnumber}}</td>
                                        <td>{{item.yellowtagnumber}}</td>
                                        <td>{{item.loadnumber}}</td>
                                        <td>{{item.displayname}}</td>
                                    </tr>
                                    <tr *ngIf="equipmentSearchDetails?.length === 0">
                                        <td colspan="8">No records found.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
                    <pagination class="pagination-sm" *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords ?? 0" (pageChanged)="pageChanged($event)" [boundaryLinks]="true"
                        [maxSize]="10" [itemsPerPage]="10">
                    </pagination>

                 </div>
                </div>
            </div>
        </div>

        <add-edit-equipment-search-detail [selectedDetailIdSubject$]="selectedDetailIdSubject$" [currentPageNumber]="currentPageNumber"
            [equipmentSearchPageSubject$]="equipmentSearchPageSubject$" [equipmentSearchTriggeredSubject$]="equipmentSearchTriggeredSubject$"></add-edit-equipment-search-detail>

    </div>
</div>