<div class="container-fluid">
  <div class="row equipment-management-new">
    <equipment-search [equipmentSearchSubject$]="equipmentSearchSubject$"
    [totalRecordsSubject$]="totalRecordsSubject$"
    [canDisplayPagerSubject$]="canDisplayPagerSubject$"
    [equipmentSearchPageSubject$]="equipmentSearchPageSubject$" [equipmentSearchTriggeredSubject$] ="equipmentSearchTriggeredSubject$"></equipment-search>
    <equipment-search-detail [equipmentSearchDetails$]="equipmentSearchDetails$" [totalRecords$]="totalRecords$" [canDisplayPager$]="canDisplayPager$"
    [equipmentSearchPageSubject$]="equipmentSearchPageSubject$" [equipmentSearchTriggeredSubject$] ="equipmentSearchTriggeredSubject$">
    </equipment-search-detail>
  </div>
</div>
