 .equipment-management-new {margin: 0x 0 0 -20px;}

.card-title > a[aria-expanded="true"]:before,
.card-title > a[aria-expanded="false"]:before {
   float: right !important;
   font-family: 'FontAwesome', sans-serif;
   content:"\f068";
   padding-right: 5px;
}
.card-title > a[aria-expanded="false"]:before {
content:"\f067";
}
.card-title > a.collapsed:before {
   float: right !important;
   content:"\f067";
}
.card-title > a:hover,
.card-title > a:active,
.card-title > a:focus  {
   text-decoration:none;
}
.equipment-management-new .card-title {
display:block;
//background: red;
}

.card-group .card-header{padding: 0;}