<div class="col-md-3 col-sm-3 col-xs-3 left-side-form">
  <h3 class="blue">Equipment Management</h3>
  <form [formGroup]="formGroup">
    <div class="row">
      <div class="col-sm-12 dd-overflow-inherit">
        <h4>Equipment Filters</h4>
        <div class="fm-box">
          <label>Type:</label>
          <div class="fm-box-form ">
            <ng-select formControlName="typekey" [searchable]="true" [clearable]="false">
              <ng-option value="">Select</ng-option>
              <ng-option *ngFor="let item of types$ | async | orderBy:'text'" [value]="item.text">{{item.text}}</ng-option>
            </ng-select>
          </div>
          <div class="fm-box">
            <label>Manufacturer:</label>
            <div class="fm-box-form">
              <input type="text" formControlName="manufactur" class="form-control fm-style" placeholder="">
            </div>
          </div>
          <div class="fm-box">
            <label>Model:</label>
            <div class="fm-box-form">
              <input type="text" formControlName="model" class="form-control fm-style" placeholder="">
            </div>
          </div>
          <div class="fm-box">
            <label>Serial Number:</label>
            <div class="fm-box-form">
              <input type="text" formControlName="serialno" class="form-control fm-style" placeholder="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="row">
      <div class="col-sm-12  dd-overflow-inherit">
        <h4>Other Filters</h4>
        <div class="fm-box">
          <label>White Tag Number:</label>
          <div class="fm-box-form">
            <input type="text" formControlName="whitetagnumber" class="form-control fm-style" placeholder="">
          </div>
        </div>
        <div class="fm-box">
          <label>Yellow Tag Number:</label>
          <div class="fm-box-form">
            <input type="text" formControlName="yellowtagno" class="form-control fm-style" placeholder="">
          </div>
        </div>
        <div class="fm-box">
          <label>Found:</label>
          <div class="fm-box-form ">
            <ng-select  [searchable]="true" [clearable]="false">
              <ng-option value="">Select</ng-option>
              <ng-option *ngFor="let item of foundDropdown | orderBy:'text'" [value]="item.text">{{item.text}}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="fm-box">
          <label>Disposed:</label>
          <div class="fm-box-form ">
            <ng-select [searchable]="true" [clearable]="false">
              <ng-option value="">Select</ng-option>
              <ng-option *ngFor="let item of disposedDropdown | orderBy:'text'" [value]="item.text">{{item.text}}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="fm-box">
          <label>Up for Replacement:</label>
          <div class="fm-box-form ">
            <ng-select  [searchable]="true" [clearable]="false">
              <ng-option value="">Select</ng-option>
              <ng-option *ngFor="let item of replacementDropdown | orderBy:'text'" [value]="item.text">{{item.text}}</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h4>Job Filters</h4>
        <div class="fm-box">
          <label>Position/Load Number:</label>
          <div class="fm-box-form">
            <input type="text" formControlName="loadno" class="form-control fm-style" placeholder="">
          </div>
        </div>
        <div class="fm-box">
          <label>Org Number:</label>
          <div class="fm-box-form">
            <input type="text" formControlName="organisationno" class="form-control fm-style" placeholder="">
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="pull-right mrg-top25">
      <button type="button" value="Clear" class="btn-pri" (click)="clearItem()">Clear</button>
      <button type="button" value="GO" class="btn-pri" (click)="search(1)">GO</button>
    </div>

  </form>

</div>