<div class="box-grid-main">
    <div class="form-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h4 class="head-bg-top text-center">SEX TRAFFICKING(CST) SCREENING INTERVIEW</h4>
            </div>
        </div>
        <div class="row">
            <div class="tab-horizontal widge-nav">
                <ul class="nav nav-tabs cus-tab-section">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" id="" href="#family-household-composition">
                            <span class="tab-txt">Family and Household Composition</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" id="" href="#risk-factor">
                            <span class="tab-txt">Risk Factor Check</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" id="" href="#scoring-overrides">
                            <span class="tab-txt">Scoring and Overrides</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" id="" href="#supplemental-questions">
                            <span class="tab-txt">Supplemental Question</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" id="" href="#approval">
                            <span class="tab-txt">Approval</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content form-builder-wrp">
                <div id="family-household-composition" class="tab-pane fade show active" [formGroup]="screeninterviewForm">
                    <div class="screeningInterviewWapper">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="head-bg">FAMILY AND HOUSEHOLD COMPOSITION</h3>
                            </div>
                        </div>
                        <div class="row head-pad m-t-20">
                            <div class="col-md-4">
                                <label>Interview Date</label>
                                <mat-form-field>
                                    <input matInput formControlName="assessmentInitDate" autocomplete="off" [matDatepicker]="picker1" placeholder="">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <label>CPS/Service Case ID</label>
                                <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                    <input matInput formControlName="serviceCaseId" placeholder="">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <label>Location</label>
                                <mat-form-field class="" [ngClass]="{'disabledField': true}">
                                    <input matInput formControlName="location" placeholder="">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <div class="table-responsive custom-tb-wd">
                                        <table class="table table-bordered" aria-describedby="Child List table">
                                            <thead>
                                                <tr>
                                                    <th id="nameHeader">Child's Name</th>
                                                    <th id="nickNameHeader">Nick Name</th>
                                                    <th id="cjamsIdHeader">CJAMS ID</th>
                                                    <th id="genderHeader">Gender</th>
                                                    <th id="dateOfBirthHeader">Date of Birth</th>
                                                    <th id="ageHeader">Age</th>
                                                    <th id="raceHeader">Race</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <mat-form-field class="">
                                                            <mat-select formControlName="childName" placeholder="" (selectionChange)="selectChild($event)">
                                                                <mat-option *ngFor="let child of removalChildList" [value]="child">{{child.firstname + ' ' + child.lastname}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </td>
                                                    <td>
                                                        <mat-form-field [ngClass]="{'disabledField': true}">
                                                            <input matInput formControlName="nickName">
                                                        </mat-form-field>
                                                    </td>
                                                    <td>
                                                        <mat-form-field [ngClass]="{'disabledField': true}">
                                                            <input matInput formControlName="cjamspid">
                                                        </mat-form-field>
                                                    </td>
                                                    <td>
                                                        <mat-form-field [ngClass]="{'disabledField': true}">
                                                            <input matInput formControlName="gender">
                                                        </mat-form-field>
                                                    </td>
                                                    <td>
                                                        <mat-form-field [ngClass]="{'disabledField': true}">
                                                            <input matInput autocomplete="off" [matDatepicker]="dobpicker" formControlName="dob">
                                                            <mat-datepicker-toggle matSuffix [for]="dobpicker"></mat-datepicker-toggle>
                                                            <mat-datepicker #dobpicker></mat-datepicker>
                                                        </mat-form-field>
                                                    </td>
                                                    <td>
                                                        <mat-form-field [ngClass]="{'disabledField': true}">
                                                            <input matInput placeholder="" formControlName="age">
                                                        </mat-form-field>
                                                    </td>
                                                    <td>
                                                        <mat-form-field [ngClass]="{'disabledField': true}">
                                                            <input matInput placeholder="" formControlName="race">
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="risk-factor" class="tab-pane fade show" [formGroup]="screeninterviewForm">
                    <div class="screeningInterviewWapper">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="head-bg">NEGLECT/ABUSE INDEX</h3>
                            </div>
                        </div>
                        <div class="row content-wrapper-padding">
                            <div class="col-md-3">
                                <p>
                                    <label class="control-label">Screening Completed</label>
                                </p>
                                <mat-radio-group formControlName="screening" class="radio-mar">
                                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                                    <br/>
                                    <mat-radio-button value="No">No</mat-radio-button>
                                    <br/>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row content-wrapper-padding">
                            <div class="col-md-6">
                                <p>
                                    <label class="control-label">1. Have you ever run away or left home or foster care?</label>
                                </p>
                                <mat-radio-group formControlName="leftHomeOrFosterCare" class="radio-mar">
                                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                                    <br/>
                                    <mat-radio-button value="No">No</mat-radio-button>
                                    <br/>
                                </mat-radio-group>
                            </div>
                        </div>
 
                        <div class="ques-mar"  *ngIf="screeninterviewForm.value.leftHomeOrFosterCare === 'Yes'">
                            <div class="row content-wrapper-padding">
 
                                <div class="col-md-3">
                                    <mat-form-field class="">
                                        <p>
                                            <label class="control-label">About how many times?</label>
                                        </p>
                                        <mat-select formControlName="numOfTimes">
                                            <mat-option value="1">1 Time</mat-option>
                                            <mat-option value="2-3">2-3 Times</mat-option>
                                            <mat-option value="4-6">4-6 Times</mat-option>
                                            <mat-option value="7-10">7-10 Times</mat-option>
                                            <mat-option value="10">10 Times</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
 
                            <div class="row content-wrapper-padding">
 
                                <div class="col-md-10">
                                    <p>
                                        <label class="control-label">If youth reports running 3 times or more, check CST Risk Factor box.</label>
                                    </p>
                                </div>
                                <div class="col-md-2 align-center">
                                    <mat-checkbox (click)="countCSTRisk()" formControlName="CSTRiskBox1"></mat-checkbox>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding">
 
                                <div class="col-md-3">
                                    <mat-form-field class="">
                                        <p>
                                            <label class="control-label">How long do you usually stay away?</label>
                                        </p>
                                        <mat-select formControlName="numOfDaysAway">
                                            <mat-option value="1-2">1-2 Days</mat-option>
                                            <mat-option value="3-5">3-5 Days</mat-option>
                                            <mat-option value="7">7 Days</mat-option>
                                            <mat-option value="more than 7 days">More than 7 Days</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding">
 
                                <div class="col-md-10">
                                    <p>
                                        <label class="control-label">If youth reports running for 3 days or more. check CST Risk Factor box.</label>
                                    </p>
                                </div>
                                <div class="col-md-2 align-center">
                                    <mat-checkbox (click)="countCSTRisk()" formControlName="CSTRiskBox2"></mat-checkbox>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding">
 
                                <div class="col-md-6">
                                    <mat-form-field class="">
                                        <p>
                                            <label class="control-label">Can you tell me more about what made you leave?</label>
                                        </p>
                                        <input matInput formControlName="reasonsMadeYouLeave">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding">
 
                                <div class="col-md-6">
                                    <mat-form-field class="">
                                        <p>
                                            <label class="control-label">How do you take care of yourself while away?</label>
                                        </p>
                                        <input matInput formControlName="takeCareOfYourself">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding">
 
                                <div class="col-md-10">
                                    <mat-form-field class="">
                                        <p>
                                            <label class="control-label">Can you tell me what you did when you needed food, clothing, shelter, a ride, etc. while you are away from home/foster home? Did you have friends that helped you with these things?
                                            </label>
                                        </p>
                                        <input matInput formControlName="thinksDoneDuringStay">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding">
 
                                <div class="col-md-4">
                                    <mat-form-field class="">
                                        <p>
                                            <label class="control-label">Where did you spend the night while you were gone?</label>
                                        </p>
                                        <mat-select formControlName="placeStayedAtNight">
                                            <mat-option value="hotel">Hotel</mat-option>
                                            <mat-option value="motel">Motel</mat-option>
                                            <mat-option value="bfh">Boy Friend's Home</mat-option>
                                            <mat-option value="gfh">Girl Friend's Home</mat-option>
                                            <mat-option value="other">Other</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding" *ngIf="screeninterviewForm.value.placeStayedAtNight !== 'other'">
 
                                <div class="col-md-10">
                                    <p>
                                        <label class="control-label">If youth reports staying in a hotel/motel, at boyfriend’s/girlfriend’s home, or on the street.check CST Risk Factor box
                                        </label>
                                    </p>
                                </div>
 
                                <div class="col-md-2 align-center">
                                    <mat-checkbox (click)="countCSTRisk()" formControlName="CSTRiskBox3"></mat-checkbox>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding">
 
                                <div class="col-md-7" *ngIf="screeninterviewForm.value.placeStayedAtNight !== 'other'">
                                    <mat-form-field class="">
                                        <p>
                                            <label class="control-label">Who else was staying there with you? Did you feel safe there?</label>
                                        </p>
                                        <input matInput formControlName="personsStayedWithYouth">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding">
 
                                <div class="col-md-3">
                                    <p>
                                        <label class="control-label">Does youth indicate staying with anyone?</label>
                                    </p>
                                    <mat-radio-group formControlName="checkAnypersonStayedWithYouth" class="radio-mar">
                                        <mat-radio-button value="Yes">Yes</mat-radio-button>
                                        <br/>
                                        <mat-radio-button value="No">No</mat-radio-button>
                                        <br/>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding" *ngIf="screeninterviewForm.value.checkAnypersonStayedWithYouth !== 'No'">
 
                                <div class="col-md-10">
                                    <mat-form-field class="">
                                        <p>
                                            <label class="control-label">Can you tell me about who you were staying with and what is your relationship to them?</label>
                                        </p>
                                        <input matInput formControlName="infoOfPlaceAndPersonDuringStay">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding" *ngIf="screeninterviewForm.value.checkAnypersonStayedWithYouth !== 'No'">
 
                                <div class="col-md-10">
                                    <mat-form-field class="">
                                        <p>
                                            <label class="control-label">While you were away from home/foster home, did anything keep you from going back?</label>
                                        </p>
                                        <input matInput formControlName="reasonsForNotGoingBack">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row content-wrapper-padding">
                            <div class="col-md-4">
                                <p>
                                    <label class="control-label">2. Do you have a special person in your life, boyfriend, girlfriend?</label>
                                </p>
                                <mat-radio-group formControlName="specialPersonInYourLife" class="radio-mar">
                                    <mat-radio-button value="yes">Yes</mat-radio-button>
                                    <br/>
                                    <mat-radio-button value="no">No</mat-radio-button>
                                    <br/>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="ques-mar">
                            <div class="row content-wrapper-padding">
                                <div class="col-md-5" *ngIf="screeninterviewForm.value.specialPersonInYourLife === 'yes'">
                                    <p>
                                        <label class="control-label">Is this person your age or older?</label>
                                    </p>
                                    <mat-radio-group formControlName="ageOfThePerson" class="radio-mar">
                                        <mat-radio-button value="myAge">My Age</mat-radio-button>
                                        <br/>
                                        <mat-radio-button value="older">Older</mat-radio-button>
                                        <br/>
                                    </mat-radio-group>
                                </div>
                                <div class="col-md-5" *ngIf="screeninterviewForm.value.ageOfThePerson === 'older'">
                                    <mat-form-field class="">
                                        <p>
                                            <label class="control-label">How much older?</label>
                                        </p>
                                        <input matInput formControlName="howMuchOlder">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2 align-center" *ngIf="(screeninterviewForm.value.ageOfThePerson === 'older' && screeninterviewForm.value.howMuchOlder >= 4)">
                                    <mat-checkbox (click)="countCSTRisk()" formControlName="CSTRiskBox4"></mat-checkbox>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding" *ngIf="screeninterviewForm.value.specialPersonInYourLife === 'yes'">
 
                                <div class="col-md-5">
                                    <mat-form-field class="">
                                        <p>
                                            <label class="control-label">What do you like about this special friend?</label>
                                        </p>
                                        <input matInput formControlName="aboutSpecialFriend">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding" *ngIf="screeninterviewForm.value.specialPersonInYourLife === 'yes'">
 
                                <div class="col-md-5">
 
                                    <mat-form-field class="">
                                        <p>
                                            <label class="control-label">Does he/she give you nice things, take you places, do special things for you?</label>
                                        </p>
                                        <input matInput formControlName="aboutSpecialThings">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding" *ngIf="screeninterviewForm.value.specialPersonInYourLife === 'yes'">
 
                                <div class="col-md-10">
                                    <p>
                                        <label class="control-label">If youth reports receiving expensive gifts, rides, money, etc. check CST Risk Factor box</label>
                                    </p>
                                </div>
                                <div class="col-md-2 align-center">
                                    <mat-checkbox (click)="countCSTRisk()" formControlName="CSTRiskBox5"></mat-checkbox>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding">
 
                                <div class="col-md-10">
                                    <p>
                                        <label class="control-label">Has anyone asked you to do anything that has made you feel uncomfortable in exchange for something that you needed?</label>
                                    </p>
                                    <mat-radio-group formControlName="unComfortableThings" class="radio-mar">
                                        <mat-radio-button value="yes">Yes</mat-radio-button>
                                        <br/>
                                        <mat-radio-button value="no">No</mat-radio-button>
                                        <br/>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding" *ngIf="screeninterviewForm.value.unComfortableThings == 'yes'">
 
                                <div class="col-md-10">
                                    <p>
                                        <label class="control-label">If youth indicates yes, check CST Risk Factor box</label>
                                    </p>
                                </div>
                                <div class="col-md-2 align-center">
                                    <mat-checkbox (click)="countCSTRisk()" formControlName="CSTRiskBox6"></mat-checkbox>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding">
 
                                <div class="col-md-3">
                                    <p>
                                        <label class="control-label">Do you have any tattoos?</label>
                                    </p>
                                    <mat-radio-group formControlName="anyTattoos" class="radio-mar">
                                        <mat-radio-button value="yes">Yes</mat-radio-button>
                                        <br/>
                                        <mat-radio-button value="no">No</mat-radio-button>
                                        <br/>
                                    </mat-radio-group>
                                </div>
                                <div class="col-md-6" *ngIf="screeninterviewForm.value.anyTattoos == 'yes'">
                                    <mat-form-field class="">
                                        <p>
                                            <label class="control-label">What is your tattoo of and what does it/they mean to you?</label>
                                        </p>
                                        <input matInput formControlName="whatKindOfTattoo">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding">
 
                                <div class="col-md-10">
                                    <p>
                                        <label class="control-label">If youth has a tattoo related to a romantic partner, gang, or involvement in prostitution, check CST Risk Factor box</label>
                                    </p>
                                </div>
                                <div class="col-md-2 align-center">
                                    <mat-checkbox (click)="countCSTRisk()" formControlName="CSTRiskBox7"></mat-checkbox>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding">
 
                                <div class="col-md-4">
                                    <p>
                                        <label class="control-label">Have you had contact with the police in the last year?</label>
                                    </p>
                                    <mat-radio-group formControlName="policeContact" class="radio-mar">
                                        <mat-radio-button value="yes">Yes</mat-radio-button>
                                        <br/>
                                        <mat-radio-button value="no">No</mat-radio-button>
                                        <br/>
                                    </mat-radio-group>
                                </div>
                                <div class="col-md-6" *ngIf="screeninterviewForm.value.policeContact == 'yes'">
                                    <mat-form-field class="">
                                        <p>
                                            <label class="control-label">What cities/states did this contact occur in?</label>
                                        </p>
                                        <input matInput formControlName="citiesAndStatesContactOccurIn">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding">
 
                                <div class="col-md-4" *ngIf="screeninterviewForm.value.policeContact == 'yes'">
                                    <p>
                                        <label class="control-label">Did the contact with the police result in an arrest?</label>
                                    </p>
                                    <mat-radio-group formControlName="resultInArrest" class="radio-mar">
                                        <mat-radio-button value="yes">Yes</mat-radio-button>
                                        <br/>
                                        <mat-radio-button value="no">No</mat-radio-button>
                                        <br/>
                                    </mat-radio-group>
                                </div>
                                <div class="col-md-6" *ngIf="screeninterviewForm.value.policeContact == 'yes' && screeninterviewForm.value.resultInArrest == 'yes'">
                                    <mat-form-field class="">
                                        <p>
                                            <label class="control-label">What was the arrest for?</label>
                                        </p>
                                        <input matInput formControlName="reasonGorArrest">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding">
 
                                <div class="col-md-10">
                                    <p>
                                        <label class="control-label">If youth had police contact For prostitution or related charges (loitering, trespassing, drug offenses, shoplifting, solicitation) OR In multiple cities or states
                                        </label>
                                    </p>
                                </div>
                                <div class="col-md-2 align-center">
                                    <mat-checkbox (click)="countCSTRisk()" formControlName="CSTRiskBox8"></mat-checkbox>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding">
                                <div class="col-md-10">
                                    <p>
                                        <label class="control-label text-color-red">*Note: if youth who is AWOL is picked up by police, request a copy of the police report and gather details of how police came into contact with youth.
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding">
                                <div class="col col-md-12 col-sm-offset-0 col-sm-push-0 col-sm-pull-0">
                                    <mat-form-field class="">
                                        <p>
                                            <label class="control-label">We’ve talked about some possible difficult topics in your life. What are a few of your hopes for the future?
                                            </label>
                                        </p>
                                        <input matInput formControlName="topicsAboutYouth">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row content-wrapper-padding">
                                <div class="col col-md-12 col-sm-offset-0 col-sm-push-0 col-sm-pull-0">
                                    <mat-form-field class="">
                                        <p>
                                            <label class="control-label">Worker should review social media profiles of youth to ensure that youth has no posts that are indicative of trafficking activities.
                                            </label>
                                        </p>
                                        <input matInput formControlName="youthMediaProfiles">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
 
                <div id="scoring-overrides" class="tab-pane fade show" [formGroup]="screeninterviewForm">
                    <div class="screeningInterviewWapper">
                        <div class="row" style="padding: 20px;">
                            <div class="col-md-12">
                                <h3 class="head-bg">SCORING AND OVERRIDES</h3>
                            </div>
                        </div>
                        <div class="row content-wrapper-padding">
                            <div class="col-md-12">
                                <p>
                                    <label class="control-label">Number of CST Risk Factor boxes checked: {{ countCSTRisk()}}</label>
                                </p>
                                <p>
                                    <label class="control-label">If you have checked 3 or more CST Risk Factor box, the worker should consider the child at risk of being a human trafficking victim
                                    </label>
                                    <label class="control-label">If youth discloses experiencing any type trafficking or of engaging in any commercial sex act (prostitution, trading sex for food/shelter/transportation/etc., stripping, or pornography), worker must report all sex trafficking to CPS in the jurisdiction or state in which it occurred.
                                    </label>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="supplemental-questions" class="tab-pane fade show" [formGroup]="screeninterviewForm">
                    <div class="screeningInterviewWapper">
                        <div class="row" style="padding: 20px;">
                            <div class="col-md-12">
                                <h3 class="head-bg">Supplemental Questions</h3>
                            </div>
                        </div>
                        <div class="row content-wrapper-padding">
                            <div class="col-md-12">
                                <p>
                                    <label class="control-label">1. Did youth disclose being trafficked?</label>
                                </p>
                                <mat-radio-group formControlName="beingTrafficked" class="radio-mar">
                                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                                    <br/>
                                    <mat-radio-button value="No">No</mat-radio-button>
                                    <br/>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row content-wrapper-padding">
                            <div class="col-md-12">
                                <p>
                                    <label class="control-label">2. Was a report made to CPS?</label>
                                </p>
                                <mat-radio-group formControlName="reportMadeToCPS" class="radio-mar">
                                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                                    <br/>
                                    <mat-radio-button value="No">No</mat-radio-button>
                                    <br/>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row content-wrapper-padding">
                            <div class="col-md-12">
                                <p>
                                    <label class="control-label">3. Based on the conversation/screening with youth worker identified risk factors and recommends additional screening?
                                    </label>
                                </p>
                                <mat-radio-group formControlName="additionalScreening" class="radio-mar">
                                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                                    <br/>
                                    <mat-radio-button value="No">No</mat-radio-button>
                                    <br/>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row content-wrapper-padding">
                            <div class="col-md-12">
                                <p>
                                    <label class="control-label">4. Has a referral for services been made?</label>
                                </p>
                                <mat-radio-group formControlName="referralService" class="radio-mar">
                                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                                    <br/>
                                    <mat-radio-button value="No">No</mat-radio-button>
                                    <br/>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="row content-wrapper-padding">
                            <div class="col-md-8">
                                <mat-form-field class="">
                                    <p>
                                        <label class="control-label">5. What belongings did the youth have when they returned from runaway?
                                        </label>
                                    </p>
                                    <input matInput formControlName="listOfBelongings">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row content-wrapper-padding">
                            <div class="col-md-12">
                                <mat-form-field class="">
                                    <p>
                                        <label class="control-label">Please note any concerns as well as child’s attitude and demeanor throughout the discussion(s).
                                        </label>
                                    </p>
                                    <input matInput formControlName="attitudeDemeanor">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="approval" class="tab-pane fade show" [formGroup]="authorizationApproval">
                    <div class="row" style="padding: 20px;">
                        <div class="col-md-12">
                            <h3 class="head-bg">AUTHORIZATION</h3>
                        </div>
                    </div>
                    <div class="row content-wrapper-padding">
                        <div class="col-md-12 col-lg-6">
                            <div class="col-sm-6">
                                <p>
                                    <label>Worker name</label>
                                </p>
                                <mat-form-field>
                                    <input matInput placeholder="" formControlName="workername">
                                </mat-form-field>
                                <div class="" *ngIf="!caseworkersignature">
                                    <signature-field [ngClass]="{'disabledField': isSupervisor}" formControlName="caseworkersign"></signature-field>
                                </div>
                                <div class="" *ngIf="caseworkersignature">
                                    <img src="{{authorizationApproval.value.caseworkersign}}" alt="signImage"/>
                                </div>
                                <div class="">
                                    <label [ngClass]="{'required': !isSupervisor}">Caseworker Signature Date</label>
                                    <mat-form-field>
                                        <input matInput [disabled]="isSupervisor" [required]="!isSupervisor" autocomplete="off" [matDatepicker]="picker21" placeholder="" formControlName="caseworkersigndate">
                                        <mat-datepicker-toggle matSuffix [for]="picker21"></mat-datepicker-toggle>
                                        <mat-datepicker #picker21></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="hg-comment">
                                    <!-- height is for alignment fixes dont remove -->
                                </div>
                                <p>
                                    <label>Caseworker Comments</label>
                                </p>
                                <mat-form-field>
                                    <textarea class="hg-textbox" matInput [disabled]="isSupervisor" placeholder="" formControlName="caseworkercomments"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="col-sm-6">
                                <p>
                                    <label>Supervisor name</label>
                                </p>
                                <mat-form-field>
                                    <input matInput placeholder="" formControlName="supervisorname">
                                </mat-form-field>
                                <div class="" *ngIf="!supervisorsignature">
                                    <signature-field [ngClass]="{'disabledField': !isSupervisor}" formControlName="supervisorsign"></signature-field>
                                </div>
                                <div class="" *ngIf="supervisorsignature">
                                    <img src="{{authorizationApproval.value.supervisorsign}}" alt="supSignImage"/>
                                </div>
                                <div class="">
                                    <label [ngClass]="{'required': isSupervisor}">Supervisor Signature Date</label>
                                    <mat-form-field>
                                        <input matInput [disabled]="!isSupervisor" [required]="isSupervisor" autocomplete="off" [matDatepicker]="picker22" placeholder="" formControlName="supervisorsigndate">
                                        <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                                        <mat-datepicker #picker22></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p>
                                    <label>Re-route Supervisor</label>
                                </p>
                                <mat-form-field>
                                    <mat-label></mat-label>
                                    <mat-select formControlName="routingsupervisors" (selectionChange)="changeSupervisor($event.value)">
                                        <mat-option *ngFor="let item of routingSupervisors" [value]="item.userid">{{item.username}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <p>
                                    <label>Supervisor Comments</label>
                                </p>
                                <mat-form-field>
                                    <textarea class="hg-textbox" matInput [disabled]="!isSupervisor" placeholder="" formControlName="supervisorcomments"></textarea>
                                </mat-form-field>
                                <div class="" *ngIf="isSupervisor">
                                    <p>
                                        <label>Assessment Status</label>
                                    </p>
                                    <mat-radio-group formControlName="assessmentstatus" required>
                                        <mat-radio-button value="Accepted">Accepted</mat-radio-button>
                                        <mat-radio-button value="Rejected">Rejected</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row content-wrapper-padding">
                    <div class="col-md-12 text-end">
                        <button class="btn-pri" [disabled]="viewSTA" (click)="saveAssessment()">Save As Draft</button>
                        <button class="btn-pri" [disabled]="viewSTA" (click)="isReadyForApproval()">{{isSupervisor ? 'Submit Decision' : 'Submit for Approval'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>