<div class="row" *ngIf="!isAddEdit && !isClosed">
    <div class="col-sm-12">
        <div class="add-container">
            <a (click)='addSleepingInfo()'>+ Add Sleeping Information</a>
        </div>
    </div>
</div>
<div class="row" *ngIf="isAddEdit">
  <div class="col-md-12" [formGroup]="SleepingInfoForm">
    <div class="col-md-12">
      <h4>
        <p class="bg-theme">Sleeping Information</p>
      </h4>

      <div class="row">
        <div class="col-sm-6">
          <span class="required">Info provided by</span>
          <br>
          <mat-radio-group formControlName="ishousehold" required>
            <mat-radio-button [value]="true">Household</mat-radio-button>
            <mat-radio-button [value]="false">Collateral</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf ="SleepingInfoForm.get('ishousehold')?.invalid">
            Please select Info provided by
         </mat-error>
        </div>      
      </div>
      <div class="row m-t-20">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Info Provided Name</mat-label>
            <textarea type="text" formControlName="provided_name" matInput placeholder=""
              class="aut-txt-malAllComments" required></textarea>
            <mat-error *ngIf ="SleepingInfoForm.get('provided_name')?.invalid">
              Please enter Info provided Name
            </mat-error>
          </mat-form-field>
        </div>       
      </div>
      <div class="row m-t-10">
        <div class="col-md-12">
          <mat-checkbox formControlName="issleepinginfoknown">Sleeping Info Unknown</mat-checkbox>
        </div>
      </div>
      <div class="row m-t-10">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Sleeping environment</mat-label>
            <mat-select multiple formControlName="sleepingenvironment" placeholder="">
              <mat-option *ngFor="let item of SleepEnvironment$ | async" value="{{item.value}}">{{item.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Sleeping Problems</mat-label>
            <mat-select multiple formControlName="sleepingproblems" placeholder="" [(value)]="selected">
              <mat-option *ngFor="let item of SleepProblem$ | async" value="{{item.value}}">{{item.text}}</mat-option>
            </mat-select>
          </mat-form-field>          
        </div>        
        <div class="col-md-3" *ngIf="selected && selected.length === 1 && selected[0] === 'Other (specify)'">
            <mat-form-field>
              <mat-label>Other (Specify)</mat-label>
              <input matInput formControlName="otherSpecify" placeholder="">
            </mat-form-field>
          </div>
      </div>
      <div class="row m-t-10">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Sleeping Position</mat-label>
            <mat-select formControlName="sleepingposition" placeholder="">
              <mat-option *ngFor="let item of SleepPosition$ | async" value="{{item.value}}">{{item.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div class="col-md-6">
          <div class="col-md-6">
                      
            <mat-form-field>
              <mat-label>Nap Time</mat-label>
              <input matInput [matTimepicker]="picker1" formControlName="sleepingschedule_naptime" autocomplete="off"  placeholder="">
              <mat-timepicker #picker1/>
              <mat-timepicker-toggle [for]="picker1" matSuffix/>
            </mat-form-field>
            
            
          </div>
          <div class="col-md-6">
            
            <mat-form-field>
              <mat-label>Bed Time</mat-label>
              <input matInput [matTimepicker]="picker11" formControlName="sleepingschedule_bedtime" autocomplete="off"  placeholder="">
              <mat-timepicker #picker11/>
              <mat-timepicker-toggle [for]="picker11" matSuffix/>
            </mat-form-field>
           
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <mat-form-field>
              <mat-label>Sleeping comments</mat-label>
          <textarea type="text" formControlName="comments" matInput placeholder=""></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row m-t-20">
        <div class="col-md-12 ">
          <div class="pull-right">
            <span *ngIf="reportMode === 'add'">
              <button class="btn-pri" type="button" (click)="resetForm()">Clear</button>
              <button class="btn-pri" (click)="add()">Save</button>
            </span>
            <span *ngIf="reportMode === 'edit'">
              <button class="btn-pri" *ngIf="editMode === true" (click)="update()" [disabled]="isClosed">Update</button>
              <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row m-t-20">
    <div class="col-sm-12">
        <div class="table-responsive table-theme table-bordered">
            <table class="table tbl-sleeping" aria-describedby="tbl-info-provider-lst">
                <thead>
                    <tr>
                        <th scope="col">INFO PROVIDER NAME</th>
                        <th scope="col">ENVIRONMENT</th>
                        <th scope="col">SLEEPING PROBLEM</th>
                        <th scope="col">UPDATED BY</th>
                        <th scope="col">UPDATED ON</th>
                        <th scope="col">ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="sleepcw && sleepcw.length; else elseTemplate">
                        <tr *ngFor="let sleep of sleepcw; let i=index">
                            <td>{{sleep.providedname}}</td>
                            <td>{{getEnvironment(sleep.sleepingenvironment)}}</td>
                            <td>{{getProblems(sleep.sleepingproblems)}}</td>
                            <td>{{sleep.updatedby_fullname}}</td>
                            <td>{{sleep.updatedon | date : 'MM/dd/yyyy'}}</td>
                            <td>
                                <a (click)="view(sleep)">
                                    <em class="fa fa-eye text-16" matTooltip="View"></em>
                                </a> |
                                <a (click)="edit(sleep, i)">
                                    <em class="fa fa-pencil text-16" matTooltip="Edit"></em>
                                </a> |
                                <a (click)="confirmDelete(sleep)" [ngClass]="{'pointer-events-none': isClosed}">
                                    <em class="fa fa-trash text-16" matTooltip="Delete"></em>
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <tr>
                            <td colspan="6">
                                No Records added.
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div style = "height: 50px">
</div>
<div class="modal fade custom-modal" id="delete-popup" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"> Confirm Delete </h4>
            <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
          </div>

          <div class="modal-body">
              <p> Are you sure want to Delete? </p>

              <div class="text-end big-bot-space right-mspace-15">
                  <button type="button" value="No" class="btn-bg" name="" (click)="declineDelete()"> No </button>
                  <button type="button" value="Yes" class="btn-pri" name="" (click)="delete()"> Yes </button>
              </div>
          </div>
      </div>
  </div>
</div>