button[disabled], html input[disabled] {cursor: default; background: #ccc; border:1px solid #ccc; color:#000;}
#myModal-add-edit-events .modal-dialog {width:450px;}
#myModal-add-edit-events .modal-body{min-height:400px;}

label {
    margin-top: 7px;
    font-weight: 700;
    font-size: 11px;
    color: #4c4848;
    text-align: left;
    padding-right: 0px;
}
.upload {
    height: 75;
    margin-bottom: 15px;
    margin-right: 15px;
    .btn-pri {
      background: #00A2FD !important;
      border-radius: 4px !important;
  }
  .btn-bs-file {
     cursor: pointer;
     font-weight: 1000;
  }
}
.upload-btn {
    width: 120px;
}

.help-documents-tab table thead tr {
  th:nth-child(1) {
     width: 7%;
  }
  th:nth-child(2) {
    width: 35%;
 }
 th:nth-child(3) {
    width: 12%;
 }
 th:nth-child(4) {
    width: 12%;
 }
 th:nth-child(5) {
    width: 9%;
 }
 th:nth-child(6) {
    width: 14%;
 }
 th:nth-child(7) {
    width: 11%;
 }
}

