.fa-pencil-square-o{padding-right: 10px;}
i.fa-pencil-square-o {
    color: #ff9c00;
}
i.fa-trash{
    color: #dd1821;
}
.sizeA4 {
        width: 21cm;
        min-height: 29.7cm;
        height: auto;
}
