i.fa.fa-tag {
    cursor     : pointer;
    font-size  : 16px;
    margin-left: 10px;
}

.col-box {
    min-height: 350px;
    padding   : 15px;
}

@media (max-width:576px) {
    .bt-m-findclear {
        padding-bottom: 15px;
    }
}

.mt25 {
    margin-top: 25px;
}

.expunged{
    background-color: #EA6565;
    padding: 3px;
    color: #ffffff;
    border-radius: 3px;
    margin-left: 4px;
}