<div>
    <div class="container-fluid">
        <div class="row">
            <div class="">
                <div class="col-box mydsds-action">
                    <div class="col-md-12">
                        <h4>Search Cases </h4>
                    </div>

                    <div class="row" [formGroup]="caseSearchForm">

                        <div class="col-sm-3 m-t-10">
                            <mat-form-field>
                                <mat-label>Case Type</mat-label>
                                <mat-select class="aut-lst-removalType" placeholder=""
                                    formControlName="caseTypeInp" [(ngModel)]="caseTypeInp">
                                    <mat-option value="IR"> CPS-IR</mat-option>
                                    <mat-option value="AR"> CPS-AR</mat-option>
                                    <mat-option value="SC"> Service Case</mat-option>
                                    <mat-option value="AD"> Adoption Case </mat-option>
                                    <mat-option value="REF"> Referral</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3 m-t-10">
                                <mat-form-field>
                                    <input type="text" (keyup.enter)="caseSearch(1)"
                                        class="aut-txt-caseWorkerSearchCase" matInput placeholder="Case/Ref no"
                                        (change)="uncheckIsExpunged()"
                                        formControlName="servicerequestnumber" [(ngModel)]="servicerequestnumber">
                                </mat-form-field>
                        </div>
                        <div class="col-sm-2" *ngIf="isExpungementSuperUser === 1" >
                            <mat-checkbox class="mt25" [disabled]="!servicerequestnumber"   formControlName="isExpunged"></mat-checkbox>
                            <span class="expunged"> Show Expunged Cases </span> 
                        </div>
                        <div class="col-sm-2">
                            <label class="m-0">Worker</label>
                            <ng-select class="aut-lst-removalType select-source" [searchable]="true" [clearable]="false" (change)="onChangeWorker()"
                                formControlName="caseWorker" [(ngModel)]="caseWorker">
                                <ng-option value=""> Select </ng-option>
                                <ng-option *ngFor="let item of caseworkerList" [value]="item.userid">{{item.username}}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="col-sm-2 bt-m-findclear">
                            <button class="btn-pri m-t-15"
                                [ngClass]="{'disabled': caseSearchForm.invalid || caseSearchForm.pristine}"
                                [disabled]="caseSearchForm.pristine || caseSearchForm.invalid"
                                (click)="caseSearch(1)">Find</button>
                            <button class="btn-pri m-t-15" (click)="clear()">Clear</button>
                        </div>
                    </div>
                    <div class="table-responsive table-theme">
                        <table style="width:100%" class="table  table-striped aut-tbl-caseNumeberResultTable" sortable-table
                            (sorted)="onSorted($event)" aria-describedby="case-list">
                            <thead>
                                <tr>
                                    <th scope="col" sortable-column="servicerequestnumber">Case Number</th>
                                    <th scope="col" sortable-column="srtype">Type</th>
                                    <th scope="col" sortable-column="legalguardian">Head of Household</th>
                                    <th scope="col" sortable-column="datereceived">Creation Date & Time</th>
                                    <th scope="col" sortable-column="workername">Worker</th>
                                    <th scope="col" sortable-column="outcomes">Maltreatment Info</th>
                                    <th scope="col" *ngIf="isAudtLogVisible">Audit Log</th>
                                    <th scope="col">Tag</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="searchResult ; let dsdsActionList">
                                <tr *ngFor="let item of dsdsActionList">
                                    <td>
                                        <a (click)="routeToCase(item)"
                                            [ngStyle]="{'font-weight':item.accepteddate ? 'normal' : 'bold' }"
                                            class="aut-lnk-caseNumber">{{ item.servicerequestnumber ?
                                            item.servicerequestnumber : item.servicecasenumber }}
                                            {{ item?.adoptioncasenumber}}
                                        </a>
                                        <span *ngIf="item.isExpunged">
                                            <img src="assets/images/expungement.svg" alt=""/>
                                        </span>
                                        <span>
                                            <span *ngIf="item?.isfatality"
                                                matTooltip="Child Fatality - Name: {{item?.fatalityinfo[0]?.personname}}, DOB: {{item?.fatalityinfo[0]?.Dateofbirth | date: 'MM/dd/yyyy'}}, DOD: {{item?.fatalityinfo[0]?.Dateofdeath | date: 'MM/dd/yyyy'}}"
                                                class="dot yellow-dot"></span><span matTooltip="Provider Maltreatment"
                                                *ngIf="item?.ismaltreatment" class="dot blue-dot"></span></span>
                                    </td>
                                    <td>{{item?.srtype}}</td>
                                    <td
                                        *ngIf="item.restrictedstatus !== 'EXCLUDE' && !(item.restrictedstatus === 'INCLRES' && restrictedcaseenable)">
                                        {{ (item.legalguardian && item.legalguardian.length &&
                                        item.legalguardian[0].personname)? item.legalguardian[0].personname : ''}}
                                    </td>
                                    <td
                                        *ngIf="item.restrictedstatus !== 'EXCLUDE' && !(item.restrictedstatus === 'INCLRES' && restrictedcaseenable)">
                                        {{ item.datereceived ? (item.datereceived | date: 'MM/dd/yyyy hh:mm a') : 'NA'
                                        }}</td>
                                    <td
                                        *ngIf="item.restrictedstatus !== 'EXCLUDE' && !(item.restrictedstatus === 'INCLRES' && restrictedcaseenable)">
                                        {{item?.workername}}</td>
                                    <td
                                        *ngIf="item.restrictedstatus !== 'EXCLUDE' && !(item.restrictedstatus === 'INCLRES' && restrictedcaseenable)">
                                        <ng-container *ngIf="item.outcomes?.length > 0; else naTemplate">
                                            <ng-container *ngFor="let outcome of item.outcomes;let isLast=last">
                                                {{outcome?.name}}<span *ngIf="!isLast">,</span>
                                            </ng-container>
                                        </ng-container>
                                        <ng-template #naTemplate>N/A</ng-template>
                                    </td>
                                    <td
                                        *ngIf="isAudtLogVisible && item.restrictedstatus !== 'EXCLUDE' && !(item.restrictedstatus === 'INCLRES' && restrictedcaseenable)">
                                        <a (click)="openAuditLog(item)">View</a></td>

                                    <td (click)="tagCase(item)"><span
                                            *ngIf="item.istagged=='0' && (item.restrictedstatus !== 'EXCLUDE' && !(item.restrictedstatus === 'INCLRES' && restrictedcaseenable))">
                                            <em data-bs-toggle="tooltip" title="Add to my dashboard"
                                                class="fa fa-tag"></em></span>

                                </tr>
                                <tr *ngIf="!(dsdsActionList?.length >= 1)" style="text-align: center !important">
                                    <td colspan="8">No Records Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center mt-10"
                        *ngIf="{ dsdsActionList: caseList$ | async, totalRecords: totalRecords$ | async } as validatePagination">
                        <pagination *ngIf="validatePagination.dsdsActionList?.length !== 0"
                            [totalItems]="validatePagination.totalRecords ?? 0" [(ngModel)]="paginationInfo.pageNumber"
                            (pageChanged)="pageChanged($event.page)" class="pagination-sm" [boundaryLinks]="true"
                            [maxSize]="10">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="exclude" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-w450" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="padding: 30px;">
                        <div class="row text-center">
                            <figure>
                                <strong> Restricted Case: </strong>
                                <br>
                                Access is restricted to those assigned and their supervisory staff.
                                <br>
                                Please contact the AD of the local assigned to the restricted case to receive, verbally,
                                the information related to the restricted case sought.
                            </figure>
                            <div class="col-md-12 text-center" style="padding-top: 15px;">
                                <div class="btn-group btn-group-re">
                                    <button type="button" class="btn-pri" data-bs-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>