<div class="container-fluid">
  <div class="dashboard-cont no-pad">
    <div class="tab-horizontal mrg-top25 mrg-btm25">
      <ul class="nav nav-pills ">
        <li class="nav-item" *ngIf="role===roleList.SUPERVISOR">
          <a  class="nav-link" href="#case-assign"  (click)="routeToCase()"  data-bs-toggle="tab">ASSIGN CASE</a>
        </li>
        <li class="nav-item" *ngIf="role===roleList.SUPERVISOR">
          <a class="nav-link active" href="#service-case-assign" data-bs-toggle="tab">ASSIGN
            SERVICE CASE</a>
        </li>
        <li class="nav-item" *ngIf="role===roleList.SUPERVISOR">
          <a class="nav-link" href="#adoption-case-assign"  (click)="routeToAdoptionCase()" data-bs-toggle="tab">ASSIGN
            ADOPTION CASE</a>
        </li>
      </ul>
      <div class="tab-content boxgrid assign-case">

        <div class="tab-pane active" id="service-case-assign">
          <div class="tab-horizontal mrg-top25 mrg-btm25">
            <ul class="nav nav-pills">
              <li class="nav-item m-t-30" *ngIf="role===roleList.SUPERVISOR">
                <a class="active nav-link" href="#case-tobe-assigned" data-bs-toggle="tab" (click)="getAssignServiceCase(1, 'OPEN', 'INTIAL')">TO
                  BE
                  ASSIGNED</a>
              </li>
              <li class="nav-item m-t-30" *ngIf="role===roleList.SUPERVISOR">
                <a class="nav-link" href="#case-tobe-assigned" data-bs-toggle="tab"
                  (click)="getAssignServiceCase(1, 'ASSGN', 'INTIAL')">ASSIGNED</a>
              </li>
              <li class="nav-item m-t-30" *ngIf="role===roleList.SUPERVISOR">
                <a class="nav-link" href="#case-tobe-assigned" data-bs-toggle="tab"
                  (click)="getAssignServiceCase(1, 'CLOSED', 'INTIAL')">CLOSED</a>
              </li>
              <li class="ms-auto m-t-15 m-p-search nav-item">
                <div class="searchdd pull-left m-r-10">
                  <mat-form-field [formGroup]="assignedCaseForm">
                    <mat-select formControlName="securityusersid"  (selectionChange)="supervisorChange()">
                      <mat-option *ngFor="let item of supervisorList" [value]="item.userid">{{item.username}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="inner-addon m-t-15 right-addon pull-left" [formGroup]="assignedCaseForm">
                  <em aria-hidden="true" class="fa fa-search"></em>
                  <input type="text" class="form-control aut-txt-caseNumberSearch" formControlName="serreqno"
                    (input)="onSearchAssignCase('serreqno', $event)" placeholder="Search Cases..." />
                </div>
              </li>
            </ul>
            <div class="tab-content boxgrid assign-case">
              <div class="tab-pane active" id="case-tobe-assigned">
                <div class="cnt-min-height">
                  <p class="mt-10 mb-0">Total Count: <strong>{{totalRecordsAssingedCase}}</strong>
                  <div class="table-theme table-responsive">
                    <table class="table table-striped" sortable-table (sorted)="onSorted($event)" aria-describedby="tbl-assignedcase-records">
                      <thead>
                        <tr>
                          <th scope="col" sortable-column="servicerequestnumber" sort-direction="desc">
                              SERVICE CASE ID</th>
                          <th scope="col">Head of Household</th>
                          <th scope="col">Type</th>
                          <th scope="col">Program Area</th>
                          <th scope="col">Sub Program Area</th>
                          <th scope="col" *ngIf="assignedStatus === 'ASSGN'">ASSIGNED TO</th>
                          <th scope="col" sortable-column="assigneddate" *ngIf="assignedStatus==='ASSGN'">ASSIGNED
                            START DATE & TIME
                          </th>


                          <th scope="col">STATUS</th>
                          <ng-container *ngIf="role===roleList.SUPERVISOR">
                            <th scope="col" *ngIf="assignedStatus ==='OPEN'">ACTION</th>
                          </ng-container>
                        </tr>
                      </thead>
                      <tbody *ngIf="assingedServiceCaseSummary; let assignedCase ; else noItems">
                        <ng-container *ngIf="assignedCase.length>0; else noItems">
                          <ng-container *ngFor="let item of assignedCase; let groupIndex = index">
                            <ng-container>
                              <tr>
                                <td *ngIf="!item?.dadetails">
                                  <a>
                                    <a (click)="routToCaseWorker(item)">{{item.servicecasenumber}}</a>
                                  </a>
                                </td>

                                <td>
                                  {{item.legalguardian}}
                                </td>
                                <td>{{item?.casetype}}</td>
                                <td>
                                  <ng-container *ngIf="!item.intakedastagingdtls || (item.intakedastagingdtls && item.intakedastagingdtls.length === 0)">
                                    <div *ngFor="let programData of item.program;let i=index">
                                      <span *ngIf="i === 0">{{programData?.programname}}</span>
                                      <span *ngIf="i !== 0">, {{programData?.programname}}</span>
                                    </div>
                                  </ng-container>
                                  <ng-container *ngIf="(item.intakedastagingdtls && item.intakedastagingdtls.length > 0)">
                                    <span>{{ item.intakedastagingdtls[0].intakedastagingdtls.General.PurposeName}}</span>
                                  </ng-container>
                                </td>
                                <td>
                                  <ng-container *ngIf="item.subprograms">
                                    <span>{{item.subprograms}}</span>
                                  </ng-container>
                                  <ng-container *ngIf="!item.subprograms">
                                    <span
                                      *ngFor="let subProgramData of item.subprogram">{{subProgramData.subprogramname}}</span>
                                  </ng-container>
                                </td>
                                <td *ngIf="assignedStatus === 'ASSGN'">{{item?.assignedusername}}</td>
                                <td *ngIf="assignedStatus === 'ASSGN'">
                                  {{item.startdate ? (item.startdate |
                                                                                date:'MM/dd/yyyy hh:mm a') : 'NA'}}

                                </td>


                                <td>
                                  {{ ( item.statustypekey && statusDesc[item.statustypekey] )? statusDesc[item.statustypekey] : item.statustypekey}}
                                </td>
                                <ng-container *ngIf="role===roleList.SUPERVISOR">
                                  <td *ngIf="assignedStatus==='OPEN'">
                                    <button type="submit" class="btn-pri aut-btn-assign"
                                      data-bs-target="#intake-servicecaseassign" data-bs-toggle="modal"
                                      (click)="getRoutingUserforServiceCase(item)">ASSIGN</button>
                                  </td>
                                </ng-container>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </tbody>
                    </table>
                    <ng-template #noItems>
                      <p class="no-datatxt"> No Items! </p>
                    </ng-template>
                    <div class="text-center">
                      <pagination [totalItems]="totalRecordsAssingedCase"
                        [(ngModel)]="tobeassignedPaginationInfo.pageNumber"
                        (pageChanged)="pageServiceCaseAssignedChanged($event)" class="pagination-sm"
                        [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="tobeassignedPaginationInfo.pageSize">
                      </pagination>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="intake-servicecaseassign" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg custom-wid" role="document">
    <div class="modal-content Persons-Involved">
      <div class="modal-header">
        <h4 class="modal-title" (click)="refreshUser()">Route Service Case</h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body dashboard-cont" [formGroup]="assignServiceCaseForm">

        <div class="tab-horizontal mrg-btm25">
          <ul class="nav nav-pills">
            <li>
              <a class="nav-link active" href="#caseassign-caseworker" data-bs-toggle="tab" (click)="listUser('TOBEASSIGNED')">WORKERS</a>
            </li>
            <li>
              <a class="nav-link" href="#caseassign-caseworker" data-bs-toggle="tab"
                  (click)="listUser('ASSIGNED')">SUPERVISORS</a>
            </li>
            <li class="text-end pos-right filterbyunit" [formGroup]="teamForm">
              <mat-form-field>
                <mat-label>Filter By UNIT</mat-label>
                <mat-select  formControlName="teamid" (selectionChange)="teamChange()">
                  <mat-option *ngFor="let item of teamList" [value]="item.teamid">{{item.name}}
                    <strong>({{item.parentteamname}})</strong></mat-option>
                </mat-select>
              </mat-form-field>
            </li>
          </ul>
          <div class="tab-content boxgrid">
            <div class="tab-pane active" id="caseassign-caseworker">
              <div class="">
                <div class="table-responsive table-theme table-head-fixed">
                  <table class="table table-striped" sortable-table (sorted)="onSorted($event)" aria-describedby="tbl-caseassing-caseworker-list">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" class="required">NAME</th>
                        <th scope="col" class="required">Responsibility</th>
                        <th scope="col" *ngIf="!isSupervisor">CASE LOAD</th>
                        <th scope="col" *ngIf="!isSupervisor">AVAILABILITY</th>
                        <th scope="col" *ngIf="!isSupervisor">ZIP CODE</th>
                        <th scope="col" *ngIf="isSupervisor">AGENCY</th>
                        <th scope="col">TYPE OF WORKER</th>
                        <th scope="col">UNIT</th>
                        <th scope="col">Total Cases</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="getUsersList; let getlist" style="vertical-align: middle">
                      <ng-container *ngIf="getlist.length>0; else noItems">
                        <tr *ngFor="let item of getlist">
                          <td class="valign-middle">
                            <mat-checkbox (change)="selectPerson($event,item)"></mat-checkbox>
                          </td>

                          <td class="aut-lbl-caseWorkerName valign-middle">{{item.username}} </td>
                          <td>
                            <mat-form-field>
                              <mat-label>Responsibility</mat-label>
                              <mat-select  (selectionChange)="changeResponsibility($event,item)">
                                <mat-option *ngFor="let type of responsibilityTypeDropdownItems$" [value]="type.value">
                                  {{type.text}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                            <div *ngIf="isChildResponsibilityTypeSelected(item)">
                              <mat-form-field>
                                <mat-label>Child List</mat-label>
                                  <mat-select  multiple  required="isChildResponsibilityTypeSelected(item)" (selectionChange)="addChild($event, item)">
                                      <ng-container *ngFor="let child of childList">
                                          <mat-option [disabled]="child.isassignment === 1 || (child.isselected && child.isselected !== item.userid)"  [value]="child.intakeservicerequestactorid"><span>{{child.firstname}} </span> <span>{{child.lastname}}</span></mat-option>
                                      </ng-container>
                                  </mat-select>
                              </mat-form-field>
                          </div>
                          </td>
                          <td *ngIf="!isSupervisor" class="valign-middle">{{item.workloads}}</td>
                          <td *ngIf="!isSupervisor" class="valign-middle">{{item.available}}</td>
                          <td *ngIf="!isSupervisor" class="valign-middle">
                            {{item.worklocationcode ? item.worklocationcode : 'N/A'}}</td>
                          <td *ngIf="isSupervisor" class="valign-middle">{{item.agencykey}}</td>
                          <td class="valign-middle">{{item.userrole}}</td>
                          <td class="valign-middle">{{item.teamname}}</td>
                          <td class="valign-middle">{{item.totalcases ? item.totalcases : 'N/A'}}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  <ng-template #noItems>No Items!</ng-template>
                </div>
              </div>
            </div>
          </div>
         <div class="clearfix"></div>
          <div class="row m-t-10">
            
              <div class="col-sm-3 assign">
                <span>Program Assignment:</span>
              </div>
              <div class="col-sm-4">
                <mat-form-field>
                  <label class="required">Program Area</label>
                  <mat-select [disabled]="disableprogram" (selectionChange)="onProgramAreaChange($event)" formControlName="programkey">
                    <mat-option *ngFor="let status of programArea" value="{{status.programkey}}">{{status.programname}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-5">
                <mat-form-field>
                  <label class="required">Program Sub Area</label>
                  <mat-select [disabled]="disableprogram" formControlName="subprogramkey">
                    <mat-option *ngFor="let status of programSubArea" value="{{status.subprogramkey}}">
                      {{status.subprogramname}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            
          </div>

        </div>
        <div class="clearfix"></div>

      </div>
      <div class="modal-footer wizard-buttons">
<button class="btn-pri aut-btn-assign" [disabled] = "disableassign || assignServiceCaseForm.invalid" (click)="assignServiceCaseUser()">ASSIGN</button>      
      </div>
    </div>
  </div>
</div>