<div class="row">
    <div class="col-md-12" [formGroup]="under5yearsInfoForm">
        <div class="col-md-12">
            <h4>
                <p class="bg-theme">Prenatal Information</p>
            </h4>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Prenatal Care Provided to Mother</mat-label>
                        <mat-select formControlName="parentcare" placeholder="">
                            <mat-option *ngFor="let item of prenatalCareDropdownItems$ | async" value="{{item.value}}">
                                {{item.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6" *ngIf="under5yearsInfoForm.controls['parentcare'].value === '1765'">
                    <mat-form-field>
                        <mat-label>When Begun</mat-label>
                        <mat-select placeholder="" formControlName="whenbegun">
                            <mat-option *ngFor="let item of whenBegunItems$ | async" value="{{item.value}}">
                                {{item.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Gestation</mat-label>
                        <mat-select placeholder="" formControlName="gestation" multiple
                            class="aut-lst-addNotesInvolvedPerson">
                            <mat-option *ngFor="let item of gestationDropdownItems$ | async" value="{{item.value}}">
                                {{item.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Parity(# During Pregnancy)</mat-label>
                        <mat-select placeholder="" formControlName="parity" 
                            class="aut-lst-addNotesInvolvedPerson">
                            <mat-option *ngFor="let item of parityItems$ | async" value="{{item.value}}">{{item.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Type of Delivery</mat-label>
                        <mat-select formControlName="deliveryType" placeholder="">
                            <mat-option *ngFor="let item of deliveryTypeDropdownItems$ | async" value="{{item.value}}">
                                {{item.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>Prenatal Problems</mat-label>
                            <mat-select formControlName="prenatalproblem" placeholder="">
                                <mat-option  value="None">None</mat-option>
                                <mat-option  value="Yes">Yes (Specify)</mat-option>
                                <mat-option  value="Unknown">Unknown</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

            </div>
        </div>
        <div class="col-md-12 m-t-30" *ngIf="under5yearsInfoForm.controls['prenatalproblem'].value === 'Yes'"  >
                <mat-form-field>
                    <mat-label>Prenatal Problem Specify</mat-label>
                    <textarea type="text" formControlName="prenatalproblemspecify" matInput placeholder="" class="aut-txt-malAllComments"></textarea>
                </mat-form-field>
            </div>
        <div class="col-md-12 m-t-30">
            <mat-form-field>
                <mat-label>Comments</mat-label>
                <!--D-07005 Start-->
                <textarea type="text" formControlName="comments" matInput placeholder=""
                    class="aut-txt-malAllComments"></textarea>
                <!--D-07005 End-->
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <h4>
                <p class="bg-theme">Hospital Information</p>
            </h4>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Hospital Child Born in</mat-label>
                        <input matInput formControlName="childbornin" placeholder="">
                    </mat-form-field>
                </div>
                <smarty-street-address [address]="address"></smarty-street-address>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Phone number</mat-label>
                        <input matInput formControlName="phone" placeholder=""
                            mask="(000) 000-0000">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Email Address</mat-label>
                        <input matInput formControlName="email" placeholder="">
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Complications During Newborn Period</mat-label>
                        <mat-select placeholder="" formControlName="complications"
                            multiple class="aut-lst-addNotesInvolvedPerson">
                            <mat-option *ngFor="let item of complicationTypeDropdownItems$ | async"
                                value="{{item.value}}">{{item.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Specify</mat-label>
                        <input matInput formControlName="speciality" placeholder="">
                    </mat-form-field>
                </div>
            </div>
            


        </div>
        <div class="col-md-12 m-t-30">
            <mat-form-field>
                <mat-label>Comments</mat-label>
                <!--D-07005 Start-->
                <textarea type="text" formControlName="hospitalcomments" matInput placeholder=""
                    class="aut-txt-malAllComments"></textarea>
                <!--D-07005 End-->
            </mat-form-field>
        </div>
    </div>
</div>
<div class="row m-b-20">
    <div class="col-sm-12 ">
        <div class="pull-right">
            <span *ngIf="reportMode === 'add'">
                <button class="btn-pri" type="button" (click)="resetForm()">Clear</button>
                <button class="btn-pri" (click)="add()">Save</button>
            </span>
            <span *ngIf="reportMode === 'edit'">
                <button class="btn-pri" *ngIf="editMode === true" (click)="update()">Update</button>
                <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" *ngIf="under5Infocw.length>0">
        <div class="table-responsive table-theme table-bordered">
            <table class="table" aria-describedby="tbl-under-five-info-lst">
                <thead>
                    <tr>
                        <th scope="col">Prenatal Care</th>
                        <th scope="col">Child Born Hospital</th>
                        <th scope="col">Complications</th>
                        <th scope="col">Comments</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let under of under5Infocw; let i=index">
                        <td>{{under.parentcare}}</td>
                        <td>{{under.childbornin}}</td>
                        <td>{{under.complications}}</td>
                        <td>{{under.comments}}</td>
                        <td>
                            <a (click)="view(under)">
                                <em class="fa fa-eye text-16"></em>
                            </a> |
                            <a (click)="edit(under, i)">
                                <em class="fa fa-pencil text-16"></em>
                            </a> |
                            <a (click)="delete(i)">
                                <em class="fa fa-trash text-16"></em>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>