<div class="tab-pane box-grid no-mar" role="tabpanel">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"></div>

        <div class="col-sm-6 col-md-6 col-lg-6 col-lg-offset-9 text-end">
            <div class="dropdown">
                <span *ngIf="isReadonly">
                    <button *securityKeyNew = "'contacts,contacts.visitationlog.add'" [fieldKeyNew] = "'contacts,contacts.visitationlog.add'" class="btn btn-primary" 
                    type="button" data-bs-toggle="modal" data-bs-target="#addVisitationLog" (click)="resetVisitationLog()">Add New</button>
                </span>
            </div>
        </div>
    </div>

    <div class="clearfix mt-20">

        <div class="row" *ngIf="visitationlogs">
            <div class="col-md-12">
                <div class="" *ngIf="visitationlogs.length ===0">
                    No Records Found.
                </div>
                <div *ngIf="visitationlogs.length>0" data-page-name="Contact Summary Report" data-page-end="true">
                    <label>Visitation Logs</label>
                    <div class="tab">
                        <div class="table-responsive">
                            <!-- removed notes-tbl to balance new column addition to table -->
                            <table class="table table-bordered recording-table icon-action" sortable-table (sorted)="onSorted($event)" aria-describedby="visitation log">
                                <thead>
                                    <tr>
                                        <th id="client-name" sortable-column="clientname">Client Name</th>
                                        <th id="date-of-visit" sortable-column="visitdate" sort-direction="desc">Date of Visit</th>
                                        <th id="court-ordered" sortable-column="courtorderedflag">Court Ordered</th>
                                        <th id="status" sortable-column="visitstatustypekey">Status</th>
                                        <th id="participants">Participants</th>
                                        <th id="comments" sortable-column="visitcomments">Comments</th>
                                        <th id="location" sortable-column="visitlocation">Location</th>
                                        <th id="conditions" sortable-column="supervisedflag">Conditions</th>
                                        <th id="actions">Actions</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let visitationlog of visitationlogs">
                                    <tr>
                                        <td> {{ visitationlog?.clientname }} </td>
                                        <td> {{ visitationlog?.visitdate | date: 'MM/dd/yyyy' }} </td>
                                        <td> {{ visitationlog?.courtorderedflag === 1 ? 'Yes' : 'No' }} </td>
                                        <td> {{ getVisitationStatus(visitationlog?.visitstatustypekey) }} </td>
                                        <td class="table-img">
                                            <div *ngFor="let participant of visitationlog?.participantnames">
                                                <div >
                                                    <img src="assets/images/icon-avtar.png" alt="Avatar Icon">
                                                    <span class="theme-txt1">
                                                        {{participant }} 
                                                    </span>
                                                </div>
                                            </div>  
                                        </td>
                                        <td> {{ visitationlog?.visitcomments }} </td>
                                        <td> {{ visitationlog?.visitlocation }} </td>
                                        <td> {{ visitationlog?.supervisedflag === 1 ? 'Supervised' : 'Unsupervised'  }} </td>
                                        <td>  
                                            <span *ngIf="isReadonly">
                                                <button *securityKeyNew = "'contacts,contacts.consultreview.edit'" [fieldKeyNew] = "'contacts,contacts.consultreview.edit'" class="no-bg-btn" 
                                                matTooltip="Edit Visitation Log" data-bs-toggle="modal" data-bs-target="#addVisitationLog" (click)="editVisitationLog(visitationlog)"><em class="fa fa-pencil"></em></button>
                                                <button *securityKeyNew = "'contacts,contacts.consultreview.delete'" [fieldKeyNew] = "'contacts,contacts.consultreview.delete'" class="no-bg-btn" 
                                                matTooltip="Delete Visitation Log" data-bs-toggle="modal" data-bs-target="#deleteVisitationLog" (click)="deleteVisitationLog(visitationlog)"><em class="fa fa-trash"></em></button>
                                            </span>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>                            
                        <div class="text-center m-t-20" *ngIf="visitationlogs.length>0">
                                <pagination [totalItems]="totalRecords" [(ngModel)]="pageNumber"
                                    (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true"
                                    [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<form [formGroup]="visitationLogForm">
    <div class="modal fade" id="addVisitationLog" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-w1050">
            <div class="modal-content form-wrapper txt-left">
                <div class="modal-header">
                    <h4 class="modal-title">Visitation Log Details</h4>
                    <button class="btn-close close pull-right" data-bs-dismiss="modal" (click)="resetVisitationLog()" aria-label ="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Client</mat-label> 
                                <mat-select class= "aut-lst-primaryCaregiver" placeholder="" formControlName="personid" (selectionChange)="getClientNameList($event.value, personList)" required>
                                    <mat-select-trigger>
                                        {{selectClientNameList}}
                                    </mat-select-trigger>
                                    <mat-option class="multi-line-mat-option" *ngFor="let item of personList"
                                        [value]="item.personid">{{getFullName(item)}}
                                        <div class="personinvolve-role">
                                            <span class="role-description">
                                            {{item.dob | date:'MM/dd/yyyy'}}, {{item.userroles}}, {{item.cjamspid}}
                                            </span>
                                        </div>
                                    </mat-option>
                                </mat-select>
                               
                            </mat-form-field>
                            <mat-error *ngIf="displayValidationMessages">
                                {{getFormMsg('personid','Client')}}
                            </mat-error>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Visit Date</mat-label> 
                                <input formControlName="visitdate" matInput autocomplete="off" [matDatepicker]="vp1" id="visitdate"
                                    placeholder="" (click)="vp1.open()" required>
                                <mat-datepicker-toggle matSuffix [for]="vp1"></mat-datepicker-toggle>
                                <mat-datepicker #vp1></mat-datepicker>
                            </mat-form-field> 
                            <mat-error *ngIf="displayValidationMessages">
                                {{getFormMsg('visitdate','Visit Date')}}
                            </mat-error>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Status</mat-label> 
                                <mat-select required placeholder="" formControlName="visitstatustypekey">
                                    <mat-option *ngFor="let item of visitationstatus" [value]="item.ref_key">
                                    {{item.value_text}}
                                    </mat-option>
                                </mat-select>
                               
                            </mat-form-field>
                            <mat-error *ngIf="displayValidationMessages">
                                {{getFormMsg('visitstatustypekey','Status')}}
                            </mat-error>
                        </div>
                        <div class="col-md-3">
                            <mat-checkbox formControlName="courtorderedflag">Court Ordered ?</mat-checkbox>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Persons Involved</mat-label> 
                                <mat-select class="aut-lst-addNotesInvolvedPerson" placeholder="" (selectionChange)="getPersonNameList($event.value, personList)" formControlName="visitationlogclient" multiple>
                                    <mat-select-trigger>
                                        {{selectPersonNameList ? selectPersonNameList[0] : ''}}
                                        <span
                                            *ngIf="visitationLogForm.get('visitationlogclient')?.value?.length > 1"
                                            class="example-additional-selection">
                                            (+{{selectPersonNameList.length - 1}}
                                            {{selectPersonNameList.length === 2 ? 'other' : 'others'}})
                                        </span>
                                    </mat-select-trigger>
                                    <mat-option class="multi-line-mat-option" *ngFor="let item of personList"
                                        [value]="item.personid">{{getFullName(item)}}
                                        <div class="personinvolve-role">
                                            <span class="role-description">
                                            {{item.dob | date:'MM/dd/yyyy'}}, {{item.userroles}}, {{item.cjamspid}}
                                            </span>
                                        </div>
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Collateral Visit Participants</mat-label> 
                                <mat-select placeholder="" formControlName="collaterallist"  (selectionChange)="getParticipantNameList($event.value, collateralPersons)"  multiple>
                                    <mat-select-trigger>
                                        {{selectParticipantNameList ? selectParticipantNameList[0] : ''}}
                                        <span
                                            *ngIf="visitationLogForm.get('collaterallist')?.value?.length > 1"
                                            class="example-additional-selection">
                                            (+{{selectParticipantNameList.length - 1}}
                                            {{selectParticipantNameList.length === 2 ? 'other' : 'others'}})
                                        </span>
                                    </mat-select-trigger>
                                    <mat-option class="mat-option-role" *ngFor="let item of collateralPersons"
                                        [value]="item.collateralid">{{getFullName(item)}}
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>Comments</label>
                            <textarea rows="5" name="visitcomments" formControlName="visitcomments"
                            class="form-control full-collapse-horizontal aut-txt-addNotesNarrator"></textarea>
                        </div>  
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <label>Location</label>
                            <textarea  name="visitlocation" formControlName="visitlocation"
                                class="form-control full-collapse-horizontal aut-txt-addNotesNarrator"></textarea>
                        </div> 
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>Specify any other participants that are not members of this case</label>
                            <textarea name="otherparticipants" formControlName="otherparticipants"
                                class="form-control full-collapse-horizontal aut-txt-addNotesNarrator"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>Conditions </label>
                            <span class="pull-right">
                                <mat-radio-group formControlName="supervisedflag">
                                <mat-radio-button [value] = "1">Supervised</mat-radio-button>
                                <mat-radio-button [value] = "0">Unsupervised</mat-radio-button>
                                </mat-radio-group>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <mat-form-field>
                                <mat-label>Comments</mat-label> 
                                <input type="text" formControlName="supervisecomments" matInput placeholder="">
                            </mat-form-field>
                        </div>    
                    </div>
                    

                </div>

                <div class="modal-footer text-end">
                    <button class="btn btn-pri" type="button" (click)="saveVisitationLog()" 
                        >Save</button>
                    <button class="btn sec-btn" type="button" data-bs-dismiss="modal" data-bs-target="#visitation-plans"
                        data-bs-toggle="modal" (click)="resetVisitationLog()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="modal fade" id="deleteVisitationLog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"> Confirm Delete </h4>
            <button class="btn-close close pull-right" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <p> Are you sure you want to delete this visitation log? </p>
        </div>
        <div class="modal-footer">
            <div class="text-end right-mspace-15">
            <button type="button" value="No" class="btn-bg" name="" data-bs-dismiss="modal"> No </button>
            <button type="button" value="Yes" class="btn-pri" name="" data-bs-dismiss="modal" (click)="confirmDelete()"> Yes
            </button>
            </div>
        </div>
        </div>
    </div>
</div>