.no-bg-btn {
    outline: none;
    background: none;
    color: #00A2FD;
    font-size: 14px;
    border: none;
    padding-top: 10px;
}
.dropdown{
    display:flex;
    justify-content: flex-end;
    position: relative;

  }
  .modal-title{
    text-align: left !important;
    margin-right: auto;
  }
  .modal-dialog{
    width:1050px !important;
    max-width:98% !important;
  }