.as-court-processing {
    padding-top:25px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
}
.as-court-processing table {
    border-radius: 4px;
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
}
.as-court-processing table thead {
    background: #24292d;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
}
.as-court-processing table.expand-col thead {
    background: #cccfd4;
}
.as-court-processing table thead th {
    padding: 0px;
}
.as-court-processing table tbody td {
    padding: 0px;
    color: #817575;
    font-size: 13px;
    text-align: left;
}
.as-court-processing table.expand-col tbody td,
.as-court-processing table.expand-col thead th {
    padding: 10px !important;
    text-align: left;
}
.as-court-processing .expand-table td,
.as-court-processing .expand-table th {
    padding: 7px 10px !important;
    vertical-align: top;
}
.as-court-processing .expand-table {
    margin: 0 !important;
}