<div class="row">
  <div class="col-sm-12 m-t-20">
      <h3><strong>Adoption Annual Reviews</strong></h3>
    <button class="btn btn-pri pull-right" *ngIf="!isSupervisor && !isinValidAnnualReview && _authService.readonlyButton('read_only_access','caseworker-annualreview-add')" (click)="formAccess(0)">+ Annual Review</button>
  </div>
</div>
  <!--Grid-->
  <div class="m-t-20">
    <div class="table-responsive">
      <table class="table table-bordered icon-action" aria-describedby="Annual Review List">
        <thead>
          <tr>
            <th id="reviewDateHeader">Review Date</th>
            <th id="approvalStatusHeader">Approval Status</th>
            <th id="actionHeader">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of annualReviewList">
            <td>
              {{item.assessmentdate | date: 'MM/dd/yyyy'}}
            </td>
            <td>
              {{item?.status}}
            </td>
            <td class="text-caps">
              <span *ngIf="!isSupervisor" title="Edit" data-bs-placement="top" data-original-title="Edit">
                <a *ngIf="(item.status !== 'Approved') && _authService.readonlyButton('read_only_access','caseworker-annualreview-edit')" (click)="editAnnualReview(item)"><i class="fa fa-pencil fa-size" aria-hidden="true"></i></a>
                <a *ngIf="item.status === 'Approved'" (click)="viewAnnualReview(item)"><i class="fa fa-eye fa-size" aria-hidden="true"></i></a>
              </span>
              <button  *ngIf="isSupervisor" type="button" (click)="viewAnnualReview(item)" class="btn btn-pri">{{ item?.status === 'Review' ? 'Review' : 'View' }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <form [formGroup]="annualReviewAdoptionForm" *ngIf="isFormDisplay">
    <!--Annual Review Signature Dates-->
    <section class="mt-30">
        <h5 class="h5-title">Annual Review Signature Dates</h5>
        <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Adoptive Parent1</mat-label>
                  <input matInput autocomplete="off" [matDatepicker]="pickeradp1" (click)="pickeradp1.open()" placeholder=""
                    formControlName="fatheragreementdate" required>
                  <mat-datepicker-toggle matSuffix [for]="pickeradp1"></mat-datepicker-toggle>
                  <mat-datepicker #pickeradp1></mat-datepicker>
                </mat-form-field>
                <mat-error *ngIf ="annualReviewAdoptionForm.controls.fatheragreementdate.status=='INVALID' && mandatoryFields">
                  Please Select Adoptive Parent1
                </mat-error>
              </div>
              <div class="col-sm-6 text-end">
                  <mat-form-field>
                    <mat-label>LDSS Director/Designee</mat-label>
                  <input matInput autocomplete="off" [matDatepicker]="pickerldss" (click)="pickerldss.open()" placeholder=""
                    formControlName="designeeagreementdate" required>
                  <mat-datepicker-toggle matSuffix [for]="pickerldss"></mat-datepicker-toggle>
                  <mat-datepicker #pickerldss></mat-datepicker>
                </mat-form-field>
                <mat-error *ngIf ="annualReviewAdoptionForm.controls.designeeagreementdate.status=='INVALID' && mandatoryFields">
                Please Select LDSS Director/Designee
                </mat-error>
              </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <mat-label>Adoptive Parent2</mat-label>
                <input matInput autocomplete="off" [matDatepicker]="pickeradp2" (click)="pickeradp2.open()" placeholder=""
                  formControlName="motheragreementdate">
                <mat-datepicker-toggle matSuffix [for]="pickeradp2"></mat-datepicker-toggle>
                <mat-datepicker #pickeradp2></mat-datepicker>
              </mat-form-field>
            </div>
        </div>
    </section>
    <!--Annual Review Details-->
    <section class="mt-30">
      <h5 class="h5-title">Annual Review Details</h5>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <input formControlName="enteredby" matInput placeholder="Entered By">
          </mat-form-field>
        </div>
        <div class="col-sm-6 pull-right datepick">
          <mat-form-field>
            <mat-label>Review Date</mat-label>
            <input [max]="maxdate" matInput autocomplete="off" [matDatepicker]="pickerm" (click)="pickerm.open()"
              placeholder="" formControlName="assessmentdate" required>
            <mat-datepicker-toggle matSuffix [for]="pickerm"></mat-datepicker-toggle>
            <mat-datepicker #pickerm></mat-datepicker>
          </mat-form-field>
          <mat-error *ngIf="annualReviewAdoptionForm.controls.assessmentdate.status=='INVALID' && mandatoryFields">
            Please Select Review Date
          </mat-error>
        </div>
       </div>
      <ul class="list-group checklist-disclosure">
        <li class="list-group-item " style="opacity: 0">
          <span class="required">
            Child is under 18 years old or child is under 21 years old with a disability? 
          </span>
            <span class="pull-right">
              <mat-radio-group (change)="onChangeDisabilityCheckbox1($event.value)" formControlName="ischilddisability" required>
              <mat-radio-button [value]=true>Yes</mat-radio-button>
              <mat-radio-button [value]=false>No</mat-radio-button>
            </mat-radio-group> 
          </span>
          <mat-error *ngIf ="annualReviewAdoptionForm.controls.ischilddisability.status=='INVALID' && mandatoryFields">
            Please Select Child is under 18 years old or child is under 21 years old with a disability
          </mat-error>
        </li>  
        <li class="list-group-item ">
          <span class="required">Child is under 18 years old or child is under 21 years old with a disability?</span>
          <span class="pull-right">
            <mat-radio-group (change)="onChangeDisabilityCheckbox1($event.value)" formControlName="ischilddisability" required>
              <mat-radio-button [value]=1>Yes</mat-radio-button>
              <mat-radio-button [value]=0>No</mat-radio-button>
            </mat-radio-group>
          </span>
          <mat-error *ngIf ="annualReviewAdoptionForm.controls.ischilddisability.status=='INVALID' && mandatoryFields">
            Please Select Child is under 18 years old or child is under 21 years old with a disability
          </mat-error>
        </li>
        <li class="list-group-item ">
          <span class="required">Child still meets special needs requirements?</span>
          <span class="pull-right">
            <mat-radio-group formControlName="ischildspecialneed" required>
                <mat-radio-button [value]=1>Yes</mat-radio-button>
                <mat-radio-button [value]=0>No</mat-radio-button>
            </mat-radio-group>
          </span>
          <mat-error *ngIf ="annualReviewAdoptionForm.controls.ischildspecialneed.status=='INVALID' && mandatoryFields">
            Please Select Child still meets special needs requirements
          </mat-error>
        </li>
        <li class="list-group-item">
          <span class="required">Parents are still legally Responsible?</span>
          <span class="pull-right">
            <mat-radio-group formControlName="isparentlegalresponsible" required>
                <mat-radio-button [value]=1>Yes</mat-radio-button>
                <mat-radio-button [value]=0>No</mat-radio-button>
            </mat-radio-group>
          </span>
          <mat-error *ngIf ="annualReviewAdoptionForm.controls.isparentlegalresponsible.status=='INVALID' && mandatoryFields">
            Please Select Parents are still legally Responsible
          </mat-error>
        </li>
        <li class="list-group-item">
          <span class="required">Renewal agreement has been signed?</span>
          <span class="pull-right">
            <mat-radio-group formControlName="isrenewalsigned" required>
                <mat-radio-button [value]=1>Yes</mat-radio-button>
                <mat-radio-button [value]=0>No</mat-radio-button>
            </mat-radio-group>
          </span>
          <mat-error *ngIf ="annualReviewAdoptionForm.controls.isrenewalsigned.status=='INVALID' && mandatoryFields">
            Please Select Renewal agreement has been signed
          </mat-error>
        </li>
        <li class="list-group-item">
          <span class="required">Parents provides financial Support for the Child?</span>
          <span class="pull-right">
            <mat-radio-group formControlName="parentsupportflag" required>
                <mat-radio-button [value]=1>Yes</mat-radio-button>
                <mat-radio-button [value]=0>No</mat-radio-button>
            </mat-radio-group>

          </span>
          <mat-error *ngIf ="annualReviewAdoptionForm.controls.parentsupportflag.status=='INVALID' && mandatoryFields">
            Please Select Parents provides financial Support for the Child
          </mat-error>
        </li>
        <li class="list-group-item ">
          Child is currently enrolled in school?
          <span class="pull-right">
            <mat-radio-group formControlName="schoolenrollflag">
                <mat-radio-button [value]=1>Yes</mat-radio-button>
                <mat-radio-button [value]=0>No</mat-radio-button>
            </mat-radio-group>
          </span>
          <mat-error *ngIf ="annualReviewAdoptionForm.controls.schoolenrollflag.status=='INVALID' && mandatoryFields">
            Please Select Child is currently enrolled in school
          </mat-error>
        </li>
        <li class="list-group-item ">
          If not school age, documentation of immurization record provided?
          <span class="pull-right">
            <mat-radio-group formControlName="immunizationflag">
                <mat-radio-button [value]=1>Yes</mat-radio-button>
                <mat-radio-button [value]=0>No</mat-radio-button>
            </mat-radio-group>
          </span>
          <mat-error *ngIf ="annualReviewAdoptionForm.controls.immunizationflag.status=='INVALID' && mandatoryFields">
            Please Select If not school age, documentation of immurization record provided
          </mat-error>
        </li>
        <li class="list-group-item ">
          If the child is between 18 and 21 years old, is he/she in school, employed, or disabled?
          <span class="pull-right">
            <mat-radio-group (change)="onChangeDisability($event.value)" formControlName="mededuvoccertflag">
                <mat-radio-button [value]=1>Yes</mat-radio-button>
                <mat-radio-button [value]=0>No</mat-radio-button>
            </mat-radio-group>
          </span>
          <mat-error *ngIf ="annualReviewAdoptionForm.controls.mededuvoccertflag.status=='INVALID' && mandatoryFields">
            Please Select If the child is between 18 and 21 years old, is he/she in school, employed, or disabled
          </mat-error>
        </li>
      </ul>
    </section>
    <section class="d-flex flex-column sign-sec mt-20" *ngIf="annualReviewAdoptionForm.getRawValue().mededuvoccertflag">
      <h3 class="h5-title">If yes, respond to the following</h3>
      <ul class="list-group checklist-disclosure">
        <li class="list-group-item ">
          1. Completing secondary education or a program leading to an equivalent credential.
          <span class="pull-right">
              <mat-checkbox class="m-t-20 ds-block" formControlName="paytill22educhkflag" [checked]="true">
              </mat-checkbox>
          </span>
        </li>
        <li class="list-group-item ">
          2. Enrolled in an institution that provides  post-secondary or vocational eduction
          <span class="pull-right">
              <mat-checkbox class="m-t-20 ds-block" formControlName="paytill22enrollchkflag" [checked]="true">
              </mat-checkbox>
          </span>
        </li>
        <li class="list-group-item">
          3. Participating in a program or activity designed to promote or remove barries to employement.
          <span class="pull-right">
              <mat-checkbox class="m-t-20 ds-block" formControlName="paytill22emppgmchkflag" [checked]="true">
              </mat-checkbox>
          </span>
        </li>
        <li class="list-group-item">
          4. Employed for at least 80 hours per month
          <span class="pull-right">
              <mat-checkbox class="m-t-20 ds-block" formControlName="paytill22emp80hrchkflag" [checked]="true">
              </mat-checkbox>
          </span>
        </li>
        <li class="list-group-item">
          5. Incapable of doing any of the activities in [1] ...[4] due to a medical conditon, which incapability is supported by regularly updated information in the case plan of the child
          <span class="pull-right">
              <mat-checkbox (change)="onChangeDisabilityCheckbox2($event.checked)" class="m-t-20 ds-block" formControlName="paytill22medchkflag" [checked]="true">
              </mat-checkbox>
          </span>
        </li>
      </ul>
    </section>
    <div class="row mt-30" >
      <div class="col-sm-12" *ngIf="annualReviewAdoptionForm.getRawValue().paytill22medchkflag || annualReviewAdoptionForm.getRawValue().ischilddisability ">
          <h3>Disability Notes</h3>
          <mat-form-field>
              <textarea matInput formControlName="disabilitynotes" placeholder=""></textarea>
            </mat-form-field>
      </div>
      <div class="col-sm-12">
          <h3>Notes</h3>
          <mat-form-field>
              <textarea matInput formControlName="comments" placeholder=""></textarea>
          </mat-form-field>
      </div>
    </div>
    <div class="row mt-30">
      <div class="col-sm-9 note-txt">
      </div>
      <div class="col-sm-3 text-end" *ngIf="!isSupervisor && _authService.readonlyButton('read_only_access','caseworker-annualreview-sendforapproval')">
        <button class="btn btn-pri" *ngIf="!isEditReview" [disabled]="disableBtn || annualReviewAdoptionForm.pristine"
          (click)="addEditAnnualReview(annualReviewAdoptionForm.value, 0)">Send for Approval</button>
      </div>
    </div>
  </form>
  <!--Approval Status-->
  <div class="row mt-20" *ngIf="isSupervisor && isFormDisplay" [formGroup]="approvalStatusForm">
    <div class="col-sm-3"><span class="required">Approval status</span></div>
    <div class="col-sm-4">
      <mat-radio-group formControlName="routingstatus">
        <mat-radio-button value="Approved" (click)="rejectComments('Approved')">Approved</mat-radio-button>
        <mat-radio-button value="Rejected" (click)="rejectComments('Rejected')">Denied</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf ="(approvalStatusForm.controls['routingstatus'].value !== 'Approved' && approvalStatusForm.controls['routingstatus'].value !== 'Rejected') && mandatoryFields">
        Please select Approval status
      </mat-error>
    </div>
    <div class="col-sm-5" *ngIf="isEnableComments">
      <mat-form-field>
        <mat-label>comments</mat-label>
        <input type="text" matInput placeholder="" formControlName="comments">
      </mat-form-field>
    </div>
  </div>

<!--Buttons-->
<div class="row pull-right" >
  <div class="col-sm-3 text-end" *ngIf="isSupervisor && isFormDisplay && _authService.readonlyButton('read_only_access','caseworker-annualreview-submit')">
    <button class="btn btn-pri" [disabled]="disableBtn || isApproved" (click)="routingUpdate()">Submit</button>
  </div>
</div>
