.table th {
    text-transform: uppercase;
}

/*supervisor start*/
.supervisor-panel {
    border: 2px solid #e2e2e2;
    margin-top: 10px;
    margin-bottom: 0;
}
.supervisor-panel .card-header h4 {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 0;
}
.supervisor-panel .media-right {
    vertical-align: bottom;
}
.supervisor-panel .card-header, .supervisor-panel .panel-footer {
    padding:20px 15px 10px;
    background: #fff;
    border-bottom: 2px solid #e2e2e2;
}

.supervisor-panel .card-body dl dt,
.supervisour-panel .card-body dl dd {
    color: #676767;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 700;
    text-align: left;
}
.supervisor-panel .card-body dl {
    margin-bottom: 10px;
}
.supervisor-panel .card-body dl dd {
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.supervisor-panel .card-body dl dd p {margin-bottom: 0;font-weight: 600;}
.supervisor-panel .card-body dl dd span {font-weight:500;margin-bottom: 5px;}
.supervisor-panel .panel-footer {
    padding: 10px 15px;
}
.supervisor-panel .card-body dl.no-data {
    background: aliceblue;
    padding: 10px 10px 1px;
    border-left: 4px solid red;
}
.supervisor-panel .card-body dl.no-data dd {
    color:#f00;
}
.supervisor-asign ul li {vertical-align: middle;margin-left:15px;}
.supervisor-asign ul li p {margin-bottom: 3px;font-weight: 600;}
.f-w-600 {font-weight: 600 !important;}
.w-700 {width:700px;}
.t-25 {top:25%;}
.modal-supervisor h4.modal-title, .asign-supervisor h4.modal-title{
    font-weight: 600;
    font-size: 15px;
    color:#000;
}
.modal-supervisor .modal-body {
    padding:30px 40px;
}
.modal-supervisor .modal-body p.title {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-top: 10px;
}
.modal-supervisor .modal-body p {
    font-weight: 600;
    font-size: 14px;
}
.modal-supervisor .modal-appointment .modal-body {
    padding: 15px 30px;
}
.modal-supervisor .title-h4 {
    font-weight: 600;
    text-transform: capitalize;
    color: #000;
    font-size: 16px;
}
.modal-supervisor .title-p {
    font-size: 13px;
    font-weight: 500;
}
.theme {
    color: #00A2FD !important;
}
.btn-sec {
    color: #00A2FD;
    background: transparent;
    box-shadow: none;
    font-weight: 700;
}
.fa-exclamation-triangle {
    font-size: 24px;
}
.p-t-20 {padding-top:20;}
.min-height .card-body {
    padding: 15px;
    max-height: 440px;
    overflow: hidden;
    overflow-y: auto;
    min-height: 440px;
}
.min-height-decision .card-body {
    padding: 15px;
    max-height: 20px;
    overflow: hidden;
    overflow-y: auto;
    min-height: 150px;
}
.disposition-panel {
    border: 2px solid #e2e2e2;
    margin-top: 10px;
    margin-bottom: 0;
}
.disposition-panel .card-header h4 {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 0;
}
.disposition-panel .media-right {
    vertical-align: bottom;
}
.disposition-panel .card-header {
    padding:20px 15px 10px;
    background: #fff;
    border-bottom: 2px solid #e2e2e2;
}
.disposition-panel .card-body {
    padding:15px 0;
}
.disposition-panel .card-body dl dt,
.disposition-panel .card-body dl dd {
    color: #000;
    font-size: 13px;
    margin-bottom: 2px;
    font-weight: 600;
    text-align: left;
}
.disposition-panel .card-body dl dt:after {
    position: absolute;
    content: ":";
    left: 50%;
}
.disposition-panel .card-body dl {
    margin-bottom: 8px;
    border-bottom: 1px solid #dcdcdcd9;
    padding: 0 15px 8px;
    position: relative;
}
.disposition-panel .card-body dl:last-child {
    margin-bottom: 0 !important;
    border-bottom: none !important;
    padding-bottom: 0 !important;
}
.disposition-panel .card-body dl dd {
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    color:#555;
}
.disposition-panel .dl-horizontal dd {
    margin-left: 210px;
}
.disposition-panel .dl-horizontal dt {
    width:210px;
}
.dl-emphasis > p {
    font-size: 13px;
    font-weight: 600;
    color: #000;
}
.dl-emphasis > dt, .dl-emphasis > dd {
    font-weight: 600 !important;
    font-size:13px !important;
    color: #585757  !important;
    margin-bottom: 5px !important;
}
.decision-panel {
    border: 2px solid #e2e2e2;
    margin-top: 10px;
    margin-bottom: 0;
}
.decision-panel .card-header h4 {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 0;
}
.decision-panel .card-header {
    padding:20px 15px 10px;
    background: #fff;
    border-bottom: 2px solid #e2e2e2;
}
.decision-panel .card-body dl dt,
.decision-panel .card-body dl dd {
    color: #333;
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: left;
}
.decision-panel .card-body dl {
    margin-bottom: 15px;
}
.decision-panel .card-body dl dd {
    font-size: 13px;
    font-weight: 500;
    color:#333;
    margin-bottom: 10px;
}
.decision-panel .dl-horizontal {
    position: relative;
}
.decision-panel .dl-horizontal dd {
    margin-left: 75px;
    font-size: 13px;
    font-weight: 600 !important;
    color:#000;
}
.decision-panel .dl-horizontal dt {
    width:75px;
    font-size: 13px;
    font-weight: 600 !important;
    color:#000;
}
.decision-panel .dl-horizontal dt:after {
    position: absolute;
    content:":";
    left:90px;
}
textarea.mat-mdc-input-element {height:85px;}
.custom-table>thead>tr>th {padding:10px 8px;border-bottom: 1px solid #dddddd;color: #24292e;font-weight: 600;}
.custom-table>tbody>tr{border-bottom: 1px solid #dddddd;}
.custom-table>tbody>tr>td {padding:20px 8px 0;color: #24292e;font-weight: 600;font-size: 13px;vertical-align: initial;}
.custom-table>tbody>tr.bg-active{background:#e8f0fa;}
td.disabled {
    color: #a5a7a7 !important;
}

/*TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
.mat-form-field-infix, .mat-checkbox-label {
    font-size: 14px;
    line-height: 20px;
}
.table-theme th:nth-child(1) {
    width: 8%;
}
.table-theme th:nth-child(2) {
    width: 10%;
}
.table-theme th:nth-child(3) {
    width: 10%;
}
.table-theme th:nth-child(4) {
    width: 20%;
}
.table-theme th:nth-child(5) {
    width: 20%;
}

.table-theme td:nth-child(1) {
    width: 8%;
}
.table-theme td:nth-child(2) {
    width: 10%;
}
.table-theme td:nth-child(3) {
    width: 10%;
}
.table-theme td:nth-child(4) {
    width: 20%;
}
.table-theme td:nth-child(5) {
    width: 20%;
}
.w-50{
    min-width: 50px;
}
.table-theme .table tr td {
    text-align: left !important;
}
.cw-comptype.custom {
    padding:5px 8px;
}
.decision-panel label a{
    cursor: pointer;
}