<div class="row">
    <div class="col-sm-12 text-right btns-top pad-vspace hide-print">
            <button *securityKeyNew = "'assessment,assessment.assessments.print'"
            (click)="printAssessment()" class="btn-pri">Print</button>
            <button class="btn-pri aut-btn-backToAssessment" (click)="redirectToAssessment()">
                Back to Assessments
            </button>
    </div>
</div>

<!-- We can render the particular Assessment component based on the selected assessment -->
<div>

    <ng-container *ngIf="openComponent">
        <ng-container *ngComponentOutlet="openComponent"></ng-container>
    </ng-container>
    <ng-container *ngIf="selectedAssessmentName === 'LAP (Lethality Assessment Program)'">
        <assessment-lap></assessment-lap>
    </ng-container>
    <ng-container *ngIf="selectedAssessmentName === 'Quick Youth Indicators for Trafficking (QYIT)'">
        <assessment-youth-indicators></assessment-youth-indicators>
    </ng-container>
    <ng-container *ngIf="selectedAssessmentName === 'SEX TRAFFICKING(CST) SCREENING INTERVIEW'">
        <assessment-sex-trafficking></assessment-sex-trafficking>
    </ng-container>
    <ng-container *ngIf="selectedAssessmentName === 'QUALIFIED INDIVIDUAL (QI) ASSESSMENT - ATTACHMENT B'">
        <assessment-placementrequest-form-b></assessment-placementrequest-form-b>
    </ng-container>
    <ng-container *ngIf="selectedAssessmentName === 'FACILITATED MEETING REFERRAL FORM'">
        <assessment-facilitated-referral-form></assessment-facilitated-referral-form>
    </ng-container>

</div>

<div class="row" style="display:none">
    <div class="col">
        <div id="divPrintViewAssessment"></div>
    </div>
</div>
