<div class="dashboard-wrap">
    <div class="container-fluid">
        <div class="tab-pane" id="search-form">
            <form [formGroup]="providerSearchForm">
                <h5 class="pt-20 pb-20 ps-20 pe-20 textb text-uppercase m-l-20">Search Provider</h5>

                <div class="row m-d-main m-l-5">

                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ps-20">
                        <div>
                            <h5 class="textb text-uppercase heading-bg ps-20">

                                <mat-radio-group formControlName="isLocalDpt" (change)="localdptSelected($event)"
                                    required>
                                    <mat-radio-button [value]="true">Public</mat-radio-button>
                                    <!-- Disabling private provider temporarily  -->
                                    <mat-radio-button [value]="false" >Private</mat-radio-button>
                                </mat-radio-group>
                            </h5>
                            <div class="row" *ngIf="providerSearchForm.controls.isLocalDpt.value === true">
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6" >
                                    <mat-form-field>
                                        <mat-label>First Name</mat-label>
                                        <input matInput placeholder="" value="" formControlName="firstname">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                    <mat-form-field>
                                        <mat-label>Middle Name</mat-label>
                                        <input matInput placeholder="" value="" formControlName="middlename">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4" >
                                    <mat-form-field>
                                        <mat-label>Last Name</mat-label>
                                        <input matInput placeholder="" value="" formControlName="lastname">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8" *ngIf="providerSearchForm.controls.isLocalDpt.value === false">
                                <mat-form-field>
                                    <mat-label>Provider Name</mat-label>
                                    <input matInput placeholder="" value="" formControlName="providername">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <mat-form-field>
                                    <mat-label>Child Characteristics</mat-label>
                                    <mat-select placeholder=""
                                        formControlName="childcharacteristics" multiple>
                                        <mat-option *ngFor="let item of childCharacteristics"
                                            value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Other Local Department</mat-label>
                                    <mat-select placeholder=""
                                        formControlName="otherLocalDeptmntTypeId" multiple>
                                        <mat-option *ngFor="let item of otherLocalDeptmntType"
                                            value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <mat-form-field>
                                    <mat-label>Placement Structure</mat-label>
                                    <mat-select placeholder=""
                                    formControlName="placementstructures" multiple>
                                    <mat-option *ngFor="let item of placementStrType"
                                    value="{{item.service_id}}">
                                    {{item.service_nm}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Bundled Placement Services</mat-label>
                                <mat-select placeholder=""
                                formControlName="bundledplacementservices" multiple>
                                <mat-option *ngFor="let item of bundledPlcmntServicesType"
                                value="{{item.service_id}}">
                                {{item.service_nm}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <mat-form-field>
                            <mat-label>Zip Code</mat-label>
                            <input matInput placeholder="" value="" formControlName="zipcode"
                                zipcodeOnly>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <mat-form-field>
                            <mat-label>Tax Id</mat-label>
                            <input matInput placeholder="" value="" formControlName="taxId">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                <mat-form-field>
                                    <mat-label>Provider ID</mat-label>
                                    <input matInput placeholder="" value="" formControlName="providerid">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 ps-20 pt-20">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <div class="">
                                    <p>Youngest :</p>
                                        <mat-select placeholder="Choose Age" formControlName="agemin">
                                            <mat-option *ngFor="let item of getRangeArray(21); let i = index;"
                                                [value]="i">{{i}}
                                            </mat-option>
                                        </mat-select>
                                    <p>Oldest :</p>
                                        <mat-select placeholder="Choose Age" formControlName="agemax">
                                            <mat-option *ngFor="let item of getRangeArray(21); let i = index;"
                                                [value]="i">{{i}}
                                            </mat-option>
                                        </mat-select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <h5 class="textb text-uppercase heading-bg">
                                    <mat-checkbox class="" formControlName="isgender">Gender</mat-checkbox>
                                </h5>
                                <mat-select placeholder="Gender" formControlName="gender">
                                    <mat-option *ngFor="let gender of genderDropdownItems"
                                        value="{{gender.key}}">
                                        {{gender.description}}</mat-option>
                                </mat-select>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ps-20 pb-20 pe-30 text-end btn-grp ">
                        <button class="aut-btn-placemntSearch btn btn-theme btn-pri m-l-30 pull-right btn-srch"
                            (click)="getFcProviderSearch()" [disabled]="providerSearchForm.invalid">SEARCH</button>
                        <button class="btn btn-theme btn-sec m-l-30 pull-right"
                            (click)="resetproviderSearchForm()">Clear</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="tab-pane" id="search-list">
            <h5 class="pt-20 pb-20 textb text-uppercase">Search Result</h5>
            <div class="m-b-30">
                <div class="table-responsive table-theme height-table">
                    <table class="table table-striped aut-tbl-placementProviderTable" aria-describedby=""search result details>
                        <thead>
                            <tr>
                                <th id="providerId">Provider ID</th>
                                <th id="providerName">Provider Name</th>
                                <th id="taxId">Tax ID</th>
                                <th id="programName">Program Name</th>
                                <th id="vacancy">Vacancy</th>
                                <th id="placementStructure">Placement Structure</th>
                                <th id="providerCategory">Provider Category</th>
                                <th id="occupancy">Occupancy</th>
                            </tr>
                        </thead>
                        <tbody class="provider-details" *ngIf="fcProviderSearch && fcProviderSearch.length > 0">
                                <ng-container *ngFor="let item of fcProviderSearch; let index = index;">
                            <tr id="provider-details-{{index}}">
                                <td><a (click)="showProviderPopup(item.provider_id)"
                                    >{{item.provider_id}}</a></td>
                                <td>{{item.providername}}</td>
                                <td>{{item.providerdetails && (item.providerdetails.length) > 0 ? item.providerdetails[0]?.tax_id_no: item?.ssnno | ssnmaskpipe : true}}</td>
                                <td>{{item.programname}}</td>
                                <td>{{item.vacancy}}</td>
                                <td>{{item.placementstructure}}</td>
                                <td>{{item.provider_category_name}}</td>
                                <td >
                                    <a class="pull-right m-r-10" *ngIf="isAuthorized" (click)="toggleTable('accordion-tables'+ index, item.provider_id,index,'search')"><em [class]="showSubDetail === index ? 'fa fa-chevron-up':'fa fa-chevron-down'" aria-hidden="true"></em></a>
                                </td>
                                
                            </tr>
                            <tr id="accordion-tables{{index}}" *ngIf="showSubDetail === index">
                                <td colspan="10">
    
                                    <div class="table-responsive table-theme">
                                      
                                            <table class="table customTable innerTable" aria-describedby="placement details" >
                                            <thead >
                                                <tr>
                                                    
                                                    <th id="case-id">Case ID</th>
                                                    <th id="child-id">Child Id</th>
                                                    <th id="child-name">Child Name</th>
                                                    <th id="child-dob">Child DOB</th>
                                                    <th id="placement-structure">Placement Structure</th>
                                                    <th id="contract-program">Contract Program</th>
                                                    <th id="placement-start-date">Placement Start Date</th>
                                                    <th id="placement-end-date">Placement End Date</th>
                                                    <th id="jurisdiction">Jurisdiction</th>
                                                </tr>                                            
                                            </thead>
                                            <tbody>
                                                <ng-container *ngIf="placementList?.length">
                                                <tr *ngFor="let placement of placementList"> 

                                                    <td>{{placement?.servicecasenumber}}</td>
                                                    <td>{{placement?.cjamspid}}</td>
                                                    <td>{{placement?.client_nm}}</td>									
                                                    <td>{{placement?.dob| date: 'MM/dd/yyyy'}}</td>
                                                    <td>{{placement?.service_nm}}</td>
                                                    <td>{{placement?.program_nm}}</td>
                                                    <td>{{placement?.startdatetime| date: 'MM/dd/yyyy'}}</td>
                                                    <td>{{placement?.enddatetime| date: 'MM/dd/yyyy'}}</td>
                                                    <td>{{placement?.county}}</td>
                                                </tr>
                                             </ng-container> 
                                            <tr *ngIf="!(placementList?.length)">
                                                <td colspan="9">No Placement Found</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                            <div class="text-center" *ngIf="totalPage[index] > 10">
                                                    <pagination [totalItems]="totalPage[index]" [(ngModel)]="pageInfo[index].pageNumber"
                                                        (pageChanged)="pageChanged($event.page, index)" class="pagination-sm" [boundaryLinks]="true"
                                                        [maxSize]="10">
                                                    </pagination>
                                            </div>         
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="fcProviderSearch?.length === 0">
                                <td colspan="6" style="text-align: center !important;">
                                    No Records Found.
                                </td>
                            </tr>
                        </ng-container>
                        </tbody>
                    </table>
                    <div class="text-center m-t-20" *ngIf="fcTotal && fcTotal > paginationInfo.pageSize">
                            <pagination [totalItems]="fcTotal" [(ngModel)]="paginationInfo.pageNumber"
                                (pageChanged)="fcPageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10"
                                [itemsPerPage]="paginationInfo.pageSize">
                            </pagination>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="searchResult" role="dialog">
        <div class="modal-dialog modal-lg custom-wid" role="document">
            <div class="modal-content Persons-Involved">
                <div class="modal-header">
                    <h4 class="modal-title"><strong>{{selectedViewProvider?.providername}} -
                            {{selectedViewProvider?.provider_id}}</strong> </h4>
                    <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <p><strong>Address </strong>:{{selectedViewProvider?.providerdetails[0].address}} </p>
                                <p><strong>Phone </strong>:
                                    {{formatPhoneNumber(selectedViewProvider?.providerdetails[0].phonenumber)}}
                                </p>
                                <p><strong>Primary Worker / Licensing Co-ordinator </strong>:
                                    {{getLicenseCoordinatorName(selectedViewProvider?.providerdetails[0].license_cordinators)}}
                                </p>
                                <p><strong>Provider Organization Name</strong> :
                                    {{selectedViewProvider?.providerdetails[0].provider_organization_name ?
                                                    selectedViewProvider?.providerdetails[0].provider_organization_name :
                                                    'N/A' }} </p>
                            </div>
                            <div class="col-md-6">
                                <p><strong>Child Characteristics </strong>:<br></p>
                                <ul style="max-height: 100px; overflow-y: auto;" class="doc-list">
                                    <li *ngFor="let item of selectedViewProvider?.childcharacteristicsdetails">
                                        {{item?.childcharacteristics_description}}</li>
                                </ul>
    
                                <p><strong>Placement Structure </strong>:{{selectedViewProvider?.providerdetails[0].placementstructure ?
                                    selectedViewProvider?.providerdetails[0].placementstructure : 'N/A' }}</p>

    
                                <p><strong>Bundled Placement Services</strong> : {{selectedViewProvider?.providerdetails[0].bundledplacementstructure ?
                                    selectedViewProvider?.providerdetails[0].bundledplacementstructure : 'N/A' }} </p>

    
    
    
                            </div>
                            <div style="display:none" class="col-md-6">
                                <p><strong>Provider ID </strong>: {{selectedViewProvider?.provider_id}}</p>
                                <p><strong>Provider Name </strong>: {{selectedViewProvider?.providername}} </p>
                                <p><strong>Provider Category</strong> :
                                    {{selectedViewProvider?.provider_category_name}} </p>
                                <p><strong>Provider Organization Name</strong> :
                                    {{selectedViewProvider?.providerdetails[0].provider_organization_name ?
                                                    selectedViewProvider?.providerdetails[0].provider_organization_name :
                                                    'N/A' }} </p>
                                <p><strong>Child Characteristics</strong> :
    
                                </p>
                                <p><strong>Phone Number</strong> :
                                    {{selectedViewProvider?.providerdetails[0].phonenumber}}</p>
                                <mat-checkbox disabled>Provider under Corrective Action Plan</mat-checkbox>
                                <p><strong>Directions</strong> : </p>
                                <p><strong>Level of Intensity</strong>: </p>
                                <p><strong>Bundled Placement Services</strong> :

                                </p>
 
                            </div>
                            <div style="display:none" class="col-md-6">
                                <p><strong>Tax ID / SSN </strong>:
                                    {{selectedViewProvider?.providerdetails[0].tax_id_no}}</p>
                                <p><strong>Address</strong> : {{selectedViewProvider?.providerdetails[0].address}}</p>
                                <p><strong>Primary Worker / Licensing Co-ordinator </strong>:
                                    {{getLicenseCoordinatorName(selectedViewProvider?.providerdetails[0].license_cordinators)}}
                                </p>
                                <p><strong>Local Department </strong>: </p>
                                <p><strong>Extn</strong> : </p>
                                <p><strong>Placement Structure </strong>:
                                </p>
                                <p><strong>Licensed </strong>:</p>
                                <p><strong>Approved Ages </strong>:</p>
                                <p class="ps-20"> <strong>From : </strong>
                                    {{!selectedViewProvider?.providerdetails[0].minimum_age_no &&
                                                    !selectedViewProvider?.providerdetails[0].min_age_months_no? 'N/A' :
                                                    ''}}
                                    {{selectedViewProvider?.providerdetails[0].minimum_age_no ?
                                                    selectedViewProvider?.providerdetails[0].minimum_age_no + ' years ' :
                                                    '' }}
                                    {{selectedViewProvider?.providerdetails[0].min_age_months_no ?
                                                    selectedViewProvider?.providerdetails[0].min_age_months_no + ' months '
                                                    :
                                                    '' }}
                                </p>
                                <p class="ps-20">
                                    <strong>To : </strong>
                                    {{!selectedViewProvider?.providerdetails[0].maximum_age_no &&
                                                    !selectedViewProvider?.providerdetails[0].max_age_months_no? 'N/A' :
                                                    ''}}
                                    {{selectedViewProvider?.providerdetails[0].maximum_age_no ?
                                                    selectedViewProvider?.providerdetails[0].maximum_age_no + ' years ' :
                                                    '' }}
                                    {{selectedViewProvider?.providerdetails[0].max_age_months_no ?
                                                    selectedViewProvider?.providerdetails[0].max_age_months_no + ' months'
                                                    :
                                                    ' ' }}
    
                                </p>
                                <p><strong>Approved Gender </strong>:{{selectedViewProvider?.providerdetails[0].gender
                                                    ?
                                                    selectedViewProvider?.providerdetails[0].gender : ''}}</p>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

   <provider-info-popup></provider-info-popup>