.customTable.innerTable > thead > tr > th {
    font-size: 13px;
    border-width: 1px;
    padding: 12px 8px;
    text-transform: uppercase;
    background: #AEBED6;
    font-weight: 600;
    color: #000000 !important;
    text-align: left;
}

.innerTable tr th:hover,
.innerTable thead tr:hover {
    background: #AEBED6;
}

.justify-area textarea {
    width: 100%;
}

.approval-history .modal-body {
    max-height: 65vh;
}

.ds-block {
    display: block;
}

.btn-align {
    min-width: 60px;
    margin-left: 10px;
}

label {
    font-weight: 400;
}

span {
    font-weight: 700;
}

.payDetails label {
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    color: #333;
    text-align: left;
}

.payDetails span {
    font-weight: 600;
    font-size: 13px;
    color: #333;
    text-align: left;
}

.no-bg {
    background: none;
    border: none;
    color: #00A2FD;
    padding: 5px;
    font-size: 13px;
}

#payment-interface .modal-body {
    max-height: 70vh;
}

.fin-h3 {
    font-size: 20px;
    font-weight: 600;
}
.red {
    color: red;
}

.print-btn {
    outline: none;
    background: none;
    position: absolute;
    top: 13px;
    right: 40px;
    border: none;

    i {
        font-size: 22px;
    }

    em {
        font-size: 22px;
    }
}

@media print {
    button {
        display: none;
    }

    .modal .modal-body {
        max-height: 100%;
    }
}