.agm-map {
    height: 300px;
}
.signature-field{
    position: relative;
    display: block;
    margin-bottom: 10px;
    background: #dddddd70;
    border: 1px solid #ddd;
}

.child-name {
    display: none;
}

@media print {
    #divEditNarrative .ql-toolbar.ql-snow {
        display: none !important;
    }

    .child-name {
        display: block;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 16px;
    }

    table tr th:last-child,
    table tr td:last-child {
        display: none;
    }
}

.disabledField {
    pointer-events: none;
    cursor: not-allowed;
}