<br>
<div class="tab-pane fade show active">
    <!-- Summary Grid -->
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-9">
                    <h5><strong>ADOPTION SUBSIDY RATES</strong> </h5>
                </div>
                <div class="col-sm-3 text-end print-none" *ngIf="!isSupervisor">
                    <ng-container *ngIf="(!isAdoptionCreated || isAdoptionCase) && _authService.readonlyButton('read_only_access','caseworker-rate-add')">
                        <button (click)="addRate()" [disabled]="disableaddrate || _authService.isDisabled('adoptionplanning','adoptionplanning.subsidy.rateadd')" class="btn btn-pri"
                        *securityKeyNew="'adoptionplanning,adoptionplanning.subsidy.rateadd'"
                        ><em class="fa fa-plus"></em>
                            Add</button>
                    </ng-container>
                </div>
            </div>

            <div class="table-responsive table-theme m-t-30">
                <table class="table table-striped" aria-describedby="Agreement Rate List">
                    <thead>
                        <tr>
                            <th id="transactionDateHeader">transaction date</th>
                            <th id="providerIdHeader">provider id</th>
                            <th id="rateBDHeader">rate begin date</th>
                            <th id="rateEDHeader">rate end date</th>
                            <th id="monthlyAmountHeader">monthly payment amount</th>
                            <th id="approvalDateHeader">approval date</th>
                            <th id="statusHeader">status</th>
                            <th id="actionHeader">action</th>
                        </tr>
                    </thead>
                    <ng-container *ngIf="agreementRate && agreementRate.length > 0; else noRecordTemplate">
                    <tbody>
                        <tr *ngFor="let item of agreementRate; let i = index;let last = last">
                            <td>{{item.transactiondate | date : 'MM/dd/yyyy'}}</td>
                            <td>{{item.provider_id}}</td>
                            <td>{{item.startdate | date : 'MM/dd/yyyy'}}</td>
                            <td>{{item.enddate | date : 'MM/dd/yyyy'}}</td>
                            <td>${{((item.paymentamout > 0) ? item.paymentamout : 0 )| number : '1.2'}}</td>
                            <td>{{item.approvaldate | date : 'MM/dd/yyyy'}}</td>
                            <td>{{item.typedescription ? item.typedescription : 'Review'}}</td>
                            <td>
                                <span *securityKeyNew="'adoptionplanning,adoptionplanning.subsidy.rateedit'">
                                <a *ngIf="(!isSupervisor && last) && (!isAdoptionCreated || isAdoptionCase)
                                    && (item.typedescription && item.typedescription !== 'Review') && _authService.readonlyButton('read_only_access','caseworker-rate-edit')" [ngClass]="{'pointer-events-none': isEditDisabled}"
                                    (click)="patchForm(item,0,i)"><i class="fa fa-pencil" aria-hidden="true"></i></a></span>
                                <a (click)="patchForm(item,1,i)"
                                    *securityKeyNew="'adoptionplanning,adoptionplanning.subsidy.rateview'"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        <ng-container *ngIf="!isSentForReview">
                            <tr>
                            <td colspan="9" style="text-align: center !important;">
                                Please click Send for Approval to send for Supervisor Review
                            </td>
                            </tr>
                        </ng-container>
                    </tbody>
                    </ng-container>
                    <ng-template #noRecordTemplate>
                        <tr>
                        <td colspan="7" class="text-center">
                            No Records found
                        </td>
                        </tr>
                    </ng-template>
                </table>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="approvalStatus">
        <div class="col-md-12 m-t-20">
            <strong>Approval Status :</strong> {{approvalStatus}}
        </div>
    </div>
    <!-- Buttons -->
    <div class="row">
        <div class="col-md-12 m-t-20 text-end print-none">
            <ng-container *ngIf="!isAdoptionCreated && agreementRate && agreementRate.length > 0">
                <span *securityKeyNew="'adoptionplanning,adoptionplanning.subsidy.ratesendforapproval'">
                    <button *ngIf="!isSupervisor && _authService.readonlyButton('read_only_access','caseworker-rate-sendforapproval')" [disabled]="!approvalStatus || approvalStatus === 'Review' 
                        || approvalStatus === 'Approved' || approvalStatus === 'Rejected' || sentRateForReview" class="sec-btn text-uppercase"
                        [fieldKeyNew]="'subsidy,adoptionplanning.subsidy.ratesendforapproval'"
                        type="submit" (click)="sendRateForReview()">Send for Approval</button>
                </span>
                <span *securityKeyNew="'adoptionplanning,adoptionplanning.subsidy.rateapprove'">
                    <button *ngIf="isSupervisor && ( !approvalStatus || approvalStatus === 'Review' ) && _authService.readonlyButton('read_only_access','caseworker-rate-approve')"
                        [fieldKeyNew]="'adoptionplanning,adoptionplanning.subsidy.rateapprove'"
                        class="sec-btn text-uppercase" type="submit" (click)="supervisorDecision('Approved')">Approve</button>                
                    <button *ngIf="isSupervisor && ( !approvalStatus || approvalStatus === 'Review' ) && _authService.readonlyButton('read_only_access','caseworker-rate-reject')"
                        [fieldKeyNew]="'adoptionplanning,adoptionplanning.subsidy.rateapprove'"
                        class="sec-btn text-uppercase" type="submit" (click)="supervisorDecision('Rejected')">Reject</button>
                </span>
            </ng-container>
        </div>
    </div>
</div>
<!-- Rate Dialog -->
<div class="modal fade" id="rate">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="h5-title col-md-8">{{ ( isView  || isEdit ) ? (isView ? 'View ' : 'Edit ') : 'Add ' }}
                    Subsidy Review/Rates</h5>
                <button type="button" (click)="resetRateForm()" class="btn-close cloase float-end" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-20" [formGroup]="subsidyAgreementRateForm">
                <div class="row m-b-20">
                    <div class="col-md-4">
                        <common-date-picker formControlName="transactiondate" placeholder="Transaction Date">
                            </common-date-picker>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Start Date</mat-label>
                            <input matInput autocomplete="off" [matDatepicker]="startdate" id="startdate" (dateChange)="ratestartdatechange()" [min]="rateMinDate" [max]="ratemaxDate"
                                placeholder="" formControlName="startdate" class="required" [required]="true">
                            <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                            <mat-datepicker #startdate></mat-datepicker>
                            <mat-error >
                                {{getErrorsMessage('startdate','Start Date')}}
                                </mat-error>
                        </mat-form-field>
                      
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>End Date</mat-label>
                            <input matInput autocomplete="off" [matDatepicker]="enddate" id="enddate" (dateChange)="rateenddateChange()" [min]="rateMinDate" [max]="ratemaxDate"
                                placeholder="" formControlName="enddate" class="required" [required]="true">
                            <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                            <mat-datepicker #enddate></mat-datepicker>
                            <mat-error >
                                {{getErrorsMessage('enddate','End Date')}}
                                </mat-error>
                        </mat-form-field>
                        
                    </div>
                </div>
                <div class="row m-b-20">
                    <div class="col-md-4">
                        <mat-form-field class="">
                            <mat-label class="afcars-inner-bg">Monthly Payment Amount</mat-label>
                            <span matPrefix>$ </span>
                            <input matInput type="number" formControlName="paymentamout" (change)="checkLastFcRate($event)"
                                required min="0" [pattern]="paymentAmountPattern">
                                <mat-error >
                                    {{getErrorsMessage('paymentamout','Monthly Payment Amount')}}
                                    </mat-error>
                        </mat-form-field>
                        
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="row m-b-20">
                    <div class="col-md-6">
                        <p class="sub-riew-title">SSA Approval</p>
                        <mat-radio-group formControlName="isssaapproved" [disabled]="rateExceeded">
                            <mat-radio-button [value]="1">Yes</mat-radio-button>
                            <mat-radio-button [value]="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>SSA Approval Date</mat-label>
                            <input matInput autocomplete="off" [matDatepicker]="ssaapproveddate" id="ssaapproveddate"
                                placeholder="" formControlName="ssaapproveddate" class="required" [required]="ssaApproved">
                            <mat-datepicker-toggle matSuffix [for]="ssaapproveddate"></mat-datepicker-toggle>
                            <mat-datepicker #ssaapproveddate></mat-datepicker>
                            <mat-error >
                                {{getErrorsMessage('ssaapproveddate','SSA Approval Date')}}
                                </mat-error>
                        </mat-form-field>
                      
                    </div>
                </div>
                <div class="row m-b-20">
                    <div class="col-md-6">
                        <p class="sub-riew-title afcars-inner-bg">Does the Child have Special Needs?</p>
                        <mat-radio-group formControlName="isspeacialneeds">
                            <mat-radio-button [value]="1">Yes</mat-radio-button>
                            <mat-radio-button [value]="2">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-md-6" >
                        <mat-form-field>
                            <mat-label class="afcars-inner-bg">Primary Basis for Special Needs?</mat-label>
                            <mat-select
                                formControlName="specialneedtypekey" [required]="subsidyAgreementRateForm.getRawValue().isspeacialneeds == 1" [disabled]="subsidyAgreementRateForm.getRawValue().isspeacialneeds != 1">
                                <mat-option *ngFor="let item of specialNeedsDropDown" [value]="item.ref_key">
                                    {{item.description}}
                                </mat-option>
                            </mat-select>
                            <mat-error >
                                {{getErrorsMessage('specialneedtypekey','Primary Basis for Special Needs')}}
                                </mat-error> 
                        </mat-form-field>
                     
                    </div>
                </div>
                <div class="row m-b-20">
                    <div class="col-md-3">
                        <p class="sub-riew-title">Adoptive Parent1</p>
                        <p class="sub-riew-text">{{  parent1providername ? parent1providername: ''}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="sub-riew-title">Provider ID</p>
                        <p class="sub-riew-text">{{parent1providerid ? parent1providerid : ''}}</p>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Adoptive Family’s Relationship to Child</mat-label>
                            <input matInput formControlName='childrelationship'
                                placeholder="">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row m-b-20">
                    <div class="col-md-3">
                        <p class="sub-riew-title">Adoptive Parent2</p>
                        <p class="sub-riew-text">{{  parent2providername ? parent2providername: ''}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="sub-riew-title">Provider ID</p>
                        <p class="sub-riew-text" *ngIf="parent2providername">{{parent1providerid ? parent1providerid : ''}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field>
                            <mat-label>Note</mat-label>
                            <textarea matInput placeholder="" formControlName="notes"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="sec-btn" *ngIf="!isView" type="button" (click)="resetRateForm()"
                    data-bs-dismiss="modal">Cancel</button>
                <button class="btn-pri" *ngIf="!isView && !isEdit"  [disabled]=" rateExceeded" type="button"
                    (click)="addAgreementRate()">Save</button>
                <button class="btn-pri" *ngIf="isEdit" type="button" 
                    (click)="saveAgreementRate(true)">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- Annual Review Validation -->
<div class="modal fade " id="annual-review-validation" role="dialog">
    <div class="modal-dialog modal-md custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Annual Review not Completed </h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Annual Review must be completed to continue adding a new Rate Agreement.</p>
                <div class="text-end big-bot-space right-mspace-15">
                    <button type="button" value="Yes" class="btn-pri" name="" data-bs-dismiss="modal" (click)="gotoAnnualReviewPage()">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Check for Approved Agreement -->
<div class="modal fade " id="agreement-validation" role="dialog">
    <div class="modal-dialog modal-md custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Subsidy Agreement not Approved </h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Subsidy Agreement must be approved in order to add a new Rate Agreement.</p>

                <div class="text-end big-bot-space right-mspace-15">
                    <button type="button" value="OK" class="btn-pri" name="" data-bs-dismiss="modal" (click)="goToAgreementPage()">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Check if Rate is being extended beyond Agreement end date -->
<div class="modal fade " id="agreement-enddate-validation" role="dialog">
    <div class="modal-dialog modal-md custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Extend Subsidy Agreement </h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Subsidy Agreement must be extended in order to add a new Rate slab.</p>

                <div class="text-end big-bot-space right-mspace-15">
                    <button type="button" value="OK" class="btn-pri" name="" data-bs-dismiss="modal" (click)="goToAgreementPage()">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Check if Rate Exceeded $2000 -->
<div class="modal fade " id="rate-exceeded" role="dialog">
    <div class="modal-dialog modal-md custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Monthly rate exceeds allowable limit </h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Monthly payment amount cannot exceed $2000.</p>

                <div class="text-end big-bot-space right-mspace-15">
                    <button type="button" value="OK" class="btn-pri" name="" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<fiscal-audit></fiscal-audit>