.red {
	color: red;
}

.assign {
	line-height:4;
	height:62px;
	font-weight: bold;
}

// #caseassign-caseworker {
// 	max-height: 300px;
// 	overflow: scroll;
// 	overflow-x: hidden;
// }

.pos-right {
	position: absolute;
    top: 8px;
    float: right;
    right: 30px;
    width: 300px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
#intake-servicecaseassign::ng-deep .mat-select-value-text>span{
    color: #495f82 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.tab-horizontal .nav {
    margin-top: 10px;
}

.valign-middle{
	vertical-align: middle;
}

.table-head-fixed table tr th:nth-child(1), 
.table-head-fixed table tr td:nth-child(1) {
    min-width: 50px;
}

.table-head-fixed table tr th:nth-child(2), 
.table-head-fixed table tr td:nth-child(2),
.table-head-fixed table tr th:nth-child(3), 
.table-head-fixed table tr td:nth-child(3){
    min-width: 200px;
}

.table-head-fixed table tr th:nth-child(7), 
.table-head-fixed table tr td:nth-child(7) {
    min-width: 140px;
}

.m-p-search {
    padding-right: 15px;
}

@media (max-width:576px) {
    .m-p-search {
        padding: 9px;
    }
}