table tr {
    th, td {
        vertical-align: middle;
    }

    th:first-child,
    td:first-child {
        min-width: 120px !important;
        max-width: 120px !important;
    }

    
}

.client-info0 table tr {
    th:nth-child(3),
    td:nth-child(3) {
        background: #d9f5d8;
    }
}

.client-info1 table tr {
    th:nth-child(4),
    td:nth-child(4) {
        background: #d9f5d8;
    }
}

.client-info2 table tr {
    th:nth-child(5),
    td:nth-child(5) {
        background: #d9f5d8;
    }
}

table tr table tr td {
    border: none;
}

.ignore-bg {
    background: #ccc9c9;
    padding: 3px 10px;
    border: 1px solid #908e8e;
    border-radius: 5px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}

.accept-bg {
    background: #bde6bb78;
    padding: 3px 10px;
    border: 1px solid #6da56a;
    border-radius: 5px;
}