<div class="row"  *ngIf="!isAddEdit && !isClosed && _authService.isPersonSubTabViewable('person','person.Health.familyhistoryadd')">
    <div class="col-sm-12">
        <div class="add-container">
            <a (click)='addFamilyHistory()'>+ Add Family History</a>
        </div>
    </div>
</div>
<div class="row" *ngIf="isAddEdit" >
    <div class="col-md-12" [formGroup]="familyHistoryForm">
        <div class="col-md-12">
            <h4>
                <p class="bg-theme">Medical History of Relative</p>
            </h4>
            <div class="row">   
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>Client List</mat-label>
                            <mat-select placeholder="" formControlName="clientlist"
                                class="aut-lst-addNotesInvolvedPerson" required>
                                <mat-option class="multi-line-mat-option"  *ngFor="let item of personRoles" [value]='item.personname'>{{item.displayname}}
                                    <div class="personinvolve-role">
                                        <span class="role-description">
                                            {{item.dob | date:'MM/dd/yyyy'}}, {{item.userroles}}, {{item.cjamspid}}
                                        </span>
                                    </div>  
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf ="familyHistoryForm.get('clientlist')?.invalid && checkmandatory">Please select Client List</mat-error>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>Major Health Problems</mat-label>
                            <mat-select placeholder="" formControlName="major_health_problems"
                                class="aut-lst-addNotesInvolvedPerson" multiple required>
                                <mat-option *ngFor="let item of majorHealthProblem$ | async"
                                    value="{{item.value}}">{{item.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf ="familyHistoryForm.get('major_health_problems')?.invalid && checkmandatory">Please select Major Health Problems</mat-error>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">                    
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-label>Cause of Death</mat-label>
                            <mat-select placeholder="" formControlName="cause_of_death"
                                class="aut-lst-addNotesInvolvedPerson">
                                <mat-option *ngFor="let item of deathCauseTypeDropdownItems$ | async"
                                    value="{{item.value}}">{{item.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Comments</mat-label>
                    <!--D-07005 Start-->
                    <textarea type="text" formControlName="comments" matInput placeholder=""
                        class="aut-txt-malAllComments"></textarea>
                    <!--D-07005 End-->
                </mat-form-field>
            </div>
        </div>
        <attachment-upload-shared [load] = "load"   [uploadedDocuments]="uploadedFiles" (uploadclosed)="uploadclosed($event)" ></attachment-upload-shared>
        <document-upload-list-shared [ngClass]="(reportMode === 'edit' && editMode !== true) ? 'view-mode':''" [uploadedFiles]="uploadedFiles" pageType="personhealth"
        [uploadhealth]="true" [uploadNumber]="uploadNumber" (loadEvent) = "updateLoad()"></document-upload-list-shared>
        
        <div class="row m-b-20">
            <div class="col-sm-12 ">
                <div class="pull-right">
                    <span *ngIf="reportMode === 'add'">
                        <button class="btn-pri" type="button" (click)="resetForm()">Clear</button>
                        <button class="btn-pri" (click)="add()" [disabled]="familyHistoryForm.pristine || isClosed || !_authService.isPersonSubTabViewable('person','person.Health.familyhistoryadd')">Add</button>
                    </span>
                    <span *ngIf="reportMode === 'edit'">
                        <button class="btn-pri" *ngIf="editMode === true" [disabled] = "isClosed || !_authService.isPersonSubTabViewable('person','person.Health.familyhistoryadd')" (click)="add()">Update</button>
                        <button class="btn-pri" (click)="cancel()">{{editMode === true?"Cancel":"Back"}}</button>
                    </span>
                </div>
            </div>
        </div>      
    </div>
</div>

<div class="row">
    <div class="col-sm-12 m-t-20">
        <div class="table-responsive table-theme table-bordered">
            <table class="table tbl-fam-hist" aria-describedby="tbl-family-history-lst">
                <thead>
                    <tr>
                        <th id="nameHeader">Name</th>
                        <th id="healthProblemHeader">Health Problem</th>
                        <th id="deathCauseHeader">Death Cause</th>
                        <th id="updatedByHeader">Updated By</th>
                        <th id="updatedOnHeader">Updated On</th>                                
                        <th id="actionHeader">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="familyHistorycw?.length; else elseTemplate">
                        <tr *ngFor="let family of familyHistorycw; let i=index">
                            <td>{{family.clientlist}}</td>
                            <td>{{displayMajorHealthProblems(family.major_health_problems)}}</td>
                            <td>{{(family.cause_of_death) ? family.cause_of_death.description_tx : ''}}</td>
                            <td>{{family.updatedby}}</td>
                            <td>{{family.updatedon | date: 'MM/dd/yyyy'}}</td>                                
                            <td>
                                <a (click)="view(family)">
                                    <em class="fa fa-eye text-16"></em> |
                                </a>
                                <a *ngIf="!isClosed && _authService.isPersonSubTabViewable('person','person.Health.familyhistoryedit')" (click)="edit(family, i)">
                                    <em class="fa fa-pencil text-16"></em> |
                                </a>
                                <a [ngClass] = "{'pointer-events-none': isClosed || !_authService.isPersonSubTabViewable('person','person.Health.familyhistorydelete'),'disable-anchor': isClosed}" (click)="deleteConfirm(family,i)">
                                    <em class="fa fa-trash text-16"></em>
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <tr>
                            <td colspan="4">
                                No Records added.
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--Delete Confirm-->
<div class="modal fade " id="delete-popup" role="dialog">
    <div class="modal-dialog modal-md custom-wid">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Confirm Delete </h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete this ? </p>

                <div class="text-end big-bot-space right-mspace-15">
                    <button type="button" value="No" class="btn-pri" (click)="resetForm()" data-bs-dismiss="modal"> No</button>
                    <button type="button" value="Yes" class="btn-pri" name="" data-bs-dismiss="modal" (click)="delete()">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
