<div class="container-fluid">
        <h4 class="mrg-top25" *ngIf="roleId.role.name !== 'field'">APPROVAL INBOX</h4>
    <div class="dashboard-cont no-pad">

      <div class="tab-horizontal mrg-top25 mrg-btm25">
          <ul class="nav nav-pills">
              <li class="nav-item m-t-30">
                  <a class="nav-link active" [routerLink]="['../cw-approval']" *ngIf="roleId.role.name !== 'field'" (click)="assignedToSupervisor(1)">CASE PENDING APPROVAL</a>
                  <a class="nav-link active" href="#case-on-going" *ngIf="roleId.role.name === 'field'" data-bs-toggle="tab">APPROVAL INBOX</a>
              </li>
              <li class="nav-item m-t-30" *ngIf="roleId.role.name !== 'field'">
                <a class="nav-link" href="#/pages/cjams-dashboard/cw-assessment">ASSESSMENTS PENDING APPROVAL</a>
            </li>
            <li class="nav-item m-t-30" *ngIf="roleId.role.name !== 'field'">
                    <a class="nav-link" href="#/pages/cjams-dashboard/cw-approval-caseworker">All APPROVAL RECORD</a>
            </li>
            <li class="ms-auto m-t-15 nav-item">
                <!-- This is for Supervisor -->
                <div class="searchdd pull-left m-r-10" [formGroup]="assignedCaseForm">
                    <mat-form-field *ngIf="roleId.role.name !== 'field'">
                        <mat-select formControlName="securityusersid"   (selectionChange)="supervisorChange()">
                            <mat-option *ngFor="let item of supervisorList" [value]="item.userid">{{item.username}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="inner-addon m-t-15 right-addon pull-left" [formGroup]="assignedCaseForm">
                    <em *ngIf="roleId.role.name !== 'field'" aria-hidden="true" class="fa fa-search"></em>
                    <input *ngIf="roleId.role.name !== 'field'" type="text" class="form-control aut-txt-CaseSearch" formControlName="serreqno" (input)="onSearchAssignCase('serreqno', $event)" placeholder="Search Cases..." />
                </div>
                <div class="inner-addon m-r-10 right-addon pull-left" [formGroup]="assignedCaseForm">
                        <mat-form-field *ngIf="roleId.role.name === 'field'">
                            <mat-label>Case Number</mat-label>
                                <input
                                    formControlName="serreqno" matInput 
                                   >
                       </mat-form-field>
               </div>
                <div class="inner-addon pull-left m-r-10" [formGroup]="assignedCaseForm">
                        <mat-form-field *ngIf="roleId.role.name === 'field'">
                            <mat-label>MM/DD/YYYY Submited Date</mat-label>
                                <input
                                    formControlName="dateFrom" (click)="picker.open()" matInput
                                    [max]="maxDate" autocomplete="off" [matDatepicker]="picker" >
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                </div>
                <div class="inner-addon pull-left m-r-10" [formGroup]="assignedCaseForm">
                        <mat-form-field *ngIf="roleId.role.name === 'field'">
                            <mat-label>MM/DD/YYYY Submited Date</mat-label>
                                <input
                                    formControlName="dateTo" (click)="picker.open()" matInput
                                    [max]="maxDate" autocomplete="off" [matDatepicker]="picker" >
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                </div>
                <div class="searchdd pull-left m-r-10"  *ngIf="roleId.role.name === 'field'">
                        <button class="btn-bg" type="button"
                            (click)="clearSearch()">Clear</button>
        
                        <button class="btn-pri" type="button"
                        (click)="assignedToSupervisor(1)">Find</button>
                </div>
                
            </li>
          </ul>
          <div class="tab-content boxgrid assign-case">
              <div class="tab-pane active" id="case-on-going">
                  <div class="cnt-min-height">
                    <p class="mt-10 mb-0">Total Count: <strong>{{totalRecordsSupervisor}}</strong>
                      <div class="table-responsive table-theme">
                          <table class="table table-striped" aria-describedby="tbl-supervisors-list">
                              <thead>
                                  <tr>
                                      <th scope="col">CASE NUMBER</th>
                                      <th scope="col" *ngIf="roleId.role.name === 'field'" >SUPERVISOR</th>
                                      <th scope="col" *ngIf="roleId.role.name !== 'field'">PURCHASE AUTH ID</th>
                                      <th scope="col">Head of Household</th>
                                      <th scope="col">RECEIVED DATE & TIME</th>
                                      <th scope="col">SUBMITTED DATE & TIME</th>
                                      <th scope="col">SERVICE TYPE</th>
                                      <th scope="col" *ngIf="roleId.role.name !== 'field'">SERVICE SUB TYPE</th>
                                      <th scope="col" *ngIf="roleId.role.name === 'field'">Approval Status</th>
                                      <th scope="col">event description</th>
                                  </tr>
                              </thead>
                              <tbody *ngIf="reviewToSupervisor; let assignedCase">
                                  <ng-container *ngIf="assignedCase.length>0; else noItems">
                                      <ng-container *ngFor="let item of assignedCase; let groupIndex = index">
                                          <tr>
                                              <td *ngIf="item?.dadetails?.length > 0">
                                                  <a href="javascript:void(0);">
                                                      <em (click)="groupShow(groupIndex, item)" [class]="!item.isCollapsed  ? 'fa fa-angle-up':'fa fa-angle-down'" aria-hidden="true"></em>
                                                      <a href="javascript:void(0);">{{item.servicerequestnumber}}</a>
                                                  </a>
                                              </td>
                                              <td *ngIf="!item?.dadetails">
                                                    <a>
                                                        <a href="javascript:void(0);" (click)="routToCaseWorker(item)" class="aut-lnk-Case">{{item.servicerequestnumber}}</a>
                                                    </a>
                                                </td>
                                              <td *ngIf="roleId.role.name === 'field'">
                                                    {{item?.submitteduser}}
                                              </td>
                                             
                                              <td *ngIf="(item.appevent === 'PCAUTH' || item.appevent === 'PCAUTHR') && roleId.role.name !== 'field'">{{item?.objectid ? item?.objectid : ''}}</td>
                                              <td *ngIf="(item.appevent !== 'PCAUTH' && item.appevent !== 'PCAUTHR') && roleId.role.name !== 'field'"></td>
                                              <td><person-information [persons]="item?.legalguardian"></person-information> </td>
                                              <td>{{item?.reporteddate ? (item?.reporteddate | date:'MM/dd/yyyy hh:mm a') :
                                                  'NA'}}
                                              </td>
                                              <td>{{item?.submitteon ? (item?.submitteon | date:'MM/dd/yyyy hh:mm a') : 'NA'}}
                                              </td>
                                              <td>{{item?.servreqtype}}</td>
                                              <td *ngIf="roleId.role.name !== 'field'">{{item?.servreqsubtype}}</td>
                                              <td *ngIf="roleId.role.name === 'field'">{{item.routingstatus === 'Routed' ? 'Pending' : item.routingstatus}}</td>
                                              <td>{{item?.eventdescription}}</td>
                                          </tr>
                                          <ng-container *ngIf="!item.isCollapsed">

                                              <tr class="inner-tbl" *ngIf="item.dadetails">
                                                  <td colspan="6">
                                                      <table aria-describedby="tbl-total-dadetails">
                                                          <thead>
                                                              <th scope="col">case number </th>
                                                              <th scope="col">client </th>
                                                              <th scope="col">status</th>
                                                              <th scope="col">type</th>
                                                          </thead>
                                                          <tr *ngFor="let groupItem of item.dadetails">
                                                              <td>
                                                                  <a (click)="routToCaseWorker(groupItem)">
                                                                      {{groupItem.servicerequestnumber}}</a>
                                                              </td>
                                                              <td>{{groupItem.clientname}} </td>
                                                              <td>{{groupItem.intakeserreqstatustypekey}}</td>
                                                              <td>{{groupItem.intakeservreqtypekey}}</td>
                                                          </tr>
                                                      </table>
                                                  </td>

                                              </tr>
                                          </ng-container>
                                      </ng-container>
                                  </ng-container>
                              </tbody>
                          </table>
                          <ng-template #noItems>
                              <p class="no-datatxt"> No Items! </p>
                          </ng-template>
                          <div class="text-center" *ngIf="totalRecordsSupervisor">
                              <pagination [totalItems]="totalRecordsSupervisor" [(ngModel)]="onGoingPaginationInfo.pageNumber" (pageChanged)="onGoingPageChanged($event)"
                                  class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="onGoingPaginationInfo.pageSize"></pagination>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="modal fade" id="intake-caseassign" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content Persons-Involved">
          <div class="modal-header">
              <h4 class="modal-title">Route Case</h4>
              <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body dashboard-cont">

              <div class="tab-horizontal mrg-btm25">
                  <ul class="nav nav-pills">
                      <li class="nav-item">
                          <a class="nav-link active" href="#caseassign-caseworker" data-bs-toggle="tab" (click)="listUser('TOBEASSIGNED')">WORKERS</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#caseassign-caseworker" data-bs-toggle="tab" (click)="listUser('ASSIGNED')">SUPERVISORS</a>
                      </li>
                  </ul>
                  <div class="tab-content boxgrid">
                      <div class="tab-pane active" id="caseassign-caseworker">
                          <div class="">
                              <div class="table-responsive table-theme">
                                  <table class="table table-striped" sortable-table aria-describedby="tbl-case-assign-list">
                                      <thead>
                                          <tr>
                                              <th scope="col"></th>
                                              <th scope="col">NAME</th>
                                              <th scope="col" class="required">Responsibility</th>
                                              <th scope="col" *ngIf="!isSupervisor">CASE LOAD</th>
                                              <th scope="col" *ngIf="!isSupervisor">AVAILABILITY</th>
                                              <th scope="col" *ngIf="!isSupervisor">ZIP CODE</th>
                                              <th scope="col" *ngIf="isSupervisor">AGENCY</th>
                                              <th scope="col">TYPE OF WORKER</th>
                                              <th scope="col">UNIT</th>
                                              <th scope="col">Total Cases</th>
                                          </tr>
                                      </thead>
                                      <tbody *ngIf="getUsersList; let getlist">
                                          <ng-container *ngIf="getlist.length>0; else noItems">
                                              <tr *ngFor="let item of getlist">
                                                <td class="valign-middle">
                                                    <mat-checkbox (change)="selectPersonForAssign($event,item)">
                                                    </mat-checkbox>
                                                </td>
                                                  <td>{{item.username}} </td>
                                                  <td>
                                                    <mat-form-field>
                                                        <mat-label>Responsibility</mat-label>
                                                        <mat-select 
                                                            (selectionChange)="changeResponsibility($event,item)">
                                                            <mat-option
                                                                *ngFor="let type of responsibilityTypeDropdownItems$ | async"
                                                                [value]="type.value">
                                                                {{type.text}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <div *ngIf="isChildResponsibilityTypeSelected(item)">
                                                        <mat-form-field>
                                                            <mat-label>Child List</mat-label>
                                                            <mat-select  multiple  required="isChildResponsibilityTypeSelected(item)" (selectionChange)="addChild($event, item)">
                                                                <ng-container *ngFor="let child of childList$ | async">
                                                                    <mat-option [disabled]="child.isassignment === 1"  [value]="child.intakeservicerequestactorid"><span>{{child.firstname}} </span> <span>{{child.lastname}}</span></mat-option>
                                                                </ng-container>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </td>
                                                  <td *ngIf="!isSupervisor">{{item.workloads}}</td>
                                                  <td *ngIf="!isSupervisor">{{item.available}}</td>
                                                  <td *ngIf="!isSupervisor">{{item.worklocationcode ? item.worklocationcode : 'N/A'}}</td>
                                                  <td *ngIf="isSupervisor">{{item.agencykey}}</td>
                                                  <td>{{item.userrole}}</td>
                                                  <td>{{item.teamname}}</td>
                                                  <td>{{item.totalcases ? item.totalcases : 'N/A'}}</td>
                                              </tr>
                                          </ng-container>
                                      </tbody>
                                  </table>
                                  <ng-template #noItems>No Items!</ng-template>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="clearfix"></div>
          </div>
          <div class="modal-footer wizard-buttons">
              <button class="btn-pri">ASSIGN</button>
          </div>
      </div>
  </div>
</div>
