.helper-text {
    font-size: 10px;
    text-align: center;
}

.profile-pic img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #AEBED6;
    width: 140px;
    height: 140px;
}

.upload-container {
    text-align: center;
    height: 260px;
    background: #F5FAFF;
    border: 1px dotted #AEBED6;
    padding:20px;
    margin-top: 20px;
    margin-bottom:10px;
}


.btn-bs-file {
    background-color: #00A2FD;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    width: 90px;
    height: 30px;
}

.btn-bs-file input[type='file'] {
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
    cursor: inherit;
}

