<div *ngIf = "moduleview" class="tab-horizontal custom-textarea">
    <div *ngIf="ipaduser">
        <div style="margin-top: 75px;"></div>
    </div>
    <ul class="nav nav-pills">
        <ng-container *ngIf="userInfo !== 'DJS'">
            <li  class="nav-item" routerLink='notes' routerLinkActive="active" *securityKey="'caseworker-contacts-notes'">
                <a class="nav-link aut-tab-contactNotes">Notes
                </a>
            </li>
        </ng-container>
        <li *ngIf="userInfo === 'DJS'" routerLink='djsnotes' routerLinkActive="active"  class="nav-item">
            <a class="nav-link aut-tab-contactDJSNotes">Notes
            </a>
        </li>
        <ng-container *ngIf="userInfo !== 'DJS'  && !isIntakeWorker">
            <li routerLink='family-involvement-meeting' *securityKey="'caseworker-contacts-meeting'"
                routerLinkActive="active"  class="nav-item">
                <a class="nav-link aut-tab-contactMeeting">Meeting
                </a>
            </li>
        </ng-container>
        <li routerLink='resource-consult' routerLinkActive="active"
            *securityKey="'caseworker-contacts-resource-consult-review'"  class="nav-item">
            <a *ngIf="!isIntakeWorker" class=" nav-link aut-tab-contactResourceConsultReview">Resource Consult Review
            </a>
        </li>
        <li routerLink='visitation-log' routerLinkActive="active"  class="nav-item">
            <a class="nav-link">Visitation Log</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>