<div class="row placement-detail">
  <!-- effectivedate: "2/16/2019, 10:38:41 AM"
  ifcapprovaldate: null
  intakeservicerequestactorid: "1c228c8f-4a01-4f5f-8876-601dcbaae8c5"
  intakeservreqchildremovalid: "b8faf7c1-e32e-4763-9115-ffc3e9d1a701"
  isssaapproval: 0
  placementid: "d2154148-fdf0-424c-a35e-198b6545e91d"
  placementtypekey: "PRPL"
  providerdesc: "test"
  providersentdate: "2001-02-07T18:30:00.000Z"
  rejectreasonkey: null
  remarks: "test"
  responseacceptedkey: "4612"
  service_id: 15
  servicecaseid: "cd27df6c-011f-4661-93b0-268f57e2645b"
  startdatetime: "2019-02-25T18:30:00.000Z"
  starttime: "08:00" -->
  <div class="col-sm-3">
    <h5>Type</h5>
    <p class="m-0">{{child?.placement?.placementTypeDesc}} <span *ngIf="child?.placement?.isvoided === 1"><em matTooltip='Void' class="fa fa-minus-circle red text-16"></em></span></p>
  </div>
  <div class="col-sm-3">
    <h5>Provider Information</h5>
    <div class="afcars-inner-bg">
      <p class="m-0">ID - {{child?.placement?.providerdetails?.provider_id}}</p>
      <p class="m-0">Name - {{child?.placement?.providerdetails?.providername}}</p>
      <p class="m-0">Address - {{child?.placement?.providerdetails?.address}}</p>
      <p class="m-0">{{formatPhoneNumber(child?.placement?.providerdetails?.phonenumber)}}</p>
    </div>
  </div>
  <div class="col-sm-3">
      <h5>Referral sent date</h5>
      <p class="m-0">{{child?.placement?.providersentdate | date : 'MM/dd/yyyy'}}</p>
      <br> 
      <h5 class="afcars-inner-bg">Child has been placed with a provider outside his/her jurisdiction</h5>
      <p class="m-0">{{child?.placement?.ischildplacedoutside ? 'Yes' : 'No'}}</p>
    </div>  
    <div class="col-sm-3">
       <h5>Description</h5>
      <p class="m-0">{{child?.placement?.providerdesc }}</p> 
    </div>
  <div class="col-sm-3">
    <h5 class="afcars-inner-bg">Start Date</h5>

    <p class="m-0" >
     
      {{child?.placement?.startdate| date: 'MM/dd/yyyy'}} {{child?.placement?.stime | date: 'hh:mm a'}}
     </p>
  </div>
  <div class="col-sm-3">
   
  </div>
  <div class="col-sm-3">
    <h5 class="afcars-inner-bg">Relationship to Child</h5>
    <p class="m-0">{{(child?.placement?.primaryrelationship)?child?.placement?.primaryrelationship:'N/A'}}</p>
  </div>
  <div class="col-sm-3">
    <h5 class="afcars-inner-bg">Placement Structure</h5>
    <p class="m-0"> &nbsp;{{child?.placement?.placementstructuredesc}}</p>
  </div>
  <div class="col-sm-3">
    <h5>Response Accepted</h5>
    <p class="m-0">{{child?.placement?.responseaccepted}}</p>
  </div>
  <div class="col-sm-3">
    <h5>Reason for Decline</h5>
    <p class="m-0"> &nbsp;{{(child?.placement?.rejectreason)? child?.placement?.rejectreason : 'N/A'}}</p>
  </div>

  <div class="col-sm-3">
    <h5>COMAR Rate Category</h5>
    <p class="m-0">{{child?.placement?.comarratedesc}}</p>
  </div>

  <div class="col-sm-3">
    <h5>Program Name</h5>
    <p class="m-0">{{child?.placement?.programname}}</p>
  </div>

  <div class="col-sm-3">
      <h5>Comments</h5>
      <p class="m-0 text-break">&nbsp;{{child?.placement?.remarks}}</p>
    </div>

    <div class="col-sm-3">
        <h5>Approval Status</h5>
        <p class="m-0">{{child?.placement?.routingstatus}}</p>
    </div>
    
    <div class="col-sm-3">
        <h5>Supervisor Comment / Reason</h5>
        <p class="m-0">{{child?.placement?.reason}}</p>
    </div>

    <div class="col-sm-6">
      <h5>Explain why this is the Least Restrictive Placement for the child</h5>
      <p class="m-0">{{child?.placement?.leastrestrictiveplacement}}</p>
    </div>
    
      <div class="col-sm-12" *ngIf ="child?.placement?.placementluggage === false || child?.placement?.placementluggage === true">
        <h5 class="textb text-uppercase heading-bg">Luggage Indicator
          <span matSuffix 
           triggers="mouseenter:mouseleave" [popover]="luggageindicator"
           class="info-pos-right"
           [outsideClick]="true"
           >  
             <em class="fa fa-info-circle" style="font-size: 16px;"></em>
           </span>
         <ng-template #luggageindicator title="" style = "margin: 0px auto;" placement="auto left"
         >
         <p>Luggage refers to a suitcase, duffel bag, backpack, or similar container that is designed to hold an individual’s personal belongings. Disposable or trash bags are not considered luggage. “New Luggage,” as referred to below, means luggage that has never been previously used.</p>
       </ng-template>
      </h5>
      </div>
      <div class="col-sm-12" *ngIf ="child?.placement?.placementluggage === false || child?.placement?.placementluggage === true" >
       <h5> Did the child have luggage at the time of their placement?</h5>
       <p class="m-0">{{(child?.placement?.placementluggage === true) ? 'Yes' : ((child?.placement?.placementluggage === false) ? 'No' :' ')}}</p>
      </div>
      <div class="col-sm-12" *ngIf ="child?.placement?.placementluggage === false">
        <h5>Was new luggage provided at the time of their placement?</h5>
        <p class="m-0">{{(child?.placement?.plluggagepurchased === true) ? 'Yes' : ((child?.placement?.plluggagepurchased === false) ? 'No' :' ')}}</p>
       </div>
       <div class="col-sm-12" *ngIf = "child?.placement?.placementrevision && (child?.placement?.placementrevision[0]?.placementdisposableortrashbag === true || child?.placement?.placementrevision[0]?.placementdisposableortrashbag === false)">
        <h5>Was a disposable or trash bag used to carry their belongings?</h5>
        <p class="m-0">{{(child?.placement?.placementrevision[0]?.placementdisposableortrashbag === true) ? 'Yes' : ((child?.placement?.placementrevision[0]?.placementdisposableortrashbag === false) ? 'No' :' ')}}</p>
       </div>
       
       <div class="col-sm-12" *ngIf ="child?.placement?.plluggagepurchased === false">
        <h5>Please describe how this child’s belongings were transported. </h5>
        <p class="m-0">{{child?.placement?.plluggagecomments}}</p>
       </div>
   

</div>