.check-listed span {
    color: #5fb7d2;
    font-size: 15px;
    padding-right: 15px;
}

.tpr-p-title {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #24292e;
}

.tpr-p-text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #24292e;
}

.check-listed {
    margin-bottom: 10px;
    float: left;
}

.check-list-sno {
    width: 4%;
    float: left;
    padding-right: 15px;
}

.checklist-content {
    width: 95%;
    float: left;
}

.sec-btn {
    background: #3e4961;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: #ffffff;

    &:hover, &:active, &:focus{
        color: #fff;
        background: #202738;
    }
}

.disabledArea {
    pointer-events: none;
}