<div class="container-fluid row">
     
      <div class="col-md-6 column-left" *ngIf="type !=='MyAlerts' && type !=='Approvals'">
      <div class="progress-summary">
          <div class="d-flex align-items-center mb-2 row"  (click)="filterlist('unassigned')" *ngIf="userRole === 'ive-supervisor' && !hideunassigned && (type ==='AdoptionApplicability'|| type ==='CaseClosureReview')">
              <div class="progress flex-grow-1 me-2 col-md-6" style ="height:30px;" [ngClass]="{'active-box':progressselected ==='unassigned'}">
                <div class="progress-bar bg-secondary" role="progressbar"[style.width.%] ="unassigned.percent" style="background-color:grey"></div>
            </div>
          <div class="progress-label col-md-6">{{unassigned.percent}} % | {{unassigned.count}} Unassigned
          </div>
            
          </div>
          <!-- 2nd -->
          <div class="d-flex align-items-center mb-2 row progressdiv" (click)="filterlist('Pending')" *ngIf="type !== 'CaseClosureReview' && type !== 'AdoptionApplicability'">
            <div class="progress flex-grow-1 me-2 col-md-6" style ="height:30px;" [ngClass]="{'active-box':progressselected ==='Pending'}">
              <div class="progress-bar bg-secondary bg-review-info" role="progressbar"[style.width.%] ="pending.percent"
              ></div>
          </div>
        <div class="progress-label col-md-6"> {{pending.percent}} % | {{pending.count}} Pending
    </div>

        </div>
        <!-- 3rd -->
        <div class="d-flex align-items-center mb-2 row" (click)="filterlist('completed')" *ngIf="type !== 'CaseClosureReview' && type !== 'AdoptionApplicability'">
            <div class="progress flex-grow-1 me-2 col-md-6" style ="height:30px;" [ngClass]="{'active-box':progressselected ==='completed'}">
              <div class="progress-bar bg-secondary bg-approve-info" role="progressbar"[style.width.%] ="completed.percent"></div>
          </div>
        <div class="progress-label col-md-6"> {{completed.percent}} % | {{completed.count}} Completed
    </div>

        </div>
        <!-- 4th          -->
       
 </div> <!--progress progress-summary -->
</div>
<div class="col-md-6 col-md-6" *ngIf= "type=='MyAlerts'">
  <div class="d-flex align-items-center mb-2 row" (click)="filterlist('overdue')">
    <div class="progress flex-grow-1 me-2 col-md-6" style ="height:30px;"  [ngClass]="{'active-box':progressselected ==='overdue'}">
      <div class="progress-bar bg-danger" role="progressbar"[style.width.%] ="overdue.percent"></div>
  </div>
<div class="progress-label col-md-6">{{ overdue.percent }} % | {{overdue.count}} Overdue
</div>

</div>
<div class="d-flex align-items-center mb-2 row" (click)="filterlist('underdue')" >
  <div class="progress flex-grow-1 me-2 col-md-6" style ="height:30px;" [ngClass]="{'active-box':progressselected ==='underdue'}">
    <div class="progress-bar bg-info" role="progressbar"[style.width.%] ="duecount.percent"></div>
</div>
<div class="progress-label col-md-6">{{ duecount.percent }} % | {{duecount.count}} Due
</div>

</div>
</div>
<div class="col-md-6 col-md-6" *ngIf= "type=='Approvals'" >
  <div class="d-flex align-items-center mb-2 row" (click)="filterlist('APPROVED')" [ngClass]="{'disabled-box':approvedcount.count === 0}">
    <div class="progress flex-grow-1 me-2 col-md-6" style ="height:30px;" [ngClass]="{'active-box':progressselected ==='APPROVED'}">
      <div class="progress-bar bg-approve-info" role="progressbar"[style.width.%] ="approvedcount.percent"></div>
  </div>
<div class="progress-label col-md-6">{{ approvedcount.percent }} % | {{approvedcount.count}} Approved
</div>

</div>
<div class="d-flex align-items-center mb-2 row"(click)="filterlist('PENDING')" [ngClass]="{'disabled-box':pendingcount.count === 0}" >
  <div class="progress flex-grow-1 me-2 col-md-6" style ="height:30px;" [ngClass]="{'active-box':progressselected ==='PENDING'}">
    <div class="progress-bar bg-review-info" role="progressbar"[style.width.%] ="pendingcount.percent"></div>
</div>
<div class="progress-label col-md-6">{{ pendingcount.percent }} %  |  {{pendingcount.count}} Review
</div>

</div>
<div class="d-flex align-items-center mb-2 row" (click)="filterlist('REJECTED')" [ngClass]="{'disabled-box':rejectedcount.count === 0}">
  <div class="progress flex-grow-1 me-2 col-md-6" style ="height:30px;" [ngClass]="{'active-box':progressselected ==='REJECTED'}">
    <div class="progress-bar bg-rejected-danger" role="progressbar"[style.width.%] ="rejectedcount.percent"></div>
</div>
<div class="progress-label col-md-6">{{ rejectedcount.percent }} % | {{rejectedcount.count}} Rejected
</div>

</div>
</div>
<div class="col-md-6" *ngIf="progressselected ==='completed'">
  <div class="row status-summary">
    <div class="col-md-12">
      <h4>Completed</h4>
      <div class="status-box" (click)="eligibilitystatus('eligible')" [ngClass]="{'active-box':selectedbox ==='eligible'}">
        <div class="count bg-approve-info">{{widgetcount.ercount}}
          <div class="label">Eligible Reimbursable</div>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf ="type ==='FosterCare'">
      <div class="status-box" (click)="eligibilitystatus('noneligible')" [ngClass]="{'active-box':selectedbox ==='noneligible'}">
        <div class="count bg-review-info">{{widgetcount.enrcount}}
          <div class="label">Eligible Non-Reimbursable</div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="status-box" (click)="eligibilitystatus('ineligible')" [ngClass]="
      {'active-box':selectedbox ==='ineligible'}">
        <div class="count  bg-rejected-danger">{{widgetcount.ineligibilecount}}
          <div class="label">Ineligible</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6" *ngIf="progressselected ==='Pending'  && userRole == 'ive-supervisor'">
  <div class="row status-summary">
    
    <div class="col-md-12">
      <h4>Pending</h4>
      <div class="status-box" (click)="eligibilitystatus('unassigned')" [ngClass]="{'active-box':selectedbox ==='unassigned'}">
        <div class="count bg-review-info">{{widgetcount.unassignedpendingcount}}
          <div class="label">Unassigned</div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="status-box" (click)="eligibilitystatus('assigned')" [ngClass]="{'active-box':selectedbox ==='assigned'}">
        <div class="count bg-approve-info">{{widgetcount.assignedpendingcount}}
          <div class="label">Assigned</div>
        </div>
      </div>
    </div>
  </div>
</div>

 </div>
