table{width:100%;}
.section-body table td{border: 1px solid #ccc; padding: 5px;}
.card-body{min-height: 120px;overflow: auto; text-align: left;}
.sizeA4 {
    width: 21cm;
    min-height: 29.7cm;
    height: auto;
}

.section-header{line-height: 25px;}
.section-value{min-height: 22px;}
.side-header{font-size: 14px; font-weight: 600;}
.section-lable{padding-left: 0; text-align: left;}
.service-form h6{font-size: 14px; font-weight: 600}
.card-body ul{padding-left: 10px;}
.panel-default .card-header{font-weight:600; text-align: left;}
.custom-modal .modal-header {
    background: #ffffff;
}

a.btn-pri {
    text-decoration: none !important;
}