<div class="row">
    <form [formGroup]="plansecthreeForm">
        <div class="col-sm-12 brd-lft">
            <div class="row m-t-20">
                <div class="col-md-12">
                    <button class="btn btn-pri float-end" (click)="showmember=true;memberReset();" [disabled]="isViewMode">Add New Member</button>
                </div>
            </div>
            <!-- Tablelisting  -->
            <div class="row" *ngIf ="!showmember">
                <div class="col-md-12 m-t-20">
                    <div class="table-responsive table-theme">
                        <table class="table table-striped" sortable-table aria-describedby="member details">
                            <thead>
                                <tr>
                                    <th id="family-member" sortable-column="familymember">Family Member</th>
                                    <th id="client-name" sortable-column="Clientdob">Client Name</th>
                                    <th id="member-dob" sortable-column="memberdob">Member Dob</th>
                                    <th id="action">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let membercol of allmemberList; let i = index">
                                    <tr>
                                        <td>{{membercol?.familymembervalue }}</td>
                                        <td>{{membercol?.personname }}</td>
                                        <td>{{membercol?.persondob }}</td>
                                     
                                        <td>
                                            <a matTooltip="Edit Member" style="margin-right: 5px;"
                                                (click)="editMember(membercol, 'edit',i);">
                                                <em class="fa fa-pencil"></em>
                                            </a>

                                            <a matTooltip="View Member" style="margin-right: 5px;"
                                                (click)="editMember(membercol, 'view',i);">
                                                <em class="fa fa-eye"></em>
                                            </a>

                                            <a matTooltip="Delete Member Plan" style="margin-right: 5px;"
                                                (click)="confirmDelete('Member',membercol,i); showmember= false;">
                                                <em class="fa fa-trash"></em>
                                            </a>

                                        </td>

                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                    <!-- Delete Modal -->
            <div class="modal fade" id="delete-popup" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"> Confirm Delete </h4>
                      <button type="button" class="btn-close close float-end" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                      <p> Are you sure want to delete this record? </p>
                      <span [ngSwitch]="deletetype">
                        <strong *ngSwitchCase="'service'">
                          Note: All goals, objectives and actions under this service will be deleted.
                        </strong>
                        <strong *ngSwitchCase="'goal'">
                          Note: All objectives and actions under this goal will be deleted.
                        </strong>
                        <strong *ngSwitchCase="'objective'">
                          Note: All actions under this objective will be deleted.
                        </strong>
                      </span>
                    </div>
                    <div class="modal-footer">
                      <div class="text-end right-mspace-15">
                        <button type="button" value="No" class="btn-bg" name="" data-bs-dismiss="modal"> No </button>
                        <button type="button" value="Yes" class="btn-pri" name="" data-bs-dismiss="modal"(click)="deleteItem()"> Yes
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
                    
                    <div class="col-md-12 mt-20">
                        <button class="btn btn-pri" type="button" (click)="goToPrevious()">Back</button>
                        <button class="btn btn-pri float-end" type="button" (click)="saveSectionDetail()">Next</button>
                      </div>
                </div>
            </div>
            <!-- Add newmember form -->
            <div class="inner-accord m-t-20">
                <ng-container *ngIf="showmember && showparentform">
                    <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Select Family Member</mat-label>
                            <mat-select [(value)]="selected" formControlName="familymember"
                                 required (selectionChange)="familymemberchange($event)">
                                <mat-option value="Parent">Parent</mat-option>
                                <mat-option value="Newborn">New Born</mat-option>
                                <mat-option value="Caregiver">Caregiver</mat-option>
                            </mat-select>
                        
                        <mat-error *ngIf ="checkforrequired && plansecthreeForm.get('familymember')?.invalid">Please enter family member</mat-error>
                    </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Client</mat-label>
                            <mat-select  formControlName = "personid"
                                (selectionChange)="getClientNameList($event.value, personListFilter)" required>
                                <mat-select-trigger>
                                    {{selectedClientName}}
                                </mat-select-trigger>
                                <mat-option class="multi-line-mat-option" *ngFor="let item of personListFilter"
                                    [value]="item.personid"> {{getFullName(item)}}
                                    <div class="personinvolve-role">
                                        <span class="role-description">
                                            {{item.dob | date:'MM/dd/yyyy'}}, {{item.userroles}}, {{item.cjamspid}}
                                        </span>
                                    </div>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                </div>

                    <div class="float-end">
                        <button *ngIf="selected === '' || selectedClientName === ''" class="btn sec-btn" type="button" (click)="memberReset(); showmember=false">Cancel</button>
                    </div>

                </ng-container>
            </div>
        </div>

        <div class="col-sm-12 brd-lft">
            <div class="inner-accord m-t-20" *ngIf="showmember">
                <div class="row" *ngIf="selected === 'Newborn' && selectedClientName !==''">
                    <div class="card panel-default panel-theme">
                        <div class="card-header text-center">
                          <span class="site-color text-22">Newborn Health Needs and Referrals</span>
                    <form [formGroup]="newbornformgroup">
                        <div class="col-sm-12 brd-lft">
                            <div class="row m-t-20">
                                <div class="col-sm-4 mb-3">
                                   <mat-form-field>
                                    <mat-label for="">{{familymembervalue}}</mat-label>
                                    <input type="text" matInput formControlName="personname" placeholder="NewBorn Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <mat-form-field>
                                        <mat-label>Newborn PID</mat-label>
                                        <input type="text" matInput formControlName="personpid" >
                                    </mat-form-field>
                                   
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <mat-form-field>
                                    <mat-label for="">Newborn DOB</mat-label>
                                    <input type="text" matInput formControlName="persondob" ></mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" *ngFor="let needs of healthneedsandref">
                            <div class="row m-t-20">
                                <div class="col-sm-2">
                                    <input type="checkbox" [formControlName]="needs.name" (change)="onNewBornValueChage()"> {{needs.label}} 
                                </div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <mat-form-field>
                                                <mat-label>Referral</mat-label>
                                                <mat-select [formControlName]="needs.referral"  (selectionChange)="onNewBornValueChage()"  placeholder="Referral">
                                                    <mat-option value="Yes">Yes</mat-option>
                                                    <mat-option value="No">No</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-4">
                                            <mat-form-field>
                                                <mat-label>Referred To</mat-label>
                                                <input type="text" matInput [formControlName]="needs.referredto"
                                                (change)="onNewBornValueChage()" 
                                                    placeholder="Referred To">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-4">
                                            <mat-form-field>
                                                <mat-label>Date of Referral</mat-label>
                                                <input [formControlName]="needs.refferraldate" matInput
                                                    autocomplete="off" [matDatepicker]="picker1" 
                                                    (change)="onNewBornValueChage()" >
                                                <mat-datepicker-toggle matSuffix [for]="picker1">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>





                                    <div class="row">
                                        <div class="col-sm-4">
                                            <mat-form-field>
                                                <mat-label>Appointment Scheduled</mat-label>
                                                <mat-select [formControlName]="needs.apptscheduled"
                                                (selectionChange)="onNewBornValueChage()">
                                                    <mat-option value="Yes">Yes</mat-option>
                                                    <mat-option value="No">No</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-4">
                                            <mat-form-field>
                                                <mat-label>Did not Attend Appointment</mat-label>                                               
                                                <input type="text" matInput [formControlName]="needs.didnotattend"
                                                (change)="onNewBornValueChage()">
                                            </mat-form-field>

                                        </div>
                                        <div class="col-sm-4">
                                            <mat-form-field>
                                               <mat-label>Comments</mat-label>

                                                <input type="text" matInput [formControlName]="needs.comments"
                                                (change)="onNewBornValueChage()" 
                                                    placeholder="">
                                            </mat-form-field>
                                        </div>

                                        

                                    </div>


                                </div>

                            </div>

                        </div>
                        <div class="col-sm-12 col-md-12 brd-lft">
                            <div class="row align-items-center">
                                <div class="col-sm-2">
                                    <input  type="checkbox" (change)="onNewBornFormReferal($event)" formControlName="noService" required/> No Service Needs/Referrals
                                </div>
                                <ng-container *ngIf="newbornformgroup.controls['noService'].value">
                                    <div class="col-sm-4">
                                        <mat-form-field style="width: 83%;">
                                            <mat-label>Reason</mat-label>
                                            <input type="textbox" formControlName="noServiceReason" matInput placeholder="" [required]="newbornformgroup.controls['noService'].value">
                                        </mat-form-field>
                                        
                                    </div>
                                </ng-container>
                                <div class="d-flex justify-content-end" [ngClass]="newbornformgroup.controls['noService'].value ? 'col-sm-6' : 'col-sm-10'">
                                    <button class="btn btn-pri me-2" (click)="savenewbornform()" *ngIf ="!isupdatechild">Save</button>
                                    <button class="btn btn-pri me-2" [disabled]="newbornformgroup.pristine || newbornformgroup.invalid || newbornformgroup.disabled"(click)="savenewbornform(); showmember=false" *ngIf ="isupdatechild">Update</button>
                                    <button class="btn sec-btn" type="button"
                                        (click)="memberReset(); showmember=false">Cancel</button>
                                </div>
                                </div>
                            </div>
                    </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Parent -->
        <div class="col-sm-12 brd-lft">
            <div class="inner-accord m-t-20" *ngIf="showmember">
                <div class="row" *ngIf="(selected === 'Parent' || selected === 'Caregiver') && selectedClientName !==''">
                    <div class="card panel-default panel-theme">
                        <div class="card-header text-center">
                          <span class="site-color text-22">Parent/Caregiver Needs and Referrals</span>
                    <form *ngIf ="parentformgroup" [formGroup]="parentformgroup">

                        <div class="col-sm-12">
                            <div class="row m-t-20">
                                <div class="col-md-4 mb-3">
                                   <mat-form-field>
                                    <mat-label> {{familymembervalue}}</mat-label>
                                    <input type="text" matInput formControlName="personname" placeholder="parent Name" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <mat-form-field>
                                    <mat-label>Parent PID</mat-label>
                                    <input type="text" matInput formControlName="personpid" >
                                </mat-form-field>

                                </div>
                                <div class="col-md-4 mb-3">
                                    <mat-form-field>
                                    <mat-label>Parent DOB</mat-label>
                                    <input type="text" matInput formControlName="persondob" >
                                </mat-form-field>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 brd-lft" *ngFor="let pneeds of parentsneedsandref">
                            <div class="row m-t-20">
                                <div class="col-sm-2">
                                    <div class="row m-t-20">
                                        <div class="col-sm-12">
                                            <input type="checkbox" (change)="onParentValueChage()" [formControlName]="pneeds.name"> {{pneeds.label}} 
                                        </div>
                                    </div>
                                    <div class="row m-t-20" *ngIf ="pneeds?.name!=='rcpmassessment'&& pneeds?.name!=='parskillassessment'">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-10 float-end">
                                            <input type="checkbox" (change)="onParentValueChage()" [formControlName]="pneeds?.consent"> Consent Obtained
                                        </div>
                                    </div>


                                </div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <mat-form-field>
                                                <mat-label>Referral</mat-label>
                                                <mat-select [formControlName]="pneeds?.referral" placeholder="" (selectionChange)="onParentValueChage()" >
                                                    <mat-option value="Yes">Yes</mat-option>
                                                    <mat-option value="No">No</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-4">
                                            <mat-form-field>
                                                <mat-label>Referred To</mat-label>
                                                <input type="text" matInput [formControlName]="pneeds?.referredto"  (change)="onParentValueChage()"  placeholder="Referred To">
                                            </mat-form-field>

                                            
                                        </div>
                                        <div class="col-sm-4">
                                            <mat-form-field>
                                                <mat-label>Date of Referral</mat-label>
                                                <input matInput [formControlName]="pneeds?.referraldate" 
                                                    autocomplete="off" [matDatepicker]="picker2" (change)="onParentValueChage()">
                                                <mat-datepicker-toggle matSuffix [for]="picker2">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker2></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <mat-form-field>
                                                <mat-label>Attended Appointment</mat-label>
                                                <mat-select [formControlName]="pneeds?.apptattended"
                                                    (selectionChange)="onParentValueChage()" 
                                                    placeholder="">
                                                    <mat-option value="Yes">Yes</mat-option>
                                                    <mat-option value="No">No</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-4">
                                            <mat-form-field>
                                                <mat-label>If Not,Reason</mat-label>
                                                <input type="text" matInput
                                                    [formControlName]="pneeds?.reasonfornotattend"
                                                    placeholder=""
                                                    (change)="onParentValueChage()" 
                                                    [required] = "(pneeds?.name == 'aodassessment' && parentformgroup.value?.aodapptattend =='No') ? true :false">
                                            <mat-error *ngIf ="checkforrequired && parentformgroup.get(pneeds?.reasonfornotattend)?.invalid">Please enter Reason  </mat-error>
                                        </mat-form-field>
                                        </div>
                                        
                                        <div class="col-sm-4">
                                            <mat-form-field>
                                                <mat-label>Comments</mat-label>
                                                <input type="text" matInput [formControlName]="pneeds?.comments"
                                                    placeholder=""
                                                    (change)="onParentValueChage()" 
                                                    [required] = "(pneeds?.name == 'aodassessment' && parentformgroup.value?.aodapptattend =='No') ? true :false">
                                            <mat-error *ngIf ="checkforrequired && parentformgroup.get(pneeds?.comments)?.invalid">Please enter Comments  </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>

                        </div>


                        <div class="col-sm-12 brd-lft">
                            <div class="row m-t-20 align-items-center">
                                <div class="col-sm-2">
                                    <input  type="checkbox" formControlName="noService" (change)="onPatientFormReferal($event)" required/> No Service Needs/Referrals
                                </div>
                                <ng-container *ngIf="parentformgroup.controls['noService'].value">
                                    <div class="col-sm-4">
                                        <mat-form-field style="width: 83%;">
                                            <mat-label>Reason</mat-label>
                                            <input type="textbox" formControlName="noServiceReason" matInput placeholder="" [required]="parentformgroup.controls['noService'].value">
                                        </mat-form-field>
                                    </div>
                                </ng-container>
                                <div class="d-flex justify-content-end" [ngClass]="parentformgroup.controls['noService'].value ? 'col-sm-6' : 'col-sm-10'">
                                    <button class="btn btn-pri" *ngIf ="!isupdate" (click)="saveparentform()">Save</button>
                                    <button class="btn btn-pri"  [disabled]="parentformgroup.pristine"  *ngIf ="isupdate" (click)="saveparentform()">Update</button>                                    
                                    <button class="btn sec-btn" type="button"
                                        (click)="memberReset(); showmember=false">Cancel</button>
                                </div>
                                </div>
                            </div>
                       

                    </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        
                  

    </form>
</div>