<div class="row">
        <div class="col-md-12">  
            <div class="status">
                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="ancillaryStatus" (selectionChange)="statusAncillaryDropDown($event.value)">
                        <mat-option>Select</mat-option>
                        <mat-option *ngFor="let status of statusDropDownList" [value]="status.value">
                        {{status.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
<div class="clearfix"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive table-theme mt-20">
                <table class="table table-striped" aria-describedby="Adjustment Payment">
                    <thead>
                        <tr>
                            <th id="adjustment-payment-id">Adjustment Payment ID</th>
                            <th id="client-id">Client ID</th>
                            <th id="client-name">Client Name</th>
                            <th id="net-amount">Net Amount</th>
                            <th id="payment-date">Payment Date</th>
                            <th id="payment-status">Payment Status</th>
                            <th id="manual">Manual</th>
                            <th id="action">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="selectedProvider.length > 0">
                            <tr *ngFor="let provider of selectedProvider">
                              <td>{{provider.payment_id}}</td>
                              <td>{{provider.client_id}}</td>
                              <td>{{provider.clientfirstname +' '+ provider.clientlastname}}</td>
                              <td>{{provider.gross_amount_no | cjamsCurrency}}</td>
                              <td>{{provider.payment_dt | date:'MM/dd/yyyy'}}</td>
                              <td>{{provider.paymentstatus}}</td>
                              <td *ngIf="provider.manual_sw==='Y'">Yes</td>
                              <td *ngIf="provider.manual_sw==='N'">No</td>
                              <td>
                                  <button _ngcontent-c9="" class="open-link no-bg" (click)="ancillaryAdjustment(provider)" mattooltip="Ancillary Payment Adjustment Redirect" type="button" aria-describedby="cdk-describedby-message-0" cdk-describedby-host="" ng-reflect-message="Ancillary Payment Adjustment Redirect">
                                      <em _ngcontent-c9="" class="open-link fa fa-external-link"></em>
                                  </button>
                              </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="selectedProvider.length === 0">
                            <tr>
                                <td colspan="8" style="text-align: center;">No Data.</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <div class="text-center" *ngIf="totalcount > 10">
                    <pagination [totalItems]="totalcount" [(ngModel)]="paginationInfo.pageNumber"
                        (pageChanged)="pageChanged($event.page)" class="pagination-sm" [boundaryLinks]="true"
                        [maxSize]="10">
                    </pagination>
            </div>
        </div>
    </div>
</div>