.form-control {
    border: 0;
    border-bottom: 1px solid #ccc;
}
input.form-control,
select.form-control {
    padding: 8px 12px 8px 0;
}

.person-contected {
    width: 60%;
    float: left;
}
.drop-state .mat-mdc-form-field {
    display: inline-block !important;
    width: 60%;
}
.m-t-45 {
    margin-top: 45px;
}
.pl-30 {
    padding-left: 30px;
}
.pr-30 {
    padding-right: 30px;
}
.form-search-person .form-group .form-control {
    width: 60%;
}
.form-search-person .form-group label {
    width: 40%;
    font-size: 13px;
}
.form-search-person .form-group .form-control.w-50 {
    width: 46%;
    background: transparent;
}

.attachment-panel .card-body dl dt,
.entities-panel .card-body dl dd {
    font-weight: 600;
    color: #676767;
    font-size: 12px;
    text-transform: uppercase;
}
.attachment-panel .card-body dl {
    margin-bottom: 5px;
}
.attachment-panel .card-body dl dd {
    font-size: 11px;
}
.panel-footer h5 {
    display: inline-block;
    width: 70%;
}
/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
.drop-state .mat-option-text {
    font-size: 14px;
}
.report-summary .text-right .btn-pri{
    margin: 0 0 0 10px;
}
textarea.mat-mdc-input-element {
    height: 85px;
    min-width:220px;
}

.child-removetbl table th:nth-child(1),
.child-removetbl table th:nth-child(2),
.child-removetbl table td:nth-child(1),
.child-removetbl table td:nth-child(2)
{width:15%;}

.child-removetbl table th:nth-child(3), .child-removetbl table td:nth-child(3){width: 25%;}
.child-removetbl table th:nth-child(4), .child-removetbl table td:nth-child(4){width: 35%;}
.child-removetbl table td{vertical-align: bottom;}
.tbl-action th:last-child, .tbl-action td:last-child{width:130px; vertical-align: middle;}
.tbl-action td:last-child .btn-link, .tbl-action td:last-child .fa-check:before {color: #459e49;}

.form-search-person .form-group input[disabled]:hover{border: 0; border-bottom: 1px solid #ccc;}

.semi-b {
    font-weight: 600;
    font-size: 15px;
}

.icon {
	color: #039be5;
	cursor: pointer;
	i {
		color: #039be5;
		padding-right: 10px;
	}
}

.plus-icon {
	font-size: 18px;
	line-height: 18px;
}

.add-btn {
	position: absolute;
	top: 10px;
	right: 0px;
}

.vpn-tb {
    position: relative;
    margin: 0 10px;
}

.boder-top {
    border-top: 6px solid #e0e8f8;
    padding: 20px 0;
}

.boder-btm {
    border-bottom: 1px solid #e0e8f8;
}

.pd-box {
    padding: 0px 17px;
}

.judicial-rd p,
.judicial-rd mat-radio-group {
    display: inline;
}

.row-ctw {
    width: 100%;
    float: left;
}

.row-ctw label {
    font-weight: 400;
    width: 60%; 
    float: left;
}

.row-ctw mat-form-field,
.row-ctw mat-radio-group {
    width: 40%;
    float: left;
}

.row-ctw mat-form-field.conditional-field {
    width: 40%;
    float: right;
}

.type-removal .label-removal {
    width: 13%;
    display: inline-block;
}

.type-removal .removal-field {
    display: inline-block;
    width: 18%;
}

.type-removal .label-removal p {  
    margin-left: 20px;
    font-size: 13px;
    font-weight: 600;
}

.m-t-40 {
    margin-top: 40px;
}

.type-removal .removal-field mat-form-field {
    width: 100%;
}

.signed-both {
    display: inline;
    padding-right: 20px;
}
.child-removetab label {
    font-size: 13px;
    font-weight: 600;
}

.tab-horizontal .nav-pills>li {
    height: 39px;
}
.child-removetbl table tbody tr td {padding:0 8px 8px 8px;}

.panel-default>.card-header {
    height: 80px;
}

.person-panel {
    border: 1px solid #D8D8D8;
    margin-top: 10px;
    margin-bottom: 0;
    box-shadow: 0;
}

.person-panel .card-header h4 {
    margin-bottom: 1px;
    font-weight: 600;
    font-size: 15px;
    margin-top: 0;
}

.person-panel > span {
    margin-bottom: 0;
    display: block;
    border: 2px solid #00A2FD;
    width: 130px;
    text-align: center;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 3px 5px;
}
.person-panel .media-body ul li a i {
    font-size: 18px;
    color: #777;
}
.person-panel .card-body {
    min-height: 150px;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}
.person-panel .media-right {
    vertical-align: top;
    min-width: 50px;
    margin: 0 auto;
}

.person-panel .card-header {
    padding: 10px;
    background: #fff;
    width: 100%;
    color: #00A2FD;
}
.person-panel .card-title {
    color: #57595a;
    font-weight: 600;
    font-size: 16px;
    min-height: 36px;
}

.person-panel .card-header span.f-size {
    padding-left: 30px;
    font-size: 13px;
}
span.categori-name {
    font-size: 12px;
    margin-right: 15px;
    border: 1px solid #0277bd;
    padding: 5px 15px;
    border-radius: 20px;
}
.person-panel .card-body dl dt,
.person-panel .card-body dl dd {
    font-weight: 600;
    color: #676767;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.person-panel .card-body dl {
    margin-bottom: 8px;
}
.person-panel .card-body dl dd {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
.person-panel .panel-footer {
    background: #fff;
    padding: 6px 12px 22px 14px;
    border-top: 1px solid #D8D8D8;
    color: #00A2FD;
    text-align: right;
}
.person-role-height {
    overflow: auto;
    padding: 2px 0;
    margin-top: 5px;
}
.designation{    
    color: #b3aa92;
    font-size: 13px;
}
.involved-person-tables th {
    font-weight:600;
    color:#000;
    width:110px;
    float:left;
}
.involved-person-tables tr td:first-child {
    width:13px;
}

.blank-height {
    height: 150px;
}

.check-block mat-checkbox,
.display-bl {
    display: block;
}

.required-icon i:before {
    color: #ff5858;
    font-size: 8px;
}

.star-pos i {
    position: relative;
}

.star-pos i::before{
    position: absolute;
    top: -12px;
    right: -12px;
}

h5.h5title {
    color: #00A2FD !important;
}

.clock-icon {
    position: relative;
}

.clock-icon .fa-clock-o {
    display: block;
}

.clock-icon .fa-clock-o:before {
    position: absolute;
    top: 25px;
    right: 7px;
}
.card-header.selected-child { 
    background: #c2dff0 !important;
}

.textarea-notes {
    position: relative;
}
.textarea-icons {
    position: absolute;
    bottom: 4px;
    right: 22px;
}
.form-group .textarea-icons a {
    border: 0 !important;
    padding: 0px;
    margin: 5px;
}
textarea.form-control {
    border: 1px solid #ccc;
    min-height: 147px;
    max-height: 147px;
    overflow-y: auto;
}
