<div role="tabpanel" class="tab-pane active" id="doc-types">
    <div class="box-grid">
        <div class="row">
            <div class="col-sm-9">
                <h3>DOC TYPE</h3>
            </div>
            <div class="col-sm-3">
                <div class="tab-title-btn">
                    <button data-bs-toggle="modal" (click)="changeModelLabel('Add Task')" data-bs-target="#myModal-doc-types-edit" class="btn-pri pull-right">
                        <em class="fa fa-plus right-sspace"> </em> Add Document Type</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered" sortable-table (sorted)="onSorted($event)" aria-describedby="Add Document Type">
                        <thead>
                            <tr>
                                <th id="providerHeaderName" sortable-column="typedescription" sort-direction="asc">{{providerContractingConfig.TableHeaderName}}</th>
                                <th id="actionsHeader">Actions</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="inner-addon right-addon">
                                        <em class="fa fa-search" href="#" data-bs-toggle="modal" data-bs-target="#attach-user-selection"></em>
                                        <input class="form-control full-collapse-horizontal" type="text" value="" (input)="onSearch('typedescription', $event)" placeholder="Search Name">
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody *ngIf="docTypesPC$ | async; let docTypesList">
                            <tr *ngFor="let DocType of docTypesList">
                                <td>{{DocType.typedescription}}</td>
                                <td>
                                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="" class="mrg-rht10" data-original-title="Edit">
                                        <a href="#" (click)='editItem(DocType)' data-bs-toggle="modal" data-bs-target="#myModal-doc-types-edit">
                                            <img src="assets/images/form-letter/edit-icon.png" alt="">
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr *ngIf="docTypesList?.length === 0">
                                <td colspan="3">No records found.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="{ canDisplayPager: canDisplayPager$ | async, totalRecords: totalRecords$ | async } as pagination">
    <pagination *ngIf="pagination.canDisplayPager" [totalItems]="pagination.totalRecords ?? 0" [(ngModel)]="paginationInfo.pageNumber"
        (pageChanged)="pageChanged($event)" class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
</div>


<div class="modal fade in" data-bs-backdrop="static" id="myModal-doc-types-edit" data-bs-keyboard="false" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content customize-modal">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal">×</button>
                <h4 class="modal-title" *ngIf="!isEditMode">Add Document Type</h4>
                <h4 class="modal-title" *ngIf="isEditMode">Edit Document Type</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="docTypesFormgroup">
                    <div class="row">
                        <div class="col-sm-6 mrg-top25">
                            <div class="fm-box">
                                <label class="required">Doc Type :</label>
                                <div class="fm-box-form">
                                    <input type="text" formControlName="typedescription" class="form-control fm-style" placeholder="" />
                                    <control-messages [control]="typedescriptionControl"></control-messages>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mrg-top25">
                            <div class="fm-box">
                                <label class="required">Doc Type Key :</label>
                                <div class="fm-box-form">
                                    <input type="text" formControlName="provideragreementdocumenttypekey" class="form-control fm-style" placeholder="">
                                    <control-messages [control]="provideragreementdocumenttypekeyControl"></control-messages>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="fm-box" *ngIf="isEditMode">
                                <label class="control control--checkbox"> Inactive:
                                <input type="checkbox" formControlName="activeflag" />
                                <div class="control__indicator"></div>
                            </label>
                            </div>
                        </div>
                        <div class="col-sm-12 mrg-top25">
                            <div class="pull-right">
                                <button type="button" value="Cancel" class="btn-bg" data-bs-dismiss="modal" (click)='cancelItem()'>Cancel</button>
                                <button type="button" value="Save" class="btn-pri" name="" (click)='saveItem()' [disabled]="docTypesFormgroup.pristine || docTypesFormgroup.invalid"
                                    data-bs-dismiss="modal">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>