.btn-align {
    min-width: 60px;
    margin-left: 10px;
}

.pd-no {
    padding: 0px;
}

.pd-r-0 {
    padding-right: 0px;
}

.mat-mdc-form-field {
    display: block !important;
}
.red {
    color: red;
}

.finance-search-filter {
    overflow-y: auto;
    height: 708px;
    overflow-x: hidden;
    background: #e7fcff;
    border-right: 1px #a8b9d2 solid;
}

.tb-inner-hr tr th {
    background: #AEBED6;
}

.innerTable tr th:hover,
.innerTable thead tr:hover {
    background: #AEBED6;
}

// CSS for Iphone 14 pro
@media screen and  (max-width: 576px) {
    .finance-search-filter {
        height: 440px; 
    }
}
