// .table-theme .table thead tr:hover {
//     background: none;
// }

// .table-theme .table tbody tr:hover {
//     background: #E8F0FA;
// }

// .fixed_header thead {
//     background: #AEBED6;
// }

// .fixed_header.funding-tb tbody tr td,
// .fixed_header.funding-tb thead th {
//     width: 10.7%;
//     padding: 9px !important;
// }

// .fixed_header.payment-tb tbody tr td,
// .fixed_header.payment-tb thead th {
//     width: 9.7%;
//     padding: 9px !important;
// }

// .table>tbody>tr>td,
// .table>tbody>tr>th,
// .table>tfoot>tr>td,
// .table>tfoot>tr>th,
// .table>thead>tr>td,
// .table>thead>tr>th {
//     border: none;
// }

// .no-bg {
//     background: none;
//     border: none;
//     color: #00A2FD;
//     padding: 5px;
// }

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }


.no-bg {
    background: none;
    border: none;
    color: #00A2FD;
    padding: 3px;
}

button i:before,
button em:before {
    color: #00A2FD;
    font-weight: 600;
    float: left;
}

.fixed_header tbody {
    height: 180px;
}

.fullHeight{
    height: 100% !important;
}

.fixed_header thead th {
    border-bottom: none;
    background: #AEBED6;
}

.table-theme .table thead tr:hover {
    background: none;
}

.table-theme .table tbody tr:hover {
    background: #E8F0FA;
}

.fixed_header thead {
    background: #AEBED6;
}

.fixed_header.funding-tb tbody tr td,
.fixed_header.funding-tb thead th {
    width: 10.7%;
    padding: 9px !important;
}

.fixed_header.payment-tb tbody tr td,
.fixed_header.payment-tb thead th {
    width: 9.7%;
    padding: 9px !important;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border: none;
}
tbody tr:first-child  {
    position: sticky;
    top: 0px;
}


.width-150 {
    min-width: 150px;
}

.max-width-80 {
    max-width: 80px;
}

.left-25 {
    position: relative;
    left: 25px;
}

.icon {
    position: relative;
    bottom: 20px;
    color: #00A2FD;
}

.top-10 {
    position: relative;
   top: 10px;
}

.width-1 {
    width: 1% !important;
 }

 .width-120 {
    width: 120px !important;
 }

 .width-240 {
    width: 240px !important;
 }

 .width-250 {
    width: 250px !important;
 }

 .position-right-55 {
   position: relative !important;
   right: 55px;
 }

 .min-width-175 {
    min-width: 175px;
 }

 .max-width-85 {
    max-width: 85px;
 }

 .min-width-220 {
    min-width: 220px;
 }

 .min-width-170 {
    min-width: 170px;
 }

 .max-width-140 {
    max-width: 140px;
 }
 .min-width-120{
     min-width :120px;
 }
 .min-width-140{
    min-width :140px;
}
 .td-width-style{
    min-width :120px;
    padding:15px,5px !important;
 }


 .info {
     float: right;
 }

 .pointer {
     cursor: pointer;
 }
 .default-class{
    color:#f8a60c;
}
.approved-class{
    color:#0bbf08
}
.rejected-class{
    color: #ff0000
}

.pre-line-text {
    white-space: pre-line;
  }

  // CSS for table vertical scroll bar
.table-container {
    overflow-y: auto; 
}
  
.table-container, tbody tr:first-child  {
    position: sticky;
    top: 40px; 
    background: white;
    z-index: 1;
}

.table-container, thead tr:first-child  {
    position: sticky;
    top: 0;
    background: white;
    z-index: 2;
}

.subItems {
    td {
        padding: 5px 40px;
    }
    th {
        padding: 0 40px;
        height: 117px;
    }
    tr {
        border: none !important;
        background: transparent;
    }
}

.assign-btn {
    background-color: #00A2FD;
    color: #fff !important;
}

.mat-mdc-menu-item:not([disabled]):hover {
  
    background-color: #a9a9a9 !important;
    color: #fff !important;
}


.inactive {
  background: url("../../../../assets/images/inactive_icon.svg") no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding: 4px 12px 12px 12px !important;
}
.active {
  background: url("../../../../assets/images/active_icon.svg") no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding: 4px 12px 12px 12px !important;
}
.renewalsys {
  background: url("../../../../assets/images/renewal_enabled.svg") no-repeat;
  height: 20px !important;
  width: 20px !important;
  padding: 14px !important;
}
.renewal {
  background: url("../../../../assets/images/renewal_enabled.svg") no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding: 14px !important;
}
.refillicon {
  background: url("../../../../assets/images/refill-medication_icon.svg") no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding:14px !important;
}
.medication-change {
  background: url("../../../../assets/images/change-medication_icon.svg") no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding: 14px !important;
}
.disabled {
  color: rgba(0, 0, 0, 0.38)!important ;
  border: none !important;
  background: transparent !important;
  padding: 0 !important;
}


.delete {
  background: url("../../../../assets/images/delete_enabled.svg") no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding: 14px !important;
}

.edit {
  background: url("../../../../assets/images/edit_enabled.svg") no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding: 14px !important;
}


.historylog {
  background: url("../../../../assets/images/historylog_enabled.svg") no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding: 14px !important;
  z-index: 1 !important;
  position: relative !important;
}

.view {
  background: url("../../../../assets/images/view_enabled.svg") no-repeat;
  height: 100px !important;
  width: 100px !important;
  padding: 14px !important;
}

.font-16 {
  height: 100px !important;
  width: 100px !important;
  padding: 14px !important;
}
.medication-btn{
    border: none !important;
}
.psy-medication{
    background-color:#8B008B;
    color:white;
    border-radius:5px;
    padding: 2px;
  
}
span a.downarrow{
    display: inline;
}
.flex-container-med {
  display: flex;
  flex-wrap: nowrap;
  
}


.flex-container-med > span >span
{
    font-weight: 600 !important;
    font-size:13px !important;
}
.refilldatacolumn{
    background-color: #bae1f8;
}
.refill-icon{
background-color: #bae1f8;
 margin-left: 2px;
 margin-top: -11px;
align-items: center;
display: inline-flex;
 line-height: 1;
 padding: 5px;
 border-radius: 5px;
}
.refill-icon em{
    
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}
.refillicon-dropdown {
  background: url("../../../../assets/images/refill-medication_icon.svg") no-repeat;
  height: 30px !important;
  width: 30px !important;

}
.refilldata-span{
   display: flex;
    justify-content: center !important;
}