<div class="box-grid no-pad">
    <div class="row">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <div class="card-goals">
                <ul class="nav nav-pills">
                        <li>
                                <a class="nav-link" routerLinkActive="active" routerLink='referred-services'>Vendor Services
                                </a>
                            </li>
                    <li>
                        <a class="nav-link" routerLinkActive="active" routerLink='agency-provided-services'>Agency Provided Services
                        </a>
                    </li>
                   </ul>
                <!-- Tab panes -->

                <div class="tab-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>