<div class="box-grid">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field>
                <mat-label>Select Local Department</mat-label>
                <mat-select [disabled]="disableCounty" [(ngModel)]="selectedDept"  Required (selectionChange)="getchilddetailslist()">
                    <mat-option>Select</mat-option>
                    <mat-option *ngFor="let dept of localDept" [value]="dept.statecountycode">{{dept.countyname}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <div class="card-goals">
                <ul class="nav nav-pills">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link active" data-bs-toggle="tab" routerLink='commingled-accounts'>Commingled Accounts
                        </a>
                    </li>
                    <li class="nav-item"routerLinkActive="active">
                        <a class="nav-link" data-bs-toggle="tab" routerLink='interest-transactions'>Interest Transactions
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->

                <div class="tab-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>