<div class="modal fade" id="fiscal-audit">
    <div class="modal-dialog modal-lg custom-wid">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <h4 class="modal-title">Fiscal Audit Trail</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="h4-title">Change History</div>
                        <div class="table-responsive table-theme m-t-20">
                            <table class="table table-striped" aria-describedby="payment history">
                                <thead>
                                    <tr>
                                        <th id="transaction-date">Transaction Date</th>
                                        <th id="transaction-type">Transaction Type</th>
                                        <th id="provider-id">Provider ID</th>
                                        <th id="rate-begin-date" *ngIf="service && service?.gaprate">Rate Begin Date</th>
                                        <th id="monthly-payment-amount" *ngIf="service && service?.gaprate">Monthly Payment Amount</th>
                                        <th id="rate-end-date" *ngIf="service && service?.gaprate">Rate End Date</th>
                                        <th id="reason-for-suspension" *ngIf="service && service?.gapsuspension">Reason for Suspension</th>
                                        <th id="suspension-begin-date" *ngIf="service && service?.gapsuspension">Suspension Begin Date</th>
                                        <th id="suspension-end-date" *ngIf="service && service?.gapsuspension">Suspension End Date</th>
                                        <th id="begin-date" *ngIf="service && (service?.placements || service?.accountReceivable)">Begin Date</th>
                                        <th id="end-date" *ngIf="service && (service?.placements || service?.accountReceivable)">End Date</th>
                                        <th id="entry-time" *ngIf="service && (service?.placements || service?.accountReceivable)">Entry Time</th>
                                        <th id="exit-time" *ngIf="service && (service?.placements || service?.accountReceivable)">Exit Time</th>
                                        <th id="exit-type" *ngIf="service && (service?.placements || service?.accountReceivable)">Exit Type</th>
                                        <th id="exit-reason" *ngIf="service && (service?.placements || service?.accountReceivable)">Exit Reason</th>
                                        <th id="requested-by">Requested By</th>
                                        <th id="requested-date">Requested Date</th>
                                        <th id="approved-by">Approved By</th>
                                        <th id="approval-date">Approval Date</th>
                                    </tr>
                                </thead>
                                <tbody class="fiscal-details-view">
                                    <tr id="fiscal-details-view-{{index}}" class="clsCursor" *ngFor="let history of service?.changeHistory; let index = index" (click)="getLogDetails(history, index)">
                                        <td>{{history.transaction_dt | date:'MM/dd/yyyy'}}</td>
                                        <td>{{history.change_type}}</td>
                                        <td>{{history.provider_id}}</td>
                                        <td *ngIf="service && service?.gaprate">{{history.entry_dt | date:'MM/dd/yyyy'}}</td>
                                        <td *ngIf="service && service?.gaprate">${{(history.payment_amt ? history.payment_amt : 0) | number:'.2-2'}}</td>
                                        <td *ngIf="service && service?.gaprate">{{history.exit_dt | date:'MM/dd/yyyy'}}</td>
                                        <td *ngIf="service && service?.gapsuspension">{{history.suspension_reason}}</td>
                                        <td *ngIf="service && (service?.gapsuspension || service?.placements || service?.accountReceivable)">{{history.entry_dt | date:'MM/dd/yyyy'}}</td>
                                        <td *ngIf="service && (service?.gapsuspension || service?.placements || service?.accountReceivable)">{{history.exit_dt | date:'MM/dd/yyyy'}}</td>
                                        <td *ngIf="service && (service?.placements || service?.accountReceivable)">{{history.entry_tm}}</td>
                                        <td *ngIf="service && (service?.placements || service?.accountReceivable)">{{history.exit_tm}}</td>
                                        <td *ngIf="service && (service?.placements || service?.accountReceivable)">{{history.exit_type}}</td>
                                        <td *ngIf="service && (service?.placements || service?.accountReceivable)">{{history.exit_reason}}</td>
                                        <td>{{history.requested_by}}</td>
                                        <td>{{history.requested_date | date:'MM/dd/yyyy'}}</td>
                                        <td>{{history.approved_by}}</td>
                                        <td>{{history.approval_dt | date:'MM/dd/yyyy'}}</td>
                                    </tr>
                                    <tr *ngIf="!service?.changeHistory?.length">
                                        <td colspan="12" style="text-align: center !important;">No History Found.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center" *ngIf="(service?.historyCount ?? 0) > 10">
                            <pagination [totalItems]="service?.historyCount ?? 0" [(ngModel)]="historyInfo.pageNumber"
                                (pageChanged)="historyChanged($event.page)" class="pagination-sm" [boundaryLinks]="true"
                                [maxSize]="10">
                            </pagination>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 m-t-30">
                        <div class="row">
                            <div class="col-md-12 m-t-30">
                                <div class="h5-title">Overpayments</div>
                                <div class="table-responsive table-theme m-t-20">
                                    <table class="table table-striped" aria-describedby="payment">
                                        <thead>
                                            <tr>
                                                <th id="receivable-detail-id">Receivable Detail ID</th>
                                                <th id="provider-id">Provider ID</th>
                                                <th id="provider-name">Provider Name</th>
                                                <th id="date-identified">Date Identified</th>
                                                <th id="client-id">Client ID</th>
                                                <th id="client-name">Client Name</th>
                                                <th id="from">From</th>
                                                <th id="to">To</th>
                                                <th id="overpayment-amount">Overpayment Amount</th>
                                                <th id="balance">Balance</th>
                                                <th id="ar-status">A/R Status</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let overpaymentvalue of service?.overpaymentvalue">
                                                <td>{{overpaymentvalue.receivable_detail_id}}</td>
                                                <td>{{overpaymentvalue.provider_id}}</td>
                                                <td>{{overpaymentvalue.providername}}</td>
                                                <td>{{overpaymentvalue.receivable_ts | date : 'MM/dd/yyyy'}}</td>
                                                <td>{{overpaymentvalue.client_id}}</td>
                                                <td>{{overpaymentvalue.clientname}}</td>
                                                <td>{{overpaymentvalue.start_dt | date : 'MM/dd/yyyy'}}</td>
                                                <td>{{overpaymentvalue.end_dt | date : 'MM/dd/yyyy'}}</td>
                                                <td>{{(overpaymentvalue.amount_no ? overpaymentvalue.amount_no : '0.00') | cjamsCurrency}}</td>
                                                <td>{{(overpaymentvalue.receivable_balance_no ? overpaymentvalue.receivable_balance_no : '0.00') | cjamsCurrency}}</td>
                                                <td>{{overpaymentvalue.arstatus}}</td>
                                                
                                            </tr>
                                            <tr *ngIf="service?.overpaymentvalue?.length === 0">
                                                <td colspan="10" style="text-align: center !important;">No Overpayments Found.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center" *ngIf="(service?.overpaymentCount ?? 0) > 10">
                                    <pagination [totalItems]="service?.overpaymentCount ?? 0" [(ngModel)]="overpaymentInfo.pageNumber"
                                        (pageChanged)="overpaymentInfoChanged($event.page)" class="pagination-sm" [boundaryLinks]="true"
                                        [maxSize]="10">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="sec-btn pull-right" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
