<div class="col-sm-12 m-t-20">
    <div class="row">
        <div class="col-sm-6">
          <h5 class="clsTitle"> DEMOGRAPHICS AUDIT TRAIL </h5>
          
        </div>
        <div class="col-sm-6 text-end">
          <div class="header-title">
            <button class="btn btn-pri" (click)="goBack()">
              <i class="fa fa-arrow-left" aria-hidden="true"></i> back
            </button>
          </div>
        </div>
      </div>
 
</div>
  <div class="col-md-12">
      <div id="outcome-history" class="tab-pane fade show active">

          <div class="col-sm-12">
              <div class="row">

                  <div class="col-sm-12 col-lg-3">
                      <p class="textb disp-color"><strong>Name : </strong> {{selectedPerson?.firstname }}
                          {{selectedPerson?.middlename }} {{selectedPerson?.lastname }}
                          {{selectedPerson?.suffix}} </p>
                  </div>
                  <div class="col-sm-12 col-lg-2">
                      <p class="textb disp-color"><strong>DOB :
                          </strong>{{selectedPerson?.dob | date:'MM/dd/yyyy':'+0000'}} </p>
                  </div>
                  <div class="col-sm-12 col-lg-2">
                      <p class="textb disp-color"><strong>Gender : </strong>{{selectedPerson?.gendertypekey}}</p>
                  </div>
                  <div class="col-sm-12 col-lg-2">
                      <p class="textb disp-color"><strong>CJAMS PID# : </strong>{{selectedPerson?.cjamspid}}</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <h4>Search Audit Log </h4>
               </div>
              <div class="col-sm-3 m-t-10">
                  <common-date-picker [(ngModel)]="fromDate" [max]="maxDate" placeholder="Updated From" (valueChange)="fromDateChanged($event)">
                    </common-date-picker>
              </div>
              <div class="col-sm-3 m-t-10">
                  <common-date-picker [(ngModel)]="toDate" [max]="maxDate" [min]="toMinDate" placeholder="Updated To" (valueChange)="toDateChanged($event)">
                    </common-date-picker>
              </div>
              <div class="col-sm-3">
                      <label class="m-0">Worker</label>
                          <ng-select class="aut-lst-removalType select-source" [searchable]="true" [clearable]="false" [(ngModel)]="worker">
                              <ng-option value=""> Select </ng-option>
                              <ng-option *ngFor="let item of caseworkerList" [value]="item.userid">{{item.username}} </ng-option>
                          </ng-select>
              </div>
              <div class="col-sm-3">
                  <button class="btn-pri m-t-15"  (click)="loadAuditLogs(1)" >Search</button>
                  <button class="btn-pri m-t-15" (click)="clearSearch()" >Clear</button>
                      
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="table-responsive petition-table table-theme mt-20" style="overflow-x:scroll">
                      <table class="table table-striped customTable firsttable"
                      sortable-table (sorted)="onAuditLogSorted($event)" aria-describedby="tbl-audit-log-lst">
                          <thead>
                              <tr>
                                  <th scope="col"  sortable-column="modifiedby">Updated By</th>
                                  <th scope="col"  sortable-column="modifiedon">Updated On</th>
                                  <th scope="col">Type</th>
                                  <th scope="col">Case #</th>
                                  <th scope="col" sortable-column="suffix">Suffix</th>
                                  <th scope="col" sortable-column="prefix">Prefix</th>
                                  <th scope="col" sortable-column="Firstname">First Name </th>
                                  <th scope="col" sortable-column="LastName">Last Name </th>
                                  <th scope="col" sortable-column="Middlename">Middle Name </th>
                                  <th scope="col" sortable-column="DOb">DOB </th>
                                  <th scope="col">Approximate DOB </th>
                                  <th scope="col" sortable-column="SSN">SSN</th>
                                  <th scope="col">Roles</th>
                                  <th scope="col">Race</th>
                                  <th scope="col">AKA/ALIAS</th>
                              </tr>
                          </thead>

                          <tbody>
                              <ng-container *ngIf="auditLogs?.length; else noRecordTemplate">
                                  <tr *ngFor="let log of auditLogs">
                                      <td>
                                          {{log?.updatedby}}<br>
                                         

                                      </td>
                                      <td>
                                          {{log?.updatedon | date:'MM/dd/yyyy h:mm a'}}</td>
                                     
                                      <td>{{log?.personjson?.caseInfo?.objectType}} 
                                          <ng-container *ngIf="log?.personjson?.caseInfo?.isMDM">-MDM</ng-container>
                                          
                                      </td>
                                      <td>{{log?.personjson?.caseInfo?.objectNumber}}</td>
                                      <td>
                                            <ng-container *ngIf="log?.personjson?.caseInfo?.isMDM">
                                                    {{log?.personjson?.suffixcode}}
                                              </ng-container>
                                              {{log?.personjson?.nameSuffix}}</td>
                                      <td>
                                            
                                            <ng-container *ngIf="log?.personjson?.caseInfo?.isMDM">
                                                    {{log?.personjson?.prefixcode}}
                                              </ng-container>
                                            {{log?.personjson?.prefix}}</td>
                                      <td><ng-container *ngIf="log?.personjson?.caseInfo?.isMDM">
                                            {{log?.personjson?.firstname}}
                                      </ng-container>
                                          {{log?.personjson?.Firstname}}</td>
                                      <td>
                                            <ng-container *ngIf="log?.personjson?.caseInfo?.isMDM">
                                                    {{log?.personjson?.lastname}}
                                              </ng-container>
                                          {{log?.personjson?.Lastname}}</td>
                                      <td>
                                            <ng-container *ngIf="log?.personjson?.caseInfo?.isMDM">
                                                    {{log?.personjson?.middlename}}
                                              </ng-container>
                                              {{log?.personjson?.Middlename}} </td>
                                      <td>
                                            <ng-container *ngIf="log?.personjson?.caseInfo?.isMDM">
                                                    {{log?.personjson?.dob | date:'MM/dd/yyyy'}}
                                              </ng-container>
                                          {{log?.personjson?.Dob | date:'MM/dd/yyyy'}}</td>
                                      <td>
                                          <ng-container
                                              *ngIf="log?.personjson?.isapproxdob; else elseTemplate">
                                              Yes
                                          </ng-container>
                                          <ng-template #elseTemplate>
                                              No
                                          </ng-template>
                                      </td>
                                      <td *ngIf="isAuthorized">
                                            <ng-container *ngIf="log?.personjson?.caseInfo?.isMDM">
                                                    {{log?.personjson?.ssnno | ssnmaskpipe:true}}
                                              </ng-container>
                                          {{log?.personjson?.SSN | ssnmaskpipe:true}}</td>
                                      <td *ngIf="isAuthorized">
                                          <span *ngFor="let role of log?.roledesc">
                                            {{role.description}}<br>
                                          </span>
                                      </td>
                                      <td *ngIf="!isAuthorized">
                                        <span>Not authorized to view details</span>
                                      </td>
                                      <td>
                                        {{log?.racedes}}
                                      </td>
                                      <td>
                                        <ng-container *ngFor="let alias of log?.personjson?.alias; let i=index">
                                            <span *ngIf="i === 0">
                                                {{alias?.prefixtypekey}} &nbsp; {{alias?.firstname}} &nbsp; {{alias?.middlename}} &nbsp; {{alias?.lastname}} &nbsp; {{alias?.sfxname}}<br>
                                            </span>
                                                <span *ngIf="i !== 0">
                                                    {{alias?.prefixtypekey}} &nbsp; {{alias?.firstname}} &nbsp; {{alias?.middlename}} &nbsp; {{alias?.lastname}} &nbsp; {{alias?.sfxname}}<br>
                                            </span>
                                        </ng-container>
                                      </td>
                                  </tr>
                              </ng-container>
                              <ng-template #noRecordTemplate>
                                  <tr>
                                      <td colspan="13">No logs found</td>
                                  </tr>
                              </ng-template>


                          </tbody>
                      </table>
                  </div>
              </div>
              <div class="col-sm-12 text-center mt-20">
                  <div *ngIf="aduitTotalRecords > 10">
                      <pagination [totalItems]="aduitTotalRecords" [(ngModel)]="auditPaginationInfo.pageNumber"
                          (pageChanged)="auditPageChanged($event)" class="pagination-sm"
                          [boundaryLinks]="true" [maxSize]="10"
                          [itemsPerPage]="auditPaginationInfo.pageSize"></pagination>
                  </div>
              </div>
          </div>
      </div>
  </div>