<div class="dashboard-cont no-pad">
  <div class="m-t-20">
    <style>
      h4 {
        padding-left: 16px;
      }
    </style>
    <h4>Employment</h4>
    <div class="col-lg-3 col-md-4 col-md-6" *ngIf="!isShowAddEmployment && !_authService.iscaseclosed('personemployment') && _authService.isPersonSubTabViewable('person','person.Employment.add')">
      <div class="add-employment">
        <a (click)='enableAddEmployment()'>+ Add New Employment</a>
      </div>           
    </div>
    <add-employment *ngIf="isShowAddEmployment"></add-employment>
    <list-employment *ngIf="!isShowAddEmployment"></list-employment>
  </div>  
</div>
<router-outlet></router-outlet>