<div class="container-fluid">
  <div class="m-t-20">
    <h4>Receipt from Provider</h4>
    <div class="row">
      <div class="col-sm-12"><button class="btn btn-pri pull-right" (click)="addReceipt()" data-bs-target="#receipt-details">+
          Add Receipt</button></div>
    </div>
    <div class="table-responsive table-theme m-t-20">
      <table class="table table-striped" aria-describedby="tbl-add-receipt">
        <thead>
          <tr>
            <th scope="col">Receipt ID</th>
            <th scope="col">Receipt Date</th>
            <th scope="col">Receipt Type</th>
            <th scope="col">Receipt Reference Number</th>
            <th scope="col">Receipt Amount ($)</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let receipt of receipts">
            <td>{{receipt.receipt_id}}</td>
            <td>{{receipt.receipt_dt | date : 'MM/dd/yyyy'}}</td>
            <td>{{receipt.receipttype}}</td>
            <td>{{receipt.payment_amount_no}}</td>
            <td>{{(receipt.payment_amount_no ? receipt.payment_amount_no : '0.00') | cjamsCurrency}}</td>
            <td>
              <button class="icon-btn" type="button" (click)="getReceipt(receipt, 1)" matTooltip="View"><i class="fa fa-eye" aria-hidden="true"></i></button>
            </td>
          </tr>
          <tr *ngIf="receipts?.length === 0">
            <td colspan="6" style="text-align: center !important;">No Receipts found.</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center" *ngIf="totalCount && totalCount > paginationInfo.pageSize">
        <pagination [totalItems]="totalCount" [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event)"
          class="pagination-sm" [boundaryLinks]="true" [maxSize]="10" [itemsPerPage]="paginationInfo.pageSize"></pagination>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="receipt-details" role="dialog">
  <div class="modal-dialog modal-lg custom-wid">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{buttontext}} Receipt</h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
      </div>
      <form [formGroup]="offsetReceiptFormFroup">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-label>Entry Date</mat-label>
                      <input matInput autocomplete="off" [matDatepicker]="picker1" (click)="picker1.open()" 
                        formControlName="enteredat">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-label>Received Date</mat-label>
                      <input matInput autocomplete="off" [matDatepicker]="picker" (click)="picker.open()" required 
                        formControlName="receipt_dt">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-label>Receipt Type</mat-label>
                      <mat-select required  (selectionChange)="changeReceiptType($event.value)" formControlName="payment_method_cd" required>
                        <mat-option>Select</mat-option>
                        <mat-option *ngFor="let item of receipttypeList" value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field>
                      <span matPrefix>$</span>
                      <mat-label>Receipt Amount</mat-label>
                      <input type="text" required formControlName="payment_amount_no" matInput
                        >
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-label>Entered By</mat-label>
                      <input type="text" matInput  formControlName="enteredby">
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-label>Payment Type</mat-label>
                      <mat-select required  formControlName="payment_type_cd" required>
                        <mat-option>Select</mat-option>
                        <mat-option *ngFor="let item of paymenttypeList" value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-label>Receipt Reference Number</mat-label>
                      <input type="text" formControlName="payment_no_tx" matInput >
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-label>Payee</mat-label>
                      <mat-select required  formControlName="payee_cd" required>
                        <mat-option>Select</mat-option>
                        <mat-option *ngFor="let item of payeeList" value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <mat-form-field>
                  <mat-label>Reason for Reversal</mat-label>
                  <mat-select  formControlName="reason_tx" required>
                    <mat-option *ngFor="let item of reasonforreversalList" value="{{item.picklist_value_cd}}">{{item.description_tx}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4">
              <div class="col-md-12">
                <mat-form-field>
                  <mat-label>Notes</mat-label>
                  <textarea class="h-95" formControlName="notes_tx" matInput rows="16" ></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" *ngIf="buttontext !== 'View'">
              <button class="btn btn-pri pull-right" [disabled]="offsetReceiptFormFroup.invalid" (click)="SaveUpdateReceipts()">{{buttontext}}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade custom-modal" id="delete-receipt-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Confirm Delete </h4>
        <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p> Are you sure you want to delete this item? </p>
        <div class="text-end big-bot-space right-mspace-15">
          <button type="button" value="No" class="btn-pri" name="" data-bs-dismiss="modal"> No </button>
          <button type="button" value="Yes" class="btn-pri " name="" (click)="deleteReceipt()"> Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>