<div id="termination-parental" class="tab-pane">
    <div class="p-b-20 parental-right-div">
        <div class="row">
            <div class="col-sm-12" style="display: flex; align-items: baseline;">
                <h5 class="text-uppercase semi-b pt-10">Termination of Parental Rights</h5>
                <em class="fa fa-info-circle m-l-10" style="color: #009dff; cursor: pointer; font-size: 18px;"
                    data-bs-toggle="modal" data-bs-target="#tpr-info-modal" title="View TPR Information"></em>
            </div>
            <div class="col-sm-9" [formGroup]="tprDetailsForm">
                <mat-checkbox  *ngIf = "everbeenadoptedflag" class="m-l-20" formControlName="singleparent" (change)="singleParentChecked($event)">Single Parent</mat-checkbox>
            </div>
        </div>
        
 <div class="m-t-20 table-responsive table-theme">
  <table class="table table-striped" aria-describedby="TPR List Details">
    <thead>
      <tr class="text-uppercase">
        <th id="courtpetition">Court Petition ID</th>
        <th id="parentNameHeader">Parent Name</th>
        <th id="hearingtype">Hearing Type</th>
        <th id="hearingdate">Hearing Date & Time</th>
        <th id="roleHeader">TPR Decision</th>
        <th id="actionHeader">Action</th>
      </tr>
    </thead>

<tbody *ngIf="adoptionCourtTprTableList && adoptionCourtTprTableList.length > 0">
    <tr *ngFor="let tpr of adoptionCourtTprTableList">
        <td>{{ tpr.courtpetitionid }}</td>

        <td>{{ tpr.parentname }}</td>

        <td>
            <span *ngFor="let ht of tpr.hearingtype; let last = last">
                {{ hearingtypeArray[ht] || ht }}
                <span style="color:gray" *ngIf="!last">,</span>
            </span>
        </td>

        <td>{{ getDateTimeFormatted(tpr.hearingdatetime) }}</td>

        <td>{{ tpr.tprdecision }}</td>

        <td class="icon">
            
            <span
                *securityKeyNew="'adoptionplanning,adoptionplanning.tpr.view'"
                type="button"
                (click)="manageTPR('view', tpr.originalTpr)">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </span>
        </td>
    </tr>
</tbody>
  </table>
</div>

    </div>
</div>
<div class="modal fade" id="termination-ofparental" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <h4 class="modal-title">{{ addEditLabel }} Termination of Parental Rights (TPR) Detail</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" (click)="clearTPRDetails()"></button>
            </div>

            <div class="modal-body" [formGroup]="tprDetailsForm">
                <div class="tab-content termination-wrapper">
                    <div class="">
                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                <mat-form-field>
                                    <mat-label>Parent Name</mat-label>
                                   
                                    <mat-select placeholder="" class="aut-lst-parentName" (selectionChange)="changePerson($event.value)"
                                        formControlName="intakeservicerequestactorid" required>
                                    
                                        <mat-select-trigger>
                                            {{ getSelectedParentName() }}
                                        </mat-select-trigger>
                                    <mat-option class="multi-line-mat-option" *ngFor="let person of remainingPeople"
                                            [value]="person?.intakeservicerequestactorid" [disabled] ="tprDetailsForm.controls['isdisabled'].value">
                                            <span>{{person.firstname + ' ' + person.lastname}}</span> <br>
                                            <small>Role: <ng-container
                                                    *ngFor="let role of person.roles; let isLast= last">
                                                    {{role.typedescription}}<span *ngIf="!isLast">,</span>
                                                </ng-container>
                                            </small><br>
                                            <small *ngIf="person.relationshipdescription"> Relation:
                                                {{person.relationshipdescription}} </small>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-error *ngIf ="checkrequired && tprDetailsForm.get('intakeservicerequestactorid')?.invalid"> Please select Parent name</mat-error>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-6">
                                        <mat-form-field>
                                            <mat-label>Date Parent Served</mat-label>
                                            <input matInput autocomplete="off" [matDatepicker]="picker7" (click)="picker7.open()"
                                                placeholder="" formControlName="serveddate" />
                                            <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                                            <mat-datepicker #picker7></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-sm-12 col-lg-6">
                                        <mat-form-field>
                                            <mat-label>Method of Service</mat-label>
                                            <mat-select placeholder=""
                                                formControlName="servicetypekey">
                                                <mat-option *ngFor="let item of (methodServiceDropdownItems$ | async)"
                                                    value="{{item.value}}">{{ item.text }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-4 mt-20">
                                <div class="row" >
                                    <mat-radio-group formControlName="isgranted" aria-label="Select an option" [disabled]="tprDetailsForm.controls['isdisabled'].value" class="radio-align" style="pointer-events: none">
                                            <mat-radio-button [value]="true" >TPR Granted</mat-radio-button>
                                            <mat-radio-button [value]="false" >TPR Denied</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="row">
                                    <mat-radio-group formControlName="iscontested" aria-label="Select an option" [disabled]="tprDetailsForm.controls['isdisabled'].value" class="radio-align" style="pointer-events: none">
                                        <mat-radio-button [value]="true">Contested</mat-radio-button>
                                        <mat-radio-button [value]="false">Uncontested</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            
                            <div class="col-sm-12 col-lg-3 mt-20">
                                <mat-form-field>
                                    <mat-label class="afcars-inner-bg">TPR Petition Date</mat-label>
                                    <input matInput autocomplete="off" [matDatepicker]="picker10" (click)="picker8.open()"
                                         formControlName="tprpetitiondate" required [disabled]="tprDetailsForm.controls['isdisabled'].value" [readonly] ="tprDetailsForm.controls['isdisabled'].value"/>
                                    <mat-datepicker-toggle matSuffix [for]="picker10" disabled></mat-datepicker-toggle>
                                    <mat-datepicker #picker10 disabled></mat-datepicker>
                                </mat-form-field>
                                <mat-error *ngIf ="checkrequired && tprDetailsForm.get('tprpetitiondate')?.invalid"> Please select TPR Petition Date</mat-error>
                            </div>
                            <div class="col-sm-12 col-lg-3 mt-20">
                                <mat-form-field>
                                    <mat-label class="afcars-inner-bg">TPR Decision Date</mat-label>
                                    <input matInput autocomplete="off" [matDatepicker]="picker8" (click)="picker8.open()"
                                         formControlName="tprdecisiondate" required [disabled]="tprDetailsForm.controls['isdisabled'].value" [readonly] ="tprDetailsForm.controls['isdisabled'].value"y/>
                                    <mat-datepicker-toggle matSuffix [for]="picker8" disabled></mat-datepicker-toggle>
                                    <mat-datepicker #picker8 disabled></mat-datepicker>
                                </mat-form-field>
                                <mat-error *ngIf ="checkrequired && tprDetailsForm.get('tprdecisiondate')?.invalid"> Please select TPR Decision Date</mat-error>
                            </div>
                            <div class="col-sm-12 col-lg-2 mt-20">
                                <mat-form-field>
                                    <mat-label>Relationship</mat-label>
                                    <mat-select placeholder="" formControlName="relationshiptypekey">
                                        <mat-option value="BGFTHR">Biological Father</mat-option>
                                        <mat-option value="BGMTHR">Biological Mother</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row m-b-20 m-t-20">
                            <div class="col-sm-12 col-lg-9">
                                <mat-form-field>
                                    <mat-label>Termination</mat-label>
                                    <mat-select placeholder="" formControlName="terminationtypekey">
                                        <mat-option *ngFor="let item of (terminationtypDropdownItems$ | async)" value="{{item.value}}">{{
                                                                                                            item.text }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12 col-lg-3 mt-20">
                                <mat-checkbox class="m-l-20" formControlName="isappealed" (change)="isSetValidator($event.checked)">Termination
                                    Appealed</mat-checkbox>
                            </div>
                        </div>
                        <div class="termination-appealed" *ngIf="tprDetailsForm.controls['isappealed'].value">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-3">
                                            <p>Appealed by <label class="required"></label></p>
                                            <mat-radio-group formControlName="isdssappealed" required>
                                                <mat-radio-button value="1">DSS</mat-radio-button>
                                                <mat-radio-button value="0">Client</mat-radio-button>
                                            </mat-radio-group>
                                            <mat-error *ngIf ="checkrequired &&  tprDetailsForm.controls['isappealed'].value && tprDetailsForm.get('isdssappealed')?.invalid"> Please select Appealed By</mat-error>
                                        </div>
                                        <div class="col-sm-12 col-lg-9"
                                            *ngIf="tprDetailsForm.controls['isdssappealed'].value === '0'">
                                            <mat-form-field> 
                                                <mat-label>Parent name</mat-label>
                                                <input matInput placeholder=""
                                                    formControlName="parentname" />
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-lg-3">
                                    <mat-form-field>
                                        <mat-label>Appeal Date</mat-label>
                                        <input matInput autocomplete="off" [matDatepicker]="picker8" (click)="picker8.open()"
                                            placeholder="" formControlName="appealdate" required />
                                        <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                                        <mat-datepicker #picker8></mat-datepicker>
                                        <mat-error *ngIf ="checkrequired &&  tprDetailsForm.controls['isappealed'].value && tprDetailsForm.get('appealdate')?.invalid"> Please select Appeal Date</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-lg-3">
                                    <mat-form-field>
                                        <mat-label>Appeal Decision</mat-label>
                                        <mat-select placeholder=""
                                            formControlName="appealdecisiontypekey">
                                            <mat-option *ngFor="let item of (appealDecisionDropdownItems$ | async)"
                                                value="{{item.value}}">{{ item.text }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-lg-3">
                                    <mat-form-field>
                                        <mat-label>Decision Date</mat-label>
                                        <input matInput autocomplete="off" [matDatepicker]="picker9" (click)="picker9.open()"
                                            placeholder="" formControlName="decisiondate" />
                                        <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                                        <mat-datepicker #picker9></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-lg-3"></div>
                            </div>
                        </div>
                        <div class="row p-t-10">
                            <div class="col-sm-12">
                                <mat-form-field class="aut-txt-reason"> <textarea matInput placeholder="Reason"
                                        formControlName="reason"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="legalcustody-btn text-end">
                        <button class="btn-theme btn-bg m-l-10" *ngIf="addEditLabel !== 'View'" type="submit" data-bs-dismiss="modal"
                            (click)="cancelTRPDetails()">CANCEL</button>
                        <button class="btn-pri text-uppercase aut-btn-save" [disabled]="tprDetailsForm.pristine"
                            *ngIf="addEditLabel !== 'View'" (click)="saveTprDetail(tprDetailsForm.getRawValue())">
                            <!-- {{ addEditLabel }} Information -->
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ap-tpr" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title bc-pop-title">
                    <span class="m-r-10"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>Alert</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" (click)="navigateTo()"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>{{ alertMessage ? alertMessage : 'Please complete Legal Custody' }}</li>
                </ul>
                <div class="text-end big-bot-space right-mspace-15"><button type="button" value="Yes"
                        class="btn-pri ok-but" data-bs-dismiss="modal" (click)="navigateTo()">Ok</button></div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="tpr-alert-dialog" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title bc-pop-title">
                    <span class="m-r-10"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>Alert</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <h4>{{alertText}}</h4>
                <div class="text-end big-bot-space right-mspace-15">
                </div>
            </div>
            
            <div class="modal-footer">
                <div class="text-end big-bot-space right-mspace-15">
                    <button type="button" *ngIf="deletingTPR"
                        class="btn btn-pri" data-bs-dismiss="modal" (click)="deleteConfirm()"><em class="fa fa-trash"></em> OK</button>
                    <button type="button" 
                    class="btn btn-bg" data-bs-dismiss="modal" >Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="tpr-completion-placement" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title bc-pop-title">
                    <span class="m-r-10"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>TPR Placement Alert</h4>
                <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" (click)="navigateTo(true)"></button>
            </div>
            <div class="modal-body">
                <p>
                    Is the child in a pre-adoptive home?
                </p>
                <small>
                    By selecting 'No' you will be re-directed to the placement page to change or identify a placement as <strong> Pre-Finalized Adoptive Home </strong>.
                </small>
                
            </div>
            <div class="modal-footer">
                <button class="btn-pri pull-left" data-bs-dismiss="modal">Skip</button>
                <a class="btn-pri" data-bs-dismiss="modal">Yes</a>
                <a class="btn-pri" data-bs-dismiss="modal" (click)="navigateToPlacement()">NO</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tpr-info-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="border-radius: 4px; padding: 5px;">
            <div class="modal-body p-4">
                <p class="m-b-15" style="font-size: 14px; line-height: 1.4;">
                    <strong>Information Message:</strong><br>
                    To ensure data integrity and legal compliance, the "Add TPR" function has moved. TPRs can no longer be added directly within the Adoption screen.
                </p>
                <p class="m-b-15" style="font-size: 14px; line-height: 1.4;">
                    <strong>Action Required:</strong><br>
                    Users must now record the TPR via the Court Screen by documenting the Petition, Hearing, and subsequent Court Order.
                </p>
                <p class="m-b-20" style="font-size: 14px; font-style: italic; line-height: 1.4;">
                    Note: Maryland guidelines require that the rights of both parents must be legally terminated (TPR) before the Adoption process can proceed.
                </p>
                
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-primary" 
                            style="background-color: #009dff; border-color: #009dff; font-weight: bold; width: 80px; font-size: 16px;" 
                            data-bs-dismiss="modal">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
