<mat-form-field>
  <mat-label>{{placeholder}}</mat-label>
  <input matInput appMaskDate mask="00/00/0000" (click)="picker.open();onDateClick()" [required] = 'required'
   [disabled]="disabled"  [(ngModel)]="maskedDate" [ngClass]="ngClass"
    (change)="onMaskDateChanged($event)">
  <input matInput style="display: none;" autocomplete="off" [matDatepicker]="picker" [matDatepickerFilter]="commonDatePickerFilter"
  [(ngModel)]="pickerDate" [min] = "min" [max] = "max" (dateChange)="onPickerDateChange()">
  <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="disabled"></mat-datepicker-toggle>
  <mat-datepicker #picker (click)="onDateClick()" (closed)="onDatePickerClosed()"></mat-datepicker>
</mat-form-field>
