<div class="row">
<div class="col-sm-12 m-t-20">
  <div class="col-sm-4 bot-mspace-15 m-t-20">
      <label for=""> Select Supervisor </label>
  </div>

  <div class="col-sm-8 bot-mspace-15 m-t-20" [formGroup]="addSupervisor">
      <ng-select formControlName="supervisorID">
          <ng-option value="">- Select -</ng-option>
          <ng-option *ngFor="let item of supervisorList" [value]="item.userid">
              {{item.username}}
          </ng-option>
      </ng-select>
  </div>
</div>
</div>
<div class="row">
  <button type="button" class="btn-pri pull-right" (click)="save()">Save</button>   
</div>