<div class="container-fluid">

        <div class="row m-t-30">
            <div class="col-md-12 header-childac">
                <h4 class="h4-title">Transactions</h4>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-label>Commingled Account Number</mat-label>
                            <mat-select required  [(ngModel)]="accountNo" required
                                (selectionChange)="getTransactions($event.value)">
                                <mat-option>Select</mat-option>
                                <mat-option *ngFor="let commingledAccount of commingledAccountLists"
                                    [value]="commingledAccount">{{commingledAccount.bank_nm}} - {{commingledAccount.account_no}} - {{(commingledAccount.close_dt ? 'Closed' :'Open')}}</mat-option>
                            </mat-select>
                        </mat-form-field>
    
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row border-btm">
            <div class="col-md-12 m-t-20 m-b-20">
                <div class="row">
                    <div class="col-md-4">
                        <p class="childac-title"> Account Number</p>
                        <p class="childac-text">{{selectedCommingledAccount?.account_no}}</p>
                    </div>
                    <div class="col-md-4">
                        <p class="childac-title">Bank Name</p>
                        <p class="childac-text">{{selectedCommingledAccount?.bank_nm}}</p>
                    </div>
                    <div class="col-md-4">
                        <p class="childac-title">Open Date</p>
                        <p class="childac-text">{{selectedCommingledAccount?.open_dt | date : 'MM/dd/yyyy'}}</p>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-4">
                        <p class="childac-title">Total Balance</p>
                        <p class="childac-text">{{(selectedCommingledAccount?.total_balance_no ?
                            selectedCommingledAccount?.total_balance_no : 0) | cjamsCurrency}}</p>
                    </div>
                    <div class="col-md-4">
                        <p class="childac-title">Account Status</p>
                        <p class="childac-text">{{account_status_nm}}</p>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    
        <div class="row boder-btm p-b-20 m-t-20">
            <div class="col-md-12">
                <div class="row p-b-20 child-ac">
                    <div class="row">
                        <div class="col-md-6">
                    <h5 class="m-t-20 h5-title">Interest Transactions</h5>
                    </div>
                    <div class="col-md-6">
                    <button  *ngIf = "isVissbleButton" (click)="openAddModal()" class="btn-pri float-end text-uppercase add-btn" type="button"
                        [disabled]="disableTrans"> Add New
                        Transaction</button>
                        </div>
                    </div>
                    <div class="m-t-20">
                        <div class="table-responsive table-theme">
                            <table class="thead-black placement-info palcement-tb table table-striped" aria-describedby="Child Transaction List">
                                <thead>
                                    <tr>
                                        <th id="istHeader">Interest Start Date</th>
                                        <th id="iedHeader">Interest End Date</th>
                                        <th id="amountHeader">Amount</th>
                                        <th id="enteredByHeader">Entered By</th>
                                        <th id="actionHeader">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let transaction of childtransactionslist">
                                        <td>{{transaction.interest_start_dt | date:'M/d/yyyy'}}</td>
                                        <td>{{transaction.interest_end_dt | date:'M/d/yyyy'}}</td>
                                        <td>{{transaction.interest_amount_no | cjamsCurrency}} {{(transaction.statuskey === 45 ? ('( Requested Amount : ' + (transaction.mod_interest_amount_no | cjamsCurrency) + ' )') : '')}}</td>
                                        <td>{{transaction.enteredby}}</td>
                                        <td class="action-btn">
                                            <button (click)="viewTransaction(transaction)" matTooltip="View Transaction" type="button"><i class="fa fa-eye"
                                                    aria-hidden="true"></i></button>
                                            <span  *ngIf= "isVissbleButton">
                                                <button *ngIf="!isFinanceSupervisor && transaction.statuskey !== 45 && selectedCommingledAccount.approval_status_cd === '3564'"
                                                    (click)="editTransaction(transaction)" type="button" matTooltip="Edit Transaction"><i class="fa fa-pencil"
                                                        aria-hidden="true"></i></button>
                                                <button *ngIf="isFinanceSupervisor && transaction.statuskey === 45 && userId === transaction.tosecurityusersid"
                                                    (click)="approveModal(transaction)" type="button" matTooltip="Approve Transaction"><i class="fa fa-check"
                                                        aria-hidden="true"></i></button>
                                                <button *ngIf="isFinanceSupervisor && transaction.statuskey === 45 && userId === transaction.tosecurityusersid"
                                                    (click)="rejectEditTransaction(transaction)" matTooltip="Edit Transaction" type="button" data-bs-target="reject-approval" data-bs-toggle="modal" matTooltip="Deny"><i class="fa fa-times" aria-hidden="true"></i></button>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr *ngIf="childtransactionslist.length === 0">
                                        <td colspan="5" style="text-align: center;">No Interest Transactions.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center mt-10">
                            <pagination *ngIf="childtransactionslist && childtransactionslist.length > 10" [totalItems]="totalRecords"
                                [(ngModel)]="paginationInfo.pageNumber" (pageChanged)="pageChanged($event.page)"
                                class="pagination-sm" [boundaryLinks]="true" [maxSize]="10">
                            </pagination>
                        </div>
    
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div class="modal fade" id="reject-approval" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content reject">
                <div class="modal-header">
                    <h4 class="modal-title">Error Correction Deny </h4>
                    <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p> Are you sure you want to Deny this Commingled Updated Transaction? </p>
                    <div class="row">
                            <div class="col-md-12">
                                <mat-form-field>
                                    <mat-label>Reason</mat-label>
                                   <textarea required [(ngModel)]="reason_tx" matInput  Required></textarea>
                                </mat-form-field>
                            </div>
                    </div>
                    <div class="text-end big-bot-space right-mspace-15">
                        <button type="button" value="No" class="btn-pri" name="" data-bs-dismiss="modal"> No </button>
                        <button [disabled]="!reason_tx" type="button" value="Yes" class="btn-pri " name="" (click)="rejectTransaction()"> Yes </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="addNewTransaction">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 *ngIf="!isApprove" class="modal-title h5-title">{{isEdit ? 'Update' : 'Add'}} Interest Transaction</h4>
                    <h4 *ngIf="isApprove" class="modal-title h5-title">Approve Interest Transaction</h4>
                    <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close" (click)="clearForm()"></button>
                </div>
                <div class="modal-body">
                    <div [formGroup]="addForm">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Interest Start Date</mat-label>
                                    <input formControlName="interest_start_dt" [max]="maxDate" (dateChange)="onChangeDate(addForm)" required matInput autocomplete="off" [matDatepicker]="picker1"
                                         [disabled]="isEdit">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                                <mat-error *ngIf="addForm.controls.interest_start_dt.status =='INVALID' && mandatoryField ">
                                    Please Select Interest Start Date
                                </mat-error>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Interest End Date</mat-label>
                                    <input formControlName="interest_end_dt" [min]="minDate" required matInput
                                        autocomplete="off" [matDatepicker]="picker2" >
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                                <mat-error *ngIf="addForm.controls.interest_end_dt.status =='INVALID' && mandatoryField ">
                                    Please Select Interest End Date
                                </mat-error>
                            </div>
    
                            <div class="col-md-6">
                                <mat-form-field>
                                    <span matPrefix>$ &nbsp;</span>
                                    <mat-label>Amount</mat-label>
                                    <input type="number" min="0" formControlName="interest_amount_no" required matInput
                                         (change)="interestAmountChange($event)">
                                </mat-form-field>
                                <mat-error *ngIf="addForm.controls.interest_amount_no.status =='INVALID' && mandatoryField ">
                                    Please Enter Amount
                                </mat-error>
                            </div>
                            <div class="col-md-6" *ngIf="isFinanceSupervisor && isApprove">
                                <mat-form-field>
                                    <span matPrefix>$</span>
                                    <mat-label>Requested Amount</mat-label>
                                   <input type="text" required maxlength="16" formControlName="mod_interest_amount_no" matInput >
                                </mat-form-field>
                             </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Entered by</mat-label>
                                    <input required formControlName="enteredby" matInput  Required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6" *ngIf="isEdit">
                                <mat-form-field>
                                    <span matPrefix>$ &nbsp;</span>
                                    <mat-label>Requested Amount</mat-label>
                                    <input matInput (keyup)="checkDec($event)" formControlName="mod_interest_amount_no" matInput
                                         (change)="calculatePerDiem($event)" Required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label>Notes</mat-label>
                                    <input formControlName="notes_tx" matInput  required>
                                </mat-form-field>
                                <mat-error *ngIf="addForm.controls.notes_tx.status =='INVALID' && mandatoryField ">
                                    Please Enter Notes
                                </mat-error>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer wizard-buttons" *ngIf="!isView">
                    <button *ngIf="!isApprove" type="button" class="btn-pri" 
                        (click)="addChildTransaction(addForm.getRawValue())">{{isEdit
                        ? 'Send For Approval' : 'Add Transaction'}}</button>
                    <button *ngIf="isApprove" type="button" class="btn-pri" [disabled]="addForm.invalid"
                    (click)="approveEditTransaction()">Approve</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit-transaction" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content Persons-Involved">
                <div class="modal-header">
                    <h4 class="modal-title">Route Edit Approval</h4>
                    <button type="button" class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close" (click)="clearForm()"></button>
                </div>
                <div class="modal-body dashboard-cont">
    
                    <div class="tab-horizontal mrg-btm25">
                        <ul class="nav nav-pills">
                            <li>
                                <a href="#caseassign-caseworker" data-bs-toggle="tab"
                                    (click)="listUser('TOBEASSIGNED')">SUPERVISORS</a>
                            </li>
                        </ul>
                        <div class="tab-content boxgrid">
                            <div class="tab-pane active" id="caseassign-caseworker">
                                <div class="">
                                    <div class="table-responsive table-theme">
                                        <table class="table table-striped" aria-describedby="User List" sortable-table>
                                            <thead>
                                                <tr>
                                                    <th id="emptyHeader"></th>
                                                    <th id="nameHeader">NAME</th>
                                                    <th id="towHeader">TYPE OF WORKER</th>
                                                    <th id="unitHeader">UNIT</th>
                                                    <th id="tcHeader">Total Cases</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="getUsersList; let getlist">
                                                <ng-container *ngIf="getlist.length>0; else noItems">
                                                    <tr *ngFor="let item of getlist">
                                                        <td>
                                                            <label class="control control--radio">
                                                                <input type="radio" name="Address"
                                                                    (click)="selectPerson(item)">
                                                                <div class="control__indicator"></div>
                                                            </label>
                                                        </td>
                                                        <td>{{item.username}} </td>
                                                        <td *ngIf="isSupervisor">{{item.agencykey}}</td>
                                                        <td>{{item.userrole}}</td>
                                                        <td>{{item.teamname}}</td>
                                                        <td>{{item.totalcases ? item.totalcases : 'N/A'}}</td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                        <ng-template #noItems>No Items!</ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer wizard-buttons">
                    <button class="btn-pri" (click)="assignUser()" [disabled]="disableAssignButton">ASSIGN</button>
                </div>
            </div>
        </div>
    </div>
    