<div id="audit-logs-table">
    <table class="table table-striped" sortable-table aria-describedby="tbl-audit-logs-lst">
        <thead>
            <tr>
                <th scope="col">Updated On</th>
                <th scope="col">Updated By</th>
                <th scope="col">Current Info</th>
                <th scope="col">Previous Info</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let audit of auditlogTrail; let assessmentHistoryIndex = index">
                <tr *ngIf="audit?.modifieddata && audit?.modifieddata?.data && audit?.modifieddata?.data.length">
                <td>{{audit.updatedon}}</td>
                    <td>{{audit.fullname}}</td>
                    <td>
                        <p *ngIf="audit?.modifieddata?.data[0]">{{audit?.modifieddata?.data[0]?.display_name}}:{{audit?.modifieddata?.data[0]?.new_value}}</p>
                        <p *ngIf="audit?.modifieddata?.data[1]">{{audit?.modifieddata?.data[1]?.display_name}}:{{audit?.modifieddata?.data[1]?.new_value}}</p>
                    </td>
                    <td>
                        <p *ngIf="audit?.modifieddata?.data[0]?.old_value">{{audit?.modifieddata?.data[0]?.display_name}}: {{audit?.modifieddata?.data[0]?.old_value}}</p>
                        <p *ngIf="audit?.modifieddata?.data[1]?.old_value">{{audit?.modifieddata?.data[1]?.display_name}}: {{audit?.modifieddata?.data[1]?.old_value}}</p>
                    </td>
                    <td>
                    <a (click)="auditlogTrailOpen(audit, assessmentHistoryIndex)"><i class="fa fa-eye m-r-5"
                        aria-hidden="true"></i></a>
                    </td>
                </tr>
            </ng-container>
            <tr *ngIf="auditlogTrail?.length === 0">
                <td colspan="7">No data found.</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade in" id="audittrail-expand" role="dialog">
    <div class="modal-dialog modal-lg custom-wid" role="document">
        <div class="modal-content Persons-Involved">
            <div class="modal-header">
                <h4 class="modal-title">Audit Log History</h4>
                <button class="btn-close close pull-right" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="m-r-10 m-l-10 table-responsive table-theme ">
                      <table class="table table-striped table-condensed" aria-describedby="tbl-audit-log-history">
                        <thead>
                            <tr>
                                <th scope="col" class="size">Current Info</th>
                                <th scope="col" class="size">Previous Info</th>
                            </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let audit of auditlogTrailExpand">
                              <tr>
                                 <td class="size" *ngIf="audit?.new_value">
                                    <p >{{audit?.display_name}}:</p>
                                    <p >{{audit?.new_value}}</p>
                                  </td>
                                  <td class="size" *ngIf="audit?.new_value">
                                    <p *ngIf="audit?.old_value">{{audit?.display_name}}:</p>
                                    <p *ngIf="audit?.old_value">{{audit?.old_value}}</p>
                                  </td>
                              </tr>
                          </ng-container>
                      </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
