
div.absolute {
    position: absolute;
    right: 20px;
} 

.table a:focus, 
.table a:hover {
    color: #23527c;
    text-decoration: underline;
}
a:hover {
    cursor: pointer;
}

.table a {
    color: #00bcd3;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
}

.btn-group a {
    text-decoration: none;
}

.btn-group a:hover {
    text-decoration: underline;
}

.card-body {
    padding: 15px;
}