<div class="col-md-12">
  <div class="row person-wrap">



    <ng-container>
      <div class="col-sm-3" *ngFor="let person of persons">
        <mat-radio-group class="client-selector-group" [(ngModel)]="selectedPersonId">
          <div class="card panel-default person-panel">
            <div class="card-header">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <h4>
                    <mat-radio-button name="selected-person" [value]="person.personid" (click)="selectPerson(person)">
                      <span>{{person.firstname}}
                        {{person.lastname}}</span>
                    </mat-radio-button>
                  </h4>
                 
                </div>
                <div class="d-flex-right">
                  <div>
                    <img *ngIf="person.userphoto" mat-card-avatar mat-card-md-image src="{{person.userphoto}}" alt=""/>
                    <img *ngIf="!person.userphoto" mat-card-avatar mat-card-md-image
                        src="../../../../../assets/images/ic_silhouette.png" alt=""/>
                  </div>

                </div>
              </div>
            </div>
            <div class="card-body">
              <table class="involved-person-tables" aria-describedby="tbl-person-lst">
                <tr>
                  <th scope="col">CJAMS PID#</th>
                  <td>:</td>
                  <td class="single-wrap">{{person.cjamspid}}</td>
                </tr>
                <tr>
                  <th scope="col">D.O.B</th>
                  <td>:</td>
                  <td class="single-wrap">{{person.dob | date : 'MM-dd-yyyy'}}</td>
                </tr>
                <tr>
                <tr>
                  <th scope="col">Age</th>
                  <td>:</td>
                  <td class="single-wrap">{{person.age}}</td>
                </tr>
                <tr>
                  <th scope="col">Gender</th>
                  <td>:</td>
                  <td class="single-wrap">{{person.gender}}</td>
                </tr>
                <tr>
                    <th scope="col">Role(s)</th>
                    <td>:</td>
                    <td>
                      <ng-container *ngFor="let role of person.roles; let isLast=last">
                        {{ role.typedescription }} <span *ngIf="!isLast">,</span>
                      </ng-container>

                    </td>
                  </tr>


              </table>

            </div>
          </div>
        </mat-radio-group>
      </div>
    </ng-container>

  </div>
</div>
<div class="row">
  <div class="col-md-12" *ngIf="selectedPerson">
    <div class="card panel-default panel-theme">
      <div class="card-header">
        <span class="site-color text-22">Household Person Security checks
          <button type="button" class="close me-10 text-22" (click)="close()">x</button>
        </span>
      </div>
    </div>
  </div>
</div>